[2021-07-20 06:19] dend commented on #12311
You might have a bigger issue if you can't open the PowerToys settings screen. If you have the logs from the bug report, feel free to attach them to the issue.

[2021-07-20 06:55] Vzz1c opened #12432 "I went to the original author to give feedback, but I didn't get a reply"
### Microsoft PowerToys version

1.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerRename

### Steps to reproduce

I submit to the original author address:
https://github.com/chrdavis/SmartRename/issues/17#issue-944008770

### ✔️ Expected Behavior

_No response_

### ❌ Actual Behavior

https://github.com/chrdavis/SmartRename/issues/17#issue-944008770

### Other Software

_No r

[2021-07-20 08:18] criskrzysiu opened #12433 "FancyZones to be editor for Windows 11 snap engine"
### Description of the new feature / enhancement

FancyZones to integrate into Windows 11 hover over maximize button

### Scenario when this would be used?

It would be great if it would be possible to override the default positions in Windows 11 hover over maximize button popup.
This is probably highly dependant on Windows 11 itself but as Windows 11 is still in development and this being a Micro

[2021-07-20 08:47] mykhailopylyp commented on #12356
@WilliamAnimate
Thank you for following up. Still, can not reproduce it even with startisback.
Can you try to disable and then enable Keyboard Manager and verify if F1 is still not disabled?

![image](https://user-images.githubusercontent.com/17161067/126290341-222945de-0f99-4cb9-bfa8-223264b7ef42.png)

Also, verify if `PowerToys.KeyboardManagerEngine.exe` is running when Keyboard Manager is enabl

[2021-07-20 09:46] stefansjfw commented on #12404
This looks like an another occurrence of ModernWpf.dll not replaced while updating.
@towa-99 Could you try uninstalling PowerToys and manually removing the ModernWpf.dll from Program Files/PowerToys/modules/ImageResizer (if still exists) and then installing PT again?

[2021-07-20 09:53] stefansjfw commented on #12398
@NVader2000 Thanks for the suggestion. We'll have it in mind.

[2021-07-20 10:19] #12426 closed

[2021-07-20 10:23] mykhailopylyp commented on #12406
@claggys
I believe it is already tracked by https://github.com/microsoft/PowerToys/issues/3245.
Or do you want to be able to search locations on maps?

[2021-07-20 10:38] mykhailopylyp commented on #12428
@andrewbacon
Can you elaborate on it? Did the system respond to the keyboard? Was the behaviour of keys weird?

Can you install PowerToys again and verify if it still happens?

Right-click on the PowerToys icon in the tray menu and select Report Bug
![image](https://user-images.githubusercontent.com/17161067/113557438-afe62d80-9606-11eb-9b81-6260417981f5.png)
Drag and drop report into a GitHub com

[2021-07-20 10:45] towa-99 commented on #12404
Just tried it and it did fix the issue! Thank you very much for your help @stefansjfw !

[2021-07-20 10:45] #12404 closed

[2021-07-20 10:54] thefiredragon commented on #12429
Solved by finding creating msi here:
https://github.com/microsoft/PowerToys/wiki/Installer-arguments-for-exe

[2021-07-20 10:54] #12429 closed

[2021-07-20 11:02] mykhailopylyp commented on #12430
@woodelph
Thank you for reporting it.

- Go to `C:\Program Files\PowerToys\Tools`
- Run `BugReportTool.exe`
- Drag and drop the bug report from the desktop into the github comment

[2021-07-20 11:40] lwjacob commented on #6475
This is not fixed for me at version v0.41.4. Specially when I turn off the monitor e turn on the TV instead. Nothing resizes or adjust into the position where they should.

[2021-07-20 11:54] alwaysmpe opened #12435 "keyboard remap broken in update"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

None, just install

### ✔️ Expected Behavior

My remap works normally

### ❌ Actual Behavior

(as worked out in comments) previously I'd remapped \ and ` due to windows swapping them, thinking my keyboard was a different region. After an update this remap had

[2021-07-20 12:01] alwaysmpe commented on #12435
This may be something broken in my settings. I have previously remapped ` and \ (to swap them because windows seemed to decide they were the wrong way round, us keyboard or something), and having now rolled back to version 0.33.1, the problem persists, where previously I know it worked.

[2021-07-20 12:03] alwaysmpe commented on #12435
So, it seems that my remap was broken in an update, as the remap had changed from swapping the previously mentioned \ and ` keys with swapping the @ key with a different key.

[2021-07-20 13:19] woodelph commented on #12430
@mykhailopylyp When I try to run it, I briefly get

and then the BugReportTool window closes. It took me a couple tries to copy the text fast enough. I've never run the Fancy Zones PowerToy. Is the bug report buried somewhere in AppData that I can manually find it?

[2021-07-20 13:42] jaimecbernardo commented on #12431
Hi @SzabKel ,
Would you mind zipping the contents of `%LocalAppData%/Microsoft/PowerToys` in the maching and uploading the archive through a GitHub comment?
Some of those logs might have the answer to what is happening.
Thank you.

[2021-07-20 13:54] SzabKel commented on #12431
The files: [LocalAppData-PowerToys.zip](https://github.com/microsoft/PowerToys/files/6848829/LocalAppData-PowerToys.zip)
I skipped the exe-s under the update folder.

[2021-07-20 14:01] Jay-o-Way commented on #12398
"floating zones" are my own words

[2021-07-20 14:12] jaimecbernardo commented on #12431
Hi @SzabKel,

Thank you.
Couldn't find anything wrong in the logs.
Something weird is that the msi seems to think that `E:\` is your root drive. Does this bring anything to mind?

Would you mind trying to:
- Delete "C:\Program Files\PowerToys" manually.
- Delete "%localappdata%\Temp\PowerToysBootstrappedInstaller-0.41.4.0.msi" manually.
- Restarting the computer.
- Run the installer again.

[2021-07-20 14:21] mykhailopylyp commented on #12430
@woodelph
Remove `C:\Users\m087035\AppData\Local\Temp\PowerToys\FancyZones\settings.json` and try to generate the bug report again.

[2021-07-20 14:21] SzabKel commented on #12431
"C:\Program Files\PowerToys" was already empty, because I uninstalled it. It only had a single old (2021.03.20) crash log (probably different issue).
[FZEditorCrashLog.txt](https://github.com/microsoft/PowerToys/files/6848978/FZEditorCrashLog.txt)

Deletion of the temp msi did not have any impact and I already restarted my computer 2 times and it still won't install.

E: drive is not my root, it i

[2021-07-20 15:32] jaimecbernardo commented on #12431
Upon closer inspection, this error looks related to this previous issue: https://github.com/microsoft/PowerToys/issues/10563#issuecomment-860566239
[code]
It looks like it's timing out at the point of creating the system restore point.

[2021-07-20 15:42] jaimecbernardo commented on #12431
It seems the issue might be with restore point creation in your system.
To test this theory, we can try installing PowerToys without first creating the system restore point.
In order to do this, please extract the `msi` from the `exe`:
[code]

After that, run the `msi` by passing the [MSIFASTINSTALL](https://docs.microsoft.com/en-us/windows/win32/msi/msifastinstall?redirectedfrom=MSDN) property at

[2021-07-20 15:46] XCPUS-Suavey opened #12438 "Restore Win Key Long press for shortcut guide"
I would like to request that the Long Press on the windows key be brought back as an option for opening the Windows Key shortcut menu, and add a customizable delay timer.  I used that shortcut almost as much as the shortcut to Fancy Zones Editor.  It was super useful

[2021-07-20 16:09] andrewbacon commented on #12428
I will never install that thing again. It destroyed my entire day yesterday and I can't afford that.

I tried two different keyboards and neither one of them worked properly. Search bars appearing, hot key combinations being triggered, no way to actually type at all. Effectively, it totally disabled my computer. I had to Google solutions on my phone because my computer was literally unusable as so

[2021-07-20 17:48] dedavis6797 commented on #12183
Interesting, I can't seem to repro this issue. @Treefingers what version of Windows are you running? You can find it by running the `winver` command in Windows Terminal or PowerShell

Also, are you using a single monitor or multiple monitors?

[2021-07-20 17:55] miguelpicado opened #12439 "PowerToys Run sends you to another Virtual Desktop"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

When using multiple Virtual Desktops in Windows pressing Alt+Space sends you to "main" Virtual Desktop instead of running on actual desktop.

PowerToys Run is configured to be shown on "Screen with mouse cursor" and works fine on one virtual desktop, but when wo

[2021-07-20 17:57] dedavis6797 commented on #12185
Thanks for reporting this @gvarph. How are the monitors connected (HDMI, DPI, etc)?

[2021-07-20 18:04] gvarph commented on #12185
The small one on the left is connected by USB-C (directly from my GPU), the one above it by HDMI, and the other two by display port.
I should have also mentioned that my GPU is the 'MSI GeForce RTX 2070 Armor 8G

[2021-07-20 18:10] dedavis6797 commented on #12186
@koppor thank you for reporting this. @SeraphimaZ are there any known limitations that prevent us from implementing this?

[2021-07-20 18:12] dedavis6797 commented on #12186
Also updating this to an enhancement request as cross monitor zone merging isn't currently a feature the utility supports.

[2021-07-20 18:27] ChrisJohnTaylor commented on #9885
This has been noted as a reproducible error for 5 months. I just wonder if there is any intention of fixing it. I am happy to submit additional examples and do any testing.

[2021-07-20 18:57] Mystic8b opened #12440 "Fancy Zones - Other RDP Resolution"
### Description of the new feature / enhancement

On a home PC, the resolution is 2560x1080, on an office PC, 1920x1080. When I connect via RDP, all windows on the office PC remain in place, although two templates have been created there - one for fullhd, the other for Ultrawide. At the same time, ultrawide turns on automatically and turns off when I come to the office.
This is incredibly inconven

[2021-07-20 19:03] SzabKel commented on #12431
It works this way. Installed it promptly. Thanks.

[2021-07-20 19:11] dedavis6797 commented on #12208
Thanks for the suggestion @mtdallaire! @Jay-o-Way is correct in that we intend for the interface to remain minimalistic. I do believe this feature could prove useful, so we'll reference it on issue #1053 as we continue planning the UI update for Image Resizer as a whole.

[2021-07-20 19:35] jaimecbernardo commented on #12431
Hi @SzabKel ,
Thanks for letting us know.
This is not a PowerToys issues or an issue we can do something about on our side.
This does mean that there may be some underlying issues with your system's restore points, however.

[2021-07-20 19:35] #12431 closed

[2021-07-20 19:37] jaimecbernardo commented on #10563
For reference, this resolution worked for the same issue on #12431:

We can try installing PowerToys without first creating the system restore point.
In order to do this, please extract the `msi` from the `exe`:
[code]

After that, run the `msi` by passing the [MSIFASTINSTALL](https://docs.microsoft.com/en-us/windows/win32/msi/msifastinstall?redirectedfrom=MSDN) property at 1 to disable system res

[2021-07-20 20:04] dedavis6797 commented on #12211
I can repro this pretty easily. I'm not sure if Windows Explorer has special properties that makes it override the previous zoning, but it's worth investigating for our general stability efforts.

I also notice different behaviors for other apps (like calculator) based on the zone I attach them to. For a zone that takes up the full height of the display, closing and reopening the app displays it a

[2021-07-20 20:08] dedavis6797 commented on #12214
Poking at this. @mifieldxu has this error occurred again on subsequent startups? I haven't been able to repro this on my machine.

[2021-07-20 20:15] dedavis6797 commented on #12216
I agree, we'll close this as a dupe of #4145 to keep discussion centralized to that thread. We'll sync on prioritization for this among our general stability efforts as this has come up quite a few times before.

[2021-07-20 20:15] #12216 closed

[2021-07-20 20:19] dedavis6797 commented on #4145
Calling out the smart filtering suggestion from #12216 so it's tracked here as well.

[2021-07-20 20:19] bakudaz opened #12442 "Win+Up to maximize/minimize windows"
### Description of the new feature / enhancement

I love using Fancy Zones, and I use the setting to override windows snap shortcuts  (Win+Arrow). I like using it as a full replacement. One feature which windows snap has is how Win+Up can maximize a window, and Win+Down minimizes. I miss these features in FancyZones. It would be nice if a setting could be added that allows for these commands to wo

[2021-07-20 20:20] brainer3220 opened #12443 "PowerToys Run on Windows 11 is run on the first desktop unconditionally"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

1. Go to other desktop PowerToys run
2. No action

### ✔️ Expected Behavior

- Run on the desktop displayed
---
- When you run the first desktop, go to the first desktop

### ❌ Actual Behavior

- Run on the first desktop
---
- In addition, it is normally visible

[2021-07-20 20:28] dedavis6797 commented on #12226
Thanks for reporting this @ferenczy. I can't get this behavior to repro on my machine. Can you share a screenshot of your zone layout?

In addition, can you also attach the logs generated from the bug reporting tool in the systray?

![image](https://user-images.githubusercontent.com/61330599/126391007-62714ce5-9236-4464-80db-d6a5c3dd5d50.png)

[2021-07-20 20:41] dedavis6797 commented on #12236
Hi @hotdogun, I'm not sure I understand. Are you saying PowerToys is flickering on your screen? Like the settings window or PowerToys Run prompt? Or is it something like the shortcut guide overlaying your display?

[2021-07-20 20:44] dedavis6797 commented on #12241
Thanks for the suggestion! We'll reference this on #12182 as we continue planning the UI refresh for PowerToys Run.

[2021-07-20 20:55] dedavis6797 commented on #12243
Thanks for reporting this @cloudrootab.  @franky920920 's suggestion of using the `>` operator to activate the shell plugin does address the issue of not being able to run system commands, but I agree the indexer could do a better job of recognizing the .msc extension. I'll log this for our general stability milestone and follow up with our team to set prioritization.

[2021-07-20 20:58] dedavis6797 commented on #12245
Thanks for reporting this @JPB46, can you attach the logs generated from the bug report tool?
![image](https://user-images.githubusercontent.com/61330599/126394489-c0b36ba7-07e3-4152-826e-3ff54a69f56d.png)

I'm not able to repro on my machine unfortunately, so it may be hard to diagnose exactly what happened here.

[2021-07-20 21:08] dedavis6797 commented on #12246
I see what you mean @whardier. Interesting concept, I could see something like this being useful for my own workflows as I also use virtual desktops pretty extensively. If we were to pursue this we'd need to spec out the interface for this and make sure it ties in well with the feel/theme of the OS.

We'll poke around at the idea some more following our general stability efforts. Thanks!

[2021-07-20 21:24] dedavis6797 commented on #12249
@Richardbnk thanks for reporting this. Settings (like FancyZones mappings) should be maintained across updates, so I believe this is a bug. Can you attach the logs generated from the bug report tool in your systray?

![image](https://user-images.githubusercontent.com/61330599/126397350-9453b048-8dbf-41d2-820e-ccda7611c6f7.png)

[2021-07-20 21:32] dedavis6797 commented on #12251
Yeah I'm not seeing any exceptions in the FancyZones logs. @SeraphimaZ is there more information we'd need to figure out what's causing this?

[2021-07-20 21:55] dedavis6797 commented on #12254
I can't repro the issue. Setting the above mapping allows me to switch desktops with Ctrl + Alt + Space.

@lpf-lpf what kind of keyboard are you using?

[2021-07-20 22:34] MetisLight opened #12444 "Streamline saving same name files."
Files received with same name: Add ability to quickly drag same name attachments from different emails and save them to a single uniquely named folder automatically adding a linear number.

(....just 1 example)  A company scans in copies and emails them as "image".  If I drag them off the email to add them to that company's folder it still shows as "image" and the only option is to "Copy and Repla

[2021-07-21 00:07] WilliamAnimate commented on #12356
the keyboard manager engine appears to still be there. the only fix I can think of is use scancode map
running proof:
![image](https://user-images.githubusercontent.com/75321465/126408525-33e68380-7073-40e3-b26f-eb58ad53c77b.png)
scancode map registry key location:
![image](https://user-images.githubusercontent.com/75321465/126408638-24bba5d4-f43a-4af1-b1fe-0956b85f7cae.png)

[2021-07-21 00:39] fatpowaranga commented on #863
I like the look of this tool, I'm assuming if it were brought into PowerToys it would be a keyboard shortcut or something similar rather than on-screen all the time :)

When opening the app, it opened right in the top left corner, I imagine a better way to open by default would be to find the width of the primary monitor and then do a top centre placement, maybe even defaulting to slightly below w

[2021-07-21 00:51] fatpowaranga commented on #863
I also had issues with the settings window, not closing and being able to open multiples of it.

[2021-07-21 01:41] lpf-lpf commented on #12254
Thank you. I can do it now

[2021-07-21 01:41] #12254 closed

[2021-07-21 02:29] RedSkyRoad commented on #12211
AWESOME, thanks!!

[2021-07-21 02:50] RedSkyRoad commented on #12211
This is a workaround I found : It might not solve the problem now but the workings of it might help to see what windows is doing : https://superuser.com/questions/771431/change-default-windows-explorer-file-browser-size-and-position

So after positioning my window to a zone, I noticed that it keeps opening exactly where I let the window go, in the zone. So after zoning it, i moved my mouse to the

[2021-07-21 04:34] steve1412 opened #12445 "Unable to use Fancy Zone Edit"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones Editor

### Steps to reproduce

Unable to launch it.

### ✔️ Expected Behavior

Be able to edit.

### ❌ Actual Behavior

Crashed.
Admin mode produced a bug file.

### Other Software

[FZEditorCrashLog.txt](https://github.com/microsoft/PowerToys/files/6852840/FZEditorCrashLog.txt)

[2021-07-21 04:36] steve1412 opened #12446 "No Color Picker Editor"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

ColorPicker

### Steps to reproduce

Neither the option of Editor or Color picker with Editor mode will launch editor

### ✔️ Expected Behavior

editor to appear

### ❌ Actual Behavior

nothings shows up

### Other Software

No report available

[2021-07-21 04:47] MountainDudeWV commented on #12326
I am having the same issue on my machine running Win11

[2021-07-21 04:49] Lunchb0ne commented on #12443
Yes, I'm having the same bug on the latest Dev release of Windows 11, it switched to the desktop you booted the system with. I think it has to do with the way new windows are invoked.

[2021-07-21 06:22] thatkookooguy opened #12447 "Doesn't work with harmony hub keyboard shortcuts"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

1. Click on `Remap a shortcut`
2. Add a new shortcut by clicking on `Type` to send the shortcut using the harmony hub
3. click on send Ctrl+Alt+0 and see that powertoys finds Ctrl(right)+Alt(right)+0
3.1. (optional) change the shortcut to Ctrl+Alt+0
4. remap

[2021-07-21 07:06] mykhailopylyp commented on #12428
@andrewbacon
Sorry to hear that. I am afraid we can not investigate it further without your collaboration.

[2021-07-21 08:04] mykhailopylyp commented on #12356
@WilliamAnimate
Just to clarify. Does the issue happen after disabling and then enabling Keyboard Manager?

[2021-07-21 08:08] CoertK opened #12448 "Awake system tray options don't work"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

Awake

### Steps to reproduce

Try to change Awake settings through system tray icon, it does not change.

### ✔️ Expected Behavior

That options for Awake would change if done through system tray icon.

### ❌ Actual Behavior

It stays on the setting it's on. Only can be changed through PowerToys opt

[2021-07-21 08:17] SeraphimaZ commented on #12251
I didn't see anything wrong in the logs either. For sure we should add more logs in the FancyZones to investigate the problem.

[2021-07-21 08:24] mykhailopylyp commented on #12356
@WilliamAnimate
Do you have the third-party keyboard manager software except for PowerToys?
Have you added remapping to the registry? If yes try to remove it(you should be able to backup it), restart the PC and verify if the Keyboard Manager works as expected.

[2021-07-21 08:41] JPB46 commented on #12245
Thank you for your reply. I believe this is no longer an issue and is not
repeatable. Please consider this closed.
John B.

On Tue, Jul 20, 2021 at 4:59 PM Deondre Davis ***@***.***>
wrote:

[2021-07-21 08:57] Finnitio opened #12449 "Center Taskbar"
### Description of the new feature / enhancement

There are already some apps which can do that. But I think it would fit nicely with powertoys to be able to center the taskbar, which for ultra wide screens I think helps a lot. And than aswell be able to display each instace in its own icon instead of needing to have it group within one icon.

### Scenario when this would be used?

It benefits me

[2021-07-21 09:13] SeraphimaZ commented on #12186
I think it's possible to implement this feature.

[2021-07-21 09:24] jaimecbernardo commented on #12446
Hi @steve1412 ,

Thank you for reporting it!
Could you please send a bug report?

Right-click on the PowerToys icon in the tray menu and select Report Bug
![image](https://user-images.githubusercontent.com/17161067/113557438-afe62d80-9606-11eb-9b81-6260417981f5.png)
Drag and drop report into a GitHub comment.

Regarding your setup, what's your shortcut to open Color Picker currently set to, so tha

[2021-07-21 09:29] SeraphimaZ commented on #12403
@AndrewMSHowe thank you for reporting! Could you please share more information? Does only space around the zone disappearing? Is the layout type stay the same or it also resets to the default Priority Grid? Does it happen on all monitors if you use several?
And also please share the bug report (right-click on the PowerToys tray icon, `Report Bug`).
Thanks!

[2021-07-21 09:29] jaimecbernardo commented on #12438
Thank you for the feedback. We are gathering feedback for this on https://github.com/microsoft/PowerToys/issues/11963

[2021-07-21 09:29] #12438 closed

[2021-07-21 10:18] #12443 closed

[2021-07-21 10:19] stdedos opened #12450 "Run: Calculator: `(` should automatically replace with `(|)` or encapsulate selection `(a+b)|`"
### Description of the new feature / enhancement

According to all recent code editors out there, starting a parenthesis almost always means that it will eventually close.

Automate that.

### Scenario when this would be used?

^^

### Supporting information

_No response_

[2021-07-21 10:19] stdedos commented on #6556
Even better might be https://github.com/microsoft/PowerToys/issues/12450

[2021-07-21 10:29] flub71 opened #12451 "Allow direct use of search engine"
We should be able to type a string into the bar and have it search into a preferred search engine

[2021-07-21 11:12] Supergeek1 opened #12452 "Make PowerToys Run support keyword search"
PowerToys always takes my input as a URL when it is opened with a browser. I want to be able to search the input directly
![image](https://user-images.githubusercontent.com/30254092/126479501-e30eb8eb-3561-4823-b915-01b47976d4af.png)

[2021-07-21 12:03] wilburlikesmith commented on #11912
Have check recently, switched it off last week. Couldn't understand what the heck, because I'm also kinda new to Power Toys, well the new one and this awake feature XD

[2021-07-21 12:12] gerb0n opened #12453 "Possibility to add the fancyzones to the taskbar"
### Description of the new feature / enhancement

I would like to see the functionality of the fancyzones also within the taskbar. Inside the **taskbar settings** you can select **Show taskbar buttons on ** and you get three options:

- All taskbars
- Main taskbar and taskbar where window is open
- Taskbar where window is open

I would like a fourth option called **Zone where window is open**.

Th

[2021-07-21 12:20] SeraphimaZ commented on #12415
@fanandshu can you please give more information? What happens on boot, the whole PowerToys doesn't start or just FancyZones? Or FancyZones stops working after some time? If only FancyZones doesn't work, the problem is gone after restart PowerToys, did I get it right? I need as much context as possible to be able to reproduce the problem. Also, please attach the bug report (right-click on the Power

[2021-07-21 12:23] mykhailopylyp commented on #12435
@alwaysmpe
What is your operation system primary language? Do you use other languages for typing?

I suspect you created remapping in one language and then switched to other one.
Try to delete remapping and add them again. Let us know if it solves your issue.

[2021-07-21 12:27] mykhailopylyp commented on #12439
@miguelpicad
Thank you for reporting it. What version of windows are you running?
Try to invoke FancyZones editor(Shift+Win+`). Does it also bring you to the "main" Virtual Desktop?

[2021-07-21 12:37] SeraphimaZ commented on #12445
Sorry to hear that. As it said [here](https://github.com/microsoft/PowerToys/issues/11565#issuecomment-872210321) you could try to reinstall PowerToys to be able to use Editor as soon as possible. Make sure that `ModernWpf.dll` is replaced. This dll is located in `C:\Program Files\PowerToys\modules\FancyZones\ModernWpf.dll`.
Let me know if it helps.

[2021-07-21 12:44] mykhailopylyp commented on #12447
@Thatkookooguy
Thank you for reporting it.
Can you try to disable and enable the Keyboard Manager and verify if it fixes the issue?

![image](https://user-images.githubusercontent.com/17161067/126490442-1a58959b-642e-451d-8b65-4f337030a90a.png)

[2021-07-21 12:50] mykhailopylyp commented on #12450
It can be tricky as this behaviour can conflict with other plugins

[2021-07-21 12:54] mykhailopylyp commented on #12451
Thank you for reporting it. I assume it is a duplicate of https://github.com/microsoft/PowerToys/issues/3245. Feel free to reopen it if you think otherwise.

[2021-07-21 12:54] #12451 closed

[2021-07-21 12:56] mykhailopylyp commented on #12452
@Supergeek1
Do you want to search directly in a web search engine? If yes it's a duplicate of https://github.com/microsoft/PowerToys/issues/3245

[2021-07-21 12:59] miguelpicado commented on #12439
I'm using Windows 11 but I don't remember if this was happening before.

If I invoke FancyZones editor (win+Ñ in my computer) it works fine and opens in the current virtual desktop, not in the "main" one.

[2021-07-21 13:07] remony4 opened #12454 "> sign not in dropdown list"
### Microsoft PowerToys version

v0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

Go to Remap Keys in Settings
Klick + to add a new Key
Choose an origin (in my case NumPad 9)
Choose destination key from dropdown
![Capture](https://user-images.githubusercontent.com/7523852/126493277-2adae8d2-d34d-4026-833a-2e58dff10448.PNG)

### ✔️ Expecte

[2021-07-21 13:10] hotdogun commented on #12236
I mean it blinks like pressing Alt+Tab, while playing computer game as full screen.
After I turn off all the PowerToys It didn’t happening.
I’m not sure this is PowerToys problem. Because I disable ‘run on start up’ setting. so It's been a while since I haven't used it

from: Deondre Davis
Hi @hotdogun, I'm not sure I understand. Are you saying PowerToys is flickering on your screen? Like the sett

[2021-07-21 13:14] mykhailopylyp commented on #12439
It is tracked by https://github.com/microsoft/PowerToys/issues/12439

[2021-07-21 13:14] #12439 closed

[2021-07-21 13:16] stdedos commented on #12450
True, but I find it hard that someone would rank high searching with `(`

[2021-07-21 13:23] stefansjfw commented on #7028
![image](https://user-images.githubusercontent.com/57057282/126495774-dd49e3f6-9ef6-4340-bd14-da539477ed44.png)

Issue not applicable anymore

[2021-07-21 13:23] #7028 closed

[2021-07-21 13:43] jaimecbernardo opened #12455 "PowerToys compiled from source doesn't work correctly on Windows 10 N"
### Microsoft PowerToys version

0.0.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

General

### Steps to reproduce

Build PowerToys from source, using the current master, and install it on a clean version running Windows N.
Try using any of the PowerToys or just opening the settings screen. It won't work.

From the Event viewer and the logs on some of the PowerToys, we can observe t

[2021-07-21 14:09] joelv67 opened #12456 "PowerToys Run: Allow shortcuts to be added"
I would like to type 'vscode' and have find "Visual Studio Code" - currently doesn't work. Allow users to enter their own shortcuts.
Note: the Listerary would find vscode in the same manner without any customization.

Perhaps you need to ship common terms for popular programs as part of it, if user shortcuts are not going to happen.
![image](https://user-images.githubusercontent.com/13662050/12650

[2021-07-21 14:58] woodelph commented on #12430
@mykhailopylyp No PowerToys folder there, let alone any subfolders (I looked for that even before my previous comment). But I noticed this morning that despite the error, it _did_ dump a .zip file on the desktop each time I ran it (there was no feedback to indicate it had run successfully, and my desktop is usually covered so I didn't realize it had put something there). Here's the first/oldest of

[2021-07-21 15:12] diegocjorge opened #12457 "FancyZones stops working"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones, FancyZones Editor

### Steps to reproduce

When using FancyZones I always move windows pressing the secondary mouse button. After a while it just stops working and I must disable/reenable FancyZones in the Settings menu. After a while disabling/reenabling doesn't fix it anymore and it jus

[2021-07-21 15:25] Andreuha commented on #12403
I can repeat this very reliably because I have many laptop docks to connect to. Each dock is a unique monitor configuration, regardless of actual hardware configuration, and settings need to be adjusted for each individual dock -- every time I take a new seat in the office (there are about 1000 of them) I need to adjust the monitor layout and screen resolution as well (my laptop has a 4K display,

[2021-07-21 15:34] fanandshu opened #12458 "Software does not respond at every boot-up"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

Awake

### Steps to reproduce

[PowerToysReport_2021-07-21-23-27-10.zip](https://github.com/microsoft/PowerToys/files/6856949/PowerToysReport_2021-07-21-23-27-10.zip)

### ✔️ Expected Behavior

_No response_

### ❌ Actual Behavior

Shortcut keys other than those in Shortcut Guide cannot be used

###

[2021-07-21 15:38] fanandshu commented on #12458
Add one more note,function does not respond at each boot-up until it is restarted.

[2021-07-21 15:49] dedavis6797 commented on #12245
Ok I see. We'll close this for now, but if it presents again in the future please let us know. Thanks!

[2021-07-21 15:49] #12245 closed

[2021-07-21 15:53] dedavis6797 commented on #12186
Ok sounds good, we'll set prioritization for this after we go through our backlog. Thanks!

[2021-07-21 16:29] jaimecbernardo commented on #12381
Hi @niels9001 ,
Trying to figure out https://github.com/microsoft/PowerToys/issues/12455 and this includes changing the logic that the setting page touches, as well.
Is it just the opacity change mentioned or did you notice something else?
I'll try to get it functional just to unblock testing https://github.com/microsoft/PowerToys/issues/12455

[2021-07-21 16:32] niels9001 commented on #12381
@jaimecbernardo I'll take a look at the VCM settings page tonight to make sure everything is integrated (e.g. missing converter). Then you can test that branch to see if the error goes away?

[2021-07-21 16:35] jaimecbernardo commented on #12381
This is not what is causing https://github.com/microsoft/PowerToys/issues/12455 , it's just useful to have fixed to test.
I'll give it a quick try and get back to you if I find any issues. Thank you.

[2021-07-21 16:59] Thatkookooguy commented on #12447
Tried disabling and enabling back the keyboard manager but the problem persists.

- normal keyboard (manually doing ctrl(right)+alt(right)+a)  works.
- Harmony hub sending connected as a Bluetooth keyboard and sending the key combination doesn't work.

Maybe it's related to how long the press is? or the release time after the press?
What's weird is that the `Type` button totally recognizes the ctr

[2021-07-21 17:06] jaimecbernardo commented on #12381
I've opened this PR: https://github.com/microsoft/PowerToys/pull/12459
It fixes just what is needed to get https://github.com/microsoft/PowerToys/issues/12455 testing unblocked for @yuyoyuppe .

[2021-07-21 17:21] lharrington-wirediq commented on #269
We *NEED THIS*.  This is a vital feature: enabling quick UI interaction for the keyboard shortcut users.  It's hard to overstate the value of this single feature & possibly why it _has to happen here,_ at this level: every user-space hack thus far has been horrible, and never have we achieved 100% functionality out of them.  AltDrag has been the only one that actually was usable and it still wasn'

[2021-07-21 17:32] Thatkookooguy commented on #12447
Tested this with [Carnac](https://github.com/Code52/carnac) to see the keyboard shortcuts.

Notice that the keyboard shortcut entered with the Harmony Hub is not processed (Carnac sees just the keyboard shortcut harmony hub is sending), while the 2nd scenario, where I use a regular Bluetooth keyboard, **does trigger the remap and you can
see it in the Carnac print to screen.

https://user-images.g

[2021-07-21 17:50] eirinn1975 opened #12460 "Unite awake and powertoys tray icon"
### Description of the new feature / enhancement

Instead of having two icons in the tray area, why don't add an Awake dedicated context menu (right click) to the Powertoys icon? Or perhaps giving the possibility to disable the tray icon while keeping awake active in the Powertoys app.

### Scenario when this would be used?

Having a less crowded tray area is always good, and in addition it makes

[2021-07-21 17:57] Jay-o-Way commented on #12460
Makes sense, but I have a guess that #6751 would be the solution for this. Don't know when it'll be built, though.

[2021-07-21 18:11] AndrewMSHowe commented on #12403
The space around the zone reappears even though my profile is set to no space around zones. In fact I just set the space around zones to zero (turned on space around zones, changed the space value to 0). Either leaving the switch on or off, the same result: inside the zone editor, it shows correctly. As soon as I leave the editor, it goes back to I guess 20 space around zones.
It's not resetting t

[2021-07-21 22:13] steve1412 commented on #12445
I tried to repair it but nothing worked. Do i have to uninstall it first?

[2021-07-21 23:53] Hopngator52 opened #12461 "PowerToys can't locate the file- Wox.Plugin"
### Microsoft PowerToys version

0.41.4.0

### Running as admin

- [X] Yes

### Area(s) with issue?

General, PowerToys Run

### Steps to reproduce

[2021-07-21.txt](https://github.com/microsoft/PowerToys/files/6859251/2021-07-21.txt)

Version: 0.41.4.0
OS Version: Microsoft Windows NT 10.0.19042.0
IntPtr Length: 8
x64: True
Date: 7/21/2021 4:18:30 PM
Exception:
System.Reflection.ReflectionTypeLoa

[2021-07-22 00:03] #12461 closed

[2021-07-22 00:06] Hopngator52 commented on #12461
Subsequent uninstalls and reboots allowed the system to boot up with almost no erriors..  only problem remaining is the EVGA NU-Audio driver... will contact EVGA to resolve.

Thanks for the assistance. :)

[2021-07-22 01:23] SirlyDreamer commented on #12401
Besides, when I press default shortcut `Alt + Space` also can't wake up it.

[2021-07-22 02:23] sigmacom100 opened #12462 "[FancyZones] Additional instances of application window open slightly offset"
### Microsoft PowerToys version

0.41.3

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

For a select range of applications, when opening a 2nd instance of the application while at least one window is already open, the new instance does not open perfectly aligned over the first. Although the first instance has remembered its screen position on re-openi

[2021-07-22 03:04] #12432 closed

[2021-07-22 03:59] Alpha-00 opened #12463 "Quick Clipboard Word Counting"
Sometimes I really want to know what is in my clipboard and how many words it is. I usually choose to using Windows + V to view what inside the clipboard and using an online service for counting words. It's fine. But I really want to have a panel have that feature in PowerToys Package. Thanks for reading this.

[2021-07-22 04:00] Alpha-00 commented on #12463
I found this from https://clipcount.com/
![image](https://user-images.githubusercontent.com/29876943/126588354-225b97d3-9c13-485d-b940-d2367c6216cb.png)
Hope It can help you understand what I imagine.

[2021-07-22 04:47] BacchusPS opened #12464 "SendToX - Restore this very useful former powertoy"
### Description of the new feature / enhancement

Re-Create the original SendToX powertoy.

SendToX allowed you to select any drive/directory when choosing send to. Rather than having to pre-create send to shortcuts for directories you might use, thus cluttering up the interface.

Frankly, other than specific apps, this was the only use I ever got out of send to. I always disable all the generic l

[2021-07-22 07:31] #12381 closed

[2021-07-22 07:43] SeraphimaZ commented on #12445
Yes, please uninstall it, delete the PowerToys folder, and then install the current version.

[2021-07-22 08:29] mykhailopylyp commented on #12454
@remony4
We only remap available virtual keys. Apparently, for your configuration `<` sign doesn't have a virtual key. It is absent for me as well. You can try to remap to `Shift + .` on my system this shortcut produces `>`.

Closing it as it is tracked by https://github.com/microsoft/PowerToys/issues/6976

[2021-07-22 08:29] #12454 closed

[2021-07-22 08:42] mykhailopylyp commented on #12456
Great idea. I think it's a duplicate, can not find the issue though

[2021-07-22 08:42] Alonzzzo2 opened #12465 "Append a new zone between other zones in a layout"
### Description of the new feature / enhancement

Suppose I have a grid with 10 defined zones. supposed I want to add a new zone and I want it as number 3 - I can't do that, I can only add it as number 11... So I have to redefine ALL the zones

### Scenario when this would be used?

I created 4 zones - 1 for each vertical quarter (49" monitor), and I wanted this layout:
zone 1 - left quarter
zone

[2021-07-22 08:46] mykhailopylyp commented on #12458
@fanandshu
Can you please elaborate on the issue? It's not clear what is going on from the description.
As I understand, some features of PowerToys are not available after windows startup and you have to restart PowerToys to use them. Is it correct? Which features can not be used?

[2021-07-22 09:03] SeraphimaZ commented on #12442
Just to make sure, do you use the `Win + Left/Right to move windows based on zone index`?
It allows to maximize/minimise windows with `Win + Up/Down`.

![image](https://user-images.githubusercontent.com/8949536/126614414-e86657c5-fc34-4c14-9211-051317e20e8d.png)

[2021-07-22 09:20] SeraphimaZ commented on #12465
Did I get it right that zone 3 in your example should overlap zones 2 and 4 like this?

![Image 2021-07-22 at 12 18 50 PM](https://user-images.githubusercontent.com/8949536/126616677-a51e64b0-9f74-4630-ada5-5d1221aeb4f6.jpeg)

[2021-07-22 09:34] SeraphimaZ commented on #12402
After duplicating the layout, the user can only modify it manually by resizing, splitting, and merging zones. We can change the number of zones only for predefined (template) layouts.

[2021-07-22 09:42] Thatkookooguy commented on #12447
tried implementing the same logic like I configured in PowerToys in AutoHotkey and that works with harmony hub keyboard shortcuts.
So it's definitely something weird in how PowerToys is processing the shortcut.

Here's the AutoHotkey code for reference:
[code]

[2021-07-22 10:06] Alonzzzo2 commented on #12465
Exactly

[2021-07-22 10:28] SeraphimaZykova opened #12466 "[FancyZones] Configurable FZ Editor defaults"
### Description of the new feature / enhancement

There are already several requests for configurable FZ Editor defaults such as minimal zone size and spacing. I think it would be a good idea to keep them in an `editor-settings.json` file and add a possibility to modify them.
We can add those settings in the FancyZones Settings under the `Editor` section.

### Scenario when this would be used?

ht

[2021-07-22 10:33] SeraphimaZ commented on #12280
There is a limitation for the zone size and probably after creating 5 rows another split would create a zone with too small height. We can make the limit configurable, it should help with this issue.

[2021-07-22 10:35] SeraphimaZ commented on #12268
Does it happen with any window or with some only? Does it happen only with 20px border or it doesn't depend on the border size? Thanks!

[2021-07-22 10:46] SeraphimaZ commented on #12185
@gvarph if you have the `Allow zones to span across monitors` setting on, the monitors would be treated as unified single work area. Uncheck this option to work with each monitor individually.

![image](https://user-images.githubusercontent.com/8949536/126627336-8c93e945-d205-4bfe-9bf4-05433305caef.png)

[2021-07-22 10:53] gvarph commented on #12185
Didn't have it on, but turning it off and on helped. Interesting that this helped but reinstalling powertoys didn't

[2021-07-22 11:20] xidsyed opened #12467 "Custom Close Lid functionality when external displays are connected"
### Description of the new feature / enhancement

Allow users to customize their laptop's close lid behavior through the awake module based on whether or not they are connected to an external display.
Perhaps even charging status dependent 🤷.

### Scenario when this would be used?

Many people these days use their laptops with secondary displays, often when i am using multiple screens, i will want

[2021-07-22 11:34] niels9001 commented on #12466
@SeraphimaZ is this anything UI related you want me to take a look at?

[2021-07-22 11:35] YOSI-COHEN opened #12468 "Adding the Hebrew language"
### Microsoft PowerToys version

0.41.4

### Utility with translation issue

General

### 🌐 Language affected

Hebrew

### ❌ Actual phrase(s)

Hello
Is it possible to add the Hebrew language to the software?
Thanks.

### ✔️ Expected phrase(s)

I want a Hebrew language

### ℹ Why is the current translation wrong

Because there are a lot of Israelis who use it

[2021-07-22 11:42] threebitJens opened #12469 "TextMacros in Keyboardmanager"
### Description of the new feature / enhancement

adding snippets like "tysm" to  type out "thank you so much", "oe1" to "ö", "myemail1" to "personal@example.com"

### Scenario when this would be used?

Whenever I write German text I have to switch keyboard layouts to write the letters ö ü ä ß which throws me of, whenever I enter any special characters and forgot to change back. It would also help

[2021-07-22 12:06] niels9001 commented on #10006
@frenchgap Is this still happening in the latest version of Settings? And if so, does it crash the Settings app itself?

[2021-07-22 12:07] niels9001 commented on #9944
This works for me in 0.41? For you as well?

[2021-07-22 12:13] niels9001 commented on #7024
This seems to be a WinUI issue, will create external tracking issue.

[2021-07-22 12:16] niels9001 commented on #4605
@htcfreek Is this issue still valid?

[2021-07-22 12:40] SeraphimaZ commented on #11408
Hi, @peacefulzephyr can you please verify if the issue is still present on the latest PowerToys version?

[2021-07-22 12:46] 03c commented on #11792
I have this setup using AHK with something similar to the following: https://gist.github.com/adriangonzalez/d4581b571d5edcb4e092a1cfe0cb903a

[2021-07-22 12:56] SeraphimaZ commented on #12465
So you can create 5 zones and resize them as you described. Notice, that overlapping zones are available only in the `Canvas` layouts.

[2021-07-22 13:07] SeraphimaZ commented on #10535
Thanks for reporting! Can you please verify if this issue is still present in the latest version of the PowerToys?

[2021-07-22 13:15] Alonzzzo2 commented on #12465
Thanks, I know that, that's not what I meant.

Back to my example, assuming I have already defined 4 zones, and want to add a 5th one. I can do it, sure, but I want to resides, order wise, between zones 2 and 3.
So that when I use WinKey + right, the order of the zones that the current window will go through is:
1, 2, 5, 3, 4
Today, I can't do it - if I'll add that 5th zone, the order of the zones

[2021-07-22 13:36] htcfreek commented on #4605
@niels9001
As far as I know. But I can't test it. I'm on vacation.

[2021-07-22 13:38] niels9001 commented on #4605
@htcfreek I think it defaults now to the previous, correct, shortcut. I agree some sort of warning would be better.

[2021-07-22 13:52] steve1412 commented on #12445
that fixed it!

[2021-07-22 13:52] steve1412 commented on #12445
thanks!

[2021-07-22 13:52] #12445 closed

[2021-07-22 13:59] SeraphimaZ commented on #12465
There are already two ways to reach the goal that you described. You can either resize and move the 3rd, 4th and 5th zones after adding a new zone or use the `Win + Up/Down/Left/Right to move windows based on relative position`. With the second approach, since it's based on the relative position, the window would go through the 1, 2, 5, 3, 4 zones. Hope it helps!

![image](https://user-images.gith

[2021-07-22 14:23] SeraphimaZ commented on #12466
@niels9001 most of the work is not UI-related except adding several number inputs in the settings. Thanks :)

[2021-07-22 14:25] SeraphimaZ commented on #11095
@jongreville could you please verify if the problem is still present in the latest PowerToys version? Thanks!

[2021-07-22 14:28] ARainTech commented on #12402
I just want the option back to make a new layout simply by entering the number of zones and it be evenly spaced like it did with the old editor. I like the new editor as well (although I have run in to many issues manually adding lines and zones) but really I just want a simple way to say "new layout > 25 zones" like it used to be.

I've had to re-create this layout 3 times now when the config has

[2021-07-22 14:32] SeraphimaZ commented on #9681
@KaeptnKaeptn could you please verify if the problem is still present in the latest PowerToys version? Thanks!

[2021-07-22 14:40] SeraphimaZ commented on #9081
@avoidwork could you please verify if the problem is still present in the latest PowerToys version? Thanks!

[2021-07-22 14:42] remingtonsmith commented on #12268
It appears that this relates to the use of Groupy (
https://www.stardock.com/products/groupy).  Hopefully, it is something you
can address given the great number of people who simultaneously use
FancyZones and Groupy.

Remington Smith

On Thu, Jul 22, 2021 at 5:36 AM Seraphima Zykova ***@***.***>
wrote:

[2021-07-22 14:45] remingtonsmith commented on #12268
And , it happens with all windows when a 20px border is used because the
extra space above windows for the Groupy tabs appears to be ignored by
FancyZones when snapping to a grid with any border.  When the border is
removed, it FancyZones and Groupy appropriately work together, but,
ideally, I'd like to be able to use FancyZones and Groupy with a border
configured in FancyZones.

Remington Smith

[2021-07-22 15:00] jameskungch opened #12471 "[New tool suggestion] Pin windows to top?"
Was looking at tools to keep a small window floating and couldn't find any that were well updated, let alone support Win11. Perhaps that could be added to Powertoys as a new tool?

[2021-07-22 15:11] SeraphimaZ commented on #12402
@ARainTech thanks for your help! Let me dig into the problem.
Option to make a new layout simply by entering the number of zones is still present. You can just click on the `Edit` button on the template layout, enter the number of zones you want and click `Save`. Is there any problem that prevents you from doing this? The settings would be saved and the grid will contain those 25 zones.

![Image 2

[2021-07-22 15:15] SeraphimaZ commented on #12402
Could you please describe in detail what was going wrong there?

[2021-07-22 15:23] Jay-o-Way commented on #12402
That still doesn't explain the WHY.

[2021-07-22 15:23] mimikun commented on #12063
I'm Japanese, but I want to use English command.

[2021-07-22 15:50] Kenny1G commented on #12301
Same issue here:
v.0.41.4
[PowerToysReport_2021-07-22-08-49-56.zip](https://github.com/microsoft/PowerToys/files/6863573/PowerToysReport_2021-07-22-08-49-56.zip)

[2021-07-22 15:55] Alonzzzo2 commented on #12465
Oh nice, didn't notice the option to move windows based on relative position,
It solves my problem but just for the sake of discussion, In my case, I have a grid with 10 windows which overlap each other, in a way that I can't click on zone #2 cause other zones 'hide' it.
So I can't customize my own order of zones (not based on position) cause any new zone will be added as the last one, and I can't

[2021-07-22 16:17] ARainTech commented on #12402
That is what I was looking for! Thank you!

Sorry I didn't get that or figure it out when previously mentioned. Thank you for those clear instructions for editing the preset template to get this option back. In my opinion that should be an option available when editing a custom layout as well.

I can try to document the GUI issue tomorrow when I am back at that machine. I might need to do a screen

[2021-07-22 16:54] franky920920 opened #12472 "Add support for Windows Server 2019"
### Description of the new feature / enhancement

Add support for Windows Server 2019.

### Scenario when this would be used?

Users using Windows Server 2019!

### Supporting information

Winver:
![image](https://user-images.githubusercontent.com/11349917/126677973-7abc5180-1870-4deb-ba8b-85d81c1589dd.png)

[2021-07-22 18:01] SeraphimaZ commented on #12402
The user can modify the layout in any way. So it's unclear how this should be handled after the possible changes. If the user increases the number of zones, should we split the last zone? Or the biggest zone? Or even replace the whole layout with the default layout with a required number of zones? The same with decreasing the number of zones, which one should be removed?

[2021-07-22 18:13] SeraphimaZ commented on #12402
@ARainTech I'm glad it was helpful :)
Please open a new issue when you would be able to capture a screen since it's a different problem. I'll close this one.
I appreciate your help!

[2021-07-22 18:13] #12402 closed

[2021-07-22 18:16] ARainTech commented on #12402
Sure, I will do that. But I still think this feature request is valid and should likely stay open for adding that option to custom layouts. Not my call though.

Thank you!

[2021-07-22 18:17] SeraphimaZ commented on #11929
Closing in favor of https://github.com/microsoft/PowerToys/issues/12466

[2021-07-22 18:17] #11929 closed

[2021-07-22 18:24] SeraphimaZ opened #12473 "[FancyZones Editor] Possibility to change the number of zones in the custom layouts as for templates."
The possibility to increase/decrease the number of zones for custom layouts as it was done for the templates should be available when editing a custom layout as well.

_Originally posted by @ARainTech in https://github.com/microsoft/PowerToys/issues/12402#issuecomment-885041263_

[2021-07-22 18:25] avoidwork commented on #9081
@SeraphimaZ I'll try; the monitor died so I don't have the same resolution to use. Will report back soon-ish.

[2021-07-22 18:39] cbeebe44 opened #12474 "FancyZones additive canvas editor keyboard support"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones Editor

### Steps to reproduce

1. Edit canvas layout with a stack of 10+ zones
2. Use keyboard to access zones buried on the bottom of other zones (thanks for this)
3. Appearance of zone that is active (the one on the bottom of stack) is still at the bottom of stack and blocked by overlap

[2021-07-22 18:45] RanArkon opened #12475 "Empty space in FancyZones between task bar and windows"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [x] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

There is always empty space in FancyZones between task bar and restored windows.

### ✔️ Expected Behavior

Restored windows should keep its last position and size

### ❌ Actual Behavior

Restored windows doesn't touch task bar - there are some pixels of empty spac

[2021-07-22 18:49] SeraphimaZ commented on #12268
Thanks for clarifying! I'll close this issue in favor of https://github.com/microsoft/PowerToys/issues/12382

[2021-07-22 18:49] #12268 closed

[2021-07-22 18:59] SeraphimaZ commented on #12475
@RanArkon could you please provide more information? Is the taskbar hidden or not? Does it happen with all apps or with some? Could you please add a screenshot with the problem shown? Also, the bug report would be helpful (right-click on the PowerToys tray icon, `Report Bug`).
Thanks!

[2021-07-22 19:00] #12319 closed

[2021-07-22 19:36] SeraphimaZ commented on #12465
You can also resize the zone with `Shift + Arrow` and move zones with arrows. Use `Ctrl + Tab` to set focus on zones and switch between zones with `Tab`.

https://user-images.githubusercontent.com/8949536/126698927-83f73d79-16b2-4ae4-9eb7-b82eaadee75f.mp4

[2021-07-22 20:01] SeraphimaZ commented on #12313
@ru-tei Could you please attach a bug report? Right-click on the PowerToys tray icon, `Report Bug`. Thanks!

[2021-07-22 21:09] niels9001 commented on #12095
@v-amanpra The ListViewItem is actually off screen.. (the first time that can only be seen when scrolling the listview). So it this considered a bug?

Related: https://github.com/microsoft/axe-windows/issues/387

[2021-07-22 21:22] cbeebe44 commented on #12474
A work around could be to have zone opacity setting for the editor

[2021-07-22 21:46] royvou commented on #12455
When testing some other PT Run feature on a clean VM install, I had to install the latest c++ redistribution (2019) and it worked, it was throwing some errors on loading the same dll.

https://support.microsoft.com/en-us/topic/the-latest-supported-visual-c-downloads-2647da03-1eea-4433-9aff-95f26a218cc0

[2021-07-22 23:17] Alonzzzo2 commented on #12465
Wow, that's great, thanks for the tips and the effort!

[2021-07-22 23:49] peacefulzephyr commented on #11408
I think so.

From: Seraphima ***@***.***>
Sent: Thursday, July 22, 2021 06:41
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [microsoft/PowerToys] Fancy zones: my custom layouts disappears from time to time (#11408)

Hi, @peacefulzephyr<https://github.com/peacefulzephyr> can you please verify if the issue is still present on the latest PowerToys version?

—
You are receiving this bec

[2021-07-23 00:31] 0xf0f commented on #10191
another idea for this: single primary button + single alternative button click for single region mode, and single primary button + double alternative button click to enter multiple region mode, with the region under the cursor as origin.

[2021-07-23 00:47] FlintIronstag commented on #12391
Just happened to me as well, right after updating to v0.41.4

[2021-07-23 02:17] franky920920 commented on #12456
@mykhailopylyp Maybe this is a duplicate of #12243 ?

[2021-07-23 02:40] zigzagoon1 opened #12477 "can't get shortcut guide to open"
### Microsoft PowerToys version

v0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

Shortcut Guide

### Steps to reproduce

[PowerToysReport_2021-07-22-22-34-38.zip](https://github.com/microsoft/PowerToys/files/6866313/PowerToysReport_2021-07-22-22-34-38.zip)

### ✔️ Expected Behavior

to see the shortcut guide open when pressing the combination of keys i chose to be a shortcut for

[2021-07-23 03:42] Achenar459 commented on #12244
Happening top me as well even with latest update.

[2021-07-23 04:24] liu-junjie opened #12478 "是否可以使用英文搜索程序？"

[2021-07-23 05:35] naamiil opened #12479 "BUG"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

Sorry for my bad english...

I use two language , and i have two language folders and files, when i search english language its work perfectly, but when i swith a GEORGIAN KEYBOARD OR GEORGIAN LANGUAGE , this program can't find my folders.

![Image 1](https://us

[2021-07-23 05:37] #12479 closed

[2021-07-23 07:57] miRUAcleInjoker commented on #12478
应该是汉语拼音搜，确实需要此功能

[2021-07-23 09:16] Rupert-com opened #12480 "Lorem Ipsum Generator"
### Description of the new feature / enhancement

some sort of shortcut should copy an lorum ipsum text with 100 words to the clipboards first position.

### Scenario when this would be used?

For all cases of predesigning an app, a feature without the correct data.

### Supporting information

_No response_

[2021-07-23 09:57] #12465 closed

[2021-07-23 10:40] mykhailopylyp opened #12483 "[Run][Plugin-Manager] Additional options are not displayed in the settings"
### Microsoft PowerToys version

0.0.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

In [this PR](https://github.com/microsoft/PowerToys/pull/12427) an additional option was added to the Windows System Plugin. it was not displayed right away in the settings. One should remove `PowerToys Run\settings.json` file in order to see additional options i

[2021-07-23 10:56] untoreh commented on #10963
[PowerToysReport_2021-07-23-12-38-31.zip](https://github.com/microsoft/PowerToys/files/6868212/PowerToysReport_2021-07-23-12-38-31.zip)
- Mapping `Shift(left)+N/P` => `Ctrl(left)+Win(left)+Right/Left`
- switch back and forth between virtual desktops with `Shift(left)+N/P`
- Ctrl eventually gets stuck (and default windows actions for `ctrl+n` and `ctrl+p` are activated...)

This happen with just _s

[2021-07-23 12:02] stefansjfw commented on #11410
It's interesting that 'PART_HorizontalScrollBar' cannot be found in 'System.Windows.Controls.Border', where it shouldn't be at all. According to https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.scrollviewer?view=net-5.0, 'PART_HorizontalScrollBar' is member of ScrollViewer. I'm not UI expert, so I'm not sure why this could occur. Only place where we have Border and ScrollViewer

[2021-07-23 12:18] mykhailopylyp opened #12484 "[Settings] [Run] ToggleSwitch is displayed incorrectly"
### Microsoft PowerToys version

0.0.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

Settings

### Steps to reproduce

For the current master, toggle switches are displayed incorrectly

![image](https://user-images.githubusercontent.com/17161067/126780141-674a8806-5b7c-46d1-8e3a-56468b0d89aa.png)

Looks like it happened after updating `Microsoft.UI.Xaml` version. https://github.com/mi

[2021-07-23 12:35] stefansjfw commented on #6082
With this change https://github.com/microsoft/PowerToys/pull/12377, this issue no longer exists
![image](https://user-images.githubusercontent.com/57057282/126782273-efdf8264-c749-4fd4-8b00-6d839fd74718.png)

Inner edit element now inherits name of outer element

[2021-07-23 12:35] #6082 closed

[2021-07-23 12:40] Ampa opened #12485 "Color Picker - Replace Windows default colour picker"
### Description of the new feature / enhancement

Could the PowerToys color picker entirely replace the default Windows colour picker?

There used to be an app called Jovian Color Picker that did this, but it seems abandoned many years ago.

### Scenario when this would be used?

Allows a modern, more advanced color picker everywhere that the Windows default is used.

### Supporting information

A

[2021-07-23 13:23] hearnia2k commented on #12145
Why is this closed?  It still happens on latest version 0.41.4

[2021-07-23 13:31] jaimecbernardo commented on #12145
You're right, I've applied the "Resolution-Fix-Committed" label, since it still needs to be released.

[2021-07-23 13:59] #12455 closed

[2021-07-23 14:04] Hefaistos68 opened #12486 "Repair not working, requesting bootstrap msi"
![image](https://user-images.githubusercontent.com/8855055/126793390-2a67e263-dd02-4d88-8364-b2d75fd7f60c.png)

Keeps asking for this MSI although I installed from the .exe downloaded.

[2021-07-23 14:18] Hefaistos68 opened #12487 "Resize Images messes up animated gifs"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [ ] Yes

### Area(s) with issue?

Image Resizer

### Steps to reproduce

Take any animated gif and resize it, most likely the file size will increase 10 fold and the animation killed. Or, the images are blended together and a total mess is saved. Should either exclude animated gifs from resizing or implement a correct algorithm.

![g

[2021-07-23 14:55] jaimecbernardo commented on #12486
Hi, there's this workaround that was suggested as working, could you please give it a try and let us know?
https://github.com/microsoft/PowerToys/issues/1490#issuecomment-881985380

[2021-07-23 15:12] jaimecbernardo commented on #12477
Hi, from what I see in the logs, you're trying to register the shortcut to other shortcuts that are already registered for other functions:
[code]
Shortcut Guide won't override other shortcuts that are defined already.
How does it work on shortcuts that are not defined for anything else (the default `Win`+`Shift`+`~`, for example?

[2021-07-23 15:22] jaimecbernardo commented on #12391
I've tried replicating it, but without success. I'm also not able to find anything suspicious in the logs.
Not sure what it could be.
Is there some error in the Event Viewer at the time this happens that you could share?

[2021-07-23 16:14] jaimecbernardo commented on #12472
Duplicate of https://github.com/microsoft/PowerToys/issues/6789

[2021-07-23 16:14] #12472 closed

[2021-07-23 16:16] jaimecbernardo commented on #12472
Requirements https://github.com/microsoft/PowerToys#requirements state that this version is needed:

Have you tried it on Windows server >= 1903 ? You seem to be running 1809.

[2021-07-23 16:29] jaimecbernardo commented on #12448
This should've been fixed here and will be out in the next release : https://github.com/microsoft/PowerToys/pull/12215

[2021-07-23 16:57] Ipsquiggle commented on #11591
For what it's worth, I naively tried typing a `?` to get something like this to show up as my very first instinctual attempt to recall the commands.

Truly, anything at all would be better than nothing! I'd even settle for a list in the main PowerToys settings windows. :)

[2021-07-23 17:26] WilliamAnimate commented on #12356
I don't have third party, in the registry I didn't touch anything in tthere

[2021-07-23 18:17] Mulinsen0o0 opened #12489 "字符替换"
希望增加文档文件的字符替换功能

[2021-07-23 18:19] WillBrass12 opened #12490 "Crash while typing in searchbar"
### Microsoft PowerToys version

0.41.4.0

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

1. Pressed "Alt + Spacebar"
2. Typed "Spotify" (only half of the word before the crash occured)

### ✔️ Expected Behavior

Launch the Spotify app

### ❌ Actual Behavior

This error window appeared (image in french)
![image](https://user-images.githubuserconten

[2021-07-23 19:00] #12277 closed

[2021-07-23 19:00] #12173 closed

[2021-07-23 22:37] reelism opened #12491 "PowerToys Run: With Folders disabled, it still shows Portable App directory folders."
This might be given because I'm using a stripped down Windows Index, with only Start Menu and Portable Apps on D:, but it'd be nice if I had options to search folders outside of C:/ (nothing in there I want to find, but many things on D:, E:, etc).

[2021-07-23 23:46] showerwalker opened #12492 "Feature request: Fancyzones personalize colour, fonts, zone nicknames"
Hi, I'm using the fancy zone feature and it's been great. My only problem is that I have a 2 layer layout, and it can take a while to get the right zone due to my cluttered layout. If possible it would be great if I can nickname each zone (e.g. 1,2,a,b,left,right,centre etc); colour each zone differently; use different fonts to label each zone, so that they are easier to distinguish.
thanks!

[2021-07-24 01:21] avoidwork commented on #9081
@SeraphimaZ  it still happens. I haven't power cycled the machine, it's been sitting running with a screensaver set so it's an active fallback on my monitor (built in kvm). I have my settings as 3 columns without borders, and when I checked a few minutes ago it was back to the scaled ratio above, where it seems like the center is 2/3 the width with a border.

![Screenshot 2021-07-23 211624](https:

[2021-07-24 02:40] ihaveadetgg commented on #12311
[PowerToysReport_2021-07-24-10-40-02.zip](https://github.com/microsoft/PowerToys/files/6871802/PowerToysReport_2021-07-24-10-40-02.zip)

[2021-07-24 02:49] Andre-MR commented on #4649
there are some games/apps i can't change keys, so i activate powertoys keyboard manager before opening and leave powertoys window open (to not forget to disble later) then after closing the software i go there and disable.

would be nice to have some command line options so i could create a task to toggle when game starts and ends (or at least create a shortcut and keyboard keys to toggle).

[2021-07-24 04:14] franky920920 commented on #12489
For translation:
Title: Character replace
Hope to add the function of character replace in the document(s).

@Mulinsen0o0  Cloud you clarify this a bit more? But I think this the job of text editors (like vscode) or IDEs, not utilities like PT.

[2021-07-24 05:31] Mrnofish opened #12493 "PowerToys Runner (powertoys.exe) is trying to use the Internet every two hours"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [ ] Yes

### Area(s) with issue?

General

### Steps to reproduce

1. Install PowerToys
2. Make sure Download Updates Automatically is unchecked
3. Wait...

### ✔️ Expected Behavior

PowerToys should not be trying to connect to any IP after it's been told not to.

### ❌ Actual Behavior

powertoys.exe opens TCP connections to IP addre

[2021-07-24 11:59] Runer23 commented on #11467
It happened again today. Im not sure about the frequency since I haven't used my pc often last week, but 'powercfg lastwake' reports the following:
`Wake History Count - 1
Wake History [0]
  Wake Source Count - 1
  Wake Source [0]
    Type: Wake Timer
    Owner: [PROCESS] \Device\HarddiskVolume3\Program Files\PowerToys\modules\FancyZones\PowerToys.FancyZones.exe`

I guess that narrows it down to f

[2021-07-24 12:18] Ofer-Gal opened #12494 "Please add option to change Font name, size etc.. to any system UI"
It will be nice to change basic UI features like we could in windows 7
I rather use MS app than Winaero Tweaker

[2021-07-24 13:26] Aaron-Junker commented on #12494
Hi. Thank you for your suggestion. We collected many issues of this type under the label "[Product-Tweak UI Design](https://github.com/microsoft/PowerToys/issues?page=2&q=is%3Aissue+is%3Aopen++label%3A"Product-Tweak+UI+Design")". Because of that I will close this as a duplicate.

[2021-07-24 13:52] Jay-o-Way commented on #12494
@Ofer-Gal You might want to try WinAero Tweaker. It has many possibilities, like the older TweakUI had. Or (manually) follow the steps shown on this page: https://winaero.com/change-system-font-windows-10/

[2021-07-24 13:56] Jay-o-Way commented on #12471
A popular request. See also #13.

[2021-07-24 13:59] AndrewMSHowe commented on #12403
OK I think it's not related to Steam Remote Play. It just happens overnight now. Just come back to my PC and there's space all around my zones. Super annoying. Why would anyone even want space around their zones?

[2021-07-24 14:01] Jay-o-Way commented on #12485
What do you call **the** default Win color picker? Nothing in Windows is default/consistent, especially not the color pickers used in MS programs.
![Five MS Color Pickers - comparison](https://user-images.githubusercontent.com/65828559/126870786-6edd2ff5-a11a-4d64-9304-b7d52e0060cf.png)

[2021-07-24 14:17] Aaron-Junker commented on #12494
@jay-o-way Please read once again what @Ofer-Gal wrote.

[2021-07-24 14:21] Aaron-Junker commented on #12485
Interesting. But the problem I see here is that the thing we have is a color picker and these things are more like a color chooser. So the only thing we wouldn't have to create from scratch is the UI.

[2021-07-24 14:32] Jay-o-Way commented on #12494
Yep. This time I was too quick 🤐

[2021-07-24 16:17] robertlzj opened #12495 "feature request: Fancyzones, when active, use wheel to switch layout"
### Description of the new feature / enhancement

In Fancyzones, when active, use mouse wheel to switch between layouts.

### Scenario when this would be used?

currently, have to use a long hotkey alt+win+ctrl+_number_, which is hard to operate only use left hand, it's inconvenient.

### Supporting information

I found could use only _number_ to active associate layout, when active - drag window

[2021-07-24 17:37] depascalis commented on #11963
In general, when there are opinions about preferences in the development team etc, **let the users decide** what they prefer through a setting, especially for a tool like PowerToys! PowerToys users are not of the kind that needs handholding by Clippy, don't be afraid to spoil us with preferences, that is what the tool is for after all.

[2021-07-24 20:05] AndrewMSHowe commented on #12403
Aaaaargh I uninstalled PowerToys and reinstalled it and it is still doing it, I come back to my computer and the blasted zones are back. MAKE IT STOP!!!

[2021-07-24 20:45] dend commented on #12460
My first hunch here is that this is a `wont-fix` - because Awake can be used as a standalone tool. That is - the user can launch Awake without PowerToys and still have the tray available.

[2021-07-24 20:46] dend commented on #12448
Duplicate of #12145

[2021-07-24 20:46] #12448 closed

[2021-07-24 21:24] avoidwork commented on #9081
The latest test was on the same core hardware with a new gpu & win10 pro 21H1; both gpus where nvidia rtx (2xxx & 3xxx).

[2021-07-25 00:35] 8ju opened #12496 "image resizer"

[2021-07-25 01:02] thundercarrot commented on #6246
As noted in the pinned comment, I've seen VCM not pass through the video appropriately. Could this be because the proxy filter is reporting only the one best media format from the wrapped camera device? What if the application doesn't support that format? (In my case I notice that Teams tries to pick the 4k MJPG format on my Brio camera-- that is a pretty demanding format to deal with). Or do I ha

[2021-07-25 01:35] bdcarr commented on #8651
Just another use-case: I want to remap my caps lock to something like F13, then use F13 as a modifier for various shortcuts a la [hyper key](https://holmberg.io/hyper-key/). On mac I do this with karabiner-elements, then I have all sorts of app-switching commands mapped, like hyper-b opens my browser, or switches to it.

[2021-07-25 03:10] Hunabaktu opened #12497 "FancyZones feature request: Snap to.."
### Description of the new feature / enhancement

Make an option in the setting to enable the "Snap to windows" and/or "Snap to borders" options available.

### Scenario when this would be used?

Sometimes, it can be useful to snap some windows against each other or just to a screen border without resizing it to fit the entire zones. Especially when working with a moltitude of windows that need to

[2021-07-25 03:55] VigilantTomWard opened #12498 "When opening PowerToys Run using "Alt + Space" (while PowerToys Settings is open.)"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run, Settings

### Steps to reproduce

[2021-07-25.txt](https://github.com/microsoft/PowerToys/files/6873314/2021-07-25.txt)

While PowerToys Settings was open I hit the PowerToys Run shortcuts "Alt + Space" and the "Something went wrong." message was generated and the attached log file was

[2021-07-25 10:24] Akqli opened #12499 "when you search for something in powertoys run,have a shortcut and have it open right click options for the searched item"
### Description of the new feature / enhancement

first, I'm sorry that I'm not able to express it that good. when you search for something with powertoys run, a button/shortcut
to have an ui that is similar to what pops up when you right click,and allow us to rename it,unzip it,open with another app,

### Scenario when this would be used?

when youre programming,you can search for the file ,you c

[2021-07-25 10:42] insky2 commented on #12401
Hi there,
it works again, even with custom shortcut. I think some windows can overlap PowerToys Run.
@SirlyDreamer I will close this issue. The solution was to restart. I don't can say which window was overlap Run.

[2021-07-25 10:42] #12401 closed

[2021-07-25 10:52] landonth commented on #3400
For that use X-Mouse Button Control, a workaround may be possible, See the related Windows Terminal issue thread: https://github.com/microsoft/terminal/issues/9340#issuecomment-885822956
For those that don't, the mouse configuration software (Synaptics trackpad, Lenovo Thinkpad Trackpoint) may or may not have the ability to work around this issue.

[2021-07-25 11:13] lostsomewhere opened #12500 "Crash"
### Microsoft PowerToys version

0.41.3

### Running as admin

- [ ] Yes

### Area(s) with issue?

General

### Steps to reproduce

Hitting alt+space, selecting program and then pressing enter.

Cannot be repredocued,

Version: 0.41.3.0
OS Version: Microsoft Windows NT 10.0.19043.0
IntPtr Length: 8
x64: True
Date: 25/07/2021 12:06:27
Exception:
System.InvalidCastException: Unable to cast object of

[2021-07-25 13:49] theburningman opened #12501 "Something Went Wrong"
### Microsoft PowerToys version

.41.4

### Running as admin

- [ ] Yes

### Area(s) with issue?

General

### Steps to reproduce

just installed and this came up after installation

### ✔️ Expected Behavior

the program to start

### ❌ Actual Behavior

something went wrong message

### Other Software

[2021-07-25.txt](https://github.com/microsoft/PowerToys/files/6873986/2021-07-25.txt)

[2021-07-25 14:29] eirinn1975 commented on #12460
Why not giving the opportunity to choose where to have the menu? Then it will be up to the user how he wants to use the feature.

[2021-07-25 15:00] #12494 closed

[2021-07-25 15:00] #12471 closed

[2021-07-25 16:49] aayushbhatia06 commented on #11860
I like this one a lot, stands very true to the WinUi 2.6 design and looks gorgeous overall!

[2021-07-25 17:30] keen85 opened #12502 "[PowerRename] allow moving files to (new) subfolders"
### Description of the new feature / enhancement

When configuring the replace so that the resulting filename includes a "\" , I would expect the files to be renamed and moved to the according **subfolder**.

# Example

## Setup before
[code]
## PowerRename
Search for:
(\d{4})(\d{2})(\d{2})(.*)

Replace with:
$1\$1-$2-$3$4

![image](https://user-images.githubusercontent.com/29750255/126907869-9e56

[2021-07-25 18:11] franky920920 commented on #12500
Duplicate of #11898

[2021-07-25 18:12] franky920920 commented on #12500
This was fixed with the release of [v0.41.4](https://github.com/microsoft/PowerToys/releases/tag/v0.41.4).

Please update to the latest version of PowerToys and this issue should be resolved.

[2021-07-25 18:43] niels9001 commented on #12387
FYI - this is fixed. The remaining issue is a localization issue for NL.

[2021-07-25 19:42] niels9001 commented on #7053
Duplicate of #12019

[2021-07-25 19:42] #7053 closed

[2021-07-25 19:44] niels9001 commented on #12019
@vr-rpundir This is default behavior of the WinUI NavigationView.

[2021-07-25 19:48] niels9001 commented on #12019
Filed an issue against the WinUI repo: #5552

[2021-07-25 19:51] dasbootbee opened #12503 "Unable to search files on synced, offline file share folder"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [ ] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

1. Add a network location in Windows Explorer
2. Mark network folder as "Always available offline"
3. Wait for sync to finish
4. Perform a keyword search in start menu and see results (items indexed for start menu search)
5. Search for same keyword in Run

### ✔

[2021-07-25 19:51] zigzagoon1 commented on #12477
I tried Win + backspace and Win + Shift + ~ but shortcut guide didn’t open with either of them.

Thanks,
Kelly

[2021-07-25 20:38] htcfreek commented on #11860
One small nit: The background color of the and the navigation bat/title bar should be the same.

[2021-07-25 21:49] lostsomewhere commented on #12500
Thanks Franky

I missed that,: help appreciated
___________________________________________________________________

Many Thanks

Robin Chappell

email sent using webmail, please accept apologies for errors and typo's.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail

[2021-07-26 00:24] dend commented on #12460
Seems like that is just too much variability without much benefit. What is the value-add for the customer here in having the combined tray other than real estate, which I am not sure many folks worry about, since most of it is collapsed anyway?

[2021-07-26 03:02] 908875137 commented on #12349
Maybe we can add a group management and a shortcut for quick switching ？

[2021-07-26 03:11] 908875137 commented on #12349
Maybe we can add a group management and a shortcut for quick switching ？

[2021-07-26 03:14] BoYuanLee opened #12505 "need chinese pinyin to run apps"
powertoys run only run app when we type ‘微信’， we want to run app by type 'weixin' too;

[2021-07-26 05:10] salli20 opened #12506 "Powerpys run not working: C:\Users\frodg\AppData\Local\Microsoft\PowerToys\PowerToys Run\Logs\0.41.4.0\2021-07-26.txt"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

do alt space

### ✔️ Expected Behavior

Powertoys run

### ❌ Actual Behavior

Error

### Other Software

_No response_

[2021-07-26 08:01] niels9001 opened #12507 "[Settings] Replace theme radiobuttons with combobox"
### Description of the new feature / enhancement

Replacing the RadioButtons used for setting a module theme with a ComboBox because:
- Making #11860 easier down the line.
- Saving UI real estate - less space used.
- Avoiding accesibility issues/bugs like: #6032

Settings pages that would need to be addressed:
- General
- Run
- Shortcut guide

![image](https://user-images.githubusercontent.com/986

[2021-07-26 08:13] Jay-o-Way commented on #10383
Because Windows settings uses this too? The (small) benefit of the area is compensated by the amount of clicks necessary to change. ⚖️

[2021-07-26 08:38] yuyoyuppe commented on #6246
Yes, it does try to use best media format available. Perhaps we should provide a list of supported formats to choose from.

[2021-07-26 08:42] niels9001 commented on #12507
![image](https://user-images.githubusercontent.com/9866362/126960148-b9f53991-b38c-466e-a68d-80ceb6e57ef3.png)

Correct - I think the amount of clicks is a minor issue, since this is not a setting that is changed very often by users (is my assumption). It outweighs saving space and improved "glanceability" of the various settings.

[2021-07-26 09:29] Hakoyu opened #12508 "PowerRename"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerRename

### Steps to reproduce

Manipulate folders with a large number of numerically named files
![image](https://user-images.githubusercontent.com/48956359/126966787-46668486-ff6b-4e06-a522-fd89bbfef48d.png)

### ✔️ Expected Behavior

The files are sorted in numerical order e.g. from 1,2,3,4,5

[2021-07-26 10:03] SeraphimaZ commented on #9081
Thank you for the feedback! Could you please also attach the bug report? Right-click on the PowerToys tray icon, `Report Bug`. Thanks a lot!

[2021-07-26 10:56] stefansjfw commented on #6451
Can't reproduce this:
![image](https://user-images.githubusercontent.com/57057282/126978061-2caea259-f689-448b-a794-7fa5e4709dbd.png)

As screenshot shows, IsControlElement is TRUE even when textbox is empty

Please reopen if it's still reproducible with some specific repro steps

[2021-07-26 10:56] #6451 closed

[2021-07-26 11:42] avoidwork commented on #9081
Here's the bug report. [PowerToysReport_2021-07-26-07-41-32.zip](https://github.com/microsoft/PowerToys/files/6877830/PowerToysReport_2021-07-26-07-41-32.zip)

[2021-07-26 11:44] avoidwork commented on #9081
I disabled the screensaver during the weekend and I haven't had the settings revert on me; probably a coincidence.

[2021-07-26 13:02] mdcclxv opened #12511 ""Split the overlapped area into multiple activation targets" does nothing special"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

Design a few custom areas that overlap. Select "Split the overlapped area into multiple activation targets" in FancyZones setting section.

### ✔️ Expected Behavior

Don't know, never seen this setting in action. Never worked for me. I should be able to somehow pic

[2021-07-26 13:28] jaimecbernardo commented on #12506
Hi @salli20,
This report contains no information. What's the error?

Could you please send a bug report?

Right-click on the PowerToys icon in the tray menu and select Report Bug
![image](https://user-images.githubusercontent.com/17161067/113557438-afe62d80-9606-11eb-9b81-6260417981f5.png)
Drag and drop report into a GitHub comment.

[2021-07-26 13:54] Suyash1266 commented on #12301
Facing the same issue.
v.0.41.4
[PowerToysReport_2021-07-26-19-23-15.zip](https://github.com/microsoft/PowerToys/files/6878713/PowerToysReport_2021-07-26-19-23-15.zip)

[2021-07-26 14:38] jaimecbernardo commented on #12477
Can't seem to repro. It works for me on shortcuts that are not attributed to anything else.
Could you perhaps send another bug report to see if it's the same error message?
So, it's not working for any shortcut you set, is that right?

[2021-07-26 14:52] NicTanghe opened #12513 "Possibility to send programs to zones via console."
### Description of the new feature / enhancement

sending programs to zones using commands.
Maybe even an rust api ? but thats a but much ofc.

Example
`
pt sendto zone3 | code.
`
or
`
pt sendto zone 3 proces46705
`
IDK if that WS clear.

### Scenario when this would be used?

scripts / programs that use/ extend oppon the powertoys things.

### Supporting information

_No response_

[2021-07-26 14:58] jaimecbernardo commented on #12501
## Exception

[code]

## Environment
* Command Line: "C:\Program Files\PowerToys\modules\launcher\PowerLauncher.dll" -powerToysPid 4068 --centralized-kb-hook
* Timestamp: 07/25/2021 09:44:54
* Wox version: 0.41.4.0
* OS Version: Microsoft Windows NT 10.0.19043.0
* IntPtr Length: 8
* x64: True
* CLR Version: 3.1.15
* Installed .NET Framework:
   * v2.0.50727 2.0.50727.4927 SP2
   * v3.0 3.0.30729.4

[2021-07-26 14:59] jaimecbernardo commented on #12501
Hi @theburningman ,

Thank you for reporting it.

The log file says: `Access to the path 'C:\Users\BurningMan\AppData\Local\Microsoft\PowerToys\PowerToys Run\Cache\Image_version.txt' is denied.`
Do you have access to the file when trying to open it manually?

Could you please send a bug report too?
Right-click on the PowerToys icon in the tray menu and select Report Bug
![image](https://user-image

[2021-07-26 15:12] #12498 closed

[2021-07-26 15:16] jaimecbernardo commented on #12496
Hi @8ju,
Could you please some more information? It's hard to understand what this issue is about.

[2021-07-26 15:37] jaimecbernardo commented on #12490
Thank you for reporting it!
Could you please send a bug report?

Right-click on the PowerToys icon in the tray menu and select Report Bug
![image](https://user-images.githubusercontent.com/17161067/113557438-afe62d80-9606-11eb-9b81-6260417981f5.png)
Drag and drop report into a GitHub comment.

[2021-07-26 17:54] dedavis6797 commented on #12262
Hey @aleon68, @Aaron-Junker is correct in that it'd be faster to report this directly to the Snip & Sketch team on feedback hub.

I've personally wanted this feature myself, and it looks like quite a few others are requesting it as well. ;)
![image](https://user-images.githubusercontent.com/61330599/127035551-b1cefd4a-fa9b-49a3-8857-4a50a1b44f30.png)

@Jay-o-Way I'm not sure, we'd have to investig

[2021-07-26 17:54] #12262 closed

[2021-07-26 19:00] #12390 closed

[2021-07-26 19:02] aleon68 commented on #12262
Yes, is true, but a screenshot is not a snip, is all screen, on mostly
cases is not convenient capture all screen, only a window

El lun, 26 de jul. de 2021 a la(s) 12:54, Deondre Davis (
***@***.***) escribió:

--
Antonio León
A la mayoría de las personas prefiero darles la razón rápidamente antes que
escucharlas. Montesquieu

[2021-07-26 20:21] hichemfantar opened #12514 "Awake tray icon options not working"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

Awake, System tray interaction

### Steps to reproduce

Right click the Awake tray icon then change the mode and nothing will happen.
Only works if you change it from inside powertoys.

### ✔️ Expected Behavior

Mode should change.

### ❌ Actual Behavior

Mode does not change.

### Other Software

_N

[2021-07-26 20:51] MikeBee commented on #131
I'm very interested.  Is there an option to see/compile your fork, or is it private?

[2021-07-26 21:40] dedavis6797 commented on #12279
Thanks @IamEinstein! If what you're requesting is indeed similar to #1331, we'll close this as a duplicate to keep information centralized to that issue number. If it defers, please let us know so we can log it appropriately.

[2021-07-26 21:48] dedavis6797 commented on #12282
Hi @sql-chris-albert, thanks for reporting this! Can you give us more information on what type of monitor you're using, how it's connected (HDMI, DispalyPort, etc.), and what version of Windows you're running?

Also, the next time it happens, can you please attach a log generated from the report bug tool in your systray?
![image](https://user-images.githubusercontent.com/61330599/127063542-1376dee

[2021-07-26 23:11] AtnNn commented on #9300
i HAVE THE SAME ISSUE. i HAVE MAPPED "cAPS lOCK" TO "cTRL (lEFT)" AND OCCASIONALLY cAPS lOCK TURNS ON AND LIGHTS UP ON MY KEYBOARD. i AM UNABLE TO RELIABLY REPRODUCE OR TO TURN OFF cAPS lOCK.

[PowerToysReport_2021-07-26-15-56-24.zip](https://github.com/microsoft/PowerToys/files/6881636/PowerToysReport_2021-07-26-15-56-24.zip)

[2021-07-27 01:03] Ay-355 opened #12515 "App icon opens and closes on taskbar when launching PowerToys app."
### Microsoft PowerToys version

0.37.2

### Running as admin

- [ ] Yes

### Area(s) with issue?

General, Settings, System tray interaction

### Steps to reproduce

Run the PowerToys app and look at the taskbar. It might open and close and open again.

### ✔️ Expected Behavior

The app opens normally without any opening and closing/flashing, as every other app does.

### ❌ Actual Behavior

The a

[2021-07-27 01:25] imthiyazmuhammed opened #12516 "Keyboard manager malfunctioning"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

When keys remapped  (WIN+CTRL+RIGHT) remapped to PrintScreen and even the  mapped key works and also the right arrow key does the same job as a malfunctioning

### ✔️ Expected Behavior

only the mapped key should work

### ❌ Actual Behavior

some other keys w

[2021-07-27 01:35] slambert-msft commented on #12282
I am seeing this on multiple monitors, arranged as follows:

  *   1440x3440 100% Portrait (flipped) Dell U3421WE
  *   2160x3840 175% Portrait Asus PB287Q (primary)
  *   2160x3840 175% Portrait Asus PB287Q

This mostly happens after a new build of Windows (11) is installed.

I did verify today that it corrects itself if I simply launch the FancyZones Layout Editor once and then close it, without

[2021-07-27 01:50] 8ju commented on #12496
Hi Jaime Thank you for your email but 
I was just trying to install the image resizer I have managed to do that. 

Sent from Yahoo7 Mail on Android

  On Tue, 27 Jul 2021 at 0:46, Jaime ***@***.***> wrote:

Hi @8ju,
Could you please some more information? It's hard to understand what this issue is about.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2021-07-27 02:41] hkpc-code opened #12517 "keys remap"
I want you to be able to set key remapping for each applications.

[2021-07-27 04:50] marvinav commented on #12514
Duplicate of #12145

[2021-07-27 06:07] javier-marinas opened #12518 "Algo ha ido mal."
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

When Windows starts, the message appears.
Log:
[2021-07-27 07:51:10.1309] [INFO] [S:\src\modules\launcher\PowerLauncher\App.xaml.cs::46]
Starting PowerToys Run with PID=6612

[2021-07-27 07:51:10.2495] [INFO] [S:\src\modules\launcher\PowerLauncher\App.xaml.cs::51]
Run

[2021-07-27 07:08] eirinn1975 commented on #12460
My 2 cents: real estate is important, and having a less cluttered tray area gives a cleaner user experience , regardless of the fact that it's collapsed or not. Imagine having a tray icon for each single PT function. After a while it gets confusing. In addition to that, if the apps is not completely integrated into powertoys (which is one of the main points in using it instead of a myriad of littl

[2021-07-27 07:43] mykhailopylyp opened #12519 "[Color Picker] Color Picker doesn't hide if the shortcut was pressed again"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [ ] Yes

### Area(s) with issue?

ColorPicker

### Steps to reproduce

- Launch PowerToys
- Make sure Color Picker is enabled
- Press `Shift+Win+C`. Color picker should appear
- Press `Shift+Win+C`. Color picker should hide

### ✔️ Expected Behavior

Color picker hides

### ❌ Actual Behavior

Color Picker doesn't hide

### Other Soft

[2021-07-27 07:47] steve1412 commented on #12446
[PowerToysReport_2021-07-27-08-47-04.zip](https://github.com/microsoft/PowerToys/files/6883650/PowerToysReport_2021-07-27-08-47-04.zip)
I've turned it off for now. But previously it's set as default and it will just not launch the editor.

[2021-07-27 07:48] mykhailopylyp commented on #12519
We should probably consider switching to `RegisterHotKey` implementation in order to handle repetitive events.

[2021-07-27 08:13] mykhailopylyp commented on #9300
Probably keyboard hook can time out sometimes and that's why remapping is not applied

[2021-07-27 08:26] SeraphimaZ commented on #12511
@mdcclxv could you please attach a screenshot of your zones to clarify the problem?

Here is an example of how the algorithm works.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/8949536/127121588-b9738f4a-4c02-4225-a3a1-c84b4c5b5596.gif)

[2021-07-27 08:51] stefansjfw commented on #7042
Issue no longer exists on latest version
![image](https://user-images.githubusercontent.com/57057282/127125484-f1be78d4-59e2-4099-ba6b-5cb9f821107f.png)

[2021-07-27 08:51] #7042 closed

[2021-07-27 09:02] mykhailopylyp commented on #12491
Thank you for reporting it

What do you mean by 'Folders disabled'? Have you disabled the Folder plugin?

If you want to search outside of C:\ try to configure Windows Search settings
![image](https://user-images.githubusercontent.com/17161067/127127132-72f4e40e-26b6-462d-af2e-cd022c6f02ae.png)

[2021-07-27 09:27] jaimecbernardo commented on #12519
Actually, the intended behavior is for it to hide, right?
It hides when you press that button in the top left corner:
![image](https://user-images.githubusercontent.com/26118718/127130846-57cb7c20-3191-4466-984c-3482784c38f6.png)

[2021-07-27 09:29] jaimecbernardo commented on #12446
[code]

[2021-07-27 09:30] mykhailopylyp commented on #12519
Yes, updated the issue

[2021-07-27 09:31] jaimecbernardo commented on #12519
Thank you, it should be fixed by this, though: https://github.com/microsoft/PowerToys/pull/12441

[2021-07-27 09:34] jaimecbernardo commented on #12446
Looks a lot like https://github.com/microsoft/PowerToys/issues/11950

[2021-07-27 09:38] jaimecbernardo commented on #12518
Duplicate of https://github.com/microsoft/PowerToys/issues/11916

[2021-07-27 09:38] #12518 closed

[2021-07-27 09:38] jaimecbernardo commented on #12518
This might be caused by some older files not being uninstalled correctly.
Would you mind:
1 - Uninstall PowerToys.
2 - See if the PowerToys install directory (default: C:\Program Files\PowerToys) is still there. If it is, delete it manually.
3 - Install PowerToys.

Please let us know if this works for you.

[2021-07-27 09:39] #12514 closed

[2021-07-27 09:40] jaimecbernardo commented on #12496
Thanks for the feedback.
I'll close the issue, then.

[2021-07-27 09:40] #12496 closed

[2021-07-27 09:45] #12500 closed

[2021-07-27 09:50] SeraphimaZ commented on #12313
Closing the issue in favor of https://github.com/microsoft/PowerToys/issues/12251

[2021-07-27 09:50] #12313 closed

[2021-07-27 10:03] mykhailopylyp commented on #12501
Looks like a duplicate of https://github.com/microsoft/PowerToys/issues/11803

@theburningman
Try to follow instructions in https://github.com/microsoft/PowerToys/issues/11803#issuecomment-865897469 and let us know if it fixes your issue.

[2021-07-27 10:05] mykhailopylyp commented on #12490
Looks like duplicate of https://github.com/microsoft/PowerToys/issues/8921

[2021-07-27 10:18] mykhailopylyp commented on #12516
@imthiyazmuhammed
Thank you for reporting it.

Can you give examples of keys that misbehave? Also, steps to reproduce would be appreciated.

[2021-07-27 10:20] mykhailopylyp commented on #12517
Thank you for reporting it.
It is already tracked by https://github.com/microsoft/PowerToys/issues/6756

[2021-07-27 10:21] #12517 closed

[2021-07-27 10:21] SeraphimaZ commented on #12299
Closing the issue in favor of https://github.com/microsoft/PowerToys/issues/12251

[2021-07-27 10:21] #12299 closed

[2021-07-27 10:31] jaimecbernardo opened #12520 "PowerToys.Settings.exe crashes when starting up after upgrade of Microsoft.UI.Xaml"
### Microsoft PowerToys version

0.0.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

Settings

### Steps to reproduce

1. Build the PowerToys solution: https://github.com/microsoft/PowerToys/ (current master at the time of opening this issue: https://github.com/microsoft/PowerToys/commit/24a80de2ec03b5d80cb6dc55f6e61da5dada1630 )
2. Run PowerToys through Ctrl+F5
3. Right-click the sys

[2021-07-27 10:32] jaimecbernardo commented on #12520
Downgrading `Microsoft.UI.Xaml` from `2.6.1-prerelease.210709001` to `2.6.0-prerelease.210623001` makes the Application work correctly again.

[2021-07-27 10:37] jaimecbernardo commented on #12520
I've submitted an issue to Microsoft.UI.Xaml here: https://github.com/microsoft/microsoft-ui-xaml/issues/5546

[2021-07-27 10:56] BadSanta12345 opened #12522 "Always on top toggle button to system menu of windows"
![image](https://user-images.githubusercontent.com/24665916/127142141-92843068-9fbe-4075-b0cc-3da0431554e9.png)
![image](https://user-images.githubusercontent.com/24665916/127142151-8d809ed5-6497-4610-aa9b-4f8d45a2d767.png)
Would be useful to have this kind of toggle automatically added to all windows. Basically it would just toggle WS_EX_TOPMOST style of the window.

[2021-07-27 11:00] Firestone91 commented on #3248
Hello guys,
I wanted to ask how is going about this function. I am waiting for this Currency converter from last year, but no particulars so far.
Have you now any API or database from where the powertoys could get the currency data? Or an IDEA how do this?

dedavis6797 commented 26 days ago in #12112

But in “Projects” to versions 0.45 and 0.47 I can't find this function.

PS, I admire your work w

[2021-07-27 11:09] jaimecbernardo commented on #12515
Thanks for reporting it.
This is reproducible in 0.41.4.

[2021-07-27 11:09] jaimecbernardo commented on #12515
Notes for developers:
It's not a crashing bug.
While it's an annoyance, it shouldn't be the cause of any issues that make PowerToys not work.

[2021-07-27 11:36] reelism commented on #12491
Yes disabled the "folders" plugin.

Yes, have manually added D:\MyApps\ , and it shows folders in /MyApps/

[2021-07-27 11:37] SheepDomination opened #12524 "Simultaneously Rotate Display Orientation and Taskbar ?"
Is there a way I can switch not only the display from portrait <> landscape but also the task bar position at once; without having to do it manually ?

[2021-07-27 11:53] mykhailopylyp commented on #12447
@Thatkookooguy
Sorry for the long reply. Would you be able to install a private unsigned build to help us troubleshoot the issue?

[2021-07-27 11:58] LeeSH825 opened #12525 "FancyZones is not working right after booting"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

Right after computer boots, screen gets grey and error message pop-ups; "FancyZones is not working".

### ✔️ Expected Behavior

_No response_

### ❌ Actual Behavior

FancyZones is not working right after booting

### Other Software

_No response_

[2021-07-27 12:03] mdcclxv commented on #12511
Although you did select "Split  the overlapped area ..." option, the way I see it in your animation is still  "the zone whose center is closest to the cursor", so what exactly is the difference? I'm in the dark :(

Anyway, here is my desired layout. Areas 8&9 are top half and top bottom, respectively, and are completely obscuring the other zones. If you would implement the z-order concept and offe

[2021-07-27 12:05] dietman commented on #12517
It's not a shortcut, but a keycode remap.
For example, you can change the "C" key to "Ctrl" and pass it to a single application.

[2021-07-27 12:11] Thatkookooguy commented on #12447
@mykhailopylyp sure. You can send it to me at neilkalman@gmail.com

[2021-07-27 13:37] stefansjfw commented on #11454
Nothing to do here. Bug report tool already collects Awake data

[2021-07-27 13:37] #11454 closed

[2021-07-27 13:57] IamEinstein commented on #12279
Yeah, it's similar to #1331, so let me will close this issue.

[2021-07-27 13:57] #12279 closed

[2021-07-27 14:07] daneasley commented on #5863
This is a really lousy design flaw.  I shouldn't need to give my user administrative privileges just so the Control key can go back to where it doesn't cause physical pain.

[2021-07-27 14:38] steve1412 commented on #12446
I had issues with fancy zone and did a clean install, which solved fancy zone's issue. Do you think it may still have some files left somewhere for it to bug Colour picker?

[2021-07-27 14:41] stefansjfw commented on #12148
https://github.com/microsoft/PowerToys/pull/12512 should prevent this from happening again

[2021-07-27 15:04] joshwritescode commented on #1411
Thank you so much for the work on this feature! As happy as I am to have a keyboard shortcut to swap layouts, a 5-button combination is only useful in a few situations. I think it would be really nice if, while holding shift and dragging a window to drop into a zone, I could press the ~ key to quickly swap between layouts I have assigned a number.

[2021-07-27 15:19] jaimecbernardo commented on #12446
Yes, related to ModernWpf. We have had that before and manually deleting the folder seems to have fixed it for them: https://github.com/microsoft/PowerToys/issues/11950#issuecomment-878406452

[2021-07-27 15:34] mykhailopylyp commented on #12430
@woodelph
Thank you for following up! And sorry for a long reply.
I think I was able to reproduce it. I've got stuck key by switching(`Alt+Tab`) from an elevated application(e.g. Task Manager).

Can you try to run PowerToys elevated and verify if your issue persists? Let us know the result.
![image](https://user-images.githubusercontent.com/17161067/127183127-eb2c3e83-9c21-478d-bc6b-112afe68a90a.p

[2021-07-27 15:35] damienbutt opened #12526 "PowerToys Run - Windows Settings - Windows Update"
Hello,

Is there something specific I need to search for to get PowerToys Run to find the Windows Update setting?

I have tried "windows update", "update", "check for update". Should this work?

Currently, I still have to use the "Windows Start" key and then type to search for and get there.

[2021-07-27 15:38] mykhailopylyp commented on #12430
In order to reproduce stuck key.
- Add remapping `Alt -> Ctrl`
- Focus the Task Manager
- Press `Alt+Tab`
- Verify that `Alt` key is stuck. Can be verified with On-Screen Keyboard.

[2021-07-27 15:41] ifwlzs opened #12527 "i need `top window` Component"
### Description of the new feature / enhancement

In daily use, I often use music software to listen to music, such as foobar, and use its top lyrics function, which sometimes causes the lyrics to be obscured by other windows when switching between them frequently.
In addition to this, I sometimes watch videos in my browser and I hope to have a top window function. In this way I can watch videos a

[2021-07-27 15:45] mykhailopylyp commented on #11931
Reconsidering win key behaviour is tracked in https://github.com/microsoft/PowerToys/issues/11963.
We will consider adding option to show only numbers in Post stabilization milestone

[2021-07-27 15:50] mykhailopylyp commented on #11884
We show labels according to the system languge. If you change input language it doesn't affect application labels.
Adding it to the Post stabilization milestone.

[2021-07-27 15:55] jaimecbernardo commented on #11922
This is a duplicate of #11898 .

This was fixed with the release of [v0.41.4](https://github.com/microsoft/PowerToys/releases/tag/v0.41.4).

Please update to the latest version of PowerToys and this issue should be resolved.

[2021-07-27 15:56] #11922 closed

[2021-07-27 16:03] jaimecbernardo commented on #11319
Hi @d6mck ,

This might be caused by some older files not being uninstalled correctly.
Would you mind:
1 - Uninstall PowerToys.
2 - See if the PowerToys install directory (default: C:\Program Files\PowerToys) is still there. If it is, delete it manually.
3 - Install PowerToys.

Please let us know if this works for you.

[2021-07-27 16:03] sitary commented on #12389
By desktops do you mean monitors? If yes, pressing Win + Shift + -> {left arrow) or Win + Shift + <- (right arrow) is the default behavior.

[2021-07-27 16:05] jaimecbernardo commented on #11301
Isn't this the same one as this one?
https://github.com/microsoft/PowerToys/issues/11410

[2021-07-27 16:12] SeraphimaZ opened #12528 "[FancyZones Editor] Editor doesn't close via closing button."
After https://github.com/microsoft/PowerToys/pull/12510 Editor won't be closed via clicking on the `Close` button and stays open. `EventWaitHandle` keeps it alive, so we need to stop it on closing.

[2021-07-27 16:15] SeraphimaZ commented on #12525
@LeeSH825 can you please attach a bug report? Right-click on the PowerToys tray icon, `Report Bug`. Thanks!

[2021-07-27 16:15] jaimecbernardo commented on #11268
Hi @ggrinton ,

This might be caused by some older files not being uninstalled correctly.
Would you mind:
1 - Uninstall PowerToys.
2 - See if the PowerToys install directory (default: C:\Program Files\PowerToys) is still there. If it is, delete it manually.
3 - Install PowerToys.

Please let us know if this works for you.

[2021-07-27 16:16] SeraphimaZ commented on #12525
@LeeSH825 if you restart PowerToys manually, does FancyZones work?

[2021-07-27 16:21] #10885 closed

[2021-07-27 16:46] jaimecbernardo commented on #11804
Related issue: https://github.com/microsoft/PowerToys/issues/11803

[2021-07-27 16:55] korhun commented on #4450
A workaround: Using X-Mouse Button Control software you can assign volume up and volume down to the mouse buttons. (So this request is definitely can be implemented.) Then you remap a key and press the mouse button that you've assigned as volume up or down functionality.

![image](https://user-images.githubusercontent.com/2440301/127195351-510b7f04-4986-4f54-b4c2-daac15fd68e6.png)

[2021-07-27 17:12] alexwhittemore commented on #975
Consider this an upvote I guess. WinAero tweaker actually seems more useful to me than it is for @LtCmdrKeene but it's still lacking the ability to remove items it didn't put there, for the most part. For instance, I use Synology Drive and for some reason I have two entries from that in my pane, when neither of them are actually useful. WinAero Tweaker gives me the option to remove one of my two O

[2021-07-27 17:14] LtCmdrKeene commented on #975
I’m happy to see that Windows 11 has more options to remove a few top level items like Network and This PC. Which, because it’s full of redundant local folders (which are already in my OneDrive too), I nearly never use and am happy to reach using favorites/quick access or just the > icon in the address bar.

[2021-07-27 17:21] imthiyazmuhammed commented on #12516
when a shortcut is made with CTRL+WIN+RIGHT is assigned to PrintScreen Key, The right arrow key itself does the job. and also several keys such as semicolon and more malfunctions.

[2021-07-27 17:48] dbalabka commented on #12081
@dend IMO there is a bug with Windows System command “sleep” executing via PowerToys Run. For some reason it turn off the computer. Is there possibility to switch from Hibernate to regular Sleep?

[2021-07-27 17:52] dbalabka commented on #12081
@byshai there are two separate commands Hibernate and Sleep. It seems that Sleep command’s behavior is broken

[2021-07-27 17:53] dtknepper opened #12531 "Screenshot feature like WeChat Desktop"
A screenshot feature like WeChat desktop has. You would be able to use a keyboard shortcut to select the area you want to screenshot and make some edits/notes in the screenshot straight away. Then the screenshot would be either saved by the user or copied to the clipboard.

[2021-07-27 17:54] dbalabka commented on #12081
I suspect this ticket is the duplicate of #10557

[2021-07-27 17:57] dbalabka commented on #10557
Running into the same issue on v0.41.4. Sleep command does the same as Hibernate command:
![image](https://user-images.githubusercontent.com/1269372/127204206-c5f32ab8-1898-4c98-89ea-9968369a157e.png)
![image](https://user-images.githubusercontent.com/1269372/127204172-09b064d2-a7ef-4442-a4c6-d670dacc307f.png)

[2021-07-27 18:05] rdeveen commented on #12526
Make sure the Windows Settings Plugins is enabled in the PowerToys Run section of the settings.

![image](https://user-images.githubusercontent.com/5731724/127205030-7ee2440a-c68d-4243-bbc9-82895e1fc1be.png)

To search in the Windows Settings begin the search with $ or enable "Include in global result".

![image](https://user-images.githubusercontent.com/5731724/127205248-88594a9e-c1e6-46e4-a798-6

[2021-07-27 18:11] graq commented on #12389
No, I mean virtual desktops. Like those you see in the upper row when pressing Win+Tab.
Or is there any keyboard shortcut to move windows between the desktops.
The only way I know is drag and drop after pressing Win+Tab

[2021-07-27 18:16] DavidOgilvie opened #12532 "[Shortcut Guide] Graphics are blank when in Dark Theme and "High Contrast Black" colour scheme"
1. Set Windows to "High Contrast Black" colour scheme (Windows+I > Ease of Access > High Contrast > Choose a scheme > "High Contrast Black".
2. Start PowerToys and set theme to "Dark Mode".
3. Go to "Shortcut Guide".

Graphics show up as white boxes with no graphic (see attachment).
[PowerToysReport_2021-07-27-12-22-39.zip](https://github.com/microsoft/PowerToys/files/6887778/PowerToysReport_2021-

[2021-07-27 18:21] Aaron-Junker commented on #12531
@dtknepper Most of this features are in Windows Snip & Sketch (You can launch it via win+shift+s). For suggestions for Snip & Sketch please file them in the
[Feedback Hub](https://aka.ms/feedbackhub).

[2021-07-27 18:26] dtknepper commented on #12531
@Aaron-Junker thats true, however it doesnt work as smoothly. I thought maybe the proces could be optimized so to say.

[2021-07-27 18:55] Aaron-Junker commented on #12531
As I said
[Feedback Hub](https://aka.ms/feedbackhub) is the way to go

[2021-07-27 20:19] EricSch opened #12533 "Awake: More possibilities with other apps"
### Description of the new feature / enhancement

Would also be a great benefit, when Awake works with Microsoft Teams and other online detection apps.
Now the PC stays awake, but for example Teams changes the status anyway to 'Away', it should stay in 'Online'.

### Scenario when this would be used?

For example for helpdesk worker, it benefits, when they always appear online and the status doesn

[2021-07-27 20:57] d6mck commented on #11319
Hi, @jaimecbernardo, did exactly that [back in May](https://github.com/microsoft/PowerToys/issues/11319#issuecomment-842945933)!

[2021-07-27 21:04] jaimecbernardo commented on #11319
Sorry I missed that.
We're adding some provisions to catch this exception on the next release, plus get the installer to restart if needed.
Just wanted to make sure this was the sourxe of the bug for you, and it seems that it was.
Thank you.
I'll mark the issue to close after next release.

[2021-07-27 22:03] turmacar opened #12534 "Modular install options"
### Description of the new feature / enhancement

The option to only install/update some subset of the utilities.

### Scenario when this would be used?

My (and many other) organizations have policies about screen timeouts for security reasons. Having to install all modules or nothing disqualifies PowerToys because of the Awake Utility.

Dubious security rationale or not, being able to install on

[2021-07-28 01:59] ggrinton commented on #11268
Thank you  @jaimecbernardo . I am not having issues with the current version.

[2021-07-28 02:10] bearoxo commented on #10939
yuuuup.. it stopped working for me too

[2021-07-28 02:21] ryohandoko9056 opened #12535 "Installer won't run"
### Microsoft PowerToys version

0..41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

Installer

### Steps to reproduce

Run the PowerToys Installer as administrator, it did load, but it didn't show anything up.

### ✔️ Expected Behavior

Installer run as normal

### ❌ Actual Behavior

Only load something, and then installer itself didn't run

### Other Software

Windows Version: 21H

[2021-07-28 02:23] dend commented on #12460
Every app in PowerToys can be used as a standalone component 😀 The PowerToys Settings is merely a configuration abstraction that helps the user not to deal with JSON files. You can launch separate modules separately (they are mostly self-contained).

I'd be curious - how many applications do you have in the system tray? It's also not one of the _most_ used real estates (as in - a user is not click

[2021-07-28 02:41] JordanDShen opened #12536 "Discord does not split correctly"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

Edit the Rows layout preset and edit to two rows, disable Space Around Zones.

![image](https://user-images.githubusercontent.com/43327422/127254996-b81ba7ca-4c87-423d-bfe4-ca737eecc9f4.png)

![image](https://user-images.githubusercontent.com/43327422/127254964-836

[2021-07-28 03:10] dedavis6797 commented on #12300
This functionality will be available in Windows 11. We'll keep this in our backlog for now in-case there is high interest in back-porting for Windows 10.

[2021-07-28 03:13] dedavis6797 commented on #12301
Yeah this happens to me quite often. @mykhailopylyp are the logs providing any meaningful insight on the cause?

[2021-07-28 03:30] dedavis6797 commented on #12322
Hi @peterjuras, can you please attach the logs generated by the bug report tool in your systray?
![image](https://user-images.githubusercontent.com/61330599/127259118-7b52342a-5345-4f1f-9cc5-48ca5ccdf811.png)

[2021-07-28 03:36] dedavis6797 commented on #12324
Thanks for the suggestion @msang208! We'll close this in favor of https://github.com/microsoft/PowerToys/issues/10218 as it describes similar functionality

[2021-07-28 03:36] #12324 closed

[2021-07-28 03:49] dedavis6797 commented on #12330
This is interesting, I can't seem to repro on my machine. @dragoncommits , can you please attach the logs generated by the bug report tool in your systray?

![image](https://user-images.githubusercontent.com/61330599/127260540-6354ccda-80f1-4c53-a9a3-fcd58ef3c781.png)

Also, does this behavior happen every time you perform the repro steps, or only occasionally?

[2021-07-28 04:01] dragoncommits commented on #12330
Updated steps to get this bug every time

select editor setting
open color picker
while it is still open select color picker only
[PowerToysReport_2021-07-28-00-00-36.zip](https://github.com/microsoft/PowerToys/files/6890200/PowerToysReport_2021-07-28-00-00-36.zip)

[2021-07-28 04:13] dedavis6797 commented on #12341
Hi @yeezy, can you please attach the logs generated by the bug report tool in your systray?

![image](https://user-images.githubusercontent.com/61330599/127262616-c203116f-c611-40fd-ac25-fea40b5abba2.png)

[2021-07-28 04:42] Bluejanis commented on #279
None of the ones I tried worked.

If anyone can do it, it would be Microsoft, right? It's your operating system, after all.

[2021-07-28 05:10] eirinn1975 commented on #12460
I see, yet the main window acts basically as "one ring to rule them all" 🙂. I have around 12 icons in addition to the system ones. Different services tend to have a tray icon, and I'm trying to keep them under control (still the number says that I'm not really that good at it 😁) in order to avoid to look too long for the right icon every time I need to change something. Even the power toys icon it

[2021-07-28 06:05] dedavis6797 commented on #12330
Ok great, thanks. The logs don't seem conclusive, but we'll investigate further in the coming releases.

[2021-07-28 07:06] dedavis6797 commented on #12357
Thank you for reporting this @jeffjcom! From the discussion thus far, I agree with @dend that this isn't likely something Awake should consider. We'll close this for now and revisit if more feedback/guidance comes in suggesting otherwise.

[2021-07-28 07:06] #12357 closed

[2021-07-28 07:23] dedavis6797 commented on #12358
We can probably be more descriptive here to clarify that `Quick layout switch` is shortcut activated.

[2021-07-28 07:31] dbalabka commented on #10557
Probably, `SetSuspendState` is puting machine into `Suspend` state instead of `Sleep` state.
[code]
https://github.com/microsoft/PowerToys/blob/v0.41.4/src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs#L120

I've tried to call this method directly:
[code]
All, five variants do the same.

In my case, following suspend states are available:
[code]

More about sleep states: h

[2021-07-28 08:28] dedavis6797 commented on #12386
Updated, thanks!

[2021-07-28 08:28] #12386 closed

[2021-07-28 08:28] #12528 closed

[2021-07-28 08:51] lloydparker81 opened #12537 "PowerToys - Completely Disable Awake option"
Hello
Is there an option/ability to completely disable the 'Awake' option from the PowerToys (v0.4.41.4) menu? I have search within the settings, regsitry, etc. and I can't see an option to completely disable.
I found the .json file under the user's profile (%localappdata%\Microsoft\PowerToys\settings.json) where you can change the Awake option from "True" to "False". This does disable this option

[2021-07-28 08:52] GurSharonSH opened #12538 "FancyZones - Select multiple zones"
### Description of the new feature / enhancement

Current behavior - When holding a window and clicking the secondary mouse button the zones appear and the user can drag the window to any zone, or between 2-4 zones to make it fill all of them.
I split my display to 8 zones, 2 rows and 4 columns. If I want to select 6 cells instead of two or four, I have to resort to the Ctrl button.
I would sugges

[2021-07-28 08:55] Aaron-Junker commented on #12537
@lloydparker81 I'm not really sure what you mean. But if you mean what I think that you mean you can deactivate Awake in the PowerToys settings.
![image](https://user-images.githubusercontent.com/58633848/127294103-4ccc82f4-99fb-4449-b98c-42651f2eaadd.png)

[2021-07-28 08:55] Aaron-Junker commented on #12537
Please tell me if you think of something different.

[2021-07-28 09:28] jaimecbernardo commented on #11268
We expect this https://github.com/microsoft/PowerToys/commit/5e4f50fa45a31bab1a78ec76d454073df0f4e69e to make these sort of errors less common.

[2021-07-28 09:36] lloydparker81 commented on #12537
Hi Aaron - thank you for the reply.
The company I work for want to use PowerToys, well mainly Fancy Zones but we don't want users to have the ability to enable the Awake option and keep their machine active.
It seems currently that users can enable and disable that option when they want, we want to disable it completely. So Awake option is always Off (greyed out) and can't be enabled unless you ha

[2021-07-28 09:48] jaimecbernardo commented on #12330
I've been able to replicate this in 0.41.4.
I expect this to be fixed on the next release, though, since it's no longer possible to replicate it on master.
This should be fixed after https://github.com/microsoft/PowerToys/commit/65618ffa9cdc7cbdfd54fc97265802baf54e336b gets released.

[2021-07-28 10:08] SeraphimaZ commented on #12251
@bimbox0 @LazyRen @chiepu3 @otzslayer @ru-tei would you be able to install a private unsigned build to help us troubleshoot the issue? In this build I added logs to localize the problem.

To help you should
* Uninstall PowerToys
* Install https://github.com/SeraphimaZ/PowerToys/blob/crash_logs/private_build/PowerToysSetup-0.0.1-x64.exe
* Upload the bug report after the issue is reproduced

Thank y

[2021-07-28 10:11] niels9001 commented on #12023
@dedavis6797 any updates on previous comment?

[2021-07-28 10:18] niels9001 opened #12539 "[Color Picker] Adopt WinUI 2.6 colors"
We currently use colors defined in older versions of WinUI 2.6. With the new version, new colors have been defined to be used as Foreground brushes and Background colors. This will bring all PowerToys modules (that are WPF based) inline with OS/WinUI settings and will resolve accessibility issues we currently have or might have in the future.

Related issues: #11987 #11986

![image](https://user-i

[2021-07-28 10:24] geekyshubham opened #12540 "Key Combination Is not allowed while Remapping Keys"
### Description of the new feature / enhancement

Key Combination Is not allowed while Remapping Keys so please add in feature so that key combinations can also be remapped or new shortcuts can be created by user.

### Scenario when this would be used?

It is extremely useful as my laptop doesn't have dedicated home , page up/dwn and End button i have to use another workarounds for using them

###

[2021-07-28 10:26] niels9001 commented on #81
Windows 11 addresses this issue. @RXminuS do you feel that we can close this issue?

[2021-07-28 10:27] niels9001 opened #12541 "[FancyZones Editor] Adopt WinUI 2.6 colors"
We currently use colors defined in older versions of WinUI 2.6. With the new version, new colors have been defined to be used as Foreground brushes and Background colors. This will bring all PowerToys modules (that are WPF based) inline with OS/WinUI settings and will resolve accessibility issues we currently have or might have in the future.

Related issues: #12345

![image](https://user-images.g

[2021-07-28 10:28] niels9001 opened #12542 "[Image Resizer] Adopt WinUI 2.6 colors"
We currently use colors defined in older versions of WinUI 2.6. With the new version, new colors have been defined to be used as Foreground brushes and Background colors. This will bring all PowerToys modules (that are WPF based) inline with OS/WinUI settings and will resolve accessibility issues we currently have or might have in the future.

![image](https://user-images.githubusercontent.com/986

[2021-07-28 10:32] mykhailopylyp commented on #12491
@reelism
The portable app directory is shown by the Windows Search plugin. So if you don't want it to show, just disable the Windows Search plugin or remove that folder from the windows search index(will affect windows search).

Is your issue resolved now?

[2021-07-28 10:39] mykhailopylyp commented on #9300
@AtnNn
Try to run PowerToys as administrator and let us know if the issue is gone.
Caps Lock probably gets activated when an elevated application is focused(e.g. Task Manager).

[2021-07-28 10:56] stefansjfw commented on #9959
@stevemagruder Can you try disabling PowerToys Run from Settings and then see if the issue is still there?

[2021-07-28 11:58] mykhailopylyp commented on #12447
@Thatkookooguy
- Download the private build from https://github.com/mykhailopylyp/PowerToys/blob/issue-12447-test-build/PowerToysSetup-0.0.1-x64.exe
- Uninstall the current version of PowerToys using Control Panel
- Install the private build
- Make sure remapping are present in the Keyboard Manager(check settings)
- Press 1 five times
- Press `Ctrl+Shift+A` from the harmony hub
- Press 1 five time

[2021-07-28 12:00] Aaron-Junker commented on #12537
Thank you. Now I understand what you mean. Sadly we don't support such a feature at the moment.

You have now 3 options:
1. Build your own version of PowerToys with the features you want for your company.
2. You can write protect settings.json in C:\Users\[USER]\AppData\Local\Microsoft\PowerToys (But this makes the settings page inaccesible) (FancyZones settings still work)
![image](https://user-i

[2021-07-28 12:17] mykhailopylyp commented on #12516
@imthiyazmuhammed

What do you mean by it? The screenshot is taken when you press just the right arrow key?

How exactly do they malfunction? What kind of behaviour do you see and what kind of behaviour do you expect from it?

Also, can you always reproduce it?

[2021-07-28 12:34] mykhailopylyp commented on #12301
@dedavis6797
In the bug report we don't have any useful information. I think it should be always reproducible on Windows 11.

[2021-07-28 12:37] jaimecbernardo commented on #12535
I've been unable to replicate it.
I've tried running the installer as administrator by right-clicking it and running as administrator and it ran as expected.
What is your use case that needs to run the installer as an administrator?
Does it run normally?

[2021-07-28 12:38] peter-hvass commented on #279
Big shame that this was closed. It'd be an excellent addition and I'm not quite sure I see the reason for closing the issue given it's such a widely requested feature.

[2021-07-28 12:45] ryohandoko9056 commented on #12535
No, it also didn't run without running as administrator.

[2021-07-28 12:52] mykhailopylyp commented on #12526
@damienbutt
Closing it. Feel free to reopen if it still doesn't work for you.

[2021-07-28 12:52] #12526 closed

[2021-07-28 12:53] jaimecbernardo commented on #12535
And no error message?
Would you mind zipping and sharing these files here in github?
`%localappdata%\Microsoft\PowerToys\powertoys-bootstrapper-exe-0.41.4.log` and  `%localappdata%\Microsoft\PowerToys\powertoys-bootstrapper-msi-0.41.4.log`?

[2021-07-28 12:58] lloydparker81 commented on #12537
Hi Aaron

Thank you for confirming this, I was struggling to find a way to disable it. I was hoping there was something which could be amended and disable the feature. Especially as the 'File Explorer add-on' seems to be as default disabled and requires administrator rights to enable it.
But if this isn't currently an option to disable 'Awake' within PowerToys itself, then yes if you could suggest

[2021-07-28 13:11] SeraphimaZ commented on #12457
@diegocjorge would you be able to install a private unsigned build to help us troubleshoot the issue? In this build I added logs to localize the problem.

* Uninstall PowerToys
* Install https://github.com/SeraphimaZ/PowerToys/blob/crash_logs/private_build/PowerToysSetup-0.0.1-x64.exe
* Upload the bug report after the issue is reproduced

Thank you for your help!

[2021-07-28 13:30] ryohandoko9056 commented on #12535
Here's a Fun Fact: There's Nothing in that folder.
![image](https://user-images.githubusercontent.com/71830623/127330831-c9ed0337-bd9c-4cb2-af01-7da5ab58c747.png)

[2021-07-28 13:59] jaimecbernardo commented on #12535
That's unexpected :)
Could you perhaps use the `--log_dir` argument in the installer to try and see if we can get some logs from the process?
https://github.com/microsoft/PowerToys/wiki/Installer-arguments-for-exe

[2021-07-28 14:48] LtCmdrKeene opened #12545 "PT Run: Rename index warning checkbox to "Disable non-indexed files warning""
### Description of the new feature / enhancement

Minor feedback - I wanted to remove the "not all files are indexed" warning (I'm okay with only indexing my primary locations), but it wasn't clear how to remove the prompt.

I discovered that this warning is controlled by the "disable drive detection warning", even though the warning itself never actually mentions drives or that having an external

[2021-07-28 14:53] aboelzobyr commented on #9143
@stefansjfw I tried so

error still persists!!

[2021-07-28 15:10] SeraphimaZ commented on #12511
This algorithm doesn't select a zone whose center is closest to the cursor. It splits the overlapped area into invisible sub-zones where you can choose any from the overlapping subset.
This example is more clear I suppose. Here are overlapping zones where the last zone is the biggest and hides all other zones. So you can choose zones that are overlapped with bigger ones. Hope it helps!

![ezgif co

[2021-07-28 15:13] Aaron-Junker commented on #890
What exactly is the status of this?

[2021-07-28 15:18] jim0203 commented on #131
I was working with a client this morning who would love to have access to a "shake to find" cursor. It seems like a lot of people prefer it to the "control to locate" functionality you get in Windows. Has there been any progress on this?

[2021-07-28 15:50] rrlevy commented on #11254
I'm also having the same problem for some time now.

Usually after the computer sleeps and comes back, Fancy Zones crashes: The zones don't work anymore (with the Shift key) and I can't open the editor. The hotkey will not work, not even clicking the button to launch the editor at settings.

I tried deleting the Fancy Zones settings folder as recommended above but it didn't fix the issue.

Restart

[2021-07-28 15:51] SeraphimaZ commented on #12536
Tried to reproduce the issue with no luck. Could you please provide more information? Was Discord actually snapped to a zone? If yes you could find it in the `AppData\Local\Microsoft\PowerToys\FancyZones\app-zone-history.json` as
[code]

![Untitled](https://user-images.githubusercontent.com/8949536/127350674-955b9b4d-5952-4da0-8d30-8e4318f56f28.png)

[2021-07-28 15:54] mykhailopylyp commented on #12540
What do you mean by key combinations? We currently support remapping shortcuts(e.g. `Ctrl+X`, `Shift+Alt+Q`)

![image](https://user-images.githubusercontent.com/17161067/127355252-3cdb6e50-0eb3-405c-9e73-be956376d815.png)

[2021-07-28 16:10] habassa5 commented on #279
Amen

[2021-07-28 16:15] bytemybitz opened #12547 "Add an option to manage status"
### Description of the new feature / enhancement

I noticed that with Awake enabled my status will still switch to Away if I don't interact with the keyboard/mouse in the defined time window.  It would be nice to have an option to keep my status as Available or at least not switch to Away.

### Scenario when this would be used?

I don't want to appear Away when I'm working on something else.

###

[2021-07-28 16:25] mdcclxv commented on #12511
That looks great, except it doesn't work that way with my layout, I can only select zones 8 and 9 :(

[2021-07-28 16:25] giaaaacomo opened #12548 "FancyZones doesn't recognize multiple monitors"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones Editor

### Steps to reproduce

Just opened the editor after plugging in my new iiyama monitor via hdmi

### ✔️ Expected Behavior

FancyZones editor to recognise the right amount of panels and screenspace, thus separating them and allowing to edit and use all the available space

### ❌ Act

[2021-07-28 16:29] JordanDShen commented on #12536
Couldn't find it in the app history, so it seems the real issue is I am unable to snap my Discord client to a zone.

[2021-07-28 16:31] crutkas commented on #279
This wasn't closed, it is still open and something we plan to look into. We know how to solve one scenario but not another. This is something we want to look into after stabilizing the main core / current utilities.

If you think you'd like to help out, happy to sync

[2021-07-28 16:34] peter-hvass commented on #279
Great to hear!

[2021-07-28 16:50] SeraphimaZ commented on #12511
The 4th is the largest. 2nd is bigger than 1st and overlaps it completely, 3rd is bigger than the 2nd and the 4th obscures them all.

[2021-07-28 16:53] mdcclxv commented on #12511
Then it's pretty similar with what I have, all the zones up to 7 are obscured by 8 and 9, yet I cannot access them. Can you please make zones 3 and 4 full width, 3 on the top half of the screen and 4 on the bottom half, see if it works?

[2021-07-28 17:01] SeraphimaZ commented on #12511
Sure, it works the same way, all zones are accessible.

![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/8949536/127365079-c8cd1267-b615-4bbb-b670-ad5b358e8367.gif)

[2021-07-28 17:02] mdcclxv commented on #12511
Ok, then why isn't it working this way in my system?

[2021-07-28 17:04] mdcclxv commented on #12511
I removed zone 8 & 9 and still the zones that are partially obscured are only accessible via the visible corners and not via the overlapping areas.

[2021-07-28 17:08] SeraphimaZ commented on #12511
Just to make sure, is the `Split the overlapped area..` is actually selected?
And could you please record how it works on your system?

[2021-07-28 17:08] mdcclxv commented on #12511
I've reproduced your layout and is working! I'm going to delete my layout and recreate it.

[2021-07-28 17:20] SeraphimaZ commented on #12536
Just to make sure, do you have Discord in the `Excluded apps` in the FancyZones Settings?
Also, did you start Discord as administrator?

[2021-07-28 17:34] mdcclxv commented on #12511
Shazam! It's working now! The only idea that I have is that one of the upgrades somehow corrupted the json file that stores the settings. I know for sure this was an issue in some early versions. Does it make sense?

Anyway, I'm a happy coder now :)
Thanks for you time and effort.

[2021-07-28 17:42] dedavis6797 commented on #12387
Thanks @niels9001, just sent this to the loc team.

[2021-07-28 17:58] Vijay-Nirmal commented on #1908
I don't think this is a bad idea. In Win 8, the Desktop window will show in Alt Tab but removed in Win 10. Here is a [superuser question](https://superuser.com/questions/954016/windows-10-alttab-cant-switch-to-desktop) with a lot of upvotes. I think many users need this feature.

[2021-07-28 18:11] noshlag commented on #12548
Do you have the "Allow zones to span across monitors" setting checked in the FancyZones settings?

[2021-07-28 18:25] dedavis6797 commented on #12389
Good suggestion, maybe there's functionality we can add to FancyZones to enable this. We'll log this in our enhancements milestone for consideration following our general stability efforts. Thanks!

[2021-07-28 18:28] AtnNn commented on #9300
@mykhailopylyp Thanks for investigating. I have always had Adminstrator Mode enabled. This issue has occurred while using non-elevated applications such as Emacs which I bombard all day, every day, with Ctrl-based keyboard shortcuts using the Caps Lock key.

[2021-07-28 18:36] dedavis6797 commented on #12391
We should follow up in v0.45. Not sure what changed in v0.41 to cause this, but maybe there's additional logging we can add to better understand what's going on here.

[2021-07-28 18:43] JordanDShen commented on #12536
Now I am encountering a separate issue where I am unable to open the application. I am running Discord as an administrator.

[2021-07-28 19:39] LynnetteReese opened #12549 "Image Resizer exchanges last 2 numerals eg: 45 x 675 actually sizes to 45 x 657"
### Microsoft PowerToys version

0.31.2

### Running as admin

- [X] Yes

### Area(s) with issue?

Image Resizer

### Steps to reproduce

Resize and image of 1200 x 675 pixels with a resizer set to resize anything to 1200 x 675. Everythign will SAY 675, but after you size it, you will find it was resized to 657, not 675.

### ✔️ Expected Behavior

Resizer used on  1541 x 866 image to resize the im

[2021-07-28 19:49] LynnetteReese commented on #12549
Nevermind. It just so happens that it will resize 1581 x 866 perfectly to 1200 x 657 with _any_ resizer I use and convert proportionately...so what I thought was a nasty little bug is nothing at all.

[2021-07-28 19:49] #12549 closed

[2021-07-28 20:45] sohmc commented on #12153
Oooh....did you figure out what the issue is @dedavis6797 ?

[2021-07-28 20:50] dedavis6797 commented on #12392
@S-N-O-R-L-A-X did updating resolve your issue?

[2021-07-28 21:21] dedavis6797 commented on #12398
Potentially rewording this to emphasize zones are independent in canvas made could be useful. Logging this under suggested enhancements for now.

[2021-07-28 21:34] stevemagruder commented on #9959
The issue is still there. What you just described is a subset of my "quick test" above.

[2021-07-28 21:56] dedavis6797 commented on #12403
This happens to me too occasionally on my multi-monitor setup. Worth investigating further for v0.45. Thanks!

[2021-07-28 22:19] bimbox0 commented on #12251
@SeraphimaZ I don know why, but your private build do not reproduce fanzyzones crush issue. I try to reproduce crushes in several way, but no luck. weird.

[2021-07-28 22:35] dedavis6797 commented on #12414
@Slemoon can you clarify here? Are you saying you can't use the other utilities at all? I'm seeing in your attached logs that FancyZones is reporting some activity. Did this issue start as soon as you installed/updated PowerToys, or did it start happening sometime after?

[2021-07-28 22:41] #12419 closed

[2021-07-28 22:44] dedavis6797 commented on #12420
Great suggestion! I believe what you're looking for is similar to #12168. We'll close this issue to keep conversation centralized to that thread. If I'm mistaken, please let us know!

[2021-07-28 22:44] #12420 closed

[2021-07-28 22:54] dedavis6797 commented on #12428
Thank you for reporting this, I'm sorry you had that experience @andrewbacon. We can't repro the issue without more context/diagnostic info, so we'll have to close this for now.

If anyone else faces this bug, please comment here or open a separate issue. Thanks!

[2021-07-28 22:54] #12428 closed

[2021-07-28 23:38] dedavis6797 commented on #12446
Did you find anything lingering in the C:\Program Files\PowerToys directory after you uninstalled PowerToys @steve1412 ?

[2021-07-28 23:43] dedavis6797 commented on #12449
Windows 11 offers the flexibility to center the taskbar. Is there a particular use case that would require this functionality specifically for Windows 10?

The suggestion for separate icons for each app instance sounds reasonable. I believe there's already an existing issue # for this, but we'll still log this one in our suggested ideas milestone for now. Thanks!

[2021-07-28 23:55] dedavis6797 commented on #12453
Interesting suggestion, we'd need to investigate the feasibility of this and plan out how we'd prioritize this functionality following our general stability efforts. We'll log this in our enhancements milestone for now. Thanks!

[2021-07-29 00:05] dedavis6797 commented on #12456
I believe this is a similar class of issue to https://github.com/microsoft/PowerToys/issues/12339

Concept of user customization may align with https://github.com/microsoft/PowerToys/issues/12271

We'll keep this for now unless there's a better, more centralized issue # to close this and related threads against.

[2021-07-29 00:13] dedavis6797 commented on #12153
Not yet. We'll have an experimental build (v0.44) coming out in the next two weeks with an updated version of Video Conference Mute. We're hoping this resolves your issue, but if not we'll continue to investigate and work with you on a more comprehensive solution.

[2021-07-29 00:57] S-N-O-R-L-A-X commented on #12392
Not yet.It takes me 5 minutes to use powertoys run.

[2021-07-29 01:11] dedavis6797 commented on #12460
Interesting discussion, thank you for the suggestion! I completely understand your perspective @eirinn1975, it would make sense to keep the systray functionalities unified with a single icon under certain circumstances, especially as the app expands to include additional utilities. But @dend is correct in that PowerToys as a whole is meant to be decentralized with the exception of the settings win

[2021-07-29 01:11] #12460 closed

[2021-07-29 01:43] ryohandoko9056 commented on #12535
Nothing, I've also tried to download the installer again, but it also didn't work.

[2021-07-29 02:02] ryohandoko9056 commented on #12535
Okay, okay, I found the problem.
Apparently, I got a corrupted version of Installer here.
So, read this out, every Installer file can be extracted using WinRAR and tried it on one of the Installer, normal archive, It did show up everything inside of it.
Check this video for more:
https://drive.google.com/file/d/1IBADFEPhW2bxLIq4zDZwPYFIECwDX-HD/view?usp=sharing

[2021-07-29 02:21] ru-tei commented on #12313
I see that the zip file has been created on my desktop, but I can't find it anywhere.

[2021-07-29 04:28] calonye opened #12550 "当系统更新至windows 11后，该功能无法正常工作。"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

SVG Preview, SVG Thumbnail

### Steps to reproduce

当系统更新至windows 11后，该功能无法正常工作。

### ✔️ Expected Behavior

修复并支持windows11.

### ❌ Actual Behavior

当系统更新至windows 11后，该功能无法正常工作。

### Other Software

_No response_

[2021-07-29 04:54] AzadKshitij opened #12551 "Pin to top"
### Description of the new feature / enhancement

I want to have something that can pin a particular window on top always something like [Deskpins](https://deskpins.en.uptodown.com/windows).

### Scenario when this would be used?

If I'm working on a project and I want an image as a reference I just pin it on top so it will always stay on top no matter what am I using.

### Supporting information

[2021-07-29 04:57] #12535 closed

[2021-07-29 05:02] eirinn1975 commented on #12460
Absolutely, the solution provided in #6751 would definitely solve this.

[2021-07-29 06:08] reelism commented on #12491
No it's not.

You might be confused - I cannot add /myApps/ without using the Windows Search plugin.
Yet, when I add, and hence add to Windows Search Index (bcoz that's the only way to get it to show /myapps/), and then disable the Folder plugin - it still shows folders _only in /myapps/_ , nowhere else.

I want it to show only .exe/programs in /myapps/, not folders, and I seem to be doing what I'

[2021-07-29 07:17] Aaron-Junker commented on #12551
## Issue is a duplicate
Thank you for your issue! We've linked your report against another issue #13

Thanks for helping us to make PowerToys a better piece of software.

[2021-07-29 07:17] Aaron-Junker commented on #12551
Duplicate of #13

[2021-07-29 08:50] mykhailopylyp commented on #9300
@AtnNn
Thank you for following up! Haven't noticed you already run PowerToys elevated.

[2021-07-29 09:15] mykhailopylyp commented on #12491
@reelism

The Folder plugin doesn't affect it as it is used only for directory navigation. I bet if you enable it nothing is going to change.

![image](https://user-images.githubusercontent.com/17161067/127465710-73700d06-9dff-456a-9e5c-61cd886a8f2b.png)

Adding portable app folders to the Program plugin is tracked by https://github.com/microsoft/PowerToys/issues/9293. It will resolve your issue.

[2021-07-29 09:15] #12491 closed

[2021-07-29 10:02] giaaaacomo commented on #12548
i don’t understand how could i miss that! now it works perfectly, so this is solved!

[2021-07-29 10:02] #12548 closed

[2021-07-29 11:53] reelism commented on #9293
Yes @mykhailopylyp the issue at #12491 remains, and also all the issues detailed above.

[2021-07-29 12:28] stefansjfw opened #12552 "Power Rename - File explorer doesn't show folder name changes"
### Microsoft PowerToys version

0.43.0

### Running as admin

- [ ] Yes

### Area(s) with issue?

PowerRename

### Steps to reproduce

- Open PowerRename
- Rename one or more folder
- Observe that File Explorer still shows old folder(s) name(s)
- Open PowerRename again with same selected items
- Observe that PowerRename shows new names of the items

This was a one time issue. File Explorer starte

[2021-07-29 12:35] aleksey-hoffman opened #12553 "Problem with .NET during installation"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [x] Yes

### Area(s) with issue?

Installer

### Steps to reproduce

1. Install v0.41.4
2. Get .NET error during installation
3. Click on PowerToys tray Icon. You will see the following error:

![image](https://user-images.githubusercontent.com/61761672/127492004-8938702b-8804-4aaa-8143-77b5c3352e8a.png)

4. Open suggested link
5. Do

[2021-07-29 12:39] aleksey-hoffman commented on #12553
Re-installation fixed the issue

[2021-07-29 12:39] #12553 closed

[2021-07-29 12:44] SeraphimaZ opened #12554 "[FancyZones Editor] Reset layout shortcut key after canceling changes"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [ ] Yes

### Area(s) with issue?

FancyZones Editor

### Steps to reproduce

* Set layout shortcut key
* Click `Cancel`
* Reopen layout settings

### ✔️ Expected Behavior

Layout shortcut key reset to the previous value.

### ❌ Actual Behavior

Layout shortcut key keeps modified value.

### Other Software

_No response_

[2021-07-29 12:49] stefansjfw opened #12555 "Awake - There is no tray icon but Awake process is running in the background"
### Microsoft PowerToys version

0.43.0

### Running as admin

- [ ] Yes

### Area(s) with issue?

Awake

### Steps to reproduce

This happens once in a while after either restarting computer with PT Run on startup option checked, or after Restart as Administartor.

In both scenarios, PowerToys starts correctly and tray icon is there, but Awake tray icon is not. Awake process can be seen in Task m

[2021-07-29 13:28] xuemind commented on #12178
@jsormaz  did the remap keys or remap shortcuts works as expected? I map `ctrl+alt+end` to `sleep` key. but nothing happened when I pressed the combination keys.

![image](https://user-images.githubusercontent.com/715345/127500226-5d843e28-43f0-4625-b1cf-898945b579c6.png)

[2021-07-29 13:41] xuemind opened #12556 "remap shortcuts does not work at `sleep` key"
### Microsoft PowerToys version

"0.41.4"

### Running as admin

- [X] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

remap shortcuts: `ctrl + alt + end` to `sleep` key as following screenshots.

![image](https://user-images.githubusercontent.com/715345/127501523-5bd4570b-2960-489f-8e22-5ad421c1f442.png)

### ✔️ Expected Behavior

sleep my windows after I pressed the `ctrl

[2021-07-29 16:11] jaimecbernardo commented on #10402
I've recently see this happen as well.
@tripclaw, in my case, when looking at the image properties, they had this:
![image](https://user-images.githubusercontent.com/26118718/127527169-dfc05f3d-148f-4d3e-be21-363ea6da1052.png)
Is it the case for you, as well?

[2021-07-29 16:11] oOII-J4HN-IIOo opened #12557 "PT Icon does not display in System Tray"
### Microsoft PowerToys version

0.43.0

### Running as admin

- [X] Yes

### Area(s) with issue?

System tray interaction

### Steps to reproduce

I have PT set to run at logon. But when I try to configure PT, there is no way to do so since the icon does not appear in the Windows System Icon Tray. Even if the laptop is on and PT is running, if I manually click to start PT from the Start Menu, the

[2021-07-29 16:34] Jay-o-Way commented on #12460
@dedavis6797 Just for my clarity, can you explain how that works if/when #7408 is implemented? Because if (for example)  Power Rename is opened without PowerToys Settings/runner being active, and you click on the link to open Settings, that still has to start-up first, right?

[2021-07-29 17:03] kumar007git opened #12558 "PowerRename window closes automatically after completing rename operation"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [ ] Yes

### Area(s) with issue?

PowerRename

### Steps to reproduce

Select files to rename, specify search and replace criteria and click Rename button.

### ✔️ Expected Behavior

PowerRename window should stay open because I want to do multiple rename operations on the selected files. For example, I want to rename two words in se

[2021-07-29 17:59] davidegiacometti commented on #12558
Hi @kumar007git
Closing this as a duplicate of https://github.com/microsoft/PowerToys/issues/628

[2021-07-29 17:59] #12558 closed

[2021-07-29 18:03] davidegiacometti commented on #12557
Hi @oOII-J4HN-IIOo
Could you please send a bug report?
Right-click on the PowerToys icon in the tray menu and select Report Bug
![113557438-afe62d80-9606-11eb-9b81-6260417981f5](https://user-images.githubusercontent.com/25966642/127542643-8d83456c-b7fb-4327-be2f-06db4a72dde8.png)
Drag and drop report into a GitHub comment.

[2021-07-29 18:06] davidegiacometti commented on #12522
Closing this as a duplicate of https://github.com/microsoft/PowerToys/issues/13

[2021-07-29 18:06] #12522 closed

[2021-07-29 18:19] davidegiacometti commented on #12536
I can repro this:
- Open Discord as admin
- Open PT as normal user
- Discord can't be snapped into zones

Can also repro this with VS Code but not with Firefox.
I usually run PT as admin.

[2021-07-29 18:33] pkapt opened #12559 "Shift-click dragging a window back and forth accross two different fancy zones causes all windows to minimize"
### Microsoft PowerToys version

0.41.1

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

Shift clicking on a window and drag it back and forth rapidly across two fancy zones.

### ✔️ Expected Behavior

Did not expect other windows to minimize.

### ❌ Actual Behavior

All other open windows minimized.

### Other Software

_No response_

[2021-07-29 18:50] davidegiacometti commented on #12285
@mykhailopylyp
with `Microsoft.Toolkit.Uwp.Notifications` removed registry key can also be removed.
https://github.com/microsoft/PowerToys/blob/e762bfa3481b27ed938beef7956d0c6f15aefa4c/installer/PowerToysSetup/Product.wxs#L1073

[2021-07-29 19:14] dedavis6797 commented on #12460
@Jay-o-Way you're correct I believe. For a functionality like #7408 that engages settings, it would make sense to break from the decentralization and use this unified settings/runner process given a) it's what we do today b) there could always be a case for shared attributes/settings among utilities (universal theme color, for example).

We've made efforts to remove aspects of individual utilities

[2021-07-29 19:46] kumar007git commented on #628
Will this be included in next version?

[2021-07-29 20:22] dedavis6797 commented on #12462
@sigmacom100 is this a FancyZones specific issue? I see similar behavior on my device for applications like Edge and File Explorer, even when FancyZones is disabled.

[2021-07-29 20:26] dedavis6797 commented on #12463
Thank you for the suggestion! We'll investigate and set prioritization following our general stability efforts.

[2021-07-29 20:50] dedavis6797 commented on #12464
Thank you for the suggestion! We'll investigate and set prioritization following our general stability efforts.

[2021-07-29 20:53] dedavis6797 commented on #12467
Thank you for the suggestion! We'll investigate and set prioritization following our general stability efforts.

[2021-07-29 21:42] dedavis6797 commented on #12469
Thank you for the suggestion! We'll investigate and set prioritization following our general stability efforts.

[2021-07-29 21:49] Webroader opened #12561 "Fancyzones remains broken in the current version."
### Microsoft PowerToys version

"0,41,4"

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones, FancyZones Editor

### Steps to reproduce

Fancyzones works only once after enabled, then stops working and needs to be restarted

### ✔️ Expected Behavior

That fancyzones work every time it is invoked by the mouse and not just once, right after enabled.

### ❌ Actual Behavior

Fancyzo

[2021-07-29 23:39] dedavis6797 commented on #12478
Thanks for reporting! Closing as dupe of https://github.com/microsoft/PowerToys/issues/12063

[2021-07-29 23:39] #12478 closed

[2021-07-30 00:01] dedavis6797 commented on #12487
@jaimecbernardo we should investigate this in v0.45 to see if a clean solution is possible. If not, let's just restrict GIF's from being resized by v0.47.

[2021-07-30 01:11] dedavis6797 commented on #12493
@jaimecbernardo are you aware of a reason for why this would happen?

@Mrnofish can you attach the logs generated from the Report Bug tool in the systray?

![image](https://user-images.githubusercontent.com/61330599/127584857-9b3ac2d3-0756-472b-a005-a8806a517623.png)

[2021-07-30 01:45] GurSharonSH opened #12562 "Keyboard remapping works after the fact"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [ ] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

Try to remap so Alt + something is performing an action of Ctrl + something.
For example, I wanted to make my windows PC shortcuts to be more similar to a Mac (so my pinky doesn't work as hard for Ctrl+c, Ctrl+v, Ctrl+w etc.) and I've discovered that in every

[2021-07-30 01:51] dedavis6797 commented on #12497
I'm having a hard time conceptualizing what you mean here @Hunabaktu.

Are you saying for "snap to windows" that the selected window should snap to cover the same space occupied by another window?

For "snap to borders", does https://github.com/microsoft/PowerToys/issues/12376 capture the idea of what you're proposing?

[2021-07-30 02:24] dedavis6797 commented on #12499
Thanks for the suggestion @Akqli! You gave a good explanation, I understand the functionality you're describing. We'll log this under our enhancements milestone for now and revisit the idea following our general stability efforts.

[2021-07-30 02:49] dedavis6797 commented on #12503
@mykhailopylyp are there any known limitations that would prevent this network folder from being indexed?

[2021-07-30 02:53] dedavis6797 commented on #12505
Thanks for reporting! https://github.com/microsoft/PowerToys/issues/12063 tracks this issue. We are working to enable English commands to be recognized despite system localization settings.

[2021-07-30 02:53] #12505 closed

[2021-07-30 07:42] salli20 commented on #12506
Sorry here is the report bug zip
[PowerToysReport_2021-07-30-17-41-23.zip](https://github.com/microsoft/PowerToys/files/6905854/PowerToysReport_2021-07-30-17-41-23.zip)

[2021-07-30 07:56] DavidKvist commented on #12421
Hi,

Follow up here, I must have been confused between my machines with most of them set on left/right while at least one was set to left/right/up/down and hence the issue.

I'm marking this issue as closed due to human incompetence!

[2021-07-30 07:56] #12421 closed

[2021-07-30 09:29] oOII-J4HN-IIOo commented on #12557
From my screenshots, you can see that the issue lies in what you're asking me to do - the icon is not IN the system tray! So I can't/don't know how to submit a Bug Report...

[2021-07-30 09:41] rserbitar commented on #411
Any news? This is really important.

[2021-07-30 10:00] v-zubritsky opened #12563 "PowerLauncher TypeInitializationException"
### Microsoft PowerToys version

0.41.3

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

Fails on system startup. Don't remember any changes to the environment, after which it started to happen.

[PowerToysReport_2021-07-30-11-59-37.zip](https://github.com/microsoft/PowerToys/files/6906754/PowerToysReport_2021-07-30-11-59-37.zip)

### ✔️ Expected Behavior

[2021-07-30 10:26] jaimecbernardo commented on #12563
Duplicate of https://github.com/microsoft/PowerToys/issues/11955

[2021-07-30 10:26] #12563 closed

[2021-07-30 10:28] jaimecbernardo commented on #12563
This was fixed with the release of [v0.41.4](https://github.com/microsoft/PowerToys/releases/tag/v0.41.4).

Please update to the latest version of PowerToys and this issue should be resolved.

[2021-07-30 10:30] v-zubritsky commented on #12563
@jaimecbernardo Thx for handling!

[2021-07-30 10:30] jaimecbernardo commented on #12506
## Exception

[code]

## Environment
* Command Line: "C:\Program Files\PowerToys\modules\launcher\PowerLauncher.dll" -powerToysPid 11816 --centralized-kb-hook
* Timestamp: 07/30/2021 17:36:34
* Wox version: 0.41.4.0
* OS Version: Microsoft Windows NT 10.0.22000.0
* IntPtr Length: 8
* x64: True
* CLR Version: 3.1.17
* Installed .NET Framework:
   * v2.0.50727 2.0.50727.4927 SP2
   * v3.0 3.0.30729.

[2021-07-30 10:32] jaimecbernardo commented on #12506
Duplicate of https://github.com/microsoft/PowerToys/issues/11916

[2021-07-30 10:32] #12506 closed

[2021-07-30 10:33] jaimecbernardo commented on #12506
Hi @salli20 ,

This is caused by some older files not being uninstalled correctly.
Would you mind:
1 - Uninstall PowerToys.
2 - See if the PowerToys install directory (default: C:\Program Files\PowerToys) is still there. If it is, delete it manually.
3 - Install PowerToys.

Please let us know if this works for you.

[2021-07-30 10:45] salli20 commented on #12506
it was there deleted and now reinstalling

[2021-07-30 10:49] jaimecbernardo commented on #12562
I've given it a try and was able to reproduce the issue on Notepad++.
But then restarted PowerToys as an Administrator and it worked as intended.
Perhaps there's something at the OS level that is catching the alt key, sending it to the application and clearing it.
Would you mind trying to run PowerToys as an Administrator and verifying it this fixes your issue?

[2021-07-30 10:49] salli20 commented on #12506
works thanks  @jaimecbernardo

[2021-07-30 11:00] jaimecbernardo commented on #12493
This option is for not downloading updates automatically.
It still checks if new updates are available to show that information in Settings.

[2021-07-30 11:01] jaimecbernardo commented on #12487
@dedavis6797 ,
Assigning myself to it to verify what's the root cause.

[2021-07-30 11:08] GurSharonSH commented on #12562
Hey! Thanks for the fast reply (:

Running as an admin did solve the problem with npp!
However, the VMware issue still persists because it's a different issue.
Having a counter shortcut involving one of the new short cuts keys, and one
of the keys from the action required to undo the same action causes it to
fail.
(Ctrl+Alt undoes Ctrl+g which I'm trying to replace with Alt+g)

It will make my day

[2021-07-30 11:41] jaimecbernardo commented on #12562
For the case of VMWare, the issue is not that it's getting Ctrl-Alt.

It seems that it's using low level keyboard hooks to manage its own input (which would make sense, due to its functionality). This means it's likely disregarding Keyboard Manager input. If you try other remaps, like G -> Ctrl+G , those won't work as well, so it's not the "Alt" problem.

I assume that this is a limitation of tryi

[2021-07-30 12:25] qasimsk2012 opened #12564 "Add a plugin to search default browser bookmarks in PowerToys Run."
### Description of the new feature / enhancement

A feature in which we could search for our browsers bookmarks using PowerToys Run.

### Scenario when this would be used?

While using Windows, we visit our favorite website several times in a day. Having a plugin in PowerToys Run which would navigate through our default browsers bookmarks would be very helpful.

### Supporting information

_No res

[2021-07-30 13:15] GurSharonSH commented on #12562
Okay, thanks for the clarification!

Waiting for someone to come back to me about the feature request about the
fancy zones, hope it'll find it's way into some version.. Maybe into
windows 11 haha

Keep up the good work!!

On Fri, Jul 30, 2021, 19:42 Jaime Bernardo ***@***.***> wrote:

[2021-07-30 15:00] #12551 closed

[2021-07-30 16:22] kapntech opened #12565 "Feature Request: Mirror desktop in specific zone"
I love that I can create a zone that is 1920x1080. Makes screen sharing a breeze on my ultrawide. It would be amazing if I could mirror my whole desktop inside that zone. That would allow sharing the whole desktop.

[2021-07-30 16:26] Enduriel commented on #3936
The funny thing is a good example of where this is useful is provided by you guys. The 'shortcut' for switching to a specific FanzyZone is ctrl+win+alt+0-9, which I don't plan on using. So I wanted to use Keyboard Manager to switch that shortcut to something more manageable but it turns out I can't because of this limitation.

Just thought it was a little amusing that you're asking for examples wh

[2021-07-30 16:35] crutkas commented on #3936
This question was proposed before we enabled that. It still is a valid question for prioritization.

[2021-07-30 16:52] Aaron-Junker commented on #12565
So, sharing a zone is a highly requested feature which we track in issue #2774. But your request is a little bit different, so I will not mark it as duplicate.

[2021-07-30 17:58] tchar commented on #3200
Hello,

I have create a [plugin](#https://github.com/tchar/ulauncher-albert-calculate-anything) for generic calculations, units conversion, timezones etc in python and recently ported it to Windows and I was thinking to "connect" it to Wox, but I prefer PowerToys Run for my Windows tasks.

Is there any future plan to allow plugins in Python like Wox and not only C#/C++?

[2021-07-30 19:00] #12406 closed

[2021-07-30 23:03] Mrnofish commented on #12493
Fair enough, but this situation is nonetheless undesirable:

1. If powertoys.exe is allowed through the firewall, then it is constantly pinging github, which is a form of tracking.
2. If it isn't, then it updates can no longer be downloaded at all, making the whole process of checking and updating completely manual.

IMO there should be a middle ground scenario, which is only initiating a connecti

[2021-07-30 23:53] jpy-cpp commented on #12164
What?

[2021-07-31 01:01] #12183 closed

[2021-07-31 04:12] T0kudai commented on #12301
I think it is a Windows problem and not a Powertoys problem. I'm able to reproduce this bug with other applications as well. I have tested FLux (store version),MSI Dragon center and Internet Download Manager and Telegram desktop.

It seems any app minimised to system tray is affected by this issue.

[2021-07-31 04:24] franky920920 commented on #12550
## Translation
Title: When upgraded to Windows 11, the specified function isn't working.

### Microsoft PowerToys version
0.41.4

### Running as admin
* [x]  Yes

### Area(s) with issue?
SVG Preview, SVG Thumbnail

### Steps to reproduce
When upgraded to Windows 11, the specified function isn't working.

### ✔️ Expected Behavior
Fixed and support this function in Windows 11.

### ❌ Actual Behavior

[2021-07-31 06:33] xzayn commented on #12564
you can try Fluent Search, PowerToys doesn't like to be very innovative.

[2021-07-31 06:42] ViewableGravy commented on #12538
I just wanna say thanks for letting me know about Shift + Ctrl, that is what I have always wanted and I didn't realise was a thing. I think if anything, that needs to be documented somewhere in the settings

[2021-07-31 07:00] #12249 closed

[2021-07-31 07:00] #12226 closed

[2021-07-31 07:00] #12214 closed

[2021-07-31 07:04] JordanDShen commented on #12536
Unfortunately, after installing multiple versions, I am still unable to open the application. It runs in the background, however.

[2021-07-31 09:00] EricBrianAnil opened #12566 "Support for Windows 11"
### Description of the new feature / enhancement

It would be great to add support for Windows 11, especially for the file manager add ons.

### Scenario when this would be used?

Providing a Preview of Images, Markups, SVGs, etc. really helped out crunch some time in Win 10 File Explorer. It'd be fab to add the same to Win 11 as well, including the Image resizer options and all in the Windows 11

[2021-07-31 09:23] Aaron-Junker commented on #12566
@EricBrianAnil Everything should work in Windows 11 as it did in Windows 10.  What exactly doesn't work?

[2021-07-31 09:39] Aaron-Junker commented on #12566
You can activate the preview pane in Windows 11 like shown here:

[2021-07-31 09:40] davidegiacometti commented on #12557
My bad 😄
- Open a command prompt and run "%PROGRAMFILES%\PowerToys\Tools\BugReportTool.exe" (double quotes are important)
- A zip file will be created on you desktop
- Drag and drop the zip into a GitHub comment

[2021-07-31 09:50] Aaron-Junker commented on #12564
## Issue is a duplicate
Thank you for your issue! We've linked your report against another issue #8283

Thanks for helping us to make PowerToys a better piece of software.

The problem is there's an endless list of browsers with different  bookmark systems.

[2021-07-31 09:50] Aaron-Junker commented on #12564
@xzayn Please tell us what we could do better.

[2021-07-31 09:53] EricBrianAnil commented on #12566
Oh nevermind, I just updated to Win11 yesterday so didn't check that out yet. Sorry for raising an invalid issue and Thanks a lot :)

[2021-07-31 09:57] Jay-o-Way commented on #12559
That's normal Windows Shake behaviour.

[2021-07-31 10:03] Aaron-Junker commented on #12566
No problem

[2021-07-31 10:05] Aaron-Junker commented on #12566
@crutkad Why did the bot not remove the needs author feedback label?

[2021-07-31 10:21] Jay-o-Way commented on #12547
We need some more information here. You mention an "away" status, but not what program/app this applies to. Also, can you explain more about the **why** of this expectation?

[2021-07-31 12:36] CarstenHynne opened #12567 "Something went wrong"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

I'm running **Windows 11 (Beta - Version 10.0.22000 Build 22000)**.

I had used PowerToys Run for a simple calculation (subtraction) and when I opened it again to do another, it threw an exception after typing a few digits (no actual calculation yet).

### ✔️ Ex

[2021-07-31 16:06] bytemybitz commented on #12547
Sorry, that was very presumptuous of me, I guess since PowerTools is tied to Windows I assumed I could only mean the Microsoft environment. I meant the Office set of applications: Outlook, Teams, etc..  I've been using mousejiggler but when I saw Awake in the tools I thought it may be a slicker option.  Awake and mousejiggler both keep my PC from locking or going to sleep when I'm afk, mousejiggle

[2021-07-31 16:16] brentmorgan43 opened #12568 "Hard Crash on Power Toys Run"
### Microsoft PowerToys version

0.41.3

### Running as admin

- [ ] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

PowerToys Run through a hard error displaying a dialog window requesting I file a bug report. The error reported was "Destination array was not long enough. Check the destination index, length, and the array's lower bounds."

The error occurred when attempting t

[2021-07-31 19:00] #12452 closed

[2021-07-31 19:00] #12435 closed

[2021-07-31 19:12] Beej126 commented on #3737
Win11 being imminent prompted me to take a fresh look around ...
still not seeing these interfaces officially documented.

i believe this is where we should expect to see them:
https://docs.microsoft.com/en-us/windows/win32/api/shobjidl_core/nn-shobjidl_core-ivirtualdesktopmanager

looking for:
- IVirtualDesktop
- IVirtualDesktopManagerInternal
- IVirtualDesktopNotification
- IVirtualDesktopNotifi

[2021-07-31 22:54] LeverActionGT opened #12569 "Improved trackpad gestures"
### Description of the new feature / enhancement

Allow windows to use trackpad gestures similar to macos with more functionality

### Scenario when this would be used?

in applications that have touch input like photoshop

### Supporting information

_No response_

[2021-08-01 03:29] bearoxo commented on #11963
<kbd>Win</kbd> + <kbd>shift</kbd> + <kbd>/</kbd>??

![1_8xraf6eyaXh-myNXOXkqLA](https://user-images.githubusercontent.com/53261024/127757890-2f1bf2ab-6f06-4b16-b20c-9672692e2329.jpeg)

a shortcut guide that requires you to remember 3 keys to open it just so you can remember that one letter you forgot
doesn't that kind of defeats the purpose of having it?

[2021-08-01 03:34] crutkas commented on #11963
@bearoxo it is the same as win+? But the true keys

[2021-08-01 05:18] bearoxo commented on #11963
@crutkas i know... it's just that the hold <kbd>win</kbd> shortcut key was just absolutely perfect for it

[2021-08-01 05:48] crutkas commented on #11963
@bearoxo issue was that caused a host of other quirks for other users and scenarios. What works for one may cause frustration for another person.

This is a great learning moment for the team. We are trying hard to improve across the board

[2021-08-01 06:26] abirstolov commented on #11963
It's understandable, It seems the solution in this case is to make it optional.

[2021-08-01 09:29] bearoxo commented on #11963
@crutkas It's just that when you changed the shortcut key, you might have solved the issue for that group of users, but you also just introduced a whole new issue to users that didn't. I agree with @abirstolov, make it optional. Keep up the great work though. You guys are doing an amazing job.

[2021-08-01 09:34] Zotyamester commented on #7714
Was it?

I haven't been following up with PowerToys for almost like 3/4 of a year, but I thought I take a look at it, and now it seems like it doesn't even have a Hungarian translation.
![powertoys](https://user-images.githubusercontent.com/40998048/127766204-f7c5d665-f954-4d32-bccb-f065dd41bd47.png)

[2021-08-01 09:49] nullcheck commented on #12301
As a work around for the meantime it seems like telling Windows to show the dialog on all desktops remedies jumping back to the "root" virtual desktop and makes it usable for me.
To set this up first enter Task View (`Win + Tab`), then invoke the Run dialog, then right-click it's preview and choose `Show this window on all desktops`.

![image](https://user-images.githubusercontent.com/26010763/127

[2021-08-01 10:55] s7aycool commented on #5863
PowerToys are so good and simple, but I am switching to another software - I am tired of giving adm privileges to it on every windows boot.

[2021-08-01 12:03] michidk opened #12570 "Shortcut Guide"
### Description of the new feature / enhancement

Currently, the shortcut guide only displays shortcuts for Windows/PowerTools. It would be really useful to be able to add custom shortcuts to the guide. I use a tool for taking screenshots, that uses several complex shortcuts. It would be awesome, if they would be listed in the shortcut guide, after I added them manually.

Also, application-depende

[2021-08-01 12:21] david-is-david opened #12571 "[Feature Request] number base conversion binary, decimal, hexadecimal (Unit Converter or Calculator plugin)"
### Description of the new feature / enhancement

I need to convert between binary, decimal and hexadecimal from time to time and it would be amazing to do from PowerToys run.

Possible formats:
[code]

It makes sense to match the format to the existing unit converter command format for the sake of consistency, with 1 and 3 letter formats to save typing time {b, bin, binary}, {d, i, dec, decimal},

[2021-08-01 13:21] isohal opened #12572 "Smooth (Windows 11-like) animation for snapping windows to a specific zone"
### Description of the new feature / enhancement

When a window is not of the right size as a fancy zone, you can hold the window from its title bar and then snap it to that particular zone while pressing shift. The feature works as intended but it happens without any animation. It would be nice to apply Windows 11-like smooth animation that occurs when you snap the window left/right or use the ma

[2021-08-01 15:00] #12564 closed

[2021-08-01 16:47] PicoPlanetDev opened #12573 "Color picker library"
### Description of the new feature / enhancement

I really like the currently color picker with the editor window, but I think that a color library system as part of this editor would be ideal.
It would be great if there was a second vertical row next to the colors, allowing you to organize colors into a named/icon emoji folder. Then, each color could have a name also.

### Scenario when this woul

[2021-08-01 17:27] whardier commented on #12246
Thanks for thought on this.

You know... it would be super mega cool to have event driven OSD support backed by a contextual template system.

There used to be some fairly impressive OSD solutions out there but they have had a hard time keeping up.   It would be great to be have some canned OSD configurations and the means to route say.. a desktop change event.. toward a specific OSD template writ

[2021-08-01 19:00] #12458 closed

[2021-08-01 19:00] #12442 closed

[2021-08-01 19:28] yevagorbachev opened #12574 "Customize searched folders in Run"
### Description of the new feature / enhancement

Option to customize the folders that are searched in Run. Specifically, I'd like to be able to restrict the search to folders pinned in Quick Access or to those located in OneDrives. One of my Quick Access folders is called "Active", but some playlist file elsewhere takes priority.

### Scenario when this would be used?

Rapidly opening desired fol

[2021-08-01 19:39] htcfreek commented on #12573
@PicoPlanetDev
Nice idea.

You can upload the image directly to github. This makes it easier for other peoples.

[2021-08-01 19:43] htcfreek commented on #12568
@brentmorgan43
Thank you for filling this issue.

Please updatevto the newest version 0.41.4. There the bug should be fixed.

[2021-08-01 19:51] htcfreek commented on #12545
@LtCmdrKeene
Can you please update the title to something like this: `Rename index warning checkbox to "Disable non-indexed files warning"`. This helps us while doing triage.

[2021-08-01 19:59] PicoPlanetDev commented on #12573
Oops! It's been a while since I added an image in markdown, sorry. Forgot the exclamation point!
I think that it is fixed now.

[2021-08-01 20:00] htcfreek commented on #12513
@enricogior
Is this a duplicate? I am thinking there was something similar regarding a scripting interface for FZ, to control it by tools like AutoHotkey. 🤔

[2021-08-01 20:14] mqdb opened #12575 "Shortcut mapper malfunction"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

Enter the keyboard mapper
Press plus [+]  to assign new shortcut

### ✔️ Expected Behavior

Was expecting to be able to remap my shortcuts.

### ❌ Actual Behavior

PowerToys window flashes and the GUI exits
The app does not crash as it is still running in the

[2021-08-01 20:57] htcfreek commented on #12573
Yes it's fixed.

But you can paste the image directly into the text input field. It will then be uploaded to github and you don't need services like imgur.

[2021-08-01 22:03] FWest98 commented on #9143
I have been dealing with this issue ever since PT Run came out as well. I have never bothered to actually start using it, since it would always crash. Attached a crash log from my side.
[PowerToysReport_2021-08-02-00-00-47.zip](https://github.com/microsoft/PowerToys/files/6913495/PowerToysReport_2021-08-02-00-00-47.zip)

[2021-08-01 22:15] #12511 closed

[2021-08-01 22:55] dedavis6797 commented on #12524
Not that I'm aware unfortunately. Submitting a request to [Feedback Hub](https://aka.ms/feedbackhub) may offer a solution.

[2021-08-01 22:55] #12524 closed

[2021-08-01 22:58] dedavis6797 commented on #12527
Thank you for the suggestion! We'll close this as a duplicate of https://github.com/microsoft/PowerToys/issues/13. Planning for this will begin following our general stability efforts.

[2021-08-01 22:58] #12527 closed

[2021-08-01 23:33] #12531 closed

[2021-08-02 00:14] dedavis6797 commented on #12538
@GurSharonSH thank you for the suggestion, we'll log this under our enhancements milestone and follow up after general stability efforts.

@ViewableGravy this is documented on [Microsoft Docs](https://docs.microsoft.com/en-us/windows/powertoys/fancyzones#snapping-a-window-to-two-or-more-zones) (accessible from the 'Learn more' option in the settings menu) along with additional information you may

[2021-08-02 00:27] dedavis6797 commented on #12552
Good call out @stefansjw, logging this in our stability milestone. Let's investigate if there's a quick fix for this, and if so try to knock it out by v0.47.

[2021-08-02 00:44] sigmacom100 commented on #12462
Ah yes I see you are right. It happens for these same apps whenever they
are not maximised. I was fooled into thinking that when "maximised" within
a fancy zone that the  app thought it was maximised in a "virtual" monitor,
but it actually isn't.

Regs

Mark Harwood
New Magic Australia Pty Ltd
Tel +61 3 9722 9700

On Fri, Jul 30, 2021 at 6:22 AM Deondre Davis ***@***.***>
wrote:

[2021-08-02 00:47] MasaYan24 opened #12576 "FancyZones margin"
### Description of the new feature / enhancement

FancyZone uses finite margin around panes. This should be able to change to zero so that users can use full area of the display.

### Scenario when this would be used?

It is used when the windows are aligned on.

### Supporting information

_No response_

[2021-08-02 00:50] MasaYan24 opened #12577 "FancyZone shortcuts"
### Description of the new feature / enhancement

When Shift + dragging a window, it can be spanned in 2 area of FancyZone. This is very nice feature.
But when using a keyboard shortcut, it can not be accesible.
I would prefer to use keyboard shortcut to enable it like spectacle in macOS' third party product.

### Scenario when this would be used?

When one is using FancyZone with only keyboard sh

[2021-08-02 00:52] dedavis6797 commented on #12462
Oh ok, yeah FancyZones doesn't behave that way. We'll close the issue for now, but thank you for reporting this! It's potentially worth investigating if there's enough demand from the community.

[2021-08-02 00:52] #12462 closed

[2021-08-02 01:07] dedavis6797 commented on #12556
Interesting, I can repro this. My `sleep` key is basically the power button on my laptop, so there may be a hardware incompatibility. @mykhailopylyp is there any known restrictions to mapping keys and shortcuts to the sleep/lock/power key(s)?

[2021-08-02 01:16] dedavis6797 commented on #12561
Thanks for reporting this, can you attach the logs generated from the Report Bug tool in your systray?

![image](https://user-images.githubusercontent.com/61330599/127792180-2912bea9-1f4e-4d02-afa3-f0a7003fb9a2.png)

[2021-08-02 01:32] dedavis6797 commented on #12562
Thank you for reporting this. As VMWare

[2021-08-02 01:32] #12562 closed

[2021-08-02 01:38] dedavis6797 commented on #12566
@Aaron-Junker thanks for helping with this! The automation bot likely stopped running when you added the comment after placing the label. We can look into making it more robust.

[2021-08-02 01:38] #12566 closed

[2021-08-02 01:40] dedavis6797 commented on #12567
@CarstenHynne thank you for reporting this. Can you attach the logs generated from the Report Bug tool in the systray?

![image](https://user-images.githubusercontent.com/61330599/127793421-d9c5e5a9-b527-4021-a48b-0a6c2f7aba03.png)

[2021-08-02 01:45] dedavis6797 commented on #12559
Yes, this is normal behavior as @Jay-o-Way described.

[2021-08-02 01:45] #12559 closed

[2021-08-02 01:49] dedavis6797 commented on #12568
With https://github.com/microsoft/PowerToys/issues/12490, it's likely the issue still persists.

@brentmorgan43 please update to 0.41.4, and if the error occurs again attach the log generated by the Report Bug tool in the systray.

![image](https://user-images.githubusercontent.com/61330599/127793937-4500bb5d-e3c9-42bc-ba8b-842a1a7332e8.png)

[2021-08-02 01:57] dedavis6797 commented on #12569
@LeverActionGT can you be more descriptive? What exactly are you looking for the trackpad to do?

Also note that there may be some compatibility issues with different trackpads due to hardware limitations. Trackpad gestures on various laptops I've used running Windows have different functionality options which may not be resolvable with software solutions alone.

[2021-08-02 02:07] dedavis6797 commented on #12570
Thanks for the suggestion! Related issues: https://github.com/microsoft/PowerToys/issues/129, https://github.com/microsoft/PowerToys/issues/1431

We'll continue investigating this following our general stability efforts.

[2021-08-02 02:24] dedavis6797 commented on #12571
Thanks for the suggestion, this appears to be a duplicate of https://github.com/microsoft/PowerToys/issues/3272. We'll close this issue so conversations stay centralized to that thread.

[2021-08-02 02:24] #12571 closed

[2021-08-02 02:45] LeverActionGT commented on #12569
I mean add better gesture support, like the hot corners and 4 finger pinch gestures on mac, overall giving the trackpad more power

[2021-08-02 02:49] dedavis6797 commented on #12574
@mykhailopylyp is it possible to query from Quick Access? This may only be internal to File Explorer

[2021-08-02 02:51] dedavis6797 commented on #12575
@mqdb can you attach the logs generated from the Report Bug tool in your systray?

![image](https://user-images.githubusercontent.com/61330599/127798182-f53ec94d-6314-4583-ac6b-25e1f7a21ade.png)

[2021-08-02 03:02] dedavis6797 commented on #12576
Hi @MasaYan24, is disabling the space around zones not what you need?

![image](https://user-images.githubusercontent.com/61330599/127798894-627103aa-2669-4ec7-86e8-64a79dd533bb.png)

[2021-08-02 03:06] dedavis6797 commented on #12577
Hi @MasaYan24, [snapping to multiple zones](https://docs.microsoft.com/en-us/windows/powertoys/fancyzones#snapping-a-window-to-two-or-more-zones) is likely what you're looking for in our documentation.

If I'm mistaken, please reopen this issue and provide more details on what you need.

[2021-08-02 03:06] #12577 closed

[2021-08-02 03:16] dedavis6797 commented on #12569
I see. We can investigate, but there's likely a hardware limitation. One of my laptops only recognizes up to two finger gestures for basic zoom and scroll. A software solution through PowerToys may not apply universally to all users. Because of this, prioritization will likely be low for our team unless there's strong community support for it.

In the meantime, we're happy to plan/work with you or

[2021-08-02 03:21] e1m5 opened #12578 "Powertoys causing (almost) hard lockup on lock/login screen"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

This was occurring with an out-of-date version also, seemed to start a couple of months ago. Upgrading to newest version has not helped.

To my knowledge this seems to happen once the computer has locked for whatever reason - suspend/sleep or inactivity. But doesnt se

[2021-08-02 03:29] dedavis6797 commented on #12578
Thank you for reporting this @e1m5. Does this happen every time the computer goes to sleep/hibernates when PowerToys is active (barring the times when it's locked manually)?

Also, can you attach the logs generated by the Report Bug Tool in the systray?

![image](https://user-images.githubusercontent.com/61330599/127800735-92fc4108-81e7-4466-b4b9-1dd54a88bd3c.png)

[2021-08-02 03:56] e1m5 commented on #12578
No it doesn't happen every time, but certainly happens most of the time. Have attached the log, but just FYI since uninstalling/reinstalling/disabling I'm not sure if that report contains any crash-related behaviour. LMK if you want me to run PT and experience the lockup and re-send bug report.

[PowerToysReport_2021-08-02-13-50-25.zip](https://github.com/microsoft/PowerToys/files/6914287/PowerToy

[2021-08-02 04:03] e1m5 commented on #12578
Oh also relevant; I run 2 x 4k monitors. One in portrait, one in landscape. The behaviour happens a LOT less when I have the secondary portrait monitor disabled, but still occurs from time to time. This is why I suspect some sort of GPU driver issue. Secondary monitor is enabled in that bug report.

[2021-08-02 04:21] MasaYan24 commented on #12576
@dedavis6797
Thanks for your reply.
Yes, that's what I wanted! Thank you!
Closing this issue.

[2021-08-02 04:21] #12576 closed

[2021-08-02 04:42] AUHEBEZ opened #12579 "[Awake] Function timer where you can select start time, end time and days"
### Description of the new feature / enhancement

Dear Support, is it possible to add more features to Awake Mode, possibly a function timer where you can select start time, end time and days.  Similar to Mouse Move, https://sites.google.com/a/windandkite.co.uk/movemouse/home

### Scenario when this would be used?

Keep the PC awake during specific set times and not to enter in lockscreen

### Sup

[2021-08-02 05:44] izzyforeal opened #12580 "Can't write to registry"
Hello, I am having an issue getting Powertoys installed. I select the setup executable, it does it's thing but then I get the error pictured. I can choose to ignore it but then suddenly all of my drag/drop functionality disappears. Any ideas on how I can resolve this issue?

![2021-08-02_01h42_35](https://user-images.githubusercontent.com/68483890/127809938-afcce0b8-3f0b-4b9b-bb5f-2f66392b2305.png

[2021-08-02 07:05] dedavis6797 commented on #12580
@yuyoyuppe any thoughts on what could be causing this?

[2021-08-02 08:24] piotrnikov opened #12581 "MacOs Quicklook like feature"
### Description of the new feature / enhancement

. Press play on a file in Explorer.
. Window pops up previewing the file (pdf, doc, mp4, jpg,...).

### Scenario when this would be used?

I work with graphics in an animation company. This THE one feature we miss from OSX. There is a WIN10 app that does this, but it'd be way quicker/faster if it was done by the MS team...

### Supporting informati

[2021-08-02 09:34] jonespider opened #12582 "Mirror flip monitor for telepromtper displays powertoy"
### Description of the new feature / enhancement

A powertoy option that mirror flips one display for use with a monitor in a teleprompter.

### Scenario when this would be used?

For people who are regular video call users and presenters (such as teachers/lectures and streamers) that use a teleprompter with an external monitor display.

### Supporting information

Nearly all screen configuration

[2021-08-02 09:53] peterjuras commented on #12322
It was working for me again after I restarted PowerToys, so it appears that the bug only occurs sometimes. I'll try to use the "Report Bug" option the next time I see this again.

[2021-08-02 10:02] dnknn opened #12583 "[PowerRename] :　enhance the details experience!"
### Description of the new feature / enhancement

## Custom `font-size`

- But if can customize the font size (e.g. `12px` ), it is better,
	because the default font size is too small (for large screen monitors), It is more difficult to look at the input fields and compare the old ⚔ new file names. it seems more difficult.
	In other words, it is difficult to see at a glance.

　
-------------------

[2021-08-02 10:11] serafisnz commented on #9885
I have the same problem, which has been around for as long as I can remember, way before Brice Lambson's excellent resizer was moved to Microsoft Powertoys. After hours (if not years!) of attempting to find the cause of the problem, I've managed to find a workaround:

1. Download Phil Harvey's wonderful open source _exiftool_ (Windows Executable version) from https://exiftool.org/ and unzip it to

[2021-08-02 10:12] LukeTRD opened #12584 "Is it possible to control where an application launches with a tool like this if the application itself does not offer that control?"
### Description of the new feature / enhancement

I use a number of applications that have launchers that bootstrap the main program that mean they always open the window on the primary display regardless of where I previously used it.

### Scenario when this would be used?

I use a drawing tablet display, and I would like all windows of certain programs to have affinity with that display, but at

[2021-08-02 10:29] LeeSH825 commented on #12525
[PowerToysReport_2021-07-27-20-51-13.zip](https://github.com/microsoft/PowerToys/files/6916201/PowerToysReport_2021-07-27-20-51-13.zip)

Oh sorry. I forget to attach the bug report...

No. Restarting PowerToys doesn't help at all. I can't even open layout editor.

[2021-08-02 11:10] SeraphimaZ commented on #12525
@LeeSH825 according to logs, it looks similar to https://github.com/microsoft/PowerToys/issues/12251.
Would you be able to install a private unsigned build to help us troubleshoot the issue? I added logs to localize the problem.

To help you should

* Uninstall PowerToys
* Install https://github.com/SeraphimaZ/PowerToys/blob/crash_logs/private_build/PowerToysSetup-0.0.1-x64.exe
* Upload the bug re

[2021-08-02 11:37] niels9001 commented on #11860
I have worked on creating re-useable settings "cards" and sections. Here's some examples of what that looks like:

![Settings v2](https://user-images.githubusercontent.com/9866362/127855765-e1863483-6239-45ea-add8-b9c62565f4db.gif)

Different states when installing updates:
![Loaders](https://user-images.githubusercontent.com/9866362/127855800-81fea13c-efe5-4551-a399-d272f714734f.gif)

Module page

[2021-08-02 11:48] htcfreek commented on #11860
@niels9001
Amazing!

- Could you make a mockup of Explorer addon page where we have an info bar for the note that settings are for all users and the warning bar for admin note?
- Have you changed the explorer icon? It's so light. In my mind we have more vibrant colors.

[2021-08-02 11:57] Jay-o-Way commented on #11860
I think it's just the yellow color in the gif that is off. In the dark themed image, the yellow is fine

[2021-08-02 12:12] niels9001 commented on #11860
@htcfreek As @Jay-o-Way mentioned, that's due to the encoding issues of Screen2Gif. No icons were changed :).

Here's File Explorer Preview

![image](https://user-images.githubusercontent.com/9866362/127860031-e73e21f5-59dd-4889-a264-7d3c9302a0ff.png)

[2021-08-02 12:17] htcfreek commented on #11860
@niels9001
- Have you seen this later added point on my previous comment: `Can we combine the is up to date bar with the search update bar? Or do you think it isn't a good idea.`
- Can we use for the `"The settings on this page ..."` note a blue info bar instead on the yellow one?

[2021-08-02 12:33] IT8055 opened #12585 "Cant Open Settings - No Options are displayed"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

Settings, System tray interaction

### Steps to reproduce

I use the Fancy Zone tool all the tiome and this is working but i am unable to change any setting for it or any other of the utilities. I see the icon in the system tray but when i right click and select settings I dont get the options screen

[2021-08-02 12:33] niels9001 commented on #11860
@htcfreek

![image](https://user-images.githubusercontent.com/9866362/127862538-dafb69c5-54e2-42cd-b497-b9401b2c8455.png)
Agree, that does look more appropriate.

[2021-08-02 12:51] SeraphimaZ commented on #12561
Could be similar to https://github.com/microsoft/PowerToys/issues/12457

@Webroader it would be great if you install a private unsigned build to help us troubleshoot the issue.

* Uninstall PowerToys
* Install https://github.com/SeraphimaZ/PowerToys/blob/crash_logs/private_build/PowerToysSetup-0.0.1-x64.exe
* Upload the bug report after the issue is reproduced

Thank you!

[2021-08-02 12:52] legalishomo opened #12586 "Wake program tray right-click switch wake-up mode does not work。"
### Microsoft PowerToys version

"0.41.4"

### Running as admin

- [X] Yes

### Area(s) with issue?

Awake

### Steps to reproduce

![11](https://user-images.githubusercontent.com/18228096/127864649-c89d057d-5106-4960-8ee2-ae19f44f09b0.gif)
[PowerToysReport_2021-08-02-20-33-54.zip](https://github.com/microsoft/PowerToys/files/6916983/PowerToysReport_2021-08-02-20-33-54.zip)

### ✔️ Expected Behavi

[2021-08-02 13:29] SoccerCore11 opened #12587 "Bottom of windows cut off with Fancy Zones on Windows 11"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [ ] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

Use Win+<arrow key> and the windows don't respect the taskbar and cut off the bottom of the windows when moving them.

### ✔️ Expected Behavior

Windows should respect the taskbar and not hide behind it.

### ❌ Actual Behavior

Bottom of windows are hidden by the t

[2021-08-02 13:59] htcfreek commented on #11860
@niels9001
Is the code in the PR up to date. I'd like to clone and run it locally.

[2021-08-02 14:09] htcfreek commented on #11860
Can we switch reboot note and svg thumbnail setting like this:
[code]

[2021-08-02 14:12] jaimecbernardo commented on #12585
Thank you for reporting it!
Could you please send a bug report?

Right-click on the PowerToys icon in the tray menu and select Report Bug
![image](https://user-images.githubusercontent.com/17161067/113557438-afe62d80-9606-11eb-9b81-6260417981f5.png)
Drag and drop report into a GitHub comment.

Would you mind sending the file indicated in the error as well?
`C:\Program Files\dotnet\shared\Microsoft

[2021-08-02 14:17] niels9001 commented on #11860
@htcfreek Yes, the branch is up to date ( )

Changed the order as well:

![image](https://user-images.githubusercontent.com/9866362/127876041-9255c679-836b-4acd-96c3-32153aee8f8b.png)

[2021-08-02 14:18] htcfreek commented on #11860
We should use only one symbol. I suggest the image.

[2021-08-02 14:20] htcfreek commented on #11860
@niels9001
Do we have a admin warning box UNDER the all users info box when running as non-admin?

[2021-08-02 14:27] jaimecbernardo commented on #12580
This registry key is managed by the msi.
@izzyforeal , It's possible that your user doesn't have access to that registry key?

Could you please send a bug report, so we can see if the error has more details in the log?

Right-click on the PowerToys icon in the tray menu and select Report Bug
![image](https://user-images.githubusercontent.com/17161067/113557438-afe62d80-9606-11eb-9b81-6260417981f5.

[2021-08-02 14:33] mateusnssn opened #12588 "Shortcut for real-time screen layout customization"
### Description of the new feature / enhancement

I came from Linux and did not realize the fact that Windows does not have the shortcut alt+click to resize or move windows natively. I think that in this repository we can implement this functionality together with [FancyZone] (https://github.com/microsoft/PowerToys#fancyzones). ⭐

It would be an implementation similar to: Allow customization of th

[2021-08-02 14:49] ronaldoadriano opened #12589 "FancyZones is not working"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

after 1 or two hours using FancyZones, it doesn't work anymore.
Even closing the program and starting again it doesn't work.

It's necessary restart the computer to use this function again.

### ✔️ Expected Behavior

function needs to work everytime.

### ❌ Actual

[2021-08-02 15:06] jaimecbernardo commented on #9143
Hi @FWest98 ,
Do you mean disabling the PowerToys run plugin for Windows Search in Settings?

[2021-08-02 15:08] htcfreek commented on #9933
@dedavis6797
This issue needs a tag fix.

[2021-08-02 15:12] FWest98 commented on #9143
Yes, the suggestion that was also mentioned before in this thread.

[2021-08-02 15:38] ChrisJohnTaylor commented on #9885
Wow! Thank you  serafisnz

This worked flawlessly. So it appears ON1 is exporting JPG files with some invalid EXIF tags. I have bugged this with ON1 and will report back here with what they say.

But it is interesting that all other programs I have that deal with JPG files don't choke on ON1-created JPG files. So, even though it seems ON1 Photo RAW is at fault, perhaps Image Resizer can find a way

[2021-08-02 15:48] dedavis6797 commented on #12556
Oh thanks for catching that! We'll close this to keep conversation centralized to #5291.

[2021-08-02 15:48] #12556 closed

[2021-08-02 16:03] dedavis6797 commented on #12582
Thank you for the suggestion! We'll investigate the feasibility for this and set prioritization following our general stability efforts.

[2021-08-02 16:06] JeffHanna commented on #12301
Can you be more specific, please? Once I am in Task View (Win + Tab) I cannot use Alt + Space to invoke PowerLauncher without it forcing me out of Task View. If I bring up PowerLauncher before I go into Task View then PowerLauncher removes its dialog when TaskView starts.

[2021-08-02 16:14] stefansjfw commented on #12589
Hi @ronaldoadriano, thanks for reporting. Could you attach the PT logs here generated by Bug Report Tool from systray?

![image](https://user-images.githubusercontent.com/57057282/127892161-731b66d5-61f7-4200-b146-6ce65ea9b30b.png)

[2021-08-02 16:33] marciogranzotto commented on #12589
I'm having the same issue. Mostly when I wake my pc from sleep.
If I disable Fancy Zones on the PowerToys settings and re-enable it, then it starts to work again.
I'm attaching my logs
[PowerToysReport_2021-08-02-13-31-30.zip](https://github.com/microsoft/PowerToys/files/6918337/PowerToysReport_2021-08-02-13-31-30.zip)

[2021-08-02 16:35] ChrisJohnTaylor commented on #9885
I created a spreadsheet with the EXIF tags from an ON1 Photo RAW created JPG file and the "corrected" version done by ExifTool. I sorted the columns alphabetically and inserted spaces to line up rows of info. Finally, I added a column showing where data from the two files match or not. This may help to hone in on whatever EXIF tags Image Resizer is choking on and maybe the bad tags can be dealt wi

[2021-08-02 16:36] izzyforeal commented on #12580
Jaime,
Thank you for you prompt response. As you can see in the attachment, I am the only user and have all the appropriate permissions. In that registry key you can also see that nothing is in there whatsoever. The list of all tools isn't there at all. Sadly, I can't give you a bug report because Powertoys isn't really installed. When the error screen appears as in my original post (during instal

[2021-08-02 16:45] stefansjfw commented on #12588
Thank you for the suggestion! We'll investigate the possibility of adding this into Fancy Zones or making it a new Power Toy and set prioritization following our general stability efforts.

[2021-08-02 17:39] Jay-o-Way commented on #12588
Not a bad idea. Seems related to issues #1823, #269, #39.

[2021-08-02 17:56] stefansjfw commented on #12586
This is fixed in the meantime. Next release will contain the fix

[2021-08-02 17:58] sql-chris-albert commented on #12282
@dedavis6797 I am using 2 Dell U2713HM monitors @ 2560x1440 @ 100%. Both of these are connected via Display Port on a docking station which is connected to my laptop via USB C. I am currently running Windows 10 Pro 20H2.

[2021-08-02 18:12] dedavis6797 commented on #12587
Thanks for reporting this @SoccerCore11. Can you attach the logs generated from the Report Bug tool in the systray?

![image](https://user-images.githubusercontent.com/61330599/127905388-2604c9b9-a85a-40e5-af6b-c468105e1e80.png)

[2021-08-02 18:15] dedavis6797 commented on #12587
Also can you clarify your repro steps. You say Win+, but are you referring to launching the editor with Win+` ?

[2021-08-02 18:22] jaimecbernardo commented on #12580
@izzyforeal,
Responding by e-mail won't send the attachments to GitHub, so I can't see them.

There's the possibility that those registry keys are there but assigned to other user (the user that was there before the reformat)?
Perhaps that's why you can't see them.

Could you please share these files?
`%localappdata%\Microsoft\PowerToys\powertoys-bootstrapper-msi-0.41.4.log`
`%localappdata%\Micros

[2021-08-02 18:35] stefansjfw commented on #7091
Not applicable anymore, as new sizes are added from settings now. Also, focus lands on newly added size there.

[2021-08-02 18:35] #7091 closed

[2021-08-02 18:43] SoccerCore11 commented on #12587
https://1drv.ms/u/s!AvswTrIohJresfNu5ciB-hGbkgERkw?e=ahWXwX

No, not launching the editor. I'm using the Windows and Arrow Keys on the keyboard to snap the windows into the zones.

[2021-08-02 20:06] Knobibrot opened #12590 "Some keys are not properly mapped when using a modifier key"
### Microsoft PowerToys version

0.41.4

### Running as admin

- [ ] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

Set "scroll lock" or "pause" to a key (I used an F key like F13). Now try to use that F key together with the control key I did that by trying to set a shortcut in my media player to ctrl+F13.
(I haven't tested other modifiers like alt).

### ✔️ Expected Beha