[2021-12-01 06:51] pilgi3 commented on #13666
@crutkas Yes, I will do this right know and let you know.

[2021-12-01 06:57] saibrok opened #14717 "Fast switching between audio devices"
### Description of the new feature / enhancement

Keyboard shortcuts for quick switching between audio devices. For example, to switch to a selected device, either between two selected ones, or to cycle through them. The same can be done for the microphone.

### Scenario when this would be used?

daily activities

### Supporting information

Some devices (such as headphones) have a "switch to this

[2021-12-01 07:09] suburbanbourbon commented on #13984
One more thing is that this issue also persists in Google Meet on Firefox, where it just crashes the browser.
As for Google Meet on Chrome, when I change the camera in the settings. It displays `Camera Failed` in the tiny preview window.
[PowerToysVideoConference_x64.log](https://pastebin.com/wD9k0ncY)
[PowerToysVideoConference_x86.log](https://pastebin.com/b06RL3aT)

Processor	       -  Intel(R)

[2021-12-01 07:17] #14180 closed

[2021-12-01 07:18] pilgi3 commented on #13666
Sorry but still the same error.
Added again a bug report.

[PowerToysReport_2021-12-01-08-17-28.zip](https://github.com/microsoft/PowerToys/files/7631632/PowerToysReport_2021-12-01-08-17-28.zip)

[2021-12-01 07:28] jonaskohl opened #14718 "FindMyMouse is behind start menu"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [ ] Yes

### Area(s) with issue?

Mouse Utilities

### Steps to reproduce

1. Open the start menu
2. Press <kbd>Left Ctrl</kbd> twice

### ✔️ Expected Behavior

The *Find My Mouse* spotlight should appear in front of everything, including the start menu

### ❌ Actual Behavior

The spotlight goes behind the start menu and taskbar

Scr

[2021-12-01 07:38] witooski commented on #13673
The issue persists with the latest version of PowerToys which is 0.51.
Please find attached bug report from the application itself, along with details from Windows Event Log.

![image](https://user-images.githubusercontent.com/68105498/144191684-7ed6daf9-976c-40a0-941c-4dd5ea7c1e42.png)

[PowerLauncher_Event.zip](https://github.com/microsoft/PowerToys/files/7631784/PowerLauncher_Event.zip)
[PowerT

[2021-12-01 07:47] Jay-o-Way commented on #14718
Yes, that has been mentioned before and it turns out that start menu takes top priority. Not much (aka nothing) to do about it unfortunately.

[2021-12-01 07:50] Jay-o-Way commented on #14713
Actually, this is the result of many requests because sometimes people want to apply more then one thing after each other. But it's not impossible something in the UI could be changed...

[2021-12-01 08:02] pilgi3 commented on #13666
Ok, I found out what the problem is.
The logged on user and the admin user are different (I mentioned in the bug description).
Let me explain:
My user, let's say user A, is a local non-admin user.
To change the settings I use "Restart PowerToys as Admin"
The UAC comes up and I fill in my admin user, let's say user B.

![grafik](https://user-images.githubusercontent.com/44865075/144194197-23770771-

[2021-12-01 08:07] eirinn1975 opened #14719 "Recycle bin in tray area"
### Description of the new feature / enhancement

option to activate a recycle bin in the tray area, so that the desktop icon can be removed.

### Scenario when this would be used?

Instead of using the desktop icon, having the recycle bin in the tray area would allow a cleaner desktop while keeping the same number of clicks to open/empty the recycle bin. Contextual menu by right click could conta

[2021-12-01 08:24] Jay-o-Way commented on #14719
Yes, fair idea. Has been mentioned before. I don't know why we can't just pin it to the task bar, like any other app.
Know of one work-around: to get it in the task bar, you can create a small toolbar (at least on Win10) and therefore you'd need a folder with a (.lnk) shortcut to the Recycle bin. Cumbersome, but it's a way...

[2021-12-01 08:27] ChrisYin opened #14720 "KeyBoard Manager: edit remappings in a json file"
### Description of the new feature / enhancement

We need to change remappings by edit json file.

### Scenario when this would be used?

When user needs to set the same pattern of remappings for plenty of apps(without set it globally), we need a more convinient method to add those remappings, probably the copy-and-paste inside json file.
This feature is already supported in Windows Terminal or VS

[2021-12-01 08:37] stdedos opened #14721 "Allow clean downgrade"
### Description of the new feature / enhancement

It's annoying that you don't allow a clean path to downgrade. I don't see what would be the problem if, akin to upgrading, installer would let you downgrade (at a confirmation, if you'd like)

### Scenario when this would be used?

If the new version has bugs, I'd like to run the previous version installer, and go back to a working state.

### Supp

[2021-12-01 08:37] jonaskohl commented on #14718
After a quick search, I found that it has something to do with `UIAccess`. Although the solution I found was for Windows 8's Metro UI, but maybe it still applies to Windows 10/11: https://stackoverflow.com/a/14666283

[2021-12-01 08:44] eirinn1975 commented on #14719
Yeah, that doesn't work on Win 11, unfortunately.

[2021-12-01 08:55] bendem commented on #14339
Same here, ThinkPad T495 internal cam, image is flipped in Teams (when it appears, generally it's just black).

[2021-12-01 09:05] stefansjfw commented on #14514
@Chaphasilor That's a bit different issue tracked here https://github.com/microsoft/PowerToys/issues/14099

New PowerToys v0.51 is out: https://github.com/microsoft/PowerToys/releases/tag/v0.51.0

Can someone try and confirm that this issue is still there?

[2021-12-01 09:15] franky920920 commented on #14712
cc: @jaimecbernardo

[2021-12-01 09:19] franky920920 commented on #14718
Thanks for your information!
cc: @jaimecbernardo / @crutkas FYI, I'll let this one be the tracking issue.

[2021-12-01 09:19] franky920920 commented on #14718
ref: 14405

[2021-12-01 09:22] franky920920 commented on #14714
Duplicate of #14701

[2021-12-01 09:22] franky920920 commented on #14714
Thanks for reporting this. This issue is a duplicate.
I'm linking this issue to #14701 to centralize the discussion thread for tracking.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-01 09:24] SeraphimaZ commented on #14678
Misunderstood, sorry :)
Thank you for the idea!

[2021-12-01 09:25] franky920920 commented on #14708
@crutkas Thoughts?

[2021-12-01 09:28] franky920920 commented on #14716
Can you follow the instructions from https://github.com/microsoft/PowerToys/issues/11803#issuecomment-865897469 to gather some information for us?
Thanks!

[2021-12-01 09:29] AadiLegend opened #14722 "PowerToys Run Calculator Feature Should Have Factorial (!)"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [ ] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

Press Alt + Space to bring up the PowerToys Run.
Type 5! (for example).
There will be no results.

https://user-images.githubusercontent.com/91146818/144208327-a6065865-7ed3-4827-a084-a0605dc33e9a.mp4

### ✔️ Expected Behavior

The PowerToys Run Calculator shoul

[2021-12-01 09:31] franky920920 commented on #14716
duplicate of #7456
ref: #10369

[2021-12-01 09:31] franky920920 commented on #14716
Thanks for reporting this. This issue is a duplicate.
I'm linking this issue to #7456 to centralize the discussion thread for tracking.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-01 09:33] franky920920 commented on #14716
@liang-hong FYI, this is caused by the PT Run, not the awake. ;)

[2021-12-01 09:38] franky920920 commented on #14722
Duplicate of #13010

[2021-12-01 09:38] franky920920 commented on #14722
Thanks for reporting this. Please refer to #13010 for information.

[2021-12-01 09:47] IgitBuh commented on #1928
After all the senseless discussions about this feature in the previous repository, I didn't think this day will ever come. So happy to hear this, finally I can use Image Resizer again. THANK YOU!

[2021-12-01 09:58] Werve commented on #14514
#14634 With v0.51 still have the problem.

[2021-12-01 10:07] SamHasler commented on #557
@MikeWilliams-UK

NirSoft have another tool that can move (center) windows on a single monitor.

1. Download the WinLister application [here](http://www.nirsoft.net/utils/winlister.html).
2. Run WinLister as Administrator and select the window you wish to move back on Screen. Not running as administrator will not give the application the ability to move the windows for you.
3. Right click and sele

[2021-12-01 10:10] SeraphimaZ commented on #13214
Yes.

[2021-12-01 10:11] niels9001 commented on #14680
I made a quick mock-up of that:

![image](https://user-images.githubusercontent.com/9866362/144215140-ecf6e014-ada8-4c75-8645-7d6e79bc33bb.png)

Would this mechanism include all of the use cases that we have? Other thing to consider is additional features we need to add to that UI as well.

[2021-12-01 10:16] MikeWilliams-UK commented on #557
Interesting utility, thanks for pointing it out.
Shame it only centres on primary screen ...
Not sure why it would need admin rights for processes that are not elevated?
Just tested it non elevated  to try to move it's own window and it crashed !

[2021-12-01 10:16] niels9001 opened #14724 "[PowerRename] Highlight rows that will be changed"
### Description of the new feature / enhancement

Add some sort of indicator or color to indicate that the file or folder will be updated.

### Scenario when this would be used?

Currently, it's a bit hard to see if a filename will be updated or not. (if the Renamed column is empty). Showing this visually would be nice and easier to distinguish (especially when having lots of files).

### Supporti

[2021-12-01 10:17] SamHasler commented on #557
One of the comments on the answer points out that there's also [WinExplorer](http://www.nirsoft.net/utils/winexp.html) which doesn't need admin rights.

[2021-12-01 10:36] Peckingtonian commented on #14514
#14514 The problem still exists with v0.51.

[2021-12-01 11:02] htcfreek commented on #14724
xrer: #1853

[2021-12-01 11:11] htcfreek opened #14725 "[Settings] [VCM] Machine wide settings not aligned for all users"
_Originally posted by @htcfreek in https://github.com/microsoft/PowerToys/pull/14686#issuecomment-983411314_

Additional I can't change these settings correctly. And in enterprise environment where normal users doesn't have admin permissions this is a problem!

[Update: @htcfreek] With 0.53.1 and higher `Explorer addons` don't require admin permissions any more. [/Update]

[2021-12-01 11:16] htcfreek commented on #14651
The double key press duration should be configurable too.

[2021-12-01 11:23] ikeas68 opened #14726 "column folder size in windows 10 explorer"
### Description of the new feature / enhancement

hello
in explorer for windows 10 having a specific column for seeing the size for folders

### Scenario when this would be used?

can add this column

### Supporting information

_No response_

[2021-12-01 11:26] jaimecbernardo commented on #14701
@crutkas ,
The main root for this is much older. Some PowerToys Run plugins are not being deleted by the uninstall process. Here's an older one which caused the old plugins load to fail, which was fixed by ignoring and logging that sort of fail load. https://github.com/microsoft/PowerToys/issues/11916

Now it's resurfacing due to the duplicated plugins being valid and loading correctly, causing th

[2021-12-01 11:28] jaimecbernardo commented on #14701
@EstoyMejor , Could you please send a bug report?

@franky920920 , on this kind of errors where the solution is to uninstall and delete, please ask the user for a bug report before. The bug report contains a .txt with the install folder structure and hash for each file, which we can diff against the correct installation.
Thank you.

[2021-12-01 11:33] jaimecbernardo commented on #14701
From the bug file sent, it seems the plugins we renamed recently were not deleted, which causes a fail to load the recent one while the older one being reported below (0.49.1.0).

Example:

[code]

[code]

[2021-12-01 11:35] mbardiovsky opened #14727 "FancyZones do not respect the taskbar at all so the part of a zoned window not visible."
### Microsoft PowerToys version

v0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones, FancyZones Editor

### Steps to reproduce

**The Zones do not respect the system taskbar.**
The screen is divided to zones over the taskbar.
If the taskbar is in the left or in the top position then the zoned window moved by the taskbar size so the most right or the most bottom part is n

[2021-12-01 11:49] Chaphasilor commented on #14495
Was thinking about this, using `?` or `!`. Still doesn't solve the "problem" of having to jump back to the start of the query after not finding what one was looking for :)

[2021-12-01 11:55] lwd-temp opened #14728 "explorer.exe freezes while trying to preview pdf files in sidebar"
### Microsoft PowerToys version

"0.51.0"

### Running as admin

- [X] Yes

### Area(s) with issue?

PDF Preview

### Steps to reproduce

Enable PDF Preview ,enable file preview sidebar and select a PDF file in file explorer.
![屏幕截图 2021-12-01 195035](https://user-images.githubusercontent.com/26019675/144229767-e2e5b2f0-1304-4f64-adee-ebe0b1820839.png)
[PowerToysReport_2021-12-01-19-42-38.zip](htt

[2021-12-01 12:18] yuyoyuppe commented on #14701
I think it could be done as a CA, and it should work unless the file is being used by another process.

[2021-12-01 12:32] dougwl opened #14729 "[PT Run] Windows Settings search doesn't return 'Device Discovery' option."
### Microsoft PowerToys version

0.5.1

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

With the settings plugin being enabled,  search for 'device discovery' in PowerToys Run.

### ✔️ Expected Behavior

When searching by 'Device Discovery' an option referent to **'ms-settings-connectabledevices:devicediscovery'** should be displayed, since it's par

[2021-12-01 12:33] JM2K69 opened #14730 "Add Zoom utility"
### Description of the new feature / enhancement

it would be great to have a feature like ZoomIt integrated to PowersToys

### Scenario when this would be used?

During Live session or meeting.

### Supporting information

_No response_

[2021-12-01 12:41] MarcBurkels-TomTom commented on #14223
Trust Full HD webcam doesnt support overlay, also shows frozen frame when camera is muted. USB\VID_145F&PID_02AA\

[2021-12-01 12:48] lwd-temp commented on #14728
It recovered after a few installing & uninstalling and enabling & disabling.

[2021-12-01 12:48] #14728 closed

[2021-12-01 13:06] SunnyLimc commented on #14623
My solution is downgrade PowerToys to the version v0.46.0 (The last version without bug)

[2021-12-01 13:12] mitya12342 opened #14731 "Change priority of different plugin's results in PowerToys Run"
### Description of the new feature / enhancement

Some kind of mechanism to prioritize one PowerToys Run plugin results over another without excluding from global results.

### Scenario when this would be used?

Example: Both Windows settings and Windows System commands plugins are active and included in global results. When someone types "sleep", "lock", first rows are "Power and sleep", "Lock Sc

[2021-12-01 13:13] thor commented on #14730
Duplicate of
- #3096

[2021-12-01 13:32] stefansjfw commented on #14680
I'm having hard time trying to reproduce this:
![image](https://user-images.githubusercontent.com/57057282/144243292-2bea481d-5357-4764-9a22-1ae66433a1cc.png)

As you can see, this works for me. @eidylon Can you give us some specific example where this doesn't work? Or screen recording? Thanks

[2021-12-01 13:37] stefansjfw commented on #14730
Closing as duplicate of #3096

[2021-12-01 13:37] #14730 closed

[2021-12-01 13:40] brent-schulze opened #14732 "System.ArgumentException: An item with the same key has already been added"
### Microsoft PowerToys version

0.51.0.0

### Running as admin

- [ ] Yes

### Area(s) with issue?

Installer

### Steps to reproduce

![image](https://user-images.githubusercontent.com/94308091/144244174-b5505adc-bd6d-4089-a0ab-b2a9161bd6f9.png)
[2021-12-01.txt](https://github.com/microsoft/PowerToys/files/7634258/2021-12-01.txt)

### ✔️ Expected Behavior

to install the update succesfully

###

[2021-12-01 13:42] stl314x opened #14733 "System.ArgumentException: An item with the same key has already been added. Key: B4D3B69656E14D44865C8D818EAE47C4"
### Microsoft PowerToys version

0.51.0.0

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

Run powertoys run.

### ✔️ Expected Behavior

No error message.

### ❌ Actual Behavior

![image](https://user-images.githubusercontent.com/73694975/144244776-7d65f614-498e-4722-8de7-e61f959ecb9c.png)
[2021-12-01.txt](https://github.com/microsoft/PowerToys/files/7634

[2021-12-01 13:57] ColonelBlip opened #14734 "Fancy Zone window switching"
### Description of the new feature / enhancement

Currently I have to arrange fancy zones where some part of the window is visible. I would be great if I could bring a particular zone to the top of the list of windows so it would be easier to move an application into that window. E.G., if my zones are stacked in order (bottom to top) 1, 2, 3 4 and I want to gain access to zone 2, enter a key combo

[2021-12-01 14:08] PulpyPlays opened #14735 ""Clipboard" Shortcut / Macro"
### Description of the new feature / enhancement

Very similar to a key binding, I am looking to use a set combination of key strokes that will pull from a list of different phrases or documents you might need numerous times.

Example - To set it up, you'd pick what you want your shortcut to be to access the clipboard.  For me, I would use left alt and left control, simultaneously.  By holding dow

[2021-12-01 14:28] USMA56795 opened #14737 "FancyZones always resets zones-settings.json on upgrade"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

1. Install PowerToys version `foo1`
2. Setup custom zones using FancyZones
3. Install PowerToys version `foo2`
4. Your custom zones will have been deleted.

### ✔️ Expected Behavior

I would expect 'zones-settings.json' (stored at `%USERPROFILE%\AppData\Local\Micro

[2021-12-01 14:29] USMA56795 commented on #14737
I've started just keeping a backup of my 'zones-settings.json' in OneDrive and copying it over to '%USERPROFILE%\AppData\Local\Microsoft\PowerToys\FancyZones\' after every upgrade.  It's an okay workaround but is annoying.

[2021-12-01 14:41] franky920920 commented on #14733
Duplicate of #14701

[2021-12-01 14:41] franky920920 commented on #14733
Thanks for reporting this. This issue is a duplicate.
I'm linking this issue to #14701 to centralize the discussion thread for tracking.

Thanks for your help to make PowerToys a better piece of software!

[2021-12-01 14:42] franky920920 commented on #14732
Duplicate of #14701

[2021-12-01 14:42] franky920920 commented on #14732
Thanks for reporting this. This issue is a duplicate.
I'm linking this issue to #14701 to centralize the discussion thread for tracking.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-01 14:44] franky920920 commented on #14701
@crutkas @jaimecbernardo @yuyoyuppe I'm seeing a very high volume of reports for this issue. Setting this to a p-2 issue, please adjust this if required.

[2021-12-01 14:49] franky920920 commented on #14727
Seems like #14727
cc: @SeraphimaZ

[2021-12-01 14:58] MauriceH1 commented on #279
Is there a place were this issue is being discussed along with potential solutions?
I'd love to participate in such a discussion.

[2021-12-01 15:02] franky920920 commented on #14729
This should be the setting plugin, For `ms-settings-connectabledevices:devicediscovery`, this will be handled by the URI plugin.

cc: @htcfreek

[2021-12-01 15:08] stefansjfw commented on #14680
Also, @eidylon Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/57057282/144259762-503afb1b-bfe5-423c-8f01-550ed7632d33.png)

[2021-12-01 15:08] franky920920 commented on #279
@MauriceH1 we cloud just have the discussion here. :)

[2021-12-01 15:20] IVashDaStampede opened #14738 "Better snipping tool/Always on top"
### Description of the new feature / enhancement

I know there's an always on top feature currently being developed but I think it would be awesome if the feature also incorporated something I came across a few years ago. Basically a colleague of mine has this program that allows him to snip parts of the screen kinda like the normal snipping tool but the part he would snip would be borderless and

[2021-12-01 15:25] Jay-o-Way commented on #14701
(thinking out loud - might even be a \#hotfix?)

[2021-12-01 15:47] WilliamTael opened #14739 "Keyboard shortcuts"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

Just updated to the newest v0.51.0 and suddenly all my keyboard shortcut remaps don't work anymore.
Tried restarting explorer.exe, but to avail.
Tried admin mode, but no difference.
Downgraded to v0.49.1 but problem persists.
Didn't tried to do a full restart

[2021-12-01 15:48] Jay-o-Way opened #14740 "Tweak descriptions for GitHub labels"
### Description of the new feature / enhancement

No priority, but want to ask if it's possible to tweak a few desciptions for the labels. Some don't fit well when searching this list: ![image](https://user-images.githubusercontent.com/65828559/144263064-878d3d08-b413-4d0a-a222-e0023863b06f.png)

I think bits like "Refers to the idea of [...]" and "Issue pertaining to [...]" and "Issue that deals

[2021-12-01 15:54] Jay-o-Way commented on #14727
It sure is! 😂

[2021-12-01 15:57] Jay-o-Way commented on #14724
...and those who are linked to that one

[2021-12-01 15:58] crutkas commented on #14495
@Chaphasilor typically you know what you want.  If it is an app, the thought here is you would just type. Else, use the global command / targeted action command but would be slower results due to non deterministic results.

Right now we have a single list of results, if we don’t return in a single set, you will see popping and have possible mis-clicks when stuff sorts based on updated results. if

[2021-12-01 15:59] Aaron-Junker commented on #14740
I think this label can get removed.

For this we use Area-Enterprise.

cc: @crutkas @dedavis6797

[2021-12-01 15:59] crutkas commented on #14495
@Chaphasilor can you be more targeted in your statement. Would like to better understand also

what you outline would still exist if you mistyped or tried to find a file with the wrong term

[2021-12-01 16:01] crutkas commented on #14740
Let’s setup a triage team sync. A bunch of these are very targeted for … “reasons”

I want to reduce labels personally as of now personally.

[2021-12-01 16:02] Jay-o-Way commented on #14721
You can always download the older installer file, right?

[2021-12-01 16:06] crutkas commented on #14740
Also enterprise deals with enterprise customer scenarios (big companies, Citrix scenarios, ….)

I deal with prioritize since that dictates what the team should focus on. If a community member wants to pick something up that is a p3 go nuts but we need to focus on p0 and 1 issues.

Espresso was the original name of awake.  Just like launcher was for PT Run, sonar was find my mouse. We will always c

[2021-12-01 16:06] Jay-o-Way commented on #14740
Ah yes, found it: ![image](https://user-images.githubusercontent.com/65828559/144269366-0da5a201-f84a-43c0-beed-52a5431013ab.png)

[2021-12-01 16:06] crutkas commented on #14740
Jay, can you be more targeted at which you want tweaked?

[2021-12-01 16:13] niels9001 commented on #14724
@htcfreek @Jay-o-Way This what I was thinking about:

![PowerRename hightlight](https://user-images.githubusercontent.com/9866362/144270750-d461043c-d85a-4e71-bd1e-2f8ceabd4fd3.gif)

Thoughts?

[2021-12-01 16:19] Jay-o-Way commented on #14680
Yep, that's what I had in mind. Only nit would be that the word "file" can mean both name + extention; and "...only" implies that it negates the others, but that's not the case.
Think "file name" & "file extention" would be best / most specific.

I think so. If anybody knows a situation that doesn't, I would be happy to hear.

[2021-12-01 16:21] stefansjfw commented on #14724
I like it! Very nice!

[2021-12-01 16:24] Jay-o-Way commented on #14651
That's introduced in .51, isn't it?

[2021-12-01 16:27] stdedos commented on #14721
The issue is not about the availability of the installer of the previous version - but rather allowing them to actually start the process - instead of just giving the "A newer version is installed" error message.

[2021-12-01 16:34] LtCmdrKeene opened #14741 "Disable Animations in FancyZones"
### Description of the new feature / enhancement

I would like for FancyZones to honor the system animation preferences (as set in SystemPropertiesPerformance.exe) and not show any animations like fading the grid/zones into view, when the user has chosen not to see animations.

### Scenario when this would be used?

While it's smooth and a great experience locally, when I access my PC via RDP, the

[2021-12-01 16:39] Chaphasilor commented on #14495
What I'm talking about is that there should be a (better) way to enable "global" search after having done a search already. So that if you type `xyz` and notice that your desired result is not included (because the plugin isn't active), you can use a shortcut or a suffix to re-search with all plugins, and don't have to move your cursor to the start of the input field.
It's about quickly and easily

[2021-12-01 16:45] Jay-o-Way commented on #14724
@niels9001 Makes so much when you see it! 👍🏻

[2021-12-01 16:46] maxkoshevoi commented on #14651
Doesn't seem to be:

![image](https://user-images.githubusercontent.com/6609929/144276602-cfb3b3a0-b5f2-4ec9-bba4-69fcfc0fbc32.png)

[2021-12-01 16:50] tejones-intel opened #14742 "System.ArgumentException: An item with the same key has already been added"
### Microsoft PowerToys version

v0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

Power  Toys launched after upgrading to v0.51.0.

### ✔️ Expected Behavior

No crash.

### ❌ Actual Behavior

Error Message from Power Toys with the following information:

Version: 0.51.0.0
OS Version: Microsoft Windows NT 10.0.22000.0
IntPtr Length: 8
x64: True
Dat

[2021-12-01 16:53] jaimecbernardo commented on #14742
Hi @tejones-intel ,

What method did you use for the original installation? Windows Store?

Could you please send a bug report?

Right-click on the PowerToys icon in the tray menu and select Report Bug
![image](https://user-images.githubusercontent.com/17161067/113557438-afe62d80-9606-11eb-9b81-6260417981f5.png)
Drag and drop report into a GitHub comment.

[2021-12-01 16:54] jaimecbernardo commented on #14742
After sending the bug report, so we can analyze what's going on, there's something you can do to fix this:
1 - Uninstall PowerToys.
2 - See if the PowerToys install directory (default: C:\Program Files\PowerToys) is still there. If it is, delete it manually.
3 - Install PowerToys. (Please use the Github release for this)

Please let us know if this works for you.

[2021-12-01 16:55] jaimecbernardo commented on #14742
Duplicate of https://github.com/microsoft/PowerToys/issues/14701

[2021-12-01 16:55] bielej opened #14743 "[Settings] UI elements are blank"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

General, Settings

### Steps to reproduce

Open Settings, switch to FancyZones, scroll down
![PowerToys Settings_2021-12-01_17-49-41](https://user-images.githubusercontent.com/11682584/144277642-714795c9-8ec8-4852-b491-cf0068c0c0af.png)
![PowerToys Settings_2021-12-01_17-49-12](https://user-images.gi

[2021-12-01 16:56] jaimecbernardo commented on #14732
Hi @brent-schulze  ,

What method did you use for the original installation? Windows Store?

Could you please send a bug report?

Right-click on the PowerToys icon in the tray menu and select Report Bug
![image](https://user-images.githubusercontent.com/17161067/113557438-afe62d80-9606-11eb-9b81-6260417981f5.png)
Drag and drop report into a GitHub comment.

[2021-12-01 16:56] jaimecbernardo commented on #14732
After sending the bug report, so we can analyze what's going on, there's something you can do to fix this:
1 - Uninstall PowerToys.
2 - See if the PowerToys install directory (default: C:\Program Files\PowerToys) is still there. If it is, delete it manually.
3 - Install PowerToys. (Please use the Github release for this)

Please let us know if this works for you.

[2021-12-01 16:57] jaimecbernardo commented on #14733
Hi @stl314x  ,

What method did you use for the original installation? Windows Store?

Could you please send a bug report?

Right-click on the PowerToys icon in the tray menu and select Report Bug
![image](https://user-images.githubusercontent.com/17161067/113557438-afe62d80-9606-11eb-9b81-6260417981f5.png)
Drag and drop report into a GitHub comment.

[2021-12-01 16:57] jaimecbernardo commented on #14733
After sending the bug report, so we can analyze what's going on, there's something you can do to fix this:
1 - Uninstall PowerToys.
2 - See if the PowerToys install directory (default: C:\Program Files\PowerToys) is still there. If it is, delete it manually.
3 - Install PowerToys. (Please use the Github release for this)

Please let us know if this works for you.

[2021-12-01 16:58] htcfreek commented on #14724
Looks Good. But I would use an other color. Blue looks like selected. Maybee green.

[2021-12-01 17:00] niels9001 commented on #14724
It uses the AccentColorLight1 brush, which is common across Windows apps. That means it will adjust based on your accent color. E.g. dark mode and pink:

![image](https://user-images.githubusercontent.com/9866362/144279015-24617788-7b0e-407b-9c6e-4ecc6355932d.png)

[2021-12-01 17:05] franky920920 commented on #14743
Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/11349917/133042052-4975be21-4699-4363-83c9-a8e1869d079d.png)

cc: @niels9001

[2021-12-01 17:07] bielej commented on #14743
Sur
[PowerToysReport_2021-12-01-17-52-25.zip](https://github.com/microsoft/PowerToys/files/7635832/PowerToysReport_2021-12-01-17-52-25.zip)
e.

[2021-12-01 17:08] lrnv commented on #11112
The reproducing steps are :
1° get true admin priviledges once more
2° Set the box to run PT as admin
3° Revoke admin priviledges to the user
4° At startup, when Pt asks for admin password, enter the user and password of ANOTHER admin.

Of course, this became an issue for me because this is the laptop from my compagny, I cannot reproduce any of this..

[2021-12-01 17:09] DanRotaru opened #14744 "PowerToys Run - Percentage calculator"
### Description of the new feature / enhancement

Add simply possibility to calculate procentage from number for example (100-10%). In chrome it works directly in search bar
![image](https://user-images.githubusercontent.com/7759507/144278822-1ec7516e-e20f-4ffa-82cf-df67607fc5ec.png)
This feature will increase your work speed and will save a lot of time. I think it's very useful for different type

[2021-12-01 17:10] #14714 closed

[2021-12-01 17:11] niels9001 commented on #14743
@bielej Can you share your theming settings you have configured in Windows Settings?

![image](https://user-images.githubusercontent.com/9866362/144280881-df903815-4438-4b19-b4b6-e413d72452d5.png)

[2021-12-01 17:11] franky920920 commented on #14714
@wildcat2020
Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. You can upload it here or in #14701's comment. Thanks!
![image](https://user-images.githubusercontent.com/11349917/133042052-4975be21-4699-4363-83c9-a8e1869d079d.png)

[2021-12-01 17:12] bielej commented on #14743
![ApplicationFrameHost_2021-12-01_18-12-10](https://user-images.githubusercontent.com/11682584/144281046-63b79148-3b46-4d9e-846d-1fce8531e55e.png)

[2021-12-01 17:12] franky920920 commented on #14744
Duplicate of #13631

[2021-12-01 17:12] franky920920 commented on #14744
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #13631 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-01 17:15] franky920920 commented on #14710
Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. You cloud upload it here or in the #14701's comment. Thanks!
![image](https://user-images.githubusercontent.com/11349917/133042052-4975be21-4699-4363-83c9-a8e1869d079d.png)

[2021-12-01 17:15] niels9001 commented on #14414
Seems a similar issue:

https://github.com/microsoft/PowerToys/issues/14414

[2021-12-01 17:16] WilliamTael commented on #14739
Sorry! Can't do that since restarting has fixed the issue and I'm not on v0.51.0 anymore.

[2021-12-01 17:17] WilliamTael commented on #14739
[PowerToysReport_2021-12-01-12-25-16.zip](https://github.com/microsoft/PowerToys/files/7635926/PowerToysReport_2021-12-01-12-25-16.zip)
Wait! I think I did it before downgrading

[2021-12-01 17:18] niels9001 commented on #14743
Relevant WinUI issue: #6344

[2021-12-01 17:18] bielej commented on #14743
This might be helpful:
![2021-12-01_18-17-34](https://user-images.githubusercontent.com/11682584/144282043-f56b4af4-188e-48f7-b0c6-f8e27635ad41.gif)

[2021-12-01 17:18] Aaron-Junker commented on #14414
Some icons in PT Run settings don't show up for me. Is this related to this?

![image](https://user-images.githubusercontent.com/58633848/144282079-d48122e7-b00e-4629-ae88-88387ee98c34.png)

[2021-12-01 17:19] daugaard47 opened #14745 "System.ArgumentException: An item with the same key has already been added. Key:"
### Microsoft PowerToys version

0.51.00

### Running as admin

- [X] Yes

### Area(s) with issue?

Installer

### Steps to reproduce

[code]

### ✔️ Expected Behavior

I expected it to install

### ❌ Actual Behavior

It did not install

### Other Software

_No response_

[2021-12-01 17:24] htcfreek commented on #14724
Okay 👍🏻. We should care about contrast.

[2021-12-01 17:28] niels9001 commented on #14414
Relevant WinUI issue: https://github.com/microsoft/microsoft-ui-xaml/issues/6344

[2021-12-01 17:33] yuyoyuppe commented on #14701
we'll clean install directory before installation to mitigate this

[2021-12-01 17:56] hatsunevocal opened #14747 "Shortcuts for screen rotation"
### Description of the new feature / enhancement

Could you give shortcuts for screen rotation? Because computers with a AMD Readon Graphics Card can't have a shortcuts like `Ctrl+Alt+→`.

### Scenario when this would be used?

Screen rotation

### Supporting information

_No response_

[2021-12-01 18:00] htcfreek commented on #14729
@dougwl
The destination of this url isn't a setting in the settings app. That's why it's not listed official as settings url and not part of the settings plugin atm.

Can you plz share your source where you found the list with this uri? This would help us to implement it.

[2021-12-01 18:00] ludvigbartholdsson commented on #279
I'm also trying to solve this. I'm using the Samsung Odyssey G9 240 HZ.
I want to be able to play fullscreen mode on games in the middle of my screen while having other windows on the sides.
Like different screens.

[2021-12-01 18:03] Jay-o-Way commented on #14740
[PowerToys GitHub labels.xlsx](https://github.com/microsoft/PowerToys/files/7636201/PowerToys.GitHub.labels.xlsx)
Yes I can :)

[2021-12-01 18:09] Aaron-Junker commented on #14740
Good job. But I think every label should have a description

[2021-12-01 18:11] Jay-o-Way commented on #10377
Is this still an issue?

[2021-12-01 18:13] Jay-o-Way commented on #9755
"lowercase" == `[a-z]` and "uppercase" == `[A-Z]`, doesn't it? Then use `$n` to reference?

[2021-12-01 18:17] Jay-o-Way commented on #8796
That is, powershell currently seems to work reasonably when deciding to take a lowercase first-letter-of-a-word and capitalize it or leave it alone. But when a first-letter-of-a-word is capitalized it seems that powershell makes no decisions about it, when it should.

In the second example, the input == output. So there are no changes. The text you expect doesn't make sense. Every word should star

[2021-12-01 18:19] Jay-o-Way commented on #5924
Is this still an issue?

[2021-12-01 18:20] benmjacobs commented on #10236
It doesn’t appear to be an issue any longer.

On Tue, Nov 30, 2021 at 9:24 PM Franky Chen ***@***.***>
wrote:

--
Ben Jacobs
cell: 859-653-3430

[2021-12-01 18:21] Jay-o-Way commented on #13395
Related/duplicate to #3454

[2021-12-01 18:23] Jay-o-Way commented on #14724
This would fix #608 (from oct. '19) right?

[2021-12-01 18:25] Jay-o-Way commented on #6866
Is this still an issue?

[2021-12-01 18:32] Jay-o-Way commented on #14651
True, was mistaken with animation duration. Delay is hardcoded at 100 ms.

[2021-12-01 18:35] niels9001 commented on #14724
Oh, nice find :)

[2021-12-01 18:53] arch1mede opened #14748 "FancyZones needs to be turned off and on again for it to activate after its been upgraded"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

Upgrade over an existing install

### ✔️ Expected Behavior

FancyZones once is set to activate, should stay activated

### ❌ Actual Behavior

I have to turn off then on again for FancyZones to activate again

### Other Software

n/a

[2021-12-01 19:03] Jay-o-Way commented on #14223
Should we create a label `Hardware-Compatibility` ?

[2021-12-01 19:05] dedavis6797 commented on #8440
Docs updated

[2021-12-01 19:05] #8440 closed

[2021-12-01 19:05] theunrepentantgeek opened #14749 "FancyZones doesn't work after login until turned off then on"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

0. Start from PC in powered off state - not sleep, not hibernate.
1. Turn on PC
2. Log in
3. Wait for all startup applications to start
4. Try to use keyboard to move windows between zones - fails (only standard windows snap options available)
5. Try to use mouse t

[2021-12-01 19:06] dedavis6797 commented on #10289
Docs updated

[2021-12-01 19:06] #10289 closed

[2021-12-01 19:12] incansvl opened #14750 "In-place upgrade from UI fails, maybe linked to "file in use" errors"
### Microsoft PowerToys version

v0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

Installer

### Steps to reproduce

1. Running v0.49.1 from a clean install (due to previous problems with updating from the UI)
2. Notified that v0.51.0 is available
3. Choose the "Upgrade now" option in the user interface

### ✔️ Expected Behavior

PowerToys halts/exits, runs the update installatio

[2021-12-01 19:15] yuyoyuppe commented on #14223
I think for now we don't need it, since there're basically 1-2 VCM-related issues.

[2021-12-01 19:16] incansvl commented on #14750
BTW- As mentioned in other bug reports, the state of Administrator mode seems strange on my machine.

Straight from installing a new version, the Admin mode UI says that PT is running in Admin mode, and the "Restart PowerToys as Administrator" option is disabled. However "Always run as administrator" is NOT enabled, so exactly where the instruction for PT to run as admin is coming from is unclear.

[2021-12-01 19:22] Jay-o-Way commented on #14223
True, but hardware-related doesn't need to be only for VCM (I was thinking outside this issue)

[2021-12-01 19:26] TobiasIpsen commented on #11257
I still think it would be a cool addition but I don't need it, no.

[2021-12-01 19:33] htcfreek commented on #14725
cc: @yuyoyuppe

[2021-12-01 19:34] Jay-o-Way commented on #10289
docs text say "Win+Ctrl+Alt+[arrows]" while GUI says "Win+arrows", that doesn't match.
@niels9001

[2021-12-01 19:39] niels9001 commented on #10289
Which specific text in FZ settings? And what should be the final string? Win+Ctrl+Alt+arrows right?

[2021-12-01 19:41] dedavis6797 commented on #10289
Win+ Ctrl + Alt + Arrows is for snapping onto multiple zones. Win + arrows is for moving between zones. The GUI is technically correct as that's what the specific option enables, but I agree, as it is currently, the Win + Ctrl + Alt + Arrows functionality is more of a hidden feature that users would have to reference the docs to become aware of because of the multiple options that need to be set.

[2021-12-01 19:48] Jay-o-Way commented on #10289
True, _expanding_ and _moving between_ are different things indeed. I guess Text is not **that** bad, but good to know the difference.

[2021-12-01 19:50] crutkas commented on #13395
closing against 3454

[2021-12-01 19:50] #13395 closed

[2021-12-01 19:50] htcfreek commented on #13077
@BenConstable9 , @TobiasSekan

**Windows 11 Insider (22509)**
- As part of our ongoing effort to bring over settings from Control Panel into the Settings app:
    - We have moved the advanced sharing settings (such as Network discovery, File and printer sharing, and public folder sharing) to a new page in Settings app under Advanced Network Settings.
    - We’ve made some updates to the device spe

[2021-12-01 19:51] crutkas commented on #14272
All three are I believe 16 at the end of the day

[2021-12-01 19:51] #14272 closed

[2021-12-01 19:52] crutkas commented on #12389
Tracked in #16

[2021-12-01 19:52] #12389 closed

[2021-12-01 19:52] kokabi1365 opened #14752 "Reopens recently closed folders and apps"
### Description of the new feature / enhancement

Remembers all recently closed folders and applications, so that we can restore them in the same sequence in which they were closed using some hotkeys like **Windows + Shift + Z**. Just like the way Firefox, Google Chrome and other browsers let we open the recently closed tab(s). When all internet browsers allow this, so why can't Windows allow this

[2021-12-01 19:54] crutkas commented on #12605
This feels like an odd behavior when i look at it.  To me, this feels like you want a new virtual desktop and cherry pick what moves over

#16 would be a dependency of this no matter what as well

[2021-12-01 19:59] Jay-o-Way commented on #14752
Timeline (under Win+Tab) shows a history or recently opened files, but that's not quite what you're looking for.

[2021-12-01 20:02] KoJesko commented on #1490
Hello! This is my first post!

Here is what I did:
Open regedit
Go to HKEY_CLASSES_ROOT\Installer\Products
There are a bunch of regesitry directories with random letters and numbers. See which one has the ProductName registry key something PowerToys related.
Delete the folder with the key.

KoJesko

[2021-12-01 20:02] crutkas commented on #10680
@Blendertom if it happens again, please let us know

[2021-12-01 20:02] #10680 closed

[2021-12-01 20:10] Jay-o-Way commented on #14738
Thanks for letting us know :)

[2021-12-01 20:19] crutkas commented on #12403
@AndrewMSHowe so did it happen again?

[2021-12-01 20:20] Jay-o-Way commented on #14740
Is text color/contrast automatically done by the website or can it be set manually?
![image](https://user-images.githubusercontent.com/65828559/144307748-fe7ba217-f393-4136-a444-a5f807d7b4e8.png)

[2021-12-01 20:21] crutkas commented on #12317
@yuyoyuppe this isn't relevant anymore since we'll bundle the installer moving forward in .53, correct?

[2021-12-01 20:22] crutkas commented on #804
This should be broken apart i think.  We need to do little by little here to move it forward else it keeps lagging

[2021-12-01 20:23] crutkas commented on #2125
@jaimecbernardo  who would you like to do this?

[2021-12-01 20:24] crutkas commented on #2911
this should be an instant fix once #2125 is done

[2021-12-01 20:27] crutkas commented on #13520
@Andreasmb123 we need logs

[2021-12-01 20:29] code-IM-perfect commented on #14698
@franky920920  Thanks that solved the issue

[2021-12-01 20:29] #14698 closed

[2021-12-01 20:30] crutkas commented on #13631
@ivandretvic i don't understand what the result from that calculation would be.  Calculator build in doesn't seem to handle that as well.

is it 172.85?

[2021-12-01 20:32] crutkas commented on #14744
I think this is a dup of #13631 but not something we currently do nor the OS calculator does.  To me, i would just do 100*.9 as i've never seen that style notation personally before.

[2021-12-01 20:32] #14744 closed

[2021-12-01 20:33] crutkas commented on #14719
#995

[2021-12-01 20:33] #14719 closed

[2021-12-01 20:33] AndrewMSHowe commented on #12403
It has not, I just remoted in and the space isn't back. But I did notice one thing: I changed the resolution from 5120x1440 (my ultrawide at home) to 2560x1600 (my laptop here). Immediately the space was back. I went to the zone editor and it had switched to the standard "Priority Grid" template, with space around zones turned on. Switching back to 5120x1440, the space went away again. It seems li

[2021-12-01 20:34] crutkas commented on #14530
what could cause either to spin?  Could this be another possible symlink issue?

[2021-12-01 20:36] CleanCodeDeveloper commented on #9885
Glad it is an improvement!

This shouldn't be the case. I found the issue and was able to fix it. I need to create an issue and then a pull request for this.

ImageResizer copies the metadata but does not change/interpret it. I (naively) assumed that the used image library would recalculate metadata like ExifImageWidth/ExifImageHeight after resizing. Unfortunately, this is not the case.

Samples w

[2021-12-01 20:37] #14722 closed

[2021-12-01 20:40] crutkas commented on #14716
This would be #14578.  Unclear why access to one of our files is being denied.

[2021-12-01 20:41] crutkas commented on #14716
@liang-hong did you install under a different user?

[2021-12-01 20:43] crutkas commented on #14738
Is the ask to basically have a "portal" / real time view of part of the screen like it is being screen recorded?

[2021-12-01 20:43] crutkas commented on #14745
Duplicate of #14701

[2021-12-01 20:44] crutkas commented on #14745
What method did you use for the original installation? Windows Store?

Could you please send a bug report?

Right-click on the PowerToys icon in the tray menu and select Report Bug
![image](https://user-images.githubusercontent.com/17161067/113557438-afe62d80-9606-11eb-9b81-6260417981f5.png)
Drag and drop report into a GitHub comment.

After sending the bug report, so we can analyze what's going o

[2021-12-01 20:44] mross002 opened #14753 "Suggestion: Create a keyboard Manager feature similar to IOS - General > Keyboard > Text Replacement"
### Description of the new feature / enhancement

Create a Text Expander feature within keyboard Manager, similar to utilities such as FastFox, FastKeys, or IOS Text Replacement settings (under Settings > General > Keyboard > Text Replacement) - so that you can set up shortcut/replacement combinations, and when you type a shortcut, it gets replaced with the replacement that is specified in the map

[2021-12-01 20:46] crutkas opened #14754 "Review pass on PT Overview on docs.msft"
### Provide a description of requested docs changes

We should do a review pass on PowerToys Overview from docs.

[2021-12-01 20:46] crutkas opened #14755 "Review pass on Install docs on docs.msft"
### Provide a description of requested docs changes

We should do a review pass on Installing PowerToys from docs

[2021-12-01 20:47] crutkas opened #14756 "Review pass on FancyZone Overview on docs.msft"
### Provide a description of requested docs changes

We should do a review pass on FZ Overview from docs.

[2021-12-01 20:49] AndrewMSHowe commented on #12403
Drat, I definitely reproduced something, but now I can't re-reproduce it. One thing I can still do is that if I switch between resolutions and also between layouts, sometimes it switches to the wrong layout in the new resolution. So for example I can be on my "My Priority Grid" copy, then switch to 2560x1440, and it will sometimes have switched to the default "Priority Grid" template on the top ro

[2021-12-01 20:55] IVashDaStampede commented on #14738
Though that would be cool I imagine it would be pain to code (I have no clue how to code, I'm a boring accountant you guys are close to wizards to me) what I'm suggesting is basically like using the snip and sketch tool but have it be borderless, without all the extra empty space you can see in the screenshot above, and always on top.

I can always as my colleague to let me take a few more screens

[2021-12-01 20:58] AndrewMSHowe commented on #12403
Aha, so I just changed to 2560x1440 instead of 2560x1600, and it switched back from my no-space-around-zones "My Priority Grid" copy, to a space-around-zones "Priority Grid" default template in the top row.
On switching back to 5120x1440, this default template still has space around zones.
So this must be what's happening... My "My Priority Grid" is just a copy of "Priority Grid" with space around

[2021-12-01 21:02] AndrewMSHowe commented on #12403
Hmm yeah... If I change to a previous resolution I have tried, it seems to work OK. I tried 2560x1600 and 2560x1440. But I just tried 2560x1080 and it has popped straight back to a space-around-zones top row layout.

[2021-12-01 21:14] crutkas commented on #10289
Please create a new issue to highlight that problem.  Lets keep this core topic on track

[2021-12-01 21:23] Jay-o-Way commented on #14656
I believe Windows snap does the same thing. A top is mentioned on the docs, but I understand that's not the first thing people will read.

[2021-12-01 21:27] Jay-o-Way commented on #14634
@niels9001 have you seen this before?

[2021-12-01 21:49] payambordbar commented on #10377
Yes.

[2021-12-01 21:49] crutkas commented on #14718
UIAccess is typically reserved for accessibly.

We may have an idea on how to fix it but start menu tends to be one of those items that will always win "always on top" fight :)

[2021-12-01 21:51] megaroeny commented on #14145
I'm also not able to get Meet to work with this feature.

[2021-12-01 21:52] crutkas commented on #14718
Variant of this is https://github.com/microsoft/PowerToys/issues/14178

[2021-12-01 21:53] crutkas commented on #14178
honestly, isn't this the intended behavior?  If i activate and my mouse was in the taskbar, this would overlay on top.

[2021-12-01 21:55] eProject commented on #14738
There's an app called Snipaste that has that feature

https://www.snipaste.com/

[2021-12-01 21:57] kimi-builds commented on #14145
Yes, I can, but v0.51 seems to have corrected the camera issue anyways. Any necessary update (if necessary) will be posted along the thread, or it will be closed once nothing is detected. Thanks for the attention. @megaroeny , try to update to that version and see if the problem persists.

[2021-12-01 21:59] megaroeny commented on #14145
Yeah, I'm on v0.51 ☹️ I was able to get the mic working in Meet, but camera still doesn't turn off.

[2021-12-01 22:00] crutkas commented on #14708
@rmallens what setting did you disable via JSON?

[2021-12-01 22:02] kimi-builds commented on #14145
So that's curious. Was there any issue regarding 0.49...?

[2021-12-01 22:12] crutkas commented on #8622
@tomsoe, https://github.com/microsoft/PowerToys/issues/13647 says they are installing via intunes and 2 of the 3 items here are fixed.

[2021-12-01 22:12] AndrewMSHowe commented on #12403
More info! I noticed that v0.51.0 was out, so I updated to that. Changed to another unused resolution, and the bug is not fixed.
However, changing back to resolutions I had already tried, the bug doesn't happen. And this is after PowerToys / FancyZones has been restarted after the upgrade. So it seems that whatever the problem is, the persistence isn't inside the FancyZones process. It could be in

[2021-12-01 22:17] crutkas commented on #13647
@o-l-a-v we're actually shifting away from machine wide via https://github.com/microsoft/PowerToys/issues/10126 and individual against #12951.  Admin stuff will be interesting since it requires some reg keys but the UAC reduction work we're doing will make this less of an issue.

for .net core install, https://github.com/microsoft/PowerToys/wiki/Installer-arguments-for-exe has how to override and

[2021-12-01 22:17] #13647 closed

[2021-12-01 22:18] crutkas commented on #14753
you want issue #5668

[2021-12-01 22:18] #14753 closed

[2021-12-01 22:18] crutkas commented on #14735
this would be #5668

[2021-12-01 22:18] #14735 closed

[2021-12-01 22:19] crutkas commented on #1207
end of day, this basically is a variant of #5668

[2021-12-01 22:19] #1207 closed

[2021-12-01 22:25] crutkas commented on #14720
you can, just we use vkeys which will make this very hard.

in your app data `%localappdata%\Microsoft\PowerToys\Keyboard Manager` folder, you'll need a nicely crafted default.json and settings.json file.

[2021-12-01 22:25] #14720 closed

[2021-12-01 22:28] crutkas commented on #13960
we need either #14055 / #14120 to work before this could be possible.  Closing this as duplicate as once we figure out a better way of doing it, this will ... in theory ... light up for free.

As of now, like @stewSquared stated, this isn't possible due to they return the same vKey with the API we use to us so from a programming stance, there is no difference in the keys

[2021-12-01 22:28] #13960 closed

[2021-12-01 22:29] crutkas opened #14757 "Move EXE args to docs.msft"
### Provide a description of requested docs changes

https://github.com/microsoft/PowerToys/wiki/Installer-arguments-for-exe should actually be in docs

[2021-12-01 22:50] JayNeely opened #14758 "Keep "full-screened" windows bound to FancyZones"
### Description of the new feature / enhancement

On a screen split into multiple FancyZones zones, it would be great if we could "full-screen" those windows into the full width & height of the defined zone, not the entire screen. As FancyZones is often used to define specific amounts of space we want to give applications on the screen, it would be great if we could still full-screen applications

[2021-12-01 23:05] Jay-o-Way commented on #14758
Thanks for your suggestion.
Has been requested quite a few times so far, duplicate of #279.

[2021-12-01 23:07] Jay-o-Way commented on #9970
Hi @louis993546, have you updated to the latest version in the mean time, and is this issue still occuring?

[2021-12-01 23:13] devonuto commented on #14749
+1 This has been happening forever for me.  Especially when on an external monitor connected to my laptop via USB-C.  Need to turn it off and on again before it works.

[2021-12-01 23:20] tommyvct opened #14759 "Any keyboard shortcut with WinKey + Alt does not work."
### Microsoft PowerToys version

0.51.0

### Running as admin

- [x] Yes

### Area(s) with issue?

Video Conference Mute

### Steps to reproduce

Change "Mute camera & microphone" shortcut to <kbd>Windows</kbd> + <kbd>Alt</kbd> + <kbd>K</kbd> on Windows 10, then try it. That <kbd>K</kbd> can be any other keys, for example <kbd>J</kbd>.

### ✔️ Expected Behavior

The keyboard shortcut should work a

[2021-12-01 23:29] alienfxfiend opened #14760 "Auto-Hidden Taskbar Doesn't Appear On Hover With Mouse Utilities Click"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

Mouse Utilities

### Steps to reproduce

Make Taskbar 3 rows big & auto-hidden, & appear when hovering mouse to the bottom of the screen.

### ✔️ Expected Behavior

Taskbar should spring into view.

### ❌ Actual Behavior

Doesn't hover into view, broken when Mouse Utilities (Click Highlight is enable

[2021-12-02 00:15] VeraSimon commented on #13818
Just reproduced while upgrading to PowerToys 0.51.0 on Windows 10 Professional 21H1 (build 19043.1348). All PowerToys file explorer addons were toggled off prior to upgrading.

[2021-12-02 00:20] crutkas commented on #12983
how much work is here?  small / medium / large?

[2021-12-02 00:22] crutkas commented on #4673
this will be more and more relevant with things like AOT and mouse

[2021-12-02 00:22] Trav-Corp opened #14761 "Something like EarTrumpet"
### Description of the new feature / enhancement

I use an app called EarTrumpet to manipulate the volume of specific apps (vs. only a master volume). https://eartrumpet.app/

### Scenario when this would be used?

It's nice to mute or lower the volume of certain apps while keeping others at full volume. For example, I typically mute sound from Teams or Outlook while in a video call, so notificati

[2021-12-02 00:23] crutkas commented on #14761
Why not just use ear trumpet?  :)

[2021-12-02 00:24] crutkas commented on #14761
#1011 duplicate

[2021-12-02 00:24] #14761 closed

[2021-12-02 00:26] franky920920 commented on #13214
@cleferman, @NODROG333, @AidanBourke7, @TheRealPSV, @takedownca, @HeliosAnavatis, @shenlong, @Darroll, @JoseAlmeida2009, and others if I missed tagging you,
Could you please update to release 0.51 and see if you still facing this issue? If so, please upload a bug report using v0.51. Thank you!

---
To attach a bug report, right-click on the tray icon and click Report Bug. Then drag-and-drop the ge

[2021-12-02 00:26] franky920920 commented on #14759
Duplicate of #13214

[2021-12-02 00:26] franky920920 commented on #14749
Duplicate of #13214

[2021-12-02 00:27] franky920920 commented on #14749
Thanks for reporting this. This issue is a duplicate.
I'm linking this issue to #13214 to centralize the discussion thread for tracking.

---

Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Please upload the report to #13214's comment area. Thanks!
![image](https://user-images.g

[2021-12-02 00:27] crutkas commented on #14759
how is this a dup of #13214?

[2021-12-02 00:27] #14758 closed

[2021-12-02 00:28] franky920920 commented on #14759
@crutkas Pasting to a wrong tab, undoed.

[2021-12-02 00:42] crutkas commented on #14757
https://github.com/MicrosoftDocs/windows-uwp/pull/3533

[2021-12-02 00:42] crutkas commented on #14755
https://github.com/MicrosoftDocs/windows-uwp/pull/3533

[2021-12-02 00:46] crutkas commented on #14738
Nothing boring about being an accountant :)

Great suggestion, i'd honestly suggest putting this as a feedback item with Feedback hub.

[2021-12-02 00:46] #14738 closed

[2021-12-02 00:48] franky920920 commented on #14738
the [Feedback hub](https://aka.ms/feedbackhub)

[2021-12-02 00:50] crutkas commented on #14747
xref #1052

[2021-12-02 00:51] crutkas commented on #14741
Tracked via #1911

[2021-12-02 00:51] #14741 closed

[2021-12-02 00:57] crutkas commented on #14681
Really need 1 suggestion per issue, can you break this apart?  With that said:

1. Unclear this will really add much value
2. I doubt we'll shift animation.

[2021-12-02 00:57] #14681 closed

[2021-12-02 00:58] franky920920 commented on #14740
Can be set manually

[2021-12-02 00:58] #14749 closed

[2021-12-02 01:00] crutkas commented on #13214
@SeraphimaZ  https://github.com/microsoft/PowerToys/issues/14749 has a 0.51 log

[2021-12-02 01:08] crutkas commented on #14752
i don't think we could make this to be minimal lovable.  **Why:** I think we'd have to have to restore the application state and i don't think we'd be able to do that well.

I feel the pain but i think the app itself would have to handle that.  Without this feature, i feel this would just cause frustration and be only like 10% done due to that.

[2021-12-02 01:08] #14752 closed

[2021-12-02 01:08] crutkas commented on #14752
I do think it is a good idea, i just don't think PT could execute this well at end of day

[2021-12-02 01:11] franky920920 commented on #13214
[Report from #14749](https://github.com/microsoft/PowerToys/files/7636520/PowerToysReport_2021-12-02-07-58-37.zip)

[2021-12-02 01:23] #14755 closed

[2021-12-02 01:24] crutkas commented on #14757
Pr for docs done.  Need to update aka link and wiii page now

[2021-12-02 01:26] Satanarious opened #14762 "[Suggestion] Clickable Shortcuts for Shortcut Guide"
### Description of the new feature / enhancement

A feature where the shortcuts shown in the shortcut guide are actually buttons which when clicked, activate the same shortcut. It would be like holding the windows key with your left hand and clicking a shortcut with your mouse with your right hand.

### Scenario when this would be used?

This could be useful when you look up the shortcut with your

[2021-12-02 01:56] danesalinas opened #14763 "Windows key long press for "Shortcut Guide" return"
### Description of the new feature / enhancement

Hi,

In earlier versions of PowerToys a long press of the windows key would open and show all the available shortcuts. Now this is not possible, and you can "customize the shortcut to activate this module" but it is not possible to set the long press of the windows key as an option.
I think it is more intuitive and useful as it was before (long pre

[2021-12-02 02:01] hotdogun commented on #12236
It didn't happened yet

[2021-12-02 02:03] VulcanTourist commented on #14222
I can't shatre a screenshot, since the screenshotting tools in Windows 11 are currently broken until Microsoft gets around to fixing or replacing them.  It's easily reproducible, though: simply running Notepad++ with a new file or any other and then calling the Search dialog.  That dialog gets the FancyZones treatment if it's touched with the mouse, forcing it into one of the available zones.  The

[2021-12-02 02:11] VulcanTourist commented on #14222
![image](https://user-images.githubusercontent.com/6064894/144344425-57425d3d-ec36-4f0e-ae11-075f3369df08.png)

This is the best screenshot I can do for you; the stupid Snip & Sketch frame insists on overlaying the screenshot.  It's demonstrative enough, I suppose; you can clearly see the Search dialog behind it, forced into the first of the three zones I use when I tried to move it.

[2021-12-02 02:11] franky920920 commented on #12236
Great, so I think we'll close this for now, feel free to reopen this if the issue if re-occurred. Thanks!

cc: @dedavis6797

[2021-12-02 02:14] VulcanTourist commented on #14071
The game that was affected was Empyrion: Galactic Survival.  It's a Unity game, still in active development.

Sorry for the delayed response.

[2021-12-02 02:26] franky920920 commented on #11257
OK. I'm closing this issue for housekeeping purposes.

[2021-12-02 02:26] #11257 closed

[2021-12-02 02:38] franky920920 commented on #14748
Duplicate of #13214

[2021-12-02 02:39] franky920920 commented on #14748
Thanks for reporting this. This issue is a duplicate. I'm linking this issue to #13214 to centralize the discussion thread for tracking.

Could you attach a full bug report file? Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Please upload the report to #13214's comment area. Thanks! ![image](https://user-images.github

[2021-12-02 02:44] franky920920 commented on #14729
@htcfreek here: https://4sysops.com/wiki/list-of-ms-settings-uri-commands-to-open-specific-settings-in-windows-10/history/?revision=1555539

Wondering why this one isn't using the `ms-settings:` scheme.

[2021-12-02 02:49] arch1mede commented on #14748
I actually saw that issue but this is a different issue, #13214 is it will not start when you login into windows, mine is it will not start after its been upgraded from an older version to a current version, this happens every time its upgraded.

[2021-12-02 02:52] arch1mede commented on #13214
Bug report per request

[PowerToysReport_2021-12-01-18-40-59.zip](https://github.com/microsoft/PowerToys/files/7638622/PowerToysReport_2021-12-01-18-40-59.zip)

[2021-12-02 02:55] falldeaf commented on #4794
+1 for this issue, and in addition to the skin/image part, it would be great if the image could be larger and it respected the alpha channel so that you can do non-uniform non-square themes as well.

[2021-12-02 02:59] franky920920 commented on #14414
@niels9001 so #Tracking-External?

[2021-12-02 03:01] franky920920 commented on #14743
#tranking-external?

[2021-12-02 03:54] trinabh-23 opened #14764 "Add focus mode to avoid notifications while work."
### Description of the new feature / enhancement

Just like apple iOS focus mode. Please recreate it for windows users as well

### Scenario when this would be used?

This can be quite useful. It helps you concentrate on your work without getting distracted

### Supporting information

_No response_

[2021-12-02 04:03] trinabh-23 opened #14765 "Screen recorder + Screenshot taking"
### Description of the new feature / enhancement

In this feature, users should be able to record their screen or take screenshots.

### The Screen Recorder:
It should have basic features like mouse highlight, annotations, pointer etc.

### The Screenshot taker:
It should have tools like full screenshot, application screenshot, custom screenshot etc.

### Scenario when this would be used?

This ca

[2021-12-02 04:19] TheAwesomeCoder05 commented on #9829
I tested both of them in the same folder (i.e. Downloads) and only the SVG works. Besides, at this point I do not use PowerToys anymore as the main reason I used it was FancyZones and Windows 11 already has something similar.

[2021-12-02 04:27] daugaard47 commented on #14745
@crutkas I installed a long time ago via the Github release.
Had this error when I updated via the settings
I uninstalled it.
The C:\Program Files\PowerToys directory remained after uninstalling.
Installed a new download from Github (the .exe version)
Reinstalled and received the same issue

The was generated from the bug report:
[PowerToysReport_2021-12-01-23-24-19.zip](https://github.com/microso

[2021-12-02 04:30] crutkas commented on #14745
Great to know and help us track down a theory

[2021-12-02 04:32] crutkas commented on #14745
@jaimecbernardo github previously and has a up to date log.

[2021-12-02 04:37] crutkas commented on #14745
Duping this against the other issue but thank you for the logs and we will be investigating further

[2021-12-02 04:37] #14745 closed

[2021-12-02 04:48] fzammetti opened #14766 "Add an option to keep screensaver from coming on to Awake"
### Description of the new feature / enhancement

I would like to see an option added to Awake that would keep the screensaver from coming on when enabled.

### Scenario when this would be used?

There are sometimes situations where, in addition to keeping the machine from going to sleep and the screen from turning off, situations where you want as many cycles dedicated to a specific task as possi

[2021-12-02 04:53] cboosalis opened #14767 "Onscreen Drawing Tools / Magnification"
### Description of the new feature / enhancement

Integrate ZoomIt features into Powertools, but make the control of the pen finer and more accurate.  I would prefer to have something that is always accessible with a keystroke or a movable (small) dock at the top of the screen (Like Jing used to be for screen recording and writing).

### Scenario when this would be used?

Anytime that I want to sc

[2021-12-02 05:26] mellor66 opened #14768 "PDF preview handler"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

PDF Preview, PDF Thumbnail

### Steps to reproduce

Since the last update it stopped my normal PDF preview handler working in outlook - I have power toys on two machines, one running Adobe PDF and the other using Foxit PDF - same result on outlook with both.
Turning the preview off in power toys and

[2021-12-02 05:44] benlc commented on #14623
Same issue with alt-tab that stops working after screen goes to sleep. Requires restarting PC several times a day

[2021-12-02 06:37] aaastafyev opened #14769 "Quickly enable and disable Bluetooth devices from the system tray"
### Description of the new feature / enhancement

Subj.
Like in macOS, for example.

### Scenario when this would be used?

Enabling and disabling a **specific** device from the system tray.

### Supporting information

_No response_

[2021-12-02 06:56] htcfreek commented on #14071
Why not solving this by adding a block list like we have for Shortcutguide?

[2021-12-02 07:01] htcfreek commented on #14763
@danesalinas
If you have an version older than 0.51.0 please update your PowerToys installation. This feature is reintegrated. You can configure the activation method in the settings window of PowerToys.

[2021-12-02 07:03] VulcanTourist commented on #14071
I don't think a block list is ideal here, since there is unlikely to be any full-screen application where find-my-mouse is a useful feature.  It would be irritating to users to be forced to blacklist every full-screen game they own from this feature.  A single setting that affects all is more practical.

[2021-12-02 08:04] crutkas commented on #14740
I looked at the sheet and wondered, who are labels for. Like, it is ok for not everyone to understand what a label means as long as the core team or a subset knows what it means

can we add another layer here and go what are the ones you really want to focus on as of now, I’m just seeing verbiage tweaks. Most of these were based [stolen] from terminal too

DCR == design change request. This tends

[2021-12-02 08:05] crutkas commented on #14740
Is part of the root you want a shorter description?

[2021-12-02 08:08] RaoulJacobs commented on #14651
Hi
JetBrains Datagrip has ctrl+ctrl hardcoded for multiline carets .
So would be nice if we could define the shortcut ourselves.

[2021-12-02 08:11] xiaofeng-zheng opened #14770 "[PT run] Debounce the input event on search bar"
### Description of the new feature / enhancement

The rendering of search results is not very smooth when typing in the search bar. I think debouncing is needed.

### Scenario when this would be used?

Typing in the search bar.

### Supporting information

_No response_

[2021-12-02 08:23] stefansjfw commented on #2125
@crutkas
To be clear, as a result of this we want every PT exe & dll to have `PowerToys.` prefix?
I'd leave namespaces and directory names as a separate workload.
Is that correct?

[2021-12-02 08:39] mynameismon commented on #14178
I think the taskbar issue is fixed in the latest release, but the window placement issue still remains. Feel free to close the issue.

Just to clarify regarding the initial issue, a black overlay would appear over the taskbar on activating Find My Mouse

[2021-12-02 08:56] Med2021info opened #14771 "Target application option in keys reassignment"
### Description of the new feature / enhancement

Hello, guys

I really don't like Microsoft Edge tab switching with "Ctrl+Tab". It's annoying. Instead I decided to reassign "Ctrl+Tab" with "Right" arrow button (one button, yes), as well as "Ctrl+ Shift+Tab" with "Lift" arrow button.
At first i used
![image](https://user-images.githubusercontent.com/95296989/144067906-e67708de-db94-497f-9563-cf153

[2021-12-02 09:16] stefansjfw commented on #14540
Duplicate of #14219

[2021-12-02 09:16] #14540 closed

[2021-12-02 09:26] mauricio-snts opened #14772 "Error starting Powertoys after upgrade"
### Microsoft PowerToys version

0.51.0.0

### Running as admin

- [ ] Yes

### Area(s) with issue?

General

### Steps to reproduce

When start Powertoys after upgrading
Bug report:

[2021-12-02 06:05:55.3462] [INFO] [S:\src\modules\launcher\PowerLauncher\App.xaml.cs::49]
Starting PowerToys Run with PID=10612

[2021-12-02 06:05:55.4025] [INFO] [S:\src\modules\launcher\PowerLauncher\App.xaml.cs::5

[2021-12-02 09:40] facboy opened #14773 "Crash after updating to 0.51.0.0"
### Microsoft PowerToys version

0.51.0.0

### Running as admin

- [ ] Yes

### Area(s) with issue?

General

### Steps to reproduce

Updated to 0.51.0.0 through the settings page, crashed (after install i think) with 'Powertoys Run ran into an issue'.

### ✔️ Expected Behavior

Expected to launch correctly

### ❌ Actual Behavior

Crashed with 'Powertoys Run ran into an issue' screen.

[code]

###

[2021-12-02 10:18] jaimecbernardo commented on #14745
We had issues with older versions that had this sort of error on not removing on uninstall before, as in https://github.com/microsoft/PowerToys/issues/11916. It's not clear why this was the case, though.

This does mean that it might have been some issue related to how the installer registered these components at install time.

[2021-12-02 10:52] stefansjfw commented on #14773
Could you also attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/57057282/144408326-64c5c428-35c2-4734-96d0-a1af1d580cff.png)

Did you try manually uninstalling current version of PowerToys and then manually install v0.51 ?

[2021-12-02 10:56] stefansjfw commented on #14772
Duplicate of #14701.

Current workaround for this is:
1 - Uninstall PowerToys manually.
2 - See if the PowerToys install directory (%ProgramFiles%\PowerToys) is still there. If it is, delete it manually.
3 - Install PowerToys.

[2021-12-02 10:56] #14772 closed

[2021-12-02 11:27] PWAdvanced opened #14775 "This causes the third party app Zoom to crash at times"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

1. Install V0.51.0
2. Try and join a Zoom meeting or go to the settings.

Uninstalling Powertoys fixes the issue.

### ✔️ Expected Behavior

Thirdy party app Zoom is unaffected by Powertoys.

### ❌ Actual Behavior

Thirty party app crashes.

### Other Software

Zoom V

[2021-12-02 12:17] wildcat2020 commented on #14714
Unfortunately at the time I saw this I had already performed the workaround so I am now running without the issue.

[2021-12-02 12:23] LaXiS96 commented on #14283
The workaround does not work.
I noticed this issue while still on 0.49.x, updated to 0.51, disabled PDF preview and PDF thumbnails, rebooted but Outlook 2013 still says "no previewer installed".

Here is my bug report if needed:
[PowerToysReport_2021-12-02-13-18-04.zip](https://github.com/microsoft/PowerToys/files/7641745/PowerToysReport_2021-12-02-13-18-04.zip)

[2021-12-02 12:26] yuyoyuppe commented on #12317
Yes, unless we want to download dotnet installer using built-in WiX bootstrapper functionality.

[2021-12-02 12:31] LaXiS96 commented on #14768
See #14283

[2021-12-02 12:31] Firewolf1337 opened #14777 "Remove restriction for Hotkeys"
### Description of the new feature / enhancement

Hi,
I think it would be nice not to be forced to use WINDOWS, CTRL, SHIFT etc. in addition to the Hotkey or disable that force via checkbox.

### Scenario when this would be used?

Using a Buttonbox, Streamingdeck or extended Keyboard (e.g. F13-F20) would be more useful and faster without the system keys.

### Supporting information

_No response_

[2021-12-02 12:33] ArgentOrange commented on #14097
I see the same results. Thumbnails work on normal folders, but not for OneDrive for Business. I'd also appreciate it if the team would look into this. I keep all my web design art files on OneDrive for sharing with team members, but it's a challenge to find the right file during creative development activities without visualization. Much appreciated!

[2021-12-02 12:37] JoannaFalkowska commented on #3497
So, I cannot make this mapping work _at all_. My keyboard doesn't have a physical AltGr key. When I attempt the mapping, even without mapping (L)Ctrl at all, I get told that "some keys cannot be mapped", and then that setting isn't saved. Can someone please advise what I could do? It's difficult to use my native language without any AltGr anywhere on the keyboard.

![image](https://user-images.git

[2021-12-02 12:38] JoannaFalkowska commented on #3641
So, I cannot make this mapping work _at all_. My keyboard doesn't have a physical AltGr key. When I attempt the mapping, even without mapping (L)Ctrl at all, I get told that "some keys cannot be mapped", and then that setting isn't saved. Can someone please advise what I could do? It's difficult to use my native language without any AltGr anywhere on the keyboard.

![image](https://user-images.git

[2021-12-02 13:05] techno73 opened #14778 "Enable Drag-n-drop Files to Taskbar in Windows 11"
### Description of the new feature / enhancement

Enable Drag-n-drop Files to Taskbar in Windows 11
https://github.com/HerMajestyDrMona/Windows11DragAndDropToTaskbarFix/releases/tag/v.1.6.0.0-release

### Scenario when this would be used?

Without Drag'n'Drop is it cumbersome.

### Supporting information

_No response_

[2021-12-02 13:32] Aaron-Junker commented on #14778
For leaving feedback for the taskbar please use the [Feedback Hub](https://aka.ms/feedbackhub).

[2021-12-02 13:46] Jay-o-Way commented on #14775
Known issue. See #13984, which is pinned to the to of the list of issues.

[2021-12-02 13:50] Jay-o-Way commented on #14764
Windows already has a focus mode with several settings. Is that what you need or something more specific?

[2021-12-02 13:53] Jay-o-Way commented on #14762
Yep, the shortcut guide has been waiting a long time for an update.

[2021-12-02 13:54] trinabh-23 commented on #14764
No. Thanks for telling...😊

[2021-12-02 14:09] stefansjfw commented on #11889
- factorial is not working well in v0.49.1 ➡ Ability to use factorials in calculations #13010 & [PT Run - Calculator plugin] Allow single-digit factorial #14736

This is now fixed.

[2021-12-02 14:24] githubcmsf commented on #14691
Yessss, thanks; it works now with 0.51.
mfG
CM

[2021-12-02 15:04] jaimecbernardo commented on #14377
The fix here might be for us to exclude it on our side, either by detecting the exclusions if possible or adding our own excluded folders field, if it's not possible to fix this otherwise. It's quite strange that the results are given to us despite the exclusion.

[2021-12-02 15:07] jaimecbernardo commented on #14652
In the meanwhile, is it possible to ignore this registration error and would PowerToys still install, just with VCM being unusable?
I assume this might be happening because it's a Windows N version, which won't have some of the media components other Windows versions have.

[2021-12-02 15:11] imthenachoman commented on #14652
@jaimecbernardo OHHHHHHHHHHHHHHHH. Now it makes sense. Yes, I have the Windows 10 N version.

I was able to install the latest one and skip/ignore that error. Seems to be working fine.

[2021-12-02 15:24] jaimecbernardo commented on #14697
Hi @kevinfrteels @whawn1 ,
Are the settings mentioned here OK in your case? https://github.com/microsoft/PowerToys/issues/14097#issuecomment-966203628

![image](https://user-images.githubusercontent.com/26118718/140737654-82a6df6f-4277-455f-be94-bbddfc3a26c6.png)

![image](https://user-images.githubusercontent.com/26118718/140737371-5bc4e577-8ee6-4274-a35a-cb7a8cf05ab6.png)

[2021-12-02 15:54] jaimecbernardo commented on #14690
Not quite sure how PowerToys could be causing this while uninstalled. Only suspicion I have here could be conflict with another Mouse related software, causing that software to misbehave, but we're not getting any EventViewer issues in the report. ( You uploaded the event viewer error but it's not being caught up by the bug report tool, which is weird).

There's a difference between restarting and

[2021-12-02 15:54] stefansjfw commented on #14765
Duplicate of https://github.com/microsoft/PowerToys/issues/143

[2021-12-02 15:55] #14765 closed

[2021-12-02 15:59] stefansjfw commented on #14767
Duplicate of https://github.com/microsoft/PowerToys/issues/3096

[2021-12-02 15:59] #14767 closed

[2021-12-02 16:07] Jay-o-Way commented on #11889
P.S. isn't this a duplicate of #8936?

[2021-12-02 16:08] stefansjfw commented on #11889
Looks like so

[2021-12-02 16:11] jaimecbernardo commented on #13643
According to the bug reports we've received, it should be registered hotkey for @j-kappa.
@Bugrakca  was using the registered hotkey but has since changed to the centralized keyboard hook.
[code]
[code]

[2021-12-02 16:14] Jay-o-Way commented on #12649
@SeraphimaZ I understand this issue is not really a bug, but something is not intuitive for (new) users. Am I saying it right? Should we add text to the docs or is there a chance that the suggestion to change the methods/interactions can be changed?

[2021-12-02 16:15] Jay-o-Way commented on #12649
Idea: left-click to add a splitter and right-click to temove a splitter seems very simple too.

[2021-12-02 16:19] jaimecbernardo commented on #14712
How fast is this? I've tried to replicate without success.
Can anyone else replicate this?

Could you please send a bug report?

Right-click on the PowerToys icon in the tray menu and select Report Bug
![image](https://user-images.githubusercontent.com/17161067/113557438-afe62d80-9606-11eb-9b81-6260417981f5.png)
Drag and drop report into a GitHub comment.

[2021-12-02 16:24] Jay-o-Way commented on #11402
For my clarity: this is both about a pre-set message for GitHub issues (similar to a footnote in an e-mail) _and_ a new page (or section) on the online docs?

[2021-12-02 16:25] teha008 opened #14779 "Bug where the existing key mapping cannot be set when PowerToys is started after setting it as a Windows startup program"
### Microsoft PowerToys version

v0.51.0

### Running as admin

- [x] Yes

### Area(s) with issue?

Keyboard Manager

### execution environment

Windows 10 64bit Professional

### ✔️ Expected Behavior

If you start PowerToys after setting it as a Windows startup program, I hope that the existing key mapping settings are applied well. After setting the startup program, it does not apply, so after c

[2021-12-02 16:26] LazZiya commented on #14690
@jaimecbernardo the issue started after installing PT, and I am not sure if PT has changed something in the system/registery that is not rolled back after uninstall.

Meanwhile, I think you meant vice-versa for "Restart" and "Shutdown", since shutdown supposed to clean more things than restart, or did I get it wrong :)

I tried disabling all mouse utilities in PT but it didn't help, and I'm wonder

[2021-12-02 16:31] LaXiS96 commented on #14283
Yeah, repairing the Adobe Reader DC installation did in fact restore the functionality.

[2021-12-02 16:36] DervishD opened #14780 "Wrong Spanish translation in PowerRename configuration dialog"
### Microsoft PowerToys version

0.51.0

### Utility with translation issue

PowerRename

### 🌐 Language affected

Spanish

### ❌ Actual phrase(s)

Usar la biblioteca de amplificación

### ✔️ Expected phrase(s)

Usar la biblioteca de Boost

### ℹ Why is the current translation wrong

Because "Boost", in this context, is a proper noun, as as such non-translatable, specially considering it's the nam

[2021-12-02 16:45] Jay-o-Way commented on #14780
Yes, this "dont translate" should have been mentions in the resources file.

[2021-12-02 16:50] tobi6112 opened #14781 "Add Win 11 Snap Layout to Shortcut Guide"
### Description of the new feature / enhancement

Windows 11 introduced Snap Layouts, that can either be used by hovering over the minimze button or by pressing Win+Z.

This shortcut is not covered by the ShortcutGuide.

### Scenario when this would be used?

Whenever the user wants to use the snap layouts and don't know the shortcut, the Shortcut Guide has an answer.

### Supporting information

[2021-12-02 17:01] jaimecbernardo commented on #14414
Actually, I think these are the ones which just recently changed their folder in install (though it's not happening for me).
@Aaron-Junker , could you send a bug report just to check your "installationFolderStructure.txt"? Or just send that file.

[2021-12-02 17:10] Jay-o-Way commented on #14781
Fair point. That does mean the Shortcut Guide need to be changed first - see #890 - because (afaik) Win+Z does nothing on Windows 10. Also #179.

[2021-12-02 17:13] Alacritous commented on #14514
It still won't let me type.

Here's something I discovered though. Before the update.  I CAN type in the fields after I do a certain dance.

![image](https://user-images.githubusercontent.com/1443724/144469210-8ca4a264-8b6c-4222-8804-234699bc8805.png)

There's the form, right?  If I click in the search field and then click on another window to shift the focus AWAY from the power rename window and

[2021-12-02 17:19] jaimecbernardo commented on #14530
Or just disabled. Just remembered they're not initialized if they're disabled. And these are disabled by default. That must be it.

[2021-12-02 17:24] axfelix opened #14782 "FancyZones forgets custom layouts after crashes"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones Editor

### Steps to reproduce

FancyZones' custom layouts are extremely prone to being lost after bad shutdowns. I'm not sure what can be done about this, but I think it's the single most unstable app I use in terms of data loss after crashes.

### ✔️ Expected Behavior

FancyZones should

[2021-12-02 17:26] jaimecbernardo commented on #14178
This is about somehow the transparency from the FindMyMouse overlay causing Windows that intersect with the task bar showing on top of it.

[2021-12-02 17:29] niels9001 commented on #11402
Correct.. just a simple text and the URL in the issue template.

[2021-12-02 17:31] jaimecbernardo commented on #14690
No, it's surprising, but restart cleans more stuff. On normal booting there's a Windows 10 feature called "fast startup" or "fast boot".

[2021-12-02 17:31] whawn1 commented on #14097
@jaimecbernardo: settings are as you show.  One thing I differ from many: I do not use One Drive, and have uninstalled it.  ('fonly that could be also done with Edge...)

[2021-12-02 17:49] LazZiya commented on #14690
Wow really surprised! But it seems logical, thanks for the info 👍🏼

[2021-12-02 17:54] jaimecbernardo commented on #14760
I've been able to replicate this. It seems that when we create the mouse highlighter Window, for some reason the Window that is active and is maximized gets on top of the task bar.
This isn't happening to me when I have no window maximized / intersecting the taskbar. Is it the same for you @alienfxfiend ?

Somehow I feel like that https://github.com/microsoft/PowerToys/issues/14178 is related. The

[2021-12-02 17:54] Dillonzer opened #14783 "Updating to 0.51 got hanged and could not proceed"
### Microsoft PowerToys version

0.51

### Running as admin

- [X] Yes

### Area(s) with issue?

General, Installer

### Steps to reproduce

I tried updating to the recent version via the button in the App Settings and it went through the installation then rebooting Windows Explorer and then nothing. The folder was empty and could not see anything running. Needed to go into Task Manager to stop th

[2021-12-02 18:20] tobi6112 commented on #890
I love the proposed design. Is there any chance or plans in making the shortcuts customizable? The proposed screenshots seem to be application-aware, and this would be a very neat feature for people like me (who can't remember shortcuts) to create their own cheat sheets within a single application.

[2021-12-02 18:21] dougwl commented on #14729
The necessary information can be found here (IANA registration template):

https://www.iana.org/assignments/uri-schemes/prov/ms-settings-connectabledevices

and all the other uri-schemes that follow this pattern (middle of the page, just search by 'ms-settings-'):

https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml

This URI scheme seems reminiscent to others used in the previous Windo

[2021-12-02 18:44] #14691 closed

[2021-12-02 19:07] crutkas commented on #14748
@arch1mede are you using virtual desktops?  A quick log will tell us if it is the same.

[2021-12-02 19:08] le0-0 opened #14784 "Mouse Highlighter mode on from startup"
### Description of the new feature / enhancement

The Mouse Highlighter feature should have a toggle setting so that it is on by default. Currently, on start-up of the computer, the Mouse Highlight functionality is off. To have it on permanently, one must turn on highlighter mode with the hotkey every start-up.

### Scenario when this would be used?

I need a way to differentiate between right-cli

[2021-12-02 19:36] kopieczek-dev commented on #13211
I also experience issue with resizing snapped windows.
For me it's not related to Teams.
Restarting PowerToys fixes the issue for some time. Will be watching whether there is any reproducibility here... Other than that, can I help somehow

[2021-12-02 19:39] davidegiacometti commented on #12949
@jaimecbernardo should we keep one issue for the SVG issue on OneDrive? https://github.com/microsoft/PowerToys/issues/14097 https://github.com/microsoft/PowerToys/issues/14697
I can repro this on OneDrive and SynologyDrive (https://github.com/microsoft/PowerToys/issues/12949#issuecomment-908158554)

![SVG](https://user-images.githubusercontent.com/25966642/144491164-aa60d1aa-2133-4188-936d-167f83d

[2021-12-02 19:51] crutkas commented on #14690
@jaimecbernardo / @LazZiya  do we have a clear way to reproduce this still?  @LazZiya did you install any software that could have mouse integrations?  Very odd behavior.  I have a Logitech MX mouse but a surface ergo keyboard (https://www.microsoft.com/en-us/d/surface-ergonomic-keyboard/90pnc9ljwpx9?cid=msft_web_collection&activetab=pivot:overviewtab)

[2021-12-02 19:53] crutkas commented on #14784
Interesting idea, i don't' think any of us thought of this scenario.

[2021-12-02 20:17] crutkas commented on #2125
I think anything running in memory would be a higher item but keep stuff grouped together.  I think exe naming is more important but i do think DLL naming would be important as well.  This will help with signing stuff as well in the future.  We clearly know what we own versus someone else.

**Example: Color Picker**
![image](https://user-images.githubusercontent.com/1462282/144496271-2bb06f74-38b2

[2021-12-02 20:37] crutkas commented on #14760
agreed this is #14178.

[2021-12-02 20:37] #14760 closed

[2021-12-02 20:38] crutkas commented on #14530
@PurplProto are your VS Code / Terminal plugins enabled?

[2021-12-02 20:44] JustHxnry opened #14787 "Quick Launches"
### Description of the new feature / enhancement

This feature will open some quick application in window similar to app ,,Quick Look" where you can write text or sketch something with pen or mouse

### Scenario when this would be used?

For quick showcases and notes from a meeting

### Supporting information

Custom shortcut, saveable notes, text or sketching with pen support, insert image suppor

[2021-12-02 20:55] arch1mede commented on #14748
I am not using virtual desktops.

[2021-12-02 20:55] arch1mede commented on #14748
I am not using virtual desktops.

[2021-12-02 20:59] crutkas commented on #14726
Great spot of feedback for Windows Feedback hub, not something PowerToys team would do.  honestly unsure if this is something we'd be able to do.

[2021-12-02 20:59] #14726 closed

[2021-12-02 20:59] #14775 closed

[2021-12-02 21:01] #14742 closed

[2021-12-02 21:01] #14733 closed

[2021-12-02 21:01] #14732 closed

[2021-12-02 21:01] crutkas commented on #14762
Tracked via #890  however the vision in that issue would need to be adjusted due to feedback from when we adjusted the shortcut.

[2021-12-02 21:01] #14762 closed

[2021-12-02 21:12] crutkas commented on #14459
@mattwojo thoughts here on reshooting?  I think this is a nice to have but not critical for timing.  Have you seen anything on the docs repository asking?

[2021-12-02 21:14] crutkas commented on #14787
tracked via #80.  If QuickView does what you need, why not use that :)

[2021-12-02 21:14] #14787 closed

[2021-12-02 21:14] #14764 closed

[2021-12-02 21:19] crutkas commented on #14764
here is mine:
![image](https://user-images.githubusercontent.com/1462282/144504651-2f9e9820-7333-4a45-9d8a-cbfc7b979262.png)

in settings you can also tweak this

[2021-12-02 21:19] crutkas commented on #14778
Great feedback item for Feedback hub :)

[2021-12-02 21:19] #14778 closed

[2021-12-02 21:41] LazZiya commented on #14690
@crutkas as I already shared earlier, I did not install any additional software except VS2022 before installing PT. And all drivers are installed by windows default correctly.

After the issue I installed VGA driver from nVidia but it didn’t help.

It feels like some confirmation dialog is fired before windows explorer is fully loaded, so it stuck like a hidden layer covering the whole screen, and

[2021-12-02 21:46] kevinfrteels commented on #14697
Yes. I don’t have any problems with other thumbnails. Jpg, png, etc all work as usual.

From: Jaime Bernardo ***@***.***>
Sent: Thursday, December 2, 2021 9:24 AM
To: microsoft/PowerToys ***@***.***>
Cc: Kevin Freels ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/PowerToys] SVG files not previewing in explorer again (Issue #14697)

Hi @kevinfrteels<https://github.com/kevinfrteels> @wha

[2021-12-02 22:15] mattwojo commented on #14459
Havent seen any specific requests filed, but Im definitely open to filming a new PowerToys episode.

[2021-12-02 22:25] facboy commented on #14773
yes, a full uninstall and reinstall fixed it.  i didn't get the log file.

[2021-12-02 22:31] crutkas commented on #14748
@arch1mede, can you still do the report bug?  looking at the logs will really help

[2021-12-02 22:35] C1ares commented on #14312
I have encountered this issue after updating to PowerToys v0.51.0. Updating completely killed the nvidia broadcast application in a manner described in the link above. Disabling conference mute does not fix the issue. Neither reinstalling either software cleanly.
What works is downgrading the nvidia broadcast app to v1.2

[2021-12-02 22:48] arch1mede commented on #14748
Hi, I was told to attach to #13214 , did you also want me to attach to here?

[2021-12-02 22:58] stevenzhu25 commented on #13877
@bmcclure It's because everytime PowerToys execute their update program, they utilized "Uninstall old version" and "Install new version" from the installer instead of a in-place upgrade via Microsoft Store. I think this is by design but still a bit annoyed by the fact. I'll keep this open because I feel like it's still a bug, but probably not anything severe to warrant a fix immediately.

[2021-12-02 23:42] rmallens commented on #14708
We have the following in settings.json...
"download_updates_automatically":false
So this will still check for updates and we still get the notifications to say a new version is available, but users don't have permissions to download or install so it fails. So we want to hide these notifications for them and manage the updates ourselves.

[2021-12-03 00:12] MrTucks opened #14788 "Display each key that is typed in a corner of the screen"
### Description of the new feature / enhancement

Every time any key or key combination is pressed, the key (or key combination) should be shown in a little semi-transparent window in one corner of the screen. It should fade away after a configured amount of time.

### Scenario when this would be used?

This would be very helpful when showing someone something in a screen share video call. Or when

[2021-12-03 00:12] Yazan-Jamhour opened #14789 "Launching Your Phone app crashed powertoys"
### Microsoft PowerToys version

0.51.0.0

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

I just pressed the Alt + space key and started typing yo- it generated the completed text Your Phone then i just pressed enter and it crashed but if i clicked on it by the mouse it works just fine
[2021-12-03.txt](https://github.com/microsoft/PowerToys/files/7

[2021-12-03 00:28] crutkas commented on #14708
That won't stop update notifications, just auto downloading.

I think #2701 would be the issue but we want to notify users as we are constantly improving / fixing issues.

[2021-12-03 00:28] #14708 closed

[2021-12-03 00:30] rmallens commented on #14708
No, I understand that wont disable notifications, what I am asking is for the option to disable notifications.

[2021-12-03 00:30] crutkas commented on #13643
i know with islands we had issues with forcing first time focus but with the shift over to wpf, i thought this issue was solved.  My theory was flipping to reg'ed hooks versus low level caused this.

[2021-12-03 00:31] crutkas commented on #8936
duping this against #11889 as it has more data

[2021-12-03 00:31] #8936 closed

[2021-12-03 00:35] crutkas commented on #14708
that is one solution to #2701.

But at end of day, nothing is stopping an end user from overriding reenabling it. We have no concept for most things of "IT admin only" settings inside the application and with the UAC adjustments for installer, we're approaching a zero UAC world for most usage.

We only have the concept of "Admin only" and the assumption currently if you got it installed ... you ar

[2021-12-03 00:39] rmallens commented on #14708
We are enforcing our choice of settings by using a profile management tool to copy in the settings.json file into each users profile, the file is set as read-only so users are unable to change preferences. The install of the tool is managed using Configuration Manager and installed under SYSTEM context, so normal users will not have local admin privileges.

[2021-12-03 02:07] DanPinGF commented on #12895
From what I know about this type of behavior, but if not exactly the case, forcing an app to close by just clicking on the taskbar whilst unresponsive sometimes triggers a crash from what is believed to be an enhanced security feature, namely Data Execution Prevention (DEP for short). Because the system found unusual behavior from within the app (most likely a buffer overflow or heap/data/memory c

[2021-12-03 02:31] crutkas commented on #14708
Clever :)

[2021-12-03 02:31] crutkas commented on #14748
Love it!  Sorry didn’t see that

[2021-12-03 02:32] irenz opened #14790 "quicklook"
### Description of the new feature / enhancement

Press the space bar in the file or folder to quickly preview the content of the file or folder

### Scenario when this would be used?

Any time

### Supporting information

https://github.com/QL-Win/QuickLook

[2021-12-03 02:44] crutkas commented on #13214
@SeraphimaZ can you confirm @arch1mede has this issue?

[2021-12-03 03:10] crutkas commented on #14790
#80 is tracking issue

[2021-12-03 03:10] #14790 closed

[2021-12-03 03:14] #12236 closed

[2021-12-03 03:15] crutkas commented on #14763
This has been back for a few releases now. What release are you on?

the current release is 0.51

[2021-12-03 03:36] MaxSherry opened #14791 "powertoys run add close opened windows"
### Description of the new feature / enhancement

powertoys run add close opened windows

### Scenario when this would be used?

powertoys run -> list opened window switcher , I press down key to select a window in list, then I press short key (like ctrl + d) to close this window

### Supporting information

_No response_

[2021-12-03 03:47] DanPinGF commented on #14703
You probably haven't corrupt the explorer.exe image when that happened, did you?

[2021-12-03 03:58] crutkas commented on #14777
Love the scenario

I would have a forced override of “I know what I’m doing”. :)

[2021-12-03 04:00] crutkas commented on #14777
I’m assuming for everything. Correct?

min theory you could be unblocked now using KBM since it can do key to shortcut remapping

[2021-12-03 04:47] ggrinton commented on #14703
Everything was fine as soon as I logged on again, so I do not believe there was any corruption.

[2021-12-03 04:47] franky920920 commented on #14789
Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/11349917/133042052-4975be21-4699-4363-83c9-a8e1869d079d.png)

[2021-12-03 04:51] franky920920 commented on #14788
Duplicate of #981

[2021-12-03 04:51] franky920920 commented on #14788
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #981 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-03 05:15] franky920920 commented on #14690
Thoughts: If the PowerToys is not running as admin, is this still an issue?

[2021-12-03 05:17] franky920920 commented on #14726
[Feedback hub](https://aka.ms/feedbackhub)

[2021-12-03 05:32] LazZiya commented on #14690
@franky920920 yes.

[2021-12-03 06:32] MaxSherry commented on #3587
好多人都提出了这个需求, 过了这么长时间, 还没进展........

[2021-12-03 06:55] SeraphimaZ commented on #13214
Yes, the same error with the VirtualDesktopManager initialization.

[2021-12-03 07:00] crutkas commented on #14748
Verified same error

[2021-12-03 07:00] #14748 closed

[2021-12-03 07:00] #14551 closed

[2021-12-03 07:00] #14542 closed

[2021-12-03 07:00] #14515 closed

[2021-12-03 07:01] #12499 closed

[2021-12-03 07:11] #14788 closed

[2021-12-03 07:11] Yazan-Jamhour commented on #14789
[PowerToysReport_2021-12-03-08-58-36.zip](https://github.com/microsoft/PowerToys/files/7647393/PowerToysReport_2021-12-03-08-58-36.zip)

[2021-12-03 07:11] crutkas commented on #14782
Can you please attach a “report bug” log?  We may have a fix for this but need that to verify

[2021-12-03 07:14] crutkas commented on #14773
@jaimecbernardo / @DHowett I’m wondering if these issues are due to maybe files not signed?

[2021-12-03 07:14] #14773 closed

[2021-12-03 07:15] crutkas commented on #14743
Yeah, another instance of this.

[2021-12-03 07:16] crutkas commented on #14743
Interesting since they are win10 too

[2021-12-03 07:23] franky920920 commented on #14782
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/11349917/133042052-4975be21-4699-4363-83c9-a8e1869d079d.png)

[2021-12-03 07:25] crutkas commented on #14737
Can you include a report bug log?  We think we have a fix for this that will be got fixed.

[2021-12-03 07:29] crutkas commented on #14721
I think #2701 would be the issue but we want to notify users as we are constantly improving / fixing issues.

Bugs happen, why we are a zero dot release

[2021-12-03 07:29] #14721 closed

[2021-12-03 07:54] TheLazyUser opened #14792 "Color Picker Closing"
### Description of the new feature / enhancement

A feature to **close** the **color picker** tool, by directly **pressing the shortcut** key (tool was activated before).

### Scenario when this would be used?

**Situation**
- **Color picker activated, for use or accidentally (through the shortcut).**
- **Do not want to add any color in the selection history.**
-**Kinda an ON/OFF button for it.**

[2021-12-03 07:57] stdedos commented on #14721
No, it's not!

I am saying I want to upgrade, but be able to downgrade quickly as well.
You are saying "disable toast notifications" (and what-not).

I don't see where you see a relation between these two.

[2021-12-03 08:12] Jay-o-Way commented on #14792
Did you try the <kbd>Esc</kbd> button?

[2021-12-03 08:15] crutkas commented on #14792
Esc will do this

[2021-12-03 08:15] #14792 closed

[2021-12-03 08:15] Jay-o-Way commented on #14705
Is Powerlauncher still a valid name or should it the replaced by Powertoys Run everywhere?

[2021-12-03 08:19] Aaron-Junker commented on #14705
PowerLauncher was the old name

[2021-12-03 08:47] cheskote commented on #13
What I use for this function is a tiny program called TurboTop (Savard Software), from 2016, but still works great.

Maybe you can check it out for inspiration or ideas.

[2021-12-03 08:51] franky920920 commented on #13
@cheskote Thanks for your advice. We're currently working on this feature in #14360. Hope we can release this soon! 😄

[2021-12-03 08:55] franky920920 commented on #14737
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/11349917/133042052-4975be21-4699-4363-83c9-a8e1869d079d.png)

[2021-12-03 09:03] Mulinsen0o0 opened #14794 "文档替换"
### Description of the new feature / enhancement

希望powerRename增加文档内文字替换功能

### Scenario when this would be used?

文档需要批量命名和替换，内部文字也需要提问

### Supporting information

_No response_

[2021-12-03 09:13] franky920920 commented on #14789
<details>
<summary>Expection Logged</summary>

[2021-12-03 01:52:24.9818] [FATAL]
## Exception

[code]

## Environment
* Command Line: "C:\Program Files\PowerToys\modules\launcher\PowerLauncher.dll" -powerToysPid 12628 --started-from-runner
* Timestamp: 12/03/2021 01:52:24
* Wox version: 0.51.0.0
* OS Version: Microsoft Windows NT 10.0.19042.0
* IntPtr Length: 8
* x64: True
* CLR Version: 3.1.20
*

[2021-12-03 09:26] franky920920 commented on #11889
This is now the tracking issue. :D

[2021-12-03 09:28] Firewolf1337 commented on #14777
Basically I was just thinking about that override function for the "Video Conference Mute" hotkeys because I only use hotkeys there. But I think a global setting is more useful in case someone would like to use those button for other features.

you are right, this could be done with KBM but requires a additional step.

[2021-12-03 09:28] franky920920 commented on #14652
Should this be added to the installer to disable VCM if a Windows N version installation is detected and added into docs as well?

[2021-12-03 09:30] franky920920 commented on #14768
Duplicate of #14283

[2021-12-03 09:33] franky920920 commented on #14771
Duplicate of #6756

[2021-12-03 09:33] franky920920 commented on #14771
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #6756 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-03 09:49] sba923 opened #14796 "Application shortcut guide"
### Description of the new feature / enhancement

When one wants to pick a new shortcut, there's the issue of which shortcuts are already used (by which apps).

It would be tremendously useful to have a PowerToy showing the list of shortcuts that are current handled _by running applications_ (as opposed to handled by Windows itself, which the Shortcut Guide is supposed to reflect), and set in appl

[2021-12-03 10:09] Wizards-god opened #14798 "Browse Button still doesnt work."
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

Video Conference Mute

### Steps to reproduce

Clicking on the Browse button under the Selected Camera option does not work.

### ✔️ Expected Behavior

A File explorer dialogue to appear would let me choose the file.

### ❌ Actual Behavior

 It does absolutely nothing when I click it.

### Other Soft

[2021-12-03 10:10] Wizards-god commented on #14798
[PowerToysReport_2021-12-03-15-38-46.zip](https://github.com/microsoft/PowerToys/files/7648561/PowerToysReport_2021-12-03-15-38-46.zip)
I had forgotten to attach this bug report.

[2021-12-03 10:15] Wizards-god commented on #14798
I think this bug has already been posted, and I don't know if it is happening only for me.
And is there a manual way to set the path to the camera overlay image?
Just asking because there is a section in the settings.json file where the overlay image path is blank.

[2021-12-03 10:20] kernkraft235 opened #14799 "Crash on reboot before login"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

Rebooted normally because I changed workgroup and PC name. was greeted my this error. I took pic on phone and saved to onedrive, upon going to folder on PC I noticed onedrive also failed to start. Many programs failed to start. I listed them below
https://share.getclo

[2021-12-03 10:32] facboy commented on #14773
it's thrown an error window after PC restart, though i think it's a different error.  i can attach the bug report.

[PowerToysReport_2021-12-03-08-42-53.zip](https://github.com/microsoft/PowerToys/files/7648721/PowerToysReport_2021-12-03-08-42-53.zip)

[2021-12-03 10:39] valioDOTch opened #14800 "How shall I run PT with administrator rights?"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] No
(attempting to do so? Yes)

### Area(s) with issue?

General, PDF Preview, PDF Thumbnail, SVG Preview, SVG Thumbnail

### Steps to reproduce

User goal:
Change settings for "File Explorer Preview" for SVGs etc.

1. Log into Windows as a user without administrator rights
2. Open the start menu
3. Search for Powertoys
4. Right c

[2021-12-03 10:42] valioDOTch commented on #14800
After some fiddling it became clear, that the problem was that PowerToys still runs in the background in the task tray and has to be closed explicitely.

Else the program won't start with adminstrator rights as it likely checks on startup whether it has already been started.

I assume that this is not intuitive for a lot of users.

[2021-12-03 10:45] valioDOTch commented on #14800
Possible workaround suggestions

A) In the yellow banner instruct users to explicitely close the program in the task tray (or even provide a button for that)

B) On startup of PowerToys, do not only check whether PowerToys is running, but whether the user instructed it to run in adminstrator mode and whether the running instance does not run in administrator mode. Given that is the case, close the

[2021-12-03 10:45] NeV3rKilL commented on #11451
I'm not sure if this is the same. It happened suddenly, while working with WW Intouch. In older versions restarting powertoys fixed the issue. Not the issue persists even restarting powertoys.

Before restarting PowerToys (bugged)
[PowerToysReport_2021-12-03-11-37-36.zip](https://github.com/microsoft/PowerToys/files/7648805/PowerToysReport_2021-12-03-11-37-36.zip)

After restarting PowerToys (Stil

[2021-12-03 10:51] generic-user opened #14801 "Mouse highlighter toggle shortcut: not tracking current status in settings view."
### Description of the new feature / enhancement

It took a moment for me to actually understand that the `Enable Mouse Higlighter` button, and toggling with the shortcut (`WIN + SHIFT + H`), are not pointing to the same setting.

![image](https://user-images.githubusercontent.com/1516035/144587927-d256cc97-c263-4618-a981-2bead4bd5bfa.png)

### I propose, two scenarios:

1. to either, let these be

[2021-12-03 10:56] stefansjfw commented on #14773
[code]

I see this in logs. Also, installation directory structure in logs shows that you are indeed missing these files. Can you if maybe some antivirus or windows defender quarantined these files?

[2021-12-03 11:01] valioDOTch commented on #14563
I wasn't aware of that button until now.

Can we include that button in (or next to) the yellow banner (e.g. for "File Explorer Preview"), that tells users that they should run PowerToys in adminstrator mode?
https://github.com/microsoft/PowerToys/issues/14800

[2021-12-03 11:01] generic-user opened #14802 "A visual cue for the "Mouse highlighter toggle shortcut""
### Description of the new feature / enhancement

Would it be possible to give the user a visual cue for when the shortcut has been pressed. Maybe also give the current status?

Like: when pressed, show small pop-up saying "mouse highlighting turned off/on". Like when we mute unmute mic/camera/...

![image](https://user-images.githubusercontent.com/1516035/144591657-5fc020f2-efd4-4edd-a6e7-17b6414

[2021-12-03 11:06] toluso opened #14803 "Something went wrong"
### Microsoft PowerToys version

0.41.4.0

### Running as admin

- [ ] Yes

### Area(s) with issue?

General

### Steps to reproduce

Version: 0.41.4.0
OS Version: Microsoft Windows NT 10.0.19044.0
IntPtr Length: 8
x64: True
Date: 12/3/2021 2:55:46 AM
Exception:
System.IO.FileNotFoundException: Could not load file or assembly 'Newtonsoft.Json, Version=13.0.0.0, Culture=neutral, PublicKeyToken=30ad

[2021-12-03 11:06] scogtei opened #14804 "Error message at startup"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [ ] Yes

### Area(s) with issue?

General

### Steps to reproduce

Hi,

At startup, error message in a windows

[2021-12-03.txt](https://github.com/microsoft/PowerToys/files/7648969/2021-12-03.txt)

### ✔️ Expected Behavior

_No response_

### ❌ Actual Behavior

Just after the version update.

Microsoft Windows [version 10.0.22000.31

[2021-12-03 11:14] theme1256 commented on #14099
I'm also having this issue.
I'm using a nordic QWERTY and a danish QWERTY keyboard on danish systems and on none of them AltGr shortcuts works.

[2021-12-03 11:19] Jay-o-Way commented on #14801
Fair point. A toggle switch **should** be used for immediate action, like flicking on a light. Unfortunately, some designers don't use check boxes or radio buttons anymore, when sometimes they simply **should** - like here. Currently, these switches are used for the _ability_ to use a module. I agree the hotkey could certainly be used to toggle the actual _status_. In other words, either:

1. the

[2021-12-03 11:22] Jay-o-Way commented on #14800
Option B sounds like a smart solution to me.

[2021-12-03 11:24] Jay-o-Way commented on #14798
I also remember an issue or a comment about this. Thought there was a work-around for it, but I'd have to search for it to be sure.

[2021-12-03 11:24] las-nsc commented on #12949
@davidcongruili

Are you saying that disabling an option somewhere gets it to work for SVG? Which option where? I suspected it was due to the on-demand nature of onedrive but also noticed PDFs were working despite that. Turning on onedrive's 'Always keep on this device' option didn't help me.

[2021-12-03 11:26] ZAGAFRAGA opened #14805 "Mouse buttons remap feature."
### Description of the new feature / enhancement

It would be great to have the same keyboard buttons remap feature adapted to generic multiple buttons mouse or pointer.

### Scenario when this would be used?

This feature will allow an easily way to get better performance from that kind of peripheral.
Thanks and congratulation for this excellent APP…

### Supporting information

_No response_

[2021-12-03 11:27] Jay-o-Way commented on #14794
Translation:

I don't think PowerRename is going to be used for the content of files. Maybe there's a different program for that?

[2021-12-03 11:28] Jay-o-Way commented on #14791
Sounds like a fair idea. I'd suggest <kbd>Del</kbd>.

[2021-12-03 11:41] Jay-o-Way commented on #14803
Hi @toluso, latest version is 0.51 can you update and let us know if this issue still occurs?

[2021-12-03 11:45] Jay-o-Way commented on #14783
There have been many problems with installation of the latest version. Hopefully - when the causes are found and fixed - there will be a hotfix. No guarantee yet, that's above my pay-grade :)

[2021-12-03 11:53] niels9001 commented on #14801
Immediate action != immediate _effect_. A ToggleSwitch is appropriate here, as it turns on or off the module immediately and thus has immediate effect (although you might not see it as a user). It also helps for visual hierarchy as users are very aware that a ToggleSwitch will turn something on or off. It shows how there are multiple factors to take into account when creating an UI. A CheckBox wou

[2021-12-03 11:59] Aaron-Junker commented on #14798
https://github.com/microsoft/PowerToys/issues/13215#issuecomment-948803092

[2021-12-03 12:00] Aaron-Junker commented on #14798
Duplicate of #13215

[2021-12-03 12:06] Wizards-god commented on #14798
Thank you for addressing my issue, I did find the work-around you were speaking about. But I didn't quite understand how to use the work-around, it would be helpful if you could guide me through the process.

[2021-12-03 12:20] Netzlichter opened #14806 "Error on App start and Image Resizer doesn't open"
### Microsoft PowerToys version

0.51.0.0

### Running as admin

- [X] Yes

### Area(s) with issue?

General, Image Resizer

### Steps to reproduce

Hi,

when I open PowerToys I get the following error (report attached)

Version: 0.51.0.0
OS Version: Microsoft Windows NT 10.0.19044.0
IntPtr Length: 8
x64: True
Date: 03.12.2021 13:12:11
Exception:
System.ArgumentException: An item with the same key

[2021-12-03 12:45] USMA56795 commented on #14737
I won't have time to revert to an earlier version and re-update, but I'll try to remember to do this the next time a new update comes out.

[2021-12-03 12:47] generic-user commented on #14801
@niels9001 That would not eliminate user confusion.

## What's confusing?

Currently, if I switch the switch to off, I turn off the feature entirely, including the shortcut.

When using the hotkey, I can turn highlighting on/off, but there is no visual feedback to be found anywhere. Also, I believe it to be confusing that the two are totally different flags, with the same purpose.

### Use case

I

[2021-12-03 13:01] #14592 closed

[2021-12-03 13:06] kalekje opened #14808 "PT Run - Anchor / favorited search results"
### Description of the new feature / enhancement

First, amazing tool guys. I think this would be incredibly valuable: give users the option to specify a list of anchors/favorites. Here's an example.

Under settings > Seatch & results, there could be  "Search Favorites" table. It could look something like this:
[code]

This table shows a list of "anchored" or "favorited" actions under the search r

[2021-12-03 13:10] Aaron-Junker commented on #14805
## Issue is a duplicate
Thank you for your issue! We've linked your report against another issue #1475

Thanks for helping us to make PowerToys a better piece of software.

[2021-12-03 13:11] Aaron-Junker commented on #14805
Duplicate of #1475

[2021-12-03 13:29] AadiLegend commented on #14696
When will this update be available?

[2021-12-03 13:46] j9108c commented on #13776
also rgb to hex, e.g., `rgb(80, 217, 255) to hex` and vice versa, and possibly other color units as well

[2021-12-03 13:53] Jay-o-Way commented on #14798
- Open Explorer
- copy/paste `%LOCALAPPDATA%\Microsoft\PowerToys\Video Conference` to open folder
- open file `settings.json`
- Near the end of the JSON is "camera_overlay_image_path". Value is followed by an empty string (`""`) so put in the image location and escape backslashes with double `\\`.
- Save
- restart PowerToys.

[2021-12-03 13:53] Jay-o-Way commented on #13215
- Open Explorer
- copy/paste `%LOCALAPPDATA%\Microsoft\PowerToys\Video Conference` to open folder
- open file `settings.json`
- Near the end of the JSON is "camera_overlay_image_path". Value is followed by an empty string (`""`) so put in the image location and escape backslashes with double `\\`.
- Save
- restart PowerToys.

[2021-12-03 14:08] Aaron-Junker commented on #13776
For this you can use Color Picker

[2021-12-03 14:10] mattaw commented on #12949
@davidegiacometti Could you check the preview pane for your SVG to see if it shows XML from your SVG?

In my case it does show xml from the SVG file in the preview pane so was clearly reading the file to a certain extent.  Alternatively I guess Onedrive could be rendering them in the cloud and sending the preview as a picture, and is missing a SVG rendering backend?

[2021-12-03 14:11] Aaron-Junker commented on #14799
@kernkraft235 Coulf you please add a bug report file?
1. Right click on the tray icon
![image](https://user-images.githubusercontent.com/58633848/132937491-3383a628-fb91-452e-a9e1-cccccb3e7d04.png)

2. Click "Bug report"
3. Drag and drop the new generated zip from your desktop into the Github comment.

Thank you in advance!

[2021-12-03 14:17] Aaron-Junker commented on #12949
Our previewer doesn't support showing the svg files as xml, so I assume there's another handler installed on your pc

[2021-12-03 14:30] crutkas commented on #14737
Running 0.51 is all we need.  We have a hotfix ready and I suspect this is same issue

[2021-12-03 14:30] j9108c commented on #13776
i already do use color picker, but it would be more convenient if unit conversions converted colors.

<br/>

- use cases::
    - if i have the default copy format as rgb and i want to convert it to another format quickly on the fly, then i dont have to re-pick the color and open the color editor
    - quickly convert other color formats copied as text from elsewhere (i.e., the color is not availab

[2021-12-03 14:32] Wizards-god commented on #14798
I didn't quite understand the 4th part. Can you tell me what the path in the JSON file would look like if my image was at "C:\Test Folder\Camera Overlay.bmp"

[2021-12-03 14:43] crutkas commented on #14777
Great idea, like I said, we hadn’t really thought of this scenario!

[2021-12-03 14:50] crutkas commented on #14705
Launcher was what we called it in dev but shifted public name due to the Android launcher app

[2021-12-03 14:51] crutkas commented on #14705
This is about mostly also end user facing stuff. Code base can call it launcher.

[2021-12-03 15:16] crutkas commented on #14721
Sorry for misunderstanding

For something built in, not something we’d build in.  I’d rather try and be sure we increase the validation on testing. A lot of issues currently are some odd OS call fails or something quirky with the installer that causes a file to be odd so they tend to be hard to catch in mainline dev

My recommendation for this would be full uninstall then install the target versio

[2021-12-03 15:19] Aaron-Junker commented on #14798
Like this: `camera_overlay_image_path: "C:\\Test Folder\\Camera Overlay.bmp"

[2021-12-03 15:31] stdedos commented on #14721
Yeah - I don't understand why "full uninstall" needs to happen fully manually, and you don't allow the installer to trigger the uninstallation.

[2021-12-03 15:41] Wizards-god commented on #14798
Ok thank you for all the help. It worked.

[2021-12-03 15:41] #14798 closed

[2021-12-03 16:10] Jay-o-Way commented on #14721
An update (= installer) removes files used for running things and sorts, but leaves settings, because if those would be removed, one would lose all settings.

[2021-12-03 16:59] stdedos commented on #14721
We are going to be talking past each other forever ...

Pls remove the code that causes this:
![image](https://user-images.githubusercontent.com/133706/144642372-6bf5a1db-25cd-4a0a-98b4-55f05403c324.png)

Thank you

[2021-12-03 17:24] YSCohen opened #14809 "expand short hand to long hand naming for Unit conversion"
### Microsoft PowerToys version

0.51.10

### Running as admin

- [ ] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

Type "10 feet in meters" in PowerToys Run

### ✔️ Expected Behavior

it should give "3.048 m", as it does if I type "10 ft in m"

### ❌ Actual Behavior

It gives no result

### Other Software

_No response_

[2021-12-03 17:29] HashemLovesYou commented on #14809
also gives nothing for "10 L in gal", I tried a few variations

[2021-12-03 17:31] HashemLovesYou commented on #14808
it certainly moves results closer to the top for me if I use them

[2021-12-03 17:42] axfelix commented on #14782
[PowerToysReport_2021-12-03-09-41-03.zip](https://github.com/microsoft/PowerToys/files/7651414/PowerToysReport_2021-12-03-09-41-03.zip)

[2021-12-03 17:44] crutkas commented on #14721
We're not. It isn't that simple.  It has rippling assumptions. If something adjusts the settings, it breaks assumptions and drastically increases supported matrix

[2021-12-03 17:46] stdedos commented on #14721
If "something"? What could that "something" be?

Unless you are saying that "PowerToys does not support downgrades" or they are unofficially supported "by chance". (In which case, I have to manually preserve the settings of any previous version I might want to roll-back to.

[2021-12-03 17:52] Aaron-Junker commented on #14721
That's the point here

[2021-12-03 17:53] stdedos commented on #14721
Oh great. More reasons to not upgrade ...

[2021-12-03 18:19] franky920920 commented on #14804
Duplicate of #14701

[2021-12-03 18:19] franky920920 commented on #14804
Thanks for reporting this. This issue is a duplicate.
I'm linking this issue to #14701 to centralize the discussion thread for tracking.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-03 18:20] franky920920 commented on #14804
This issue is fixed with the 0.51.1 release. Please update to the latest release.

[2021-12-03 18:27] franky920920 commented on #14806
Duplicate of #14701

[2021-12-03 18:27] franky920920 commented on #14806
Thanks for reporting this. This issue is a duplicate.
I'm linking this issue to #14701 to centralize the discussion thread for tracking.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-03 18:27] franky920920 commented on #14806
Please update to [the latest version](https://github.com/microsoft/PowerToys/releases/) of PowerToys. This is fixed in 0.51.1 release

[2021-12-03 18:30] #14805 closed

[2021-12-03 18:35] #14804 closed

[2021-12-03 18:51] crutkas commented on #14806
@Netzlichter can you create a new issue for image resizer with logs?
![image](https://user-images.githubusercontent.com/1462282/144656920-635e14f0-6849-4383-8556-eee4ff7cf053.png)

[2021-12-03 18:53] crutkas commented on #14803
we've stopped using newtson soft back in August across all of PowerToys.  Please upgrade

[2021-12-03 18:53] #14803 closed

[2021-12-03 18:57] crutkas commented on #14701
This was fixed with our hotfix for 0.51.1

[2021-12-03 18:57] crutkas commented on #13214
This has been fixed and update release with 0.51.1

[2021-12-03 18:57] facboy commented on #14773
not as far as i know, it could be that the reinstall left it in an odd state as it had to do an uninstall then a reinstall, perhaps it flagged them for deletion on reboot?  a further manual uninstall then install seems to have fixed it for now.

[2021-12-03 19:08] JoseAlmeida2009 commented on #13214
No it has not. The problem persists.
Cumprimentos | Regards, Saludos,
José de Almeida
------------------------------
Jose Almeida
***@***.***

On Fri, Dec 3, 2021 at 6:58 PM Clint Rutkas ***@***.***>
wrote:

[2021-12-03 19:10] mattaw commented on #12949
I am not quite sure what is happening either - though it works perfectly for a folder of SVGs on my local SSD, and not on the same folder copied to onedrive, so there is clearly an issue with something that onedrive is doing. Note the files are locally downloaded and on the cloud. Any tests I can run to reveal what previewing extensions are running on a file? regmon equivalent?

Thanks for the pre

[2021-12-03 19:13] davidegiacometti commented on #12949
I have been able to have the SVG thumbs working **removing** the follow option:

![image](https://user-images.githubusercontent.com/25966642/144659641-faf50528-6119-4c76-9096-ca95188ab483.png)

Still really strange.

[2021-12-03 19:17] mattaw commented on #12949
BAM! Solved at the cost of a ton of disc space and unnecessary bandwidth! You are the king. I suspect the previewer API has an indirection layer/filter added to handle Onedrive where the file might not be local, and that doesn't pass through the SVG for some reason. At least that is what I would start looking for. Might take a stab at it myself one day, but I have no familiarity with these APIs.

[2021-12-03 19:22] davidegiacometti commented on #13683
@jaimecbernardo I was looking into this strange shutdown error.

This error hit my eventviewer one time for 0.49.1

0:02:45
[code]

This is the PT Run log

[code]

Looks like during shutdown PT Run get an unhandled exception, the report window crash and the exception is not logged.
If someone is able to reproduce this, maybe logging the exception earlier could help?

[code]

[2021-12-03 19:24] mcdonamw opened #14811 "Apps not returning to assigned zones after unlocking PC after extended away time. Possible regression with v0.51.0?"
### Microsoft PowerToys version

v0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

I'm not entirely sure how to replicate this.  Seems random.  Recall this being fixed in earlier v0.4x releases but seems to have come back with v0.51.0.

### ✔️ Expected Behavior

Apps/windows return to assigned zones when unlocking workstation after extended away

[2021-12-03 19:24] pieterjandebruyne opened #14812 "FancyZones layout switching shortcuts"
### Description of the new feature / enhancement

My proposal contains 2 changes that are related to eachother:

1) It would be nice if we can attach shortcuts to different layouts.

2) If the layout you switch to has the same amount of windows it would be great if you can use numbers to automaticaly scale the previous windows (column 1 layout A  => colomn 1 layout B). This should be an option peo

[2021-12-03 19:27] Jay-o-Way commented on #14812
What version are you using? Number 1 is already possible. Have a look in the setting for specific layouts, and in FancyZones Settings. Also "keep windows in zone when changing" should be there

[2021-12-03 19:28] mcdonamw commented on #14811
I tried to generate the Report file as suggested and it said a zipfile was created on my desktop but I cannot locate any such zip file.  Note: I have folder redirection redirecting my desktop to a network share, but it's not there.

[2021-12-03 19:28] marc881 opened #14813 "Installing powertoys runs into close explorer message resulting in a hanging installation with vague errors"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

Install Powertoys
A message about needing to close the Explorer process is shown
Installation fails and the system seems to become instable, not clear what exactly goes wrong, but it does not look good at all.
When clicking check updates the app does not respond anymo

[2021-12-03 19:36] SCLaunder commented on #13214
Thanks @crutkas.

Just updated from 0.51.0 to 0.51.1, I've tried 4-5 reboots and so far it seems to be working properly again 🤞.

If it comes back over the next few days I'll post again.

[2021-12-03 19:39] pieterjandebruyne commented on #14812
Hi @Jay-o-Way , thanks for the fast response.
I found the "During zone layout changes, match size" setting, Great!
Only Number 1 seems to be an issue for me to find..
I launch the layout editor
When I click edit-icon I can only change amount of rows/padding/highlight
and the only other buttun I see is a settings wheel. But when I press this windows is highlighting the PowerToys setting app and doe

[2021-12-03 19:39] cbtlr commented on #14206
Updating Power Tools to the version with VCM completely breaks NVidia Broadcast.

[2021-12-03 19:41] cbtlr commented on #14312
I second this. Updating Power Tools to the version with VCM completely breaks the latest version of NVidia Broadcast. I also had to downgrade broadcast in order to get it to work, but the onus here seems to be on Power Toys because other software with virtual cameras also seem to be experiencing comparable issues from what I've seen in forums.

[2021-12-03 19:53] deemetrius commented on #12825
I updated to new version 0.51.0 and this bug still exists.

[2021-12-03 19:53] pieterjandebruyne commented on #14812
Òk it seems like shortkeys are only allowed for custom templates and not the default ones.
On custom templates there is a dropdown saying "layout shortcut"
Here you can select 0-9 but I have no idea where to configure this "shortcut 1"
there is an info icon next to the input field but this does nothing on click.

[2021-12-03 19:56] pieterjandebruyne commented on #14812
Ok I got it to work using ctr+win+alt+number, this issue can be closed. I still would prefer a custom keybind over thius ctr+win+alt default if possible

[2021-12-03 20:03] kernkraft235 commented on #14799
[PowerToysReport_2021-12-03-11-06-34.zip](https://github.com/microsoft/PowerToys/files/7652030/PowerToysReport_2021-12-03-11-06-34.zip)

[2021-12-03 20:59] crutkas commented on #13214
@JoseAlmeida2009 what looks to be the same may not be. this underlying issue for this issue was solved. Please create a new issue with logs. Without logs it is extremely hard to diagnose which is why we ask for them.

[2021-12-03 21:07] arch1mede commented on #13214
Hi, I am not using virtual desktops, just the default Desktop 1.

[2021-12-03 21:19] arch1mede opened #14814 "Windows explorer does not restart/recover after install finishes"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

Installer

### Steps to reproduce

Install over old one

### ✔️ Expected Behavior

To go back to what I was doing

### ❌ Actual Behavior

When windows explorer is stopped I loose the task bar and it does not recover so I am forced to log out then back in.

### Other Software

n/a

[PowerToysReport_20

[2021-12-03 21:22] htcfreek commented on #14800
I'd like to mention #12862 here, which requests a restart button on the warning bar.

[2021-12-03 21:23] Gieted opened #14815 "Keys sometimes get stuck"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

Sometimes, some keys (especially left ctrl) just get stuck and are constantly pressed until you restart PowerToys and press these keys. This happens mostly when the computer is freezing (for example during CPU intense task, like file indexing).

### ✔️ Expect

[2021-12-03 21:56] crutkas commented on #14796
Good idea, I don't know if this is possible.  that is one hook, an app itself could force a hook, and there are multiple ways to get hooks for stuff like this.

[2021-12-03 21:57] crutkas commented on #14796
This also would bubble into https://github.com/microsoft/PowerToys/issues/129.  i'm going to dup this against that

[2021-12-03 21:57] #14796 closed

[2021-12-03 21:58] crutkas commented on #14802
interesting idea, i like it but pretty instantly evident when it is on.

[2021-12-03 22:07] crutkas commented on #14808
we have weighting so more used items move higher.

The heart of this is more is more akin to macros. https://github.com/microsoft/PowerToys/issues/5668

[2021-12-03 22:07] #14808 closed

[2021-12-03 22:10] #14771 closed

[2021-12-03 22:14] kalekje commented on #14808
Can you please reopen this? This is definitely not at duplicate. My original proposition would still greatly help.

[2021-12-03 22:22] geeForceOne commented on #14077
@niels9001 thanks for the new implementation. It's much better now!

[2021-12-03 22:29] crutkas commented on #13214
I know but the logs say that is what failed from an API stance :). The linked issue is the tracking item and 0.51.1 has the fix which we just reeased

[2021-12-03 22:32] arch1mede commented on #13214
I saw, installed it which reminded me that there was another issue that's related while its installing: #14814

[2021-12-03 22:40] mikepsinn commented on #5208
Here's an example context menu extension for copying file names: https://www.extrabit.com/copyfilenames/download

[2021-12-03 22:46] janericster opened #14816 "SVG thumbnails and preview not working"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

SVG Preview, SVG Thumbnail

### Steps to reproduce

I have recently updated Windows 10 to the Nov build (21H2) so not sure if that is what broke this feature, but ever since updating I have noticed the SVG previews and thumbnails are not displaying. Just blank icons. It worked beautifully before.

##

[2021-12-03 23:03] franky920920 commented on #14816
Duplicate of #12949

[2021-12-03 23:04] franky920920 commented on #14816
Thanks for reporting this. This issue is a duplicate.
I'm linking this issue to #12949 to centralize the discussion thread for tracking.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-04 00:36] Thrasher715 opened #14817 "PowerToys Bug on Startup"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

[2021-12-03.txt](https://github.com/microsoft/PowerToys/files/7653016/2021-12-03.txt)\

### ✔️ Expected Behavior

Expecting Powertoys to startup and run minimized as standard.

### ❌ Actual Behavior

Receiving attached error message upon startup.

![Screenshot 2021-12

[2021-12-04 00:38] crutkas commented on #14811
Try 0.51.1.  We just fixed a layout bug with an API not init'ing

[2021-12-04 01:00] #14768 closed

[2021-12-04 01:09] crutkas commented on #14734
can you help better visualize this for me? Like 2 or 3 quick MS Paint doodles would really help drive clarity

[2021-12-04 01:12] crutkas commented on #14770
Can you explain a bit more here?   you just want result adjustments to be smoother?

[2021-12-04 01:14] crutkas commented on #11004
I don't think we'll do zero display.

[2021-12-04 01:14] #11004 closed

[2021-12-04 01:29] ajgelado opened #14818 "Allow to skip a version when upgrading"
### Description of the new feature / enhancement

When a new version is published, allow the user to skip that version, but notify s/he of the next ones. For example, if I'm in 0.51.0, when 0.51.1 comes out, I may want to skip it and not be prompted again to install it, but be notified when 0.51.2 or 0.52.0 are published.

### Scenario when this would be used?

Useful when a new version includes j

[2021-12-04 01:51] dcorker opened #14819 "Shortcut for "God Mode""
### Description of the new feature / enhancement

Execute Windows "God Mode"

### Scenario when this would be used?

Occasionally

### Supporting information

Would be convenient for Power users.

[2021-12-04 02:02] crutkas commented on #14808
This is key to action / arbitrary command, that is what that request is. This a possible implementation end point

[2021-12-04 02:02] #14077 closed

[2021-12-04 02:05] crutkas commented on #13942
We can influence change but things like feedback hub are critical to help show centers of gravity for issues.

[2021-12-04 02:12] ColonelBlip commented on #14734
Glad to but let me ty this approach 1st. Think about 4 programs being open on the desktop and you want to bring the back on to the front. You hit alt-tab as many times as necessary to select the app you want to have focus.

Now replace the 4 programs on the desktop with 4 overlapping fancy zones. You open a program and you want it to fit in the fancy zone window that happens to be behind all of th

[2021-12-04 04:34] lucas-fern opened #14820 "Cannot Uninstall, Update, or Reinstall"
### Microsoft PowerToys version

0.47.0

### Running as admin

- [X] Yes

### Area(s) with issue?

General, Installer

### Steps to reproduce

PowerToys had been failing to update for a few versions, and I attempted to uninstall and reinstall it today. When I ran the uninstaller the first time it failed, and I - perhaps unwisely? - thought that manually deleting `C:\ProgramFiles\PowerToys` would d

[2021-12-04 04:35] lucas-fern commented on #14820
Issue #1490 seemed somewhat similar, but I have tried running the 0.47.0 installer and this fails for the same reason (couldn't uninstall previous version)

[2021-12-04 05:01] crutkas commented on #14734
For images / attachments on github, they need to be added via web UI :(

[2021-12-04 05:06] Hanumantexport opened #14821 "PowerToys Run: Windows Search Plugin Not working right"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

PowerToys Run: Windows Search Plugin Not working right since the release of version 0.47.0

It searched all files and folders before but now it does not work right. It does not search files. Please fix this

### ✔️ Expected Behavior

To search all files and fold

[2021-12-04 05:56] #14819 closed

[2021-12-04 05:57] crutkas commented on #14794
No plans for this. Too dependent on actual file format.

[2021-12-04 05:58] #14794 closed

[2021-12-04 06:00] crutkas commented on #14781
Jay said it. Tracked it in 179

[2021-12-04 06:00] #14781 closed

[2021-12-04 06:36] Aaron-Junker commented on #14414
@jaimecbernardo  This is from 0.51.0
[installationFolderStructure.txt](https://github.com/microsoft/PowerToys/files/7653477/installationFolderStructure.txt)

[2021-12-04 06:41] Aaron-Junker commented on #14821
@Hanumantexport Could you please add a bug report file.
1. Right click on the tray icon
![image](https://user-images.githubusercontent.com/58633848/132937491-3383a628-fb91-452e-a9e1-cccccb3e7d04.png)

2. Click "Bug report"
3. Drag and drop the new generated zip from your desktop into the Github comment.

Thank you in advance!

[2021-12-04 06:46] Aaron-Junker commented on #14817
This is fixed in [0.51.1](https://github.com/microsoft/PowerToys/releases/tag/v0.51.1).
Please update your PowerToys installation

[2021-12-04 06:53] Aaron-Junker commented on #14814
I'm sorry that you encounter this bug.

But you can also start explorer again with following these steps:

1. Open task manager with <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>ESC</kbd> (or any other method)
2. On the top right corner click on `File` and then on `Run new Task`
3. Type `explorer` in the text field
4. Click OK

[2021-12-04 07:30] Hanumantexport commented on #14821
@Aaron-Junker

Thank you for your comment
Please find the attached file
[PowerToysReport_2021-12-04-12-57-59.zip](https://github.com/microsoft/PowerToys/files/7653520/PowerToysReport_2021-12-04-12-57-59.zip)
t.

[2021-12-04 07:30] crutkas commented on #14817
Please upgrade to 51.1

[2021-12-04 07:30] #14817 closed

[2021-12-04 07:30] abcdesteve opened #14822 "视频会议静音无法更改覆盖图片"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Video Conference Mute

### Steps to reproduce

选择更改覆盖图像无反应，没有窗口弹出

### ✔️ Expected Behavior

弹出窗口，选择图片就可以更改覆盖图像

### ❌ Actual Behavior

无反应，没有窗口弹出

### Other Software

_No response_

[2021-12-04 07:32] crutkas commented on #14800
To run it as admin, you do it via our settings app

[2021-12-04 07:32] #14800 closed

[2021-12-04 07:32] crutkas commented on #14800
General tab, restart as adkjn

[2021-12-04 07:33] crutkas commented on #14715
Can’t this be done via percent 100%?

[2021-12-04 07:39] crutkas commented on #14712
Also it works normal if it isn’t rapid clicks?  Getting the zip should tell us settings too. Wondering if there is a super high timeout.

[2021-12-04 07:44] crutkas commented on #14538
I need to verify wsa apps can be snapped

[2021-12-04 07:49] crutkas commented on #14633
If powertoys was uninstalled, KBM is not running  everything we do is in memory.

Did you verify keyboard manager running?

another quick way is to delete the settings folder in you the powertoys app data folder.

C:\users\YOU\appdata\local\microsoft\powertoys\ delete everything in here (this is close to correct but on my phone right now)

[2021-12-04 07:53] Your-Best-Friend86 opened #14823 "mapping CapsLock to Shift + Alt not working"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

Hi mapping CapsLock to Shift + Alt not working
I wanna change my language with caps lock so I installed power toys but any ways Mapping CapsLock to Shift + Alt not working (look at the screen shot below)
![image](https://user-images.githubusercontent.com/8021

[2021-12-04 07:53] crutkas commented on #14534
I’m wondering if the setup is swapped. Can we see a screenshot of the mappings?

[2021-12-04 08:28] nikolays93 commented on #14823
I just use `Caps Lock` => `Win + Space` for change language, but language dialog in a right bottom corner a little pissed off

[2021-12-04 08:29] Am86Shekari commented on #14823
I know I used that too but that prompt is making me mad so its better for everyone to fix this problem

[2021-12-04 09:14] franky920920 commented on #14701
@crutkas Closing this issue?

[2021-12-04 09:14] franky920920 commented on #14701
@crutkas Closing this issue?

[2021-12-04 09:15] franky920920 commented on #14701
@crutkas Closing this issue?

[2021-12-04 09:15] franky920920 commented on #14701
@crutkas Closing this issue?

[2021-12-04 09:18] franky920920 commented on #14794
I do think this will be a new PowerToys instead of adding this into PowerRename.

[2021-12-04 09:19] franky920920 commented on #14701
@crutkas Closing this issue?

[2021-12-04 09:19] franky920920 commented on #14701
@crutkas Closing this issue?

[2021-12-04 09:19] franky920920 commented on #14794
I do think this will be a new PowerToys instead of adding this into PowerRename.

[2021-12-04 09:24] franky920920 commented on #14794
I do think this will be a new PowerToys instead of adding this into PowerRename.

[2021-12-04 09:27] franky920920 commented on #13214
Closing this issue?

[2021-12-04 09:29] franky920920 commented on #14822
Duplicate of #13215

[2021-12-04 09:34] franky920920 commented on #14822
Duplicate of #13215

[2021-12-04 10:20] markvvaals opened #14824 "Customize Find My Mouse keybind"
### Description of the new feature / enhancement

Pressing CTRL twice got annoying so fast, as I do this way too often unintentionally copying and pasting and using other shortcuts while working on code.
That's why, even though I would like to use it, I disabled it within 5min.

Please let us customize it to either a different keybind combination or to change the amount of times pressed and delay

[2021-12-04 10:45] markvvaals opened #14825 "FancyZones number too bright in dark mode"
### Description of the new feature / enhancement

FancyZones always shows the numbers, in light mode these are white, in dark mode these are white.
When using dark mode, the numbers are way too bright and stand out significantly.

**Darker numbers**
To start, you could use the same color as the outlines when zone appearance is set to windows default. That would mean white numbers in light mode and

[2021-12-04 12:44] olovsson commented on #11013
Hi,

I just ran into the same error, but only numbers 1. to 4. of the problem description, while upgrading from 0.51.0 to 0.51.1
Only difference for me is, that PowerToys runs without error after the installation.

my `dotnet --list-runtimes` output:
[code]

[2021-12-04 12:49] davidegiacometti opened #14826 "[Run Plugin Manager] Missing Icons"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Settings

### Steps to reproduce

https://github.com/microsoft/PowerToys/pull/14462 broke plugin icons.

![Screenshot 2021-12-04 134114](https://user-images.githubusercontent.com/25966642/144709996-b031f473-4a45-4e17-8fb6-50c3d0d81a8b.png)

### ✔️ Expected Behavior

_No response_

### ❌ Actual Behavi

[2021-12-04 12:50] olovsson commented on #14814
I also had this issue when upgrading from 0.49.1 to 0.51.0 on my work laptop running Windows 11

[2021-12-04 12:59] a1waysbeta commented on #14715
I didn't find where the preset is 100% and the preset size has to be filled in with a specific number.

[2021-12-04 13:16] davidegiacometti commented on #14825
@markvvaals thank you for the suggestions.
Option to hide zone numbers already tracked here: https://github.com/microsoft/PowerToys/issues/11517
The current colors/opacity behaviour is the same of the FancyZones Editor.
Wondering if we should make number color customizable for "Custom colors" and adopt accent color for "Windows default".
Of course the editor should be also aligned.

[2021-12-04 13:18] pedrolamas commented on #14152
Some slicers can add thumbnails directly to the gcode (PrusaSlicer, SuperSlicer, Cura, ...) so we can just read from there the thumbnails!

I've just started coding a thumbnail provider for this, code works fine but it still needs work on the install/register part.

[2021-12-04 13:19] Jay-o-Way commented on #14812
True, maybe templates and custom layouts can be treaded as the same in the future?

The (i) icon has a tooltip, its not a button.

@niels9001 @SeraphimaZ Thoughts?

[2021-12-04 13:34] Jay-o-Way commented on #14740
I just wanted to polish the labels a bit, make them just a bit easier. I wasn't prepared for the depth of these follow-up questions 😆

[2021-12-04 13:35] lawweiliang opened #14829 "Up to 60% Disk Usage cause by Powertoy"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

### Turning Off the PowerToy
![image](https://user-images.githubusercontent.com/34936929/144711423-da796f0d-4c7d-4d5f-9159-3b25fee08c28.png)

### Turning On the PowerToy
![image](https://user-images.githubusercontent.com/34936929/144711399-c5286ae2-6a17-4d99-978c-8388

[2021-12-04 14:28] GrfxGawd opened #14830 "Repeated notification of new version"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

There's nothing I can see from my side that "triggers this". Windows 11 just keeps notifying you that there's an update. When you check it, it's the current version, Release v0.51.1. It shows the version as being current in the settings.

### ✔️ Expected Behavior

I w

[2021-12-04 14:37] Bhuvanesh09 opened #14831 "With relative position enabled, unable to maximize the window when using FancyZones via Win+Up"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

- Have "Override Windows Snap" enabled.
- Have "Move Windows based on" set to "Relative Position"
- Move any window to smaller windows.
- Pressing "Win + Ctrl + Up" would maximize the window.

### ✔️ Expected Behavior

Window should be maximized on pressing "Win +

[2021-12-04 14:51] chingucoding commented on #9526
I'm a bit confused, is this ready to work on?

[2021-12-04 15:12] arch1mede commented on #14814
I will write this down and thank you for those instructions but the point is, I shouldn't need to do this I would think.

[2021-12-04 16:03] miho73 opened #14832 "Arrow in update notification is not actual arrow"
### Description of the new feature / enhancement

Currently, arrow in version update notification is '->' which is not a real arrow.
How about use real arrow like '→' instead of '->' ?

### Scenario when this would be used?

When user gets update notification, can feel more comfortable.
This may can increase quality of Power Toys app.

### Supporting information

_No response_

[2021-12-04 16:07] louis993546 commented on #9970
I am lucky enough to not have to use zoom anymore, and I haven't been able to reproduce it in other ways. Feel free to close it.

[2021-12-04 16:50] crutkas commented on #14740
Let’s be tactical here. What are the top few offenders and fix those. If there is a pattern, let’s fix the pattern

most of these labels have been borrowed from other MSFT team repos so nice thing is we all now what they mean.

[2021-12-04 16:51] #13214 closed

[2021-12-04 16:51] #14701 closed

[2021-12-04 16:53] crutkas commented on #14829
Is this continual or on start up?  We do query the disk for things like programs.

[2021-12-04 16:54] crutkas commented on #14829
If this is constant, Seeing logs would have helpful too. Can you right click on the powertoys system tray icon and do a “report bug” and share that.

[2021-12-04 17:10] InsideStar opened #14833 "Update Button not working as expected"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Settings, Welcome / PowerToys Tour window, System tray interaction, Installer

### Steps to reproduce

To update the App and check generally

### ✔️ Expected Behavior

To open and show properly

### ❌ Actual Behavior

Lagging and Bugged

### Other Software

NIl.

[2021-12-04 17:11] Aaron-Junker commented on #14740
I want to note here that in my opinion the `fancyzones-` labels are a good idea but unnecessary.

[2021-12-04 17:39] BAIPIAOKER opened #14834 "Plz add "Shift Lock" to Keyboard Manager utility"
### Description of the new feature / enhancement

The Caps Lock in some language such as German behaves like a Shift Lock. When you activate Shift Lock, type "1" will gives you "!".

### Scenario when this would be used?

Using Shift Lock can boost typing accuracy.

### Supporting information

_No response_

[2021-12-04 18:07] Jay-o-Way commented on #761
https://github.com/microsoft/PowerToys/wiki and the files in there are heavily outdated too...

[2021-12-04 18:25] Toby-Broom opened #14835 "Dissable icon thumbnails for txt files"
### Description of the new feature / enhancement

For my powershell files there is a preview as its a text file but it not useful with the amount of space on an icon.

![image](https://user-images.githubusercontent.com/27242647/144720447-0e785318-33d8-49ae-a034-530bb6e03697.png)

### Scenario when this would be used?

makes browsing in explorer look clean when there is icons vs previews that you c

[2021-12-04 18:27] Aaron-Junker opened #14836 "Move wiki page about app compat to user docs"
### Provide a description of requested docs changes

Move https://github.com/microsoft/PowerToys/wiki/Application-Compatibility to ms docs

[2021-12-04 18:28] Aaron-Junker commented on #14836
@crutkas Ok when I open a pr n the docs repo?

[2021-12-04 18:32] Jonah-Horowitz commented on #14206
Updating Power Tools to the version with VCM didn't break NVidia Broadcast for me. NVidia Broadcast can see the VCM Virtual Camera as an option, but if I select that option then Broadcast shows only the last frame it was receiving from the previously selected camera, frozen in place.
On the other hand Power Tools cannot see NVidia Broadcast's virtual camera as an option, because it can't see any v

[2021-12-04 18:48] Jay-o-Way commented on #14169
PowerShell has the option `Get-FileHash`, so that can be used?

[2021-12-04 18:52] lawweiliang commented on #14829
Hi @crutkas, continuous.
Once I turn off Powertoy. My disk usage gets back to normal.

[2021-12-04 18:54] lawweiliang commented on #14829
Here is the report bug zip. Feel free to take a look.
[PowerToysReport_2021-12-05-02-50-49.zip](https://github.com/microsoft/PowerToys/files/7654468/PowerToysReport_2021-12-05-02-50-49.zip)

[2021-12-04 18:59] crutkas commented on #14836
I’m mixed on this one since it is easier for us to control this list.

[2021-12-04 19:15] Aaron-Junker commented on #14836
@crutkas I don't really see your point here. It's just open a pr in the docs repository and merge it.

[2021-12-04 19:29] Aaron-Junker commented on #14835
@crutkas that's not a built in feature of Windows. What exactly did you think we could do here?

[2021-12-04 19:30] Toby-Broom commented on #14835
Sorry, I though since you could for for SVG and pdf then could be possible for txt.

[2021-12-04 19:30] #14835 closed

[2021-12-04 19:40] Aaron-Junker commented on #14835
So I'm a bit confused, am I right that you see text in the thumbnails of the files? And you want to remove this?

[2021-12-04 19:44] Toby-Broom commented on #14835
Correct, I do not want to see the thumbnails for icons on text files. it seems like it out of scope for this project so never mind.

[2021-12-04 19:50] Aaron-Junker commented on #14835
I'm just telling you that this is to 99% caused by another app on your PC.

[2021-12-04 19:51] serialtoon opened #14837 "Mouse Utilities>Enable Find My Mouse (Enabled by default!?)"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Mouse Utilities

### Steps to reproduce

No steps needed. The function "Find my mouse" is enabled by default. As someone who games on their PC, this was a huge annoyance and i figured it was a function of Windows 11. Turns out this is enabled by default. Pressing CTRL twice highlights the mouse and i

[2021-12-04 19:55] Aaron-Junker commented on #14837
We're currently working on something that displays all new features after an update (SCOOBE).

Did you know that you can disable find my mose for games in the settings?

[2021-12-04 19:57] serialtoon commented on #14837
Aaron, thank you for the reply. The issue is not whether there is an ability to turn it off during a gaming session but rather i wasnt aware it was on and spent a good 20 mins looking thru accessibility settings on Windows 11. For some reason in my mind i figured Microsoft in its infinite wisdom decided to push this feature on everyone. Turns out it was coming from PowerToys.

[2021-12-04 20:02] Aaron-Junker commented on #14837
We acknowledge your issue. But just for getting a feeling, would it have  helped when after the update of PowerToys a window popped up which explained the new features?

[2021-12-04 20:04] serialtoon commented on #14837
That would work. Again, thank you for the reply and i appreciate the software. You are doing some excellent work and i recommend it to most everyone i know with Windows. We can close this ticket out.

[2021-12-04 20:07] Aaron-Junker commented on #14837
Thank you for your recommendations of the software! We will close this issue when a core team member triaged it.

[2021-12-04 20:08] pbbft commented on #14152
Hi,

This is 100% true but it doesn't consider .stl files which are the non-sliced 3d files. The screenshot I included are .stl files but it's using a 3rd party thumbnail program in order to generate in File Explorer.

Here is a link to that free add-on: https://github.com/unlimitedbacon/stl-thumb for reference.

This is all a it would be nice thing though vs. really necessary however with 3d prin

[2021-12-04 20:37] crutkas commented on #14835
I read this as don’t create thumbnails.

[2021-12-04 20:38] crutkas commented on #14836
Different spot that I don’t pay attention to versus a locked down wiki

[2021-12-04 20:52] Aaron-Junker commented on #14836
So, does that mean no?

[2021-12-04 20:54] Aaron-Junker commented on #14836
So, does that mean no?

[2021-12-04 20:55] Aaron-Junker commented on #14836
So, does this mean no?

[2021-12-04 21:25] pedrolamas commented on #14152
For STL, please follow up on #9695

[2021-12-04 21:56] ColonelBlip commented on #14734
Here is my hen-scratching description.

![Fancyzone focus](https://user-images.githubusercontent.com/69330853/144725766-4ebc0247-7a08-475f-8627-4bb474e16a4e.png)

[2021-12-04 21:56] #14734 closed

[2021-12-04 22:18] CocoDrizzL3 commented on #14837
Is there a way to change the option of find my mouse from Lctrl to any other key? If so, anyone can guide me?

[2021-12-04 22:19] niels9001 commented on #14825
@davidegiacometti Agree, would be really nice to have a checkbox in Settings to turn on/off the numbers and to set the foreground color when using custom colors

[2021-12-04 22:32] DonPuh opened #14838 "Добавьте быстрый поиск по интернету"
### Description of the new feature / enhancement

При наборе произвольного текста делать поиск в интернете.

### Scenario when this would be used?

Когда набираем произвольный текст.

### Supporting information

Сейчас после пробела весь поиск обрушивается.

[2021-12-04 22:51] ianmanifacier opened #14839 "enable disable numpad"
### Description of the new feature / enhancement

1 - in the keyboard setting a simple toggle button that enable or disable numpad on startup.
2 - switch to toggle a button in the task bar that shows if numpad active or inactive.

### Scenario when this would be used?

It would be useful to anyone with a numpad. Its always a pain to try to login and find out that the numpad is inactive.

### Suppo

[2021-12-04 23:18] Mahanzamabi opened #14840 "System.UnauthorizedAccessException - Image_version.txt"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Shortcut Guide

### Steps to reproduce

The combination keys did not work

### ✔️ Expected Behavior

[2021-12-05 02:36:15.0643] [INFO] [S:\src\modules\launcher\PowerLauncher\App.xaml.cs::49]
Starting PowerToys Run with PID=14084

[2021-12-05 02:36:15.1239] [INFO] [S:\src\modules\launcher\PowerLaunche

[2021-12-05 01:05] Sebyastian127 commented on #13913
I am talking about how when Powertoys is either open, closed or even completely deleted from my laptop, the ctrl button is either registering as space or normal ctrl

[2021-12-05 03:01] #14816 closed

[2021-12-05 04:57] dragoncommits opened #14841 "Can't update PowerToys after upgrading to windows 11"
### Microsoft PowerToys version

0.49.0

### Running as admin

- [X] Yes

### Area(s) with issue?

Installer

### Steps to reproduce

click upgrade button after updating to windows 11

### ✔️ Expected Behavior

receive the latest and greatest version of PowerToys

### ❌ Actual Behavior

a message pops up saying failed to update because it can't uninstall older version of PowerToys

### Other Softw

[2021-12-05 05:58] Majoramari opened #14842 "Shortcuts the URLs in PT run!"
### Description of the new feature / enhancement

I liked this change from [v0.51.0](https://github.com/microsoft/PowerToys/releases/tag/v0.51.0) patch

but I would like to see a way to shorten the URL or add a predefined URLs

### Scenario when this would be used?

when you want to use a long command but you won't type the whole thing every time

example:
from
`notion:https://www.notion.so/majora

[2021-12-05 06:54] Jordy3D commented on #9590
One observation I've made since that last post is that it seems to work as expected immediately after install most of the time, but it fails upon restart. Not sure how helpful that is, but it's something more to add.

[2021-12-05 08:29] Pola8976 opened #14843 "Window Close Control"
### Description of the new feature / enhancement

Either disbale the close button or add a confirmation dialog on clicking the close button.

### Scenario when this would be used?

While some apps do have this built in, many don't. Sometimes there is un-recoverable information that is lost once the app is accidently closed.

### Supporting information

One app that I can think of right off the bac

[2021-12-05 09:09] lucas-fern commented on #14820
Resolved using the [Microsoft uninstall troubleshooter](https://download.microsoft.com/download/7/E/9/7E9188C0-2511-4B01-8B4E-0A641EC2F600/MicrosoftProgram_Install_and_Uninstall.meta.diagcab) as described in #9720

[2021-12-05 09:09] #14820 closed

[2021-12-05 09:44] Aaron-Junker commented on #1527
I let the video talk for itsself:
https://user-images.githubusercontent.com/58633848/144741476-c49b5a3a-6401-470b-a517-595e48eec7d0.mp4

[2021-12-05 09:48] SNDST00M commented on #1527
Can white FOUC be replaced by something more intuitive like a loading wheel?

[2021-12-05 10:06] MasoudRahmani commented on #13950
+1

[2021-12-05 10:23] Aaron-Junker commented on #1527
https://user-images.githubusercontent.com/58633848/144742654-e7919805-c13d-40cf-a8cd-df4313fdc107.mp4

[2021-12-05 10:23] #11045 closed

[2021-12-05 11:00] Wizards-god commented on #14841
This happened to me too, It started working normally after manually running it as an administrator. If that doesn't fix the problem, try uninstalling and re-installing PowerToys, that should fix it.
It is an issue nevertheless.

[2021-12-05 11:04] TheLazyUser commented on #14792
Dear Jay,

Yes I Didd try ESC, it worked!

Thank You

________________________________
From: Jay ***@***.***>
Sent: Friday, December 3, 2021 1:43:01 PM
To: microsoft/PowerToys ***@***.***>
Cc: TheLazyUser ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/PowerToys] Color Picker Closing (Issue #14792)

Did you try the Esc button?

—
You are receiving this because you authored the thread.
Re

[2021-12-05 11:13] franky920920 commented on #14841
Cloud you try to download the installer from the [release page](https://github.com/microsoft/PowerToys/releases/) and see if you can update PowerToys?

[2021-12-05 11:15] franky920920 commented on #14840
This would be #14578. Unclear why access to one of our files is being denied.

Did you install under a different user?

[2021-12-05 11:17] Mahanzamabi commented on #14840
Yes my name user Mahan and Admin User
Name is Admin

On Sun, 5 Dec 2021, 14:45 Franky Chen, ***@***.***> wrote:

[2021-12-05 11:19] franky920920 commented on #14842
This will be possible after #11048 is implemented and the support of the application URI. :D

[2021-12-05 11:19] franky920920 commented on #14842
Tagging this as a dup of #11048

[2021-12-05 11:20] franky920920 commented on #14838
Duplicate of #3245

[2021-12-05 11:20] franky920920 commented on #14838
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #3245 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-05 11:23] franky920920 commented on #14837
See #14638 for how we are changing the activation method. :D

[2021-12-05 11:35] franky920920 commented on #14815
Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/11349917/133042052-4975be21-4699-4363-83c9-a8e1869d079d.png)

[2021-12-05 11:37] franky920920 commented on #14813
Duplicate of #13007

[2021-12-05 11:37] franky920920 commented on #14813
Thanks for reporting this. This issue is a duplicate.
I'm linking this issue to #13007 to centralize the discussion thread for tracking.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-05 11:38] franky920920 commented on #13007
@crutkas What's the priority of this now? I've seen a increase rate of this issue being reported.

[2021-12-05 11:52] franky920920 commented on #14833
Can you clarify your issue? What function is not working and what is its expected behavior?

[2021-12-05 11:56] InsideStar commented on #14833
Like the update button in it is bugging
It loads around for about an hour then it crashes the pc ...

It is expected to like show updates quickly like a windows updater right ??

[2021-12-05 11:58] Bugrakca commented on #13643
I restore the defaults but it is still the same.  Here's my zip file. Version: 0.51.1
[PowerToysReport_2021-12-05-14-57-05.zip](https://github.com/microsoft/PowerToys/files/7655802/PowerToysReport_2021-12-05-14-57-05.zip)

[2021-12-05 12:08] BobbyBare opened #14844 "Keep screen on not working in Windows 11 Pro clean install"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

Awake

### Steps to reproduce

Screen turns of according to the Power plan will not stay awake

### ✔️ Expected Behavior

See above

### ❌ Actual Behavior

Screen turns of to power plan timer.

### Other Software

_No response_

[2021-12-05 12:09] BobbyBare commented on #14844
[PowerToysReport_2021-12-05-11-58-18.zip](https://github.com/microsoft/PowerToys/files/7655820/PowerToysReport_2021-12-05-11-58-18.zip)
Forgot to attach Report

[2021-12-05 12:25] TomLewis commented on #3248
when is this being added?

[2021-12-05 12:48] Gieted commented on #14815
[Here](https://github.com/microsoft/PowerToys/files/7655862/PowerToysReport_2021-12-05-13-47-33.zip)'s a report, right after the issue've happened.

[2021-12-05 12:58] franky920920 commented on #14833
Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/11349917/133042052-4975be21-4699-4363-83c9-a8e1869d079d.png)

[2021-12-05 12:59] franky920920 commented on #14844
cc: @dend

[2021-12-05 13:01] franky920920 commented on #14839
Seems like #1196?

[2021-12-05 13:06] ianmanifacier commented on #14839
Perfect, thank you. Have a great day!

[2021-12-05 13:11] C-Dragon8 commented on #12603
I'm very sorry, this bug appeared when Powertoy and Groupy were used at the same time. I forgot to describe this situation clearly before.

During this time, I used Powertoy_FancyZones (to keep up to date) and Groupy (v1.50) at the same time, and I also encountered this problem. Until one day I changed a setting item in Gropuy appearance, which can solve this problem. You can check the picture bel

[2021-12-05 13:22] S-N-O-R-L-A-X commented on #12392
But for me the powertoys run is the most important function.

[2021-12-05 13:24] BobbyBare commented on #14844
Tested it running as Admin
No difference

[2021-12-05 13:51] InsideStar commented on #14833
Here is the report ..!
[PowerToysReport_2021-12-05-19-19-10.zip](https://github.com/microsoft/PowerToys/files/7655969/PowerToysReport_2021-12-05-19-19-10.zip)

[2021-12-05 13:52] htcfreek commented on #1527
@Aaron-Junker
This white "window" before the file is loaded looks boring. Can you respect color mode here too?

[2021-12-05 14:03] olofson commented on #4407
Been having this same issue for a year or more (don't remember when I started using FancyZones, and it just happened again, with 0.51.0. Sometimes, it just "forgets" which layout goes where, but this time, all custom layouts are gone.

I'm using Windows 10 Pro, 20H2, and perhaps more interestingly, this is a studio rig with four screens; one 4K main screen, one 4K "big screen" above/behind the mai

[2021-12-05 14:04] htcfreek opened #14845 "[Dev docs] Add thumbnail provider"
_Originally posted by @pedrolamas in https://github.com/microsoft/PowerToys/pull/14827#issuecomment-986092691_

As in the above comment mentioned the implementation of thumbnail providers should be added/improved in our dev docs.

[2021-12-05 14:08] Aaron-Junker commented on #1527
I thought something simmilar, I will look what I can do

[2021-12-05 14:29] dragoncommits commented on #14841
I cannot uninstall PowerTools windows gives me an error when doing it from settings or control panel  (Windows Installer "The feature you are trying to use is on a network resource that is unavailable").

When I downloaded and ran the new installer it gave me the same original error. (PowerToys Installer "Couldn't uninstall previous PowerToys version.")

[2021-12-05 14:52] barry-johnson commented on #1527
@Aaron-Junker  Minor load-time UI issue aside, seeing the core functionality in action is great. Thank you!

[2021-12-05 15:00] #14824 closed

[2021-12-05 15:01] #14822 closed

[2021-12-05 15:34] devJoaoPedro opened #14847 "View folder sizes inside Windows Explorer"
### Description of the new feature / enhancement

View folder sizes inside Windows Explorer like files show.

### Scenario when this would be used?

This is a very useful feature for me and for a lot of people.

### Supporting information

_No response_

[2021-12-05 15:44] Aaron-Junker commented on #14847
## Issue is a duplicate
Thank you for your issue! We've linked your report against another issue #356

Thanks for helping us to make PowerToys a better piece of software.

[2021-12-05 15:44] Aaron-Junker commented on #14847
Duplicate of #356

[2021-12-05 16:09] davidegiacometti opened #14848 "Thumbnail also enable Preview"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

PDF Preview, PDF Thumbnail, SVG Preview, SVG Thumbnail

### Steps to reproduce

- Disable all preview panes
- Enable only PDF and SVG thumbnails
- Reboot

![image](https://user-images.githubusercontent.com/25966642/144754170-828fcaa4-5bce-43b1-a22c-3fdb65de4dcf.png)

[file-explorer-log_2021-12-05.txt

[2021-12-05 16:42] mikeli77 opened #14849 "FancyZones - apply zone to multiple desktops"
### Description of the new feature / enhancement

I use 4 desktops with my large monitor. After defining a fancy zone, I find that it is only applied to the initial desktop where I defined the zone. So currently I have to redo the zone definition for each desktop.

Some ideas
1. an setting option (checkbox) to apply the same fancyzone across all desktops.
2. set a fancy zone as default (for all de

[2021-12-05 17:44] crutkas commented on #1527
We can solve the theme issue on startup. What I’m excited about is this being in This state!

I cannot stress minimal lovable product enough. There will be stuff that will be rough but we can refine. Having a theme quirk for startup be incorrect, not a ship blocker.

[2021-12-05 18:07] Aaron-Junker commented on #1527
You're right but I already fixed that.

[2021-12-05 18:51] crutkas commented on #1527
1. Let’s move to todos to the top, not hidden in random comment
2. Internally we can call it Monaco. Externally this would be something like “dev files for preview pane”

[2021-12-05 18:54] MikronT opened #14850 "Text converter between different keyboard layouts"
### Description of the new feature / enhancement

A new keyboard shortcut (something like <kbd>Win</kbd>+<kbd>Shift</kbd>) to switch between keyboard layouts like <kbd>Win</kbd>+<kbd>Space</kbd> does but WITH converting selected text to the chosen keyboard layout.

### Scenario when this would be used?

When you have 2+ different keyboard layouts installed and need to switch between them very ofte

[2021-12-05 20:22] Pablo-Davila commented on #5924
When I created this issue PowerRename was slow when I excluded all files and subfolders leaving a reasonable amount of non-excluded directories. I have now emulated a similar scenario with empty files and it seems it just wont be able to open.

This small python script quickly creates 180 directories with 100 empty files each.
[code]
 - If I select one of such folders, PowerRename will work proppe

[2021-12-05 20:33] crutkas commented on #13007
@yuyoyuppe thought: on upgrade / uninstall, we disable all file explore before we start.

[2021-12-05 21:04] oliverw commented on #14606
Same.

[2021-12-05 21:08] htcfreek commented on #1527
Will this be a separate module or part of the explorer module?

[2021-12-05 21:59] kalekje opened #14851 "PT Run - Allow us to choose shortcut for "open containing folder" and "open path in console""
### Description of the new feature / enhancement

Allow us to choose shortcut for "open containing folder" and "open path in console". in the search menu To me, using ALT+Enter or CTRL+Enter makes a lot more sense. Allowing us to choose the shortcuts would be helpful.

### Scenario when this would be used?

Everyday usage.

### Supporting information

_No response_

[2021-12-05 22:57] cyberrex5 commented on #3245
I'd like to implement this.
most of the work is already done in the uri plugin actually

[2021-12-05 23:00] abdulhaquemasum commented on #13149
Hey all, is there an update on my request?

[2021-12-05 23:11] AlexBoXY opened #14852 "PowerRename: change default to "Apply and exit" insteed of "Apply""
### Description of the new feature / enhancement

In PowerRename, I would prefer "Appy and exit" as the Default for the Apply-Button or at least an Option in the Setting to choose the default.

### Scenario when this would be used?

I only apply one change to a batch of files. So it's an extra click every time I use the tool.
I found this more convenient in the earlier versions. Apart from the fac

[2021-12-05 23:27] crutkas commented on #3245
@cyberrex5 if you want to do it in the way I suggested, please. namely this comment from the intro of the issue

crutkas: possible solution to this issue in #10619. It defers to default browser + user's search engine. Lets PT Run be generic

[2021-12-05 23:44] photkey opened #14853 "Shortcut keys to switch to focus the next zone"
### Description of the new feature / enhancement

Very happy that the new version already supports switching windows in the current zone, it would be better if you could add a shortcut to switch between different zones.

### Scenario when this would be used?

When there are multiple zones and you need to switch zones quickly

### Supporting information

_No response_

[2021-12-05 23:56] htcfreek opened #14854 "[Github][Spellcheck] Add general regex rule for GUIDs"
_Originally posted by @htcfreek in https://github.com/microsoft/PowerToys/pull/14827#discussion_r762599743_

We should replace expect values like `ffaa0` for GUIDs by a general regex rule for GUIDs. This short character sequences which aren't real words can lead to false positives.

[2021-12-06 00:58] franky920920 commented on #14841
Please see the instructions in [#14056 (comment)](https://github.com/microsoft/PowerToys/issues/14056#issuecomment-954360405) and [#14056 (comment)](https://github.com/microsoft/PowerToys/issues/14056#issuecomment-954409283) and see if this helps :)

[2021-12-06 01:02] franky920920 commented on #5924
@Pablo-Davila Which version are you using now?

[2021-12-06 01:05] Pablo-Davila commented on #5924
v0.51.1

[2021-12-06 01:06] franky920920 commented on #5924
cc: @stefansjfw

[2021-12-06 01:40] peppapig450 commented on #14841
I have tried both of these and still no success. I cannot get v0.49.1 to uninstall to install v0.51.1

[2021-12-06 02:19] linguaccia22 opened #14855 "Powertoys Run - Introduce folder and file search for the NAS as well"
### Description of the new feature / enhancement

hello everyone, I read a few years ago we were talking about this research thing even on hard drives mapped on the network.
will this feature ever be introduced?

I tried all ways to activate this thing but couldn't.
the search only works well for hard drives physically connected to the computer.

it was very convenient if the search was more expan

[2021-12-06 03:39] LupusHacker opened #14856 "Allow Fn key detection (add known shortcut keys to the drop-down list)"
### Description of the new feature / enhancement

Allows detection of the Fn key (yes, I know it doesn't act as it's own separate key, more of a suffix key), or add more keys to the drop-down list for the Fn row (things like brightness and such, more so brightness)

### Scenario when this would be used?

I use Twinkle Tray, because Windows can't detect and control the brightness/contrast of my ext

[2021-12-06 03:59] dragoncommits commented on #14841
I ran ~\Downloads\PowerToysSetup-0.47.0-x64.exe --extract_msi in cmd it ran with no errors but did not give any console output.
I don't know if the file got extracted but I did not find it in the current directory

[2021-12-06 04:39] peppapig450 commented on #14841
I am no powershell expert (use linux and bash mostly) but maybe try these to find it
[code]
and if that doesnt return anything
[code]

[2021-12-06 04:51] #14847 closed

[2021-12-06 04:52] #14839 closed

[2021-12-06 04:52] #14838 closed

[2021-12-06 04:53] crutkas commented on #14842
I still think this is macros but sure, let’s do it against that

[2021-12-06 04:53] #14842 closed

[2021-12-06 04:54] crutkas commented on #11048
Shouldn’t this be dup’ed against the macro variant here?

[2021-12-06 06:22] Aaron-Junker commented on #1527
Part of the explorer module

[2021-12-06 07:35] HWilleboordse opened #14857 "Multiple monitors using FancyZones doesn't recognize the laptop hood closed!"
### Microsoft PowerToys version

0.51.0

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones Editor

### Steps to reproduce

have a laptop setup with two monitors.

### ✔️ Expected Behavior

Unpo laptopnhood closed or open adapt the maximum screen resolution
or manualaly override the multiple monitors to be used for FancyZones .

### ❌ Actual Behavior

The FancyZone editor seems t

[2021-12-06 07:38] franky920920 commented on #14857
Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/11349917/133042052-4975be21-4699-4363-83c9-a8e1869d079d.png)

cc: @SeraphimaZ

[2021-12-06 07:42] franky920920 commented on #14856
This issue is a won't fix, see [here](https://docs.microsoft.com/en-us/windows/powertoys/keyboard-manager#:~:text=the%20Windows%20OS.-,The,(and%20F13%20~%20F24)%20keys%20can%20be%20mapped.,-Pause) for more infomation.

[2021-12-06 08:47] HWilleboordse commented on #14857
Hello Franky,

Unfortunately I can not because I removed the software for my windows
installation.

Regards,
    Hugo

On Mon, Dec 6, 2021 at 8:39 AM Franky Chen ***@***.***> wrote:

--

Kind regards,

*Hugo Willeboordse*

sr. Software Engineer

+31 (0) 499 79 65 12 | www.sensorfy.ai

*Connect with me on LinkedIn* <https://www.linkedin.com/company/sensorfy>

--
*Download The Essential Guide to Pre

[2021-12-06 09:02] Wizards-god opened #14859 "[Runner] Add a restart button to systemtray context menu"
### Description of the new feature / enhancement

A Button to restart PowerToys in the taskbar right-click menu.

### Scenario when this would be used?

The Restart button could be used if some feature Shut Down out or some feature was not working as intended.

### Supporting information

This has been included in many other open-source projects I use, so thought it could be added here also,

[2021-12-06 09:29] Jay-o-Way commented on #14852
There have been a huge number of criticism on the old Apply+Exit because some people want to perform several renamings in a row and doing that with a window that keeps closing is way more annoying. So, at least you have a choice now.

[2021-12-06 09:49] jsayce commented on #14010
Hi, just had this same experience again upgrading to 51.1.

[2021-12-06 10:04] Rolldabeatz opened #14860 "Shortcut for enabling and disabling keyboard manager."
### Description of the new feature / enhancement

When I start to game I could turn on keyboard manager by pressing for ex. ctrl + num 9 to disable the windows key until i need it again.

### Scenario when this would be used?

Almost every scenario. Mostly gaming, coding etc.

### Supporting information

_No response_

[2021-12-06 10:35] Decimation commented on #14234
Same issue here.

[PowerToysReport_2021-12-06-04-35-05.zip](https://github.com/microsoft/PowerToys/files/7659986/PowerToysReport_2021-12-06-04-35-05.zip)

[2021-12-06 10:36] arnovdk opened #14861 "Option to automatically disable Find My Mouse in RDP session"
### Description of the new feature / enhancement

A toggle which, when enabled, causes the function to be automatically disabled when it detects that the current desktop session changes from 'local' to 'RDP'. (please excuse these terms)

### Scenario when this would be used?

I love the function and would use it on my PC at home AND on my PC at work. When working from home, I log on to my PC at wo

[2021-12-06 10:50] AlexanderCsr8904 commented on #14859
Está bien

[2021-12-06 10:55] beverke opened #14862 "powertoys crashes on start"
### Microsoft PowerToys version

"0.49.1.0","0.51.0.0","0.51.1.0"

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

Strating powertoys
[Uploading PowerToysReport_2021-12-06-11-42-39.zip…]()
ys

### ✔️ Expected Behavior

start

### ❌ Actual Behavior

![error](https://user-images.githubusercontent.com/13498650/144834104-1ead7f67-602a-4877-9681-ddddbd6c5836.p

[2021-12-06 11:37] jaimecbernardo commented on #14739
Leaving some notes here.
Couldn't find anything suspicious in terms of errors.
The 10164 process instance doesn't seem to have a log message for exiting, though. Might that have been related?
[code]

@WilliamTael , At the time did you try disabling / enabling the module from settings?
Good to know that this goes away with a restart. Thank you for the feedback.

[2021-12-06 11:41] stefansjfw commented on #5924
I tried the attached python script and opening all the generated files with powerrename works fine for me. @Pablo-Davila Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/57057282/144840026-8ca9221d-6a4f-42ee-b0ed-57ab3199d

[2021-12-06 11:55] stefansjfw commented on #14514
Wow! This must be some focus delegating issue.. I'll look into it

[2021-12-06 12:26] Aaron-Junker commented on #12637
Not being able to copy seems to be an error in`PreviewHandlerCommon` which doesn't handle the focus right.

@crutkas I would like to look into this after we shipped monaco.

[2021-12-06 13:22] franky920920 commented on #14862
The bug report file you uploaded seems corrupted. Please re-upload it. Thanks!

---

Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/11349917/133042052-4975be21-4699-4363-83c9-a8e1869d079d.png)

[2021-12-06 13:24] Turizmo commented on #7900
I have the same problem on a triple monitor setup. But programs return to their last position if the setting is unchecked.  If i check the setting, windows seem to open in the zone closest to the mouse cursor. Seems like checking this setting actually does what i expect from the setting below.
![image](https://user-images.githubusercontent.com/52125795/144853481-9483fe4a-6fe3-43a6-8ca5-50354d12713

[2021-12-06 13:29] franky920920 commented on #14860
Duplicate of #4879

[2021-12-06 13:29] franky920920 commented on #14860
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #4879 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-06 13:45] niels9001 commented on #14852
Having an option in Settings to set the primary (Apply or Apply and close) would be a nice addition. Or have the UI remember the last action, but that might be confusing for others.

@AlexBoXY v0.51 i troduced some improvements to the UI and real estate. The UI used should be pretty similiar  in terms of size compared the old dialog. Are you using that version?

[2021-12-06 13:47] beverke commented on #14862
[PowerToysReport_2021-12-06-14-47-11.zip](https://github.com/microsoft/PowerToys/files/7661092/PowerToysReport_2021-12-06-14-47-11.zip)

[2021-12-06 13:52] Jay-o-Way commented on #14852
Or maybe use <kbd>Enter</kbd> for the one, and <kbd>Ctrl</kbd>+<kbd>Enter</kbd> for the other?
Or just press Enter and Esc.
For comparing: Win Photo app uses the same (when cropping an image) as P.Rename does now:
![image](https://user-images.githubusercontent.com/65828559/144857701-66dac315-1523-4e0b-83c6-772fef57293c.png)

[2021-12-06 13:52] emirkmo commented on #6434
It's not that simple if you use software like Logitech G Hub and gaming mice that have multiple IDs, or use multiple mice. As the flip flops will also flip flop the flip flop. Sounds crazy? Try it. If you set it to true for both the actual mouse and the one installed my logitech, you're back to normal. great.

[2021-12-06 13:57] Aaron-Junker commented on #14855
In theory, if you included it in the search indexer, it should work.

[2021-12-06 13:58] Aaron-Junker commented on #13149
Cc: @SeraphimaZ

[2021-12-06 14:04] SeraphimaZ commented on #14261
Yes, it is. I'm going to change a little bit the way how we handle changed resolution and adapt the work area if it's possible. It's easy with grid layouts since the size of the zones is a percentage, but canvas layouts will be reset to the default "Priority Grid".

[2021-12-06 14:09] niels9001 commented on #14801
The current ToggleSwitch allows you to turn the feature on or off (that doesn't say anything about if it's _active_ or not, but makes sure that there is support in the background to activate the process). The shortcut setting allows you to customize how you can activate the mouse click highlighting when this process is enabled.

I think what you are asking for is a way to turn on this mode on or o

[2021-12-06 14:27] SeraphimaZ commented on #12403
Thank you for the investigation.
So since the issue is reproducible only when you change the resolution, it's the same as https://github.com/microsoft/PowerToys/issues/14261.
Let's centralize the discussion thread there.

[2021-12-06 15:01] #14813 closed

[2021-12-06 15:05] linguaccia22 commented on #14855
in Indexing Options there are no hard drives mapped on the network
I will mean the units:

(V :)
(W :)
(X :)
(Y :)
(Z :)

how do i enable them if they are not there?
![Opzione](https://user-images.githubusercontent.com/95597809/144869722-f47df75f-1147-47ad-934f-6945348b7752.png)

[2021-12-06 15:06] dragoncommits commented on #14841
Thank you. I tried that the first one returned nothing and the second one gave me an error

[code]

[2021-12-06 15:09] jaimecbernardo commented on #14355
Hi @HasnuddinMohammed and @Priyanshu073 ,
I've given this a test on 0.51.1 and it seems that Narrator is properly announcing the name in the edit box.
It must've been fixed as part of other UI fixes.
I'm closing this for now.
Please re-open if it pans out I'm wrong.
Thank you.

[2021-12-06 15:09] #14355 closed

[2021-12-06 15:19] generic-user commented on #14801
@niels9001 That's a good enough summary for me. 😄 👍

[2021-12-06 15:26] drms opened #14863 "Color Picker display"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

ColorPicker

### Steps to reproduce

activate color checker (win+shift+c shortcut works fine)  and mouse over screen color

### ✔️ Expected Behavior

1. To display CIELAB color as natural whole numbers per the color picker drop down choice in settings; see .jpg's
2. When active, colors list display w

[2021-12-06 15:34] SeraphimaZ commented on #14261
The reason for resetting each layout to the default "Priority Grid" is that we can't adapt canvas layouts to the new resolution. It's possible with grid layouts though.

So, what do we have:
* It seems to be wrong to differentiate the behavior and reset canvas layouts while keeping the grid.
* Resetting the layout after changing resolution causes a lot of issues.
* Keeping all layouts after resolu

[2021-12-06 15:34] Jay-o-Way commented on #14863
Number 2 is a known limitation, mentioned in #5936
Number 1 - is a question somebody else can answer better than I can :-)

[2021-12-06 15:35] Aaron-Junker commented on #14855
Thank you for the clarification

[2021-12-06 15:39] SeraphimaZ commented on #14261
Related to https://github.com/microsoft/PowerToys/issues/723

[2021-12-06 15:39] Jay-o-Way commented on #14261
I think it's not impossible to scale canvas zones (what i call "floating zones") just needs a bit of math.
I also think resolutions shouldn't be changed often. If things are too small, people can scale the text or everything. But that's a personal opinion.

[2021-12-06 15:47] niels9001 commented on #14863
@drms I'm not familiar with CIELAB, but is your first point asking for rounding it to a value without decimals, as shown in Settings?

[2021-12-06 15:52] Jay-o-Way commented on #14863
Other thing: shouldn't the correct notation be `L*a*b* (...)` ?

[2021-12-06 15:54] SeraphimaZ commented on #14261
Yes, but it won't be the same layout in this case. If we will scale canvas layouts, it would be easier to save percents (as for grid layouts) instead of coordinates.

It happens often if you're using RDP or VM. Resize the window and resolution will be changed. Also, some games can cause it as far as I know.

[2021-12-06 16:19] barry-johnson commented on #1527
Really beyond excited about this. Particularly since it looks like in 2022 I will actually be able to get back to some proper software activity - 2021 has been a year with more time spent with MS Office than IDEs or VS Code.

[2021-12-06 16:23] SRGDamia1 opened #14864 "[Run] Add ability to launch shortcuts from a specified folder"
### Description of the new feature / enhancement

Just as programs can be found and launched, I would like to open shortcuts to files and folders from Power Toys Run by typing in the short-cut name.

### Scenario when this would be used?

I have a very long list of folders that I open up frequently, many of which are network folders and with deep folder structures.  Instead of trying to navigate u

[2021-12-06 16:45] maxyvon commented on #13631
@crutkas I think this should be the result.
Here's a step by step:
![image](https://user-images.githubusercontent.com/44422604/144886380-7926d0e8-be63-4e9d-b5de-040e2b042f54.png)
Here is the one line result form google:
![image](https://user-images.githubusercontent.com/44422604/144886515-a7c3a8f3-c53e-4e7b-847f-98d741e8112c.png)

[2021-12-06 17:01] Aaron-Junker commented on #14864
When you add this folder to the sarch indexer it should also show up in PowerToys run

[2021-12-06 17:02] Sgt-Nukem opened #14865 "[VCM] TeamViewer complains no camera driver is installed"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Video Conference Mute

### Steps to reproduce

Select "PowerToys VideoConference Mute" as video source in [TeamViewer](https://www.teamviewer.com/en/download/windows/)

### ✔️ Expected Behavior

TeamViewer capturing the video stream from the PowerToys virtual camera

### ❌ Actual Behavior

TeamViewer

[2021-12-06 17:31] jaimecbernardo commented on #12908
From the bug report in https://github.com/microsoft/PowerToys/issues/12335#issuecomment-882491331
I see:
[code]

Weirdly, the same thread is having what we'd call a racing condition, the low level keyboard hook is being called in the same thread where we seem to be in the middle of starting the PowerToys Run instance.
Something about `ShellExecuteExW` might be making the context switch to allow mo

[2021-12-06 17:40] CleanCodeDeveloper opened #14866 "[Image Resizer] Metadata Tag "ColorSpace" is lost on resize"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Image Resizer

### Steps to reproduce

Resize any image and compare properties
Left Side: original, Right Side: resized
![image](https://user-images.githubusercontent.com/16760760/144898466-2bb9d29f-6d22-4b7b-8f01-1caa94c304ea.png)

Issue raised by @ChrisJohnTaylor (see https://github.com/microsoft/P

[2021-12-06 17:44] CleanCodeDeveloper commented on #14866
Would be great if someone could assign this to me and add the work started tag

[2021-12-06 17:55] drms commented on #14863
Yes, and that would match the drop down choice setting showing no decimals

Or you could provide 2 choices; for those who want decimals and those that don’t.

In any case, the window that shows many results (see below) should also match the CIELAB settings choice of decimal notation, or whole numbers.

Lab color mode is extremely useful for color analysis and adjustment because objects have easily

[2021-12-06 17:59] drms commented on #14863
Maybe officially, as an alternate. But common usage is Lab or LAB  x,x,x

https://en.wikipedia.org/wiki/CIELAB_color_space

Doug

From: Jay ***@***.***>
Sent: Monday, December 6, 2021 10:52 AM
To: microsoft/PowerToys ***@***.***>
Cc: drms ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/PowerToys] [Color Picker] CIELAB format rounding to whole numbers (Issue #14863)

Other thing: shouldn

[2021-12-06 18:04] SeraphimaZ commented on #9355
Is it reproducible on the latest PowerToys version?

[2021-12-06 18:07] SeraphimaZ commented on #9527
Related to https://github.com/microsoft/PowerToys/issues/12466

[2021-12-06 18:10] SeraphimaZ commented on #10334
Related to https://github.com/microsoft/PowerToys/issues/14261

[2021-12-06 18:27] Jay-o-Way commented on #14866
Filenames: attention to details. Nice 🙂

[2021-12-06 18:34] eidylon commented on #14680
Bug report attached, as well as a zipped up, contrived directory structure with which I was able to reproduce the issue.

If I have ApplyTo=FilenameOnly, it doesn't work, as expected...
![image](https://user-images.githubusercontent.com/5951045/144901888-e09850f7-d41e-4301-b79d-ab16160bb733.png)

However if I have ApplyTo set to ExtensionOnly or FilenameAndExtension, then it works just fine...
![i

[2021-12-06 18:56] CleanCodeDeveloper commented on #14866
Thanks for tagging :)

[2021-12-06 19:05] msp commented on #6434
You might be lucky if your mouse driver has an option for you to flip direction e.g. Logitech Control Center has for my device.

[2021-12-06 20:09] dedavis6797 commented on #11889
Docs update merged

[2021-12-06 20:09] #11889 closed

[2021-12-06 20:09] linguaccia22 commented on #14855
can it be solved then?

[2021-12-06 20:16] CleanCodeDeveloper commented on #9885
fixed by PR #14867

[2021-12-06 20:17] ColonelBlip commented on #14734
Did you get my drawing as requested? I’m not used to using github and this now shows closed.

From: Clint Rutkas ***@***.***>
Sent: Friday, December 3, 2021 7:10 PM
To: microsoft/PowerToys ***@***.***>
Cc: ColonelBlip ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/PowerToys] Fancy Zone window switching (Issue #14734)

can you help better visualize this for me? Like 2 or 3 quick MS Paint

[2021-12-06 20:51] davidegiacometti commented on #14825
@niels9001 I am implementing customizable number color in settings. Will also add a settings for disable numbers.

Wondering if we should change color for numbers when using Windows accent. I think it could lead to accesibility issue.
This is a screenshot with 90% opacity.

![High Opacity](https://user-images.githubusercontent.com/25966642/144917088-fb9e2f41-23f0-46a6-b2e5-f6a81c5a4fde.png)

Tried

[2021-12-06 20:57] htcfreek commented on #14729
@crutkas , @jaimecbernardo
Do we like to show results on settings search that aren't any real setting like the `Monitor/Projector connection ux`?

I think it doesn't fit into the concept of the settings plugin and I asking me which application (property for subtitle) we should assign to this results? Or should we make things more complicated by having a custom subtitle on this results? (Imo a bad

[2021-12-06 21:01] SeamusHerson-MilwaukeeTool commented on #13776
I would also be in favor of power and energy conversions (EG HP to Watts, Joules to watt Hours, etc)

[2021-12-06 21:03] niels9001 commented on #14825
@davidegiacometti Agree 👍.. let's do disabling/enabling numbers only then.

[2021-12-06 21:31] ka-patel opened #14869 "Fancy Zones Screen size error"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones Editor

### Steps to reproduce

Having two 4K monitor in a reading book fashion (left-hand side and right-hand side with long way top to bottom)

### ✔️ Expected Behavior

They both should display 2160x3840.

### ❌ Actual Behavior

The zones editor displays screen size of 2160x3759 for lef

[2021-12-06 21:40] crutkas commented on #14864
you want type "foo" and it launches "c:\source\repos\powertoys" correct?

[2021-12-06 21:40] #14856 closed

[2021-12-06 21:41] #14860 closed

[2021-12-06 21:43] crutkas commented on #14845
honestly, i think doing heavy docs here isn't great use, i'd rather self-document source code as that is where someone would look and have a list of touch points