[2020-09-29 07:44] MecuSorin commented on #3407
[PowerToysSettingsFreezing.zip](https://github.com/microsoft/PowerToys/files/5297262/PowerToysSettingsFreezing.zip)

[2020-09-29 07:54] enricogior commented on #1048
This will be part of the changes coming for the Editor v2 https://github.com/microsoft/PowerToys/issues/1032

[2020-09-29 07:54] #1048 closed

[2020-09-29 08:24] andyfrei opened #6888 "Video Conference Tool Toggle on/off has no effect, Flyout is not floatable and Camera not working at all."
## ℹ Computer information

- PowerToys version: 0.22.0
- PowerToy Utility: Video Conference
- Running PowerToys as Admin: no
- Windows build number: [run "winver"] 1903

## 📝 Provide detailed reproduction steps (if any)

- Turning on or off Video Conference does not do any difference
- Flyout is not floatable, there comes into harms way a lot of times > needs the ability to move that Camera/Audio

[2020-09-29 08:31] learningmakesbetter commented on #6396
I have the same issue，too.AMD 3600X  GTX1660s Win10 2004 200919-1857

[2020-09-29 08:46] magiva opened #6889 "win N control does not apply windows os % size"
## ℹ Computer information

- PowerToys version:
- PowerToy Utility:
- Running PowerToys as Admin:
- Windows build number: [run "winver"]

## 📝 Provide detailed reproduction steps (if any)

press Win N for the control
control shows but is at 100% when windows os is running at 500% so is way too small to see or control

### ✔️ Expected result

control should be sized with windows display size percen

[2020-09-29 09:13] ukidabek opened #6890 "Multi monitor support"
It will be great if fancy zones support multi monitor setups.

[2020-09-29 09:39] Jay-o-Way commented on #6872
See also #6405 and #3569

[2020-09-29 09:39] shirkerohit commented on #6863
Thats so sad, without asking anything further, the issue was closed!

FYI, I also have wox and listray installed and both works like charm(without being native apps!)

Thanks for your time!

[2020-09-29 10:58] niels9001 commented on #6884
![image](https://user-images.githubusercontent.com/9866362/94550092-78f81f00-0253-11eb-8cbc-433f9bbbcfb9.png)

Good catch - It should indeed be a capital B.

[2020-09-29 11:46] yamlCase opened #6891 "Option to disable animations on all powertoys"
This is a feature request to add an option to the General tab to "disable animations on all powertoys".

Bonus: The disable option would be automatically selected if "Menu and window animations" is unchecked in Remote Desktop Connection settings (disable menu anims:i:1).

###
I'm noticing a lot of stuttering and lag on animations when using PowerToys through a very large RDP session, in my case 76

[2020-09-29 11:46] yamlCase commented on #6891
FYI: Here are my RDP performance settings for the curious:
![image](https://user-images.githubusercontent.com/27447701/94554346-90b5b000-021f-11eb-9024-05fa88a41a1d.png)

[2020-09-29 11:56] htcfreek commented on #3151
Yes it's still broken!

I have deleted the settings folder for FancyZones and started PT. Then the hotkey was set to `Win+Ö`.

[2020-09-29 12:10] yamlCase commented on #6891
Inviting for comment @jdolisy @jamehealy @nathanfohkens @ltcmdrkeene @enricogior @crutkas @wesselkroos from other animation related issues #2782 #600 #198 #550

[2020-09-29 12:15] htcfreek opened #6892 "Enable/Disable FancyZones crash Setting UI"
## ℹ Computer information

- PowerToys version: 0.21.1
- PowerToy Utility: Settings
- Running PowerToys as Admin: yes and no (tried both situations)
- Windows build number: 19041.508

## 📝 Provide detailed reproduction steps (if any)

_Not sure if this is the reason:_
1. Delete settings folder for FancyZones (%localappdata%\Microsoft\PowerToys\FancyZones).
2. Start PowerToys.

### ✔️ Expected resu

[2020-09-29 12:21] htcfreek opened #6893 "[Updater] Clicking search update without running in admin mode allows updating instead of showing the *visit Github* banner"
## ℹ Computer information

- PowerToys version: 0.18.0
- PowerToy Utility: Settings > Updater
- Running PowerToys as Admin: no
- Windows build number: W10 1903

## 📝 Provide detailed reproduction steps (if any)

1. Open PT in non-admin mode
2. Open Settings
3. Click on "Search for Updates"

### ✔️ Expected result

If an Update is available the visit Github page banner appears, because PT not runni

[2020-09-29 12:21] NekoGryphou commented on #6388
I really want the #5901 \*^\*

[2020-09-29 12:23] htcfreek commented on #6893
**Note:** As you can see in the bug description above I have seen this behavior in an older version of PT (0.18.0 or so).

Can some one check if the error still exist in v0.21.1?

[2020-09-29 12:24] enricogior commented on #6889
Hi @magiva
the problem is already tracked in https://github.com/microsoft/PowerToys/issues/6246
Closing this as duplicate.
Thanks.

[2020-09-29 12:25] enricogior commented on #6890
@ukidabek
it already does, please read the wiki for FZ https://github.com/microsoft/PowerToys/wiki/FancyZones-Overview
We are improving the UI to make it simpler to discover the functionality https://github.com/microsoft/PowerToys/pull/6562

[2020-09-29 12:28] enricogior commented on #6892
Duplicate of https://github.com/microsoft/PowerToys/issues/5955

[2020-09-29 12:28] #6892 closed

[2020-09-29 12:31] enricogior commented on #6891
@yamlCase
for FZ the issue is already tracked in https://github.com/microsoft/PowerToys/issues/1911
for SG, the new version will be completely redesigned from scratch https://github.com/microsoft/PowerToys/issues/890 and we are not going to fix the current one

[2020-09-29 12:31] #6891 closed

[2020-09-29 12:44] enricogior commented on #6884
Anyone willing to edit the SVG files?
https://github.com/microsoft/PowerToys/blob/master/src/runner/svgs/overlay.svg
https://github.com/microsoft/PowerToys/blob/master/src/runner/svgs/overlay_portrait.svg

[2020-09-29 12:47] enricogior commented on #6872
Closing as duplicate.

[2020-09-29 12:47] #6872 closed

[2020-09-29 12:53] enricogior commented on #6888
@andyfrei

No difference relative to what?

we are already tracking the request to make the toolbar movable in https://github.com/microsoft/PowerToys/issues/6374

We are aware of incompatibilities with some cameras, if you are using a USB camera what brand/model, if you are using a laptop, what laptop brand/model?

[2020-09-29 14:01] torontob commented on #6771
Thanks for the clarification.

May I know why you do not like to add this as a feature? i.e. improve (not change) the window detection logic?

[2020-09-29 14:09] lucaboox commented on #6859
This happens for me too except mine won't work at all even if I turn it off and on just won't work at all.

[2020-09-29 14:16] enricogior commented on #6771
@torontob

Changing the detection logic would be a overwhelming task that would put any other work on hold probably for a couple of months or even more, something that we can simply not take into consideration.
Basically we don't have the time and the resources to make such a large architectural change in the product, just to support a few apps that are not following the standards.

[2020-09-29 14:21] enricogior commented on #6888
@aaronruse

That is already tracked (and fixed) https://github.com/microsoft/PowerToys/issues/6374
The fix will be available in 0.24

[2020-09-29 14:34] enricogior opened #6895 "[FancyZones] Simplify WindowMoveHander"
Removing the pimpl implementation will make the code more maintainable.

[2020-09-29 14:34] niels9001 commented on #6884
@enricogior - happy to do it. I'll assign myself.

[2020-09-29 14:40] enricogior commented on #6877
@dfurlano
there some errors that I would like to see in details, but to save time in searching for the right error, first clean the log
![image](https://user-images.githubusercontent.com/3206696/94573118-0f3b3d80-0272-11eb-8a1b-65250071a746.png)
then try again to open the FZ editor and then check again the Event Viewer (if it was open, you have to refresh (`Action -> Refresh`).
Then click on the e

[2020-09-29 14:46] dfurlano commented on #6877
![image](https://user-images.githubusercontent.com/67606313/94574340-01b98f80-0241-11eb-9ad2-7e0e190e5512.png)

[2020-09-29 14:47] dfurlano commented on #6877
![image](https://user-images.githubusercontent.com/67606313/94574427-1bf36d80-0241-11eb-85dc-eb82c3eeebf3.png)

[2020-09-29 14:48] dfurlano commented on #6877
![image](https://user-images.githubusercontent.com/67606313/94574611-53fab080-0241-11eb-84bc-e35278b74714.png)

[2020-09-29 14:49] dfurlano commented on #6877
Log Name:      Application
Source:        Application Error
Date:          9/29/2020 10:43:19 AM
Event ID:      1000
Task Category: (100)
Level:         Error
Keywords:      Classic
User:          N/A
Computer:
Description:
Faulting application name: FancyZonesEditor.exe, version: 0.21.1.0, time stamp: 0x5f4fd1df
Faulting module name: ntdll.dll, version: 10.0.18362.1049, time stamp: 0xb5beef21
Exc

[2020-09-29 14:51] enricogior commented on #6877
@dfurlano
thank you.

[2020-09-29 15:00] rosearian opened #6896 "crashed when i started downloading a steam game"
## ℹ Computer information

- PowerToys version: 0.21.1.0
- PowerToy Utility:
- Running PowerToys as Admin: yes
- Windows build number: Microsoft Windows NT 10.0.19041.0

## 📝 Provide detailed reproduction steps (if any)

1. Run PowerToys in the background
2. Start Downloading a game on to another drive (not the one powertoys is installed on

### ✔️ Expected result

No crash

### ❌ Actual result

c

[2020-09-29 15:05] enricogior commented on #3407
@MecuSorin
thank you for posting the recordings.

I don't see the `PToyD2DPopup` class so it doesn't seem to be the same issue as https://github.com/microsoft/PowerToys/issues/5944

This is the full session:
[code]

The important part is:

[code]

[2020-09-29 15:08] andyfrei commented on #6888
Turning on/off does not do any difference, the toolbar still persists and prevents my camera from working at all.

Seems to work finde with the MIC

I’m using a Lenovo YOGA with integrated camera

From: Enrico Giordani <notifications@github.com>
Sent: Tuesday, September 29, 2020 2:54 PM
To: microsoft/PowerToys <PowerToys@noreply.github.com>
Cc: Andy Frei <andy.frei1981@gmail.com>; Mention <mention

[2020-09-29 15:12] enricogior commented on #6888
@andyfrei
I've added a reference in https://github.com/microsoft/PowerToys/issues/6246 to this issue regarding the Lenovo YOGA camera issue.
The other issues you reported are know. Closing since all issues are now tracked in https://github.com/microsoft/PowerToys/issues/6246
Thanks.

[2020-09-29 15:42] rosearian commented on #6896
I tried it again with another game and it didn't crash, so maby it is specific to "Wreckfest"

[2020-09-29 16:01] daslicht commented on #3569
i made a small electron app for this purpose :) but build in the os as in macOS would be much better

[2020-09-29 16:09] crutkas commented on #6896
There are two different exceptions but both access denied.

2020-09-29 16:44:33.8618|ERROR||------------- BEGIN Microsoft.Plugin.Program exception -------------
2020-09-29 16:44:33.8618|ERROR||
Exception full name: System.UnauthorizedAccessException
Error status: KNOWN
Class name: Win32
Calling method: LnkProgram
Program path: C:\ProgramData\Microsoft\Windows\Start Menu\Programs\HP\HP Officejet Pr

[2020-09-29 16:11] crutkas commented on #6896
@rosearian is PowerToys running as a different user or are you installing as a different user?

[2020-09-29 16:13] crutkas commented on #6890
#6435 is our tracking issue.

[2020-09-29 16:13] #6890 closed

[2020-09-29 16:19] crutkas commented on #6776
So there are different plugins that do different things.  The program searching is one plugin, the file searching is a different.

Our current under the hood searching is based on the indexer built into Windows.  It is just an API to query files.  How start menu / windows search does their implementation is independent of the API.

To get all your drives to be searched, easiest way is to just turn

[2020-09-29 16:25] crutkas commented on #6776
With all that said, I think the actually ask here is "let me enable/disable plugins"

which is tracked by: https://github.com/microsoft/PowerToys/issues/5273

[2020-09-29 16:25] #6776 closed

[2020-09-29 16:34] crutkas commented on #6850
Our OOBE will help get this tweaked out of the box for an end user.  You can change the default behavior in settings.
https://github.com/microsoft/PowerToys/issues/1285#issuecomment-679268558

We wanted possibly Win+Space but we also face an issue that a group of users use that key shortcut as well.  To make something powerful, we need an easily accessible shortcut.

Our readme does state the defa

[2020-09-29 16:34] #6850 closed

[2020-09-29 16:35] crutkas commented on #6884
Nit, it isn't spelled incorrectly, it has incorrect casing :)

[2020-09-29 16:37] crutkas commented on #6812
@enricogior won't we want to swap this to be the same low level hook as PT Run from #6060?

[2020-09-29 16:58] hamiltonia commented on #6884
My apologies for the buggy bug report - yes, the expected value is a capitalized B in Bar. Thanks!

[2020-09-29 17:10] maciekkukuczka commented on #6885
Yes! :)

But what about already open apps?

[2020-09-29 17:24] dcpud-kav commented on #6790
After a closer look - I managed to find it again.  So I'll retract my statement that it's impossible.

I maintain that it would be nice to expose this setting in a bit more straightforward way.

Thanks for the push to look a little harder.

[2020-09-29 17:27] enricogior commented on #6812
@crutkas
we are considering that, let's first make sure it works as expected.

[2020-09-29 17:47] faycoit opened #6897 "Sudden crash/error without user interaction"
## ℹ Computer information

- PowerToys version: 0.21.1.0
- PowerToy Utility:
- Running PowerToys as Admin: yes
- Windows build number: [run "winver"] Microsoft Windows NT 10.0.19041.0

## 📝 Provide detailed reproduction steps (if any)

Actually wasn't even doing anything on my computer, just had powertoys running in the background (notification tray) and looking at a tablet screen to look up and h

[2020-09-29 20:11] crutkas commented on #6825
@pcmanning did you mean to close this?

[2020-09-29 20:44] crutkas commented on #3407
@MecuSorin what is your graphic card?

[2020-09-29 21:17] dedavis6797 commented on #6838
@saahmedm I put this in the 2010 milestone since this is pretty fundamental for accessibility.

[2020-09-29 21:19] dedavis6797 commented on #6838
This should probably work exactly as Start menu does.

[2020-09-29 21:41] maciekkukuczka opened #6901 "[Fancy zones] Zone editor treats all monitors as one work surface."
- PowerToys version: 021.1
- PowerToy Utility:
- Running PowerToys as Admin: true
- Windows build number:2004 20201.1000

## 📝 Provide detailed reproduction steps (if any)

1. PT-->Lunch zones editor

### ✔️ Expected result

Zones editor per single monitor.

### ❌ Actual result

Zone editor treats all monitors as one work surface.

![image](https://user-images.githubusercontent.com/32330973/946193

[2020-09-29 21:46] lucaberti opened #6902 "FancyZones not working when allowed to span across monitors"
## ℹ Computer information

- PowerToys version: v0.22.0
- PowerToy Utility: FancyZones
- Running PowerToys as Admin: Yes
- Windows build number: 20H2 (build SO 19042.541)

## 📝 Provide detailed reproduction steps (if any)

1. Install FancyZones on a multimonitor setup
2. Launch zones editor
3. Select a zone layout
4. Close the zone editor
5. Re open it

### ✔️ Expected result

To see that the new

[2020-09-29 21:57] enricogior commented on #6902
@lucaberti
do the following:
 - quit PowerToys
 - in command prompt run `del %localappdata%\Microsoft\PowerToys\FancyZones`
 - restart PowerToys
 - **don't turn on** "Allow zones to span across monitors"

Closing as duplicate of https://github.com/microsoft/PowerToys/issues/6302

[2020-09-29 21:57] #6902 closed

[2020-09-29 23:30] crutkas commented on #6886
On a fresh login, applications take time to start up, PowerToys Run is no different.  We may be able to improve startup time but it will never be instant.

[2020-09-29 23:33] crutkas commented on #6886
In the logs folder `%localappdata%\Microsoft\PowerToys\PowerToys Run\Logs`, on a fresh boot of PowerToys, you should see a line like this `Message: Startup cost <4463ms>` that will tell you how long we take from cold start to active.  Can you share that

[2020-09-29 23:34] htcfreek commented on #6897
/duplicate

[2020-09-29 23:35] crutkas commented on #6897
tracked in https://github.com/microsoft/PowerToys/issues/6425 and we have a fix.  Will be in 0.23 which will be out shortly.

[2020-09-29 23:35] #6897 closed

[2020-09-29 23:57] crutkas commented on #6885
this is actually not as easy as it sounds.  Applications have a lot of say where they go on the screen.

Also what is deemed the "active" screen?  Your mouse?  The app that has focus?

[2020-09-29 23:59] crutkas commented on #6885
is the ask here "launch apps on current active screen" for PT Run? or move in focus app to current screen

[2020-09-30 00:01] crutkas commented on #6751
i like the idea for OOBE to have everything.  @dedavis6797 fyi.

[2020-09-30 00:03] crutkas commented on #6789
Looks like the installer will need to be tweaked, has anyone tried to compile PT and just run it that way via VS on server?

[2020-09-30 00:15] MecuSorin commented on #3407
NVIDIA GeForce RTX 2080 Ti

[DxDiag.txt](https://github.com/microsoft/PowerToys/files/5302475/DxDiag.txt)

[2020-09-30 00:24] krroach commented on #2447
This problem also occurs with every JPG file generated by the ON1 Photo Raw program, including both the 2020 and 2019 versions of that program. I assume you could download a trial version of the program and generate a JPG file to confirm (https://www.on1.com/products/photo-raw/download/). If it matters (probably not, but...?), I generate JPG files from Sony RAW (ARW) files.

[2020-09-30 00:36] maciekkukuczka commented on #6885
I noticed that it is launched on the screen that we are currently clicking on with the mouse, and it is ok.
Applications launched by pt run should also start on the same screen.

This is a difficult problem because the behaviors desired in station 1 may not be desired in station 2.
They should be separately configurable.
Maybe create a work context and switch it manually?
"Now I will be working on

[2020-09-30 01:34] RPM-D3V opened #6904 "Select Modules During Installation"
Is it possible to create an installer that allows modules the be selected during installation? This will allow for a custom deployment to multiple machines.

[2020-09-30 02:41] soulfy opened #6905 "search for running process"
## 📝Optimize the search for running process

Hope to optimize the search for running process, filtering search results through a prefix， like the shell plugin .

---

[2020-09-30 03:07] #6905 closed

[2020-09-30 03:09] soulfy commented on #6905
I found the relevant update. #6129

[2020-09-30 06:06] jmahlers commented on #1226
@crutkas
Is anyone working on this? I would be interested in at least looking into doing this.

Could something like [GlobalMouseKeyHook](https://github.com/gmamaladze/globalmousekeyhook) be used or would it be better to use [Cursor.Position](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.cursor.position?view=netcore-3.1) and other built in functions directly?

How would the curs

[2020-09-30 06:31] pcmanning commented on #6825
Sorry - no - new to GitHUb...

[2020-09-30 06:46] enricogior commented on #6825
@pcmanning @crutkas
there nothing we can do about this, is the same as https://github.com/microsoft/PowerToys/issues/6771
Some application are not DPI aware or they have custom "stuff" that simply prevents FancyZones to zone them properly.
In this case, given the layout use, I suggest to use the native Windows 10 Snap feature instead of FancyZones.

[2020-09-30 06:50] pcmanning commented on #6825
Having problems with iTunes I get (rubbish App) but also see it with Outlook 365??

[2020-09-30 06:53] chris2fr commented on #1836
Even editing would be a great help.
Copy is a real handicap.

[2020-09-30 07:01] enricogior commented on #6789
@Jacob-o
can you please post the output of `winver`?

[2020-09-30 07:43] #6895 closed

[2020-09-30 07:50] enricogior commented on #6825
@pcmanning
I cannot reproduce the problem with Outlook 365

[2020-09-30 08:58] Polleke1952 opened #6906 "Fancy Zones does no work anymore (probably after switching it OFF after installing second monitor)"
## ℹ Computer information

- PowerToys version:  0.21.1.
- PowerToy Utility: Fancy Zones
- Running PowerToys as Admin: Yes
- Windows build number: [run "winver"] Version 2004 build 19041.508

## 📝 Provide detailed reproduction steps (if any)

1. Fancy Zones not active
2. Launch zone editor, create 2 columns (or any other selection), Choose Apply
3. Hold down Shift key and try to move window to a F

[2020-09-30 09:13] crutkas commented on #1226
No one said they were working on it

Yes it should be coded as a separate exe and then brought into PT. I would also remember about just general monitor placement. Vertical and horizontal and the fact they don't have to be center oriented.

The scale factor I would imagine is based off the monitor and dpi of it as well.

[2020-09-30 09:27] niels9001 commented on #1032
### Discussion: layout selection and management

Managing grid/canvas layouts is a bit cumbersome at the moment. The following usability issues are tracked (in various issues already):
- No standardized way to create a new grid/canvas zone. To create a new grid layout, users need to

| Issue | Description|
|---------|----------|
| 1. Tabs: templates vs. tabs | Duplicating 'templates' will create a

[2020-09-30 09:42] asears commented on #6374
Idea - Hand/gesture tracking (cut) as an optional trigger to toggle the video and audio or other gestures (hand-raise) within Teams.

[2020-09-30 11:48] enricogior commented on #6865
@AndyK70

We don't know what is causing this problem yet, the tracking issue for it is https://github.com/microsoft/PowerToys/issues/5673

I can't reproduce the problem you described for Firefox. Can you provide more information?
 - DPI scaling of the monitor
 - screenshot of the zone layout
 - screenshot of the Firefox window after it has been zoned

[2020-09-30 11:58] enricogior commented on #6862
@andyfrei

No, it doesn't provide enough information on the exact repro steps with exact actions at each step.

1. Connect Laptop to one screen <- What does it mean? Are you connecting an external monitor to the laptop?
2. Adjust Fancy Zones on both monitors <- "Adjust" is just a generic description, it doesn't provide enough information on what you are doing in this step
3. Shutdown Laptop <- OK

[2020-09-30 12:21] enricogior commented on #6906
@Polleke1952
try the following steps:
 - quit PowerToys
 - in command prompt run `del %localappdata%\Microsoft\PowerToys\FancyZones`
 - restart PowerToys

Make sure to not turn on "Allow zones to span across monitors" since it's know to cause this problem (the fix will be available in 0.23)

[2020-09-30 12:32] enricogior commented on #1226
@jmahlers @crutkas
I suggest to implement this in C++ not C#.
It's not completely trivial and it requires to use APIs that are not directly available in C#, so it would need anyway several calls to interop methods, making kind of pointless to write it in C#.
In its first implementation we might accept a basic scenario only, with monitors side by side or one above the other, but in general it shoul

[2020-09-30 12:49] enricogior commented on #6321
@RoL0NL
if it's ok for you to install an unsigned build, we have a possible fix in the work.
I've attached the private build that may be able to detect the monitors correctly.
Before install it, quit PowerToys and delete the current FZ settings opening a command prompt and running:
[code]

[PowerToysSetup-0.21.2-x64.zip](https://github.com/microsoft/PowerToys/files/5305533/PowerToysSetup-0.21.2-x6

[2020-09-30 14:15] RoL0NL commented on #6321
@enricogior
This does indeed work! Nice work!

Here is the new `zones-settings.json` by the way (after applying different types to all monitors). Thank you for the fix!

[code]

[2020-09-30 14:15] saahmedm commented on #3206
Closing this issue since I can now do this on the latest. (wt and winver)

[2020-09-30 14:15] #3206 closed

[2020-09-30 14:18] enricogior commented on #6321
@RoL0NL
great, we will add the fix to 0.25.
I'll keep the issue open until we release the fix.
Thanks.

[2020-09-30 14:20] enricogior commented on #6321
@RoL0NL
one more thing, we are in the process to release 0.23 that doesn't contain this fix.
But the private build is from the 0.23 code base + the fix even if it's version number 0.21.2.
So you can skip to update to 0.23 and wait until 0.25 (end of October)

[2020-09-30 14:22] RoL0NL commented on #6321
Great! Thank you for the extra info about the version numbers. Sorry for closing by the way ;)

[2020-09-30 14:34] enricogior commented on #1777
@shampoolegs
we have a private (unsigned) build with a fix that solve this problem in some cases.
If you can install an unsigned build, feel free to give it a try.
Before installing it, it's better to reset the FZ settings:
 - quit PowerToys
 - in command prompt run `del %localappdata%\Microsoft\PowerToys\FancyZones`
 - install the private build

[PowerToysSetup-0.21.2-x64.zip](https://github.com/

[2020-09-30 14:36] enricogior commented on #611
We have a private (unsigned) build with a fix that solve this problem in some cases.
If you can install an unsigned build, feel free to give it a try.
Before installing it, it's better to reset the FZ settings:
 - quit PowerToys
 - in command prompt run `del %localappdata%\Microsoft\PowerToys\FancyZones`
 - install the private build

[PowerToysSetup-0.21.2-x64.zip](https://github.com/microsoft/Pow

[2020-09-30 14:38] enricogior commented on #3970
@pvinoski
please see https://github.com/microsoft/PowerToys/issues/611#issuecomment-701432868

[2020-09-30 14:39] enricogior commented on #3924
@JamieBriers
please see https://github.com/microsoft/PowerToys/issues/611#issuecomment-701432868

[2020-09-30 14:42] #3560 closed

[2020-09-30 14:49] 29axe commented on #6886
I don't have such message in any of the log files. Should I enable some advanced logging option?

[2020-09-30 15:00] #6889 closed

[2020-09-30 15:20] crutkas commented on #6886
Do a full quit of powertoys and restart it. That will cycle all the utilities.

[2020-09-30 15:32] Mercerudy commented on #1777
@enricogior

I gave 0.21.2 a shot, and as you said, it did not fix the problem.

[2020-09-30 15:37] enricogior commented on #6877
Note: couldn't find this crash in Watson. 0.23 might be able to catch it with the global exception handler.

[2020-09-30 15:39] enricogior commented on #4235
Added to https://github.com/microsoft/PowerToys/issues/6611

[2020-09-30 15:41] enricogior commented on #4017
Added to https://github.com/microsoft/PowerToys/issues/6611

[2020-09-30 15:42] enricogior commented on #2382
Added to https://github.com/microsoft/PowerToys/issues/6611

[2020-09-30 16:19] brad-goss commented on #6813
FYI, LastPass was breaking my CTRL+D, and CTRL+F system wide. Quitting LastPass, fixed my issue.

[2020-09-30 16:21] Polleke1952 commented on #6906
@enricogior

Thanks for providing this solution.
After executing the 3 steps above, the Fancyzones functioned properly again with 1 monitor attached.
As soon as a second monitor is attached, I will further test functionallity.

[2020-09-30 16:31] enricogior commented on #6906
@Polleke1952
let's close the issue for now, but feel free to reopen it if the problem will reappear.
Thanks.

[2020-09-30 16:31] #6906 closed

[2020-09-30 16:31] Polleke1952 commented on #6906
@enricogior

I attached a second monitir with higher resolution.

I turned on "Allow zones to span across monitors" and now the zones are unvisible again.
Turning of span across monitors makes the zones reappear. in the first (original) monitor.

[2020-09-30 16:32] enricogior commented on #6906
@Polleke1952

That is the cause of the problem.
The fix is available in 0.23 that we'll be release today.

[2020-09-30 16:38] arjunbalgovind commented on #6851
We should validate if this happens in 0.23 as well since we removed the Wox Internationalization architecture.

[2020-09-30 16:42] crutkas commented on #6197
This seems important.  if we are regg'ing by loc'ed names, we could get something to not load correctly, right?

[2020-09-30 16:44] crutkas commented on #4294
@arjunbalgovind is this work we still should do?

[2020-09-30 16:46] crutkas commented on #5209
what needs to happen to wrap this PR up?

[2020-09-30 16:48] crutkas commented on #5658
ping'ed the WPF thread

[2020-09-30 16:51] enricogior commented on #6197
@crutkas
yes, that is a possibility.
And it may also break other places where we send notifications to module, kill processes if they are still running etc.

[2020-09-30 16:54] ion-elgreco commented on #3536
@enricogior wasn't it supposed to be fixed with 0.23? The issue still persists.

[2020-09-30 16:55] somil55 commented on #6533
@herop Can you please try the following MSI and upload logs to help debug this issue.
[PowerToysSetup-0.23.1-x64.zip](https://github.com/microsoft/PowerToys/files/5307076/PowerToysSetup-0.23.1-x64.zip)

[2020-09-30 16:57] rsabatino commented on #6851
I updated the new version thanks for the help.

[2020-09-30 16:59] enricogior commented on #4294
Quick consideration: common has been used to drop too many things and since it's also compiled as in interop-lib we are considering splitting it into smaller projects or in some cases just common code to be included in projects but not build in a lib.
For example there is code that is only used by ShortcutGuide that also gets compiled for the interop-lib, kind of pointless and an unwanted maintain

[2020-09-30 17:06] checkdigits commented on #143
Another vote from me for looking at ScreenToGif and somehow merging that functionality with PowerToys.  For me ScreenToGif is ridiculously easy to use with a few quirks (exporting the video could be better, for example).  I've used it for a whole bunch of purposes and it's rock-solid, has a great feature set with superb functionality.

[2020-09-30 17:10] crutkas commented on #4144
removing this as this is unknown how to get this data

[2020-09-30 17:11] enricogior commented on #3536
@ion-elgreco
it was fixed, but I suspect we broke the fix in a subsequent commit.

[2020-09-30 17:12] crutkas commented on #6461
why did we remove the invest milestone

[2020-09-30 17:13] crutkas commented on #6519
Module: microsoft.powertoys.settings.ui.runner.dll **v0.21.2.0** is an internal build

[2020-09-30 17:13] #6519 closed

[2020-09-30 17:19] herop commented on #6533
1) Uninstalled previous PT
2) The mentioned folder didn't exist
3) Installed your 0.23.1 MSI
4) Trying common and admin-mode
Apparently it looks not good with the provided MSI:
![image](https://user-images.githubusercontent.com/658323/94718092-80055700-0351-11eb-864c-d65b40932c63.png)

[2020-09-30 17:21] Jay-o-Way commented on #6751
@martinchrzan Resizer and Power Rename need files to work on, that's why the current method to start them is via the file context menu in File Explorer, so that they will have the files immediately when opened. If you can start up Resizer and Rename directly, without files, then you would have to manually select/add them later. That's not impossible to **create**, but it would be a new and differe

[2020-09-30 17:23] crutkas commented on #3079
@saahmedm how does this have both a pri3 and pri1?

[2020-09-30 17:24] crutkas commented on #6046
@arjunbalgovind is this now unblocked?

[2020-09-30 17:25] jassmith opened #6912 "Mixed DPI mode cursor fix"
## 📝 Provide a description of the new feature

When a windows user has multiple monitors at different DPIs and the same physical size moving the cursor between screens is unnatural in the extreme. The cursor appears to warp for no obvious reason, the top or bottom (depending on how the monitors are aligned virtual) is an impassable step.

By enabling the "HiDPI cursor warp" or whatever it gets cal

[2020-09-30 17:25] herop commented on #6533
But I now have a very different idea:
- Windows only very recently complained, Office applications would not be longer available
- But sure enough they are
- I can open and work with them with no issue at all
- BUT: If I do PowerToys Run on other apps, they are shown as expected (see at the buttom)
Office Apps:
![Office-Incompatible-Win10](https://user-images.githubusercontent.com/658323/94718628-

[2020-09-30 17:26] enricogior commented on #3536
Confirmed: this commit broke the fix https://github.com/microsoft/PowerToys/commit/3d36779e19d3f2470585c3789b3cd9d728f4e8ec#diff-ff7794bdc47c8ebd8c1cecabe2f532fc
Sorry about that.

[2020-09-30 17:30] martinchrzan commented on #6751
@Jay-o-Way not really, it would be still possible. If this flyout menu wasn't taking focus from your file explorer, or we had something like I proposed in #6836 - then you can trigger actions on actually selected file/files in your currently focused file explorer window (I do that in my project https://github.com/martinchrzan/FileExplorerGallery)

[2020-09-30 17:30] ion-elgreco commented on #3536
No problem, when can we expect to have the fix back as an update? It's very difficult to use powertoys at the moment when I cant snap a window back in its place :(.

[2020-09-30 17:38] somil55 commented on #6533
@herop Can you please upload logs from `%userprofile%/appdata/local/microsoft/powertoys/powertoys run/`. The MSI is not a fix and meant to collect extra logs to help us debug this issue.

Also, the screenshot you shared for the "other apps" shows outlook as a result of the indexer plugin and not the program plugin, implying an issue with finding apps.

[2020-09-30 17:40] Jay-o-Way commented on #6751
Okay, you are right, it's not impossible, but as you said, the Explorer window needs to keep focus to determine the selected files. But what if I have more than one Explorer window open? Also, this means you start in the Explorer window and then **move away from it** to perform an action on selected files. That does not feel sensible to me. It would be more direct to just open the context menu. Or

[2020-09-30 17:44] mykhailopylyp opened #6913 "Get rid of dropdown indexes in keyboard manager"
## 📝 Provide a description of the new feature

Right now we rely on indexes in the dropdown that is if the user selects an item we take its index and look in another array for key code. The better way to do it is to set keycodes as `Value` of `ComboboxItem` so we can get keycode right away.

[2020-09-30 17:46] AnuthaDev commented on #269
@crutkas Is there a way to compile only the selected powertoys in the msi installer. I have made a working prototype (drag only) and would like to test the installer, but I don't think my PC can handle compiling the whole project😅. Pls help.

[2020-09-30 17:47] enricogior commented on #3536
@ion-elgreco
if we release an hotfix for 0.23.0, this will be included. Otherwise if we don't release an hotfix, and if it's acceptable for you to installed an unsigned build, I can provide a private build with the fix.

[2020-09-30 17:48] crutkas commented on #6268
tracked in #1226

[2020-09-30 17:48] #6268 closed

[2020-09-30 17:48] crutkas commented on #6912
Tracked in #1226

[2020-09-30 17:48] #6912 closed

[2020-09-30 17:50] ion-elgreco commented on #3536
In case there isn't a hotfix, I am completely fine with an unsigned build :)

[2020-09-30 17:58] jlovern opened #6914 "FZ Space around zones setting should change faster"
## 📝 Provide a description of the new feature

_What is the expected behavior of the proposed feature?  What is the scenario this would be used?_

Currently, the 'Space around zones' feature changes template shapes irregularly often. If I enter '5' (for example) into the text box, it changes the spacing in the view:
 - When I click 'Distance to highlight adjacent zones'
 - If I tab to the next ite

[2020-09-30 17:59] arjunbalgovind commented on #4294
@crutkas As per @enricogior's comment, I think this could be tech debt, and we defer moving it till we plan to add similar keyboard hook tests for other modules.

[2020-09-30 18:05] crutkas commented on #6904
No plans to enable this.

Best route is honestly to copy the settings as a post install step from one machine to another.

[2020-09-30 18:05] #6904 closed

[2020-09-30 18:05] jlovern opened #6915 "FZ Changes all zone sizes during drag resizing"
## ℹ Computer information

- PowerToys version: 0.23.0
- PowerToy Utility: FancyZones
- Running PowerToys as Admin: No
- Windows build number: 1909 (18363.1082)

## 📝 Provide detailed reproduction steps (if any)

1. Open the FZ editor with Win+`
2. Set the number of zones to 7
3. Select the Priority Grid layout
4. Select "Edit selected layout"
5. Drag the slider between zone 3 and zone 5 up and do

[2020-09-30 18:11] Jay-o-Way commented on #6573
Not only groups would be nice, also the ability to manually (re)order the list.

[2020-09-30 18:17] enricogior commented on #6915
@jlovern
this is currently a side effect of how the grid template have been designed, when you move something, moving it back cannot guarantee to restore the previous state. Also zones are not independent entities, they are all subparts of full screen columns and rows and moving a splitter is not effecting just the zones between that splitter but the entire grid.

We currently don't have plans to

[2020-09-30 18:19] enricogior commented on #6914
@jlovern
we will fix this when working on the editor vs UI.
Closing as duplicate of https://github.com/microsoft/PowerToys/issues/452

[2020-09-30 18:19] #6914 closed

[2020-09-30 18:20] TobiasSekan commented on #6856
So, Today I have uninstall all workloads and additional components from my Visual Studio installation via the installer.
After that I use only the script from
https://github.com/microsoft/PowerToys/tree/master/doc/devdocs#prerequisites-for-compiling-powertoys

Result:
1. The script don't install the needed Windows 10 SDK, version 1903 (10.0.18362.x)
2. After install I have install the missing SDK,

[2020-09-30 18:22] enricogior commented on #5955
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:22] #5955 closed

[2020-09-30 18:22] enricogior commented on #6302
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:22] #6302 closed

[2020-09-30 18:22] enricogior commented on #6428
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:22] #6428 closed

[2020-09-30 18:23] enricogior commented on #6437
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:23] #6437 closed

[2020-09-30 18:23] enricogior commented on #6475
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:23] #6475 closed

[2020-09-30 18:23] enricogior commented on #6659
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:23] #6659 closed

[2020-09-30 18:23] #6807 closed

[2020-09-30 18:23] enricogior commented on #6814
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:24] enricogior commented on #1972
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:24] #1972 closed

[2020-09-30 18:26] enricogior commented on #2003
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:26] #2003 closed

[2020-09-30 18:26] enricogior commented on #4292
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:26] #4292 closed

[2020-09-30 18:26] enricogior commented on #5182
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:26] #5182 closed

[2020-09-30 18:27] enricogior commented on #5319
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:27] #5319 closed

[2020-09-30 18:27] enricogior commented on #6060
Fixed in 0.23.0 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0

[2020-09-30 18:27] #6060 closed

[2020-09-30 18:28] TobiasSekan commented on #6856
Okay the problem is

https://devblogs.microsoft.com/cppblog/c-coroutines-in-visual-studio-2019-version-16-8/

But I can not easily switch to `/std:c++17`, when I do that, I get:
`error C7555: use of designated initializers requires at least '/std:c++latest'`

I have absolute no knowledge about C++

[2020-09-30 18:29] Jay-o-Way commented on #2813
Personal opinion: I like the possibility to edit the presets "inline", that would remove the need for the extra Edit window.
Suggestion: possibility to drag items to manually re-order the list.
Also seen in an other issue: the possibility to define encoder per preset. However, that needs more room, which has negative impact regarding the available space.

[2020-09-30 18:31] crutkas commented on #490
Talking with a few folks, we may need to do x86 support to then support this as there are parts that will have to be x86 emulated without .NET ARM64 for desktop apps not done yet.  By doing x86, we can validate that all x86 is stable before we do the mix mode ARM.

[2020-09-30 18:34] ryanbodrug-microsoft commented on #6461
@crutkas.  All the existing watson bugs had been triaged previously, but since its been almost a month, I still wanted to double check we didn't get an explosion of hits.  These issues were polluting the InVEST-2010 milestone so I moved all the untriaged ones out and added a Watson-Triage label.

[2020-09-30 18:35] ryanbodrug-microsoft commented on #6461
With that said this issue has only been hit once in the past 30 days.   And the callstack doesn't make much sense.  I'm going to go ahead and close this as there is nothing to action on at this moment.

[2020-09-30 18:35] #6461 closed

[2020-09-30 18:46] crutkas commented on #3407
@mecusorin, can you try and see if https://github.com/microsoft/Xaml-Islands-Samples WPF sample works for you?  I'm trying to eliminate XAML Islands from the equation

[2020-09-30 18:48] htcfreek commented on #6893
Issue is still present in v0.21.1.
(Tested with update from 0.21.0 to 0.23.0.)

[2020-09-30 18:49] AndyK70 commented on #6865
Well... I was just doing some screenshots for this issue when a notification e-mail arrived for release v0.23.0
I updated to 0.23.0, still had the same behavior but again cleared the option "Move newly created....", closed PowerToys (tray icon), restarted PowerToys, activated the option again and...

...every window does reopen at it's prior location in the zone again.  🥳
Whether it be Windows Exp

[2020-09-30 18:51] #6026 closed

[2020-09-30 18:51] htcfreek commented on #6026
PT v0.23.0 is released.

[2020-09-30 18:51] #5363 closed

[2020-09-30 18:52] htcfreek commented on #5363
PT v0.23.0 is released.

[2020-09-30 18:52] crutkas commented on #1889
can you explain a bit more on the scenario here?  For instance right now i have 19 windows open.  Why would someone want this behavior.  What is the use case

[2020-09-30 18:56] crutkas commented on #5243
@saahmedm don't we have a tracking issue here?

[2020-09-30 18:59] torontob commented on #6771
Thanks for the clarification. I understand the challenges you explained.

Based on what you looked at, would you say all program coded in Java may be not supported by PowerToys (specifically for window drag detection)?

[2020-09-30 19:00] crutkas commented on #5243
Tracked in #4467

[2020-09-30 19:00] #5243 closed

[2020-09-30 19:12] Nero-XY commented on #5478
Seams to be mostly fixed at v0.23.0 :)

[2020-09-30 19:12] #5478 closed

[2020-09-30 19:13] htcfreek opened #6916 "[PT Run] Starting an application with parameters as admin not working"
## ℹ Computer information

- PowerToys version: 0.23.0
- PowerToy Utility: PT Run
- Running PowerToys as Admin: no
- Windows build number: W10 2004 (10.0.19041.508)

## 📝 Provide detailed reproduction steps (if any)

1. Open PT Run.
2. Type `cmd /k echo test`.
3. Click "Runs as admin" button.

### ✔️ Expected result

The cmd is starting as admin (uac is shown) and shows the text 'test'.

### ❌ Act

[2020-09-30 19:15] htcfreek commented on #6916
@crutkas The new PT Run feature "starting apps with command line arguments" is missing in the release notes.

[2020-09-30 19:24] htcfreek opened #6917 "[PT Run] Searching app by exe name not working"
## ℹ Computer information

- PowerToys version: 0.23.0
- PowerToy Utility: PT Run
- Running PowerToys as Admin: no
- Windows build number: W10 2004 (10.0.19041.508)

## ⚠️ Note (added 2020-10-01 01:27 UTC+2)

I demonstrate the issue by using `explorer.exe`. But it also occurs on other executable names that the app won't show as result when I search for the executable name!

## 📝 Provide detailed r

[2020-09-30 19:44] ITsCary commented on #4759
I installed/tested the 0.23 release and this issue appears to be resolved. Thanks!

[2020-09-30 19:44] #4759 closed

[2020-09-30 19:46] crutkas commented on #6081
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:46] #6081 closed

[2020-09-30 19:46] crutkas commented on #6056
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:46] #6056 closed

[2020-09-30 19:46] crutkas commented on #6154
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:46] #6154 closed

[2020-09-30 19:46] crutkas commented on #6253
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:46] #6253 closed

[2020-09-30 19:46] crutkas commented on #6391
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:46] #6391 closed

[2020-09-30 19:47] crutkas commented on #6413
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:47] #6413 closed

[2020-09-30 19:47] crutkas commented on #6425
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:47] #6425 closed

[2020-09-30 19:47] crutkas commented on #6429
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:47] #6429 closed

[2020-09-30 19:47] #6457 closed

[2020-09-30 19:47] #6480 closed

[2020-09-30 19:47] #6483 closed

[2020-09-30 19:47] #6499 closed

[2020-09-30 19:47] #6506 closed

[2020-09-30 19:47] #6515 closed

[2020-09-30 19:48] crutkas commented on #6544
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:48] #6544 closed

[2020-09-30 19:48] crutkas commented on #6555
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:48] #6555 closed

[2020-09-30 19:48] crutkas commented on #6638
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:48] #6638 closed

[2020-09-30 19:48] crutkas commented on #6644
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:48] #6644 closed

[2020-09-30 19:48] crutkas commented on #6669
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:48] crutkas commented on #6671
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:48] #6671 closed

[2020-09-30 19:48] crutkas commented on #6673
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:48] #6673 closed

[2020-09-30 19:48] crutkas commented on #6695
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:48] #6695 closed

[2020-09-30 19:48] crutkas commented on #6709
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:48] #6709 closed

[2020-09-30 19:49] crutkas commented on #6716
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:49] #6716 closed

[2020-09-30 19:49] crutkas commented on #6022
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:49] #6022 closed

[2020-09-30 19:49] crutkas commented on #5948
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:49] #5948 closed

[2020-09-30 19:49] crutkas commented on #5897
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:49] #5897 closed

[2020-09-30 19:49] crutkas commented on #5815
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:49] #5815 closed

[2020-09-30 19:49] crutkas commented on #5792
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:49] #5792 closed

[2020-09-30 19:49] crutkas commented on #5724
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:49] #5724 closed

[2020-09-30 19:49] crutkas commented on #5644
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:49] #5644 closed

[2020-09-30 19:50] crutkas commented on #5624
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:50] #5624 closed

[2020-09-30 19:50] crutkas commented on #5623
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:50] #5623 closed

[2020-09-30 19:50] crutkas commented on #5621
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:50] #5621 closed

[2020-09-30 19:50] crutkas commented on #5471
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:50] #5471 closed

[2020-09-30 19:50] crutkas commented on #6773
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:50] #6773 closed

[2020-09-30 19:50] crutkas commented on #2576
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:50] #2576 closed

[2020-09-30 19:50] crutkas commented on #3657
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:50] #3657 closed

[2020-09-30 19:50] crutkas commented on #3886
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:50] #3886 closed

[2020-09-30 19:50] crutkas commented on #4430
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:50] #4430 closed

[2020-09-30 19:50] crutkas commented on #4442
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:50] #4442 closed

[2020-09-30 19:50] crutkas commented on #4633
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:50] #4633 closed

[2020-09-30 19:51] crutkas commented on #5225
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:51] crutkas commented on #5405
Fixed in 0.23 of PowerToys.  https://github.com/microsoft/PowerToys/releases/

[2020-09-30 19:51] #5405 closed

[2020-09-30 20:09] enricogior commented on #6865
@AndyK70
let's close the issue for now, if the problem reappears, please reopen it.
Thanks.

[2020-09-30 20:09] #6865 closed

[2020-09-30 20:14] herop commented on #6533
[2020-09-30.txt](https://github.com/microsoft/PowerToys/files/5308030/2020-09-30.txt)
Sure.

[2020-09-30 20:16] crutkas commented on #3731
@headcrabed, did you file an issue against mactype?

[2020-09-30 20:26] crutkas opened #6918 "Adjust how fonts render in Windows"
Windows is great at supporting a vast amount of hardware but for some users, they want their fonts to render differently.  This comes into play more and more with higher resolution screens.

**Possible knobs:**

- Default text rendering
- Force symmetric smoothing on
- Force symmetric smoothing on and hinting off

Smashing magazine has a [good overview of different rendering](https://www.smashingm

[2020-09-30 20:31] NSExceptional commented on #1972
@enricogior how do you activate it?

[2020-09-30 20:42] BeecherNetworks commented on #243
Is this a WONTFIX or will it come eventually I wonder?

[2020-09-30 20:48] tajetaje commented on #243
@BeecherNetworks The issue has been fixed for 1903+. If you are asking if it will be backported: so far the latest is that it will, but only after WinUI 3 is in the proper condition.

[2020-09-30 20:48] mdtauk commented on #6918
DirectWrite Core is getting open sourced, so maybe that would be where these changes can come first?

https://github.com/microsoft/ProjectReunion/issues/112

[2020-09-30 21:01] crutkas commented on #6916
@royvou fyi

[2020-09-30 21:06] royvou commented on #6916
I'll investigate, assign it to me :)

[2020-09-30 21:09] marypcbuk commented on #490
@crutkas does the upcoming X64 emulation on WoA make things any easier?

[2020-09-30 21:10] BeecherNetworks commented on #243
Sorry, I should have specified again, I'm on LTSC which is 1809. I don't know anything about WinUI 3, is there any kind of timeline for that?

[2020-09-30 21:21] enricogior commented on #1972
@NSExceptional
I need to update the wiki, sorry about that.

win + ctrl + alt + arrows

I know is not a great combination but it was the only available at least until we will offer to choose a custom one.

[2020-09-30 21:23] enricogior commented on #1972
@NSExceptional
I forgot to mention that you also need to turn on:

![image](https://user-images.githubusercontent.com/3206696/94741046-d8e5e700-0373-11eb-8a12-433ac9b4aa6d.png)

This requirement may be removed in the future.

[2020-09-30 21:26] tajetaje commented on #243
@BeecherNetworks Yes, take a look at that link. It is the roadmap and current timeline for WinUI 3.

[2020-09-30 21:26] NSExceptional commented on #1972
Ohhh that's nice! While activating the zone picker, you can just hit win+ctrl+alt and drag it from the zone you were hovering over to other zones and make it stretch to fill any rectangle you want.

GAs someone using the "hold a non primary mouse button while dragging the window" person, I would love to be able to just hold shift or some other key combo on top of that to begin selecting multiple z

[2020-09-30 21:32] enricogior commented on #1972
@NSExceptional
when dragging the window with the mouse you only need to press and hold the `cntrl` key to activate the multi zone selection.
Win + Alt + Cntrl are needed (along with the arrows), to expand the window to adjacent zones using just the keyboard.

[2020-09-30 21:33] NSExceptional commented on #1972
Oh neat, awesome

[2020-09-30 21:40] BeecherNetworks commented on #243
Yes, I was just hoping for something a little better than "2021". Ah well, I'm flying blind this long, I guess another 2-14 months won't kill me. :)

[2020-09-30 21:40] P-Storm opened #6920 "Usage of IO Abstraction"
## 📝 Make use of an IO abstraction

With my PR #6600 I had need for an IO Interface, because for the unit testing. This package https://github.com/System-IO-Abstractions/System.IO.Abstractions is suitable to use.

---

If you'd like to see this feature implemented, add a 👍 reaction to this post.

[2020-09-30 21:41] P-Storm commented on #6920
Suggested labels:

* Product-Launcher
* Area-Tests
* Run-Plugin

[2020-09-30 21:43] XDelta opened #6921 "[Color Picker] Module crash if holding key command down and clicking."
## ℹ Computer information

- PowerToys version: 0.23.0
- PowerToy Utility: Color Picker
- Running PowerToys as Admin: Yes
- Windows build number: 1909 OS Build 18363.1082

## 📝 Provide detailed reproduction steps (if any)

1. Opening Color picker by holding the key bind Win+Shift+C
2. Left clicking a few(2-4) times
3. *Color picker freezes in place*

### ✔️ Expected result

Holding the key combo d

[2020-09-30 21:48] P-Storm opened #6922 "Better file enumeration in Folder Extension"
## 📝 Make use of Enumeration Options.

For a bit of cleanup (and probably also a speedup) I saw an optimation (PR #6600). .net standard has added a new overload for `directoryInfo.EnumerateFileSystemInfos("", new EnumerationOptions());`. In these EnumerationOptions we can specify if we want to skip UnauthorizedAccessException and add FileAttributes.Hidden in the query. This line https://github.com

[2020-09-30 21:49] P-Storm commented on #6922
I want to implement this if that is okay.

[2020-09-30 21:49] P-Storm commented on #6920
I want to implement this if that is okay.

[2020-09-30 21:53] clarkezone commented on #490
Shame this thing has a .NET dependency and is not just c++

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: marypcbuk <notifications@github.com>
Sent: Wednesday, September 30, 2020 2:09:36 PM
To: microsoft/PowerToys <PowerToys@noreply.github.com>
Cc: James Clarke <james@clarkezone.net>; Manual <manual@noreply.github.com>
Subject: Re: [microsoft/PowerToys] Support

[2020-09-30 22:07] XDelta commented on #6921
I understand that for many, holding key bind isn't likely how they'll use it. I think of the 'Eyedropper' / Quick color picker used in Photoshop where holding the bind allows you to see the color you hover over and it is visible until you release.

[2020-09-30 22:22] crutkas commented on #490
@clarkezone you signing up to help port everything?

[2020-09-30 22:24] JeroenRombouts commented on #1972
That looks great. Thanks for implementing this!

[2020-09-30 22:24] crutkas commented on #490
@marypcbuk In some ways  yes but others no.

[2020-09-30 22:34] crutkas commented on #490
I'm taking over the top for work items.

[2020-09-30 22:35] P-Storm commented on #6917
It looks like it only looks at the name.
https://github.com/microsoft/PowerToys/blob/b071220b6c303311d3416eb26f2158c8be7b91a6/src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs#L171-L180

  | Name | Value | Type
-- | -- | -- | --
◢ | win32ProgramResults.Where(r => r.Name.Contains("explorer")).First() | {explorer.exe} | Microsoft.Plugin.Program.Programs.Win32Program
  |

[2020-09-30 22:42] crutkas commented on #143
@checkdigits, we want to propose what we're going to build, not the underlying tech.  that comes after everyone gives what we are proposing a green light 👍

[2020-09-30 22:51] Epiktetus commented on #2686
I'll agree to this as well. The fallback encoder to JPEG is there, so it shouldn't be too hard to make a checkbox to force the fallback encoder instead.

[2020-09-30 23:15] htcfreek commented on #6917
@P-Storm
Yes. And I think we should check also if we have an exact match for the ExecutableName value.

@royvou
I think if this issue is fixed, it will be possible to run an exe with parameter like `cmd.exe /k echo test`. At the moment only `cmd /k echo test` is working.

[2020-09-30 23:19] htcfreek commented on #6916
Great.
I missed this scenario too.

[2020-09-30 23:23] rtorchia commented on #5291
I can verify that Sleep does not work on my system either, using a Microsoft wireless 6000 keyboard (v3).

[2020-09-30 23:23] novahreal commented on #3976
@alekhyareddy28 closed?

[2020-09-30 23:40] P-Storm commented on #6875
To know the right behaviour for these:

Modules that can use it:
* Color picker: Open color picker tool (same as default hotkey)
* Fancy Zones: Open zones editor (same as default hotkey)

Modules that aren't possible:
* File Explorer Preview: sitting in File Explorer
* Image Resizer: sitting in explorer
* PowerName: sitting in explorer
* PowerToys Run: It is self, so doesn't make sense.

Modules t

[2020-09-30 23:59] mdtauk commented on #143
I just wanted to add, that I think the ability to choose a region of the screens to "capture" would be useful. (If only for making gifs for GitHub repos to demonstrate things.)

You could also consider conversion and cropping of WIN+G videos to create an animated gif from it.  At the moment I have used this site for converting video mock ups to embeddable gifs.
https://ezgif.com/video-to-gif

Snip

[2020-10-01 00:14] shampoolegs commented on #1777
@enricogior
I uninstalled first, then cleared local app data, after install I don't have any issues and each monitor can have it's own custom layout.

There does seem to be a change in one of the current ID's in the setting file.
[zones-settings.zip](https://github.com/microsoft/PowerToys/files/5308817/zones-settings.zip)

[2020-10-01 00:22] shampoolegs commented on #1777
Sorry about that, hit the wrong button.

[2020-10-01 00:45] tsu1980 commented on #5225
Unfortunately, it didn't work in my case with v0.23.

@arjunbalgovind
Could you take a look at my case, please? I'm using ``Alt+` `` for IME switching. Corresponding virtual key code is VK_KANJI(0x19).

[2020-10-01 00:54] crutkas commented on #6533
Working with @mmc00, we figured out the root cause.  We were trying to get meta data off a stub file in onedrive.  We'll have a hotfix.

[2020-10-01 00:58] slate0 commented on #6396
Sorry for the extra response, but I'm seeing it too.  I would just upvote if that were a thing.

[2020-10-01 01:02] github-account1111 commented on #6865
Your Firefox issue might have something to do with the `resistFingerprinting` flag. Is that on?

[2020-10-01 01:05] anselmmak opened #6925 "Video Conference Toolbar Shown on Startup"
The video conference toolbar is displayed upon startup, even though the video conference module has been turned off. There's a checkbox for "Hide toolbar when both camera and microphone are unmuted," but this also does not seem to affect the behavior of the toolbar.

[2020-10-01 01:38] Mercerudy commented on #1777
@enricogior

So I also just tried what @shampoolegs said, clearing PowerToys' local app cache before fresh installs of both 0.21.2 and the newly released 0.23.0.  Now I have the same result for both versions in my zones-settings.zip:
![image](https://user-images.githubusercontent.com/19506175/94756283-142ce980-0365-11eb-85a5-68280e1cddf0.png)

It doesn't show the generic, non-unique identifier for

[2020-10-01 01:41] ryanbodrug-microsoft commented on #6920
@crutkas, @enricogior. I like P-Storms suggestions here.  I added a IIOProvider interface as the settings unit tests were writing to disk, and modifying peoples settings, however this solved it for settings and only wrapped specific methods.  This problem actually exists in a lot of places and this package would make it easier to create better tests for future work.  I think @P-Storm's approach is

[2020-10-01 02:00] RPM-D3V commented on #6904
Thanks @crutkas can you please point me to the settings file to copy?

[2020-10-01 03:02] alekhyareddy28 commented on #3976
@novahreal, the main issue of apps being added to the path environment variable locations (drives other than C:) has been solved and now apps added say to some location in the E: drive through the path env variable will show up.

We unfortunately still don't support network mapped drives. @crutkas do we want to call that out somewhere?

[2020-10-01 03:17] Blakeinstein commented on #143
Can we also integrate the Steps Recorder that windows already has? It generates HTML but It would be great if the screenshots could be small gifs, that the user can press hotkeys to record and then break into a new step.

[2020-10-01 03:39] enricogior commented on #6920
@P-Storm @ryanbodrug-microsoft
sounds good.

[2020-10-01 05:05] enricogior commented on #6925
@anselmmak
the problem is already tracked (and fixed) https://github.com/microsoft/PowerToys/issues/6246
The fix will be available in 0.24

[2020-10-01 05:05] #6925 closed

[2020-10-01 05:15] enricogior commented on #1032
My suggestion is to have all actions (rename, duplicate, delete) and configuration on the right panel. No individual drop down menu on each layout.

We should also consider making all layouts custom layouts.
That will bring these benefits:
 - allow users to create their own "default" templates
 - remove the existing templates if not of interest
 - unify the configurability of all templates

We wil

[2020-10-01 05:25] enricogior commented on #6877
@dfurlano
can you please try with 0.23 https://github.com/microsoft/PowerToys/releases/tag/v0.23.0
We added a new exception handler that might be able to catch the exception and log the error.
Thanks.

[2020-10-01 05:29] rgisler commented on #6877
I got also an error. Trying to edit the custom FancyZones. FZEditorCrashLog.txt contains:

## Exception

[code]

## Environment
* Command Line: "C:\Program Files\PowerToys\modules\FancyZones\FancyZonesEditor.exe" 0_0_3840_1560 "15216"
* Timestamp: 10/01/2020 07:26:54
* OS Version: Microsoft Windows NT 6.2.9200.0
* IntPtr Length: 8
* x64: True
* CLR Version: 4.0.30319.42000
## Assemblies - FancyZon

[2020-10-01 05:38] enricogior commented on #1777
@shampoolegs
the part of the display ID that previously was `00000000-0000-0000-0000-000000000000` and now is `097FA162-3289-46E9-81BB-11FF2A615378` identifies the virtual desktop. Before the fix it was incorrectly settings `00000000-0000-0000-0000-000000000000` for the primary desktop.

The two display IDs starting with `LOCALDISPLAY` are recognized as different monitors only because of the diffe

[2020-10-01 05:42] enricogior commented on #6877
@rgisler
in your case you can open the editor and the crash happened later?
In that case please open a new issue since it's a different problem.
Thanks.

[2020-10-01 05:49] crutkas commented on #6920
Let's do it

[2020-10-01 06:19] enricogior commented on #1972
Wiki updated with instructions: https://github.com/microsoft/PowerToys/wiki/FancyZones-Overview#snapping-a-window-to-two-or-more-zones

[2020-10-01 06:31] pcmanning commented on #6825
Updated to v0.23 - problem still present.  Q:  Is there a quick way to reset Fancy Zones - i.e. delete any settings/history that has accrued?

[2020-10-01 06:47] enricogior commented on #6825
@pcmanning
 - quit PowerToys
 - in command prompt run `del %localappdata%\Microsoft\PowerToys\FancyZones`
 - restart PowerToys

[2020-10-01 06:53] enricogior commented on #5012
@mykhailopylyp
it looks like you didn't have `Keep windows in their zones when the screen resolution changes` option on.

[2020-10-01 07:00] anselmmak commented on #6925
Okay, that's great to hear! Thanks very much.

On Wed, Sep 30, 2020 at 10:05 PM Enrico Giordani <notifications@github.com>
wrote:

[2020-10-01 07:02] pcmanning commented on #6825
Thx - deleted/restarted and no difference

[2020-10-01 07:07] enricogior commented on #5012
@WindowsTablet
what type of layout are you using: grid or canvas?
Grid are the `Columns`, `Rows`, `Grid` and `Priority` templates (and any customization starting from one of them)
Canvas layout are any `Focus` or custom layout created from scratch.

The option to `Keep windows in their zones when the screen resolution changes` is supposed to work smoothly only for grid templates, since they are de

[2020-10-01 07:31] Aaron-Junker commented on #6922
@P-Storm Of course you can implement this. Just change the files and make a Pull Request

[2020-10-01 07:40] P-Storm commented on #6920
Will make a PR for it than! 👍

[2020-10-01 07:44] Cyberdroid1 opened #6926 "Pressing Check for update does not update to new version"
## ℹ Computer information

- PowerToys version: 0.22.0
- Running PowerToys as Admin: Yes
- Windows build number: 19042.541

### ✔️ Expected result

It should start updating to v 0.23.

### ❌ Actual result

It reports saying Powertoys is up to date.

[2020-10-01 07:52] chrobs commented on #3169
Any updates here for the roadmap?

[2020-10-01 07:53] enricogior commented on #6926
@Cyberdroid1
0.23 doesn't include the VideoConferenceMute module therefore it would be wrong to update 0.22 to 0.23.
Next week we will release 0.24 that will contain the updated VideoConferenceMute module.

[2020-10-01 07:55] Cyberdroid1 commented on #6926
Oh, ok. Thanks for letting me know. Any way to add this as disclaimer in the wiki maybe? Don't need it though. You may close this issue now.

[2020-10-01 07:58] enricogior commented on #6825
@pcmanning
can you use the Windows 10 Steps Recorder to record the problem with Outlook? (if it's problematic by a privacy point of view, we will try something else)

[2020-10-01 08:11] rosearian commented on #6896
@crutkas no its running on the main user and i think it is installed on all users however only one user was logged in at that moment

[2020-10-01 08:13] pcmanning commented on #6825
Thought I'd already sent this - here's Outlook misbehaving...

[Steps - Outlook.zip](https://github.com/microsoft/PowerToys/files/5310434/Steps.-.Outlook.zip)

[2020-10-01 08:15] niels9001 opened #6927 "[Shortcut guide] Add rounded corners to keys"
New Windows 10 UX (and WinUI) components use rounded corners.

Here's the new touch keyboard. Would be nice to use the same rounded corner radius of 2px.

![image](https://user-images.githubusercontent.com/9866362/94784717-dc5a8c00-03ce-11eb-9154-8f993534b658.png)

Easy fix, can be done together with #6884
---

If you'd like to see this feature implemented, add a 👍 reaction to this post.

[2020-10-01 08:21] mikeyd85 opened #6928 "[Fancy Zones] Windows Snap is Overridden by "Restore the original size of windows when unsnapping""
## ℹ Computer information

- PowerToys version: 0.23.0
- PowerToy Utility: Fancy Zones
- Running PowerToys as Admin: Yes
- Windows build number: [run "winver"] 19041.508

## 📝 Provide detailed reproduction steps (if any)

1. Enable Fancy Zones
2. Enable "Restore the original size of windows when unsnapping"
3. Drag an application to a Fancy Zones zone
4. Drag that application to the side of the sc

[2020-10-01 08:21] AndyK70 commented on #6865
my settings:
![grafik](https://user-images.githubusercontent.com/666825/94785426-e761ec00-03cf-11eb-9285-0a838a2079ec.png)

[2020-10-01 08:34] mikeyd85 commented on #6928
![Fancy Zones Windows Snap Bug](https://user-images.githubusercontent.com/64745331/94786720-3bb59d80-03c9-11eb-8a61-a19cc4ee5865.gif)

[2020-10-01 08:34] andyfrei commented on #6862
Ok, I'll try to clearify :-)

1. Connecting my Laptop with primary screen to a second monitor
2. By adjust I meant "just" opening Fancy Zones Zones Editor and hit apply, not changing/editing any zones at all, just open the editor, select the same template as it was set (is already highlighted) and hit apply
3. shutdown
4. I have three different configurations: A) single monitor (Laptop on it's own

[2020-10-01 08:36] Kilmatar commented on #5378
Updated to 0.23.0
Issue still persist

[2020-10-01 08:40] htcfreek commented on #6926
This could be, because you are running an build from the preview-build string. The new preview-build is not released yet.

[2020-10-01 08:48] banglacow opened #6929 "fancyzones editor crashes when spaces around zone is big 600. can't use any more. what is solution"
## ℹ Computer information

- PowerToys version: 0.23.0
- PowerToy Utility: fancy zones
- Running PowerToys as Admin: yes
- Windows build number:  19041.508

## 📝 Provide detailed reproduction steps (if any)

1. … input value 600 spaces around zone in fancy zones editor
2. … apply
3. … launch fancy zones editor

### ✔️ Expected result

error crash. error log onto fzeditorcrashlog.txt

### ❌ Actual

[2020-10-01 08:48] Banchio opened #6930 "Enhancement to Keyboard Manager for non-US keyboards"
## 📝 I would like to use Keyboard Manager instead of other tools (like AutoHotKey) to enable usage of special characters (i.e. tilde and backtick) on my Italian keyboard.

In my current configuration I use AutoHotKey to remap AltGr key (that is read from Powertoys as Ctrl left + Alt right) and ^ key to produce a tilde (~). When trying to do such a combination in Keyboard Manager I cannot find the

[2020-10-01 08:49] Banchio commented on #6930
Somewhat related to #5859 I guess. This was a scenario enabled by such tool.

[2020-10-01 08:59] enricogior commented on #6825
@pcmanning
the recording shows the Outlook window being dragged from one screen to the other and in the last step the zones are still active, so Outlook is still dragged and not yet snapped into the zone.
What happens after Outlook is snapped to the zone? Does it go back to the other monitor?

[2020-10-01 09:01] enricogior commented on #6926
@crutkas
should we add a disclaimer to the Wiki, as @Cyberdroid1 suggested?

[2020-10-01 09:01] #6926 closed

[2020-10-01 09:06] P-Storm opened #6932 "[Run] Refactoring Win32Program into SubClasses per Apptype"
## 📝 Provide a description of the new feature

Discussion came from #6924 . There is a lot of switching of AppType. In the #6924 I saw that there were a lot of changes per type, and could better be served as subtypes.

cc: @htcfreek , @crutkas

Concrete changes:
* Make Win32Program abstract type, and introduce for every AppType an class.
* Abstract methods:
  * Win32Program Create(string path) | C

[2020-10-01 09:08] enricogior commented on #6929
@banglacow
try the following steps:
 - quit PowerToys
 - in command prompt run `del %localappdata%\Microsoft\PowerToys\FancyZones`
 - restart PowerToys

Is there a user case where you need 600 or was just a test?

[2020-10-01 09:12] P-Storm commented on #6929
@banglacow: What is your current resolution, and what pattern did you have selected? My suspect is that there is no check if there is room for the space around. (like 1920 pixels, space around of 600 with 3 areas will do, but not 1080 with space around 600 with 2+ areas). Nethertheless, crashes are bad and there should be a message that the value is too high.

Probably we want to test the followin

[2020-10-01 09:16] enricogior commented on #6928
@mikeyd85
thanks for reporting the issue.
We need to figure out if we can detect this scenario in a robust way.

[2020-10-01 09:18] enricogior commented on #6929
@P-Storm
https://github.com/microsoft/PowerToys/commit/240f67f15c1259dafa7f78c22858a20ac08d4725

[2020-10-01 09:22] pcmanning commented on #6825
Yes it does and it changes window size  - I've had another go to try to capture that fully...

[Steps - Outlook.zip](https://github.com/microsoft/PowerToys/files/5310789/Steps.-.Outlook.zip)

So ends up on left side of the "Primary" monitor....

![image](https://user-images.githubusercontent.com/50915680/94791668-e4ff9200-03cf-11eb-9bde-5aa6a5de9ca0.png)

[2020-10-01 09:25] enricogior commented on #6929
Th fix will be available in 0.25
Duplicate of https://github.com/microsoft/PowerToys/issues/6814

[2020-10-01 09:28] enricogior commented on #6825
@pcmanning
what is the screen resolution of each monitor?
Are they using the same DPI scaling %?

[2020-10-01 09:43] pcmanning commented on #6825
Surface Book 2 (with second Nvidia Card).  Outlook Version 2009 (Build 13231.20262 Click to Run)

Surface Display - 3000 x 2000 - Scale 200% (Recommended)

lg 27un83a  (a.k.a. 27ul850) - 3840 x 2160 - Scale 150% (Recommended)

Experiment - flipped Scale on LG to match Surface - both at 200% (Horrible!) and snapping works fine - also works with both 150% (Less horrible, but very small on Surface Sc

[2020-10-01 09:49] P-Storm commented on #3251
@saahmedm this is merged and thus done :).

[2020-10-01 09:52] Jay-o-Way commented on #6929
This is why input controls (in general, so not only these) need **limits**.

[2020-10-01 09:53] Jay-o-Way commented on #6814
This is why input controls (in general, so not only these) need **limits**.

[2020-10-01 09:55] htcfreek commented on #6028
cc @p-storm

[2020-10-01 10:07] Jay-o-Way commented on #6868
Haven't noticed this because I don't use FZ much and I wouldn't often come to these actions. I can totally understand Niels's point though.
If this is - and will stay - this way by design, then the text on the button is incorrect, because it both launches _and closes_ the Editor. This makes the issue valid.

[2020-10-01 10:09] P-Storm commented on #6028
Ah, was a bug that I introduced. Made a PR for it :)

[2020-10-01 10:20] htcfreek commented on #6028
@P-Storm
Thanks for making the PR.

By the way: This bug is older than your changes. (You can compare the dates of this issue and the PR you have referenced.)

[2020-10-01 10:22] P-Storm commented on #6028
Oh, than I copy pasted the change. Ah well, it is restored 👍

[2020-10-01 10:34] xmha97 opened #6936 "[pt run] System.InvalidOperationException: Dispatcher processing has been suspended"
## ℹ Computer information

- PowerToys version: 0.23.0.0
- PowerToy Utility: PowerToys Run
- Running PowerToys as Admin: No
- Windows build number: Microsoft Windows NT 10.0.19041.0

## 📝 Log
[2020-10-01.txt](https://github.com/microsoft/PowerToys/files/5311243/2020-10-01.txt)

## 📷 Screenshots
![2020-10-01_13-56-05](https://user-images.githubusercontent.com/23485114/94798728-dc6a8400-03ee-11eb-8b

[2020-10-01 10:53] runxel commented on #5658
Still keeps happening in v0.23
Still spawns the error window in the thousands.
😞

[2020-10-01 11:16] TobiasSekan commented on #6856
Hello,
after more investigation into the many many many C++ compiler flags,
I have add the compile switch "\await" to the project `common-md-flag`

![2020-10-01 13_05_03-PowerToys - Microsoft Visual Studio Preview](https://user-images.githubusercontent.com/17874713/94802203-8514e580-03e7-11eb-8003-09d5f0aa3570.png)

but the i get this 😡

[code]
after that i have changed the used SDK version from o

[2020-10-01 11:21] royvou commented on #6917
Yes the first term (cmd.exe) should return a program., then it will work 👍

[2020-10-01 11:37] haldi4803 opened #6938 "[FancyZones] Pressing ESC key while moving to a zone doesn't cancel."
So Fancy Zones itself works awesomely these days.
But the thing is when Moving a Small window from anywhere and Snap it to a Zone, then midway change your mind and not want to snap it pressing the seconday Mouse button again works for stopping. But here bad habbits kick in and i always press Escape.
Then the window still gets snapped to the Zone instantly releasing my Mouse button.

Shouldn't afte

[2020-10-01 12:06] htcfreek commented on #4604
Update to the issue:
- Still exists in v0.23.0
- Only happens when running the application. But not when running the lnk file.

@p-storm, @royvou
Is this the same problem which we have in issue 6916?

[2020-10-01 12:09] enricogior commented on #6938
@haldi4803
you can press shift.

[2020-10-01 12:13] P-Storm commented on #4604
I don't know for sure, I think @royvou could better tell if it is the same problem as #6916

[2020-10-01 12:14] anellomancante commented on #6859
Mine always crashes at startup with the following exception:

`Application: PowerLauncher.exe
CoreCLR Version: 4.700.20.41105
.NET Core Version: 3.1.8
Description: The process was terminated due to an unhandled exception.
Exception Info: System.MissingMethodException: Method not found: 'Void Wox.Infrastructure.Logger.Log.Info(System.String, System.Type, System.String, System.String, Int32)'.
   at

[2020-10-01 12:15] enricogior commented on #6814
@Jay-o-Way
in this case it wouldn't work unless is a very small value below what it would make sense to allow, because the negative value is a result of multiple variables including the screen resolution.

[2020-10-01 12:18] P-Storm commented on #6936
## Exception

It looks like there is not used of a Dispatcher, just like [stack-overflow](https://stackoverflow.com/questions/23452864/wpf-dispatcher-processing-has-been-suspended-but-messages-are-still-being-pro). Not sure where it is throwing from.

[code]

@xmha97 how can we reproduce this bug? Do you start powertoys, type in book and it throws the error?

[2020-10-01 12:19] enricogior commented on #6825
@pcmanning

Yes, when the DPI is the same we haven't seen any bug, but when is not we have seen consistent bugs with applications that are DPI-unaware, in some cases only when the zone is near the edges of the screen, in some cases regardless where the zone is.
Is nothing that FZ can fix/workaround.

[2020-10-01 12:23] dfurlano commented on #6877
![image](https://user-images.githubusercontent.com/67606313/94808565-4f5c0680-03bf-11eb-98f5-dff1752d554c.png)

[2020-10-01 12:23] haldi4803 commented on #6938
Yes. I could also press the secondary mouse button again. Works perfect.

Just doesn't sync with the force of memory which makes me keep pressing Escape every time i run into that situation.
I'm not the only one with that habbit am I?

[2020-10-01 12:28] pcmanning commented on #6825
Hmm – OK thanks – will live with it I guess.  Still surprised that Outlook is affected when none of the other Office Apps have an issue.  iTunes I expect as it’s always been poor!

Paul

Paul C. Manning BSc
IT Contracts, License & Asset Manager (Interim)
Information Services and Systems,
Swansea University,
Singleton Park,
Swansea. SA2 8PP

+44 (0)1792 29 5108
Paul C. Manning BSc
Rheolwr Contracta

[2020-10-01 12:29] royvou commented on #4604
It's a seperate issue (it is because the way the program / shell menus are built differently, so the root cause is the same).
I will add that to my other PR #6923 which will Change the way both start arguments are generated :)

[2020-10-01 12:40] mawic opened #6939 "[File Explorer Add-ons] Support of tags"
It would be awesome if **File Explorer supports tags**:

- As a user, I want to assign different tags to a file or a folder. For easier handling, the ribbon bar shall provide some buttons so that I can assign some tags without a lot of effort.
- As a user, I want to click on a file/folder and assign one or more tags to the file/folder.
- As a user, I want to search for a tag or several tags on my

[2020-10-01 13:09] htcfreek opened #6940 "[GitHub] Permission to set tags"
At the moment I can't set tags on issues and PRs when doing triage.

Is it possible to give me ONLY the tag permissions in this repository? This would be great.

Thanks in advance.

---

cc: @crutkas

[2020-10-01 13:25] royvou commented on #6789
I just downloaded the latest Windows Server 2019 and this has build 1809, which is lower then 1903 so i think the error is correct (And seems to be working fine as i can install it correctly).

If i manually run PT Run / Color Picker on this version though, it is working.  I think the issue is larger in that features are blocked behind higher Windows Versions (Including Server which always is behi

[2020-10-01 13:34] scottrudy opened #6941 "Be able to dismiss installer notification"
## 📝 Do not use a toast for install status progress, perhaps show it in the MSI dialog

_What is the expected behavior of the proposed feature?  What is the scenario this would be used?_
I would like to be able to access my notification tray icon menus, but I can't because the toast is on top and hides the menus. I also like to see progress, so I am suggesting that the status still be shown,, just

[2020-10-01 13:41] GeorgHoffmeyer opened #6942 "Change desktop when calling opened program with powertoys run"
## ℹ Computer information

- PowerToys version: v0.23.0
- PowerToy Utility: Powertoy Run
- Running PowerToys as Admin: no
- Windows build number: 19041.508

## 📝 Provide detailed reproduction steps (if any)

1. Open a program on desktop 2
2. switch to desktop 1
3. open powertoys run an call the just opened program on desktop 2

### ✔️ Expected result
I expect that the desktop changes from desktop

[2020-10-01 13:43] stefansjfw commented on #3536
I fixed it. I broke it ( sorry :( ). I fixed it again :) I hope it will get to @ion-elgreco  this time :)

[2020-10-01 13:44] ion-elgreco commented on #3536
Haha made me laugh 💯 Thanks for the work guys, much appreciated!

[2020-10-01 13:55] zaidan9999 opened #6944 "Bug"
## ℹ Computer information

- PowerToys version:
- PowerToy Utility:
- Running PowerToys as Admin:
- Windows build number: [run "winver"]

## 📝 Provide detailed reproduction steps (if any)

1. …
2. …
3. …

### ✔️ Expected result

_What is the expected result of the above steps?_

### ❌ Actual result

_What is the actual result of the above steps?_

## 📷 Screenshots

_Are there any useful screenshot

[2020-10-01 14:14] htcfreek commented on #6944
Closing this because of missing issue description/content.

[2020-10-01 14:15] htcfreek commented on #6944
@zaidan9999
Please fill in the issue correctly. If this was a mistake please close it.

[2020-10-01 14:45] ItsReizka commented on #6730
![120130546_371050420692208_8514978930906224866_n](https://user-images.githubusercontent.com/71585484/94824640-d4830200-0437-11eb-8452-dd8bf9798167.gif)

[2020-10-01 15:06] crutkas commented on #6944
@zaidan9999 we have no context and what went wrong since this is blank.  I'm going to close this.

[2020-10-01 15:06] #6944 closed

[2020-10-01 15:08] enricogior commented on #3536
Fan fact: the first fix worked because two bugs were cancelling each other, then we made a commit that unintentionally fixed one of the two bugs exposing the second one... true story :)

[2020-10-01 15:09] crutkas commented on #6930
Tracked by #4467 to enable this as it is an ASCII key vs vkey

[2020-10-01 15:17] htcfreek commented on #6936
@xmha97
Is the bug reproducible if you type book and the drive `F:` isn't available?
I can see that there is a pdf file without icon.

[2020-10-01 15:23] molstrangler commented on #6472
I would also be interested in a multi-layer template.

I have a four-square layout right now, but I would like to, sometimes, snap windows to the centre of my screen.

You could use SHFT-CRTL as a key modifier to activate an alternate template.

[2020-10-01 15:31] banglacow commented on #6929
the number was just a typo..

so there is this curious scenario now when FZ editor can be launched if I switch to another resolution.

for eg I tried Potrait mode 1920 and it worked ... then when I entered the value of 600 and clicked apply... trying to launch Fz editor again failed with error message logged.

For your information @P-Storm @enricogior

Would try the above solution and get back if

[2020-10-01 15:44] crutkas commented on #3534
We need a way to reproduce this, I hit this once extremely early on but not anymore.

[2020-10-01 15:44] crutkas commented on #3534
without repro, we can't debug

[2020-10-01 15:45] crutkas commented on #4156
marking as pri-2 for 0.25 release.  Other work is higher priority.

[2020-10-01 15:57] crutkas commented on #4720
Based on talking to Enrico, we had this as user and now it is system.  this could be the root cause.  Maybe we should see if there could be a conflict if the user key is still present?

[2020-10-01 15:59] crutkas commented on #5717
We think we have solved this moving forward and since @mhp777 doesn't have the issue, closing out.  if it still happens, please lets file a new bug so we can fix it

[2020-10-01 15:59] #5717 closed

[2020-10-01 16:00] Mercerudy opened #6945 "Windows API Returns Incorrect Monitor Info"
Opening new issue, as instructed by @enricogior:

@Mercerudy
you have two monitors with the same 1920x1080 resolution, correct?
The Windows API returns only one monitor. We should try to escalate this to the Windows team.
Can you please open a new issue adding the output of the WMI command you ran and the screenshot of the Device Manager?

Originally posted by @enricogior in https://github.com/mic

[2020-10-01 16:04] crutkas commented on #6215
We need this to get better insights into #5545

[2020-10-01 16:07] crutkas opened #6946 "[FZ Editor] System.ComponentModel.Win32Exception"
I got also an error. Trying to edit the custom FancyZones. FZEditorCrashLog.txt contains:

## Exception

[code]

## Environment
* Command Line: "C:\Program Files\PowerToys\modules\FancyZones\FancyZonesEditor.exe" 0_0_3840_1560 "15216"
* Timestamp: 10/01/2020 07:26:54
* OS Version: Microsoft Windows NT 6.2.9200.0
* IntPtr Length: 8
* x64: True
* CLR Version: 4.0.30319.42000
## Assemblies - FancyZon

[2020-10-01 16:09] enricogior commented on #5040
This is done.

[2020-10-01 16:09] #5040 closed

[2020-10-01 16:21] enricogior commented on #6877
@dfurlano
another access violation but in a different dll. Are you experiencing crashes in other applications or is it just the FZ Editor? I'm wondering if it could be an issue with the RAM on your system.

[2020-10-01 16:25] dfurlano commented on #6877
I use the office suite, teams, and Adobe throughout the day and have not experienced any issues with other programs. Should I try something specifically?

![image](https://user-images.githubusercontent.com/67606313/94836581-2187b980-03e1-11eb-93fd-3f82ede06971.png)

[2020-10-01 16:27] baris-inandi opened #6947 "Keyboard Manager Feature"
I want to dedicate a button on my keyboard that I don't use to a shortcut.
For example, I can use the Insert key as a shortcut to alt+f4 or win+shift+s

The current version can only remap shortcuts to shortcuts and keys to keys.
This would be an amazing feature.

[2020-10-01 16:27] Jay-o-Way commented on #6939
I use labels or tags sometimes too. Some file types support them, some don't. Unfortunately. For the ones that do support: pretty much all of your points are possible. Am I right when I interpret your request to make a new file/folder tagging system? Or build something on top of the existing, native structure?

I've seen a few file/folder organizing apps that deal with this being mentioned in othe

[2020-10-01 16:27] crutkas commented on #6932
Talked with Ryan, like the idea.  One thought is to make a Win32 namespace here as well.  @P-Storm want me to assign it to you?

[2020-10-01 16:29] crutkas commented on #6947
you can do the hybrid since 0.21.  What version are you on?

[2020-10-01 16:30] Jay-o-Way commented on #6938
In other words: I think it's not really a bug, but a valid suggestion for improvement, if one would ask me...

[2020-10-01 16:33] enricogior commented on #6877
@dfurlano
can you run a memory test? Open the Start menu and type `memory` and run the Windows Memory Diagnostic tool

![image](https://user-images.githubusercontent.com/3206696/94837226-42b5cd80-0414-11eb-8666-9365f24ff63d.png)

Those access violations are really strange since they are not caused by FZ calling a WIndows API passing wrong parameters (like the problem reported by @rgisler). Those s

[2020-10-01 16:33] #6947 closed

[2020-10-01 16:34] Jay-o-Way commented on #6927
Isn't this (the small rounding of corners) default in UWP or WinUI? I remember reading this on a page about the UX elements a while ago. I was searching for it yesterday, but haven't found the page (yet). I'll update with a link when I find it.

[2020-10-01 16:36] ion-elgreco commented on #3536
Amazing :) Thank you!

[2020-10-01 16:36] crutkas commented on #6947
We released 0.23 yesterday FYI :)

[2020-10-01 16:38] htcfreek commented on #6932
@P-Storm
One thing I want to mention: When we do this changes we should have a look at other open PRs for the program plugin. The open PRs can get in conflict with the new changes in this issue.

[2020-10-01 16:41] DavidGretzschel commented on #3232
Yes, it is.

It will still show "win + VK 192" with the "United States International Keyboard Layout".
If I change the layout to "US keyboard" (default qwerty), click on another option tab and show the FancyZones settings with "win + \`". And vice versa.
So for quickly testing this and various other layouts, you can add additional Keyboard layouts here and switch cycle thru them with win+space.
Yo

[2020-10-01 16:42] baris-inandi commented on #6947
I'll check it out! Thanks for the help.

[2020-10-01 16:42] mitchnewman commented on #4627
Same issue here on v0.22.0.  Launching PowerToys from the taskbar icon and selecting "PowerToys Run" on the left panel causes the PowerToys window to crash and exit with no error message.  Interestingly, it does not cause the PowerToys process to exit - only the settings menu.  Also can't launch PT Run at all with the command (alt + space, etc.).   All PowerToys aside from "Run" can be accessed as

[2020-10-01 16:43] arjunbalgovind commented on #5225
@tsu1980 I can repro it though it doesn't happen every time with Alt+`, but I have identified the cause of the bug.
@crutkas should I re-open this issue? It seems there are some cases where it isn't fixed

[2020-10-01 16:45] jp-stewart opened #6948 "After upgrading to PowerToys 0.23.0 via the upgrade toast window, all FancyZones reset to three columns"
## ℹ Computer information

- PowerToys version: **0.23.0**
- PowerToy Utility: **FancyZones**
- Running PowerToys as Admin: **False**
- Windows build number: **18362.1138**
- Multimon count: **4, 3 of 4 in portrait mode**
- Environment run: **RDP with all 4 monitors displaying the remote - version above is the _target_ machine being remoted _to_**

## 📝 Provide detailed reproduction steps (if any)

[2020-10-01 16:54] enricogior commented on #3079
@ryanbodrug-microsoft
this is a much larger work item that it might seem, in FZ we need to be able to turn lowlevel keyboard hooks on and off, so the API to provide such functionality has to work the other way around compared to the current module interface where the runner calls the API. In this case is the module that needs to be able to call the runner to turn stuff on/off.
And we need multiple

[2020-10-01 16:58] enricogior commented on #6945
We don't have yet a link to the external issue.

[2020-10-01 16:58] ViddhuMcPhee opened #6949 "Allow users to define multiple zone layouts"
#6634

## 📝 Provide a description of the new feature

_What is the expected behavior of the proposed feature?  What is the scenario this would be used?_
Depending on what I have to open, I'd love Fancy Zones to allow me the flexibility to toggle between my two different zone layouts. I tried overlapping zones to make it somewhat flexible - but it' would be far more convenient if it could let us ha

[2020-10-01 17:00] enricogior commented on #6929
@banglacow
thanks for the follow-up.
I'll close this issue since is already tracked in https://github.com/microsoft/PowerToys/issues/6814
The fix will be available in 0.25
Thanks.

[2020-10-01 17:00] #6929 closed

[2020-10-01 17:00] dfurlano commented on #6877
Ran through with no errors.

[2020-10-01 17:01] ryanbodrug-microsoft commented on #3079
@enricogior Thanks for the context.  Do you agree that this is something that InVEST shouldn't take on given this is our last month?

[2020-10-01 17:03] enricogior commented on #6949
This is already tracked in https://github.com/microsoft/PowerToys/issues/1411 and planned to be released in the November release.
Closing as duplicate.
Thanks.

[2020-10-01 17:03] #6949 closed

[2020-10-01 17:04] DavidGretzschel commented on #1032
Is anyonce considering of changing the aspect ratio of the Layout preview from the current ~1.25 to 1.77 [which corresponds to the 16:9 format] in the new editor?
Reading out the pixel-values, I'm getting something like 1:25, anyway.
Most monitors are 16:9, so the preview differs greatly what the Layout will actually show up on screen.

I'm talking about this:
![image](https://user-images.githubus

[2020-10-01 17:04] enricogior commented on #6877
@dfurlano
good to know. Thanks.

[2020-10-01 17:08] enricogior commented on #3079
@ryanbodrug-microsoft
I agree, this work item can become a rabbit hole.
Also, I would like to investigate how much work would be required to implement the KM remapping at keyboard driver level, of course not in the upcoming weeks, but as a long term solution for this type of issues.

[2020-10-01 17:11] crutkas commented on #6948
@enricogior this should be a hotfix if it does what i think it does

[2020-10-01 17:11] P-Storm commented on #6932
Yes please

Currently open PR's (that I could find):

* #6923
* #6882
* #6129

[2020-10-01 17:12] Jay-o-Way commented on #6790
I agree.

[2020-10-01 17:12] crutkas commented on #6940
email me, crutkas@microsoft.com

[2020-10-01 17:19] rgisler commented on #6877
Ok, I will do that soon.

[2020-10-01 17:24] rgisler commented on #6946
Look's as this is the same error. Steps to reproduce:

- Choose FancyZones
- Launch zones editor
- Select the "custom" tab.
- Select "Create new custom"
- Edit selected layout ==>
![image](https://user-images.githubusercontent.com/206613/94842249-76482600-041b-11eb-8f02-6cc8e5f20041.png)

The zones-settings.json:
[zones-settings.json.txt](https://github.com/microsoft/PowerToys/files/5313808/zones-

[2020-10-01 17:25] arjunbalgovind commented on #3079
Just for context for anyone who will work on this I'm adding the context from the mail thread about the non-driver approach. It would require setting up an IPC channel between KBM and the other modules (one way to KBM), so that whenever any module calls `SetWindowsHookEx` it would send a message to KBM to notify it to restart it's own hook. To make this more generalized the best way would be to ha

[2020-10-01 17:26] enricogior commented on #6948
@crutkas
the priority grid is applied if not previous layout was applied to the current desktop.
With remote desktop we have known issue of creating new device ID https://github.com/microsoft/PowerToys/issues/721, so the bug very likely is that one.
This is not a simple fix for an hotfix.

[2020-10-01 17:28] haldi4803 commented on #6938
Yes totaly, but i comepletly failed with the tags.
Guess "Idea-Enhancement" count's as feature request.

[2020-10-01 17:29] enricogior commented on #6946
@rgisler
just to make sure, the crash happens as soon as you click edit and so you don't see this dialog, correct?

![image](https://user-images.githubusercontent.com/3206696/94843008-5d8c4000-041c-11eb-8e6b-e21930faa1a8.png)

[2020-10-01 17:29] novahreal commented on #3976
@alekhyareddy28 @crutkas

Thanks for the clarification, I thought this issue was for _any drives_ (local or network) - it seems the issue for mapped network drives is open but not being worked on.

it seems this is the issue that relates most to network drives, but it isn't assigned to any projects.
[#4544](https://github.com/microsoft/PowerToys/issues/4544)

[2020-10-01 17:30] crutkas commented on #5225
actually, lets create a targetted issue for you @tsu1980

[2020-10-01 17:30] #5225 closed

[2020-10-01 17:32] novahreal commented on #4544
As I understand it, enhanced search doesn't handle mapped network drives at all.  In Indexing options, it is completely impossible to add network drives which also means that [#2041](https://github.com/microsoft/PowerToys/issues/2041) didn't handle this specific issue.  This is less of an issue and more of a feature request

[2020-10-01 17:33] #6940 closed

[2020-10-01 17:35] crutkas commented on #6936
this is some type of threading issue i bet.  @saahmedm marking this as p0 and would like to hot fix it if possible

[2020-10-01 17:35] rgisler commented on #6946
Yes, that's right.

[2020-10-01 17:37] enricogior commented on #3079
@arjunbalgovind
thanks for the clarification.
The approach seems OK in general, but in FZ we turn on/off hooks every time a window is dragged, and it has to be instantaneous otherwise the UX would be problematic. Doing IPC in that scenario doesn't seem ideal. That's why I prefer to consider other solutions.

[2020-10-01 17:37] Jay-o-Way commented on #6938
Not a problem. "basic" accounts can't change tags, only collaborators can.

[2020-10-01 17:38] htcfreek commented on #6932
+ #6924

[2020-10-01 17:38] arjunbalgovind commented on #6936
Same issue as #5658

[2020-10-01 17:41] enricogior commented on #6946
`Das System kann die angegebene Datei nicht finden` -> `The system can not find the stated file`

[2020-10-01 17:41] #6936 closed

[2020-10-01 17:42] P-Storm commented on #6932
🤦 I did forget my own pull request

[2020-10-01 17:42] xmha97 commented on #6936
Yes, I think the problem is with the PDF files.
![PowerToys Run](https://user-images.githubusercontent.com/23485114/94843996-6a179500-042a-11eb-907d-b9ee6415e653.gif)

[2020-10-01 17:45] enricogior commented on #4544
@novahreal
have you tried to assign a drive letter to the network drive?

[2020-10-01 18:01] elskewe commented on #4138
After installing v0.23 this issue is no longer present for me. I can use PT Run as excepted and the search results are shown without any kind of freezing.

[2020-10-01 18:01] #4138 closed

[2020-10-01 18:08] jlovern commented on #6915
Apologies, I'm fairly new to github. Should I close this issue, as there are no plans to change the behavior, or leave it open, as it's still unintended behavior?

[2020-10-01 18:22] enricogior commented on #1972
@dbartholomae
you mean "to provide an option to change the default shortcut"?

[2020-10-01 18:24] TungstenE2 opened #6950 "fancy zones: keep settings after screen powered down"
Currently applications are not staying in the fancy zones, when the monitor is powered off and on again.
All applications pile up in the upper left corner.

Would be nice to keep the state/position of the applications after the screen is powered again. Same as when the computer is returning from sleep mode.

[2020-10-01 18:25] arjunbalgovind opened #6951 "Shortcut Remaps can stop working on using Alt+` in Japanese IME"
_Originally posted by @tsu1980 in https://github.com/microsoft/PowerToys/issues/5225#issuecomment-701720976_

## ℹ Computer information

- PowerToys version: 0.23
- PowerToy Utility:
- Running PowerToys as Admin:
- Windows build number: [run "winver"]

## 📝 Provide detailed reproduction steps (if any)

1. Switch to Japanese keyboard
2. Press Alt+` a couple of times

### ✔️ Expected result

_What i

[2020-10-01 18:26] enricogior commented on #6915
@jlovern

No problem, any question is legit.
We can leave it open for now. I added the `Idea-Enhancement` label, meaning this is currently not considered a bug and in the future we might consider to redesign how the template grid are implemented.

[2020-10-01 18:26] novahreal commented on #4544
@enricogior
Yes, my network drives had drive letters assigned by default when I mapped them.

[2020-10-01 18:29] enricogior commented on #6950
@TungstenE2
this is an issue with DisplayPort connected monitor. You may consider this solution to workaround the problem:https://github.com/microsoft/PowerToys/issues/159#issuecomment-663773316

Closing this as duplicate of https://github.com/microsoft/PowerToys/issues/4 (the underline problem is the same)

[2020-10-01 18:29] #6950 closed

[2020-10-01 18:32] enricogior commented on #4544
@novahreal
ok , so this may be something that PT cannot workaround.

[2020-10-01 18:33] roland-d commented on #1972
Thank you for making Fancy Zones, after coming from a Mac where I use Magnet, this is really a very useful tool. If you wonder about shortcuts, this is how Magnet does it on the Mac: Not sure how feasible these options are on Windows.
![image](https://user-images.githubusercontent.com/359377/94849133-3ede7700-0425-11eb-8a06-9f49a6a676c4.png)

(source: https://i0.wp.com/ackoy.com/wp-content/uploads

[2020-10-01 18:37] crutkas commented on #1972
@roland-d magnet operates under a fixed style, we provide freedom of whatever you want.  They are fundamentally different.

[2020-10-01 18:38] htcfreek commented on #6940
Will email you tomorrow.

[2020-10-01 18:39] niels9001 commented on #6927
@Jay-o-Way This is about Shortcut Guide, not Keyboard Manager (but you are right, that one doesn't have rounded corners and is tracked somewhere already IIRC)

Shortcut Guide uses an .svg, so should be an easy fix.

[2020-10-01 18:41] crutkas commented on #6926
We can but like, are people going to go out and actively search for this?

[2020-10-01 18:50] crutkas commented on #6896
i'm betting we're trying to index new URL when Steam still has the file in use.  @alekhyareddy28 i think you did the fix for the e-reader installer, would that fix this?

@rosearian have you tried 0.23 yet?  This may be fixed there with this change: https://github.com/microsoft/PowerToys/pull/6821/

[2020-10-01 19:01] crutkas commented on #2618
going to close this against #2790 since i had a bit more context in there and there is no voting diff between the two.

[2020-10-01 19:01] #2618 closed

[2020-10-01 19:01] crutkas commented on #2790
agreed, this and #2618 are the same basic request but going to use this as the tracking issue

[2020-10-01 19:11] csijake commented on #6388
@Aaron-Junker This is an awesome list, thanks for putting it together. 😁

#3096 is actually two ideas - most people seem concerned with the dynamic info display on the desktop, but I am very interested in the [ZoomIt](https://docs.microsoft.com/en-us/sysinternals/downloads/zoomit) features, specifically, the ability to draw over (a static image of) the desktop.

What can I do to help break apart t

[2020-10-01 19:14] DrSebastianPauli commented on #5012
Same here. I've a UHD Display (5120x1440). I've to layouts:

- Screen divided in three zones/columns of same size
- Priorty grid with three columns

Expected: If I change between both layouts, windows will resize

Reality: Nothing happens.

[2020-10-01 19:20] sthavens commented on #5006
FancyZones settings reset today on update to v0.23.0. Has reset every update. Not a breaking issue as all that I have to do is to re-select my custom zone but is more of a nuisance and should not be reset.

[2020-10-01 19:22] somil55 opened #6954 "[Run] Index Out of Bound Exception"
A cause of this is due to the race condition in `Results` variable in MainViewModel. The following line modifying `Results` should be added within `_addResultsLock` lock on a separate thread.
https://github.com/microsoft/PowerToys/blob/c219fe0d1d370158845953c8d33eb8e4d8164ba0/src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs#L609-L615

[2020-10-01 19:31] WBguy opened #6955 "[PT Keyboard mannager] Crash when remapping shortcut"
[keyboard manager crash.zip](https://github.com/microsoft/PowerToys/files/5314355/keyboard.manager.crash.zip)
When I tried to remap a shortcut but accidentally pressed the wrong keys, PT crashed. I recreated the issue and attached a steps recorder file. It may have been because the shortcut didn't exist. on version 0.23.0

[2020-10-01 19:32] enricogior commented on #5012
@DrSebastianPauli

are you running 0.23.0?

Is this the default column template or a modified one?

The default one or modified?

Can you please provide screenshots or even better use the Windows Steps Recorder to create a report?

[2020-10-01 19:35] enricogior commented on #5006
@sthavens
the installer doesn't reset the settings, something else is happening.
Can you try uninstalling 0.23 and reinstall 0.21.1 and after checking the settings, update to 0.23 to verify it's consistently happening?

[2020-10-01 19:43] pokemav commented on #6235
.23 release build and problem is still present. Hopefully will be fixed by the end of the year. It's been months since this regression.

[2020-10-01 19:56] arjunbalgovind commented on #6955
I can repro this. @ryanbodrug-microsoft @crutkas FYI, might be a good hotfix item if its an easy fix

[2020-10-01 19:58] crutkas commented on #4768
Becomes a possible timing issue then.  Start menu is an immersive process.

[2020-10-01 20:00] mawic commented on #6939
Yes, I was not aware of #150.

[2020-10-01 20:00] #6939 closed

[2020-10-01 20:00] WBguy commented on #6955
@arjunbalgovind Yep, you can link here so they can get the attachment or just attach it again there.

[2020-10-01 20:02] mawic commented on #150
Yes, such a feature would be great. Here my thoughts what kind of functionality I would like to have:

- As a user, I want to assign different tags to a file or a folder. For easier handling, the ribbon bar shall provide some buttons so that I can assign some tags without a lot of effort.
- As a user, I want to click on a file/folder and assign one or more tags to the file/folder.
- As a user, I w

[2020-10-01 20:06] KristofKekesi opened #6956 "Json preview"
## 📝 Json Preview in the explorer preview window

_visualize  json data in some ways like tree, or just the text._

---

If you'd like to see this feature implemented, add a 👍 reaction to this post.

[2020-10-01 20:15] crutkas commented on #6789
Keyboard manager, Settings v2 both use XAML Islands.  PT Run's was XAML Islands when we first shipped as well. That API requires 19H1.  The hope was we'd have a build of WinUI 3 quickly that we could then utilize to not have to use Islands.

At this point i think a large sum at this point as well is not wanting to support the legacy settings system with new items.  The new settings system has unit

[2020-10-01 20:17] sthavens commented on #5006
This did not happen on the re-install but consistently happened before it. The behavior before was as if the updater (not necessarily the installer) treated FancyZones as if it were being installed fresh and set it to defaults even though it remembered the custom zones.

[2020-10-01 20:24] devinprater opened #6957 "Accessibility: keyboard gets stuck when in "set powertoys run keyboard shortcut" field"
## ℹ Computer information

- PowerToys version: PowerToys
v0.23.0
- PowerToy Utility: Powertoys run
- Running PowerToys as Admin: Yes
- Windows build number: [run "winver"] Version 2004 (OS Build 19041.508)

## 📝 Provide detailed reproduction steps (if any)

1. With the NVDA screen reader running, open the Powertoys settings, and switch to the PowerToys Run panel.
2. Tab to the Set Hotkey fiel. By

[2020-10-01 20:30] NicTanghe commented on #6797
It whould mainly be awsome if there is also something minimal displaying the desktop you switch to.

I advice capslock + button.

Here`s a ahk script if you dident know of it already.
https://github.com/pmb6tz/windows-desktop-switcher

[2020-10-01 20:34] crutkas commented on #6957
Thanks for reporting.  Tracking this in issue #6110.  We had to sync with a few teams to figure how we deal with the scenario of we want to allow people to remap keys but as you pointed out, it can't be a keyboard trap.

[2020-10-01 20:34] #6957 closed

[2020-10-01 20:54] royvou commented on #6789
So best is to skip any major effect on it and wait until WinUI 3 is released,  PT Run could be changed to run on  a lower version with minimum effect though, but has no priority, which could use some help from a contributor :)

[2020-10-01 21:06] W4RH4WK commented on #1972
Thank you very much for implementing this.

I'd very much appreciate this. Win + Shift would be perfect for me. Fun fact, PowerToys' keyboard manager cannot be used to remap Win + Shift to Ctrl +Win + Alt + Shift

[2020-10-01 21:10] rosearian commented on #6896
@crutkas i have just downloaded 0.23 but i cant try it yet. i'll try it tomorrow but i doubt that i could ever reproduce the crash because as i wrote before it didn't happen a second time so idk. ill try it tomorrow

[2020-10-01 21:14] Kennya1 commented on #6545
Sorry I did not see a reply.  The
 the issue is that I have all 4 monitors set to 2 zones but only monitor 1 and 3 properly respond

I am now using version 23

![FancyZone](https://user-images.githubusercontent.com/40518108/94864090-77705780-0409-11eb-80a7-b89b5bed5d66.png)

![image](https://user-images.githubusercontent.com/40518108/94864140-8bb45480-0409-11eb-8ca4-d716b5fc0dff.png)

[2020-10-01 21:34] jp-stewart commented on #6948
Thank you both.

I read through the linked issue.

I have not had the described problem above for different remote sessions yet.

Given the pandemic, I remote into work every day. My machine there has rebooted for updates / installs many times.

It was only uninstalling / installing the updated powertoys today which happened to have caused this.

[2020-10-01 21:55] crutkas commented on #6956
#1527 would be where we would track this as enabling a Monaco based solution would solve this.

[2020-10-01 21:55] #6956 closed

[2020-10-01 21:55] alekhyareddy28 commented on #6896
@crutkas, I think it might be the same issue when we're trying to read the app information immediately. An access denied exception is thrown if there is an IO error. I think the app is probably making the file read only till it finishes writing to it leading to this exception.

@rosearian Please let us know if the latest release doesn't fix it and I'll look into it. Thank you.

[2020-10-01 21:56] crutkas commented on #6388
for #1527 it is a known problem for solving i believe.  WTS uses Monaco for their diff engine for adding in new features.

[2020-10-01 22:04] crutkas commented on #6896
@alekhyareddy28  is this something you can quickly test out to see if we can't repo?

[2020-10-01 22:15] crutkas commented on #6955
Look into it and see if we can't get a hotfix out.

[2020-10-01 22:20] crutkas commented on #1972
@W4RH4WK we don't allow modifier only shortcut remapping.  I don't believe anyone has opened an ask (may be an open issue but i don't think there is) for that and we couldn't figure out a use case where someone would want this. If this is an ask, please file an issue.

[2020-10-01 22:24] dbartholomae commented on #1972
Yes. To be honest, I'm not sure if I will be able to do it, but for me the current keyboard shortcuts are more or less useless as pressing 4 keys is really unergonomical for task I do so often, so I still use the mouse, and I would be willing to dive a bit into the repo to see what I can do about it.

[2020-10-01 22:25] crutkas commented on #6789
honestly, i think if we just know what the version of server that maps to 19h1 on windows, we're good

[2020-10-01 22:59] Smiley0227 commented on #3534
Understood. I have not had this happen again since I posted this.

[2020-10-01 23:28] arjunbalgovind commented on #6838
@devinprater We made several fixes in this space in 0.23. I'm unable to reproduce the behavior mentioned on the new release, can you check if it works as expected for you?

[2020-10-01 23:33] arjunbalgovind commented on #6851
@rsabatino are you still facing this crash on 0.23?

[2020-10-01 23:34] emiliano-ruiz commented on #2278
It would be very intuitive if you could right click and have a menu. This will allow multiple options:

Example:
  - Vertical split
    - Half / Third / Custom
 - Horizontal split
    - Half / Third / Custom
 - Same size as
    - Zone 1 / Zone 2 / Zone N / Entire screen
 - Align vertically
    - Top, center, bottom
 - Align horizontally
    - Left, middle, right

[2020-10-01 23:35] royvou commented on #6789
Well we should wait for confirmation of @rolltidehero
but i expect he is running the 2019 LTS (Which sounds like a good idea on a server!), which is based on 1809
(More information here: https://docs.microsoft.com/en-us/windows-server/get-started/windows-server-release-info)

If you install any Semi-Annual Channel (Like Windows is also using) and are up to date you are based on build 1903/1909/200

[2020-10-01 23:46] htcfreek commented on #6533
This issue and the corresponding PR needs a tag fix:
- "Hot Fix"
- "Work in progress"

[2020-10-02 00:56] aranjmiller commented on #6948
MY custom zones still exist. However, Fancy Zones is NOT on by default when computer starts, even tho PowerToy DOES start automatically. I have to open up PowerToy Settings and DISABLE and then RE-ENABLE Fancy Zones for Fancy Zones to be active. Once reactivated it defaults to the 3 column view.
While this is a minor problem to have to do this everytime I turn on my computer I really preferred how

[2020-10-02 01:01] #6713 closed

[2020-10-02 01:01] #2388 closed

[2020-10-02 03:21] jiankeabcd opened #6961 "Exception list for Keyboard Manager?"
How about adding an exception list for Keyboard Manager. It would be nice when gaming.

[2020-10-02 05:02] Aaron-Junker commented on #6388
I will create this file in the docs folder so everyone can edit it quickly.

[2020-10-02 05:08] rsabatino commented on #6851
no everything is ok thanks

[2020-10-02 05:17] alekhyareddy28 commented on #6896
@rosearian, could you try to close and reopen powertoys and see if wreckfest shows up now on PT Run or if it still crashes. That would tell us if installation was the issue or not (you could just do this with the current release that you are on right now). Thank you! Your input is highly appreciated.

[2020-10-02 05:41] OnyxtheDragon opened #6963 "[Run] Visual improvement: search bar transparency"
I'd love it if the power toys run search bar had transparency similar to the rest of windows for more visual consistency.

If you'd like to see this feature implemented, add a 👍 reaction to this post.

[2020-10-02 06:01] TungstenE2 commented on #159
thx a lot, but for me the simulated device is missing in registry. any advice?

![grafik](https://user-images.githubusercontent.com/39955685/94892659-80067380-0485-11eb-9ac7-e97d39159387.png)

[2020-10-02 06:40] ukidabek opened #6964 "Fancy Zone loose settings after restart"
## ℹ Computer information

- PowerToys version: 0.23
- PowerToy Utility:
- Running PowerToys as Admin: yes
- Windows build number: 19041.508

## 📝 Provide detailed reproduction steps (if any)

1. Set zones on multiple windows desktops.
2. Restart the app/pc

### ✔️ Expected result

Zones will stay as i set it.

### ❌ Actual result

Zones on all virtual desktops are set to zones layout on the flirt

[2020-10-02 06:47] enricogior commented on #6964
@ukidabek
can you please upload `%localappdata%\Microsoft\PowerToys\FancyZones\zones-settings.json`? (you will have to change the .json extension to .txt otherwise GitHub will not allow to upload the file)
Then restart the machine and upload again the `%localappdata%\Microsoft\PowerToys\FancyZones\zones-settings.json` file so we can see what is happening.

[2020-10-02 06:55] rserbitar commented on #411
Any news on re enabling install as local user? Would really appreciate to be able to upgrade from 0.15.

[2020-10-02 06:56] enricogior commented on #6948
@jp-stewart
can you please upload the file `%localappdata%\Microsoft\PowerToys\FancyZones\zones-settings.json`?
Thanks

[2020-10-02 06:57] enricogior commented on #6948
@aranjmiller

This is a different problem, please open a new issue. Thanks.

[2020-10-02 06:59] quyleanh commented on #3397
It is sad when seeing this issue is skipped version by version, taken down priority, and now turned to Help Wanted. There are many related keyboard manager issues in this repo, and I can see their future.

I have switched back to SharpKeys for a long. Hope this issue can be fixed someday.

Thank you for your kind support and hard work.

[2020-10-02 07:08] enricogior commented on #1972
@dbartholomae
open a new issue as a feature request, then add a link to the new issue here so other users will find it.
Thanks.

[2020-10-02 07:11] vanwaard opened #6965 "Powertoys"
Hello us it possible to translate Powertoys in Dutch

[2020-10-02 07:13] enricogior commented on #6545
@Kennya1
what happens on the monitors where FZ doesn't work? You start shift-dragging a window and the zones don't show up?

[2020-10-02 07:16] enricogior commented on #6545
@Kennya1
can you please upload `%localappdata%\Microsoft\PowerToys\FancyZones\zones-settings.json`
You will have to rename the `.json` extension to `.txt` otherwise GitHub will not allow to upload the file.

[2020-10-02 07:46] MecuSorin commented on #3407
@crutkas Give me an executable to run.

Tried to use a docker image to build the thing like this https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container?view=vs-2019, but got _image operating system "windows" cannot be used on this platform_ . Don't want to pollute my machine with tools I will not use myself.

[2020-10-02 07:48] enricogior commented on #5006
@sthavens
as I mentioned before, the installer doesn't remove any settings, so we don't have a lot to work on here unless we can reproduce this problem consistently.
Next time it happens please upload `C:\Users\%USERNAME%\AppData\Local\Microsoft\PowerToys\FancyZones\zones-settings.json` to check if it provides any hint.
Did you also loose the FZ settings?
![image](https://user-images.githubusercon

[2020-10-02 08:24] Aaron-Junker commented on #6965
Microsoft will translate PowerToys in the future. Please have patience

[2020-10-02 08:28] enricogior commented on #6965
As @Aaron-Junker mentioned, the work is in progress and will be available in a future release.
Closing as duplicate of https://github.com/microsoft/PowerToys/issues/199

[2020-10-02 08:28] #6965 closed

[2020-10-02 08:32] taspeotis commented on #6948
Same problem with 0.23, coming from 0.21

[2020-10-02 08:32] taspeotis commented on #6964
Same problem with 0.23, coming from 0.21

[2020-10-02 08:35] Aaron-Junker opened #6966 "Error in releasy notes for 0.23"
There's an error in the 0.23 release notes:
It says:
[code]
But it should be:
[code]

You used (text)[link] but it should be [text](link)

[2020-10-02 08:52] thunderousleader10 opened #6967 "FancyZones forgets Virtual Desktop layouts"
## ℹ Computer information

- PowerToys version: 0.230
- PowerToy Utility: FancyZones
- Running PowerToys as Admin: Yes
- Windows build number: 2004 (19041.508)

## 📝 Provide detailed reproduction steps (if any)

1. Apply specific custom layouts to different virtual desktops on Windows 10

### ✔️ Expected result

The layouts I applied to be maintained on each virtual desktop

### ❌ Actual result

T

[2020-10-02 09:29] bakesteve opened #6968 "Support for Windows Enterprise 1709 (build 16299.1565)"
Suspect the answer is no due to dependencies, but are there plans to provide a build compatible with Win 1709?
Or an older release (with FancyZones) that does support this?

[2020-10-02 09:30] mourjohn opened #6969 "FancyZones: zone dimensions [Feature Request]"
It would be awesome if we had the dimensions while resizing zones.

[2020-10-02 09:38] enricogior commented on #6948
@taspeotis
can you please upload the file %localappdata%\Microsoft\PowerToys\FancyZones\zones-settings.json?

[2020-10-02 09:39] enricogior commented on #6964
@taspeotis
can you please upload `%localappdata%\Microsoft\PowerToys\FancyZones\zones-settings.json`?

[2020-10-02 09:42] enricogior commented on #6966
Fixed https://github.com/microsoft/PowerToys/releases/tag/v0.23.0
Thanks.

[2020-10-02 09:42] #6966 closed

[2020-10-02 09:45] enricogior commented on #6967
@thunderousleader10
did you delete and recreate the Virtual Desktops?
Can you please upload `%localappdata%\Microsoft\PowerToys\FancyZones\zones-settings.json`?

[2020-10-02 09:45] daslicht commented on #5088
Irconically, scrolling is most tedious with a microsoft designer mouse:
![](https://i.imgur.com/g4cMmbF.jpg)
The wheel is so smalland you literally scroll you fingers wound if you set scrolling to one line, to get precision.
If you set it higher you can scroll faster but without any control :)

So please Microsoft make it happen und give uns build in inertia scrolling.

[2020-10-02 09:46] enricogior commented on #6968
@bakesteve
please add your request to https://github.com/microsoft/PowerToys/issues/6789
Thanks.

[2020-10-02 09:46] #6968 closed

[2020-10-02 09:48] enricogior commented on #6969
Duplicate of https://github.com/microsoft/PowerToys/issues/463

[2020-10-02 09:48] #6969 closed

[2020-10-02 10:02] Kennya1 commented on #6545
{
  "devices": [
    {
      "device-id": "HWP3322#5&a8a299&2&UID268_1920_1080_{4F97960B-EDC6-45DF-B733-3F8659EB89DB}",
      "active-zoneset": {
        "uuid": "{47C32654-5404-4AA7-A11B-B841436BA4EC}",
        "type": "priority-grid"
      },
      "editor-show-spacing": true,
      "editor-spacing": 16,
      "editor-zone-count": 3,
      "editor-sensitivity-radius": 20
    },
    {
      "devi

[2020-10-02 10:06] amirarfan opened #6970 "Custom position for PowerToys Run and add more settings to customize the window"
Being able to choose custom position for PowerToys run, or making it remember where you placed it last. Also the ability to customize the background/transparency of the run window.

One could use this to place the tool window at the bottom of the screen, or any other position which might be suitable. Also adding transparency would make it see-through, which can be useful in those situations where

[2020-10-02 10:09] mertbakir opened #6971 "FancyZones snap without mouse"
I would like to move/snap windows into fancyzones with a user-specified shorcut like Ctrl + Alt + 1 for zone 1 and Ctrl + Alt + 2 for zone 2 as addition to existing mouse drag+ shift combination.

I've never find useful windows' default key combination windows + arrow buttons. I would like to arrange windows with one hand not two.

---

If you'd like to see this feature implemented, add a 👍 reacti

[2020-10-02 10:12] daslicht commented on #5088
I mailed the developer form https://sourceforge.net/projects/mwaccelerator/ :)

[2020-10-02 10:20] enricogior commented on #6545
@Kennya1
try the following steps:
 - quit PowerToys
 - in command prompt run `del %localappdata%\Microsoft\PowerToys\FancyZones`
 - restart PowerToys

You will have to reassign the zones.
After that, if you still have problems, please re-upload the `zones-settings.json` file.

[2020-10-02 10:24] enricogior commented on #6971
Duplicate of https://github.com/microsoft/PowerToys/issues/492

[2020-10-02 10:24] #6971 closed

[2020-10-02 10:35] 1pratham opened #6972 "Power Toys Run not working with error popup"
## ℹ Computer information

- PowerToys version: 0.23.0
- PowerToy Utility:
- Running PowerToys as Admin: Yes
- Windows build number: [run "winver"] 18363.1082

## 📝 Provide detailed reproduction steps (if any)

Upgraded from 0.21 to 0.23.0. And started seeing the error after the restart. The error popup appears on each boot.
It seems related to PowerToys Run as disabling and enabling it again in t

[2020-10-02 10:43] dbartholomae opened #6973 "[FancyZones] Allow to change keyboard shortcut for stretching a Window across zones to Win+Shift+Arrows"
## 📝 Provide a description of the new feature

At the moment, the only way to stretch a window across multiple zones via keyboard shortcuts is Win+Alt+Ctrl+Arrows which is quite unergonomical for something that I do quite a lot. On the other hand, Win+Shift+Arrows is currently used by Windows for moving windows between screens, which can be done better with Win+Arrows and Fancy Zones anyways.
I wo

[2020-10-02 10:44] enricogior commented on #1563
On second thought, this is still useful even when the editor will support multi monitor because it will automatically auto select the current monitor in the editor, otherwise the users will have to open the editor, move the mouse to the primary monitor, select the desired monitor in the editor.
My suggestion is to reorganize the FZ option, leaving the most common directly available and grouping th

[2020-10-02 10:45] enricogior commented on #1765
Is this still happening with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 10:47] enricogior commented on #1861
@lscheffler
is this still happening with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 10:51] enricogior commented on #1867
I think we should consider some type of feedback to inform the user that there are no active zonesets on the current monitor, rather than simply not doing anything.
For example a small overlay on the top-left of the screen that says "No layout selected" or something similar.

[2020-10-02 10:52] acseven commented on #1765
So far I haven’t seen it happening, but in the previous release this was already a very rare occurrence when compared to the initial report.
I would affirm it’s ok for now and return with info if an issue does occur.
Thanks

[2020-10-02 10:56] enricogior commented on #1945
Closing this since we are implementing multi-monitor support https://github.com/microsoft/PowerToys/pull/6562

[2020-10-02 10:56] #1945 closed

[2020-10-02 10:58] enricogior commented on #2070
@bigjohn99999 @Blueric
is this still happening with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 11:00] enricogior commented on #2139
This has been fixed in a previous release.
If is still happening with 0.23 https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe
please reopen it.

[2020-10-02 11:00] #2139 closed

[2020-10-02 11:00] enricogior commented on #2172
@NSExceptional
is this still a problem with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 11:02] enricogior commented on #2207
Since in Editor v2 the UI will change significantly, closing this as won't fix for this version of the Editor.

[2020-10-02 11:02] #2207 closed

[2020-10-02 11:05] enricogior commented on #2560
@wjbuys
is this still happening with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 11:17] enricogior commented on #2957
Closing as duplicate of https://github.com/microsoft/PowerToys/issues/311

[2020-10-02 11:17] #2957 closed

[2020-10-02 11:18] enricogior commented on #4451
@aybe
is this still a problem with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 11:20] enricogior commented on #4336
@Huseriato
is this still happening with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 11:23] enricogior commented on #4176
@Huseriato
is this still happening with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 11:25] enricogior commented on #4091
There is nothing that can be done in FZ to avoid this problem.

[2020-10-02 11:25] #4091 closed

[2020-10-02 11:33] enricogior commented on #3776
@AhmedHemdan21
we cannot reproduce this problem.
Is this still happening for you with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 11:40] htcfreek commented on #6970
Related to #1607.

[2020-10-02 11:42] #6825 closed

[2020-10-02 11:44] enricogior commented on #6768
@herkyjerky
is still not working for you? Can you verify using 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 11:47] enricogior commented on #6730
@ItsReizka
have you already updated to 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

Can you also be more specific in the repro steps?
The attached screen capture is not helping, it's not clear what are the action. Can you please use the Windows built in Steps Recorder?

[2020-10-02 11:53] enricogior commented on #6631
Closing as external.
Adding a reference to a similar app https://github.com/microsoft/PowerToys/issues/6771

[2020-10-02 11:53] #6631 closed

[2020-10-02 11:55] sardauker opened #6974 "FancyZones overlapping zones"
Last release deleted my custom layout with overlapping zones, and I can't recreate them with the new editor.
I now need to stretch manually everytime the windows created.

Can we please rollback on that?

---

If you'd like to see this feature implemented, add a 👍 reaction to this post.

[2020-10-02 11:55] enricogior commented on #1765
@acseven
I'll close it for now, but please reopen it if it will happen again.
Thanks.

[2020-10-02 11:55] #1765 closed

[2020-10-02 11:57] sardauker commented on #6948
Had you overlapping zones? The same occurred to me, but I think it's because new release's editore can't manage them.

[2020-10-02 11:59] enricogior commented on #6974
@sardauker
can you please upload `%localappdata%\Microsoft\PowerToys\FancyZones\zones-settings.json`? (you will have to rename the `.json` extension to `.txt` or just post the content of the file).

Can you please explain what is preventing you from recreating the layout?

[2020-10-02 12:01] enricogior commented on #6948
@sardauker

The editor can manage overlapping zone:

![image](https://user-images.githubusercontent.com/3206696/94920998-b0670580-04b7-11eb-99ae-511f0ad22b68.png)

[2020-10-02 12:04] enricogior commented on #6247
Unfortunately FZ cannot fix this since it's a mix of Windows bug and third party application design.

[2020-10-02 12:04] #6247 closed

[2020-10-02 12:05] enricogior commented on #5935
@jeremy-cain
is this still happening with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 12:06] sardauker commented on #6974
Thank you.

The new layout is of no use to upload, because I have now recreated the zones from scratch.

The new release's editor only allow to drag partitions between zones, not allowing them to be more than 100% in width or eight.
It is basically a single window partialized.
Before that, I had, i.e. four zones, clockwise: w60h55, w50h55, w50h50, w55h50.
They were four windows, slightly overlappi

[2020-10-02 12:12] enricogior commented on #6974
@sardauker

Did the editor alert of an invalid layout?
If not, please upload the file since it may still contain useful information.

100% relative to what?
Can you please elaborate, maybe with a drawing that shows the screen and the desired zones layout?

[2020-10-02 12:14] enricogior commented on #5042
@abqnm
is this still happening with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 12:16] enricogior commented on #4939
Closing this since we don't have a way to determine if a child window should be snapped or not.

[2020-10-02 12:16] #4939 closed

[2020-10-02 12:17] enricogior commented on #4915
@guyrleech
is this still happening with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 12:20] enricogior commented on #4679
Tracked in https://github.com/microsoft/PowerToys/issues/6611

[2020-10-02 12:22] sardauker commented on #6974
1) nope. it reverted to a default 3 columns. I can't find such a path or such a file. I am running all the tree, but.

2) width or heigth. here's a BAD drawing.
![20201002_141758](https://user-images.githubusercontent.com/33640924/94922518-a98dc200-04ba-11eb-90db-2da44fb64f9f.jpg)

Is there a way to create overlapping zones with the new editor?

[2020-10-02 12:26] sardauker commented on #6948
It does not seem so in on my pc with the last editor.
okay, my fault, sorry, I'll take forth the other issue. :)

[2020-10-02 12:34] niels9001 commented on #6884
@crutkas Seems that these .SVGs are generated in Sketch. I'm running into some issues editing these since everything is transformed to shapes, instead of text.

Is there a way to get the actual design file? Would be good to have that as a resource in the repo anyways?

[2020-10-02 12:44] framctr opened #6976 "[KBM] Map to custom keys / diacritic character, not just keycode"
I would like to use Keyboard Manager to map some shortcuts to keys that currently are accessible only from the "Windows Character Map" application. Specifically I would like to map `AltGr + '` to ``` ` ``` and `AltGr + ì` to `~`.
I know that the Keyboard Manager enables only to map to keyboard keys, but allowing also custom characters would be such a great feature for a programmer.

[2020-10-02 13:01] #6625 closed

[2020-10-02 13:19] rosearian commented on #6896
@alekhyareddy28 i tried searching for wreckfest with powertoys run and i can't find it but i also cant find it in the normal windows startmenu so it probably isnt added to the start menu. i wasnt using PT at all when the crash occured it just opened the crash report after i started the download. it was probably fixed with "Stopped PT Run from interfering with an install" change in the latest updat

[2020-10-02 13:20] enricogior commented on #6974
What is that doesn't work for you? As you can see in the screen capture, the editor allows to create zones that overlap.

![overlapping-zones-small](https://user-images.githubusercontent.com/3206696/94927524-b1516480-04c2-11eb-916f-81b382672b6a.gif)

[2020-10-02 13:23] enricogior commented on #3415
@draugvar @technoicon @warsix4 @dw2546
is this still happening with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 13:25] enricogior commented on #3080
@Andriy2
is this still happening with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-02 13:29] Jay-o-Way commented on #6941
The Z-index is also mentioned in #85. As for the solution; do you have a suggestion? The current update method shows a Windows that shows the process too.

[2020-10-02 13:33] Huseriato commented on #4336
I will test this in monday and report you the current behaviour.

[2020-10-02 13:34] Huseriato commented on #4176
I will test this in monday and report you the current behaviour.

[2020-10-02 13:47] htcfreek commented on #6972
@1pratham
Have you tried to fix it by reinstalling PowerToys?
For me that looks like there was something going wrong while installing/updating PowerToys.

[2020-10-02 13:49] Poopooracoocoo commented on #4939
feel free to ignore the snap bug.

[2020-10-02 13:52] Aaron-Junker commented on #965
@crutkas @enricogior I think we implmented this good. But what do we need more?

[2020-10-02 13:53] vitormd commented on #6964
Same problem, here is my `zone-settings.json`:

[code]

[2020-10-02 13:56] enricogior commented on #965
@Aaron-Junker
I'll close it.

[2020-10-02 13:56] #965 closed

[2020-10-02 13:58] enricogior commented on #6964
@taspeotis
how many monitors do you have?

[2020-10-02 14:00] scottrudy commented on #6941
@Jay-o-Way Considering there is a Winforms dialog too, I don't see the point of the toast. I think the progress could just be shown there. I mentioned the toast to Clint via Twitter during the last release and he [suggested I post an issue here](https://twitter.com/ClintRutkas/status/1304070175885459457).

[2020-10-02 14:00] muzam1l commented on #5813
Seems to be fixed in v0.23.0, closing..

[2020-10-02 14:00] #5813 closed

[2020-10-02 14:01] htcfreek commented on #1032
@enricogior

I like the idea with the individual drop down menu. With this menu thes simple commands are near by the template.

@niels9001
Will the new UI be compatible to older Win10 versions too or do we need to have two editors supported?

[2020-10-02 14:07] vitormd commented on #6964
If your were to ask me, 2 ;)

[2020-10-02 14:07] scottrudy commented on #6941
Here's another suggestion if you must have a toast with a progress bar. Hide/Minimize it after it displays for a few seconds. The last install I ran there was a problem with the uninstall, so that toast remained there for minutes, not seconds.

[2020-10-02 14:18] Jay-o-Way commented on #6941
I do not disagree with you. I've seen a few other issues (closed in the mean time) about the amount of toasts. They can be tweaked in several ways. I personally don't mind one or two of them, as long as they will be cleaned up when they are no longer needed.

[2020-10-02 14:40] herkyjerky commented on #6768
Thanks Enrico.  It’s been remembering my fancyzone in .21 but failing to start with windows (even though it’s in my startup and toggle is on).  ‘Check for update’ button wasn’t working in .21.

I updated to .23 and ‘check for update’ is working so I’m optimistic.

From: Enrico Giordani<mailto:notifications@github.com>
Sent: Friday, October 2, 2020 4:44 AM
To: microsoft/PowerToys<mailto:PowerToys@n

[2020-10-02 14:42] enricogior commented on #1032
It makes more complicated to have a good accessibility for keyboard and for touch.
We need to simply things, we are a small team, first goal should be "less complexity".

[2020-10-02 14:44] enricogior commented on #6964
@vitormd
yes, sorry wrong alias.
Are you using the "Allow zones to span across monitors" option?

[2020-10-02 14:46] enricogior commented on #6768
@herkyjerky

It shouldn't be there.
We use a scheduled task for starting it.

[2020-10-02 14:49] ukidabek commented on #6964
I have one screen. I use multiple windows wirtual desktops.

[2020-10-02 14:51] vitormd commented on #6964
Yeah, with the same scalling... Just to be clear. The problem is the custom layout not being saved for the next reboot and having to re-apply everytime.

Thx BTW

[2020-10-02 15:07] JoeBrockhaus opened #6977 "MBP Retina 100% Scale - 4 x 4 Template Saves + Operates - Invalid Data Error on Win + ` + Template Erased"
## ℹ Computer information

- PowerToys version: 0.21.1
- PowerToy Utility: Fancy Zones
- Running PowerToys as Admin: Yes
- Windows build number: [run "winver"]: V2004 B20221.1000

## 📝 Provide detailed reproduction steps (if any)

1. Edit Rows Template
1. Add 4 columns to top + bottom
1. Save with name `MBP Retina 100% - 4x4`
1. Close Fancy Zones
1. Arrange windows successfully
1. Press Win + ` to

[2020-10-02 15:14] alekhyareddy28 commented on #6823
removing the in-progress label as it has been de-prioritized.

[2020-10-02 15:34] Colin1980 opened #6978 "Keyboard manger - Option to map a key to do nothing"
## 📝 Provide a description of the new feature

I have been asked on a couple of occasions to find a way to stop Caps lock from get hit accidentally, or stop it from being used completely.

So a way to set Cap lock to a "Do Nothing" option in Keyboard Manager would be useful for for this, Just use the Shift key to Uppercase a letter as needed.

Thanks for the Great work you all have been doing so f

[2020-10-02 15:42] sardauker commented on #6974
Not at the present, not since the update. I'll wait next, maybe something I botched.

[2020-10-02 15:43] sardauker commented on #6974
thank you

[2020-10-02 15:43] #6974 closed

[2020-10-02 15:47] enricogior commented on #6964
@vitormd
if you turn "Allow zones to span across monitors" OFF and apply two layouts to the two monitors, will they survive a reboot?

[2020-10-02 15:49] enricogior commented on #6964
@ukidabek
can you make sure you don't have "Allow zones to span across monitors" ON?

Also, upload `%localappdata%\Microsoft\PowerToys\FancyZones\zones-settings.json`

[2020-10-02 16:02] dacowan commented on #2070
It appears to be working.  I only installed 0.23 yesterday, but for the most part - it appears to be working across multiple discrete displays (docking areas spread across displays too), supporting Microsoft Virtual Desktop and not losing window positions when switching off Display Port monitors or sleeping.

By Jove, I think they've got it!

[2020-10-02 16:02] abqnm commented on #5042
Yes, but not because it is a bug, but because the way the gesture is activated changed. It is actually much better now than the original method, but at the time the change to how to activate wasn't explained, so I didn't realize it was an intentional change.

[2020-10-02 16:02] #5042 closed

[2020-10-02 16:03] niels9001 commented on #6941
#6751 could be a nice place for the update progress to show.

[2020-10-02 16:09] enricogior commented on #6977
@JoeBrockhaus
can you please update to 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe
After updating try again and let us know if this is still a problem.
Also consider testing with a 8 zones grid.

[2020-10-02 16:18] saahmedm commented on #6978
This is actually a duplicate issue: #2215. Currently you can actually map the key to a null / or unused key to achieve this. but we're working on improving this

closing.

[2020-10-02 16:18] #6978 closed

[2020-10-02 16:21] whpac commented on #5992
I can think of it as assignment: (shortcut) -> (output character), like you would be able to assign Alt Gr+- to enter an en-dash or Alt Gr+" to enter i.e. ”

[2020-10-02 16:23] saahmedm commented on #6961
hi @jiankeabcd, this is a duplicate issue: #6276

closing as duplicate

[2020-10-02 16:23] #6961 closed

[2020-10-02 16:24] saahmedm commented on #6276
No, this is a different ask!

[2020-10-02 16:27] vitormd commented on #6964
Was about to test that, but will have to wait til i'm done working. Updates later today

[2020-10-02 16:32] crutkas commented on #6046
is this unblocked now?  we have the files in

[2020-10-02 16:33] crutkas commented on #6476
@mrwilford did the 0.23 release fix this?  the exe should have forced a fix here.

[2020-10-02 16:33] TheSimArchitect commented on #5992
If we could have an output string instead of character it would be better, since that would allow for us to paste entire sequences like words etc.

[2020-10-02 16:35] #6851 closed

[2020-10-02 16:36] arjunbalgovind commented on #6046
Yes, I can start working on the changes for it

[2020-10-02 16:54] jp-stewart commented on #6948
Sure, but you should know I have already completely reset / fixed the error listed above since I needed this to function for work.
(Since windows resets ALL my window positions EVERY day to one monitor, FancyZones is how I put it all back, so had to fix this.)

(Also note, had to rename for upload to work.)
[zones-settings.txt](https://github.com/microsoft/PowerToys/files/5319297/zones-settings.tx

[2020-10-02 16:56] jp-stewart commented on #6948
I did not have any overlapping zones.
One zone on left monitor, one zone center monitor, two non-overlapping zones on monitor-right-1, two non-overlapping zones on monitor-right-2.

[2020-10-02 17:02] ghost opened #6980 "[VideoConferenceMute] Display toolbar on ONLY second monitor"
Pretty much the title, currently the only options are on primary or all, whilst most people probably want only secondary, if they have one...

[2020-10-02 17:10] enricogior commented on #6948
@jp-stewart
do you have or did you have "Allow zones to span across monitors" ON?

[2020-10-02 17:16] enricogior commented on #6948
@jp-stewart
forget about the previous question.
The problem that I see is caused by a previous bug being fixed (we where assigning a wrong ID to the monitors).
If you do a clean up of the settings and reset all the zones, the problem should not present itself again.

 - quit PowerToys
 - in command prompt run `del %localappdata%\Microsoft\PowerToys\FancyZones`
 - restart PowerToys
 - set your FZ o

[2020-10-02 18:22] bickthepickle commented on #4939
Interesting reason, "Closing this since we don't have a way to determine if a child window should be snapped or not." I find it interesting since child windows snapped before v0.19. So, there is a way to make them snap. So, the reason for closure is actually that you do not know how to make it snap without breaking other features that have been prioritized over this design limitation introduced in

[2020-10-02 18:28] jp-stewart commented on #6948
@enricogior Ok, thanks. I have done this, and defined everything over again.

Will have to now wait for the next update to see if the options stick again.

This was a painful workaround though since the command above also removed all of my custom definitions as well.

[2020-10-02 18:41] mrwilford commented on #6476
Awesome to hear, well done guys! My issue resolved after a reinstall of 0.21 and I haven't tried 0.23 yet. I'll comment here if the same issue returns.

[2020-10-02 19:41] crutkas commented on #4939
@bickthepickle, i think you should assume best intent here versus us not caring.  Trust me, we care a lot.  While this may affect you, no one piled onto the issue bug.  We haven't gotten additional issues logged or people commenting on this.  We really do our best to be data driven here.  We do our best to consulate duplicate issues and pay attention to trends.

We can't introduce behavior that th

[2020-10-02 19:53] rblinzler opened #6983 "Settings are completely unresponsive"
I have had PowerToys running on my PC for several versions now, however, I have never been able to bring up the settings dialog.
Right-clicking on 'Settings' would have no effect.,
I just installed version 0.23.0, and for the first time, the settings dialog / menu comes up, but is completely unresponsive. I'm shown the 'General' tab, but am unable to make any changes, including which tab I'm on. C

[2020-10-02 20:00] crutkas commented on #6946
@rgisler, can you do some screenshots of
C:\Program Files\PowerToys
C:\Program Files\PowerToys\modules\FancyZones

[2020-10-02 20:14] Vivek-Raman commented on #3373
Hi, I'd like to try to work on this enhancement. I'm new to this project, but I'm willing to give it a shot.

[2020-10-02 20:14] niels9001 opened #6984 "[FancyZones editor] Add error window"
Whenever FZ editor crashes, it generates a log file and a dialog that tells the user where to find it.

What's annoying, is that you need to navigate to the file manually (there's no way to copy-and-paste the path).

PT Run has an error window that has some benefits:
1) Shows you the error so you don't need to open the log file.
2) The log file path is can be selected (and copied).
3) Inline link

[2020-10-02 20:19] rgisler commented on #6946
PowerToys:
![image](https://user-images.githubusercontent.com/206613/94966288-4e30f380-04fd-11eb-87ab-66a9963f320a.png)

FancyZones:
![image](https://user-images.githubusercontent.com/206613/94966340-61dc5a00-04fd-11eb-9fe7-f22ef3dade7d.png)

[2020-10-02 20:37] ItsReizka commented on #6730
Ah, I didn't know that there was a new version. Since when I clicked "Check for Updates" under the Updates area...It said that I had the latest version...maybe it was a bug or something??? But anyways....instead, what I did was uninstall it (the v.0.22.0) and installed the link you gave me. It now works perfectly :DD Thank you so much for your prompt replies! 👍 :)

[2020-10-02 20:37] #6730 closed

[2020-10-02 20:46] enricogior commented on #6730
@ItsReizka
0.22 didn't notify of 0.23 because 0.22 contains the VideoConferenceMute module that is still experimental and not present in 0.23.
If you need the VideoConferenceMute module, next week we will release 0.24 that will be based on 0.23 plus some bug fixes for the VideoConferenceMute module.

[2020-10-02 20:53] enricogior commented on #6948
@jp-stewart
sometimes we makes fixes that may not always preserve backward compatibilities, it's the cost of open source projects with limited resources and testing, on the other hand we do one release a month that would be impossible if this was not an open source project with the help of testing from the community.

I'll close the issue for now, feel free to reopen it if needed.
Thanks

[2020-10-02 21:00] Yuhanun opened #6985 "Unique pointer construction modernization"
## 📝 Provide a description of the new feature

Currently there's some unique pointers in the project that are being pushed to vectors using push_back, and constructed using std::unique_ptr's constructor, rather than std::make_unique. I'd like to see this changes to emplace_back and std::make_unique due to both performance and code readability reasons.

---

If you'd like to see this feature implem

[2020-10-02 21:18] rolltidehero commented on #6789
The latest version that any of the servers on my domain is Windows 2016, so I know those won't work.

@Jacob-o What version of Server 2019 are you running (winver)

[2020-10-02 21:46] ryanbodrug-microsoft commented on #5209
I need to address some pr comments, and get @alekhyareddy28 to verify a change in imageresizer setting name, as I'm not sure what backwards compatibility would be broken.   Maybe settings v1

[2020-10-02 21:47] ryanbodrug-microsoft commented on #5209
Once she is back from the conference.

[2020-10-02 22:17] crutkas commented on #6789
looks like @royvou is one step ahead.  It is API Contract 8 which should be in:

We can tweak the installer to work with server but the API contract goodness would still not allow anything to work that is a newer PT due to Settings requiring XAML Islands.

Windows Server, version 1903 (Semi-Annual Channel) (Datacenter Core, Standard Core)
1903
18362.30.190401-1528

[2020-10-02 22:33] theRealKLH commented on #6396
just came here for the same reason. no camera. VC option off but every restart pops toolbar.

[2020-10-02 23:58] crutkas commented on #3407
Run WPF_XAMLIslands_v1.exe

[netcoreapp3.1.zip](https://github.com/microsoft/PowerToys/files/5320779/netcoreapp3.1.zip)

[2020-10-03 00:08] crutkas commented on #3397
@quyleanh, that is exactly why we put that label on to see if a community member may be able to help correct the behavior.  Crashing stability issues are taking priority as is localization.  Remapping is hard. @arjunbalgovind tried a few things but we shifted to other work currently.

[2020-10-03 00:13] crutkas commented on #5555
i believe this is fixed now since the September release.

[2020-10-03 00:13] crutkas commented on #5555
@RobinKite / @Archer357 with 0.21 or 0.23, are you still seeing this?

[2020-10-03 00:51] Kennya1 commented on #6545
Done the same issue but a new json

{
  "devices": [
    {
      "device-id": "ACI27C3#5&a8a299&2&UID264_1920_1080_{00000000-0000-0000-0000-000000000000}",
      "active-zoneset": {
        "uuid": "{0E5C58C7-CAFE-4917-9B8F-2ADC84EC3242}",
        "type": "priority-grid"
      },
      "editor-show-spacing": true,
      "editor-spacing": 16,
      "editor-zone-count": 3,
      "editor-sensitivity-

[2020-10-03 00:53] torontob commented on #6631
Wow, FancyZones team, as you can see this is becoming a popular ask. Markets and specially IBKR TWS is the perfect software to use with FancyZones. Extending the window detection feature and improving it I assume should be considered as an important improvement. Please talk with others to see if this vibe checks and hopefully gets a go ahead.

[2020-10-03 00:57] Kennya1 commented on #6545
I was able to manually change the json file for it to work but clearly, there is an issue  here is the altered file

{
  "devices": [
    {
      "device-id": "ACI27C3#5&a8a299&2&UID264_1920_1080_{00000000-0000-0000-0000-000000000000}",
      "active-zoneset": {
        "uuid": "{18979BCE-8690-4A1C-9559-9AAF583902C2}",
        "type": "custom"
      },
      "editor-show-spacing": true,
      "edi

[2020-10-03 01:01] #6205 closed

[2020-10-03 01:01] #5510 closed

[2020-10-03 01:01] #5474 closed

[2020-10-03 01:42] wjbuys commented on #2560
Just updated, and it looks like it's fixed 🎉 Nice job!

[2020-10-03 01:51] Archer357 commented on #5555
I have not seen this issue come back so far, The color picker does make lots of logs, but each are below 200kb per day, most are ~16kb, so i think its working as intended now.

[2020-10-03 02:04] brad8898 commented on #6771
I have found a window manager app in the Windows store that works well with TWS.  The app is called "Snap It", and can be found here: http://enginkirmaci.com/projects/snapit.  It is written and maintained by a young developer based in Turkey, who seems to have figured out by himself how to make this work.

I would prefer to use FancyZones, but for now, Snap It is a fairly polished piece of softwar

[2020-10-03 03:08] alannt777 commented on #6751
I suggest that we should have a taskbar icon that would be consistent with these kinds of icons (White/Dark outline depending on your color theme and no fill):

![ToShow](https://user-images.githubusercontent.com/67918878/94981831-0046da80-0553-11eb-8947-3c73a030878b.png)

[2020-10-03 03:15] aybe commented on #4451
@enricogior

Unfortunately, yes, it is still happening:

![Microsoft PowerToys Settings UI Runner_2020-10-03_05-12-33](https://user-images.githubusercontent.com/1537591/94981970-1646a200-0537-11eb-9b01-2a6262970c54.png)

[2020-10-03 04:03] alannt777 opened #6989 "Full featured Git client maybe as an optional feature"
## 📝 Provide a description of the new feature

_What is the expected behavior of the proposed feature?  What is the scenario this would be used?_

A full-featured Git client integrated into PowerToys.

Not all PowerToys users are developers. So this PowerToy can be an optional one where you can choose to install it when you install PowerToys or decide to install it later. All other PowerToys would

[2020-10-03 04:27] Cyberdroid1 commented on #6926
What about adding it in Releases page?

[2020-10-03 04:33] Erincian opened #6990 "Video Conference bug"
## ℹ Computer information

- PowerToys version:  v0.22.0
- PowerToy Utility: Video Conference
- Running PowerToys as Admin: True
- Windows build number: 19041.508

## 📝 Provide detailed reproduction steps (if any)

1. Avery single time after running windows

### ✔️ Expected result

Disabled Video Conference -> No toolbar

### ❌ Actual result

Toolbar apears even I turned Video Conferenve off

[2020-10-03 06:43] tonymitchell commented on #2447
It appears to be caused by an ArgumentException that occurs when cloning the metadata to the new BitmapFrame. I was able to workaround the issue by attempting to clone the metadata inside a try-catch block and then passing a null metadata into BitmapFrame.Create.  It enables you to successfully resize the image, but you lose the metadata in the process. I'm happy to submit a PR with the change, bu

[2020-10-03 07:01] #6577 closed

[2020-10-03 07:05] logisj91 commented on #6964
I currently have the same issue and I have a single monitor. Settings do not persist between reboots, neither spacing nor layout, aside from the layout type I picked, Priority Grid.

[2020-10-03 07:16] MecuSorin commented on #3407
Downloaded, unblocked, unzipped, run _c:\Users\Sorin\Downloads\netcoreapp3.1\WPF_XAMLIslands_v1.exe_ went through every tab (from left to right), systematically interacting with everything I could in those tabs until the **Media** tab. There the app froze.
Started again, the app froze from beginning.
Recorded a session with the app freezing on the 3rd run:
[XAMLIslandsFreezing.zip](https://github.

[2020-10-03 08:38] enricogior commented on #6964
@logisj91
please upload `%localappdata%\Microsoft\PowerToys\FancyZones\zones-settings.json`

[2020-10-03 08:40] enricogior commented on #6990
Already tracked in https://github.com/microsoft/PowerToys/issues/6246

[2020-10-03 08:40] #6990 closed

[2020-10-03 09:01] enricogior commented on #6545
@Kennya1
thanks for uploading the json, there are two problems there, one is our bug, the other is a Windows bug for which we are working on a workaround but it won't be available before November.

The fist issue is with the zeros in `"ACI27C3#5&a8a299&2&UID264_1920_1080_{00000000-0000-0000-0000-000000000000}"`
There should be a valid GUID instead. It is supposed to be fixed in 0.23, are you runni

[2020-10-03 09:02] enricogior commented on #2560
@wjbuys
thanks.

[2020-10-03 09:02] #2560 closed

[2020-10-03 09:18] logisj91 commented on #6964
[zones-settings.txt](https://github.com/microsoft/PowerToys/files/5321347/zones-settings.txt)

Here's the zones-settings.json after configuration

[2020-10-03 09:23] logisj91 commented on #6964
It would seem that I currently cannot recreate the error. I have rebooted once with "Restart" and once with "Shift+Shutdown" and waiting 10 seconds and starting up, it still retains fancyzones as intended. But when I started it up this morning, it had not retained the configuration.

[2020-10-03 09:24] Tom999Hall commented on #586
A local backup (only), is too easy to forget & gets trashed by a clean install - MSA sounds a good way to go !

[2020-10-03 09:39] enricogior commented on #6631
@torontob
at present, we simply don't have the resources to redesign the way FZ works.
Other snapping tools use a different approach that works for this kind of apps, it's a question of trade-off.
FZ does a few things well, other less well. It's true for any tool.
We would like to not have any limitation but that is just unrealistic.
We welcome community contributions if some wants to dig into how

[2020-10-03 09:46] enricogior commented on #6964
@logisj91
the problem you experienced might have been caused by a change we made in 0.23 to make sure the DevideID never contains zeroed GUIDs.
Your zones setting file now looks good and you should not experience anymore this problem.

[2020-10-03 09:49] #1004 closed

[2020-10-03 09:50] enricogior commented on #1104
@bartjeeh
is this still not working with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-03 10:00] enricogior commented on #6631
Linking this issue https://github.com/microsoft/PowerToys/issues/2634 since it's related.
TWS doesn't even raise the EVENT_OBJECT_LOCATIONCHANGE event.

[2020-10-03 10:12] bartjeeh commented on #1104
Hey Enrico,

It appears to be working perfectly now! Thanks for taggin me, i didn't know
the software doesn't auto update.

Kind regards

On Sat, 3 Oct 2020 at 11:51, Enrico Giordani <notifications@github.com>
wrote:

[2020-10-03 10:14] pmtate opened #6991 "FancyZones only lets you set left and right of three zones"
## ℹ Computer information

- PowerToys version: 0.23.0
- PowerToy Utility: FancyZones
- Running PowerToys as Admin: No
- Windows build number: 19041.508

## 📝 Provide detailed reproduction steps (if any)

1. … FancyZones has three zones set Priority Grid
2. … Shift key down, drag app to left and sticks
3. … Shift key down, drag app to right and it sticks
4. … Shift key down can't set app into prim

[2020-10-03 10:28] pmtate commented on #6991
Seems to be an issue with Chrome only, Version 85.0.4183.121 (Official Build) (64-bit), works as normal with Chromium Edge, OneNote and Excel

[2020-10-03 10:40] P-Storm commented on #6776
Wanted to add for when someone is making a plugin for this. Everything has a [SDK](https://www.voidtools.com/support/everything/sdk/) that can be hooked in. For file finding, I would look to `IQueryFileSystemInfo` and replace that call for the file information. Note that this doesn't handle the wildcarding/regex itself, but it would be a start.

I don't see a possible that this would be included i

[2020-10-03 10:45] joshco commented on #154
Request: Ability to add user defined shortcuts to the display.

It's incredibly useful to have a quick, simple way to show shortcut info, like a HUD.  I have my own user defined shortcuts, and I also have a keyboard with addition G keys.
If I could list G1 - Launch Visual Studio, etc

I'm not asking for the tool to handle the actual configuration of the shortcut, just display information I give it

[2020-10-03 11:03] Kennya1 commented on #6545
I  apologize but my knowledge of json is limited.  But from your explanation, you did not mention that I manually change the entry on each monitor to "uuid": "{18979BCE-8690-4A1C-9559-9AAF583902C2}", and  "type": "custom".  Also, I do not know if this is an issue since it seems to be working but I have 4 monitors and the json file created by FancyZone only has information on 3 monitors

[2020-10-03 11:34] P-Storm commented on #6989
How do you see this for you? I see the following possibilities:

* Made available through PT run as a separate plugin. I would not recommend this because the functionality of folder should be in the Folder plugin
* make a extra entry in the Folder plugin. In case of a folder it can scan if it is a git repository.

The question remains for the following things:
* What git client are we going to sup

[2020-10-03 12:10] vitormd commented on #6964
It worked after restarting twice. The one I switched the setting plus 1

[2020-10-03 12:21] andyfrei commented on #6721
![DualScreen2](https://user-images.githubusercontent.com/34942482/94991234-fdafa980-0581-11eb-84d1-b16ad0256f25.jpg)
![DualScreen1](https://user-images.githubusercontent.com/34942482/94991235-fee0d680-0581-11eb-8a5f-9217be851706.jpg)
![DualScreen3](https://user-images.githubusercontent.com/34942482/94991403-461b9700-0583-11eb-9b66-5d9f8f756e6f.jpg)
![DualScreen4](https://user-images.githubusercont

[2020-10-03 12:51] 29axe commented on #6886
Tried it but it doesn't log this information. I also tried to reboot.

[2020-10-03 12:56] LiorBanai opened #6993 "Log parser for PowerToys"
(Not sure under which category/where to put this...)

Hi All,

I have created log parser for the logs created by PowerToys.
It may be relevant/usefull for troubleshooting issues and errors.

I have multi purpose log application at [Analogy Log Viewer](https://github.com/Analogy-LogViewer/Analogy.LogViewer)
  A also created dedicated Parser at [Analogy.LogViewer.PowerToys](https://github.com/Analog

[2020-10-03 13:01] #1781 closed

[2020-10-03 13:03] P-Storm commented on #6847
It isn't build into windows to detect these changes, so the following options are available

* restart PowerToys
* restart pt run button somewhere
* Scan every N time interval to reload changes
* Do some [registry watching] (https://www.codeproject.com/Questions/90085/Monitor-changes-to-an-environment-variable).

I think the use case is not met so much for the average user.

[2020-10-03 13:06] alannt777 commented on #6989
Well I am not an expert in the technical side of things, but I can give you some ideas:

- Visualize Git History (like [this](https://marketplace.visualstudio.com/items?itemName=donjayamanne.githistory) VS Code extension)
- A button to open your shell in the repo folder (Preferably in the Windows Terminal)
- All those actions like `git push`, `git clone`, `git fetch` and ability to change branches

[2020-10-03 13:12] Aaron-Junker commented on #6993
Oh wow. Great work.

[2020-10-03 13:33] royvou commented on #6789
Remember this version does not have any of the GUI/desktop stuff in. 👍 (login to this version opens a command prompt only)

[2020-10-03 14:08] YogurtZebra opened #6994 "Sometimes the hotkey of Shortcut Guide doesn't work."
## ℹ Computer information

- PowerToys version: 0.23
- PowerToy Utility: Shortcut Guide
- Running PowerToys as Admin: Yes
- Windows build number: 19042.508

## 📝 Provide detailed reproduction steps (if any)

 I have set the press duration to 400ms. But nothing happened when I keep pressing the windows key, except the start menu popped up.

This problem have been shown since the 0.20 release.

Some

[2020-10-03 14:11] ITCMD opened #6995 "Power Toys Uninstalled itself Overnight"
- PowerToys version: Unknown, installed about 4 weeks ago from releases.
- PowerToy Utility: Main program
- Running PowerToys as Admin: True
- Windows build number: 1909 18363.1082

1. Have PowerToys installed
2. It's missing from my PC
3. Nothing in Start, task manager startup, program files are gone.
4. 100% sure it was not uninstalled by a user.

[2020-10-03 14:13] ITCMD commented on #6995
`%appdata%\..\Roaming\Microsoft\PowerToys` still exists.

[2020-10-03 14:18] crutkas commented on #6993
@ryanbodrug-microsoft and @enricogior this will be nice.

We should standardize the logs between all the .net stuff IMO.

[2020-10-03 14:22] #1104 closed

[2020-10-03 15:12] crutkas commented on #3407
Ok, that means we have a xaml island problem then ... again. Thanks for verifying.

[2020-10-03 15:14] P-Storm commented on #6989
Here an example (don't mind the ugly color problems) this is just a start mockup. Yes I'm not a graphic designer

![IMG-20201003-WA0007](https://user-images.githubusercontent.com/1581006/94995022-b2a29000-059b-11eb-9328-c831bf3a5912.jpg)

[2020-10-03 15:18] alannt777 commented on #6989
That is cool but I also like to have a window. Ability to run git commands from PT run would be cool

[2020-10-03 15:21] P-Storm commented on #6989
Maybe add a button that brings you into an interface into the client. That way there is also an extra window (or when you execute it that it opens it)

[2020-10-03 15:22] alannt777 commented on #6989
Yes, That's cool

[2020-10-03 15:23] alannt777 commented on #6989
Are you going to implement it?

[2020-10-03 15:25] P-Storm commented on #6989
Maybe, but before it can be developed there should be a plan for it. Than someone of the PowerToys team can give green light to implement it.

[2020-10-03 15:26] alannt777 commented on #6989
Ok

[2020-10-03 15:29] alannt777 commented on #6989
@P-Storm It would be awesome if you can add `Open with Visual Studio Code` or `Open with Visual Studio` (depending if the repo has solution file) buttons in PT Run

[2020-10-03 15:58] P-Storm commented on #6989
The problem with this is that everyone want a different open with command, and sometimes it is repository dependent.

To open it in visual studio code you have to scan if vscode is available on the machine. Than you don't know if vscode can do something with the source directory.

So the question is, how are we gonna support `open with x` for all possible repositories. And there is no default way

[2020-10-03 16:01] TobiasSekan opened #6996 "[ColorPicker] Add more color formats (better kown as color models)"
## 📝 Provide a description of the new feature
Web developers, designers or anybody that working with colors need more color formats (better color models) in the ColorPicker as only the RGB values

[Wikipedia - Color models](https://en.wikipedia.org/wiki/Color_model)
---

If you'd like to see this feature implemented, add a 👍 reaction to this post.

[2020-10-03 16:02] Jon999999 commented on #6964
I've observed the same issue since the update to v0.23.0, and I've noticed one additional piece of the pattern: My FZ settings revert to default on startup, but if I open FZ settings or the FZ zones editor, my previous settings reapply themselves.

For example, if I start my computer (with FZ autorun) and hold Shift while dragging a window about, I see the default FZ window layout, which are diffe

[2020-10-03 16:02] alannt777 commented on #6989
@P-Storm Ok

Then we can implement a `run command in directory`
where you can type in `code` and it will be executed as `code .` If you add arguments to the command, the "." argument will not be executed

[2020-10-03 16:05] alannt777 commented on #6989
Unfortunately I don't think that VS is in Path which will make it difficult to open a VS solution

[2020-10-03 16:46] krroach commented on #2447
Thanks for the post, tonymitchell. I am not sure which specific problem you're discussing - whether it's the problem overall, in phones and etc., or the problem specific to ON1. My thoughts are that it would be best if the reason why an ArgumentException is being thrown. I don't know which programming product you're using however, so I don't know how difficult that might be for you. But that would

[2020-10-03 16:46] crutkas commented on #6886
Can you just share the log file?

[2020-10-03 16:49] crutkas commented on #2447
Lets do the PR and give a file that fails. Let's see if we can't try a different method then to inject it back in.

[2020-10-03 17:11] DrSebastianPauli commented on #5012
Hi @enricogior

yes it is 0.23.0

I use custom grids

It is a custom grid

I also tried with the templates. Windows do not resize.

Here is the zip from the windows steps recorder
[fancy_zones_steps.zip](https://github.com/microsoft/PowerToys/files/5322032/fancy_zones_steps.zip)

[2020-10-03 17:17] mintty commented on #1050
mintty 3.4.1 will also override font zooming behaviour when Ctrl is pressed, too. So with Shift+Ctrl+movement you'd snap to a fancy zone without font zooming

[2020-10-03 17:35] rblinzler commented on #6983
Sorry everyone - after completing a reboot this morning, I found the settings to be working as they should.

[2020-10-03 17:35] #6983 closed

[2020-10-03 17:36] AmSmart commented on #6847
True though, only power users would need this functionality. The second option was really my best bet. A restart button would be great.

[2020-10-03 17:45] MatheusJOTA commented on #6605
Saaaame

[2020-10-03 19:01] #6614 closed

[2020-10-03 19:01] #5819 closed

[2020-10-03 19:08] OcamsLightsaber opened #6998 "[PowerToys Run] not working without error dialog."
## ℹ Computer information

- PowerToys version: v0.23.0
- PowerToy Utility: PowerToys Run
- Running PowerToys as Admin: Yes
- Windows build number: Version 1909 (OS Build 18363.1082)

## 📝 Provide detailed reproduction steps (if any)

1.Pressing the shortcut keys (Alt + Space)

### ✔️ Expected result

Launcher's search box appearing.

### ❌ Actual result

Nothing happens.

[2020-10-03 19:21] crutkas commented on #269
Umm, not really/easily. Do a full release compile of the project, get a coffee then iterate. If you don't do a full rebuild, should be fine. The installer itself is pretty quick to compile. KBM takes the longest typically to compile.

[2020-10-03 19:34] tonymitchell commented on #2447
I've submitted a PR.  It seems like the underlying image libraries are trying to copy the entries one by one and running into a type of metadata entry that they don't know how to handle.

The error processing the metadata doesn't seem to be limited to the Image Resizer tool.  If I try to edit the tags via the Details tab in the file Properties dialog of Windows Explorer I get a similar error:
![im

[2020-10-03 20:09] christianfosli commented on #5545
The 0.23.0-x64.exe installer worked fine for me 👍

[2020-10-03 20:37] ReedMLokken opened #6999 "Adaptable Fancy Zones"
The layout of fancyzones depends on the number of programs active

When only one program is active, win + up maximizes
Two programs, user preselects between split-screen or emphasis on either program
Three, preselection between all the configurations for three programs

If a new program opens, the rest auto-resize to the next fancy zones layout. This is intended for users that have a dynamic quant

[2020-10-03 20:46] vrubleg commented on #143
It makes sense to support APNG. Chrome, Firefox, Safari, and Edge support it properly, and it has better quality and better compression. Comparison APNG vs GIF vs WebP: http://littlesvr.ca/apng/gif_apng_webp.html

[2020-10-03 20:53] RexLuscus56 opened #7000 "FancyZones Zone Editor crashes when invoked"
## ℹ Computer information

- PowerToys version: 0.23.0
- PowerToy Utility:FancyZones
- Running PowerToys as Admin:Yes
- Windows build number: [run "winver"]Microsoft Windows NT 6.2.9200.0 (OS Build 19041.508)

## 📝 Provide detailed reproduction steps (if any)

1.In FancyZones, [Launch zones editor] …
2.Choose any Template or Custom …
3. Click [Edit selected layout]…

### ✔️ Expected result

_Edito

[2020-10-03 21:38] ZacWolf opened #7001 "Graphic format conversion please!"
## 📝 A feature to convert images between different formats. JPG to PNG, WEBP to PNG

An option for bitmap image files to convert from one format to another.

It would be awesome to support vector to bitmap later, but just conversion between different bitmap formats would be great to start!

---

If you'd like to see this feature implemented, add a 👍 reaction to this post.

[2020-10-04 00:54] zlww2n1s1s opened #7002 "I can't turn off the video conference"
## ℹ Computer information

- PowerToys version: v0.22.0
- PowerToy Utility:
- Running PowerToys as Admin: yes
- Windows build number: 19041.508

## 📝 Provide detailed reproduction steps (if any)

1. I turn off the "video conference
2. then reboot the PC
3. and, although it shows that the video conference has been turned off, it is working. **Look at the picture below!**

### ✔️ Expected result

_W

[2020-10-04 01:01] #5391 closed

[2020-10-04 02:27] alannt777 commented on #6918
A nerd font patcher would be cool considering the amount of time I spend for getting this python conda env symbol working properly:

![ToShow](https://user-images.githubusercontent.com/67918878/95005474-eff83380-0616-11eb-8729-67f54037586f.png)

[2020-10-04 02:58] Jordy3D opened #7003 "FancyZones Forgetting Custom Layouts"
## ℹ Computer information

- PowerToys version: 0..23.0
- PowerToy Utility: FanzyZones
- Running PowerToys as Admin: Yes
- Windows build number: 2004 (19041.508)

## 📝 Provide detailed reproduction steps (if any)

1. Apply custom layout
2. Reboot computer (I think, it's only happened after turning in on for the day...)

### ✔️ Expected result

My custom layout will remain unchanged between restart

[2020-10-04 03:23] crutkas commented on #3407
@mecusorin, sorry for having to bother you again here.  We know it is a XAML Island quirk somewhere, lets see if it may be a WPF vs Win32 style issue.  Before what i handed you was a WPF application as that is what we use there.

SampleCppApp.exe is the app, a msg dialog will come up and after you press it an app will load. complied version of https://github.com/microsoft/Xaml-Islands-Samples Nati

[2020-10-04 03:58] DesktopMasters opened #7004 "Update Notifications constantly even when the version is current..."
## ℹ Computer information

- PowerToys version: 0.23.0
- PowerToy Utility: ?
- Running PowerToys as Admin: Yes and also when not
- Windows build number: [run "winver"]  19041.508

## 📝 Provide detailed reproduction steps (if any)

1. I get notified for updates even when it is up to date.
2. see photo..

### ✔️ Expected result

For it to auto update its self or at least not tell me to update when t

[2020-10-04 04:43] snorlaxjones commented on #1881
What's the status of this feature?

[2020-10-04 05:37] melcheikh1 commented on #7002
I have the same issue. I always need to enable and the disable the video conference feature before the mic/camera on blocks goes away. please fix.

[2020-10-04 05:40] enricogior commented on #5012
@DrSebastianPauli
what tool are you using for the custom taskbar? Ha you tried quitting it and verify if the FZ problem still persists?

[2020-10-04 05:46] enricogior commented on #7002
Already tracked in https://github.com/microsoft/PowerToys/issues/6246

[2020-10-04 05:46] #7002 closed

[2020-10-04 05:49] enricogior commented on #7004
@DesktopMasters
what happens if you click on `Check for updates`?

[2020-10-04 05:50] enricogior commented on #7003
@Jordy3D
please upload %localappdata%\Microsoft\PowerToys\FancyZones\zones-settings.json? (you will have to change the .json extension to .txt otherwise GitHub will not allow to upload the file)

[2020-10-04 05:53] DesktopMasters commented on #7004
I get a popup that says it is up to date and a message in the dialog that says I have the latest version.  I postponed the popup I had earlier for 5 days, so hopefully I will not see it again for a while.  (:

[2020-10-04 05:55] enricogior commented on #7000
@RexLuscus56
thanks for reporting the issue, we are tracking it in https://github.com/microsoft/PowerToys/issues/6946
We haven't found the root of the problem yet.

[2020-10-04 05:55] #7000 closed

[2020-10-04 05:58] enricogior commented on #5854
@KennethScott
is this still a problem?

[2020-10-04 06:00] enricogior commented on #7004
@DesktopMasters
it seems like is a glitch in how postponed notification currently works, let us know if the notification reappears.
Keeping this open to investigate if there is a way to purge pending notification after updating to a new version.

[2020-10-04 06:03] enricogior commented on #6999
Duplicate of https://github.com/microsoft/PowerToys/issues/2694

[2020-10-04 06:03] #6999 closed

[2020-10-04 06:11] enricogior commented on #6605
@TheOnlyTails @mmvcode @eliveikis @bakershack @herzogmedia @TheFunnyBrain
is it still not working for you in 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

@MatheusJOTA
are you running 0.23?

[2020-10-04 06:14] enricogior commented on #1050
@mintty
thanks.

[2020-10-04 06:16] Jordy3D commented on #7003
[zones-settings.txt](https://github.com/microsoft/PowerToys/files/5322738/zones-settings.txt)

[2020-10-04 06:18] enricogior commented on #6996
@TobiasSekan
isn't this already covered by https://github.com/microsoft/PowerToys/issues/5379?

[2020-10-04 06:21] enricogior commented on #1104
@bartjeeh
we didn't have auto-update back then, but it does now.

[2020-10-04 06:25] enricogior commented on #6991
@pmtate
are you shift-dragging the whole Chrome window or just one tab?

[2020-10-04 06:35] enricogior commented on #6721
@andyfrei
from the screenshot you posted it seems like you are hitting the minimum width of the Chrome window.
In the last screenshot, the window is not resized, it's moved to the left so it does not have a small part on the right screen.
Try enlarging the zone width so that it's not smaller than the minimum Chrome width.
Closing this since it's not a FZ issue, because FZ cannot reduce the minimum

[2020-10-04 06:35] #6721 closed

[2020-10-04 06:39] enricogior commented on #6994
@YogurtZebra
when that happen, does `Win + ?` work? (you may have to use `Win + Shift + ?` depending on the keyboard)

Note: `Win + ?` doesn't require to be hold, and press it again to close the guide.

[2020-10-04 06:45] enricogior commented on #6995
@ITCMD
PT doesn't have the ability to uninstall itself.
The fact that the settings as still present is not relevant, since uninstalling PT doesn't delete them.

Have you check the Event Viewer for possible clues?
Are you running a third party antivirus?

I suggest you just reinstall the latest version https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-04 06:54] enricogior commented on #7003
@Jordy3D
we made a change in 0.23 that could cause to have to reassign the layouts, but it should be a one time thing after updating from 0.21.1 to 0.23.
Can you check if the layouts are still assigned after a restart?

[2020-10-04 07:12] Jordy3D commented on #7003
I thought that might have been the case after the first one, and only reported when it occurred the second time.
Just restarted and it has once again returned to default.

[2020-10-04 07:35] TheBrenny commented on #6558
**Update for version 0.23.0:**

Typing `> term node` returns a message box titled "Plugin: Shell", with the content `Error running the command: The system cannot find the file specified.`. Perhaps it's taking the entire string as argv0?

[2020-10-04 08:29] TobiasSekan commented on #6996
You are right, I haven't found this before -> close as duplicated

[2020-10-04 08:29] #6996 closed

[2020-10-04 08:31] pmtate commented on #6991
I was dragging the whole Chrome window

[2020-10-04 08:42] hl2guide opened #7006 "Keyboard Manager - Remap a Key to a Shortcut"
It would be useful for us to be able to remap a key to a shortcut, e.g.

**F5** to _Ctrl+X_
**F6** to _Ctrl+C_
**F7** to _Ctrl+V_

If you'd like to see this feature implemented, add a 👍 reaction to this post.

[2020-10-04 08:52] TheOnlyTails commented on #6605
Still not working.

[2020-10-04 09:46] martinwronski opened #7007 "Keyboard Manager - wrong shortcut detection"
Hi
I have global action mapped for shortcut: Alt+Shift+c
The problem is that action is also executed when I press Alt+Shift+Control+c
regards
Martin

[2020-10-04 12:06] jhb opened #7008 "Fresh / firsttime installation of v0.23.0 fails, but upgrading from 0.21.1 works"
## ℹ Computer information

- PowerToys version: 0.23.0
- PowerToy Utility: Installer
- Running PowerToys as Admin: -
- Windows build number: [run "winver"] 19041.508

## 📝 Provide detailed reproduction steps (if any)

1. Have a (relatively) new windows, where powertoys was never installed before
2. Download exe from github
3. Click install as normal user
4. Wait very, very long - the install never

[2020-10-04 13:11] bakershack commented on #6605
My auto upgrade looked like it upgraded to 0.23, but when I opened the app (as Administrator) it still showed 0.21.x.  I manually updated and now when I open PowerToys, it runs but only adds the icon in the task tray.  When I click on that, it does open.  I would think that the app would open fully when run from the Start Menu.

[2020-10-04 14:08] aavdberg opened #7009 "Could not start PowerToys as an administrator?"
## ℹ Computer information

- PowerToys version: 0.23.0
- PowerToy Utility:
- Running PowerToys as Admin: Yes
- Windows build number: [run "winver"] 20226

## 📝 Provide detailed reproduction steps (if any)

1. …Reboot machine
2. …getting the error Could not start PowerToys as an administrator
3. …

### ✔️ Expected result

_What is the expected result of the above steps?_Start PowerToys is started a

[2020-10-04 18:06] ITCMD commented on #6995
I figured it was not PowerToys itself, however I know Windows has been uninstalling programs and I didn't know if anyone working on this project has the ability to keep it from happening with this tool. And no, no third party Antivirus. This machine is for gaming so not much extra installed. I'll reinstall and go on with my life I suppose :)

[2020-10-04 19:15] vanshaj7-hub commented on #6980
can you assign this to me?

[2020-10-04 22:52] DesktopMasters commented on #7004
Well the 5 day snooze did not work.  I just got another popup.  What can I do to help diagnose this better?

![PowerToys 2](https://user-images.githubusercontent.com/58863524/95028985-949b6500-0659-11eb-970e-3a1f9d76eefa.png)

[2020-10-05 00:23] NSExceptional commented on #2172
No, thank you for reminding me to check!

[2020-10-05 00:23] #2172 closed

[2020-10-05 00:24] Jordy3D commented on #7003
Minor update, after shutting down for the night and then turning it on again in the morning, it returned to default once more

[2020-10-05 01:01] #6799 closed

[2020-10-05 01:01] #6772 closed

[2020-10-05 01:01] #5674 closed

[2020-10-05 02:41] torontob opened #7010 "Requesting feature to detect / support unconventional dragging of Windows in some programs"
## 📝 Provide a description of the new feature

_What is the expected behavior of the proposed feature?  What is the scenario this would be used?_
Programs such as IBKR TWS have custom window formats and their dragging doesn't get registered by PowerToys and so they don't snap into FancyZones.

FancyZones are probably the most used feature of PowerToys. Adding "unconventional window drag" support w

[2020-10-05 02:43] torontob commented on #6631
Thanks for the feedback.

Did you mean a feature request or a bug? I opened a feature request. Please move it to where needed:
https://github.com/microsoft/PowerToys/issues/7010#issue-714468756

[2020-10-05 02:44] kensonman commented on #6396
I got the same issue. I have to open PowerToys Settings. Enable it and re-disable it, then the tools can be quit.

[2020-10-05 03:40] Jon999999 commented on #7003
Appears to be the same as https://github.com/microsoft/PowerToys/issues/6964

[2020-10-05 05:46] alannt777 commented on #6989
@P-Storm No one from the PowerToys team has commented on this issue. Are we supposed to ping someone?

[2020-10-05 05:55] alannt777 commented on #7008
@jhb If you have `winget` try:

[code]

[2020-10-05 05:57] jhb commented on #7008
@alannt777 I have it installed by using the the described workaround.

[2020-10-05 05:58] alannt777 commented on #7008
@jhb Ok

[2020-10-05 06:55] enricogior commented on #7010
Note: when dragging IBKR TWS, `EVENT_OBJECT_LOCATIONCHANGE` doesn't get fired

[2020-10-05 07:03] enricogior commented on #7008
@jhb

This doesn't provide enough information to be able to do any investigation.
At what point during the installation did it stop?

[2020-10-05 07:06] jhb commented on #7008
@enricogior as I wrote, it _never_ finishes, but stalls at 99%. Ok, I didn't wait for eternity, but waited for maybe 20mins or so, then rebooted.

[2020-10-05 07:06] enricogior commented on #7003
@Jordy3D

We need the `zones-settings.json` file to be able to check what happened after the reboot.

[2020-10-05 07:07] alannt777 commented on #6989
@enricogior please look at this issue

[2020-10-05 07:10] enricogior commented on #7008
@jhb
PowerToys was not present in the StartMenu?

[2020-10-05 07:11] jhb commented on #7008
@enricogior nope

[2020-10-05 07:14] enricogior commented on #7004
@DesktopMasters
I'll get back to you after some internal investigation. Thanks.

[2020-10-05 07:17] enricogior commented on #7008
@jhb
did the .msi part of th einstallation start?

![image](https://user-images.githubusercontent.com/3206696/95050233-79793580-06eb-11eb-89c5-8be21accf19f.png)

if it started, did it reach the end?

![image](https://user-images.githubusercontent.com/3206696/95050272-8d249c00-06eb-11eb-812e-f94f66e24cbb.png)

[2020-10-05 07:20] enricogior commented on #6980
@OWL4C
thanks for the feedback, added to https://github.com/microsoft/PowerToys/issues/6374

@vanshaj7-hub
do you want to work on this?

[2020-10-05 07:23] jhb commented on #7008
@enricogior no, the msi part did not start. Just the message in the message pain / notification area

[2020-10-05 07:25] enricogior commented on #6991
@pmtate
I cannot reproduce this and given how common is Chrome I would expect that this would be reported by other users as well if it was a common bug, but I suspect it's something specific of your configuration.
Can you try disabling any Chrome extension that you installed? Is Chrome running in developer mode or something like that?

[2020-10-05 07:28] enricogior commented on #6605
@bakershack
that is the expected behavior, PT doesn't show an icon the taskbar.

[2020-10-05 07:43] muratakburak commented on #608
PowerRename supports few filters atm, you can check [here](https://github.com/microsoft/PowerToys/wiki/PowerRename-Overview#file-list-filters)
One of these similar to what you mentioned is **Flags Applicable**. Difference is it doesn't display unwanted items at all rather than shading them or adding strike-through. Point of it was to only see items that we are interested when there is too many ite

[2020-10-05 07:45] enricogior commented on #6605
@TheOnlyTails
you are running PowerToys as admin, right?
Are you using the using the default shortcut to open PT Run?

Can you please do the following.
 - quit PowerToys
 - open Task Manager and verify in the `Details` tab that both `PowerToys.exe` and `PowerLauncher.exe` are **not** running
 - restart PowerToys
 - verify in the `Details` tab that both `PowerToys.exe` and `PowerLauncher.exe` are r

[2020-10-05 07:46] anansii commented on #6648
The issue was fixed for me with 0.23.0. The preview now works as expected.

[2020-10-05 07:47] enricogior commented on #7009
@aavdberg
can you post a screenshot of the PowerToys general settings?

[2020-10-05 07:52] enricogior commented on #6545
@Kennya1
the json shows only three monitors because you are affected by the bug described in #1777
In your case two monitor are recognized correctly, and the other two are not recognized as one `LOCALDISPLAY_1920_1080_{00000000-0000-0000-0000-000000000000}`

There is also the problem that for the monitors that are detected correctly, some of the data is not as it should.
Can you please redo these

[2020-10-05 08:01] enricogior commented on #6995
@ITCMD
I'm not aware of any Windows feature that will randomly remove installed applications, therefore I don't think there is anything we can do to prevent such a thing.

@crutkas
are you aware of anything like that?

[2020-10-05 08:03] Jordy3D commented on #7003
[zones-settings.txt](https://github.com/microsoft/PowerToys/files/5326022/zones-settings.txt)
Here ya go

[2020-10-05 08:05] enricogior commented on #7008
@jhb
OK, so it stopped while downloading or installing .NET Core, it might have been just a glitch during that part.
So it's not that 0.21.1 "fixed", very liked it would have worked as well just running the 0.23 installer again.
The only way to know it, would be to uninstall 0.23 and .NET Core and reinstall 0.23 again.

[2020-10-05 08:07] enricogior commented on #6648
@anansii
thanks for the feedback.

@Reverend-Jim
is it still not working for you in 0.23?

[2020-10-05 08:14] enricogior commented on #7003
@Jordy3D
are you using virtual desktops?
If yes, please remove all virtual desktops to help narrowing the repro steps.

Let's do a test since the .json file has some data that shouldn't be there, and I would like to understand if it's a leftover from 0.21.1 or a bug in 0.23.

 - quit PowerToys
 - in command prompt run `del %localappdata%\Microsoft\PowerToys\FancyZones`
 - restart PowerToys
 - with

[2020-10-05 08:14] jhb commented on #7008
@enricogior I tried the installer about 3 or 4 times, before installing 0.21.1. Every single time the same problem. I also tried manually installingthe   .NET Core 3.1 Desktop Runtime, but couldn't, because I had a newer one.

So, the only fix that worked for me was installing 0.21.1. As I have written :-)

In regards to uninstalling everything etc. - I am quite happy with it finally running now.

[2020-10-05 08:36] Jordy3D commented on #7003
As far as I am aware, I'm not using Virtual Desktops, but even so, here is the "Without changing any settings" .json.
I'll restart now and see what happens
[zones-settings.txt](https://github.com/microsoft/PowerToys/files/5326183/zones-settings.txt)

[2020-10-05 08:41] enricogior commented on #7008
@jhb

I understand that, but this is an open source project with limited resources, so no, we don't have the resources to investigate all issues ourselves.

[2020-10-05 08:43] enricogior commented on #7003
@Jordy3D
thanks, the uploaded json shows we still have the bug in 0.23.

[2020-10-05 08:46] Jordy3D commented on #7003
I've restarted twice since sending that last comment, and it has successfully remembered my custom layout and settings both times

[2020-10-05 08:50] enricogior commented on #7003
@Jordy3D
can you please upload one final time the update `zones-settings.json` file?

You may still run into the problem again, because it seems we are failing to set the correct value for the device id: the guid at the end of the id should never be `{00000000-0000-0000-0000-000000000000}` and it may happen that a certain point we actually get it right but losing the selected layout.

[2020-10-05 08:51] jhb commented on #7008
@enricogior fair enough. I trust in the power of google to find this bug report, if anyone else encounters the issue. Thanks for you looking into it!.

[2020-10-05 08:52] andyfrei commented on #6721
The minimum width of the Chrome window was the reason, thank you!

[2020-10-05 08:52] Jordy3D commented on #7003
Here's the current .json file. Before sending it, I did at least see two sets of all those 0s
[zones-settings.txt](https://github.com/microsoft/PowerToys/files/5326305/zones-settings.txt)

[2020-10-05 08:55] enricogior commented on #7003
@Jordy3D
thanks.

[2020-10-05 08:58] enricogior opened #7011 "[FancyZones] zeroed guid is not handled correctly"
When a user creates a VD for the first time and the primary desktop was still a zeroed GUID, we fail to properly update the primary desktop GUID and we lost its layout configuration.

Repro steps:
 - a clean machine that doesn't have ever created a VD (*)
 - assign a template to the primary desktop different from the default priority grid
 - create a new VD and assign another template that is diff

[2020-10-05 09:04] niels9001 commented on #6751
We're tracking this in: #3523

[2020-10-05 09:05] enricogior commented on #6964
@Jon999999
thanks for the infos.
Can you open Windows Explorer and in the Explorer address bar paste this?
[code]
It will open the folder where the `zones-settings.json` file is.
Can you uploaded it here after renaming it to `zones-settings.txt` or zip it, and then drag and drop it when replying in GitHub.
Thanks.

[2020-10-05 09:09] enricogior opened #7012 "[FZ Editor] get PowerToysIssuesURL from a common settings"
Need a common place for URLs like `https://aka.ms/powerToysReportBug`,  that can be used by C++ and C# projects.

[2020-10-05 10:10] enricogior commented on #3734
@mvaneijken
is this still not working with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-05 10:10] 1pratham commented on #6972
@htcfreek
Yes. The issue did not solve with the repair option. But uninstall-restart-install fixed it.

[2020-10-05 10:11] enricogior commented on #5973
@BrainSlugs83
is this still not working with 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-05 10:14] enricogior commented on #441
@bpmckim @bradphelan
is this still not working on 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-05 10:18] aavdberg commented on #7009
![image](https://user-images.githubusercontent.com/22030609/95067956-db926480-0704-11eb-9b63-f87d76283858.png)

[2020-10-05 10:24] enricogior commented on #6193
Merging this into https://github.com/microsoft/PowerToys/issues/1466

[2020-10-05 10:24] #6193 closed

[2020-10-05 10:25] enricogior commented on #690
Is this still not working in 0.23? https://github.com/microsoft/PowerToys/releases/download/v0.23.0/PowerToysSetup-0.23.0-x64.exe

[2020-10-05 10:31] vanwaard opened #7013 "Windows language"
Why Powertoys do not take the same language as the Windows system language. My system language is Dutch but Power Toys is in English.

[2020-10-05 10:35] yuyoyuppe commented on #3079
We could use shared memory IPC. We're already using a primitive for locked access to it for VCMute.

[2020-10-05 10:45] enricogior commented on #7009
@aavdberg
let's try the following:

 - turn off the `Run at startup` option
 - restart the computer and verify that PowerToys is not started
 - manually start PowerToys
 - turn on the `Run at startup` option
 - restart the computer to verify if the problem is still present

[2020-10-05 11:03] enricogior commented on #7008
Closing this as duplicate of https://github.com/microsoft/PowerToys/issues/5545

[2020-10-05 11:03] #7008 closed

[2020-10-05 11:04] aavdberg commented on #7009
Yes solved the problem.

[2020-10-05 11:36] jchomarat opened #7014 "Save desktop layout and opened windows per project"
Hello there,

It would be awesome to be able to save an entire desktop, so that it can be restored in one click.

Let's say you are working on several projects (whether these a professional projects or personal ones), each project having its own set of applications opened (vscode, db tools, terminals, browser with specific URLs etc ...), what would be nice is

1. using PowerToys, I can save this c

[2020-10-05 11:55] MatheusJOTA commented on #6605
Yes, I am. After a while I noticed that it does open when it wants to.
Sometimes it comes up instantly, sometimes it takes up to a minute after
pressing the shortcut.

I switched to Wox but I love PT Run, so i'll keep it installed to provide
feedback and maybe help a little in this way.

Em domingo, 4 de outubro de 2020, Enrico Giordani <notifications@github.com>
escreveu:

[2020-10-05 12:22] pheliperocha opened #7015 "FancyZones with resolution value of each zone when editing"
## 📝 Provide a description of the new feature

_What is the expected behavior of the proposed feature?  What is the scenario this would be used?_

When editing a layout, I would like to see the resolution (W x H) of each zone.

---

If you'd like to see this feature implemented, add a 👍 reaction to this post.

[2020-10-05 12:35] enricogior commented on #7009
@aavdberg
it might have been a glitch after an update. I'll close the issue for now, but please reopen it if it happens again.
Thanks.

[2020-10-05 12:35] #7009 closed

[2020-10-05 12:42] enricogior commented on #6605
@MatheusJOTA
when PT Run doesn't open, can you check in Task Manager - > Details tab if `PowerLauncher.exe` is running?

[2020-10-05 12:43] enricogior commented on #7015
Duplicate of https://github.com/microsoft/PowerToys/issues/463

[2020-10-05 12:43] #7015 closed

[2020-10-05 13:00] TheOnlyTails commented on #6605
I just checked, and when I open PT, PowerLauncher.exe doesn't appear in task manager. Could that be the problem?

[2020-10-05 13:27] enricogior commented on #6605
@MatheusJOTA
yes, it's a problem.
If you go the PT Run Settings page and turn it off/on, does it show in the Task Manager?

[2020-10-05 13:34] ITCMD commented on #6995
It is a known issue, however it's not an official feature.

Hoffman, Chris, 2018. Windows 10 May Delete Your Programs Without Asking. _How To Geek_. https://www.howtogeek.com/243581/windows-10-may-delete-your-programs-without-asking/#:~:text=It%20looks%20like%20this%20feature,to%20vanish%20from%20your%20system.

Phillips, Gavin. 2015. Windows 10 Can Auto-Remove Software Against Your Will. _Make Us

[2020-10-05 13:34] #6995 closed