[2021-12-27 02:59] graytang opened #15171 "PowerToys Run won't clears the previous query at startup time."
### Microsoft PowerToys version

"0.51.1"

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

### Description:

When choose PowerToys Run "Clears the previous query at startup time" option, if use Administrator run application or command in PowerToys Run, previous query won't clears.

### Steps:

1. Select "Clears the previous query at startup time" fo

[2021-12-27 04:31] deemetrius commented on #12825
Updated to version 0.51.1
I have same binding.

I open text file in notepad. Then I press and hold "right shift" and then I hit "numpad 0" and got bug.
Now in this version Right Shift keeps work as Up. But actual shift stucks and notepad also selects lines as i navigate with cursor.

[2021-12-27 04:51] v-rpundir commented on #12019
@chingucoding @niels9001 I checked this issue and now it is fixed as Screen Reader is only announcing 'General 1 of 12 Level 1'

At that time When this bug logged Screen Reader is announcing 'General 1 of 10 level 1 Heading level 1' as it defined in Heading. Refer bug attachment to verify same.
<img width="653" alt="image" src="https://user-images.githubusercontent.com/86412703/147435570-48f7e6cb-

[2021-12-27 04:51] #12019 closed

[2021-12-27 04:51] v-rpundir commented on #12019
@chingucoding @niels9001 I checked this issue and now it is fixed as Screen Reader is only announcing 'General 1 of 12 Level 1'

At that time When this bug logged Screen Reader is announcing 'General 1 of 10 level 1 Heading level 1' as it defined in Heading. Refer bug attachemnt to verify same.
<img width="653" alt="image" src="https://user-images.githubusercontent.com/86412703/147435570-48f7e6cb-

[2021-12-27 05:15] jpdied opened #15172 "Unable to use PowerToys Run"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

Start PowerTools; it will attempt to start up PowerTools Run but will crash and Windows Bug collector launches to collect some info. No actual crash message shows; attempting to launch PowerLauncher.exe directly does the same thing. Looking in Reliability Monito

[2021-12-27 06:35] Samuel12321 commented on #490
Just out of interest, how did you create a build for arm when wpf support for arm64 wasn't available, and xaml islands only supports .net core 3.1

[2021-12-27 07:00] #15020 closed

[2021-12-27 07:01] #10879 closed

[2021-12-27 08:50] niltor commented on #14061
It's a useful feature.

[2021-12-27 09:00] #15156 closed

[2021-12-27 09:00] #15155 closed

[2021-12-27 09:01] #15146 closed

[2021-12-27 09:06] gtm-nayan commented on #13390
The author is probably talking about something like this https://dreymar.colemak.org/layers-extend.html.

Allowing certain keys to activate layers on hold, like shift activates the "uppercase layer", would make life easier as it means not having to map out each `LAYER_KEY + KEY` combo in that layer manually. Plus, currently certain keys can't be used to create shortcut combos (eg. Caps Lock) in KB

[2021-12-27 09:12] TinoLL opened #15173 "LOGI Capture is not supported"
### Description of the new feature / enhancement

the (virtual) camera Logi Capture is not supported. Some video conference systems don't do as well. Would be nice to integrate the support here. Thanks.

### Scenario when this would be used?

Logi Capture allows e.g. zooming of the camera. I use this in every video conference.

### Supporting information

_No response_

[2021-12-27 10:26] franky920920 commented on #15173
Duplicate of #14206

[2021-12-27 10:26] franky920920 commented on #15173
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #14206 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-27 10:33] stefansjfw commented on #15079
@iggydog26 Report bug zip file is still not attached. Also could you post a screenshot of Keyboard manager page in settings?

[2021-12-27 10:38] franky920920 commented on #15079
@iggydog26 You'll have to log in to [github.com](https://github.com/login) first and then click this link #15079 to post your attachment and the screenshot in the comment area.
Attachments and files won't send to us if you're replying to the email. 😄

[2021-12-27 10:39] franky920920 commented on #15171
Duplicate of #14317

[2021-12-27 10:41] franky920920 commented on #15171
Thanks for reporting this. This issue is a duplicate.
I'm linking this issue to #14317 to centralize the discussion thread for tracking.

We have a fix committed for this and will be shipped with the 0.53 release, which will be available in early January 2022.
Please keep an eye on the updates!

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-27 10:41] stefansjfw commented on #8268
@K-Haruto8610
 is still present in latest PT version v51.1  https://github.com/microsoft/PowerToys/releases/download/v0.51.1/PowerToysSetup-0.51.1-x64.exe?

[2021-12-27 10:46] stefansjfw commented on #8268
/bugreport

[2021-12-27 10:59] r-meijerink commented on #13498
I think this concept could indeed be partly labeled as: 'give me app groupings' but the main purpose is to easily configure multiple desktop overlays with each it's unique desktop icon layout and style. End of day, this is more like remember multiple Windows desktop icon layouts which I can easily regroup and style to my wishes and which I can easily switch between. But I don't mind if the two con

[2021-12-27 12:11] louga31 commented on #13911
@harrison-munitz Thank you for giving a better reproduction method, I was able to reproduce it nearly every single time using this new method.

[2021-12-27 12:27] stefansjfw commented on #15094
/bugreport

[2021-12-27 12:30] stefansjfw commented on #15100
@yuyoyuppe FYI

[2021-12-27 12:35] stefansjfw commented on #15139
Looking at the code, this will only affect PT running in Debug mode. In release mode it will fallback to opening settings - General page.

Of course , we should fix it anyway..

[2021-12-27 12:35] stefansjfw commented on #15139
...because cmd line args are missing running it that way

[2021-12-27 13:33] stefansjfw commented on #15143
Can't reproduce this either

[2021-12-27 13:46] JF-B52 opened #15174 "French Keyboard"
### Microsoft PowerToys version

v0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerRename

### Steps to reproduce

Using regular expression I can't enter bracket with french keyboard

### ✔️ Expected Behavior

a solution

### ❌ Actual Behavior

I entered RE using Word  and copy/paste

### Other Software

_No response_

[2021-12-27 15:01] #15159 closed

[2021-12-27 15:01] #15158 closed

[2021-12-27 15:08] htcfreek commented on #15139
Then there is no need to hurry up. 😅

[2021-12-27 15:34] crutkas commented on #490
That was before when we had only two c++ based projects.

We tried out WinUI 3 for settings and now are waiting for elevation support.  Once that comes in … fingers crossed :)

[2021-12-27 15:45] Jeff-Jerousek commented on #71
Definitely "docking", the ability to put an app or a window somewhere and have it there all the time and maximize or snap windows next to it.

Magnetic edges would be a a nice compromise.

[2021-12-27 16:19] htcfreek commented on #15127
@stefansjfw
Can you please update label and project. Thank you.

[2021-12-27 16:22] stefansjfw commented on #15127
done

[2021-12-27 17:04] erikrenaud opened #15175 "FancyZones"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

I am not certain as i can't reproduce it systematically.

I have 3 setups:
1 - using laptop alone (lenovo c940)
2 - using laptop with attached displaylink portable monitor
3 - using laptop attached to a tb3 dock (anker) and then a usb-c connection to a ultrawide sc

[2021-12-27 17:08] SeraphimaZ commented on #12838
That's right.

[2021-12-27 17:16] #15162 closed

[2021-12-27 17:17] #15171 closed

[2021-12-27 17:17] #15173 closed

[2021-12-27 17:17] #15161 closed

[2021-12-27 17:32] crutkas commented on #7639
This is supported if you leverage the restore option when unsnapping.  The snapping behavior mimics Windows then
![image](https://user-images.githubusercontent.com/1462282/147494508-8f4986cc-2614-4242-b2ee-9bbf5909f228.png)

[2021-12-27 17:32] #7639 closed

[2021-12-27 17:35] crutkas commented on #13972
My concern here is on permutations and support matrix

[2021-12-27 17:36] crutkas commented on #7662
@dstj did the new settings page help out here

[2021-12-27 17:38] crutkas commented on #10473
I think one big issue you'll hit with a commandline style system is which monitor and if that layout is valid for that monitor.

You can directly apply via a hotkey different layouts now.  https://docs.microsoft.com/en-us/windows/powertoys/fancyzones#quickly-changing-between-layouts

Does the hotkey quick change work for you instead of this?

[2021-12-27 17:39] crutkas commented on #13844
Can you try 0.51.1 and please provide a bug report?

/bugreport

[2021-12-27 17:42] crutkas commented on #13441
@DaniellVan

1. What version of PowerToys are you running?
2. What is the underlying tech for hte VM?  Hyper-V? VMWare?
3. How are you accessing that VM?  What app are you remoting into it with

[2021-12-27 17:50] crutkas commented on #15174
Keyboard manager uses virtual keycodes which need to have that key for that language.  We do have tracked items for seeing if other methods would work but everything has pro's and cons.

As of now, https://github.com/randyrants/sharpkeys may be your best bet or shifting your keyboard to a different language.   This will be a registry-based solution so once you shift the key, it will remain until y

[2021-12-27 17:50] #15174 closed

[2021-12-27 17:51] crutkas commented on #15163
/reportbug

[2021-12-27 17:52] #160 closed

[2021-12-27 17:53] crutkas commented on #7051
@SeraphimaZ Assuming we won't get this for 0.53, any chance we can knock this out first thing in .55?

[2021-12-27 17:55] #13537 closed

[2021-12-27 17:56] crutkas commented on #13790
Do you have X-Mouse Button Control running? or something simular?

[2021-12-27 17:56] crutkas commented on #13790
Also which exact items are not working

[2021-12-27 17:58] dstj commented on #7662
I had actually stopped using FancyZones altogether because I found "not minimize or maximize a windows with CTRL+Up/Down" quite annoying.

I just tested again with the "Move windows based on: Zone index" setting (v.0.51.1) and it's behaving much more like I would expect it to so I'll give it another go! 👍

I don't think I would have understood that that setting would make it so that CTRL+Up/Down w

[2021-12-27 18:01] crutkas commented on #8319
@bonzibudd we have touched this code in the past, do you still have this issue?  I can't repro this anymore

[2021-12-27 18:02] SeraphimaZ commented on #15175
By "config is lost" do you mean that the layout was reset to a default one or that you have to recreate them in the editor?

[2021-12-27 18:03] SeraphimaZ commented on #7051
Sure, I'll do it.

[2021-12-27 18:07] erikrenaud commented on #15175
Actually both.

The layout associated to screens currently attached (i.e. internal laptop screen) is reset to the 3 pane layout and i have to recreate the canvas layout i like for my ultrawide screen.

I don't know if this helps, but when i installed the first time, i had 0.51.0, i then upgraded to 0.51.1 when i read that it fixed a bug i had.

[2021-12-27 18:10] crutkas commented on #15172
in logs, you can see it quickly trying to start.  maybe it is failing in one of the two paths here but that seems like an area we would have caught.  Top 2 are same error

[code]

[2021-12-27 18:16] chingucoding commented on #12019
Oh yes, you are totally right that this was indeed the behavior, sorry for claiming that your reported this wrongly @v-rpundir . Strangely, this is fixed now and I don't see how this behavior could have changed.

[2021-12-27 18:25] SeraphimaZ commented on #15175
Looks like https://github.com/microsoft/PowerToys/issues/14782 to me then, since the setting files are lost after the crash. Let's centralize the discussion thread there.

[2021-12-27 18:25] #15175 closed

[2021-12-27 19:01] #14225 closed

[2021-12-27 19:13] crutkas commented on #14687
Just created a pull request.  It is an underlying calculator engine quirk

[2021-12-27 19:15] bonzibudd commented on #8319
@crutkas Thank you for reminding me of this issue, I think it has been fixed since I can't remember it happening anytime recently. I will re-open it if I come across it again.

[2021-12-27 19:15] #8319 closed

[2021-12-27 19:40] crutkas commented on #10929
duplicating against #10424

[2021-12-27 19:40] #10929 closed

[2021-12-27 19:40] crutkas commented on #12495
duplicating against #10424

[2021-12-27 19:40] #12495 closed

[2021-12-27 19:40] crutkas commented on #14500
duplicating against #10424

[2021-12-27 19:40] #14500 closed

[2021-12-27 19:42] crutkas commented on #13387
duplicating against #10424

[2021-12-27 19:42] #13387 closed

[2021-12-27 19:49] crutkas commented on #12246
Here is the new system in Win11.  This is what i was talking about @whardier

![image](https://user-images.githubusercontent.com/1462282/147502796-61af1084-d0ba-41f3-bc70-ab56cdb3b6f4.png)

[2021-12-27 19:52] crutkas commented on #14791
Tracked via https://github.com/microsoft/PowerToys/issues/6084

[2021-12-27 19:52] #14791 closed

[2021-12-27 19:53] crutkas commented on #14843
going to close this as won't fix.  This will have so many edge cases

[2021-12-27 19:53] #14843 closed

[2021-12-27 20:00] crutkas commented on #12943
we can't control other's forks.  I've cleaned up our branches also

[2021-12-27 20:00] #12943 closed

[2021-12-27 20:01] whardier commented on #12246
Indeed it's a nice addition and I need to get more comfortable using it based on key use... however like the original ticket states.. having an actual pager always present on the display showing which desktop you are on is important.. and it's common place.

[2021-12-27 20:05] crutkas commented on #14988
/dup 32

[2021-12-27 20:05] crutkas commented on #14988
/dup #32

[2021-12-27 20:05] #14988 closed

[2021-12-27 20:06] crutkas commented on #7824
done.  Need write / admin but command is `dup #numberOfTrackingIssue`

https://github.com/microsoft/PowerToys/issues/14988

[2021-12-27 20:08] crutkas commented on #13896
Upvoted.

xref #12246 as it kinda is related if you squint your eyes.

[2021-12-27 20:08] crutkas commented on #12246
ok, so you want what #13896 then directly asked for.

[2021-12-27 20:09] crutkas commented on #13896
/dup #12246 based on further clarification from that author

[2021-12-27 20:09] #13896 closed

[2021-12-27 20:17] crutkas commented on #13498
let's merge together and be sure we revisit this when we visit that /dup #264

[2021-12-27 20:17] #13498 closed

[2021-12-27 20:43] MZedalis opened #15177 "Presentation Disturbance Mode"
### Description of the new feature / enhancement

Would be great to have a presentation anti disturbance button that disables all power saving, windows updates, notifications and anything that can pop up during a presentation. I have had users have some personal stuff pop up during a presentation which was private. Having exclusions would be could too. If I was better at coding, I would make it my

[2021-12-27 20:47] htcfreek commented on #15172
@crutkas
There is something weird. The log of PT Run is missing an entry about initializing the protected environment variables. 🤔

[2021-12-27 22:13] crutkas commented on #15177
If you're presenting, you should have your computer in Focus mode (built into Windows) and you leverage PowerToys Awake to prevent it from sleeping.

![image](https://user-images.githubusercontent.com/1462282/147510410-476bf75f-3368-4290-96b5-36ee728f6d42.png)

[2021-12-27 22:13] #15177 closed

[2021-12-27 22:45] crutkas commented on #14962
/dup #14651

[2021-12-27 22:45] #14962 closed

[2021-12-27 23:53] AndreyDiman opened #15179 "Remap single key in specific applications"
### Description of the new feature / enhancement

A basic feature is missing, where you can remap a single key to another key without any modifiers for both within a specific applications.

### Scenario when this would be used?

An editing software or any other software that has keys too far spread, and you want to remap a single key to another one closer to the WASD keys, like the del key is on t

[2021-12-27 23:53] XBrayanX opened #15180 "[Power Rename] error when trying to type the program does not recognize the input of the keyboard"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerRename

### Steps to reproduce

I can't type, it doesn't detect the keyboard:
![Captura de pantalla 2021-12-27 174555](https://user-images.githubusercontent.com/66199534/147514236-f5837490-4d63-4506-8ca0-c94ce3992770.png)

### ✔️ Expected Behavior

The expected behavior when using power rename i

[2021-12-27 23:59] pc-v2 commented on #13620
I use KBM for NFS heat since I have no num-pad on my keyboard, will this is toggle-able?

[2021-12-28 00:03] crutkas commented on #15179
/dup #6756

[2021-12-28 00:03] #15179 closed

[2021-12-28 00:10] crutkas commented on #13220
The remapping happens if the app is in focus.  I don't think we'd do this as it would have some pretty wicked security implications as well.

[2021-12-28 00:10] #13220 closed

[2021-12-28 00:12] crutkas commented on #15128
/dup #1226

[2021-12-28 00:12] #15128 closed

[2021-12-28 00:17] crutkas commented on #14423
Honestly, i don't think this is a feature we'll add.  Could be a community plugin but i think starts getting outside the core goals of PT Run which is to launch programs quickly

[2021-12-28 00:17] #14423 closed

[2021-12-28 00:18] dewinterjack commented on #3200
If the plugin library Wox.Plugin is published from this repo, it would be possible for developers to build plugins externally. The currently published version of Wox.Plugin does not support netcore 3.1. Is this something that could be done?

[2021-12-28 00:19] crutkas commented on #12727
/dup #10210

[2021-12-28 00:19] #12727 closed

[2021-12-28 00:19] crutkas commented on #15045
how was signal installed?

[2021-12-28 00:20] crutkas commented on #15045
And was it installed while PT Run was running then queried for?  (Wondering if the cache is cold)

[2021-12-28 00:27] htcfreek commented on #15180
Du you have the handwriting service disabled? If yes please enable it. This service is needed vby the ui framework to recognize your keyboard input.

[2021-12-28 00:27] crutkas commented on #15061
I would say try 0.51.1 but be aware this is one of those weird issues we are having issues tracking down that pops up. Does 0.51.1 help resolve it?

[2021-12-28 00:40] htcfreek commented on #15098
@DervishD
The fix will be included in the December release (v0.53.*). But maybe the translation of the new search tags isn't ready in the December release.

[2021-12-28 00:44] #8288 closed

[2021-12-28 00:46] XBrayanX commented on #15180
thank you very much, that was the problem.

El lun, 27 dic 2021 a las 18:27, Heiko ***@***.***>)
escribió:

[2021-12-28 00:52] crutkas commented on #4780
doesn't seem to be issue anymore

[2021-12-28 00:52] #4780 closed

[2021-12-28 00:56] Cool2271 opened #15182 "Undefined buttons issues"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

I'm unsure of this, but I've been having issues with reassigning keys. I have issue with my a and z keys I'm unable to type with them or reassigning because both are undefined so i cannot reassign.

someone pls find fix I've been copy pasting to get a and z.

[2021-12-28 00:56] crutkas commented on #14901
Yeah but ... this may still happen.  @yuyoyuppe correct?

[2021-12-28 00:57] crutkas commented on #14901
Why was the author feedback tag removed also?

[2021-12-28 00:58] crutkas commented on #15117
/dup #4462

[2021-12-28 00:58] #15117 closed

[2021-12-28 01:01] crutkas commented on #15044
/dup #14651

[2021-12-28 01:01] #15044 closed

[2021-12-28 01:06] franky920920 commented on #14901
I believe the /bugreport was for @BrettBailey and he had the report attached to #15016

[2021-12-28 01:58] Andreuha commented on #14486
@crutkas yes, happening with 0.51.1. Just reproduced issue a few times then generated this bug report.

[PowerToysReport_2021-12-27-20-54-35.zip](https://github.com/microsoft/PowerToys/files/7782309/PowerToysReport_2021-12-27-20-54-35.zip)
.

[2021-12-28 02:44] kevinfrteels commented on #15111
I don't understand the question. I thought that I was clear in the original topic. Chkdsk logs are just a pain in the rear to review. It's still a very useful tool but only accessible via command prompt with results only seen by digging into event viewer. a standalone app for this would be overkill. so I was thinking that power toys might be a good place for it.

[2021-12-28 02:58] crutkas commented on #15111
You only know there is an issue if you check, hence wouldn’t it be great if there was better alerting.

Two, should you have to dig?  Easier to sort / find / rules.

The ask is hyper targeted so seeing if it can’t be more wide

[2021-12-28 03:08] wolispace commented on #12329
Ideally add padding so we can have sortable file names _001, 002 .. _011 etc.. not (1), (2) .. (11).

Using a pattern like ### in the rename field would replace the with the number padded to three digits.

[2021-12-28 03:12] crutkas commented on #15182
/reportbug

[2021-12-28 03:12] crutkas commented on #15182
A screenshot of your settings page for KBM would be helpful here too

[2021-12-28 03:25] spamalk commented on #8935
Seems that the Rename ability is totally re-written, and it is now comprised of a screen-full of options. The few times I've used this new way, it's working better than before. Thank you.

[2021-12-28 03:25] #8935 closed

[2021-12-28 03:41] crutkas commented on #15180
xref https://github.com/microsoft/PowerToys/issues/15022

[2021-12-28 03:41] #15180 closed

[2021-12-28 03:44] crutkas commented on #15154
/reportbug

[2021-12-28 03:50] crutkas commented on #3027
eh, could be but yeah, lets close this

[2021-12-28 03:50] #3027 closed

[2021-12-28 03:53] crutkas commented on #9239
@SeraphimaZ what is needed to debug this further?  A bug report zip?

[2021-12-28 03:54] crutkas commented on #9922
@htcfreek is this still an issue?

[2021-12-28 03:57] crutkas commented on #8590
With Zone and Relative positioning in now. is this still an issue?
![image](https://user-images.githubusercontent.com/1462282/147526406-eca97236-4009-4757-9796-d241c41f8783.png)

[2021-12-28 03:59] crutkas commented on #12624
I can't repro this.  This mapping works on my machine and would be the mapping needed for a boot camp scenario.
![image](https://user-images.githubusercontent.com/1462282/147526493-62f2e856-7f20-4b56-9bfb-f20a9a3fdf97.png)

[2021-12-28 04:00] crutkas commented on #12624
@dbpodrasky can you test on a 0.51.1 build?  I tested on a test build of 0.53 but I think we didn't touch KBM in the 0.53 span so code should be the same.

[2021-12-28 04:59] riotrah commented on #984
Bumping as this would be great

[2021-12-28 05:29] DervishD commented on #15098
Thanks a lot, @htcfreek and don't worry about the translation, is not a big deal. In fact I have my system in Spanish by sheer serendipity, I usually prefer my software in English because translations are not usually good and I'm so used to have all IT related information in English that at times even good translations are misleading for me. It will be perfect for me anyway.

I'll try to help with

[2021-12-28 06:27] franky920920 commented on #15154
@crutkas user says the report bug isn't working in the end of the Expected Behavior section.

[2021-12-28 06:29] franky920920 commented on #15154
@heliosyne Cloud you try the steps in the https://github.com/microsoft/PowerToys/issues/12707#issuecomment-902545011 and see if you can get a report?

[2021-12-28 06:52] kevinfrteels commented on #15111
I think I understand what you mean.

I’m not one of the devs so I can’t speak for them, but Powertoys doesn’t strike me as the place for creating new software to do new things.
It seems that it’s meant to be a streamlined UI to access native Windows functions that are more difficult to access through Windows itself.

Chkdsk, it’s options, and logs are one of those things. Specifically viewing the

[2021-12-28 08:00] htcfreek commented on #6084
@crutkas
In a first step I will implement `close window` and `kill process` into ww.

For killing you suggested `Ctrl+Del`. What should we use for closing window? Additional I will implement a setting to enable/disable confirmation of killing a process. For Explorer.exe we should add the prerequisite that each window has to run in it's own process.

If you are good with this please assign me. I wi

[2021-12-28 08:13] MrCheeseWasTaken opened #15183 "Task manager has gaps when using fancy zones"
### Microsoft PowerToys version

v0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

I would create a fancy zone layout and would use it as normal but when i try to  snap task manager into one of the sections it always seems to produce a gap on the edges of the screen (the yellow space)(this only seems to be happening to task manager)

![A3Zo7Kp](

[2021-12-28 08:42] varmemester commented on #15163
[PowerToysReport_2021-12-28-09-43-15.zip](https://github.com/microsoft/PowerToys/files/7783710/PowerToysReport_2021-12-28-09-43-15.zip)

[2021-12-28 12:42] yuyoyuppe commented on #14901
Most likely the issue was caused by external factors which have messed the environment. Something like that could happen with any installer.

[2021-12-28 13:00] #15051 closed

[2021-12-28 13:00] #13037 closed

[2021-12-28 13:00] #12931 closed

[2021-12-28 13:09] user897943 opened #15184 "Feature request: Dictionary Definitions on PowerToys Run (alt+space)"
### Description of the new feature / enhancement

Please include a plugin for dictionary definitions so we can get results for word definitions when we type the word into the bar.

### Scenario when this would be used?

When looking up the meaning of words that you don't know while you're reading something online

### Supporting information

_No response_

[2021-12-28 13:34] Aaron-Junker commented on #7824
@crutkasw Is it possible to change thw command to `Duplicate of`so that it's also automatically tracjed as duplicate by GitHub?

And why only for write permission?

[2021-12-28 14:17] amishra026 commented on #9536
Yes it does.

[2021-12-28 14:28] rifton007 commented on #1411
I think that keyboard shortcuts  for each layout is convenient for laptop.
But for a computer, I propose that when we maintain `SHIFT` to display FancyZone, we could use :
- `KEY DOWN` and `KEY UP` or use `MOUSE WHEEL` to switch layout.

[2021-12-28 14:34] SeraphimaZ commented on #9239
Yes, I need to take a look at it.

[2021-12-28 14:34] SeraphimaZ commented on #9239
/bugreport

[2021-12-28 14:36] heliosyne commented on #15154
[PowerToysReport_2021-12-28-06-35-31.zip](https://github.com/microsoft/PowerToys/files/7785109/PowerToysReport_2021-12-28-06-35-31.zip)

[2021-12-28 15:19] stefansjfw commented on #10847
I came up with combined solution `Edit <template_name>`

[2021-12-28 15:20] ImaBadCoder commented on #6653
I would love to see this as well. I have one configuration for leading Teams meetings and another for my daily work. Would be great to use PowerShell for this automation between configurations.

[2021-12-28 15:32] ThiefZero commented on #13776
![image](https://user-images.githubusercontent.com/8751729/147579838-c322992f-e9e6-4082-92da-dae643dd61ba.png)

![image](https://user-images.githubusercontent.com/8751729/147580563-aaf440bd-9101-474c-a4ba-5148e5f697be.png)

![image](https://user-images.githubusercontent.com/8751729/147579855-713dfda6-c667-412a-ad71-97a8e13c099a.png)

Pressure, Speed are already present.

g/m to cf/m is not. I don'

[2021-12-28 15:49] tonys1110 commented on #3364
Yes, please to this, and the reverse (mapping mouse to keyboard). I'd love to be able to map Ctrl+MouseWheelUp/Down to VolumeUp/Down. etc.

[2021-12-28 16:09] MightyM8 commented on #14963
Ideally, the remapping would be at a keyboard microcontroller level. However, unfortunately in this scenario, my keyboard does not support that functionality. Thus, I utilize this application to achieve the remapping.

[2021-12-28 17:25] dend commented on #11453
Adding this to the list of things that need to be fixed in the next release. Thanks @Jay-o-Way and @franky920920

[2021-12-28 17:26] dend commented on #14370
Updating this to January - holidays are not a good time to release and coordinate anything 😄

[2021-12-28 17:49] peter-mcs commented on #14919
I also have this issue. I don't use any other window manager software like DeskSoft.

[2021-12-28 18:10] crutkas commented on #15184
/dup #3309

[2021-12-28 18:11] #15184 closed

[2021-12-28 18:27] crutkas commented on #14491
If you disable KBM, remove the mappings (which are still in your settings file), or quit powertoys (right click from system tray->quit) keyboard manager won't run.  KBM is 100% pure in-memory mapping.  I also wouldn't recommend using KBM for gaming as it was not intended for that purpose. I'd suggest leveraging the game itself to do remappings.

Looking at this as well, you upgraded to .49 from .4

[2021-12-28 18:29] crutkas commented on #14491
i can't repro your issue with steps above and like i said, KBM is pure in memory.  If KBM crashes, since the engine is no longer running, it won't remap.

[2021-12-28 18:32] crutkas commented on #14715
interesting, Photos app can resize it but we can't

[2021-12-28 19:25] crutkas commented on #13948
/dup #1052

[2021-12-28 19:25] #13948 closed

[2021-12-28 19:30] crutkas commented on #12967
I'd dup this against #1052  but the scope is different.

Honestly, I don't think this is a powertoy we'd build out.  This would put more on/off cycles on a monitor versus minimal power usage on the screen.

You also have the issue of presentations or video ... I just think there are a lot of scenarios where this could cause negative reactions.

[2021-12-28 19:33] crutkas commented on #13845
Actually, this is built into the OS i think, if you plug into a different monitor, it should remember your layout

[2021-12-28 19:52] dend opened #15188 "Build fails on Windows 10/Visual Studio 2019 Community Edition"
### Microsoft PowerToys version

All

### Running as admin

- [ ] Yes

### Area(s) with issue?

General

### Steps to reproduce

1. Fork the repository.
2. Clone the repository.
3. Install dependencies and clone submodules.
4. Try building the solution.

![image](https://user-images.githubusercontent.com/1389609/147602065-03407334-7017-4ece-96ec-dc057bb60eb6.png)

### ✔️ Expected Behavior

Solutio

[2021-12-28 19:53] 7AvbOEZM9xEvXdN commented on #12247
I tried Fancy Zones this morning and when I pressed the layout shortcut keys for a layout it was applied to both of my monitors, which was great! I thought this suggestion had been implemented.

Unfortunately, it must have been a short-lived bug. After opening and closing Power Toys, it reverted to the old behavior of applying the layout associated with the layout shortcut key to only the monitor

[2021-12-28 20:04] Pitta opened #15189 "Error: Bad Image - when attempting to open settings"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

Settings

### Steps to reproduce

1. Install PowerToys on Windows 11
2. Open Powertoys settings

### ✔️ Expected Behavior

The settings window opens

### ❌ Actual Behavior

![image](https://user-images.githubusercontent.com/5016471/147603007-2bd3530b-c5b7-4364-b245-23188e1ed278.png)

This error

###

[2021-12-28 20:05] Pitta commented on #15189
I don't THINK I was running as admin, and am unable to open settings to flag that option now.
Windows 11 is regular retail release, not insider.

[2021-12-28 20:08] thejoshtaylor opened #15190 "PowerToys Run Too Slow"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

Type quickly in the power toys run box and hit enter

### ✔️ Expected Behavior

Top result of final query to start, or do whatever it's supposed to.

### ❌ Actual Behavior

Whatever is selected last as I'm typing (first half of the query) is executed instead of

[2021-12-28 20:12] crutkas commented on #15190
/reportbug

[2021-12-28 20:13] crutkas commented on #15190
try removing windows search plugin from global.
![image](https://user-images.githubusercontent.com/1462282/147603650-750788d5-0e95-47ac-a409-1bd1df5bc106.png)

[2021-12-28 20:15] thejoshtaylor commented on #15190
[PowerToysReport_2021-12-28-12-13-34.zip](https://github.com/microsoft/PowerToys/files/7786205/PowerToysReport_2021-12-28-12-13-34.zip)

This is an issue on every instance of PowerToys (3 different devices) that I have used, and every version that I have used.

I also still want to use windows search.

[2021-12-28 20:16] crutkas commented on #15189
@pitta, i'd try reinstalling .NET Core 3.1 runtime.  That looks to be what that error says.  Here is 3.1.22 direct installer link.
https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-3.1.22-windows-x64-installer

[2021-12-28 20:17] GitMensch commented on #12967
I guess in your case the monitors are possibly of the same size. But with the current Win10 this actually doesn't happen "this bad" - as soon as I turn of the primary monitor (with a big resolution) the desktop icons and application windows get shown on the secondary monitor in a total different place. _But_ when I turn on the primary again those get restored correctly on the primary _now_.

Power

[2021-12-28 20:31] crutkas commented on #14717
/dup #4964

[2021-12-28 20:31] #14717 closed

[2021-12-28 20:49] Downinfl1 opened #15191 "Can't remove v0.49.1; Can't install v0.51.1"
### Microsoft PowerToys version

0.49.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Installer

### Steps to reproduce

Attempted upgrade
![Powertoys 0 49 1 uninstall](https://user-images.githubusercontent.com/96796391/147606013-8aae9e35-414a-4255-b05c-06f99e7bcf6d.jpg)
.

### ✔️ Expected Behavior

Ability to upgrade

### ❌ Actual Behavior

Couldn't upgrade

### Other Software

_No r

[2021-12-28 21:04] davidegiacometti commented on #15188
Hi @dend
Can you try to manually restore nuget packages and rebuild?

[2021-12-28 21:04] davidegiacometti commented on #15191
/bugreport

[2021-12-28 21:14] thejoshtaylor commented on #15190
https://user-images.githubusercontent.com/38962862/147607167-aec50f60-22fd-4f25-97c6-36e1558943d0.mp4

You can see in this video that I went to type "ex", to run excel. Autodesk Eagle started up, as that is my first result for the query "e".
I recognize that this is not a common issue as I do type relatively fast and I use short queries, but it still sometimes opens large applications when I try t

[2021-12-28 21:14] ahmetsamsa commented on #15191
[PowerToysReport_2021-12-29-00-12-23.zip](https://github.com/microsoft/PowerToys/files/7786357/PowerToysReport_2021-12-29-00-12-23.zip)
@davidegiacometti I have the same error too. I uploaded "Report Bug" zip file.

[2021-12-28 21:19] davidegiacometti commented on #15191
From the update logs:
[code]

Looks like there is another installation in progress or stucked. Can you try to reboot and retry?

[2021-12-28 21:32] crutkas commented on #7824
Fabric bot does not have triage as one of the options.  write / admin are what i can do.

[2021-12-28 21:35] crutkas commented on #15188
@davidegiacometti i can repro this with debug mode on a clean solution.  Release mode it doesn't seem to happen.  I think i may have somehow fixed it with `dev/crutkas/removeAnyCpuRef` branch, testing on a clean e2e before i do a PR

[2021-12-28 21:41] ahmetsamsa commented on #15191
There isn't any other installation running in background. İ even try to
uninstall and reinstall it in safe mode. Didn't worked.

On Wed, 29 Dec 2021, 00:20 Davide Giacometti, ***@***.***>
wrote:

[2021-12-28 21:48] davidegiacometti commented on #15191
What happen when you try to uninstall?

[2021-12-28 21:50] Pitta commented on #15189
Installed .Net Core 3.1 manually
Error went away
Still no UI when I try to pull up settings

[2021-12-28 22:06] pb5050 commented on #15091
update your dot net i forget but snickers posted a thread that mentioned me how to install arm 64 and the other dot net in co exsistence. it will fix your issue have a good day

[2021-12-28 22:49] crutkas commented on #15189
Will need a bug report then.

/reportbug

[2021-12-28 23:02] crutkas commented on #15188
on a clean debug build, i get invalid PE header on PowerRenameUILib

[2021-12-28 23:03] Aaron-Junker commented on #7824
And what's with the first suggestion?

[2021-12-28 23:06] Baladon23 commented on #10274
I really like this feature, however for me it seems that it is not working correctly with full sized applications. If I walk them through every zone and then make them full screen with win + UP, FZ sometimes starts to register them as being in the 'full-screen zone', but sometimes it is still not willing to cycle through the other full-screend applications in the same screen.

Also I'm a bit new t

[2021-12-28 23:19] kleenkanteen commented on #15191
Try this https://social.msdn.microsoft.com/Forums/en-US/0baa39b3-7fbf-422e-a453-c07c5d7952e7/windows-installer-installer-always-fails-to-grab-the-execution-mutex?forum=winformssetup

[2021-12-28 23:51] crutkas commented on #13857
Have you tried Windows Sandbox?  https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-sandbox/windows-sandbox-overview

[2021-12-28 23:52] crutkas commented on #14061
/dup #981

[2021-12-28 23:52] #14061 closed

[2021-12-28 23:53] franky920920 commented on #15134
[ ] Remove docs for installers. https://github.com/microsoft/PowerToys/pull/15050#issuecomment-1002325786

[2021-12-28 23:58] kleenkanteen commented on #10274
Wait for a maintainer to list it as help wanted. You could even implement it yourself then.

[2021-12-29 00:02] crutkas commented on #7824
fabric bot doesn't seem to be able to take the output, only regex the input.  I can get a few things like author, assignee, current issue number but not the regex data that was leveraged to trigger

[2021-12-29 00:05] franky920920 commented on #13845
Built into Windows 11.

[2021-12-29 00:10] crutkas commented on #13276
Issue here is this is too large of a topic.  Is this video?  audio?  Text?  images?  Doc?  Already you have multiple different classifications from people in this topic.  This is sadly not targeted enough to be actionable.

If you want to do video, look at ffmpeg.

Docx to PDF exists in Microsoft Word already FYI.  Just do `save a copy` and click the combo box under the file name
![image](https://

[2021-12-29 00:10] #13276 closed

[2021-12-29 00:11] crutkas commented on #13608
Why not just use aText?  They have a Window version.

[2021-12-29 00:13] crutkas commented on #13954
/dup #5074

[2021-12-29 00:13] #13954 closed

[2021-12-29 00:13] crutkas commented on #13608
also /dup #5074

[2021-12-29 00:13] #13608 closed

[2021-12-29 00:15] Aaron-Junker commented on #7824
Yeah but fabricbot is currenrly searching for `/dup`. My suggestion is to change that it's searching for `duplicate of`

[2021-12-29 00:18] crutkas commented on #13819
Honestly, I think a true KVM would be a better solution here.  The keyboard / mouse would have to flip over with it.

After doing VCM, so many different quirks with hardware, ... just a lot to deal with.

We'd track it via #1052  also.

[2021-12-29 00:18] #13819 closed

[2021-12-29 00:28] crutkas commented on #13876
/dup #2686

[2021-12-29 00:28] #13876 closed

[2021-12-29 00:28] #7662 closed

[2021-12-29 00:34] Zxurian commented on #13984
came here from opening a case with Zoom. Zoom was crashing constantly and unable to join meetings (as indicated above). During this entire time, I did _not_ have PowerToys running. Zoom's engineers told me to disable "Video Conference Mute" then re-installing Zoom, which I questioned since I wasn't running PowerToys during this entire time. After running PowerToys, then disabling "Video Conference

[2021-12-29 00:37] crutkas commented on #11498
I think this is too many things grouped together (3 acting as 1).  I think timezone stuff would be #4599 and track it there.  I'm going to close this due to not a singular core ask.  The format stuff just seems so ... straight forward coming from an area that doesn't use the 24h clock.

Also how do you show time that jumps days?  :-)  (ala 1pm tomorrow)

[2021-12-29 00:37] #11498 closed

[2021-12-29 00:46] gileli121 commented on #13
Nice
WindowTop did the frame border stuff first.
I have bad feeling that PowerToys is just a way for Microsoft to copy good ideas.

[2021-12-29 00:51] crutkas commented on #13765
KBM doesn't perform well in game scenarios.  We blindly just send keycodes around also with no context of what they really are.  We see code 150 and you mapped it to 142 so we block the 150 from bubbling down and inject in 142 for you.  KBM itself doesn't know what a swedish or english keycode is.

I think more in terms of https://github.com/microsoft/PowerToys/issues/14850 would be more actionabl

[2021-12-29 00:51] #13765 closed

[2021-12-29 01:01] crutkas commented on #15111
PowerToys is to enable more scenarios for users and incubate ideas.  FancyZones is literally a totally different application that "looks" / "acts" like Windows snap.

Like, for us to build a tool to view chkdsk logs, I think its impact would be small for a decent amount of work.  Improve Event viewer and better log viewing via that would be more impactful. I look at chkdsk and it is whatever they

[2021-12-29 01:02] crutkas commented on #15027
/dup #6976

[2021-12-29 01:02] #15027 closed

[2021-12-29 01:05] crutkas commented on #874
when you filed the issue @marypcbuk, it was a lot easier to get into trouble due to the tabbing keyboard trap.  I don't think you can get into trouble like you could before.

Cool if we close this issue out?

[2021-12-29 01:08] crutkas commented on #9966
We added VEC4 which does RGBA
![image](https://user-images.githubusercontent.com/1462282/147618036-92338357-192f-483d-ae3b-5dc265c65613.png)

@ziplock9000  isn't this what you want?

[2021-12-29 01:12] crutkas commented on #11942
@jaimecbernardo the logs do show it was triggered.

@aislamsourav does colorpicker show up in task manager?  Would be in background processes

[2021-12-29 01:16] crutkas commented on #13696
We could expand this to all hotkeys.  I think there is a tracking issue for this .

[2021-12-29 01:16] crutkas commented on #14410
/dup #12778

[2021-12-29 01:16] #14410 closed

[2021-12-29 01:17] crutkas commented on #13696
speak of devil, found a earlier version of this.  /dup #11716

[2021-12-29 01:17] #13696 closed

[2021-12-29 01:20] crutkas commented on #13831
We've had this reported but for life of us (#7818), can't repro it which makes it hard to debug. @Copystrike are you running maybe at a higher DPI scale?

[2021-12-29 01:21] crutkas commented on #11924
Solution here would be to take a screenshot and do an underlay.

[2021-12-29 01:23] crutkas commented on #14112
@extesy can you help me when you'd use this?  Does the MacOS color picker do such a thing?

[2021-12-29 01:24] crutkas commented on #12916
/dup #1881

[2021-12-29 01:24] #12916 closed

[2021-12-29 01:24] crutkas commented on #14660
/dup #8305

[2021-12-29 01:24] #14660 closed

[2021-12-29 01:27] crutkas commented on #14129
could grey out the color icon but few icons are very grey scale based ...

[2021-12-29 01:29] crutkas commented on #14140
believe this is a dup of https://github.com/microsoft/PowerToys/issues/4098#issuecomment-955576892

This will be in 0.53 release
![image](https://user-images.githubusercontent.com/1462282/147618910-23eb1287-0603-49ba-b279-f2f527e7a6af.png)

[2021-12-29 01:33] crutkas commented on #11009
We currently support 4 different systems.
![image](https://user-images.githubusercontent.com/1462282/147618982-2625b1a5-3b19-49e2-b38a-8751af007726.png)

No system will ever be perfect when it comes to overlapping zones.  I look at what is proposed above and it is unclear why some are resized like they are.  4 zone grey, why is that bottom right while the orange is full left.  Grey is a far larger

[2021-12-29 01:34] chrisloup commented on #15091
https://github.com/dotnet/sdk/issues/16896#issuecomment-819593547 I tried this. not sure if it is the right one. also uninstalled/reinstalled powertoys. doesn't work.

doesn't matter i guess. I'll just wait for an eventual fix if ever .

[2021-12-29 01:36] pb5050 commented on #15091
yes thats it

[2021-12-29 01:37] pb5050 commented on #15091
make sure you install it just like he said both sdk and the other build follow his directions to the t and it will work i promise.  install into directories like he says

[2021-12-29 01:39] jpdied commented on #15172
This is a fresh system; the logs I provided are from a fresh install after upgrading to Windows 10 20H2. I have since upgraded to Windows 10 21H2, uninstalled PT and reinstalled and still get the crash.

[2021-12-29 01:40] pb5050 commented on #15091
it fixed mine.

no its not slow its because ur prob running a shit load of non native arm shit. i have no complaints for this surface pro x its a tablet not a desktop i compile and do all types of stufff. do your research and compile things into arm if u need to its hard work but work it

[2021-12-29 01:54] crutkas commented on #15091
Ultimately this is ARM support. It can work via emulation but you will have the perf hit

[2021-12-29 02:45] crutkas commented on #7824
Duplicate of is far more to type.  Why we do /dup

[2021-12-29 03:26] shayne commented on #13035
Wanted to see this happen so I wrote PowerDimmer, a first attempt. I know next to nothing about dotnet and Windows dev but I'm using PowerDimmer now.

https://github.com/shayne/PowerDimmer

[2021-12-29 03:28] crutchcorn commented on #13035
@shayne is it possible this repo is private? It 404s for me

@crutkas I admittedly haven't yet given it a stab. I was planning on doing so this week, but it seems like @shayne possibly has a strong start. I'm hoping I can help a bit when I can take a look at it :)

[2021-12-29 03:30] shayne commented on #13035
Woops! Yeah, public now.

[2021-12-29 03:34] mell0wyell0 opened #15192 "PowerLauncher leads to Windows Problem Reporting"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

Turning on PowerToys Run shows PowerLauncher in Task Manager Processes but within seconds, I get a Windows Problem Reporting that appears with no pop-up that then closes PowerLauncher
[PowerToysReport_2021-12-29-11-32-27.zip](https://github.com/microsoft/PowerTo

[2021-12-29 03:49] extesy commented on #14112
@crutkas I would use it right here: https://docs.microsoft.com/en-us/windows/powertoys/color-picker - you can see various color formats there: RGB, HSL, HSV, CMYK, etc. None of them are as good as the two color spaces from my suggestion.

[2021-12-29 03:51] extesy commented on #14112
In other words, this
![image](https://user-images.githubusercontent.com/65872/147625751-58bad2e9-b73d-4abe-96d6-8718c7e04f1a.png)
is inferior to this
![image](https://user-images.githubusercontent.com/65872/147625794-f25cb8e8-1a86-4b2e-b427-419c84495639.png)

[2021-12-29 03:55] crutkas commented on #13035
I will take a look tomorrow!

[2021-12-29 03:58] crutchcorn commented on #13035
@shayne - is it okay if I submit bug reports and/or PRs to the GH repo? Or would you like me to hold off for now?

[2021-12-29 04:08] JesalHaria opened #15193 "Powertoys Run - Option to open existing applications instead of opening new instance"
### Description of the new feature / enhancement

This is the way macos (at least by default) functions, and on my work laptop I've become accustomed to being able to open existing instances of programs as part of my workflow.

I find this better than alt tabbing as I don't need to cycle through all my running instances, and I'm able to switch between my workspaces easily.

An example is if I'm us

[2021-12-29 04:10] shayne commented on #13035
Feel free to file the bug in case it's not on my radar. There are a few known issues. I figured I should release it as is since (when you're not trying to break it) it works well. Perhaps some Windows experts can spot the issues instead of me spinning my wheels :)

[2021-12-29 05:07] crutkas commented on #14112
You are giving implementation not scenarios. What you are proposing adds a lot of physical size  without understanding when you’d need this. When this would be used.

I’d imagine something like photoshop or premiere would have this native

[2021-12-29 05:42] MZedalis commented on #15177
Cool thanks! Didn’t realize the alarms button does that

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Clint ***@***.***>
Sent: Monday, 27 December 2021 5:13 pm
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [microsoft/PowerToys] Presentation Disturbance Mode (Issue #15177)

If you're presenting, you should have your computer in Focus mode (built i

[2021-12-29 06:33] Aaron-Junker commented on #15193
There is a preinstalled plugin for doing this. It has the direct activation command `<`:

![image](https://user-images.githubusercontent.com/58633848/147633633-0bf830f8-0ba0-4e32-98a3-a1b7d79b0e9e.png)

If you want to include these results wothout the activation command go to the settings. Then to PowerToys Run and then scroll down to the `window walker` entry. Expand the entry and select `Include

[2021-12-29 06:33] Aaron-Junker commented on #15193
Please tell me if that's what you want.

[2021-12-29 07:14] aislamsourav commented on #11942
@crutkas Yes, the color picker does show in task manager. After turning on my PC it doesn't work. If I bring up my **Task Manager** or **Power Toys setting** and click Ctrl+Shift+C then it works perfectly fine. But If I close those windows, it stops working again. So, if I want to use it normally without keeping the PowerToys settings window open, I quit it from the system tray and start it again.

[2021-12-29 07:35] htcfreek commented on #15134
@crutkas
The links on our docs page are buggy. (Maybe not only the mai page.)

![Screenshot_20211229-083219_Samsung Internet.jpg](https://user-images.githubusercontent.com/61519853/147638096-1c000f14-a1e2-480d-ae24-0be0c58540d4.jpg)
![Screenshot_20211229-083148_Samsung Internet.jpg](https://user-images.githubusercontent.com/61519853/147638110-7fe476cc-714a-484d-a84b-9af8a288bb32.jpg)
![Screenshot_

[2021-12-29 07:50] Aaron-Junker commented on #15134
@htcfreek That's only in the german version. The navbar is also off:

![image](https://user-images.githubusercontent.com/58633848/147639253-8447e8e1-a692-4194-946f-4f9a9022ad97.png).

@crutkas Could you reach out to the docs team and ask why this is happening?

[2021-12-29 07:53] yuyoyuppe commented on #13984
@Zxurian thank you for the report. We register virtual camera device upon installing PowerToys, that's why it could interfere even when the process is not running.

[2021-12-29 08:05] serturk-dev opened #15194 "Auto Shutdown"
### Description of the new feature / enhancement

Please add auto shutdown feature.
we select time and close windows auto.
Thank you.

### Scenario when this would be used?

Auto shutdown

### Supporting information

_No response_

[2021-12-29 08:27] mbartlett21 opened #15195 "Keep find my mouse on until turned off"
### Description of the new feature / enhancement

Expected behavior: a way to toggle the find my mouse display on and keep it on even through mouse clicks or keyboard interaction until toggled off again.

### Scenario when this would be used?

To enhance visibility of the mouse; For accessibility

### Supporting information

_No response_

[2021-12-29 09:24] JesalHaria commented on #15193
Thanks yeah this is basically exactly what I wanted. Sorry I've literally only just found and started using powertoys today so I missed that config. The only thing is if I can have that be the default functionality when not using the activation command. Because otherwise I have to scroll down to the option. Not a big deal because I can just use the activation command, but just wondering for my use

[2021-12-29 09:55] ownion opened #15196 "Automatic copy when selected with mouse"
### Description of the new feature / enhancement

It will be useful to have a feature in Power Toys that will avoid pressing `CTRL + C` and copy directly everything that is selected with the mouse directly on the clipboard.
Eventually clicking the scroll wheel will paste, avoiding to press `CTRL + V`.

### Scenario when this would be used?

This can be used when quickly copying and pasting multipl

[2021-12-29 09:56] bbender84 opened #15197 "Mouse utilities: Spotlight color transparency + Spotlight dismiss manually"
### Description of the new feature / enhancement

The mouse utilities can also be used as a spotlight for a presentation. For this two small features make sense.

**Spotlight color transparency**
Currently it is only possible to set a specific color for the _Spotlight color_. For a presentation we need full transparency as an option.

**Spotlight dismiss manually**
Currently the spotlight will dis

[2021-12-29 10:58] ahmetsamsa commented on #15191
I get this error when I try to install/reinstall/uninstall.
![image](https://user-images.githubusercontent.com/36507696/147655366-cd44e35a-956f-4b03-8603-cfe872ef086b.png)

[2021-12-29 11:10] CleanCodeDeveloper commented on #14715
Resizing this image was possible with version 0.49.1 an earlier. It is a regression introduced by me with PR #14914. I'm sorry about that and will commit a fix soon.

Could you assign this issue to me?

[2021-12-29 12:01] cncptpr opened #15199 "Open Programms via Shortcut"
### Description of the new feature / enhancement

Could you add the function to **start a programm** with a **shortcut**, like _AutoHotkeyScript (AHK)_ does it. But in the Programm, not in some script language.

### Scenario when this would be used?

Whenever you want have a Programm you want to open quickly or often. Maby a notetakking app during an conversation

### Supporting information

_No r

[2021-12-29 12:18] davidegiacometti commented on #15191
@ahmetsamsa does the error persist after a reboot?
I don't think this is related to PowerToys and I expect the same error trying to install/uninstall another program MSI.

[2021-12-29 12:27] davidegiacometti commented on #15188
I don't have any problems to build after cleaning the repo (`git clean -xdf`).
Haven't cleaned nuget cache.

VS2019

[2021-12-29 12:29] ziplock9000 commented on #9966
Yeah that looks great. Very useful for .NET and Unity developers. Thanks. @crutkas

[2021-12-29 12:30] lusitania opened #15200 "3-button-swap gives unexpected binding"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

The navigation keys on my keyboard are aligned in an odd sequence. The physical keys are swappable and I want to change their sequence from
[code]
to
[code]

For this I created this 3-way binding:
1. PgDn -> Home
2. Home -> PgUp
3. PgUp -> PgDn

![image](http

[2021-12-29 12:58] lusitania commented on #15200
Ah! I figured it out! My mental model was wrong. I was thinking of "moving physical keys", not "binding keys to functions". I had to swap the columns like this:
![image](https://user-images.githubusercontent.com/4135918/147663523-f0e67211-1eb0-4863-9f01-d997b1007254.png)

If you would change the wording of the dialog a little? This would have worked for me:
![image](https://user-images.githubuserc

[2021-12-29 13:00] #14987 closed

[2021-12-29 13:15] Aaron-Junker commented on #15199
/dup #3350

[2021-12-29 13:15] #15199 closed

[2021-12-29 13:19] CleanCodeDeveloper commented on #15034
Initial request translated by [DeepL](https://www.deepl.com/):

**Steps to reproduce**
when running the program to reduce the size of the photos, in the latest version, the photos lose color, it is as if the color settings were wrong.

**Expected Behavior**
I hope that by changing the size of the photographs, they do not lose color or saturation.

[2021-12-29 13:19] CleanCodeDeveloper commented on #15034
Would you mind sharing the image? Would really help us to reproduce the issue!
¿Le importaría compartir la imagen? Nos ayudaría mucho a reproducir el problema.

[2021-12-29 13:20] CleanCodeDeveloper commented on #14974
Would you mind sharing the image? Would really help us to reproduce the issue!

[2021-12-29 15:37] Aaron-Junker commented on #15194
I also wanted something like this. So I created a PowerAutomate Desktop Flow for it:

http://aaron-junker.github.io/PowerAutomateShutdown/

[2021-12-29 16:00] franky920920 commented on #15200
/dup #13710

[2021-12-29 16:00] franky920920 commented on #15200
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #13710 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-29 16:02] #9966 closed

[2021-12-29 16:02] franky920920 commented on #15196
Duplicate of #14

[2021-12-29 16:02] franky920920 commented on #15196
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #14 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-29 16:36] Jay-o-Way commented on #13831
@crutkas maybe it's because you're computers are just too good, haha. I'm guessing the processor is the bottleneck.

[2021-12-29 16:39] crutkas commented on #13831
Jay in theory my laptop should hit this all the time if it was based on spec. There has to be a commonality config or setting.

[2021-12-29 16:40] crutkas commented on #13831
Maybe we just increase the buffer for adjustment a pixel inward in all directions.

[2021-12-29 16:48] Jay-o-Way commented on #15195
Yes, this has been requested quite a number of times actually. I'm thinking something like
[code]

[2021-12-29 16:54] Jay-o-Way commented on #14448
I'm thinking something like
[code]

[2021-12-29 16:54] Jay-o-Way commented on #15195
Duplicate of #14448

[2021-12-29 17:05] ironhak opened #15201 "Export all power toys settings for quick set-up on new pc."
### Description of the new feature / enhancement

Hi, awesome utility you built guys.
It would be great to have a backup feature of the settings, where I can export my settings as a file and then import them on a new pc in order to have all my settings right in place.

I think this would be useful for everyone, thank's.

### Scenario when this would be used?

I have a lot of keyboard hotkeys and k

[2021-12-29 17:07] Aaron-Junker commented on #15201
/dup #586

[2021-12-29 17:07] #15201 closed

[2021-12-29 17:11] Jay-o-Way commented on #15197
Thanks for the message.
Dismiss is a duplicate of #14448

[2021-12-29 17:12] SeraphimaZ opened #15202 "[AlwaysOnTop] Inaccurate border placing after playing with settings"
I still experience issues with borders (after playing with border settings):
![image](https://user-images.githubusercontent.com/57057282/147659876-a1753947-818b-4034-80d4-ba3837153e55.png)

Borders from different windows are overlapping while I'm changing thickness

_Originally posted by @stefansjfw in https://github.com/microsoft/PowerToys/issues/14360#issuecomment-1002560093_

[2021-12-29 17:17] SeraphimaZ opened #15203 "[AlwaysOnTop][FancyZones] Move common code"
Copy-pasted code marked with TODO in AOT

[2021-12-29 17:48] extesy commented on #14112
Where does "a lot of physical size" come from? This would add two rows to the existing list of HSV, HCL, etc. The code behind computing the three values is this: https://raw.githubusercontent.com/bottosson/bottosson.github.io/master/misc/colorpicker/colorconversion.js - just one file, easily translatable into C#. So the "physical size" would be two rows on screen and less than 1 kilobyte of code.

[2021-12-29 17:49] gileli121 commented on #13857
I don't need VM for it. It is too much.
Btw, you are so losers about AoT feature..
You are not innovative.. You just copy ideas.
The frame around pinned windows is something that was done first in WindowTop and you copied it.
Only losers coping ideas.

[2021-12-29 18:02] serturk-dev commented on #15194
Thank you Aaron,  I'm looking.

[2021-12-29 18:02] serturk-dev commented on #15194
Thank you Aaron, I'm looking.

[2021-12-29 18:14] rifton007 commented on #1411
Also, i have version 0.51.1 of Power Toys, but i don't have "Layout shortcut" option.
![image](https://user-images.githubusercontent.com/2601347/147691542-d8f7c61a-754d-4a15-9554-a6446d7656a6.png)

[2021-12-29 18:26] crutkas commented on #13710
/dup #10389

[2021-12-29 18:26] #13710 closed

[2021-12-29 18:30] crutkas commented on #15200
/dup #10389

[2021-12-29 18:30] #15200 closed

[2021-12-29 19:05] happiness801 commented on #13035
@shayne - Looking good so far! I didn't know LeDimmer existed and I was playing around with PowerToys today and thought it would be nice to have a focus app like this. Hopeful to see this make it into PowerToys soon!

[2021-12-29 19:14] Pitta commented on #15189
[PowerToysReport_2021-12-29-11-13-34.zip](https://github.com/microsoft/PowerToys/files/7790293/PowerToysReport_2021-12-29-11-13-34.zip)

here ya go!

[2021-12-29 19:57] crutkas commented on #15196
/dup #14

[2021-12-29 19:57] #15196 closed

[2021-12-29 19:58] crutkas commented on #15195
/dup #14448

[2021-12-29 19:58] #15195 closed

[2021-12-29 20:05] CleanCodeDeveloper commented on #14904
The code in question was not modified since the [initial commit in March 2020](https://github.com/microsoft/PowerToys/commit/d84cc370c984e39a881a92e8df3ea4b130d58661). The relevant [piece of code](https://github.com/CleanCodeDeveloper/PowerToys/blob/3ada3c20a204d7905164b5811237099630a3ef29/src/modules/imageresizer/ui/Models/ResizeOperation.cs#L182) is:
[code]
I'm not sure if we share the same unde

[2021-12-29 20:20] crutkas commented on #13857
For this issue, the question becomes "when is it safe" to clean up.  That is the nice thing with the sandbox is it will 100% keep stuff clean and you closed the window.

re: Always on Top has always been a PowerToy since olden days, one of the new PT's first asks and has constantly been a top ask.  https://github.com/microsoft/PowerToys/issues/641 for a screenshot.  The border idea came from Teams

[2021-12-29 21:13] johny-mnemonic commented on #13984
@yuyoyuppe Do you know why PowerToys are still installed with "Conference mute" enabled by default? I hoped that this issue reported by a lot of people is big enough proof, that there is a bug in this feature affecting many users. So leaving it disabled by default till the solution is found would be easy and fast workaround.

[2021-12-29 21:23] tomhundt opened #15205 "Provide shortcut (Alt + ` ) to switch between windows of the current app"
### Description of the new feature / enhancement

Macs have had this feature forever: **You can use Alt-Tab to switch between applications, but you can also Alt-` (backtick) to switch between _windows of the current application_**.  Word, or (ahem) Chrome, or Windows Terminal... we all use multiple windows for these, constantly.

Right now, to find that browser window that's buried under all the r

[2021-12-29 21:28] Thespikedballofdoom commented on #3364
well lets put it on your roadmap

[2021-12-29 21:29] spiceygas commented on #14904
Question: Did you actually make your pictures by running the test case through the utility?  Or did you draw those pictures independently?  Because that's not how it behaves right now when I run the test case.

In your first scenario (without checking the box), the pictures you show both come out in landscape format.  You labeled the second output picture in the first scenario incorrectly as 180x2

[2021-12-29 21:33] Jay-o-Way commented on #14904
@CleanCodeDeveloper thanks for the message. What you say is correct and what you show is the intended result. I think the problem for @spiceygas is just that it doesn't seem to work over there. So the thing is, we need to know _why_, and I am willing to label this issue with `Needs-Repro`.

[2021-12-29 21:35] yuyoyuppe commented on #13984
@johny-mnemonic thanks for the suggestion! we actually will disable it by default starting from the next release.

[2021-12-29 21:42] Jay-o-Way commented on #14904
@spiceygas is this problem occuring to all images you have tried, or maybe one or a few specific?

[2021-12-29 21:57] CleanCodeDeveloper commented on #14904
I used the Image Resizer v0.51.1 for this.

Can you please confirm that you used the exact same settings (Resize type: Fill, Width: 260, Height: 180, Unit: Pixel)?

@Jay-o-Way: Could you try to reproduce the issue using my sample images?

[2021-12-29 22:09] crutkas commented on #14150
/dup #14123

[2021-12-29 22:09] #14150 closed

[2021-12-29 22:12] Karimo299 opened #15206 "Advanced Optimus Doesn't Automatically Swtich Display Modes when PowerToys is running in the background."
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

Advanced Optimus is a feauture that allows the laptop to switch between the dedicated GPU and the Integrated GPU depending if a program running needs the Dedicated GPU (E.g. Lauching a game). The issue happens when I try to launch a game but also have power toys runni

[2021-12-29 22:13] Karimo299 commented on #15206
Here is the zip generated by Power Toy
[PowerToysReport_2021-12-29-17-00-48.zip](https://github.com/microsoft/PowerToys/files/7790787/PowerToysReport_2021-12-29-17-00-48.zip)
s

[2021-12-29 22:15] crutkas commented on #15194
https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/shutdown

Chances are we'd build this into Awake via #12191

/dup #12191

[2021-12-29 22:15] #15194 closed

[2021-12-29 22:27] crutkas commented on #13673
From @witooski's log, looks like this is actually a failure on PT Run's error reporting screen so there are two bugs here.  Wonder what is causing the first crash and why the logs didn't catch it.  Now the question is how do we repro this.

[code]

[2021-12-29 22:29] crutkas commented on #13673
for 0.53, we do have 1 bigger fix but doubt it is the fix

[2021-12-29 22:38] #15193 closed

[2021-12-29 22:43] crutkas commented on #14448
/dup #14137

[2021-12-29 22:43] #14448 closed

[2021-12-29 22:45] crutkas commented on #14138
@ChrisJohnTaylor i'd say that ask is more #14137 (which you created too :))  I'm going to then close this as i feel like this itself is done but the heart of your ask is #14137 in the comment above

[2021-12-29 22:45] #14138 closed

[2021-12-29 22:47] crutkas commented on #14594
This comment is why:
https://github.com/microsoft/PowerToys/issues/3703#issuecomment-638232708

three finger gestures look to be under-the-hood shortcuts.  @saahmedm directly mentioned a keystroke same remapping of a ctrl key  So this would be a dup of #3703

[2021-12-29 22:47] #14594 closed

[2021-12-29 22:52] crutkas commented on #14603
be warned, pretty much all shortcuts with numbers are used in Windows.

[2021-12-29 23:00] crutkas commented on #13689
going to /dup #13972 as that has seraphima on it already

[2021-12-29 23:00] #13689 closed

[2021-12-29 23:06] crutkas commented on #13972
xref #15170

[2021-12-29 23:15] crutkas commented on #14413
Canvas based layouts are pixel coded, this is sadly behaving as expected.  the first window adjustment is actually Windows moving it, not FZ.  I think this is a won't fix as it is a task that is rarely done but is a high-cost implementation feature

[2021-12-29 23:20] crutkas commented on #14697
@kevinfrteels where are the files located.  onedrive?

[2021-12-29 23:25] crutkas commented on #14663
This is a WinUI issue.  I can repro it in XAML Control gallery

[2021-12-29 23:25] #14663 closed

[2021-12-29 23:29] crutkas commented on #14666
/dup #3703

[2021-12-29 23:29] #14666 closed

[2021-12-29 23:35] crutkas commented on #14527
/dup #279

[2021-12-29 23:35] #14527 closed

[2021-12-29 23:36] crutkas commented on #14527
FYI: this isn't actually a bug, Window snapping acts the same way

[2021-12-29 23:40] crutkas commented on #15073
Something ala this would work.  May need to be wrapped in a dispatcher invoke after the insert:

https://stackoverflow.com/questions/4793030/wpf-reset-listbox-scroll-position-when-itemssource-changes#:~:text=Anyway%2C%20to%20scroll%20the%20ListBox%20to%20the%20top,top%20once%20its%20items%20has%20been%20generated%20Update

[code]

[2021-12-29 23:47] crutkas commented on #13934
@Pontiac76 are you using canvas or grid style layouts?

[2021-12-29 23:52] crutkas commented on #8632
won't be an issue anymore.

[2021-12-29 23:52] #8632 closed

[2021-12-29 23:52] crutkas commented on #13299
This won't be an issue anymore as we will be removing LCL files due to change in how the loc system works.

[2021-12-29 23:52] #13299 closed

[2021-12-29 23:53] crutkas commented on #13985
Tried to run the app, requires an account.  Does Windows allow for the application to be snapped?

[2021-12-29 23:55] crutkas commented on #13364
what version of Windows are you on?  Are any connected via displayport?

[2021-12-29 23:56] crutkas commented on #13088
we have no plans to do this.

[2021-12-29 23:56] #13088 closed

[2021-12-29 23:56] crutkas commented on #13088
if someone wants to do a plugin, 100% they can, but not somethign we'd directly make into a core aspect

[2021-12-30 00:05] crutkas commented on #13940
PR created for fix

[2021-12-30 00:09] crutkas commented on #13894
What about when the app is opened via terminal?  or from even PT Run?  I think this may be really hard to get correct and predictable.  Also in Windows, apps have a lot of control over how they move and react.  Most so on startup.

[2021-12-30 00:11] crutkas commented on #13898
/dup #15067

[2021-12-30 00:11] #13898 closed

[2021-12-30 00:12] crutkas commented on #14965
@GoldenJoe what version of Windows are you on?

[2021-12-30 00:14] crutkas commented on #3765
I think this is a feedback hub item, i dont' think we'll fix this inside PowerToys

[2021-12-30 00:14] #3765 closed

[2021-12-30 00:18] crutkas commented on #10881
We are borrowing the default behavior from Windows.  We just set the global mute for microphones in Windows.  Feedback hub would be the better spot for this.

[2021-12-30 00:22] crutkas commented on #13972
actually, looks like this is a /dup #2382

[2021-12-30 00:22] #13972 closed

[2021-12-30 00:26] crutkas commented on #12588
Wouldn't this be alt-drag which is issue #269

[2021-12-30 00:41] crutkas commented on #13673
/dup #13683 and has possible fix

[2021-12-30 00:41] #13673 closed

[2021-12-30 00:42] crutkas commented on #15134
Let's file a new issue and keep this one on track.

[2021-12-30 00:44] crutkas commented on #11942
@aislamsourav possible to pop on a teams call and triage a bit so i can see what is happening a bit closer?  crutkas@microsoft.com is my email

[2021-12-30 00:59] crutkas commented on #14112
Sorry, I was misunderstanding the ask as you wanted more color space pickers on the screen. Thanks for helping me better understand.

**Question:** What apps, APIs or languages leverage OKHSL/OKHSV?  I ask cause i've never see this format before and i mainly see references to Bjorn's site on a quick search. If we added the format, when would you use it?  All other formats we've added have apps and

[2021-12-30 01:09] franky920920 commented on #3765
[Feedback hub](https://aka.ms/feedbackhub)

[2021-12-30 01:23] C0DE-L00P opened #15208 "Spotlight Additional feature"
### Description of the new feature / enhancement

+Translator from any to any based on google translator api

### Scenario when this would be used?

while watching a movie with subtitle or surfing the internet or reading a document you need a real fast solution that does not require select the word or going to another window, just hit alt + space and write it to get the meaning

### Supporting inf

[2021-12-30 01:26] marypcbuk commented on #874
sure: if it's still catching people, I'm sure someone will say so ;)

[2021-12-30 01:29] C0DE-L00P opened #15209 "Keyboard Manager Problem + Feature suggestion"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

2 points that I want to take about:

first: sometimes it just stop working and your custom hotkeys are not working any more. it's until I restart my PC and everything goes right again.

second: It would be a great feature if you add the ability to remap keys

[2021-12-30 01:33] C0DE-L00P opened #15210 "Column View in Windows Explorer"
### Description of the new feature / enhancement

Column View is a great feature in Mac that I have always wish that it comes to windows

### Scenario when this would be used?

when you are just looking for a file and you are not sure about its name. column view in this situation give you the ability to see every file in the folder on the run saving you a ton of wasted time.

### Supporting inform

[2021-12-30 01:39] GoldenJoe commented on #14965
OS build 19043.1415, Windows 10

[2021-12-30 01:40] C0DE-L00P opened #15211 "Quick Look feature out of QTTabBar application"
### Description of the new feature / enhancement

one of the great features that have been done perfectly in QTTabBar is the quicklook of any file (pic, video, pdf, txt ... etc) by just hover over it with the mouse. the only lack point in there application for the idea is that video playing does not have a playing timeline and can't control speed of video playing.

### Scenario when this would be

[2021-12-30 01:41] GoldenJoe commented on #13985
You can make an account for free. Windows does not allow snapping.

[2021-12-30 01:59] franky920920 commented on #15208
Duplicate of #9095

[2021-12-30 01:59] franky920920 commented on #15208
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #9095 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-30 02:03] franky920920 commented on #15209
Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/11349917/133042052-4975be21-4699-4363-83c9-a8e1869d079d.png)

---

For the suggestion, that's duplicating #6756. Thanks for your suggestion!

[2021-12-30 02:16] Pontiac76 commented on #13934
Canvas.

I just think that if the desktop work area can be dynamic based on the size of the task bar size, that FZ should accommodate.  Not to mention, with multimonitor setups being really common, and many different screen sizes, it makes sense to use a percentage based scaling instead of hard-fixed pixels especially if the layout is to be put against multiple monitors.

[2021-12-30 02:31] franky920920 commented on #15205
Duplicate of #10061

[2021-12-30 02:31] franky920920 commented on #15205
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #10061 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-30 02:33] crutkas commented on #13985
Then they are doing “non standard” stuff. While we could solve it, it would be a direct one off solution which is something i don’t think we’d want to do.

[2021-12-30 02:34] franky920920 commented on #15211
Duplicate of #80

[2021-12-30 02:34] franky920920 commented on #15211
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #80 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-30 02:34] crutkas commented on #13985
Solution here is to reach out to them and ask to make their windows be normal windows

[2021-12-30 02:58] peterfritz opened #15212 "Battery percentage displayed in the taskbar"
### Description of the new feature / enhancement

A configurable battery percentage displayed near the battery icon in Windows 11.

### Scenario when this would be used?

It would be very useful as you'd be able to tell the battery percentage at a glance, without having to move the mouse and hover the icon.

### Supporting information

I've found four Reddit threads [[1]](https://www.reddit.com/r/

[2021-12-30 03:02] franky920920 commented on #15212
Duplicate of #7

[2021-12-30 03:02] franky920920 commented on #15212
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #7 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-30 03:39] extesy commented on #14112
I would prefer option 3, with option 2 a second preference. I think it will be useful for tweaking colors (more intuitive HS* sliders). I am not aware of any editors currently using OKHS* color spaces yet since the article is pretty recent (September '21) but I think it would fit well into the concept of PowerToys providing "power" features and plugging gaps in external applications. I wouldn't be

[2021-12-30 03:40] #874 closed

[2021-12-30 04:08] GoldenJoe commented on #13985
So…Windows can’t control the behavior of its windows? Great product guys.

[2021-12-30 04:45] crutkas commented on #13985
We create a generic detection engine that detects window based on the type of window they are. I’m betting they are applying a type that to us looks like a save dialog so we won’t touch it since that is typically a window you don’t want snapped. We would have to do a one-off fix for the app which becomes unmaintainable and massive testing scenarios. We would do all our time testing every app versu

[2021-12-30 04:46] crutkas commented on #13985
And yes, we can override it but doing it in a generic manner isn’t scalable and would break common scenarios (like a save dialog)

[2021-12-30 05:30] peterfritz commented on #15212
Hi, I saw his issue when searching for duplicates, but I saw little to no similarities, his focuses on monitoring and limiting battery capacity, and it seems to be a feature that must be implemented by the manufacturer, otherwise impossible. Mine is a way simpler purely visual addition to improve the taskbar battery icon.

[2021-12-30 05:30] bellesbae opened #15213 "ciceroUIWndFrame PowerLauncher.exe Application Error"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

Getting this pop up error as soon as I reboot.

ciceroUIWndFrame PowerLauncher.exe Application Error

Goes away after I uninstall powertoys but returns after I install it and reboot.

screenshot:  https://paste.pics/FI607

### ✔️ Expected Behavior

_No response_

###

[2021-12-30 06:59] crutkas commented on #14112
My main feedback here is every format we support can be directly pointed at an API or application that needs it in that format.

[2021-12-30 07:04] varmemester commented on #15163
Any idea why it is happening?

[2021-12-30 07:20] franky920920 commented on #15213
![image](https://user-images.githubusercontent.com/11349917/147730105-08d1d73a-f787-4dfb-b959-5898d95c7ea0.png)

[2021-12-30 07:22] #14413 closed

[2021-12-30 07:24] crutkas commented on #13568
This just should be a double click to open. That is the standard behavior

[2021-12-30 07:48] Skywings96 opened #15214 "Auto shift of dark and light model"
### Description of the new feature / enhancement

Auto shift to dark model when the sun is down and shift to light model when the sun is rise. This function is very common in many operation system , such as IOS, MacOS,  Android，some linux distribution (such as deepin).

### Scenario when this would be used?

This function can make the windows become more convenience.

### Supporting information

_

[2021-12-30 08:06] arjunbalgovind commented on #13763
Yes, that's correct. As per the initial design choice, key to key remappings are applied before shortcut remappings are applied and hence combining the two windows would not work unless they are divided into two sections and a clear ordering is enforced.
Example if a user remaps A->B, then when they hit "Ctrl+A" on their keyboard in the Remap Shortcut window, it would appear as Ctrl+B since the ke

[2021-12-30 08:49] Jay-o-Way commented on #12588
Alt-drag only moves, this one resizes too.

[2021-12-30 09:10] Pixopax commented on #13364
Hi,

I have Windows 10.0.19043.1415

My Display is connected with Displayport.

Louis

Von: Clint Rutkas ***@***.***>
Gesendet: Donnerstag, 30. Dezember 2021 00:56
An: microsoft/PowerToys ***@***.***>
Cc: Pixopax ***@***.***>; Author ***@***.***>
Betreff: Re: [microsoft/PowerToys] After standby windows are rescaled (#13364)

what version of Windows are you on? Are any connected via displayport?

—

[2021-12-30 09:15] Jay-o-Way commented on #14448
Duplicate of #14137

[2021-12-30 09:29] bbender84 commented on #15197
Presentation: do you mean like in #14137?

[2021-12-30 10:06] TheSimArchitect opened #15215 "Fancy Zones with Older Programs"
### Description of the new feature / enhancement

I really love PowerToys and the Fancy Zones are definitely a must and I still wonder why it's not included in the main operating system by default.

Anyways, it would be nice if the fancy zones worked with older applications (like EZVIZ program, for example, that looks like something from the times of Windows Vista 😝) and fixed size windows (even i

[2021-12-30 10:45] ahmetsamsa commented on #15191
For now only I get the error in this software. Do you know how can I get a backup of the PowerToys setting so I can force uninstall it and install the new version?

[2021-12-30 11:06] davidegiacometti commented on #15191
@ahmetsamsa settings aren't deleted on uninstall but you can backup `%LOCALAPPDATA%\Microsoft\PowerToys` directory.

[2021-12-30 11:08] davidegiacometti commented on #15214
Hi @Skywings96
Thanks for opening the issue
I am closing this as a duplicate of https://github.com/microsoft/PowerToys/issues/1331

[2021-12-30 11:08] #15214 closed

[2021-12-30 11:20] rekognizecode opened #15216 "Extended context menu option for all functions please"
### Description of the new feature / enhancement

Please make it so that you can choose if you only want the PowerToys-options in the extended context menu, would be very nice.

### Scenario when this would be used?

I think a clean standard context menu w the option to use all features by going to extended context menu would be great.

### Supporting information

_No response_

[2021-12-30 11:44] Jay-o-Way commented on #15216
So far, this would only apply to 2 modules: PowerRename and ImageResizer, right? For PowerRename, this is already possible in the Settings.
![image](https://user-images.githubusercontent.com/65828559/147748951-0354aaae-b39f-4c5b-b9f0-b2605e6da509.png)
Aside from that, there are one or two issues about the new Win.11 context menu too - Image Resizer would fall under that - #13168. That leaves only

[2021-12-30 11:48] pedromvnreis opened #15217 "PowerToys Run never works after first launch"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

Use PowerToys Run for the first time after booting windows
[PowerToysReport_2021-12-30-11-39-05.zip](https://github.com/microsoft/PowerToys/files/7792728/PowerToysReport_2021-12-30-11-39-05.zip)

### ✔️ Expected Behavior

PowerToys Run should always call the tex

[2021-12-30 11:52] Jay-o-Way commented on #15215
Actually, recently there was a change (#15102) to explicitly exclude child windows from FancyZones. Not sure if it's possible to resize windows that don't allow resizing (some also have a minimum width or height) but I suppose snapping to a corner should be possible in most cases. @SeraphimaZ would be able to answer in more detail.

[2021-12-30 12:01] Jay-o-Way commented on #15213
Apparently Cicero is the Speech and Handwriting Recognition feature from Microsoft Office.
https://www.troublefixers.com/avoid-cicerouiwndframe-error-while-windows-shut-down/
@crutkas is this related to #15022?

[2021-12-30 12:01] SeraphimaZ opened #15218 "[AlwaysOnTop][Settings] Border preview"
Add a border preview in the settings (as for FancyZones).

[2021-12-30 12:02] SeraphimaZ opened #15219 "[AlwaysOnTop][Settings] Sound settings"
Allow selecting different sounds for pinning.

[2021-12-30 12:03] Jay-o-Way commented on #15197
duplicate of #14448

[2021-12-30 12:03] Jay-o-Way commented on #15197
Duplicate of #14448

[2021-12-30 12:03] Jay-o-Way commented on #15197
Duplicate of #14137

[2021-12-30 12:10] Jay-o-Way commented on #12588
If it will include both moving and resizing (and send-to-back) I think all three issues are included.

[2021-12-30 12:25] kevinfrteels commented on #14697
Yeah. I store everything on onedrive. I haven’t had time to test locally.

Kevin Freels
President
SWIFTech, Inc.

812-901-1101
812-901-1003 fax
***@***.******@***.***>

From: Clint Rutkas ***@***.***>
Sent: Wednesday, December 29, 2021 5:21 PM
To: microsoft/PowerToys ***@***.***>
Cc: Kevin Freels ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/PowerToys] SVG files not previewing in expl

[2021-12-30 12:26] kevinfrteels commented on #14697
But these are synchtonized onedrive files. So they’re stored on the local machine and not just in the cloud.

Kevin Freels
President
SWIFTech, Inc.

812-901-1101
812-901-1003 fax
***@***.******@***.***>

From: Clint Rutkas ***@***.***>
Sent: Wednesday, December 29, 2021 5:21 PM
To: microsoft/PowerToys ***@***.***>
Cc: Kevin Freels ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/PowerToy

[2021-12-30 12:31] Jay-o-Way commented on #13940
Sorry, but I don't think this change is needed. As I said, Russian/Cyrillic keyboards have a different layout. I think the comment "(this may require using the Shift key)" should be enough for users. @crutkas If you think otherwise, then text on `shortcut-guide.md` should be changed aswell...

[2021-12-30 12:47] ezwep commented on #14234
I also regularly have the problem that my Surface laptop takes off. And then I see that there is a high CPU load in the PowerToys Fancy zones process. I have a dump file but I can't upload the file as zip. Every time I get a message "its not included in the list"

I also regularly have the problem that my Surface laptop takes off. And then I see that there is a high CPU load in the PowerToys Fancy

[2021-12-30 12:50] Jay-o-Way commented on #14904
Fit 260 × 180 pixels
![image](https://user-images.githubusercontent.com/65828559/147753454-41ee8633-1374-4057-8327-2931359433e2.png)
Works fine here...

[2021-12-30 12:58] stefansjfw commented on #15168
/bugreport

[2021-12-30 13:45] Jay-o-Way commented on #15217
Thanks for your message. If this is only about the cursor focus, then this is a duplicate of #14606

[2021-12-30 14:19] jackleeholmes opened #15220 "wrong text display in fancyzone ui in simplified chinese"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

![image](https://user-images.githubusercontent.com/45418297/147759504-be452a3e-a199-4eec-9599-c27b36c50a3e.png)
A part of the upper part of the Chinese character is missing in the place marked with a red line.

### ✔️ Expected Behavior

“无布局”；“列”；“行”；”网络“
The wrong

[2021-12-30 14:26] bellesbae commented on #15213
Could be but I can't find the fix they're referring to. Might be for older Windows. And I don't even have the full Office version installed.

[2021-12-30 14:27] Jay-o-Way commented on #13152
Right now (51.1) some of them are good, but many are still not. I'll wait for 53 and if there are still issues I can (or should?) create a new, fresh issue. I can edit comments in the source files without (much) problems, right?

[2021-12-30 14:36] Jay-o-Way commented on #15213
Okay. What about the Windows OS version of the "Touch Keyboard and Handwriting Panel Service"? Any changes to that?

[2021-12-30 15:02] bellesbae commented on #15213
Its status is running but startup type is set to Manual.

[2021-12-30 15:09] Jay-o-Way commented on #15220
@niels9001 I'm guessing the Margin or FontSize are the culprit here, I would be able to remove both, but your call..
[code]

[2021-12-30 15:39] Jay-o-Way commented on #12621
+1 from me. I once tried to create a 5×2 grid: typed "10" in for number of zones and got this:
![image](https://user-images.githubusercontent.com/65828559/147766164-a9c32a71-a019-4639-aa76-3a68718e4a16.png)

[2021-12-30 15:49] Jay-o-Way commented on #2278
Also touching #463

[2021-12-30 16:07] bobvandevijver commented on #10881
@crutkas Are you sure? Because it feels like PowerToys iterates the mics to mute them, and that the list is being repopulated when executing the workaround...

[2021-12-30 16:49] pal308 opened #15221 "Window Metrics Enhancements"
### Description of the new feature / enhancement

Ability to easily change border thicknesses, scroll bar width and height, inactive and active window border colors, many of the features that used to be available in Windows 7 or earleir that were removed from Windows 10

### Scenario when this would be used?

Can be used by anyone/everyone for work, everyday use, all the time.

### Supporting info

[2021-12-30 18:24] crutkas commented on #11104
On Win11 and on test build of 0.53, i can't repro this anymore.  I know we've done work in the past between 0.37 and now and as teams has updated as well.

Does this still happen?

[2021-12-30 19:37] Miyakoos opened #15223 "Is it possible to add the "use ...encoding to open the application"function"
### Description of the new feature / enhancement

Oh, I know that character encoding errors are getting less and less, but there are still some applications that have errors. Can you add "Use ...encoding to open the application"?function--Google Translate

### Scenario when this would be used?

Character encoding error

### Supporting information

_No response_

[2021-12-30 19:38] crutkas commented on #10881
@bobvandevijver Lemme investigate, you may be right looking at the MicrophoneDevice.cpp.  I know when we first developed, it was the global mute.

[2021-12-30 19:42] crutkas commented on #2662
Lets migrate this issue to #2027 as a single tracking entity

[2021-12-30 19:42] #2662 closed

[2021-12-30 19:43] crutkas commented on #13763
Ultimately, this may be part of #2027 so lets dup it against that.

[2021-12-30 19:43] #13763 closed

[2021-12-30 19:45] BlisterAgent opened #15224 "Moving a window into a zone side-to-side causes all windows to minimize"
### Microsoft PowerToys version

v0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

I have 2 external monitors, each with a custom template. The issue I observed was with my right monitor and active template that has 2 zones split approx 70/30. Prior to the error, I had both monitors and all 4 zones occupied with apps like Chrome, Notes, Outlook

[2021-12-30 20:12] crutkas commented on #15223
can you give a few examples of when this happens now a days?  Pretty sure encoding is up to the app to read (and then write back) to the file.

I remember this being a pain long ago but i can't remember the last time i've hit it which is why i ask.

[2021-12-30 20:13] crutkas commented on #15224
Disable Aero shake.

[2021-12-30 20:16] crutkas commented on #15224
This is aero shake in Windows triggering this.  Windows is seeing a window 'shake' and going heyyyy, lets minimize everything.  You should be able to disable it via Windows Settings

Believe in Win11, this feature is disabled by default.

[2021-12-30 20:16] #15224 closed

[2021-12-30 20:19] crutkas commented on #15197
/dup  #14137

[2021-12-30 20:19] #15197 closed

[2021-12-30 20:20] crutkas commented on #15208
/dup #9095

[2021-12-30 20:20] #15208 closed

[2021-12-30 20:20] crutkas commented on #15211
/dup #80

[2021-12-30 20:20] #15211 closed

[2021-12-30 21:25] crutkas commented on #15205
/dup #10061

[2021-12-30 21:25] #15205 closed

[2021-12-30 21:38] crutkas commented on #15104
this could be a ramification from the rounded borders on Win11

[2021-12-30 21:54] crutkas commented on #10061
i will say, i feel like we have this ask somewhere.  Neat idea

[2021-12-30 22:42] SinaiMx opened #15225 "utilizar surface dial en pc"
### Description of the new feature / enhancement

Utilizar todas las características de surface dial en cualquier pc

### Scenario when this would be used?

Utilizarlo en computadoras que no sean surface de microsoft

### Supporting information

_No response_

[2021-12-30 23:09] mateialexandru commented on #77
+1 for mouse without borders OSS

[2021-12-30 23:13] Jay-o-Way commented on #15225
Description of the new feature / enhancement
Use all the features of surface dial on any pc
Scenario when this would be used?
Use it on computers other than microsoft surface

[2021-12-30 23:27] Jay-o-Way commented on #15225
Surface Dial is by itself compatible with any Win 10 pc. Please be more specific what you mean, where and why ypu need it.
https://youtu.be/r6q5tGDNZPQ

[2021-12-30 23:39] crutkas commented on #15225
you don't need a surface to use a dial.  I personally handed a bunch of them out to MVPs years ago and most didn't have Surface computers.  It is just a bluetooth device.

[2021-12-30 23:48] crutkas commented on #14756
https://github.com/MicrosoftDocs/windows-uwp/pull/3595

[2021-12-31 00:04] Jay-o-Way commented on #13861
What about a Surface Dial? https://youtu.be/r6q5tGDNZPQ

[2021-12-31 01:00] #14934 closed

[2021-12-31 01:19] GoldenJoe commented on #13985
What are you talking about? How would it not be scalable? FancyZones already has a section for "Excluded apps" that allows the user to manually enter any apps they don't want to use with FZ. Just make another box that does the exact same thing for "Override apps".

[2021-12-31 01:59] MinecraftTrees123 opened #15226 "How are you supposed to rename a bunch of files without a search criteria?"
### Provide a description of requested docs changes

So if I just wanted to rename a bunch of photos by their "date created" details, how can I do that? There is no option to just rename all the files without a "search for" criteria, I just want to rename them all, I'm not looking for a specific name in the file name. How would you do this? The doc doesn't point out any of this. Thanks

[2021-12-31 02:12] Andley opened #15227 "fancyzones -- incorrect screen resolution"
### Microsoft PowerToys version

"0.51.1"

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones Editor

### Steps to reproduce

I have two screens: 1920x1080 and 3840x2160 --- but fancyzones editor recognizes only 1536x834 and 2560x1409.
<img width="375" alt="Screenshot_1" src="https://user-images.githubusercontent.com/63289439/147799069-b254e130-3b0b-48b7-bece-c805b046ae50.png">

[2021-12-31 02:38] Miyakoos commented on #15223
Oh, sorry, my English is not very good, so my understanding of the meaning is a bit off, please forgive me.
I prefer to play some niche games/software. Although this is rare, it still happens. Frequent shutdowns and startups are troublesome.

[2021-12-31 04:00] crutkas commented on #15223
Can you ask the original  question in your native language?

[2021-12-31 04:16] Miyakoos commented on #15223
yes
我比較喜歡下載一些奇怪軟件,但總有一部分軟件在中文環境下會出現亂碼現象,
市面上已經有類似軟件了如Microsoft AppLocale,但Microsoft AppLocale不僅麻煩,好像還完全無法使用,至少我沒使用成功過

[2021-12-31 05:21] crutkas commented on #15223
Thanks, super helpful.  I understand the issue now.

[2021-12-31 05:21] crutkas commented on #15227
/reportbug

[2021-12-31 05:31] crutkas commented on #1564
Does this solve the issue?  the sizing is on both canvas and grid layouts

![image](https://user-images.githubusercontent.com/1462282/147805199-1d32a7d3-8a0d-4a00-9937-59ed5edcee42.png)

or does canvas need XY for top left as well?

[2021-12-31 05:37] crutkas commented on #14697
/dup #12949

Yeah, something with onedrive has borked SVG rendering it looks like.  It is odd cause PDF preview works fine.

[2021-12-31 05:37] #14697 closed

[2021-12-31 05:38] crutkas commented on #15183
i can't repro this on Win11.

/bugreport

[2021-12-31 05:42] crutkas commented on #13584
While i can see the use, i for this scenario, i would suggest a pro-tool.  I don't think our team would build this out.  Debugging stuff also gets super complex as we'd need access to people's PDFs when stuff doesn't work as expected

[2021-12-31 05:42] #13584 closed

[2021-12-31 05:43] crutkas commented on #11757
@ffred13 are you looking for QuickLook?

[2021-12-31 05:45] crutkas commented on #15210
suprised but this hasn't been asked yet.  Not sure but bet file explorer team may have to implement this type of view

[2021-12-31 05:50] crutkas commented on #15034
@kOMOREBIFP can you please share the image?

[2021-12-31 05:51] crutkas commented on #14974
@reg00000 can you share the image?

[2021-12-31 06:01] crutkas commented on #12992
@audian-benp that could be due to VCM.  We've disabled it by default now with 0.53.  If it is the error above, my solution below i bet will work.

**Solution:**
I bet if you adjusted Admin by request to allow the PT Run executable to give out admin rights, this would magically work.

**Background:**
any process elevated will launch the new processes elevated.  Most people elevate PT to get FancyZo

[2021-12-31 06:05] Andley commented on #15227
[PowerToysReport_2021-12-31-14-03-51.zip](https://github.com/microsoft/PowerToys/files/7795426/PowerToysReport_2021-12-31-14-03-51.zip)

Pls find attached .zip file. Thank you !!

[2021-12-31 06:25] Another-sgart commented on #15045
Not sure what exactly you mean with that. Signal was installed long before I'd installed pt. Although I haven't really used Signal that much. Search worked flawlessly on my PC tho, and I haven't used Signal much on there either. So I don't know if it's just an indexing/cache issue on my laptop or something else.

[2021-12-31 06:26] Another-sgart commented on #15045
Sorry, didn't see that one. Via the installed on the official download page.

[2021-12-31 06:29] franky920920 commented on #15226
Duplicate of #5612

[2021-12-31 06:29] franky920920 commented on #15226
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #5612 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2021-12-31 07:00] #11852 closed

[2021-12-31 07:11] franky920920 commented on #15217
Duplicate of #14606

[2021-12-31 07:13] franky920920 commented on #14234
@ezwep It seems there are some issues to upload specific files to GitHub. You can email the zip file to me at franky@frankychen.net and I'll try to put it here. (Please reference issue #14234 in the email) Thanks!

[2021-12-31 07:36] franky920920 commented on #15143
Hmm... I can reproduce this every time.
Would like to set up a Teams call if anyone is available.
franky@frankychen.net

[2021-12-31 09:02] ThreeGod opened #15228 "customize keywords"
### Description of the new feature / enhancement

I wish the tool provides the ability to customize keywords which can realize some custom functions such as search. For example, enter "g **" to automatically search with google in the browser. This function works well in wox.

### Scenario when this would be used?

It can help me search for the information I want without manually opening the browse

[2021-12-31 09:21] ffred13 commented on #11757
Hi ! Thank you
QuickLook seems to answer to my needs

[2021-12-31 09:21] #11757 closed

[2021-12-31 09:32] franky920920 commented on #15228
Hi there!

We are currently working on the search feature of the PowerToys run and this will be shipped with release 0.53 in early January 2022. Please keep an eye on the updates in the coming weeks!

[2021-12-31 09:33] franky920920 commented on #15228
Duplicate of #3245

[2021-12-31 10:17] mikeparkie commented on #1564
@crutkas looks good to me. Would it be possible to allow direct input to the xy as well, so the user has choice dragging the slider or inputting the size?

[2021-12-31 10:24] ColonelBlip opened #15229 "Missing file"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

General

### Steps to reproduce

Initial startup of Powertoys

### ✔️ Expected Behavior

No errors

### ❌ Actual Behavior

Error message - missing file

### Other Software

_No response
[2021-12-31.txt](https://github.com/microsoft/PowerToys/files/7795913/2021-12-31.txt)
_

[2021-12-31 10:27] database64128 commented on #14837
I second this. Keeping this on by default has become a huge annoyance for many users.

[2021-12-31 10:56] kernkraft235 opened #15230 "Separate snap zone from activation zone. Pic included"
### Description of the new feature / enhancement

So I have 10K of screen real-estate and Fancy Zones has saved my life, there's only one missing feature preventing my ascension to the promised land:
**Allow us to define a zones "center" or activation zone.**
I've found "activate by closest to center" to work the best for me, but I may be misunderstanding the other zone activation options. **My pi

[2021-12-31 11:55] Aaron-Junker commented on #15229
/dup #9742

[2021-12-31 11:55] #15229 closed

[2021-12-31 14:17] Jay-o-Way commented on #15230
Hi @kernkraft235  thanks for your message. FancyZones has 4 settings for overlapping zones:
- smallest zone in area
- largest zone in area
- split
- activate zone with center closest to cursor

Am I right to assume you have tried all of these? If not, can you please try them and let me know what fits best for you? If those still not sufficient, this is going to get very detailed...

[2021-12-31 14:19] reg00000 commented on #14974
Sorry, I don't have a screenshot and I uninstalled it and installed a
standalone older version that is working.

On Thu, Dec 30, 2021 at 11:51 PM Clint Rutkas ***@***.***>
wrote:

[2021-12-31 14:20] Jay-o-Way commented on #15230
By the way, your layout is indeed very complicated. Why not have one big grid with many zones, and you can place windows in multiple (adjacent) zones? (hold Ctrl while dragging)

[2021-12-31 14:27] Jay-o-Way commented on #15226
@franky920920 I'm not yet sure about the duplicate, because both issues are not specific enough for me to understand very well.

General advice based on info available: First just use Explorer's file search to see only the files you want to change. Then in the search results, select all and open PowerRename, you can use `(.*)` (which basically means "everything") in the Search field. If this is no

[2021-12-31 14:28] Jay-o-Way commented on #5612
You mention both _folder name_ and _meta data_, which is confusing for me. Can you elaborate or be a bit more specific? :)

[2021-12-31 15:19] Aaron-Junker opened #15231 "Add autolink to Microsoft docs"
### Provide a description of requested docs changes

Add a autolink reference to link easier to the docs repository:

![grafik](https://user-images.githubusercontent.com/58633848/147830200-2ecb7e85-7750-4975-8f6a-f892be80d798.png)

cc: @crutkas

[2021-12-31 15:28] SinaiMx commented on #15225
Es necesario poder utilizar el dispositivo surface dial en el programa Corel draw en modo táctil y poder utilizar todas las herramientas de diseño e ilustración pero sin tener una computadora surface, poder utilizarlo en cualquier PC no táctil
Gracias
Sinaí

Enviado desde mi iPad

El 30 dic 2021, a la(s) 17:13, Jay ***@***.***> escribió:

﻿

Description of the new feature / enhancement
Use all the

[2021-12-31 15:29] CleanCodeDeveloper commented on #14974
@reg00000: No problem, we don't need a screenshot of the error message. It would be helpful if you could share the image you were resizing when the error occurred.

[2021-12-31 15:41] reg00000 commented on #14974
I tried at least 5 different images.

On Fri, Dec 31, 2021 at 9:29 AM CleanCodeDeveloper ***@***.***>
wrote:

[2021-12-31 15:43] Aaron-Junker commented on #14974
Are you able to send one of them?

[2021-12-31 15:45] franky920920 commented on #14974
Hi @reg00000,

Is it possible to share the image with us to reproduce the issue?
If yes, please log in to github.com and post the image in the comment area.
Attachments won't be sent through email. Sorry for the inconvience.

[2021-12-31 15:56] Aaron-Junker opened #15232 "Color Picker behind Windows word completion"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

ColorPicker

### Steps to reproduce

1. Write with the Word completion on.
2. Start Color Picler

I don't know if we can fix this

### ✔️ Expected Behavior

_No response_

### ❌ Actual Behavior

![image](https://user-images.githubusercontent.com/58633848/147831389-bb891435-eb47-40a8-a34c-87d1f2565cba

[2021-12-31 16:28] reg00000 commented on #14974
I don't have them anymore. I tried to test it on another picture by
uninstalling the older Imageresizer and enabling the new one but even after
rebooting I don't get the File Explorer context menu option to resize.

On Fri, Dec 31, 2021 at 9:44 AM Aaron Junker ***@***.***>
wrote:

[2021-12-31 16:38] reg00000 commented on #14974
I uninstalled the old resizer, uninstalled the new Powertoys and
reinstalled PowerToy (rebooting between each) and I don't seem to have the
issue anymore.  Maybe it was just a bad install.

On Fri, Dec 31, 2021 at 9:44 AM Aaron Junker ***@***.***>
wrote:

[2021-12-31 16:40] crutkas commented on #15225
It will work on a non touch computer. Past that for how it deep dives into certain programs, you’d have to try it out.

[2021-12-31 16:40] #15225 closed

[2021-12-31 16:41] Aaron-Junker commented on #14974
Ok thank you for your effort!

[2021-12-31 16:44] #15228 closed

[2021-12-31 17:54] #14974 closed

[2021-12-31 18:49] yllekz commented on #179
Is Win + T even a functional shortcut anymore? On Windows 10 it seems to be broken, or at least it doesn't perform as old accounts of the shortcut describe. Not a big deal as it appears to not even be in the current version of the Shortcut Guide, but just curious nonetheless.

[2021-12-31 19:00] #15068 closed

[2021-12-31 19:19] crutkas commented on #15045
Good to know. Devil is in details for triaging. Can you also give us a bug report zip?  /reportbug

[2021-12-31 19:24] crutkas commented on #13364
This is a win10 issue that is fixed with win11. DisplayPort has a weird quirk

[2021-12-31 19:29] #13364 closed

[2021-12-31 20:18] VRS3DGuru2 commented on #15093
Windows 11 window snapping in no way provides any of the functionality that I described. The functionality is to be able to save a preset that stores application executable-to-window location and startup file as in quadro RTX desktop manager from Nvidia.  I do not believe the "developer" that responded has any clue what I am talking about. Is more description needed?

[2021-12-31 22:00] crutkas commented on #1564
It does not currently. I see the value and why but is the return worth not improving or creating new utilities. Is the current system “good enough”

Trying to see if enough of the frustration is removed so it can be revisited later.

[2021-12-31 22:01] crutkas commented on #14234
Email me crutkas@microsoft.com

[2021-12-31 22:09] crutkas commented on #13985
Excluding is simple, including is hard. Let’s say the app uses a dialog for saving and the app itself is claiming it is a dialog styling. We view that dialog as the app as well due to the override. Depending on the matrix of options you have enabled, that window could be sent to a different monitor and resized for instance.

People would expect stuff to “just work” in an override and it just is no

[2021-12-31 22:09] #13985 closed

[2021-12-31 22:24] mikeparkie commented on #1564
In that case, I agree, the label works well enough for now.

[2022-01-01 01:00] #15103 closed

[2022-01-01 04:33] crutkas commented on #179
@yllekz yup, still a thing

[2022-01-01 05:00] crutkas commented on #13940
Jay, this is hard coded to that shortcut. ‘?’ Is not true shortcut,

[2022-01-01 07:00] #13063 closed

[2022-01-01 14:08] Jay-o-Way commented on #13940
Oh. In that case, nevermind.

[2022-01-01 15:00] #15226 closed

[2022-01-01 15:00] #15217 closed

[2022-01-01 18:49] Beersteddy opened #15233 "FancyZones / Canvas - Largest zone is always on the bottom of smaller ones."
### Microsoft PowerToys version

"0.51.1"

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones, FancyZones Editor

### Steps to reproduce

- `Create new layout` -> `Canvas`
- Resize automatically created zone "1" to cover left half of the screen (Width 50%, Height 100%)
- `Add new zone 2` to cover right half of the screen (Width 50%, Height 100%)
- `Add new zone 3` to cover 100% o

[2022-01-01 20:02] JacksonCampbell99 commented on #13220
That's sad.

[2022-01-01 20:15] crutkas commented on #13220
Imagine the scenario of you are typing in a password but the input is being rerouted to a hidden app

[2022-01-01 22:54] JacksonCampbell99 commented on #13220
But that doesn't involve a shortcut with a specific target app, so I fail to see how that would even be related to this.

[2022-01-02 01:00] #15019 closed

[2022-01-02 01:00] #14125 closed

[2022-01-02 01:01] #12668 closed

[2022-01-02 01:16] mmmurf commented on #12668
Sorry I did not get a chance to test again to confirm whether the fix worked for me. I will do so asap.

[2022-01-02 03:48] kernkraft235 commented on #15230
I can do the +ctrl method, but most of my snaps are a browser window at full height so I'd be adding an extra step and involve a new limb to my main action. I'd be willing to do it for my half height zones.

I tried the other snap modes,
"By Largest" = I can never snap to a 50% zone because they are all contained in a larger zone
"By Smallest" = I can never snap to a 100% zone because they are all

[2022-01-02 04:22] crutkas commented on #15167
What caused you to close the issue

[2022-01-02 06:03] robmonte opened #15234 "[Keyboard Manager] Remapping Ctrl to another key causes Clipboard History Paste to fail (win+v)"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

1. Remap Ctrl to Alt
2. Confirm you want to remap it
3. Copy some text
4. Paste via Windows Clipboard History into Notepad (via win+v and choosing the text)
5. Observe that upon the "paste", the Alt key is being triggered instead of pasting

### ✔️ Expected B

[2022-01-02 07:00] #13525 closed

[2022-01-02 07:01] #12161 closed

[2022-01-02 07:31] kleenkanteen commented on #15167
Problem stopped occurring for a few days

On Sat., Jan. 1, 2022, 11:22 p.m. Clint Rutkas, ***@***.***>
wrote:

[2022-01-02 09:07] tglm opened #15235 "dictionary function is not bad maybe"
### Description of the new feature / enhancement

when I input some word in Powertoys Run ,I  would like to get some transform in several different language.

### Scenario when this would be used?

when I read some words in languages not my mother language, i really need it to replace my dict

### Supporting information

_No response_

[2022-01-02 09:17] Jay-o-Way commented on #15233
Hi @Beersteddy, thanks for your message. FancyZones has 4 settings for overlapping zones:

- smallest zone in area
- largest zone in area
- split
- activate zone with center closest to cursor

Am I right to assume you have tried all of these? If not, can you please try them and let me know what fits best for you? If those still not sufficient, this is going to get very detailed...

[2022-01-02 09:19] Jay-o-Way commented on #15233
A screenshot of your zones/layout and maybe the settings would be helpful too :-)

[2022-01-02 12:35] htcfreek commented on #9922
@crutkas
Only if you update from old version (<=0.32.2). Let's close as won't fix.

[2022-01-02 13:36] Beersteddy commented on #15233
You're wrong :) I've totally missed this option when scanning settings about fifty times.
This kind of resolves the problem.

[2022-01-02 15:49] #9922 closed

[2022-01-02 16:45] Jay-o-Way commented on #15233
Good to hear. If there's anything else, let us know.

[2022-01-02 16:51] Jay-o-Way commented on #15234
Tried it and I also see that this is not working right. @crutkas does clicking on an item in the Clipboard history send Ctrl+V?

[2022-01-02 17:01] Jay-o-Way commented on #9839
Is this still an issue?

[2022-01-02 17:37] Jay-o-Way commented on #10276
Quick creation
![PT-bug](https://user-images.githubusercontent.com/65828559/147884275-b9ad2170-f0cd-4abf-884f-44d72b004131.png)

[2022-01-02 18:32] dewinterjack commented on #3200
I mentioned above that I wanted to make a contribution in relation to plugin support. I have recently been able to spend some time on this.

I have been trying to see if the existing plugins from Wox can run on an installed version of PowerToys. I have a [sample plugin](https://github.com/dewinterjack/Wox.Plugin.TimeChecker) I used for a tutorial I made a few years ago for creating and installing

[2022-01-02 19:09] Jay-o-Way commented on #15235
This is going to be very complicated. First thoughts:

- What will be the source?
- online or offline?
- if offline: what size is needed for data?
- if online: what if there is no connection?
- which languages? How to select?
And most of all: why are existing sites/apps not good enough?

[2022-01-02 20:23] jp-stewart commented on #9239
[PowerToysReport_2022-01-02-12-21-06.zip](https://github.com/microsoft/PowerToys/files/7799732/PowerToysReport_2022-01-02-12-21-06.zip)

Attached. Sorry for delays -- the issue is mostly impacting work... but Github doesn't allow me to create an account with my work email.. so I have to remember to check personal email for this issue occaisionally.

[2022-01-02 23:21] franky920920 commented on #15235
duplicate of #3309

[2022-01-03 03:01] typpos commented on #13837
Same problem here, today, upgrading to 0.51.1 from UI.
* Windows  10 x64, 10.0.19043 Build 19043

FYI, it's not a pleasant experience...

#### Steps
* Trigger update via UI
* Message that 2 apps can be auto-closed
* Accept
* Installer runs
* Explorer closes (grey desktop background)
* Installer warns it can't close all apps etc
* Accept
* After some time, installer window closes; grey desktop rema

[2022-01-03 03:14] typpos commented on #8484
Yes please.

Use case:
Parent folders "Theme 1", "Theme 2", "Theme 3"... "Theme 95".
Each folder contains 130 icons named "01.ico" "02.ico" ...

Objective: Move all ico files into the same folder, but adjust file names to be meaningfully unique , ie, prefix file names with parent folder name, so I can later move all files to the same folder.

[2022-01-03 03:24] kiroAne opened #15236 "[VCM] Smaller/Sleeker toolbar"
### Description of the new feature / enhancement

I'm using a laptop and use this PowerToy a lot for calls and streams, but the toolbar takes a big chunk of the screen considering that it is only a toolbar. I always have to move the position depending on what I'm working on. It's an eyesore sometimes, and gets in the way of screenshots.

Would it be possible to have something smaller for the toolb

[2022-01-03 03:31] franky920920 commented on #15236
Please see if #6763 or #8297 meets your requirements.

[2022-01-03 04:09] kiroAne commented on #15236
Possibly. #8297 seem to have work on the back end as well, as they add elements to the sys tray.

I thought it would be better just altering the existing toolbar, or allowing for customisation just for it. Removing the text and allowing for resize would go a long way.

Here's a crappy mock up
![image](https://user-images.githubusercontent.com/87192736/147899048-de9bb8d0-bbba-4a84-9b98-f0a95d1ca71d

[2022-01-03 07:00] #13970 closed

[2022-01-03 07:00] #12667 closed

[2022-01-03 07:11] 1111Eugene opened #15237 "Chrome different profiles windows don't save their position (and switching between them with win+page up/down also doesn't work...)"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

here's the video
https://user-images.githubusercontent.com/75484297/147906298-4a860974-2067-4f88-82c6-34b6ad278700.mp4

### ✔️ Expected Behavior

well... it should work:) windows should reopen in their snapped position.. yes the first window remembers it, but the o

[2022-01-03 07:27] HWilleboordse commented on #14857
@SeraphimaZ

Thanks, this is a workable solution for me now!

I do wish: It would be awesome if FancyZone can detect the hood is closing (or closed) and switch to another zone profile.

[2022-01-03 08:52] franky920920 commented on #15237
Related issue: #12211

[2022-01-03 09:35] MikeKholomeev commented on #13790
Hi! I've tried two tools - the first is written above AHK script, the second is an application MouseImp (https://www.mouseimp.com/download/).

As a result - I switched off the AHK script, and can give feedback only relying on MouseImp use.

Feedback: MouseImp does not work in PowerToys 0.51.1 Settings window

Prerequisite:
- install MouseImp
- add to the file `C:\Program Files\Mouse Imp (64 bit)\m

[2022-01-03 09:48] Darrel-Santoso opened #15238 "Video Conference Mute cannot turn mic back on using hotkeys"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Video Conference Mute

### Steps to reproduce

![image_2022-01-03_164701](https://user-images.githubusercontent.com/79248128/147917253-fe81ea94-9bd3-4099-a5d8-5295400424ea.png)
Using Win + Shift + M as the mute hotkey.

### ✔️ Expected Behavior

Turning back on

### ❌ Actual Behavior

Not turning bac

[2022-01-03 11:57] Jay-o-Way commented on #15231
The example says "issues" but I assume this will be used for pr's just the same? I normally just copy the url.

[2022-01-03 12:12] Aaron-Junker commented on #15231
Yes this should work also for PR's

[2022-01-03 12:55] ppizarror commented on #13984
Hi, after several uninstalls and crashes I've figured out this was the problem. Disabling it as default, and warning the user some about "potential crashes can happen if no other camera is available system-wide when using third party apps like zoom, etc.." can be a really nice addition.

[2022-01-03 13:32] Jay-o-Way commented on #96
Is this still relevant?

[2022-01-03 13:33] Dranaxel commented on #13845
@crutkas as franky said it's not embeded in W10, so it would be a nice feature :)

[2022-01-03 13:36] Jay-o-Way commented on #5088
Maybe it could be under "mouse utilities"?

[2022-01-03 13:42] Jay-o-Way commented on #60
@lukebarone Does FancyZones solve your issue?

[2022-01-03 13:54] Jay-o-Way commented on #233
You can indeed create a .lnk to `shell:recent` and then attach to Start or TaskBar. Then display/sort the way you want. Would that be a (temp) solution?

[2022-01-03 14:08] Jay-o-Way commented on #139
In my head this is similar to an e-mail that you can move/copy to a folder. That's standard in almost every app/site I use. (not that I use that many...) Maybe this PowerToy could open the same window as Explorer does (from the ribbon) but just direct?
![CopyTo](https://user-images.githubusercontent.com/65828559/147940131-91a37316-ac4d-4a59-9405-9b2ae4107e30.png)

[2022-01-03 14:12] Jay-o-Way commented on #128
This reminds me of #6405

[2022-01-03 14:21] Jay-o-Way commented on #398
Is this still an issue? FancyZones has the Win+PgUp and Win+PgDn setting now.

[2022-01-03 14:22] Jay-o-Way commented on #376
@SeraphimaZ Think there's possibilities in detecting touch input?

[2022-01-03 14:36] Jay-o-Way commented on #278
@crutkas have you and @akiver had time to talk about possible integration?

[2022-01-03 14:48] Jay-o-Way commented on #14067
Duplicate of #671

[2022-01-03 15:15] Jay-o-Way commented on #145
One work-around can be to manually resize a window and then do a "window" screenshot?

[2022-01-03 15:17] eidylon opened #15239 "Power Rename - add to directory background menu as well as directory menu"
### Description of the new feature / enhancement

Currently Power Rename is available from the RMB menu when right-clicking on a directory. 👍🏼

![image](https://user-images.githubusercontent.com/5951045/147947334-2b6a0af7-2fb2-42bf-baba-fc2e27f1e101.png)

It would be very nice to also have it in the RMB menu when right-clicking the background of a directory in the file-list pane.

![image](https:/

[2022-01-03 16:36] ppizarror opened #15240 "Visualize which utilities are enabled / disabled in Settings"
### Description of the new feature / enhancement

Visualizing which widgets are disabled or not can be really useful. Disabled widgets can have another style in the right menu. For example, it can be grey, have icons in grayscale/transparent, or another key to alert users who are enabled or not without navigating each one.

![image](https://user-images.githubusercontent.com/12925256/147955301-7e53

[2022-01-03 16:55] Jay-o-Way commented on #15239
Nice idea and sounds simple, just copy the current file handlers to `Computer\HKEY_CLASSES_ROOT\Directory\Background\shellex\ContextMenuHandlers` (I assume)

[2022-01-03 17:34] JBensimon99 opened #15241 "Fancy Zones and elevated windows: suggestion"
### Description of the new feature / enhancement

Rather than require that PowerToys be run elevated in order for Fancy Zones to work with elevated app windows, wouldn't configuring PowerToys to request UIAccess achieve the same objective without the need to run elevated?

### Scenario when this would be used?

All scenarios involving elevated apps.

### Supporting information

Tested with custom

[2022-01-03 17:43] ngbrown commented on #984
I second the desire to handle the 3rd usage scenario:

This would only need a single hot-key, or even an option to automatically move the mouse after the `Alt+Tab` operation is done. Even the `Alt+Tab` window could be improved if the mouse could be moved locally to the window selection screen until a selection is made or is canceled.

Constantly moving the mouse cursor between the large external m

[2022-01-03 17:44] Jay-o-Way commented on #3309
I made a bookmark in my browser that has for url:
[code]
When I select a word in a browser, this link will open the (English) page for it. If no text is selected, it prompts.

[2022-01-03 17:46] lukebarone commented on #60
I will try this this week and report back

On Mon., Jan. 3, 2022, 5:42 a.m. Jay, ***@***.***> wrote:

[2022-01-03 18:30] jgcannon commented on #12244
Yes, current version is using 27.6% for me, and I'm not moving windows of any kind right now...

[2022-01-03 19:00] #9084 closed

[2022-01-03 19:29] MrCheeseWasTaken commented on #15183
[PowerToysReport_2022-01-03-21-27-24.zip](https://github.com/microsoft/PowerToys/files/7803692/PowerToysReport_2022-01-03-21-27-24.zip)

[2022-01-03 20:25] crutkas commented on #15235
/dup #3309

[2022-01-03 20:26] #15235 closed

[2022-01-03 20:27] crutkas commented on #15233
@Beersteddy would love what we could do better to make this not happen to others.

[2022-01-03 20:27] #15233 closed

[2022-01-03 20:29] crutkas commented on #13845
This isn't something we'd backport via PowerToys.

[2022-01-03 20:29] #13845 closed

[2022-01-03 20:31] crutkas commented on #10881
@yuyoyuppe do we iterate microphones or leverage the global mute.  When we POC'ed VCM, it was a global mute i thought

[2022-01-03 20:37] crutkas commented on #15241
Best of my knowledge, this would have a UAC prompt on every launch then since it still launches elevated. https://docs.microsoft.com/en-us/windows/win32/winauto/uiauto-securityoverview

[2022-01-03 20:39] crutkas commented on #15241
we'd have to do a lot of testing.  Also want to be sure this would be use-case scenario for the flag versus using the flag for getting what we need.  We want to show best patterns and practices.

[2022-01-03 20:48] Jay-o-Way commented on #15241
![Screenshot_20220103-214640](https://user-images.githubusercontent.com/65828559/147978716-400c4778-78da-4d02-9260-613e614731e2.png)

[2022-01-03 20:49] htcfreek commented on #13637
@franky920920
1. Does this bug still existing in the actual release?
2. What is shown if the apps are open?

_If the bug still exists please assign me._

[2022-01-03 20:53] crutkas commented on #12967
I don't think this would be a utility we'd create.  Has a ton of possible hardware dependent permutations and debugging scenarios when the quick solution is Win+P to turn off a monitor.

I get the scenario, just i don't think we'd be able to support this properly with other goals.  Maybe AHK has a script to do this.

[2022-01-03 20:53] #12967 closed

[2022-01-03 21:55] crutkas commented on #3200
Let's chat (crutkas@microsoft.com) & maybe let's create a more dedicated issue for how to pull this off and can migrate back here.  We'll be upgrading to .NET 6 shortly and i think Wox is still on .NET Fx.  We want a full break from .NET Fx so we can easily shift to ARM64.  Also I think we should think about Wox based derivates as well.  @jjw24 has a fork as well.  We actually based our fork off o

[2022-01-03 22:24] crutkas commented on #15216
@rekognizecode you are talking about what @Jay-o-Way is referring to, correct?

[2022-01-03 22:24] crutkas commented on #15231
isn't it easier to just paste in the URL?

[2022-01-03 22:25] crutkas commented on #15239
YES!  Great idea.  could be a good idea for Image resizer too

[2022-01-03 22:36] JBensimon99 commented on #15241
Hi, Clint.

Thanks for responding.

It is not accurate to say that a UAC prompt would ever occur when launching an app (normally) that requests UIAccess in its manifest, or that it will launch elevated.  Here are the two relevant scenarios (with UAC enabled at its highest level in both cases):

  *   If the user is a member of the Administrators group, the app will launch (without UAC prompt), wil

[2022-01-03 22:42] JBensimon99 commented on #15241
Well, you may have me there:  Microsoft's own document on UIAccess states (suggests, insists, offers as best practice, ...?) that it should only be used by "assistive" programs, so unless you feel PowerToys belongs in some sense to that category, you'd be going against the grain.  From a security standpoint however, I do feel it's a superior alternative to having users run PowerToys elevated.

Jac

[2022-01-03 23:01] DHowett opened #15243 "Update the Localization Dev Doc to explain the new process"
### Provide a description of requested docs changes

We don't use `LocProject.json` or `lcl` files any longer, and we don't use the `build-*.cmd` scripts that it mentions either.

[2022-01-03 23:19] petersid2022 commented on #13390
Yes of course, also sorry for the late reply. Essentially what I had in mind was a piece of software that could allow the end user to be able to use multiple layers on their keyboard, with every layer having it's set of shortcuts (e.x on one layer `Ctrl + G` could be used to open a program while on another layer that same combination could be used to run a specific script etc) in order to have eve

[2022-01-04 00:08] crutkas commented on #12953
@CleanCodeDeveloper

didn't you just add this?
![image](https://user-images.githubusercontent.com/1462282/147993458-f85a3663-a9df-479c-bc1f-dd7f01da00b8.png)

[2022-01-04 00:22] crutkas commented on #12891
I just tried with a 0.53 build and whatever latest of teams is, it does snap.  Can you try again?

[2022-01-04 00:27] clarpaul opened #15244 "Keyboard Consistently Fails to Work in PowerRename Across Multiple PowerToy Reinstallations on HP EliteBook Pro 840 G5"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerRename

### Steps to reproduce

Keyboard Consistently Fails to Work in PowerRename Across Multiple PowerToy Reinstallations on HP EliteBook Pro 840 G5.

**The keyboard will not respond while the cursor is in the search box of PowerRename.**

_Please note that_
- I have uninstalled and reinstalle

[2022-01-04 00:28] crutkas commented on #13076
Hi @armas-control this needs to be broken into multiple asks as each is a feature and some of these requests are in other asks.

[2022-01-04 00:28] #13076 closed

[2022-01-04 00:34] crutkas commented on #12974
We can't control Windows snap.

We've talked about getting process name easier but can be fetched via task manager.  /dup #4366

![image](https://user-images.githubusercontent.com/1462282/147994587-dc6af98f-8142-4559-8ad5-f34e6e4aa16e.png)

[2022-01-04 00:34] #12974 closed

[2022-01-04 00:39] crutkas commented on #11900
The origin here was to match Windows Insider.  They shifted to Dev / Beta.  We could do the same.  Shift to Beta versus Preview  or something.  It was to directly infer this is still under active development.

@rooby, for suffix consistency, where in the app do you see this?  We try but would love a more targeted attack vector so we can fix it.

[2022-01-04 00:40] Jay-o-Way commented on #15244
Lookds like a duplicate of #14514. Also see issue #15022 (and related/linked issues)

[2022-01-04 00:41] crutkas commented on #13006
ctrl+shift+C for path?  ctrl+c for file?

[2022-01-04 00:42] Jay-o-Way commented on #15244
Duplicate of #14514

[2022-01-04 00:49] Jay-o-Way commented on #11665
What @DHowett [said](https://github.com/microsoft/PowerToys/pull/15135#issuecomment-1004420121)

[2022-01-04 00:49] #11665 closed

[2022-01-04 00:52] clarpaul commented on #15244
I agree that the presenting problem of this issue seems to be a duplicate of issue #14514. I have yet to test the solutions for that issue. I plan to by the end of the week.

Thank you, @Jay-o-Way , for your help determining that my issue is a duplicate.

(I searched for duplicates before I posted, but, probably due to my inexperience, I did not find #14514 .) I have not yet reviewed #15022 but pl

[2022-01-04 01:01] franky920920 commented on #12244
@ukanuk, @Dr-Chronosphere, @yozi66, @jgcannon Tracked via #14234.

A dump might be helpful. :)

[2022-01-04 01:20] Jay-o-Way commented on #11665
(might want to set status in 0.53 project?)

[2022-01-04 01:35] franky920920 commented on #11665
@crutkas

[2022-01-04 01:40] ViniZoyo opened #15245 "Shortcut Guide Applied to Specific Apps"
### Description of the new feature / enhancement

I am a Graphic Designer and I use duckduckgo to search online, I can find there the shortcuts for my desired application by just typing "[Insert software here] Cheatsheet" and the search engine will deliver me the shortcuts  of the app, and what if I could export the preferences, lets say from Adobe Indesign and upload it to PowerToys so then I cou

[2022-01-04 01:44] franky920920 commented on #13637
@htcfreek  I'll check it tonight, I don't have my Windows notebook with me now.

[2022-01-04 02:00] Zian commented on #15084
I would prefer if the PowerToy application allowed me to tell it to hide its notification area icon rather than hoping that the operating system will continue to allow the user to hide the icon. Windows Explorer has treated notification area icons differently throughout the years (e.g. from showing all of them in Windows 95 to automatically hiding icons in Windows XP).

If PowerToys creates a depe

[2022-01-04 02:10] Zian commented on #15227
I have reproduced the problem.

FancyZones Editor:
![FancyZones Editor](https://user-images.githubusercontent.com/1581929/148000316-eb750e1c-4f1a-4977-a02a-9fc7fc08f9d9.png)

In real life, screen #1 (1080x1920) is located to the right of screen #2 (2560x1440). I use screen #2 as the primary display so the Windows taskbar is located on screen #2 and not displayed on screen #1. Screen #1 is in a por

[2022-01-04 03:43] franky920920 commented on #15240
dup'ling #14129?

[2022-01-04 03:45] ppizarror commented on #15240
exactly, well, at last another person spotted this feature. I'll close this. thanks!

[2022-01-04 03:45] #15240 closed

[2022-01-04 03:46] franky920920 commented on #15245
Duplicate of #1431

[2022-01-04 03:47] franky920920 commented on #15245
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #1431 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2022-01-04 06:31] hkcomori commented on #13069
Same issue here with FZ(0.51.1).

[2022-01-04 06:47] hkcomori commented on #15018
Related to #13069 ?

[2022-01-04 07:18] tomaxsas opened #15247 "VScode workspaces does not show up"
### Microsoft PowerToys version

0.55.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

Install latest insiders version of vscode and try to open workspace. The location of workspaces has changed: https://github.com/microsoft/vscode/pull/139632

### ✔️ Expected Behavior

Recently used workspaces shows up

### ❌ Actual Behavior

No workspaces shows

[2022-01-04 07:32] franky920920 commented on #15247
Could you attach a full bug report file?
Right-click on the tray icon and click Report Bug. Then drag-and-drop the generated file into the GitHub comment to upload it. Thanks!
![image](https://user-images.githubusercontent.com/11349917/133042052-4975be21-4699-4363-83c9-a8e1869d079d.png)

[2022-01-04 07:33] franky920920 commented on #15247
Thanks for your infomation!

[2022-01-04 07:34] tomaxsas commented on #15247
[PowerToysReport_2022-01-04-09-33-32.zip](https://github.com/microsoft/PowerToys/files/7806022/PowerToysReport_2022-01-04-09-33-32.zip)

[2022-01-04 08:25] Aaron-Junker commented on #15231
I don't know. I always write liks to issues as `#xxx`. I fon't copy them

[2022-01-04 09:25] styr3ne opened #15248 "Video Conference Mute cause Firefox to crash in Google Meet"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Video Conference Mute

### Steps to reproduce

Go to meet.google.com.
Allow permissions to Video Conference Mute.
Start/join a conference will crash the browser instantly

### ✔️ Expected Behavior

The browser not crashing.

### ❌ Actual Behavior

The browser crash.

### Other Software

Firefox Night

[2022-01-04 09:27] jiayaoO3O opened #15249 "[Mouse utilities]Mouse button remapping"
### Description of the new feature / enhancement

Is it possible to add a mouse button remapping function? Functions like keyboard manager.

### Scenario when this would be used?

One of my common scenarios is to switch desktops by mouse, which is currently done through AutoHotKey :
[code]
With the above configuration I can easily switch between virtual desktops, I hope Mouse utilities can also pr

[2022-01-04 09:27] RvN73 opened #15250 "Min/Max Windows with FanzyZones"
### Description of the new feature / enhancement

When using the Min/Max functions of window it would be nice if the window was resizing whithin the zone it is located and not the entire screen.

Also it would be nice if remote software like TeamViewer and AnyDesk would perceive the zones as separate displays, this way they would show up as separate selectable displays. Usefull when yoy have a BIG

[2022-01-04 10:01] Matszwe02 opened #15251 "PowerToys Run calculator comma issues"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

Using calculator with comma or period gives incorrect results depending of default system's calculator floating-number symbol

### ✔️ Expected Behavior

comma and period treated the same way

### ❌ Actual Behavior

When I have default "," in my system calculator

[2022-01-04 10:06] spietre commented on #13894
Maybe there could be setting for this to be able to choose what should happen. But I think it would be great if windows opened on the monitor I am focusing at that time. Maybe it should also consider currently active window or keyboard cursor and take that into consideration.

[2022-01-04 11:26] mwadders commented on #2701
Is there any update on disabling the update notifications and auto-update button?  Just want to get a handle on this so can give an explanation when asked.  Many thanks

[2022-01-04 11:53] Armas-Control commented on #13076
Right! Well done!

There are several requests over same poor search functions..

... and past months still so same poor... And ..
You close the request!

Again:
Well done!

So, there are not evidences of defective/incompleta functions.

Ok.
Closed IS
Thanks.

Well done, man!

Regards.

El mar., 4 ene. 2022 0:28, Clint Rutkas ***@***.***> escribió:

[2022-01-04 12:07] dolphin-cat commented on #3200
is the modified version of the plugin available on github too?

[2022-01-04 12:16] skttl commented on #3200
@dewinterjack did you just put your plugin in `C:\Program Files\PowerToys\modules\launcher\Plugins` then?

[2022-01-04 12:22] dolphin-cat commented on #3226
how did you do that??

[2022-01-04 12:22] dolphin-cat commented on #3226
is it wox modified to look like powertoys or did you make your own plugin?

[2022-01-04 12:27] dewinterjack commented on #3200
@dolphin-cat The modified plugin is not on GitHub as this was a spike. I can push the change to a branch on my fork however the goal is to use a less hacky approach.
The change that worked was modifying the csproj of the plugin to point to the new dll instead of the nupkg. I will provide more context when I create the separate issue.

[2022-01-04 12:28] dewinterjack commented on #3200
Yes, along with the wox dll

[2022-01-04 12:33] olovsson commented on #3226
it's the spotlight search on macOS if I'm not mistaken.

[2022-01-04 12:34] skttl commented on #3200
@dewinterjack - cool, I'll see if I can port some of my plugins then :)

[2022-01-04 12:40] dewinterjack commented on #3200
I will post some more details once I have spoken with the team about it. In the meantime feel free to contact me with any questions @skttl - jackdewinter1@gmail.com

[2022-01-04 13:00] #8597 closed

[2022-01-04 13:22] franky920920 commented on #2125
One more thing: what about the bugReportTool.exe?

[2022-01-04 13:24] stefansjfw commented on #2125
I have it on my list. It was a low priority one, so it wasn't a part of the first batch of PRs

[2022-01-04 13:28] franky920920 commented on #15251
Thanks for reporting this. This issue is a duplicate.
I'm linking this issue to #13562 to centralize the discussion thread for tracking.

_Thanks for your help to make PowerToys a better piece of software!_

[2022-01-04 13:45] spottedmahn opened #15253 "Video conference mute bar won't disappear"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

Video Conference Mute

### Steps to reproduce

not sure exactly how to repro it (but I'm paying attention to try to figure out the exact steps)

I think the bar is showing up after a MS Teams meeting where I've used the mute button in the app 🤷‍♂️

### ✔️ Expected Behavior

I can click the _microphon

[2022-01-04 13:46] Jay-o-Way commented on #12121
Good point. 😛

[2022-01-04 13:52] gitmaker032 commented on #14103
Too bad there is still no way to hide the toolbar when the microphone is off (and show it when it's active)! Because I only turn the microphone on when I need to use it. And I need the notification in the form of a toolbar so I don't forget to turn it back off. So I don't use it for conferencing, but for privacy. I have to use third party software for that purpose.

[2022-01-04 13:58] Jay-o-Way commented on #15248
Is it possible to find/add some bug info from Firefox?

[2022-01-04 13:59] stefansjfw commented on #2125
@franky920920 https://github.com/microsoft/PowerToys/pull/15254 here it is

[2022-01-04 14:10] Downinfl1 commented on #15191
So how do I force-uninstall Power Toys? Maybe by doing so, I can install the new version afterwards.
________________________________
From: msftbot[bot] ***@***.***>
Sent: Tuesday, January 4, 2022 9:01:13 AM
To: microsoft/PowerToys ***@***.***>
Cc: Downinfl1 ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/PowerToys] Can't remove v0.49.1; Can't install v0.51.1 (Issue #15191)

This issue h

[2022-01-04 14:14] gitmaker032 commented on #14123
I don't use this utility for conferencing, its purpose for me is to keep things private. I need to see a notification (toolbar) that the microphone is active and I need to remember to turn it off. I would actually rename this utility to "Quick microphone/camera off" or something like that. And let the user decide where he will use this functionality. For video conferencing or as a reminder of micr

[2022-01-04 14:20] Jay-o-Way commented on #14589
Can't reproduce for myself anymore, so unless somebody thinks otherwise, I'm willing to close this.

[2022-01-04 14:24] Jay-o-Way commented on #14189
Is this still an issue? Can we reproduce? (I can't)

[2022-01-04 14:27] F3nrirX commented on #8705
I think this would be a great option as it is annoying to have it shown all the time.

[2022-01-04 14:34] Jay-o-Way commented on #8297
Duplicate of #6389

[2022-01-04 14:35] Jay-o-Way commented on #6389
Firefox also moved these thing to the sys-tray a while ago
![image](https://user-images.githubusercontent.com/65828559/100723616-463ce500-33c2-11eb-891c-93fc67970968.png)

[2022-01-04 14:35] #8297 closed

[2022-01-04 14:38] Jay-o-Way commented on #13983
Hi @bleeme is this issue still relevant? (in other words: still mis-functioning in the latest version)

[2022-01-04 14:44] Zkalleman commented on #15248
I've had crashing in both FireFox during google meet as soon as I tried to use mic and camera, and in VLC as soon as I go into capture device. Quite sure this started after installing powertoy

[2022-01-04 14:46] Jay-o-Way commented on #11011
@crutkas I wannt merge this with #8705, agree?

[2022-01-04 14:50] Jay-o-Way commented on #15253
To be sure: does that mean the mic is not actually muted too?

[2022-01-04 14:52] Jay-o-Way commented on #6888
Is this issue still relevant?

[2022-01-04 14:59] Jay-o-Way commented on #13360
Hi @karoly-ozsvart-betsson sorry that you haven't had an answer yet. Can you tell me in PowerToys Settings (for VCM) which microphone is selected? Also, v0.53 is coming out any minute now, so I would like to ask you to update to that version (when you can) and let us know if there are still issues...

[2022-01-04 15:10] spottedmahn commented on #15253
I don't know, wonder how I would check that? 🤔 When I went into my sound settings I had 3 mic's and the default one had the green bar that was going up & down if I talked.

I exited & re-opened PowerToys and the mute bar didn't pop-up so I assume the issue is within the PowerToys app

[2022-01-04 15:16] Jay-o-Way commented on #6389
Alternative can the the idea in #6751

[2022-01-04 15:19] Jay-o-Way commented on #6763
@yuyoyuppe or @niels9001 Do you think this would be difficult? Any dependencies (like WinUI3 or something) ?

[2022-01-04 15:19] Jay-o-Way commented on #8705
@yuyoyuppe or @niels9001 Do you think this would be difficult? Any dependencies (like WinUI3 or something) ?

[2022-01-04 15:22] Jay-o-Way commented on #15253
What mic is selected in the Setting?

[2022-01-04 15:25] Jay-o-Way commented on #14247
@yuyoyuppe I see a few issues with the toolbar not functioning properly (some in combination with the "Hide toolbar if..." check box, like #15253 and #14278 and #13983). Do you know what could be the cause and what can be done?

[2022-01-04 15:26] skttl commented on #3200
Yay 🥳
![image](https://user-images.githubusercontent.com/3726467/148082130-9fe22a2f-ee56-43ee-9734-2019b7822907.png)

I had to add some properties from the supplied plugins plugin.json file, like `IsGlobal`, `IcoPathDark` and `IcoPathLight`. Not sure which of those are required.

Also recreated the project as netcoreapp3.1 - but that was before figuring out the needed changes to plugin.json.

[2022-01-04 15:27] niels9001 commented on #8705
@crutkas would replacing the current VCM toolbar (that uses SVGs) with an actual window (and using XAML) be a large work item? It would basically be a borderless window with 2 buttons.

Pro's:
- the toolbar can be draggable
- proper theming support
- accesibility improvements + narrator support
- overall better UX

[2022-01-04 15:28] Jay-o-Way commented on #8705
and DPI scaling #14079

[2022-01-04 15:30] crutkas commented on #15231
So how do you xref cross repo issues?  Pasting the url magically does it

[2022-01-04 15:30] crutkas commented on #15231
Like, I look at the feature and that is meant for things like ADO and Jira

[2022-01-04 15:37] Aaron-Junker commented on #15231
It's also not difficult to mark an issue as duplicate and still we have a /dup command

[2022-01-04 15:42] Jay-o-Way commented on #14244
/dup #7363

[2022-01-04 15:42] Jay-o-Way commented on #14244
Duplicate of #7363

[2022-01-04 15:46] Jay-o-Way commented on #14512
@yuyoyuppe any idea?

[2022-01-04 15:48] Jay-o-Way commented on #14552
referencing #14223

[2022-01-04 15:52] Aaron-Junker commented on #15249
/dup #1475

[2022-01-04 15:52] #15249 closed

[2022-01-04 15:58] crutkas commented on #15231
That is cleaning up tags, this will only work for one offs. Not when we reference WinUI, terminal or any other repo

[2022-01-04 15:59] crutkas commented on #15231
It adds an unneeded command for something GH already does just by pasting in the entire url.

[2022-01-04 16:09] Aaron-Junker commented on #15231
Ok. Then close this issue

[2022-01-04 16:12] Jay-o-Way commented on #14145
@kimi-builds what browser are you using? And can you tell/show the camera that is selected (by default) in the **browser** settings?
Like
![image](https://user-images.githubusercontent.com/65828559/148088452-eb7cb03f-9124-43b5-8eec-d6505b624609.png)
or
![image](https://user-images.githubusercontent.com/65828559/148088623-edf1eea3-141a-4567-a5d1-00988a88d091.png)
or for Meet itself:
![image](https:

[2022-01-04 16:17] Jay-o-Way commented on #15248
There's a chain: from physical camera, through driver(s), to the browser. If any of the links mismatch, it can cause problems. For example, can you tell/show which camera is selected in both the **browser** and **Meets** settings?
_Browser:_
![image](https://user-images.githubusercontent.com/65828559/148088623-edf1eea3-141a-4567-a5d1-00988a88d091.png)
_Meet:_
![image](https://user-images.githubuse

[2022-01-04 16:19] user6421 opened #15255 "Right Ctrl key support for Find My Mouse"
### Description of the new feature / enhancement

New setting in mouse utilities for Find My Mouse: toggle between left and right Ctrl key as the effective keyboard shortcut.

### Scenario when this would be used?

As a left handed mouse user, I want to use the right Ctrl button on my keyboard to highlight the position of my mouse, so I can keep my hand on the mouse while locating it and my right

[2022-01-04 16:20] #15231 closed

[2022-01-04 16:27] spottedmahn commented on #15253
my webcam one

![image](https://user-images.githubusercontent.com/14079228/148090860-97647ab1-6859-4318-a0f6-7d70cb1a17b2.png)

I always use my headset one for meetings

![image](https://user-images.githubusercontent.com/14079228/148090945-29a8362c-cdfe-4c53-81aa-6034046bc442.png)

[2022-01-04 16:29] Jay-o-Way commented on #15253
And which on is selected Iin PowerToys > VCM settings? :)

[2022-01-04 16:36] adas291 opened #15256 "Text selection in explorer preview"
### Description of the new feature / enhancement

When I any text document is openned in explorer(preview) it is difficult to select section, after tripple click it selects only one line, but i cannot drag and select sections of text. I am not sure if powertoys can solve this problem or is it just windows problem. But anyway it would be really usefull to select text from selection window.

### Sce

[2022-01-04 16:37] ezwep commented on #14234
I see that the files are gone from my temp folder. So I'll have to wait a while until it has high cpu again. Then I will email it. This may take a few days as the problem does not occur every day.

[2022-01-04 16:58] jamesmcguirepro commented on #96
Yes, I haven't been able to find a replacement that works as well as the original dependency walker

[2022-01-04 16:59] spottedmahn commented on #15253
all:

![image](https://user-images.githubusercontent.com/14079228/148095443-1c8c924d-884a-453d-b479-1b34ffb72af3.png)

[2022-01-04 17:11] Jay-o-Way commented on #14301
Maybe the PowerToys/VCM driver makes first contact with the device, and then it's unavailable for other apps?
Does the device work if you use VCM?
What happens when you turn off VCM (or PowerToys) and then restart Zoom?

[2022-01-04 17:16] jp-stewart commented on #9239
As an additional note, I should add. As of today, its two different monitors that are flipped from the ones in the images above. (but still have some flipped)

Also just adding... that _again_ I had to go set all of the layouts since they keep getting lost... over and over. I filed issues here on that twice... both being closed, so gave up on that.

But yeah, even in the zip above, at least two of

[2022-01-04 17:28] styr3ne commented on #15248
I can join the conference all right if i block the VideoConference mute camera permission.
I cant show you that because if i allow the Camera permission firefox will crash instantly.

[2022-01-04 17:59] Jay-o-Way commented on #15255
Duplicate of #14651

[2022-01-04 18:00] Jay-o-Way commented on #15255
Specifically, you might want to try [this comment](https://github.com/microsoft/PowerToys/issues/14651#issuecomment-993906011)

[2022-01-04 19:00] crutkas commented on #15255
/dup  #14651

[2022-01-04 19:00] #15255 closed

[2022-01-04 19:55] PhonicUK commented on #4407
I can confirm that this is an issue. Powertoys should keep a 'last known working' version of this file in the event that it's damaged.

[2022-01-04 20:16] Pitta commented on #15189
I've just tried each version back to `0.47.1` which I know used to work, and doesn't now. The global functionality works, but am unable to open the configuration to change any behavior, nor the fancy zones editor (which is how I realized it was broken initially).

[2022-01-04 20:34] crutkas commented on #11011
yeah, /dup #8705

[2022-01-04 20:34] #11011 closed

[2022-01-04 20:34] crutkas commented on #14244
/dup #7363

[2022-01-04 20:34] #14244 closed

[2022-01-04 20:34] crutkas commented on #15245
/dup #1431

[2022-01-04 20:35] #15245 closed

[2022-01-04 20:40] CleanCodeDeveloper commented on #12953
I think @lesterm5150 would like to remove the metadata without _resizing_ the image. Best we can do now is:
![image](https://user-images.githubusercontent.com/16760760/148120707-b470e1e2-38e9-424a-8adb-ecdeda6f0ef0.png)

I'm not sure if what the issue opener requested is within the scope of an Image_Resizer_.

[2022-01-04 20:41] crutkas commented on #15251
comma and a period can't be treated the same way is the issue for the exact reason you kind of outlined.  I think #13562 would be a good spot but like, for EN-US and if i pasted in the number 1,000.23, my number shouldn't be 1.00023, it should be 1000.23 as EN-US has commas be the thousand delimiter.

[2022-01-04 20:41] #15251 closed

[2022-01-04 20:49] crutkas commented on #13562
We use the default to the OS choice here.  What is your system set to?

[2022-01-04 20:53] CleanCodeDeveloper commented on #15239
Please note that image resizer does not have a context menu on folder yet. I briefly looked into this but could not get it to work immediately. I might try again after the WiX stuff is merged.

[2022-01-04 21:01] crutkas commented on #15256
Feedback hub would be the better spot for this.  We could override it but that would be a different previewer then.

[2022-01-04 21:01] #15256 closed

[2022-01-04 21:01] htcfreek commented on #13637
I have tested it and can reproduce it. And if the apps are opened an incorrect process name (`applicationframehost` instead of `calc`) is shown.

[2022-01-04 21:02] crutkas commented on #15236
/dup #6389

[2022-01-04 21:02] #15236 closed

[2022-01-04 21:05] Jay-o-Way commented on #15206
Did you try to see is one of the modules is the cause, opposed to entire PowerToys? First guess from me could be FancyZones, but again, that's a guess.

[2022-01-04 21:49] Jay-o-Way commented on #15239
Yeah I also tried to copy the `PowerToysExt` registry key to `Directory\Background\ShellEx\..` but when I right-click Explorer just crashes and restarts. 😆

[2022-01-04 21:50] Matszwe02 commented on #13562
My system is default "," and to be honest I don't know how to change it to "."

[2022-01-04 21:55] Jay-o-Way commented on #15256
@Aaron-Junker Monaco would not work for this?

[2022-01-04 22:00] Matszwe02 commented on #13562
one of solutions is to change default decimal character in windows settings, but it will also affect windows calculator (powertoys reads these system settings as its default)
it can be changed in Settings -> Region -> advanced -> decimal separation character

[2022-01-04 22:02] valterekholm opened #15257 "print filename to picture"
### Description of the new feature / enhancement

Enabling the pictures original filename to be printed into the processed picture.

### Scenario when this would be used?

If I have a serie of i.e. 40 pictures taken at even interval, to make a film, a filename (containing the date-time) on each picture could be of interrest or make the resulting film more interresting - the main idea is that the d

[2022-01-04 22:21] bricelam commented on #14904
Weird. I know nothing about PNG encoding. 🤷‍♂️ Could be some quirk with the compression. Or maybe some metadata is inadvertently being duplicated.... no idea.

[2022-01-04 22:28] o-l-a-v commented on #2701
@mwadders

Maybe look into disabling outbound connections from whatever exe is used for checking for updates, with Windows firewall rule(s)?

[2022-01-04 22:34] htcfreek commented on #15247
cc: @ricardosantos9521

[2022-01-04 22:46] Jay-o-Way commented on #14904
@spiceygas can you share your original images and a screenshot of the exact GUI with settings?

[2022-01-04 22:59] whawn1 commented on #13837
And today I had the identical problem while updating totally unrelated Teracopy to v3.9.  Same behavior.  What I have a difficult time understanding is why an install program would need to close explorer.exe

[2022-01-04 23:00] BlisterAgent commented on #15224
According to a forum that provided disable instructions using Local Group Policy Editor, "Turn off Aero Shake window minimizing mouse gesture" should be set to _Disabled_ but mine was set to _Not Configured_. Not sure if this particular setting acts as the same as _Enabled_ but going to give it a try. Thanks for the suggestion.
![image](https://user-images.githubusercontent.com/6599174/148135354-d

[2022-01-04 23:00] abenneke commented on #12326
Happy and Healthy New Year!

I just ran into this issue - but under different/very specific circumstances - so perhaps my observations could help to solve this:

What I'm trying to do is to use Awake to prevent sleep mode while doing a backup from a remote server via rsync:

(1) wake up sleeping computer via magic packet/wakeonlan
(2) connect via ssh (Cygwin), start Awake to keep it in this state

[2022-01-04 23:18] ricardosantos9521 commented on #15247
I will take a look at this tomorrow.

[2022-01-04 23:20] crutkas commented on #15257
I don't see us creating this tool.  Too targeted of a use case.

[2022-01-04 23:20] #15257 closed

[2022-01-04 23:21] crutkas commented on #15250
/dup #279

[2022-01-04 23:21] #15250 closed

[2022-01-04 23:26] crutkas commented on #12953
@lesterm5150 i think this would be our workaround, i don't think we'd create a dedicated tool for it.

[2022-01-04 23:26] #12953 closed

[2022-01-04 23:28] crutkas commented on #15215
All dependent on what the application claims they are.  If an app says they are modal, maybe the dev did something special for a reason. We don't have deep knowledge of the app, just they are this window type and our rules engine then does its job.  We create a generic solution and massive rippling effects to this happen when we override.  Also some apps don't allow resizing.  We use an OS call th

[2022-01-04 23:31] crutkas commented on #15215
My thinking is i see a high cost to implement and support here and it makes me think we can be of greater good on other things

[2022-01-04 23:33] crutkas commented on #15247
@ricardosantos9521 this is 0.51.1  so it wouldn't include the two fixes you just did with 0.53.  Do you think 53 has the fix?

[2022-01-04 23:34] crutkas commented on #15244
/dup #14514

[2022-01-04 23:34] #15244 closed

[2022-01-04 23:37] franky920920 commented on #15256
Linked issue / dup'ling #12637

[2022-01-04 23:41] diogo-r commented on #13562
I am using the default in many non-English-speaking countries, such as Germany, __Portugal__ and France, which is "," as the decimal separation character.

[2022-01-04 23:46] crutkas commented on #15216
xref #13168

[2022-01-04 23:53] franky920920 opened #15258 "[GitHub] Remove outdated spell-check comment automatically"
### Description of the new feature / enhancement

Let the bot delete (or hide) the old comments from spell-checking when a new comment is generated.

### Scenario when this would be used?

Make the PR thread clean.

### Supporting information

cc: @crutkas Is this possible to be done by the fabric bot, or @jsoref is this possible by the spell-check bot itself?

[2022-01-04 23:54] crutkas commented on #15232
we do have this as "top most" in code ... maybe we directly apply the deeper API?

[2022-01-04 23:56] ricardosantos9521 commented on #15247
No 53 doesn't have the fix. They moved the opened workspaces from settings.json to Backup/workspaces.json in vscode insiders. This will not impact previous versions or vscode stable until the next release.

[2022-01-04 23:58] crutkas commented on #15232
/dup #14970

[2022-01-04 23:58] #15232 closed

[2022-01-04 23:59] crutkas commented on #14970
we do have this as "top most" in code ... maybe we directly apply the deeper API?

[2022-01-05 00:04] franky920920 commented on #14552
@Jay-o-Way I am not appending this to #14223 because it works perfectly in Teams. :D

[2022-01-05 00:42] Staples1010 opened #15260 "Colour Names"
### Description of the new feature / enhancement

1 Could we have a feature to submit our own colour name library?
I'd love to be able to upload my own name archive or use the NTC (Name That Colour) Archive to show colour names. https://chir.ag/projects/name-that-color/#b9e501

2 An input field where you can enter a colour value to get the conversion to another value would be handy!

3 A swatch bo

[2022-01-05 00:46] BinZJU opened #15261 "Request for New Features: Search with Google/Bing"
### Description of the new feature / enhancement

Just type in the keywords in Powertoys to initiate a search, similar with the EDGE plugin Steward.

### Scenario when this would be used?

It saves a lot of time to start a search by skipping opening a browser and locating to the searching box.

### Supporting information

_No response_

[2022-01-05 01:10] franky920920 commented on #15261
Duplicate of #3245

[2022-01-05 01:11] franky920920 commented on #15261
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #3245 to centralize the discussion thread, please go to that thread for discussion.

We're adding web search for PowerToys run in 0.53 release! Which is scheduled to release in early January 2022. Please keep an eye on the updates to receive the latest feature in the following days!

_Thanks for your help to make Powe

[2022-01-05 01:16] franky920920 commented on #15260
Duplicate of #12573

[2022-01-05 01:16] franky920920 commented on #15260
Thanks for your suggestion! This issue is a duplicate.
I'm linking this issue to #12573 to centralize the discussion thread, please go to that thread for discussion.

_Thanks for your help to make PowerToys a better piece of software!_

[2022-01-05 01:23] franky920920 commented on #15191
You can try deleting the `%programfiles%\PowerToys` folder and re-install it again.
This might not remove the registry but I think the installer will be able to deal with it.
Please let me know if this helps or not.

[2022-01-05 01:24] jsoref commented on #15258
I've looked a bit into this, and the GitHub APIs mostly suck.

I have code to collapse a specific comment if I have a reference to it.

But, if I don't have a reference to it, I'd basically have to get *all* comments and interrogate them to figure out if they look like mine.

It's frustrating. And I'd love input on a specific API that'd make this less painful. -- For a PR w/ 100 comments, the effo

[2022-01-05 02:24] franky920920 commented on #14189
I'll test this tonight.

[2022-01-05 06:29] Aaron-Junker commented on #15256
@Jay-o-Way Monaco would of course also work for txt files, but it isn't made for it.

[2022-01-05 06:59] crutkas commented on #15256
Could add in some override feature into it to enable additional formats

[2022-01-05 07:00] crutkas commented on #15239
Soon it will be merged in :)

[2022-01-05 07:06] jjw24 commented on #3200
Hi @crutkas, since there are other priority items happening I was going to wait for when you guys are ready to take on the community plugin support to start the conversation.

The team and myself at Flow Launcher would be quite interested to discuss how we can allow the community to build plugins that are fully compatible for both PT Run and Flow Launcher. We are currently on .Net 5 so 6 would not

[2022-01-05 07:19] cospin opened #15262 "[VMC] Don't show camera in toolbar if there isn't one"
### Description of the new feature / enhancement

Don't show camera status in toolbar when you do not have a camera or the shorcut of only the microphone is executed.

### Scenario when this would be used?

When you don't have a camera on your device or are not using it, it is annoying to see the status of the camera.

Right now the "selecte camera" dropdown is empty, I don't have a camera, but I

[2022-01-05 07:34] Aaron-Junker commented on #15256
Yeah that will be a feature request for sure

[2022-01-05 07:55] #15260 closed

[2022-01-05 07:55] #15261 closed

[2022-01-05 07:59] crutkas commented on #15258
I try and go in and clean this up. It has not annoyed me enough to spend time on a script vs focusing on other things

[2022-01-05 07:59] #15258 closed

[2022-01-05 08:33] Rishit19 opened #15263 "Feature Like Quick View"
### Description of the new feature / enhancement

Instead of the file explorer ad ons to view the files without opening them, a feature like quick look could be introduced which triggers the preview of file explorer files by simply pressing the space bar.

### Scenario when this would be used?

This would be used each and every time someone wants to preview their files without wasting the time to

[2022-01-05 08:40] Sven-1 commented on #14713
Easy i thint is your present both option "Apply" and "Apply and Close" side by side in the UI. ;-)
Optimal when user have an option so can be definie the preselection for ENTER or/and  default shown button is "Apply" oder "Apply and Close"

[2022-01-05 08:47] Sven-1 opened #15264 "[Power Rename] Repeate latest by context menue or shortcut"
### Description of the new feature / enhancement

Repeate latest by contextmenue or shortcur to actual selection

### Scenario when this would be used?

Use cases how i can not work all object in one step
Also each sequential work folder by folder or file by file.
And also a rename is last step of sequential work.

### Supporting information

_No response_

[2022-01-05 09:17] Staples1010 opened #15265 "Fancy zone switcher"
### Description of the new feature / enhancement

I love the fact you can choose a number with the shortcut to assign a zone layout but, how about binding a before/after switch to the mouse wheel?

### Scenario when this would be used?

using your mouse hand to switch between zone layouts would be more intuitive IMO and would let you quickly go through your saved layouts instead of having to remem

[2022-01-05 09:21] stefansjfw commented on #14373
ping: @niels9001 :)

[2022-01-05 09:39] niels9001 commented on #14373
Oh missed this one @stefansjfw :).

Ideally I'd suggest to stay away from using custom styles.. but I think thid would be a good usecase and gives us some flexibility on other bugs.

Ideally the AutoSuggestBox WinUI control would just support this out of the box. I'll check if there's an tracking issue for this already there and if not opening one.

I'll have a look as well if a custom style allow

[2022-01-05 10:11] Aaron-Junker commented on #15263
/dup #80

[2022-01-05 10:11] #15263 closed

[2022-01-05 10:33] TheSimArchitect commented on #15215
Maybe we could just have a selector on Fancy Zones settings to "override fixed window sizes"?

Also, modal windows might not be resized, but you could reposition them to the nearest corner of the zone or the center of the zone depending where we are with the mouse. Or, if difficult to implement, maybe just position at the top left corner of the zone. That could also be used for other windows that

[2022-01-05 12:31] Nerxxy opened #15266 "Value does not fall within the expected range"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Image Resizer

### Steps to reproduce

Change an image size to anything

### ✔️ Expected Behavior

Resizes to what I set it to

### ❌ Actual Behavior

Doesn't resize and I get an error saying "Value does not fall within the expected range"

https://user-images.githubusercontent.com/37718547/148217624

[2022-01-05 13:41] sosensible opened #15267 "Mic Camera Mute Not desired always on"
### Microsoft PowerToys version

"0.51.1"

### Running as admin

- [X] Yes

### Area(s) with issue?

Video Conference Mute

### Steps to reproduce

use the current software

### ✔️ Expected Behavior

I expect to be able to turn off the mic/camera quick bar. This is a horrible feature without that.

### ❌ Actual Behavior

It gets in the way at some time no matter where I put it. Doing screen grabs

[2022-01-05 13:44] sosensible commented on #15253
We should not have to mute mic and camera to hide that hide tool. This is not a good customer experience. We understand the intent but the goal here is serving the customer not changing the customer.

[2022-01-05 13:44] bveldkamp opened #15268 "Newlines in markdown are treated as newlines"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

MD Preview

### Steps to reproduce

1. Create a markdown file with these contents:

[code]

2. Preview the file

Note: I realize there is not a single specification for MarkDown, but 'most' (I should probably say 'some') software, such as VS Code, The Visual Studio MarkDown extensions by Mads Kristen

[2022-01-05 13:46] Jay-o-Way commented on #11870
Good to hear @tameemzabalawi, do you know the cause?

[2022-01-05 13:58] LemmusLemmus commented on #3309
@Jay-o-Way Excellent questions!

I'd like to attempt to answer some of the questions, _if_ one assumes Wiktionary as the used source.

_All file sizes below are when stored in the ZIM file format, a compressed yet simultaneously readable on the fly file file format. I'm using the Kiwix app for reference._
The entirety of the English wiktionary is currently roughly 6 GB with pictures and 5.7 GB wit

[2022-01-05 14:00] Jay-o-Way commented on #15266
/bug

[2022-01-05 14:07] Jay-o-Way commented on #15266
Does this happen to one/some/all files? Can you upload a /bugreport

[2022-01-05 14:08] redcoreit commented on #12992
@crutkas would you be so kind to provide detailed instructions? I couldn't find any relevant settings in PT, nor ABR.
Please note that ABR is managed by the company I work for. I can request admin rights but I'm not allowed to configure it.

[2022-01-05 14:08] stefansjfw commented on #15266
@Nerxxy Also, could you attach the image that caused the issue?

[2022-01-05 14:09] stefansjfw commented on #15266
@CleanCodeDeveloper FYI

Is this a known issue ?

[2022-01-05 14:12] stefansjfw commented on #15266
@Nerxxy The image shown in the video - `meta.png`. Could you attach it? so we could debug the issue using the exact image that caused it.

[2022-01-05 14:15] Nerxxy commented on #15266
Its not just that one image, I tried it some of the other images in the folder and I got the same error, here they are

![meta](https://user-images.githubusercontent.com/37718547/148231892-776d6031-22e8-4722-b7da-d78ac02c0ac0.png)
![Base](https://user-images.githubusercontent.com/37718547/148231894-1b8c2394-eae6-4c37-bd98-3faac51f985c.png)
![bumper](https://user-images.githubusercontent.com/377185

[2022-01-05 14:21] Nerxxy commented on #15266
Well I just tried on some other image and it only worked on 2 of the images, but upon trying other images, I got a different error "Operation caused an invalid state" which was for a JPG file.

The 2 images are jpg files, seems like its only giving the "Value does not fall within the expected range" error on PNG files.

[2022-01-05 14:22] Jay-o-Way commented on #15266
Paging @bricelam

[2022-01-05 14:24] tameemzabalawi commented on #11870
@Jay-o-Way No, not yet

[2022-01-05 14:26] EmmaStott opened #15270 "Video Conference Mute causes some applications to crash if no physical webcams are attached to the system"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Video Conference Mute

### Steps to reproduce

1. Unplug any attached webcams, or disable the devices in Device Manager.
1. Run PowerToys as admin.
1. Enable Video Conference Mute.
1. Open Firefox and go to a website that lets you view your own webcam, such as https://webcam-test.com/
1. Click the bu

[2022-01-05 14:32] Jay-o-Way commented on #11870
@mariogarciaprado two questions:
- there have been a number of updates on the mean time, v0.53 is coming any minute. Can you try the latest version and let us know if this issue is still valid?
- do you have the setting "allow zones to span across multiple screens" checked? Can you tell if the problem is solved if you uncheck it?

[2022-01-05 14:36] tameemzabalawi commented on #11870
The issue is still there, I reproduced it

[2022-01-05 14:57] EmmaStott commented on #15270
I used the following commands to uninstall VCM virtual webcam as a temporary solution:

[code]

[2022-01-05 15:03] stefansjfw commented on #15266
Latest `main` resizes these images successfully, so it looks like this is fixed and will be included in next release

[2022-01-05 15:54] ppizarror commented on #14129
The same feature is present in vscode with extensions. Disabled extensions are pushed to the bottom of the list, in a dimmed gray.

[2022-01-05 16:20] hellsing71 opened #15271 "FancyZones update deleted all custom screen zone settings."
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

No idea for reproduction, maybe a downgrade, creation of new settings and new upgrade would clear the settings again.

### ✔️ Expected Behavior

Leaving custom screen zone settings untouched.

### ❌ Actual Behavior

Missing custom screen zone settings. I had no iss

[2022-01-05 16:27] chrisglein commented on #12282
Possible duplicate: #14727

[2022-01-05 16:30] chrisglein commented on #12282
Some more potential duplicates:
- #14559
- #10903
- #10269

[2022-01-05 16:58] Jay-o-Way commented on #15270
In step 5 (in the app/browser) do you select the camera directly or the VCM driver?

[2022-01-05 17:00] Aaron-Junker commented on #14459
Btw will there be an episode of Windows Wednesday about PowerToys?

[2022-01-05 17:38] bricelam commented on #15266
Duplicate of #2447

[2022-01-05 17:49] crutkas commented on #15191
I wouldn't directly delete, the error shown shows a different installer is in progress.  I'd suggest rebooting then trying to do a full uninstall via windows settings then install. a different installer is in progress.  I'd suggest rebooting then trying to do a full uninstall via windows settings then install.

[2022-01-05 17:55] crutkas commented on #10673
/dup #4969

[2022-01-05 17:55] #10673 closed

[2022-01-05 17:55] crutkas commented on #15265
/dup #4969

[2022-01-05 17:55] #15265 closed

[2022-01-05 17:55] crutkas commented on #10424
/dup #4969

[2022-01-05 17:56] #10424 closed

[2022-01-05 18:06] #14589 closed

[2022-01-05 18:20] crutkas commented on #15266
based on this, i'm going to mark this as "revisit for 0.55" and soon as .53 comes out, lets revisit to verify we have the fix

[2022-01-05 18:20] crutkas commented on #15220
This is the neg 4 margin causing this.

[2022-01-05 18:21] crutkas commented on #14973
no plans to currently add in GPO

[2022-01-05 18:25] crutkas commented on #14996
I think for what we are using them for, i'm ok with having that.  It is a tool we are using in PRs in my opinion in an appropirate manner

[2022-01-05 18:25] #14996 closed

[2022-01-05 18:27] crutkas commented on #14996
like, i don't believe we can do a template YML PR like we can with an issue

[2022-01-05 18:53] htcfreek opened #15272 "[PT Run] [WindowWalker] Result view not updating when to windows have same properties"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

1. Change number if results in settings to three. (Only to not need to open to many windows on reproducing this.)
2. Open for example cmd (named `da`), cmd (named `dab`) and two instances of "My Computer" (Explorer).
3. Navigate with arrow keys down to second ex

[2022-01-05 18:57] crutkas commented on #3151
@htcfreek is this still an issue?  assuming it is

[2022-01-05 18:58] crutkas commented on #14703
betting 0.53 will fix this since we are handling a lot of stuff differently now with the new installer.  going to mark this as 0.55 revisit.

[2022-01-05 18:59] htcfreek commented on #3151
As I know it's fixed. Let's close and see if there are coming new issues.

[2022-01-05 19:06] #3151 closed

[2022-01-05 19:08] crutkas commented on #14632
/dup #6292

[2022-01-05 19:08] #14632 closed

[2022-01-05 19:09] crutkas commented on #13577
@LCLitaiff how often do you open our settings app?

[2022-01-05 19:11] crutkas commented on #14603
/dup 13072

[2022-01-05 19:13] crutkas commented on #13231
A screensaver shouldn't kick on in this scenario.  Locking a computer would be.

[2022-01-05 19:17] Jay-o-Way commented on #14632
Duplicate of #6292

[2022-01-05 19:20] jolsen71 commented on #77
I recently made the switch from Mouse Without Borders to Barrier, and other than a SSL cert that failed to get created during install and a default screensaver sync setting that made my client computer never sleep, I think Barrier is a better product. I had some jitter/mouse responsiveness/fine control issues with MWB that Barrier doesn't seem to have. It also seems like Barrier has a larger featu

[2022-01-05 19:23] crutkas commented on #15268
@bveldkamp i just did a quick github test, looks like they treat newlines as new lines, not a single.  To me, that is the gold standard personally.

we do directly do tell the visualizer to treat them as hard.  We could have this as a setting honestly, i think this is such a loose standard you'll have some people want one versus other.

[var softlineBreak = new Markdig.Extensions.Hardlines.Softlin

[2022-01-05 19:36] crutkas commented on #13023
@HandycraftJFT does Windows Snap work?  What version of PowerToys are you on?

[2022-01-05 19:38] crutkas commented on #13077
let's discuss when we have actual concrete work here.

[2022-01-05 19:38] #13077 closed

[2022-01-05 19:40] crutkas commented on #13430
/dup #12654

[2022-01-05 19:40] #13430 closed

[2022-01-05 19:41] crutkas commented on #13184
@stefansjfw we did work here, do you feel this has been addressed?

[2022-01-05 19:43] HandycraftJFT commented on #13023
Yes it does. I can use the WIN + arrow keys to snap windows into halves or quarters on my screen and it works with NinjaTrader 8.

From: Clint Rutkas ***@***.***>
Sent: Wednesday, January 5, 2022 2:37 PM
To: microsoft/PowerToys ***@***.***>
Cc: HandycraftJFT ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/PowerToys] NinjaTrader 8 will not snap to FancyZones (#13023)

@HandycraftJFT <htt

[2022-01-05 19:43] crutkas commented on #14305
Great feedback item for Teams, i don't think PowerToys would implement this.  To do this generically is hard as well since not everyone uses Teams

[2022-01-05 19:43] #14305 closed

[2022-01-05 19:44] crutkas commented on #13691
@franky920920 can you verify with 0.53 when it comes out

[2022-01-05 19:45] crutkas commented on #13691
I can't repro this

[2022-01-05 19:46] crutkas commented on #13023
what version of PowerToys are you on?  0.51.1?

[2022-01-05 19:47] crutkas commented on #14094
0.53 installer should fix this

[2022-01-05 19:47] HandycraftJFT commented on #13023
Yes. Did you fix it?

From: Clint Rutkas ***@***.***>
Sent: Wednesday, January 5, 2022 2:47 PM
To: microsoft/PowerToys ***@***.***>
Cc: HandycraftJFT ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/PowerToys] NinjaTrader 8 will not snap to FancyZones (#13023)

what version of PowerToys are you on? 0.51.1?

—
Reply to this email directly, view it on GitHub <https://github.com/microsoft/P

[2022-01-05 19:49] crutkas commented on #14074
verifying with accessibility team now.  Feels like this exists.  Tabbing puts a focus rect around stuff already for what has focus.

![image](https://user-images.githubusercontent.com/1462282/148279670-f827e379-a85c-4b3e-bd86-1a3c1b9cfc8a.png)

[2022-01-05 19:52] crutkas commented on #13934
Grid is relational, feedback with canvas is people wanted precision, not relational.  I don't know if we'll ever do this style shift.

What we are possibly going to shift to is allow a resolution / dpi shift and still allow a canvas on that monitor regardless if it is a direct match

[2022-01-05 19:57] Jay-o-Way commented on #13691
@crutkas possibly because it's not really a bug. The icon is just a (meaningless) rectangle. Question is: what do we do with it? (Replace our just remove?)

[2022-01-05 20:00] crutkas commented on #13938
/dup #5668

[2022-01-05 20:00] #13938 closed

[2022-01-05 20:02] crutkas commented on #10269
/dup #10903

[2022-01-05 20:02] #10269 closed

[2022-01-05 20:02] crutkas commented on #12282
/dup #10903

[2022-01-05 20:02] #12282 closed

[2022-01-05 20:02] crutkas commented on #14559
/dup #10903

[2022-01-05 20:02] #14559 closed

[2022-01-05 20:02] crutkas commented on #14727
/dup #10903

[2022-01-05 20:02] #14727 closed

[2022-01-05 20:04] Aaron-Junker commented on #14996
I tried it once and it didn't work

[2022-01-05 20:08] Jay-o-Way commented on #14996
Isn't it as simple as changing `- [] yes` into `Yes`?

[2022-01-05 20:22] crutkas commented on #14996
Some stuff comes in after the fact. It is also designed to be much more hold people accountable. If we see a new dll was added but not wix tweaked we know we need to go in

[2022-01-05 20:33] Aaron-Junker commented on #14996
@Jay-o-Way you know what. I will just write a mail to GitHub support, beccause in my eyes this is a overall a big design flaw.

[2022-01-05 20:39] crutkas commented on #14713
fair feedback

[2022-01-05 20:44] crutkas commented on #13950
/dup #https://github.com/microsoft/PowerToys/issues/11890

[2022-01-05 20:44] crutkas commented on #13950
/dup https://github.com/microsoft/PowerToys/issues/11890

[2022-01-05 20:44] crutkas commented on #13950
note to self, i need to improve fabricbot to handle the URL scenario

/dup #11890

[2022-01-05 20:45] #13950 closed

[2022-01-05 20:46] crutkas commented on #12329
I think issue #11890 tracks this exact ask.  It isn't custom brackets, it is allow better & improved enumeration.  The brackets come for free

/dup #11890

[2022-01-05 20:46] #12329 closed

[2022-01-05 20:47] crutkas commented on #12329
actually, found an older iteration /dup #3814

[2022-01-05 20:47] crutkas commented on #13950
actually, found an older iteration /dup #3814

[2022-01-05 20:48] crutkas commented on #11890
/dup #3814

[2022-01-05 20:48] #11890 closed

[2022-01-05 20:50] crutkas commented on #14713
found another issue with same context.

/dup #14852

[2022-01-05 20:50] #14713 closed

[2022-01-05 20:51] stefansjfw commented on #13184
@crutkas No, this is yet to be done. We should agree what the correct naming would be first

[2022-01-05 20:52] crutkas commented on #5580
While it isn't perfect, Windows 11 really did improve this.  At end of day, this has to be done by Windows itself and we are pushing toward it.

I'm going to close this out as it is something we're pushing hard on internally.

[2022-01-05 20:53] #5580 closed

[2022-01-05 20:53] #8053 closed

[2022-01-05 20:53] crutkas commented on #8053
I can't see us doing this

[2022-01-05 20:55] crutkas commented on #15221
/dup 87

[2022-01-05 20:55] crutkas commented on #15221
grrr, /dup #87

[2022-01-05 20:55] #15221 closed

[2022-01-05 20:59] Jay-o-Way commented on #14996
I could have done that as well. Frankly, it's already being discussed in the issue I linked earlier. (But don't let me keep you)
Seemed simple to me, it's only about this - not more
![Screenshot_20220105-214355](https://user-images.githubusercontent.com/65828559/148288108-e34522b6-d428-4817-9d18-0c9295a20b0a.png)

[2022-01-05 21:07] crutkas commented on #14853
/dup https://github.com/microsoft/PowerToys/issues/15067

[2022-01-05 21:07] #14853 closed

[2022-01-05 21:07] CleanCodeDeveloper commented on #15239
Same here 😄  Maybe @stefansjfw can get it to work.

[2022-01-05 21:18] Pontiac76 commented on #13934
I appreciate the second paragraph, but I question the response about the first, and although this isn't a discussion forum, I'm interested to understand why the community wanted this.  It just doesn't make sense to me, and maybe I'm missing a puzzle piece.

With screen sizes being dynamic, not static, a precision based canvas makes no sense.  Especially when a canvas can be used on multiple screen

[2022-01-05 21:20] crutkas commented on #15241
A lot of people are not admins of their box. We've done a lot of work to do per-user installs due to this

[2022-01-05 21:21] CleanCodeDeveloper commented on #15266
It was a regression in 0.51.1. My bad! Will be fixed by #15198 and released with 0.53!

[2022-01-05 21:23] crutkas commented on #14206
what is the exact route people want?

- Webcam -> VCM -> 3rd party app -> Teams?
- webcam -> 3rd party app -> VCM -> Teams?

[2022-01-05 21:25] crutkas commented on #14312
What is the exact routing people have for this?

Webcam -> VCM -> nVidia Broadcast -> Actual wanted app (ala Teams)
webcam -> nVidia Broadcast -> VCM -> Actual wanted app (ala Teams)

[2022-01-05 21:25] CleanCodeDeveloper commented on #15266
@Nerxxy: Thanks for the images, I added them to my test suite. Would be great if you could check again with v0.53 once its released and confirm that the error is fixed. Thank you for taking the time to report the issue.

[2022-01-05 21:25] crutkas commented on #14312
/reportbug also :)

[2022-01-05 21:26] crutkas commented on #13343
fyi, this was fixed with 0.49.

[2022-01-05 21:26] #13343 closed

[2022-01-05 21:27] crutkas commented on #15036
/dup #3245

[2022-01-05 21:27] #15036 closed

[2022-01-05 21:28] crutkas commented on #14185
/dup #4373

[2022-01-05 21:28] #14185 closed

[2022-01-05 21:37] crutkas commented on #11254
Does this happen after a build newer than 0.49?

[2022-01-05 21:37] crutkas commented on #13675
closing per @crackerdan

[2022-01-05 21:37] #13675 closed

[2022-01-05 21:38] crutkas commented on #15120
Does this happen after a build newer than 0.49?

[2022-01-05 21:59] xperiandri commented on #9646
It still happens
![Знімок екрана 2022-01-05 164045](https://user-images.githubusercontent.com/2365592/148295540-1e79ba66-876f-488e-b8f2-19b4c4bcf8d4.png)
Even though I set it to use embedded graphics mandatory

[2022-01-05 22:11] crutkas commented on #15234
/dup https://github.com/microsoft/PowerToys/issues/14556

[2022-01-05 22:12] #15234 closed

[2022-01-05 22:20] crutkas commented on #11792
xref https://github.com/microsoft/PowerToys/issues/15028

[2022-01-05 22:27] crutkas commented on #13691
for me it is not just a single rect (this is a 0.53 RC build)
![image](https://user-images.githubusercontent.com/1462282/148298342-8f0b9bf5-d80d-470f-9686-0ca0f9d236f8.png)

[2022-01-05 22:30] Jay-o-Way commented on #13691
Ohhh, in that case 🤐

[2022-01-05 22:38] crutkas commented on #13934
web design or really want things to be certain sizes.  it was for us, very clear people wanted precision based on the amount of work we had to do with the editor to enable it.  Resizing grid based layouts is easy, canvas has tons of questions for how things get transformed / resized

Can you share your layout?

[2022-01-05 22:42] crutkas commented on #15227
Any chance the monitors are DPI zoomed? only way i can repro this is if i scale
![image](https://user-images.githubusercontent.com/1462282/148300003-3c247c98-f3fb-47f5-b4fd-f8e0a25215b7.png)
![image](https://user-images.githubusercontent.com/1462282/148300024-ffcbaa7a-3bcb-4582-83a3-f827e307cda2.png)

[2022-01-05 22:45] crutkas commented on #15227
note: both my monitors are same size

[2022-01-05 22:51] JBensimon99 commented on #15241
Per-user installs will place files in the user profile rather than Program Files, so requesting UIAccess would have no effect in this case, it would be quietly denied.

[2022-01-05 22:54] Andley commented on #15227
Yes, you are right !!
If I scale back to 100%, then the resolution is all right.

Case closed. Thank you @crutkas :)

[2022-01-05 22:54] #15227 closed

[2022-01-05 23:05] crutkas commented on #14696
/dup #4794

[2022-01-05 23:05] #14696 closed

[2022-01-05 23:08] crutkas commented on #14013
This is multiple features into one.  Due to this, I'm going to have to close this.  Example, Roll up + min to tray are different and neither exist

[2022-01-05 23:08] #14013 closed

[2022-01-05 23:11] crutkas commented on #14992
can't repro this on a 0.53 build.

[2022-01-05 23:13] crutkas commented on #14992
lets have it revisit on 0.53 which should be out shortly to see if you still have this

[2022-01-05 23:25] crutkas commented on #14603
/dup #13072

[2022-01-05 23:25] #14603 closed

[2022-01-05 23:32] crutkas commented on #15172
in watson, i don't see anything past "hey, there were some crashes in this bucket"  I requested more data.

[2022-01-05 23:33] crutkas commented on #15230
I can see the value in this proposal but it also can lead to the same underlying issue of quirks as you even call out.  I think there is no good solution to overlapping zones as we can always come up with scenarios to break it.

This is one reason why i'm a big advocate of grid based layouts over canvas layouts

[2022-01-05 23:46] franky920920 commented on #13007
@crutkas #revisit-0.55?

[2022-01-05 23:49] franky920920 commented on #15270
ref: #13984

[2022-01-05 23:53] franky920920 commented on #15267
Do you mean to hide the toolbar? ref: #14123

[2022-01-05 23:54] Craig-Humphrey commented on #14312
[PowerToysReport_2022-01-06-12-45-44.zip](https://github.com/microsoft/PowerToys/files/7818425/PowerToysReport_2022-01-06-12-45-44.zip)
Not sure if this is the same issue or just related.
I'm running Power Toys v0.51.1 and Nvidia Broadcast v1.3.0.45.
I'm trying to configure: Cam -> VCM -> Nvidia Broadcast -> App
If I start Broadcast with VCM disabled, it doesn't pick up the VCM cam.
If I start Bro

[2022-01-06 00:12] crutkas commented on #13007
yes

[2022-01-06 00:20] crutkas commented on #12317
dotnet installer is now included.

[2022-01-06 00:25] crutkas commented on #12045
@dedavis6797 @Jay-o-Way @niels9001 What is the actual POR here for this.  It is slightly unclear from the thread.

[2022-01-06 00:34] abhij2609 commented on #8053
Yes you did. This is in the surface laptop studio. The corners are rounded.
It's just that, they are physically rounded and not by any software.

On Thu, 6 Jan, 2022, 2:24 am Clint Rutkas, ***@***.***> wrote:

[2022-01-06 01:25] crutkas commented on #8053
That is via device, not software.

[2022-01-06 02:06] jpdied commented on #15172
[PowerToysReport_2022-01-05-21-05-31.zip](https://github.com/microsoft/PowerToys/files/7818947/PowerToysReport_2022-01-05-21-05-31.zip)
Here is the latest zip from the bug report. If you require more data, please let me know how to provide it.
I'm using wox in the meantime.

[2022-01-06 04:00] kernkraft235 commented on #15230
Yea that makes sense. I really like Fancy zones and want it to be useful for the most amount of people. I think overall the desktop UI experience in Windows and Linux is poor and stuck in the same paradigm. I'm learning to code now because I want to introduce features as impactful as fancy zones. My 50% height problem would be solved if I could just make a "container" window and place my terminal/

[2022-01-06 04:03] akgupta0777 commented on #14094
Thanks

[2022-01-06 04:55] Dobbinbr commented on #11254
No. After update, the problem didn't happen anymore.

Em qua., 5 de jan. de 2022 18:37, Clint Rutkas ***@***.***>
escreveu:

[2022-01-06 05:29] HppZ commented on #3278
windows search is bad.

[2022-01-06 06:22] #11254 closed

[2022-01-06 07:07] Jay-o-Way commented on #12045
I'm lost too

[2022-01-06 07:35] robmonte commented on #14556
Is this maybe a bug inside of the Clipboard History feature rather than PowerToys? I would think that when the OS is activating this behind the scenes for a paste, it should be directly accessing the system paste feature and not emulating keyboard presses that translate into the system paste. Is it something someone can communicate internally to find out?

[2022-01-06 08:43] Armageus commented on #14992
Thanks, will test as soon as this is available

[2022-01-06 09:33] bveldkamp commented on #15268
@crutkas Fair enough. Having a setting to choose between either mode would be perfect.

[2022-01-06 09:48] htcfreek commented on #13637
@franky920920
Damn. The processes aren't parental ordered:

![image](https://user-images.githubusercontent.com/61519853/148363561-8f7ee007-d6d7-4e74-ac39-92c87af59134.png)

[2022-01-06 09:54] lbbym opened #15274 ""ctrl(left)+shift+w" doesn't work,"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Keyboard Manager

### Steps to reproduce

set capslock to ctrl(left), and set ctrl(left) to capslock, and the shortcut "ctrl(left)+shift+w" doesn't work in any application

### ✔️ Expected Behavior

 "ctrl(left)+shift+w" should work

### ❌ Actual Behavior

 "ctrl(left)+shift+w" doesn't work, and  oth

[2022-01-06 10:46] tictag opened #15275 "FEATURE REQUEST: Ability To "Always On Top" Any Window"
### Description of the new feature / enhancement

Some Windows applications have a feature to 'Always On Top' the window, most don't. Add the ability to PowerToys to 'Always On Top' any window, preferably via the window's context menu e.g. Maximise, Minimise, Always On Top.

### Scenario when this would be used?

When an app window needs to always be visible, irrespective of what else is being dis

[2022-01-06 11:04] htcfreek commented on #15275
This feature is ready for release. It is planned to make it available in the December release which should be available in the next few weeks.

[2022-01-06 11:09] tictag commented on #15275
Cool! That was quick! 😁 Should I close this issue?

[2022-01-06 11:29] htcfreek commented on #15275
Duplicate of #13

[2022-01-06 11:56] Jay-o-Way commented on #15274
You remapped Ctrl key, and this stays the same, even if you press it inside a shortcut.

[2022-01-06 12:48] franky920920 commented on #15275
Yes, sure. ;)

[2022-01-06 13:00] davidegiacometti commented on #12515
Looks related to XAML island.
WinUI3 could fix this.

[2022-01-06 13:50] franky920920 commented on #14189
Seems resolved. Cannot reproduce this on the latest build from main.

[2022-01-06 13:50] #14189 closed

[2022-01-06 13:54] El-GeorgesW commented on #14318
Resolved ! Thanks !

[2022-01-06 13:54] #14318 closed

[2022-01-06 14:12] sosensible commented on #14123
I don't like this feature. Would like to have it default to not active.

[2022-01-06 14:13] sosensible commented on #15267
That is close enough and appended my thought there.

On Wed, Jan 5, 2022 at 6:53 PM Franky Chen ***@***.***> wrote:

--

*John Farrar*
*SOSApps*
*Servant Oriented Software*

[2022-01-06 14:15] Luekuu opened #15276 "FancyZone like i3 /pop-os"
### Description of the new feature / enhancement

Hello dear community
Could you set up FancyZones so you can move the "zones" live without editor? In addition, it would be cool, would per new window a new zone open. Like with i3 or POP-OS.

Regards, Lukas

### Scenario when this would be used?

Much better workflow. If you open 2 terminals, they can be quickly arranged under each other. The right

[2022-01-06 14:35] tictag commented on #15275
OK

[2022-01-06 14:35] #15275 closed

[2022-01-06 15:13] Downinfl1 commented on #15191
Finally it worked!

Thank you!

Please close this issue.

From: Clint Rutkas ***@***.***>
Sent: Wednesday, January 5, 2022 12:49 PM
To: microsoft/PowerToys ***@***.***>
Cc: Downinfl1 ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/PowerToys] Can't remove v0.49.1; Can't install v0.51.1 (Issue #15191)

I wouldn't directly delete, the error shown shows a different installer is in progress.

[2022-01-06 15:23] KiritoKunD2 opened #15277 "PowerToys Run Do not run as expected"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [X] Yes

### Area(s) with issue?

PowerToys Run

### Steps to reproduce

I use the default shortcut and customs ones

### ✔️ Expected Behavior

To see the Search Bar

### ❌ Actual Behavior

I do not see anything, I changed everything and still not seeing anything. Somethimes it works, somethimes it doesn't

### Other Software

_No re

[2022-01-06 16:02] Admin-A-LLC opened #15279 "Default File Association Advanced Editor"
### Description of the new feature / enhancement

So Microsoft has kinda kicked the whole action section of file associations to the curb and has placed emphasis on default application associations on just opening documents. Most of the 3rd party apps that used to take on the task of handling the old XP feature have been left to age and quite frankly I don't know why Microsoft didn't implement the

[2022-01-06 16:03] #15191 closed

[2022-01-06 16:15] jaimecbernardo opened #15280 "Always on Top doesn't have an icon on TaskManager"
### Microsoft PowerToys version

0.53

### Running as admin

- [ ] Yes

### Area(s) with issue?

AlwaysOnTop

### Steps to reproduce

With Always on Top enabled, check the "PowerToys.AlwaysOnTop.exe" icon on Task Manager.

### ✔️ Expected Behavior

It should have an icon.

### ❌ Actual Behavior

It has no icon.

### Other Software

_No response_

[2022-01-06 16:21] jaimecbernardo opened #15281 "[AlwaysOnTop]Graphical glitches from the border when two always on top Windows intersect"
### Microsoft PowerToys version

0.53

### Running as admin

- [ ] Yes

### Area(s) with issue?

AlwaysOnTop

### Steps to reproduce

If two Always On Top Windows intersect, the borders behavior is not consistent and can be glitchy.

Having two always on top windows, switching between them (without moving them) results in border being visible partially:
![GetAttachmentThumbnail](https://user-image

[2022-01-06 16:39] jaimecbernardo opened #15282 "[Installer] Auto-updating from <0.53 to >=0.53 shows installer UI"
### Microsoft PowerToys version

0.53

### Running as admin

- [ ] Yes

### Area(s) with issue?

Installer

### Steps to reproduce

Auto update from any version prior to 0.53 to version 0.53 or higher.
This will still show the installer UI.
The main reason for this is that the auto-updater logic of prior versions has no idea of the command line arguments changes introduced with the installer boots

[2022-01-06 17:45] jaimecbernardo commented on #11942
There's an interesting log line which says that "Cursor file path was null". This is triggered when the values we get for some cursors from registry don't actually exist. I fail to see how this would make Color Picker not function, though.
Other than that, there's nothing suspicious in the logs that could indicate it.

If ColorPicker is in Task Manager, it seems that ColorPicker isn't crashing but

[2022-01-06 17:54] VulcanTourist commented on #14222
FancyZones Release v0.53.1

-     Fix for not snapping child windows

Thank you, all!

[2022-01-06 17:59] Aaron-Junker opened #15283 "AoT border renders on top of taskbar on Win11 when maximized"
### Microsoft PowerToys version

0.53.1

### Running as admin

- [X] Yes

### Area(s) with issue?

Always on Top

### Steps to reproduce

1. Make a windows always on top
2. Maximize it

If you cahnge to another window it disappears again. It doesn't happen on wvery app the same way. In opera GX for example the boreder appears and goes away while typing.

### ✔️ Expected Behavior

_No response_

##

[2022-01-06 18:05] jaimecbernardo commented on #14220
It's more that we don't let mappings affect the setting of other shortcuts. Perhaps the right way here would be to apply the keyboard manager mappings when setting shortcut keys for other PowerToys, but his needs some testing to understand if they're conflicting or being mapped when actually applying the shortcut, and by which order they're being processed.

Some investigation needs to be done her

[2022-01-06 18:10] BenConstable9 opened #15284 "Always On Top Square border with Windows 11"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

Always on Top

### Steps to reproduce

Toggle a window to Always On Top on a Windows 11 Build

### ✔️ Expected Behavior

Coloured border should wrap with the curve of the window

### ❌ Actual Behavior

Coloured border is square when the window is round so it looks odd.

![image](https://user-images.g

[2022-01-06 18:37] niels9001 commented on #12045
@crutkas Only UX tweak I could imagine is showing a preview of what the new aspect ratio would look like. But since you can select multiple images with multiple aspect ratios I think that will be difficult to do (only if we could somehow show a preview list). Therefore, I'd say this can be closed?

[2022-01-06 18:40] Aaron-Junker commented on #12045
+1 for closing this

[2022-01-06 19:01] #15079 closed

[2022-01-06 19:01] #8268 closed

[2022-01-06 19:03] Seabmoby opened #15285 "Window doesn't remember last location when toggling desktops if the windows was moved from a FancyZone on one monitor to a non-FancyZone window on a second monitor"
### Microsoft PowerToys version

0.51.1

### Running as admin

- [ ] Yes

### Area(s) with issue?

FancyZones

### Steps to reproduce

1. Win + Tab
2. Add new desktop
3. Open a window and snap the window into a FancyZone (shift + drag window)
4. Drag that window from it's FancyZone into any location on your second monitor (not a FancyZone)
5. Win + Tab
6. Switch to your other desktop
7. Win + Tab