[2020-05-04 08:51] haydnmahar opened #2643 "[Shortcut Guide] BUG - Shortcut guide not working at all since Windows 10 Pro 2004 May2020 build update (updated to PT v 17.0 same day)"
### **BUG REPORT**
**Shortcut guide not working at all since Windows 10 Pro 2004 May2020 build update**

The shortcut guide module simply does not work since early access update to May 2020 - Windows 10 Pro 2004 update. I am not running a special insider build - just the early access version of the official update - updated thought windows update. Everything else seems to work find so far.

# Envi

[2020-05-04 08:55] enricogior commented on #2638
In that case there something else going on, since the processing we do shouldn't take more then a few milliseconds.
Just tested on a 5 years old, low power, laptop and there is not significant/visible delay for Win+Shift+S.

[2020-05-04 09:11] yuyoyuppe commented on #2296
@enricogior `$(SolutionDir)$(Platform)$(Configuration)` is a default `OutDir` for `vcxproj`s, so we don't need to set it explicitly, we only do that when we need to override it with something else, e.g. in [`ImageResizerExt.vcxproj`](https://github.com/microsoft/PowerToys/blob/master/src/modules/imageresizer/dll/ImageResizerExt.vcxproj#L76).

I'm guessing the empty `$OutDir` that @mousebyte experi

[2020-05-04 09:57] Hal34 commented on #2533
Hi Enrico,
To be able to modify the sequence, I still have to know this:
Knowing that my starting point is my situation in front of the Windows desktop just after starting,
from there, where should I click to go to the location of the sequence?

Thanks again.

[2020-05-04 10:26] mikeyd85 commented on #2629
You can set a global hotkey for any shortcut in Windows. go to the Properties of any shortcut and set a Shortcut Key in the Shortcut tab. Any single letter key will general a CTRL + ALT + Letter global shortcut.

[2020-05-04 10:50] cain0z commented on #2414
Works in version 17

[2020-05-04 10:54] Radther opened #2644 "[FancyZones] Allow linking of windows in a layout together to bring them all to the front when one is pressed."
# Summary of the new feature/enhancement

I think it would be incredibly useful if windows in a Zone were able to be linked together such that if you brought one to the front it would bring all of them to the front at the same time. I understand that you could have multiple windows in the same section on a zone so there'd need to be some way to say which windows are linked together. This could per

[2020-05-04 11:06] Frank-Ye7104 commented on #2638
Okay, I found this may be more related to RAM usage. This also reminds me of another suggestion: With the richness of Power Toys, I hope it can still keep its resource consumption low.

[2020-05-04 11:58] DarylGraves commented on #2563
Hi guys, just to say I'm having the same problem - PowerToys is still running and responsive, just not Fancy Zones.

This doesn't happen on my home PC from what I've noticed but does happen on my work PC. Work PC is Windows version 10.0.17134

Cheers!

[2020-05-04 12:11] enricogior commented on #2414
Great, thanks for the feedback.

[2020-05-04 12:34] Aero2588 commented on #2563
The issue is on my work computer as well (Windows Enterprise version 10.0.17763

[2020-05-04 12:39] crutkas commented on #2638
I think we need a clear repo here. Snipping for me can be hit / miss for the shortcut.

Based on the last comment, I am going to close it as needs repo. If you feel this is incorrect , please comment.

[2020-05-04 12:40] #2638 closed

[2020-05-04 12:57] ThomasBpunkt opened #2645 "Size of Zones in Pixels"
While creating or changing a zone, it would be nice if the size in pixels x*y will be visible

When creating a zone i would like to see how many pixels in x and y i have. On a big monitor with 3840*2160 i want to create some zone with 1920*1080 pixels.

[2020-05-04 13:04] gilles1394 commented on #2563
Hi, following @enricogior advice above (thank you) I installed the 0.17.1. So far so good (FancyZones still ok after few hours) but I prefer to wait few more days to say it is THE fix.

[2020-05-04 13:42] Pascal0997 opened #2646 "Powertoys in combination with groupy does not work properly."
Current situation
![Powertoys - How it is](https://user-images.githubusercontent.com/59395893/80971805-926c7a80-8e1d-11ea-8c8b-80abcac2908d.PNG)

How it should be
![Powertoys - Like it should be](https://user-images.githubusercontent.com/59395893/80971817-97312e80-8e1d-11ea-922c-20f63b3acb51.PNG)

I hope you can see what the issue is.
Normally I swith a lot between programs with groupy and without

[2020-05-04 13:47] twowaypettingzoo opened #2647 "Fancy Zones stops working"
# Environment

[code]

# Steps to reproduce

There's no specific trigger for this issue. Fancy Zones will work as intended and I will randomly move windows around the zones and the zones do not appear.

# Expected behavior

I use the shift+mouse to move a window into a zone. I have 3 zones on my monitor that appear as choices

# Actual behavior

I hold shift, move the window around and my zone opt

[2020-05-04 14:00] enricogior commented on #2563
@gilles1394
ok sure, let's wait more time, in the mean time thanks for testing.

[2020-05-04 14:18] Nick2bad4u commented on #2647
Same here. Eact same behavior,

installing the 16.X version fixes it.

Windows build number: [Version 10.0.18363.815]
PowerToys version: 0.17.0
PowerToy module for which you are reporting the bug (if applicable): Fancy Zones

[2020-05-04 14:30] weitzhandler commented on #2629
Win+number in task bar works better for me. But anyway, would have been much nicer if it's a conventional global hotkey that launches wt/cmd.

Related: https://github.com/microsoft/terminal/issues/653

[2020-05-04 14:33] weitzhandler commented on #2629
Win+number in task bar works better for me. But anyway, would have been much nicer if it's a conventional global hotkey that launches wt/cmd.

Related: https://github.com/microsoft/terminal/issues/653

[2020-05-04 14:33] markey commented on #2647
Yep, happening here as well. It's not just FancyZones, but the whole PowerToys Runner freezes completely, several times per day.

I was wondering if some parts might not have installed/updated correctly from 0.16 to 0.17.

[2020-05-04 14:44] saahmedm opened #2649 "Settings locations need to be consistent"
change settings location to same for all projects

[2020-05-04 14:46] enricogior commented on #2646
Hi @Pascal0997
thank you for reporting the issue, this will be fixed in the next release.
We are tracking the problem in https://github.com/microsoft/PowerToys/issues/2533
I'll close this one as duplicate.
Thank you.

[2020-05-04 14:46] #2646 closed

[2020-05-04 14:49] enricogior commented on #2647
Hi @twowaypettingzoo @Nick2bad4u @markey
we have other reports of the same problem, the bug is tracked in https://github.com/microsoft/PowerToys/issues/2563
Also please read https://github.com/microsoft/PowerToys/issues/2563#issuecomment-622462804
I'm closing this as duplicate. thank you.

[2020-05-04 14:49] #2647 closed

[2020-05-04 14:59] saahmedm opened #2650 "Size of Window"
Change window size to appropriate size in comparison to PT window

<img width="866" alt="kbm-windowsize" src="https://user-images.githubusercontent.com/58789616/80980125-1eaa7d80-8ddd-11ea-8253-611825e1644c.png">

[2020-05-04 15:00] saahmedm opened #2651 "Bring window in focus on first open"
Window appears behind PT on first open

<img width="862" alt="KBM-windowback" src="https://user-images.githubusercontent.com/58789616/80980108-19e5c980-8ddd-11ea-8152-311c2355b136.png">

[2020-05-04 15:33] PedroLamas opened #2652 "Fine-tune multi-monitor positioning tool"
# Summary of the new feature/enhancement

The current way to position monitors is via Display Settings, but this does really bad snapping as one can see in the following example for a Dell XPS 4k laptop monitor and 2 Dell 1080p external monitors:

![image](https://user-images.githubusercontent.com/85504/80983340-5d175b00-8e24-11ea-83e2-3c7cf3ff718b.png)

(for the record, I've actually raised a Fee

[2020-05-04 15:36] enricogior opened #2654 "[FancyZones] LowLevelKeyboardProc improvements"
[`LowLevelKeyboardProc`](https://github.com/microsoft/PowerToys/blob/c14c51f551543a6a2ad65aaeb1a4da4615262a96/src/modules/fancyzones/dll/dllmain.cpp#L203) calls [`HandleKeyboardHookEvent`](https://github.com/microsoft/PowerToys/blob/c14c51f551543a6a2ad65aaeb1a4da4615262a96/src/modules/fancyzones/dll/dllmain.cpp#L234) that returns `0` if `data->wParam == WM_KEYDOWN`

Let's check for `data->wParam =

[2020-05-04 15:52] jyuwono commented on #2559
@niels9001 awesome, thanks a lot! Yes. I think the main concern here is when someone is pressing Tab to go through the search result and the buttons, it's not clear which focus the Tab is currently at. If we could add a highlight (or another visual indication) on what's currently in focus, that would be very helpful. Really appreciate your help, @niels9001 !

[2020-05-04 15:59] danieldg001 opened #2656 "Context menu disappears automatically inside google drive filestream's drive"
# Environment

[code]

# Steps to reproduce

With google drive filestream installed, right click on a file to show the context menu.

# Expected behavior

The context menu should stay until the user selects an option or closes it by clicking outside.

# Actual behavior

After a few seconds (variable between less than one and about 3 seconds), the context menu disappears automatically. Sometimes wi

[2020-05-04 16:06] ryanbodrug-microsoft opened #2657 "Launcher - Calculator Copy Result to clipboard doesn't work."
# Environment

[code]

# Steps to reproduce

Type a formula into the into the launcher. eg. 1 + 1.
![image](https://user-images.githubusercontent.com/56318517/80986631-aeecc080-8de5-11ea-8e3d-9ccd924a99f7.png)
Press Enter: to copy to clipboard

# Expected behavior

2 should be in the clipboard

# Actual behavior
Nothing appears to happen from the MSI.
In Debug an exception is being thrown:
![image

[2020-05-04 16:07] arjunbalgovind opened #2658 "[KBM] Memory issue"
Some memory does not get cleared on opening and closing KBM.
# Steps to reproduce

Open the remap key window and close it. Check the task manager memory used in the runner process
# Expected behavior

Memory should get cleared on closing

# Actual behavior

Memory doesn't get cleared

[2020-05-04 16:11] arjunbalgovind commented on #2651
I've seen this happen, but does this happen consistently? Every first open on PT?
I think it might be just a one line fix by adding a SetForegroundWindow step.

[2020-05-04 16:12] #2569 closed

[2020-05-04 16:14] arjunbalgovind commented on #2469
Fixed in #2566.

[2020-05-04 16:14] #2469 closed

[2020-05-04 16:14] saahmedm opened #2659 "Banded Rows for Editing UI in KBM"
add banded rows to both the windows

[2020-05-04 16:15] arjunbalgovind commented on #2287
@laviusmotileng-ms We can close this issue since it's fixed right?

[2020-05-04 16:16] ryanbodrug-microsoft commented on #2060
@enricogior.  Did your team have a proposal for the stub file.  If not I was just planning on moving the above file to a .netstandard 'Telemetry' project, so that it could be replaced via nuget.  Would that work for you?

[2020-05-04 16:16] #2148 closed

[2020-05-04 16:28] saahmedm commented on #2651
Happens for me every time I **first** open the .exe

[2020-05-04 16:29] enricogior commented on #2060
@ryanbodrug-microsoft the file to be replaced doesn't need to be in its own project, we want to do something similar to what we do in C++, we just run a script that replaces a file on the fly before building, the fact that the script uses nuget to get the file is not something the projects should worry about (the projects should not even know nuget is involved).
We need one TelemetryBase.cs that c

[2020-05-04 16:31] jyuwono commented on #2396
@somil55 can't repro anymore

[2020-05-04 16:31] #2396 closed

[2020-05-04 16:36] ryanbodrug-microsoft commented on #2060
Ahh okay thanks @enricogior .   Is `\src\common\Telemetry` the appropriate place for TelemetryBase.cs?

[2020-05-04 16:38] jyuwono commented on #2373
@ryanbodrug-microsoft sounds good, thanks for clarifying. I'll close this one. If we see this issue again in the future, let's file a new issue.

[2020-05-04 16:38] #2373 closed

[2020-05-04 17:22] enricogior commented on #2060
Yes

[2020-05-04 17:29] somil55 commented on #2262
@jyuwono This is merged. Can you verify if this works as expected and close this issue?

[2020-05-04 17:30] somil55 commented on #2254
@crutkas We currently don't have any unit tests to check duplicates.

[2020-05-04 17:33] yuyoyuppe commented on #2654
that breaks the functionality in some way

[2020-05-04 17:33] jyuwono commented on #2262
@somil55 verified that it works as expected

[2020-05-04 17:33] #2262 closed

[2020-05-04 17:34] jyuwono commented on #2254
Verified calculator works now

[2020-05-04 17:34] #2254 closed

[2020-05-04 17:37] crutkas opened #2660 "Program plugin has 2 mystery dlls"
Program plug has 2 mystery DLLs.  Either these should be nugets or a new project.

![image](https://user-images.githubusercontent.com/1462282/80995482-2aa13a00-8df3-11ea-8b26-0a328b94e6fc.png)

[2020-05-04 17:53] arjunbalgovind commented on #2196
@saahmedm The scrollable part has been fixed, however the suggestions that @niels9001 has proposed have not been added in yet. Do we just create a separate issue for that and close this one?

[2020-05-04 17:54] #2219 closed

[2020-05-04 17:56] arjunbalgovind opened #2661 "[KBM] Hold Enter and hold Esc to dismiss should be consistent with each other"
Currently, you need to hold and release Enter, whereas for Esc you just have to hold it. We should make both of them behave the same as suggested by @crutkas.

[2020-05-04 18:02] enricogior commented on #2654
It should not, if it does there is a bug somewhere else.

[2020-05-04 18:03] saahmedm opened #2662 "[KBM] Changing Edit Shortcuts / Remap UI"
As mentioned in this closed issue: #2196 , adding buttons along with other ideas @niels9001 suggested

[2020-05-04 18:03] saahmedm commented on #2196
Yup, made new issue.

[2020-05-04 18:03] #2196 closed

[2020-05-04 18:18] hananloser opened #2663 "Request Feature From Indonesia"
# Request Feature

- Add Custome shortcut for Window Walker
- Windows Walker Spotlight Is To Big

[2020-05-04 18:30] ryanbodrug-microsoft commented on #2443
@crutkas @laviusmotileng-ms @alekhyareddy28   I think this is a build-feature issue.  As it is something that needs to be done.   Let me know when it can be done by.

[2020-05-04 18:32] ryanbodrug-microsoft commented on #2443
@crutkas @jyuwono @saahmedm I've added the build-features label.  Let me know if you disagree.

[2020-05-04 18:36] arjunbalgovind opened #2665 "[KBM] Warning shows even when it is resolved but the second drop down is empty"
# Steps to reproduce

Remap A to B
Add new remap and type A in the left side. Then change it to C.
# Expected behavior

Warning should no longer appear

# Actual behavior

Warning still appears

[2020-05-04 18:44] alekhyareddy28 commented on #2443
I think @laviusmotileng-ms has other tasks that he is working on right now and had put this task on pause. I've spoken to him and I'll take up this task. Lavius thinks it's a two day task to implement and test this. I'll try my best to get this done by today but I'm not sure if I'll be able to.

[2020-05-04 18:51] arjunbalgovind opened #2667 "[Launcher] Taskkill does not work sometimes when building Launcher"
This issue is related to the change introduced in #2473 as reproed by @ryanbodrug-microsoft
# Steps to reproduce

Have PowerLauncher.exe running and then try building the project
# Expected behavior

It should build successfully and kill the process
# Actual behavior

It builds but the process doesn't get killed.

[2020-05-04 19:05] arjunbalgovind commented on #1922
@Sov3rain @vinodj I believe it should work fine now on the latest 0.17 release. Make sure you uninstall any unofficial builds or the stand alone Image Resizer tool before updating or installing the new version to avoid any unexpected interactions between them.

[2020-05-04 19:07] abirstolov commented on #1520
I did as you suggested and it works.
Although that was not my expected behavior,
Thanks.

[2020-05-04 19:07] #1520 closed

[2020-05-04 19:26] crutkas commented on #2663
all coming to launcher in 0.18

[2020-05-04 19:26] #2663 closed

[2020-05-04 21:00] Sov3rain commented on #1922
@arjunbalgovind Hey, I was not sure about commenting a closed issue but I did install the latest version and I'm glad to say it work perfectly! Kudos guys and keep going!

[2020-05-04 21:29] #1922 closed

[2020-05-04 21:41] cavla opened #2668 "PowerAccent - Enter characters with accent marks"
## PowerAccent
This is a feature request for a new PowerToys utility to make it **easier to enter characters with accent marks** on Windows.

### Motivation
A multilingual person often switches from a language to another when working on the same computer with a single keyboard layout & single language but today, it takes a complicated combinaison key to enter any character with an accent mark. (or

[2020-05-04 22:04] somil55 commented on #2495
C:// is not recognized as valid path by window explorer or start menu search but recognized by Run.
Run allows you to interchange between / and \ and append any number of slashes. So this would work : C:/\//\\\\Users

[2020-05-04 22:07] laviusmotileng-ms opened #2669 "Failed to register alt + space"
# Description
Every time I build the project I get these:
![image](https://user-images.githubusercontent.com/58791731/81018085-a792da80-8e18-11ea-8e91-400c31b0d4ce.png)

![image](https://user-images.githubusercontent.com/58791731/81018128-c09b8b80-8e18-11ea-92ae-37ac35eb075a.png)

# Steps to reproduce

- build the project in debug mode.

[2020-05-04 22:07] jyuwono commented on #2495
It's probably best to handle the / and \ scenario and behave like Run. @crutkas @ryanbodrug-microsoft what do you think?

[2020-05-04 22:14] ryanbodrug-microsoft commented on #2495
@jyuwono.  I agree we should handle both forward slashes, and back slashes.  I'd like to be able to copy a file path from source code 'C:\\some\\folder\\path'; from git bash 'C:/some/folder/path' and explorer 'C:\some\folder\path' and have them all be able to work interchangeably.   However I think this is probably a p1, given that the start menu doesn't support it.

[2020-05-04 22:19] ryanbodrug-microsoft commented on #2495
Acutally that might be a neat feature for folders and files.  Copy Path (Windows Style) and Copy Path (Unix Style).   Then I could easily copy a path from source code (Ctrl-C), Open Run (Alt-Space), paste (Ctrl-V), then press some shortcut eg( Ctrl-U) and get the unix file path back to be able to copy into a git bash.

[2020-05-04 23:04] somil55 commented on #2333
@jyuwono This is in `dev/build-features` branch. Can you please verify this and close this issue ?

[2020-05-04 23:14] #2550 closed

[2020-05-04 23:15] #2321 closed

[2020-05-04 23:19] arjunbalgovind commented on #2669
This is either an error with Launcher or with FancyZones. I think it might occur in FancyZones if the hotkey is set to Alt+Space and Launcher has also set it to Alt+Space

[2020-05-04 23:20] perezalfonso opened #2671 "[FancyZones] Dimensions for custom zones do not auto-scale when resolution changes"
Dimensions for custom zones do not auto-scale when resolution changes.
For example, when I plug the computer to a dock station with a monitor, the zones are not adjusted to the new resolution and app windows end up placed in the middle of the screen and not as desired.

Setting up a second custom zone layout for a different resolution is dumb and inconvenient.

Thank you.

[2020-05-04 23:29] traies commented on #2661
The reason why the Enter key needs to be released for it to take effect is because, otherwise, the `Type Key` button would become automatically pressed in the EditShortcut window and the DetectKey dialog would appear again. So I think, if we want to make both Enter and Esc consistent, we should make Esc behave like Enter, not the other way around.

[2020-05-04 23:53] traies opened #2672 "[Settings] Close Settings Window when runner exits"
The Settings UI window does not close when clicking on the System Tray exit option.

# Steps to reproduce
* Start PowerToys.
* Click on the SystemTray icon
* Click on SystemTray -> Exit

# Expected behavior
* The Settings UI window should close.

# Actual behavior
* The Settings UI window show still exist.

# Screenshots

![exit_doesnt_close](https://user-images.githubusercontent.com/9252240/81024

[2020-05-05 00:01] #2333 closed

[2020-05-05 00:33] crutkas commented on #2495
feels like an easy win.

[2020-05-05 00:39] crutkas commented on #2661
I think the press and hold scenario is the preferred behavior.

They have events to detect this.

[2020-05-05 02:35] nikammerlaan opened #2675 "FanzyZones not working for IntelliJ IDEA 2020"
# Environment

[code]

# Steps to reproduce

Move IntelliJ IDEA window while pressing the shift key

# Expected behavior

The FancyZones UI should appear and the window should snap to one.

# Actual behavior

The FancyZones UI does not appear and the window does not snap. However, it works for pretty much everything else.

---

This is pretty much a copy/paste of #1450 because it looks like the pr

[2020-05-05 05:00] Hal34 commented on #2533
To be able to act, I still have to know this:

Knowing that my starting point is my situation in front of the Windows desktop just after starting,
from there, where should I click to go to the location of the sequence?

Thanks again.

[2020-05-05 05:01] cain0z commented on #2414
Unfortunatly today the issue repeated again. This time I had most of my zones utilised.
Ended just stuck on display 3.
I have noticed that sometimes it will go from between the zones weirdly on display 3.  zone 1 - zone 2 - zone 3 - zone 2- zone 3 - zone 2 -zone 1 - zone 2 - zone 3. while holding windows right.

Sometimes while using windows - left it will go back to display 2 and go through

[2020-05-05 06:19] ffgregormueller commented on #2645
Nice suggestion, I am missing this as well.
The same has already been proposed 2 days ago.

Duplicate of #2630

[2020-05-05 06:33] Birba80 opened #2677 "After silent install and autorun, the settings icon does not appear"
# Environment

[code]

# Steps to reproduce
- Install PowerToys silently with the system account, reboot
- Start PowerToys as user and set "run at startup", reboot
- PowerToys process is startet (taskmanager), but the settings icon in the taskbar is not there

# Expected behavior
Settings icon in the taskbar should be there

# Actual behavior
Settings icon in the taskbar is not there

# Screenshot

[2020-05-05 07:21] #436 closed

[2020-05-05 07:25] riverar commented on #2603
Debug versions would require statically linking the runtime library (not recommended) or redistributing them (not supported or recommended).

[2020-05-05 07:26] riverar commented on #2600
Disagree completely.

[2020-05-05 07:31] riverar commented on #2643
@haydnmahar Can you confirm it's enabled in PowerToys Settings? Can't reproduce this here.

[2020-05-05 07:36] riverar commented on #2656
@danieldg001 Can't reproduce this. What type of file are you right-clicking? Do you have all PowerToy features enabled?

[2020-05-05 07:39] riverar commented on #2558
Be aware of GDPR.

[2020-05-05 07:54] ffgregormueller commented on #2675
It does work for me.
Maybe IntelliJ is ran as admin and PowerToys isn't?

[2020-05-05 08:29] vldmr11080 opened #2678 "[FancyZones] App zone history contains deleted virtual desktops"
# Steps to reproduce

1. Create several virtual desktops and assign zone layout to them.
2. Assign some windows into all of them.
3. Delete all virtual desktops (all but primary of course).

# Expected behavior

App zone history is deleted for those virtual desktops that no longer exist. Check `C:\\Users\\<user-name>\\AppData\\Local\\Microsoft\\PowerToys\\FancyZones\\zones-settings.json` and verif

[2020-05-05 09:13] stefansjfw opened #2680 "[Shortcut Guide] Set lower boundaries for opacity and response time"
# Summary of the new feature/enhancement
Currently, lower boundaries for Shortcut Guide opacity and response time when Win key is pressed are both 0.

For opacity, this means that labels are mostly unreadable when background window is dark:
![image](https://user-images.githubusercontent.com/57057282/81050893-1b88bd80-8ec1-11ea-83c3-7a45984c28ee.png)

And for response time that as soon as Win key i

[2020-05-05 09:26] alex13p opened #2681 "Black window when opening. Can't use any features of PowerToys"
# Environment

[code]

# Steps to reproduce

Installed msi package, used default options for everything, clicked through.

# Expected behavior

Double clicking or selecting settings option from task bar icon to open a page that does something

# Actual behavior

Show's a black window that closes again. No functionality from PowerToys or benefits. See screenshot for only thing I can get PowerToys t

[2020-05-05 10:13] camya opened #2682 "Macro Keyboard - On-Screen Keyboard + Macro Keys + Touchpad"
I often work with touch on my Microsoft Surface Pro. Although there is an on-screen keyboard and on-screen Touchpad integrated in Windows 10, the usability is far from good. Also Copy on Paste on a Touch device is a real pain.

# Idea

Create a combined on-screen Keyboard + customizable Macro keys + realizable Touchad area.

![idee-keyboard-windows-10](https://user-images.githubusercontent.com/827

[2020-05-05 11:48] kapi2454 opened #2683 "[FancyZones] No work Disable "Show space around zones""
# Environment

[code]

# Steps to reproduce

I disable the option "Show space around zones" but I see a space (big). I use my second monitor in a **vertical** way.  In the others monitors work fine.

# Expected behavior

When I disable "Show space around zones", it´s suposed no line between apps windows.

# Actual behavior

I see a big line between windows app

# Screenshots

![Bordes](https://use

[2020-05-05 12:04] enricogior commented on #2683
@kapi2454
after deselecting the option, you have to reapply the template.

[2020-05-05 12:56] enricogior opened #2684 "[FancyZones] save app zone history per VD"
Currently, FZ saves only one entry per application. The result is that snapping the same application on multiple VD will result in saving the history only for the last one.

[2020-05-05 13:54] danieldg001 commented on #2656
I have studied the issue, and it happens on files that are not locally
stored (probably when the file metadata is updated, as it causes the icon
to flicker) I use powertoy rename and resize features, but not on
filestream's folder.

El mar., 5 may. 2020 a las 2:36, Rafael Rivera (<notifications@github.com>)
escribió:

[2020-05-05 14:15] nikammerlaan commented on #2675
Huh, that was it! Strangely enough, I didn't actually mark IntelliJ to be run as admin, I'm not sure where it's getting that from. Thank you so much regardless!

[2020-05-05 14:15] #2675 closed

[2020-05-05 14:23] anthluGH opened #2685 "Updating to or uninstalling the PT (0.17.0) cause the explorer.exe restarted"
# Environment

[code]

# Steps to reproduce
- Updating
1. Download the installer from [GitHub](https://github.com/microsoft/PowerToys/releases) (release 0.17.0).
2. Double-click to start the installer.
3. When removing the previous version (0.16.1), explorer.exe restarted. (The screen turns black and returns to normal, the taskbar disappears and re-appears)
4. But actually, the version 0.17.0 of P

[2020-05-05 14:36] Afaren57 opened #2686 "Encode images to another format"
Hello,

I took a look at the image resizer feature and found it really interesting, but I was wondering if it could also encode to another format. There are times when you have a bunch of png images that you want to convert to png, to have a lighter file, with or without a resize of the image. I think it could be interesting to add this option. It could simply be a drop list added when you create

[2020-05-05 15:34] danieldg001 commented on #2656
On further testing, I've found that it happens most often with image files.

El mar., 5 may. 2020 a las 8:53, Daniel Dávila (<danieldavila001@gmail.com>)
escribió:

[2020-05-05 15:39] niels9001 opened #2688 "[Settings V2 UX] Improve logical groupings of the general page"
The current General settings page could use some improved structure for the various settings as discussed in #2676.

Here's a proposal:

**Running as .. (Title)**
- Always run as administrator..... (Checkbox)
- Run at startup (Checkbox)
- Restart as admin (Button)

**Appearance (Title)**
- Choose settings color (Radiobutton group)

**About PowerToys (Title)** (In the side panel)
- Version x.xx.x (

[2020-05-05 16:21] arjunbalgovind commented on #2558
@crutkas can you confirm that the telemetry we are adding for now (in #2670) follows GDPR guidelines?
These are the metrics we are logging for KBM
- Enabled/Disabled
- Number of key remaps
- Number of shortcut remaps

[2020-05-05 16:28] htcfreek commented on #2688
@niels9001 Do you know a WYSIWYG-Editor for XAML/WinUi3?

[2020-05-05 16:29] vldmr11080 opened #2690 "[FancyZones] Windows change position when new layout is applied on different VD"
# Steps to reproduce

Have flag _During zone layout changes, windows assigned to a zone will match new size/positions_ turned **on**.

1. Assign zone layout on primary desktop.
2. Assign window to certain zone in the layout.
3. Create new virtual desktop.
4. Choose different layout on new virtual desktop.
5. Switch back to primary desktop.

# Expected behavior

Window assigned in zone on the prima

[2020-05-05 16:42] saahmedm commented on #2551
Can we add the Resolution tag / Close this issue @arjunbalgovind

[2020-05-05 16:43] somil55 commented on #2571
@jyuwono I can't repro this on current `dev/build-features` branch. Can you verify ?

[2020-05-05 16:44] somil55 commented on #2495
@jyuwono Can you please verify and close this ?

[2020-05-05 16:45] somil55 commented on #2053
@crutkas Can you please verify if this is still an issue ?

[2020-05-05 16:52] enricogior commented on #2685
Hi @anthluGH
we have to restart Explorer because we register/un-register shell extensions.
When uninstalling don't use the legacy Control Panel, use the Windows 10 Settings -> Apps -> Apps & features.

[2020-05-05 16:55] #2551 closed

[2020-05-05 17:02] #2287 closed

[2020-05-05 17:12] jyuwono commented on #2571
@somil55 do you think it may be worth to investigate a clear repro steps for this issue using the msi from bug bash? I think that will help us figure out if using those steps still repro on dev/build-features. Keep in mind that this is probably a fresh install (using launcher for first time).

[2020-05-05 17:17] riverar commented on #2558
If it's on by default, then it's my understanding it isn't compliant (for those countries affected).
________________________________
From: Arjun Balgovind <notifications@github.com>
Sent: Tuesday, May 5, 2020 9:21:45 AM
To: microsoft/PowerToys <PowerToys@noreply.github.com>
Cc: Rafael Rivera <rafael@withinwindows.com>; Comment <comment@noreply.github.com>
Subject: Re: [microsoft/PowerToys] [KBM]

[2020-05-05 17:22] somil55 commented on #2571
@jyuwono Sure!

[2020-05-05 17:43] niels9001 commented on #2688
You could try Blend (it comes with Visual Studio), but most WYSIWYG editors won't give you code that's of high quality imo. Or you can try one of the toolkits for various design tools (e.g. Figma, Sketch or Adobe XD) but that won't give you code obviously.

[2020-05-05 18:14] #2495 closed

[2020-05-05 18:25] mariusrak opened #2692 "Performance drop with fancyzones at 0.17"
# Environment

[code]
After upgrading from 0.16.1 to 0.17 there is a noticeable performance drop in using fancyzones and also whole explorer seems slowed down. I now installed 0.16.0 and everything is nicely fluent. No other changes in configuration were made.

[2020-05-05 18:46] riverar commented on #2692
Can you provide the rest of the bug report? The repro steps, expected, and actual would be handy here, thanks!

[2020-05-05 18:56] saahmedm commented on #2558
@ryanbodrug-microsoft , can you verify we're good to merge this.

[2020-05-05 19:09] ryanbodrug-microsoft commented on #2558
@saahmedm / @arjunbalgovind .  Go ahead an merge the above PR in.  @riverar is correct.  We will need to make sure there is an 'opt-in' flow for the user telemetry, as well we will need to make sure we are tagging our telemetry events.   These tasks would be covered under 1CS compliance, which I believe @crutkas has already kicked off.

[2020-05-05 19:10] mariusrak commented on #2692
Well there's no repro steps, I've just upgraded and noticed the performance issues.
Expected behavior is no performance issues and actual is that there is performance issues.

But maybe helps that it is most noticeable when I want to "move" - assign a window to a zone, it takes more time than before to show zones, and everything starts lagging, windows move slower and after I release the window it

[2020-05-05 19:25] zeealeid opened #2694 "[FEATURE REQUEST] Ability to tile windows automatically"
### The "Window-Tiling" PowerToy
Here's an idea, add the ability to tile windows automatically. What I mean by that is when a window would open, it'll cover the whole screen but when another window would open, it'll cover the half of the screen automatically and the first app would also resize to the half of the screen. If the third window opens it'll open below the second window, resizing the sec

[2020-05-05 19:29] riverar commented on #2692
@mariusrak So repro steps seem to be:

1. Start PowerToys, with FancyZones enabled
2. Drag a File Explorer window and hold shift/non-primary mouse button to activate zone overlay
3. Observe zone population hitches, takes ~a second to appear
4. Drag window to zone, observe window move is slow

I can't repro this but can you verify that's correct? Are you seeing the slowdown every time? Can you repr

[2020-05-05 19:33] crutkas commented on #2694
interesting idea.  could do this with maybe a FZ tie in.

[2020-05-05 19:54] crutkas commented on #2558
We have done the privacy check and before v1, we have a task to have the opt out.

[2020-05-05 19:54] htcfreek commented on #2688
In the following pictures you can see my proposal on the structure of the general settings page.
I did my best to respect the [Guidlines for app settings](https://docs.microsoft.com/en-us/windows/uwp/design/app-settings/guidelines-for-app-settings).

Some of the ideas are my own and the other ideas are based on the issues #1482, #889, #964, #2354 and the comment form @niels9001 in this post.
The i

[2020-05-05 20:07] #2423 closed

[2020-05-05 20:08] #2422 closed

[2020-05-05 20:13] #2053 closed

[2020-05-05 20:14] #2419 closed

[2020-05-05 20:45] htcfreek commented on #2535
How the manually update process could work:
![image](https://user-images.githubusercontent.com/61519853/81114289-0b54fa80-8f22-11ea-93b0-6f7443d180fe.png)

[2020-05-05 20:47] mariusrak commented on #2692
It happens with every window, not only file explorer window. Otherwise it's correct.

[2020-05-05 20:48] htcfreek opened #2698 "[Launcher] check if shell: commands work"
The launcher should be able to execute `shell:` commands like `shell:startup`. This is a feature of Win+R (Run window).

[2020-05-05 20:49] gehrhorn commented on #2563
I'm having this problem too. FancyZones works great for a while and then it just doesn't. Non-primary drag key doesn't highlight the zones, Win + ~ doesn't open the editor, etc. I need to quit PowerToys and restart. Happy to try and collect log data if that would help.

[2020-05-05 20:55] JordanAnthonyKing commented on #2694
I've worked on code that does something similar to this. Shouldn't be hard to implement.

@crutkas how do you mean by tie in? Are there plans to make FZ extensible?

[2020-05-05 21:11] htcfreek opened #2699 "[Updater] Optimized notifications (2)"
In addition to #2337, this issue contains the new ideas that were not implemented in v0.17.0.
The new ideas were discussed with @enricogior and @yuyoyuppe.

These are the additional ideas:
- Bigger app icon. (feature appLogoOverride)
- Alert symbol in message title, if the message shows an error. (Instead of icon overlay.)
- Using the notification title for a short description of the message.
- So

[2020-05-05 21:28] ahernsean commented on #1797
I may have figured out what's going on here. I think I may have some institution-installed system policy that is preventing installers from running from certain paths. Even though I have the current version installed via chocolatey, I was able to download the current installer and test this in "Repair" mode. When it was in the default download location, the installer failed with these odd error me

[2020-05-05 21:40] niels9001 commented on #2688
Nice, I like this!

My thoughts:
- We have a ' Learn about Admin mode' button in the latest build-features branch. I'd add that under the Restart as Admin button.
- What are your thoughts around the 'Check for updates automatically' option? By default the app already does this, right? Not sure why we would like to disable this option, it could result in users being stuck on (very) old versions sim

[2020-05-05 21:47] crutkas commented on #2694
Why can’t it. We can add in what is needed, wonders of being in same project and OSS :)

[2020-05-05 21:55] htcfreek commented on #2688
Why as button? I think a link would be better and more standardized.
The link could be shown betwen User Informationen and Restart Button. But only if PT is running as user.

For example if PT is installed in companys on clients or servers, where the user had no rights to install software and the software gets updated by SCCM or other tools. (For this scenario normal users shouldn't be able to cha

[2020-05-05 22:02] niels9001 commented on #2688
Yep.. that's what I meant with 'button', a 'learn more' HyperlinkButton ;).

Right, I see - you might want to start a new issue for that. Please add the context you just described there as the 'user need'.

I think the oneliner only needs to describe the fact that this project is open source. The button could lead to this repo (with maybe a label like 'Contribute to this project' or something like

[2020-05-05 22:15] htcfreek opened #2701 "[New setting] Check for updates automatically (on/off)"
**As discussed in the issue #2688 we could add a new setting for disable the automatic update check and notifications.** (In addition to the setting we have which disable the automatic download and installation.)

### Technical details
- Name: Check for updates automatically
- Type: on/off switch
- Section: General > Update (see #2688)
- Setting available: only admins should be able to change

###

[2020-05-05 22:32] marcon89 commented on #2406
That would be perfect.

[2020-05-05 23:02] enricogior commented on #2688
An other scenario would be an user who wants to check only manually every x days.

These type of choices need to be reviewed, please consult with @crutkas before making any change.

[2020-05-05 23:05] htcfreek commented on #964
If we want to behave like system tool, we should respect the system settings (privacy > feedback and telemetry) and the official feedback/telemetry gpos.

In the settings dialoge we than can show that for the user. See issue reference above.

[2020-05-05 23:07] htcfreek commented on #2701
@crutkas Thoughts?

[2020-05-05 23:08] htcfreek commented on #2688
I have mentioned @crutkas in the new issue.

[2020-05-05 23:13] somil55 commented on #2571
@jyuwono Neither me or @Rag1 has been able to repro this on bug bash MSI.

[2020-05-05 23:14] #2571 closed

[2020-05-05 23:14] enricogior commented on #2692
@mariusrak
have you tried turning off the transparency for the dragged window? Does it make any difference?

[2020-05-05 23:26] htcfreek commented on #2699
For showing the update size we need a rutine for getting the update size from our Github release page.

@enricogior, @yuyoyuppe: Please create a new issue for this, if necessary!

[2020-05-05 23:28] JerseyGryphon commented on #1032
Would it be possible to edit zones using a text editor, so we could exactify things?

[2020-05-05 23:48] #2557 closed

[2020-05-05 23:58] Bydia opened #2703 "Install should never restart my explorer process."
# Environment

[code]

# Steps to reproduce

# Expected behavior

# Actual behavior

# Screenshots

[2020-05-05 23:59] #2703 closed

[2020-05-06 00:03] Bydia commented on #2685
No, you do not have to and should not do it without asking the user. Better to give options. I would rather have it ask me to logout or restart then to have it mess up my explorer.
When you restart explorer, taskbar icons reverse their layout and some tray tools fail to show.
I know of no other install that does that and I've been using Windows since 3.x

[2020-05-06 00:55] crutkas commented on #2703
If we don’t restart explorer, lots of stuff doesn’t get registered/ unregistered. Like power rename wouldn’t be there until we kicked explorer.

[2020-05-06 01:00] crutkas commented on #1032
It is a JSON file so you can right now :). What I think would be better is to enable the UX to do that

[2020-05-06 01:02] crutkas commented on #964
@th23x telem has been enabled for a while. We won’t enable the global flag until v1.

[2020-05-06 01:48] SCWells72 commented on #1032
@crutkas Where is the JSON file located? Sounds like that's exactly what I've looked for in the past but couldn't find. Thanks!

[2020-05-06 02:19] anthluGH commented on #2685
Yep, giving an option is better for users, require to restart machine or shell.

[2020-05-06 03:44] riverar commented on #2685
Agree, restarting the shell is user hostile. And requiring the user to uninstall via a specific method is completely out of the question.

[2020-05-06 05:02] fundaypreben opened #2707 "Not working after computer start"
# Environment

[code]

# Steps to reproduce

Start computer

# Expected behavior

When I start my computer I expect that windows would snap to the zones I defined in FancyZones.
I  also expect that I would be able to enter the settings of PowerToys.

# Actual behavior

When I start my computer FancyZones is not working.
I see the PowerToys icon in the taskbar, but cannot access the Settings, seems

[2020-05-06 05:24] mincedog opened #2708 "Change size of zone in edit template mode (Fancy Zones)"
# Summary of the new feature/enhancement

I want to be able to change the size of one of the zones in fancy zone which I have gotten from a template i.e. I made a zone config from a template which has 3 columns. I want to be able to change the length of the third column but I cannot do that without making a whole new zone config because if I have a custom config I cannot make a 16px margin between

[2020-05-06 06:41] enricogior commented on #2685
@Bydia

Let me rephrase: Explorer has to restart to reload the shell extension. So logging off or reboot is an alternative. We can add that option.

[2020-05-06 06:45] enricogior commented on #2708
Hi @mincedog
thank your for your feedback.
In order to do what you suggested, we would have to create a new type of template since the current template would not work properly if changed as you asked.
We will add new templates after https://github.com/microsoft/PowerToys/issues/1032

[2020-05-06 06:52] JerseyGryphon commented on #1032
C:\Users\{UserName}\AppData\Local\Microsoft\PowerToys\FancyZones\zones-settings.json

[2020-05-06 06:54] gilles1394 commented on #2563
Hi again, after roughly 40/50 hours of running time with 0.17.1, no issue to report with FancyZones (and I moved a lot the windows across the different regions). So seems good to me but I will report here in cas of comeback.
As a side note, the behaviour on my side was a bit different than the OP. In ln my case once FZ stopped working it was impossible to enter in PowerToys settings. I had to kill

[2020-05-06 07:06] Weyrlen commented on #2707
Same issue here since v0.17.0, everything was working as intended before that.

[2020-05-06 07:15] DigNative commented on #2563
@enricogior Thank you for preparing a private build for testing! I installed it yesterday and it seems to solve the issues for me. PowerToys didn't freeze since installation and FancyZones also didn't stop working. For the 0.17.0 version these problems were already beginning to appear after a short time (~ 1 hour), so I am quite confident that this observation might not just be by coincidence.

[2020-05-06 07:29] niels9001 opened #2710 "[Settings UX] Consistent add/new button styles"
Related to #2705. In the various settings screens we have different ways of visualizing the add/new button:

![image](https://user-images.githubusercontent.com/9866362/81147988-b2b24b80-8f7b-11ea-87b0-54848f1876d9.png)

![image](https://user-images.githubusercontent.com/9866362/81148028-c8c00c00-8f7b-11ea-9741-f9631855f50f.png)

![image](https://user-images.githubusercontent.com/9866362/81148050-d

[2020-05-06 08:24] enricogior commented on #2563
@gilles1394 @DigNative
thanks for the feedback.

[2020-05-06 08:48] MichaelGrafnetter opened #2712 "[Feature Request]: Add the emoji menu to Shortcut Guide"
# Summary of the new feature/enhancement

Add the **Windows logo key + . (period)** keyboard shortcut to the [Shortcut Guide](https://github.com/microsoft/PowerToys/tree/master/src/modules/shortcut_guide) on Windows 10. As described in the [Windows 10 keyboard tips and tricks](https://support.microsoft.com/en-us/help/4534547/windows-10-keyboard-tips-and-tricks) article, it will display the emoji k

[2020-05-06 09:04] yuyoyuppe opened #2713 "Improve .net core installation experience"
Currently we start checking whether we should download and install .net core as soon as we show "exit dialog" at the very end of the installation process. The user doesn't see any signs of .net core installation until it's downloaded and the installer is started, opening the possibility of trying to launch PT and use e.g. Settings v2 window.
We could do multiple things to improve the current flow:

[2020-05-06 09:15] enricogior commented on #2713
For the short term, we should try to make the post msi installation of .NET Core as robust as possible.
For the long term, we should install .NET Core first and then proceed with installing PowerToys.

[2020-05-06 09:21] DOFfactory commented on #907
Thanks for the explanation. Well, then this ticket is still valid as it would be great to have this available from the context menu applicable to _any text_ selected.

[2020-05-06 09:21] haydnmahar commented on #2643
Yes - I even tried turning it off, and turning it back on again in the settings, restarting powertoys, system restart etc.

[2020-05-06 09:34] haydnmahar commented on #2643
@riverar
Ok this is strange - I had a power failure this morning while my computer was in sleep mode (ordinary not hybrid or hibernation). This caused a hard shut-down, full power cycle and consequently a full long start up. Today the shortcut guide seems to be working. This seems strange as I have performed a few restarts and shutdowns since updating both the OS and PowerToys - perhaps a full pow

[2020-05-06 09:47] DavidGretzschel opened #2714 "TheBrain 11 in "presentation mode" does not get zoned correctly"
Windows
Version 10.0.18363 Build 18363
17.0 FancyZones

There's a program called "TheBrain 11" which is using WPF (Windows Presentation Foundation) for its GUI. It has a Fullscreen mode called "presentation mode", which hides the titlebar, the filemenu and some other UI elements.
It shouldn't really be possible to zone an app in Fullscreen, but FancyZones just ignores that with TheBrain 11. And th

[2020-05-06 10:07] RABIGA7OR commented on #2707
I am having the same problem with v0.17.0. Same fix as author said. Close and reopen PowerToys and it works again.

[2020-05-06 10:11] DavidGretzschel commented on #770
Okay so it seems that I've actually found a bug (or perhaps a limitation) with AeroSnap rather than with FancyZones. Though it poses limitation that's gotte be so frequent that many people can't escape it.

In this video when a window is in Zone 5, some apps will not be able to go "AeroSnap half-screen" when you press windows+up. Windows Explorer will do it, but Chrome will not.
https://www.loom.c

[2020-05-06 10:23] DavidGretzschel commented on #770
Actually it's not so much an AeroSnap bug. AeroSnap always works perfectly unless you use FancyZones to violate the minimum horizontal pixel requirement of a program.
So in this video I'll size Chrome to be as thin as it can normally be made and AeroSnap will still half-window instead of maximizing.
It's only when FancyZones overrides the minimum horizontal pixel requirement of Chrome, AeroSnap wi

[2020-05-06 10:41] enricogior commented on #2714
This falls under the "it's not a bug, it's a feature!" category 😉

I labelled it "Idea-enhancement" and "design change request" since it's something that may require to add a new option to preserve the full screen mode when zoning a window or changing the current design to have this behavior by default.

[2020-05-06 10:43] enricogior commented on #2714
@DavidGretzschel
can you verify if in 16.1 it is possible to zone other full screen apps, like media players for examples?
Thanks.

[2020-05-06 11:07] Ashbert-the-IT-Guy opened #2715 "Fancy Zones stops working"
# Environment

[code]

# Steps to reproduce

When a window is opened off, or partially off-screen, the FancyZones are no longer available to arrange Windows.  Only able to use FancyZones again if I end the PowerToys process in Task Manager and reload the application.  This happens if PowerToys is running either as administrator or not.

# Expected behavior

Able to snap Windows to FancyZones

# Ac

[2020-05-06 11:10] DavidGretzschel commented on #2714
Spotify doesn't work. Chrome doesn't work. Edge doesn't work.
GitHub Desktop doesn't work. VLC Media Player doesn't work.

Internet Explorer kinda works (if you press F11 in a Zone, and it looks goofy).

Sublime Text 3 (to my delight!) works and it gets rid off the titlebar.

Here's what my normal setup on a 32:9 3840x1080 monitor:
![image](https://user-images.githubusercontent.com/23729465/811701

[2020-05-06 11:12] htcfreek opened #2716 "[SttingsV2] Updated design spec"
We need an updated design/layout specification for Settings V2.
At the moment we have various mock ups, issues and ideas. For me it is not clear how the final setting should look and behave.

It should be based on the [MS Design Guidlines](https://docs.microsoft.com/en-us/windows/uwp/design/app-settings/guidelines-for-app-settings).

It should also include the results off #2700, #2705, #2710, #268

[2020-05-06 11:19] DavidGretzschel commented on #2714
Windows Media Player does not work. Firefox does not work.
Adobe PDF Reader does not work.
Sumatra PDF does not work (but it doesn't really need it either, since it's extremely sleek).

[2020-05-06 11:28] DavidGretzschel commented on #2714
![Bingbingbing](https://user-images.githubusercontent.com/23729465/81171697-1c8f1d00-8f9d-11ea-85ea-733eb6fffbc0.jpg)
The Windows Command Prompt has a FullScreen Mode, but it does not work with Zones either. Internet Explorer doesn't look that bad, but it's not centered correctly and it only allows one window to be in FullScreen.
Trying all those out I'm really noticing how beautiful FullScreen Mo

[2020-05-06 11:31] 0xfedec commented on #2437
Hi,

I am experiencing the same symptoms, definitely a deadlock, not sure I can comment on the exact threads/methods, however here is a (redacted) process explorer view hoping it might help.

![powertoys-dl](https://user-images.githubusercontent.com/64900422/81172045-68d65f00-8f95-11ea-97e7-0d4d40553be3.png)

[2020-05-06 11:45] DavidGretzschel commented on #2694
Right-clicking on the taskbar already allows for some kind of tiling.
Though I never figured out how it works exactly and I don't think it's very good.
It's also a bit similar to the "When I snap a window, show what I can snap next to it", that I always turn off within 2 minutes of a fresh install cause it feels kinda off.
[maybe I never gave it a chance though, as it felt intrusive]

This looks m

[2020-05-06 11:55] niels9001 commented on #2716
Not sure. The examples look outdated (Windows 8ish, with e.g. Windows Mobile mentioned). We want to look as native as possible and based our current design on the current Windows 10 Settings app in terms of padding, margins and fontsizes. Only tweak we have made is the page title: that now follows the Windows 10X page title style.

I think, with the current implementation, we are really close to t

[2020-05-06 11:57] niels9001 commented on #2716
Also, if you want to follow up on some of the ideas and thoughts around this topic, check out issue #889

[2020-05-06 12:27] htcfreek commented on #2716
@niels9001 You are rigth.

But we have to ensure, that changes on link/button style and other generally things are done for all settings pages.
In which way are they coordinated?

[2020-05-06 13:28] nate-york commented on #2563
@enricogior I got 0.17.1 installed late Monday, and it's still running as expected. Believe this is the fix!

[2020-05-06 13:32] enricogior commented on #2437
@0xfedec
feel free to try the current master since we fixed the deadlock, or if you prefer I can upload an unsigned MSI.

[2020-05-06 13:43] enricogior commented on #2563
@nate-york
good to know, thanks.

[2020-05-06 13:45] enricogior commented on #2563
A fix for a deadlock (that is very likely the one reported here) was committed by https://github.com/microsoft/PowerToys/commit/fd32dad7eb5a1619cea660a914358e419598a112

[2020-05-06 14:16] bwt615 commented on #2715
Yeah, this has totally made it unusable for me. I downgraded to .16.1

[2020-05-06 14:35] enricogior commented on #2715
Hi @Ashbert-the-IT-Guy @bwt615
thank you for reporting the issue, if you want to test an unsigned build https://github.com/microsoft/PowerToys/issues/2563#issuecomment-622462804
I'm closing this issue as duplicate of https://github.com/microsoft/PowerToys/issues/2563
Thanks.

[2020-05-06 14:35] #2715 closed

[2020-05-06 14:37] enricogior commented on #2707
Hi @fundaypreben @Weyrlen @RABIGA7OR
do you have virtual desktops active when rebooting the systems?
If yes, can you test if closing all the virtual desktops before rebooting make any difference?
Thank you.

[2020-05-06 14:39] Weyrlen commented on #2707
No virtual desktops here

[2020-05-06 14:44] enricogior commented on #2707
@Weyrlen
if for you it's acceptable to install an unsigned version of PowerToys, can you try this one https://github.com/microsoft/PowerToys/files/4565289/PowerToysSetup-0.17.1-x64.zip
It was prepared for a different issue, but I wonder if it may also solve this problem.
Thank you.

[2020-05-06 14:53] #2558 closed

[2020-05-06 15:00] Falcom8 opened #2718 "Failed to create the WebView control."
![image](https://user-images.githubusercontent.com/64912935/81192752-df398800-8fba-11ea-92e3-47cc8a7b81ac.png)

Any ideas how can i fix it?
I get that message when I open the settings, and it does not open.

thanks.

[2020-05-06 15:16] arjunbalgovind commented on #2662
More suggestions in #2705, linking it here to track the suggestions.

[2020-05-06 15:24] vldmr11080 opened #2725 "[FancyZones] Window stays in same position after custom layout update"
# Environment

[code]

# Steps to reproduce

1. Create custom layout on primary desktop and assign window to one of the zones.
2. Create new virtual desktop (same custom layout will be applied).
3. Modify that custom layout on new virtual desktop.
4. Switch back to primary desktop.

# Expected behavior

Position of window assigned to the zone in custom layout is updated to correspond changes in cu

[2020-05-06 15:25] enricogior commented on #776
For FancyZone editor is better to do it in 0.19

[2020-05-06 15:27] enricogior commented on #602
Only the work for the installer and the auto updater exceeds the time available in 0.18, moving it to 0.19.

[2020-05-06 15:52] #2672 closed

[2020-05-06 15:53] jyuwono commented on #2505
Should be fixed by #2336

[2020-05-06 15:53] #2505 closed

[2020-05-06 16:05] RABIGA7OR commented on #2707
I used to have a virtual Desktop but I have none currently.

[2020-05-06 16:12] jyuwono commented on #2698
@htcfreek you can do `shell` commands by including `> <space>` at the start of the search. For example, type in `> shell:startup`. Feel free to give it a try on our latest branch 😊

[2020-05-06 16:14] Weyrlen commented on #2707
Just installed it and it seems to work now.
Since even after restarting PowerToys it crashed randomly after some time, I'll let you know later if something happens again or if this version totaly solved the problem.
Thx @enricogior

[2020-05-06 16:21] htcfreek commented on #2698
I can't test this. I have no acces to the latest branch, because of not being able to compile it. I don't have Visual Studio.

[2020-05-06 16:31] crutkas opened #2729 "[launcher] - investigate monitoring shell:appsfolder for updates"
We should look at appsfolder for monitoring for new apps / uninstalled apps

Try SHChangeNotifyRegister. I don’t know if appsfolder raises change notifications, though, but it’s worth a shot.

[2020-05-06 16:33] crutkas opened #2730 "[Installer] - Explore alternatives to kicking explorer for shell regs"
currently to add / remove items in shell, we have to kick explorer.  After this happens, PT can then enable / disable for them showing up.

We should see how we can do some alternative methods

[2020-05-06 16:36] enricogior commented on #2707
@RABIGA7OR @fundaypreben
feel free to give it a try to the test build.

[2020-05-06 16:44] JordanAnthonyKing commented on #2455
As per an issue I raised a while back (https://github.com/microsoft/PowerToys/issues/1890) I have implemented this on a feature branch. Shall I submit a PR?

[2020-05-06 16:52] saahmedm opened #2733 "KBM UI needs to respond to PT Settings Theme"
Currently UI only changes from light to dark mode in accordance with a users Windows settings.

[2020-05-06 16:57] crutkas commented on #2455
@JordanAnthonyKing yes please.  clsoing this in favor then of #1890

[2020-05-06 16:57] #2455 closed

[2020-05-06 17:03] RABIGA7OR commented on #2707
@enricogior
Yes this build fixed it. I have to grant permission to launch every time now but I guess that's because it's unsigned. Thanks for the help. I assume the fix will make it in the next official version?

[2020-05-06 17:11] #2453 closed

[2020-05-06 17:21] guyrleech opened #2738 "Fancy zones stopped working & then taskbar icon clicking not working"
# Environment

Microsoft Windows [Version 10.0.18363.778] (1909)
PowerToys 0.17.0
FancyZones

# Steps to reproduce

Had set Fancy zones with a 3 wide by 2 down grid (so 6 panes) with space around zones set to 10 on 1 of my 3 monitors (all external to the laptop I use).
Was working fine initially when I dragged 6 apps into each pane on my non-primary 4K monitor
Later I moved one of the windows to a

[2020-05-06 17:53] richardbarnetbyui opened #2744 ""Show zones on all monitors while dragging a window" setting doesn't appear to work."
# Environment

[code]

# Steps to reproduce

With "Show zones on all monitors while dragging a window" setting set to enabled, dragging a window with the shift key pressed only shows the fancyzone overlay on the primary monitor, not a second screen.

# Expected behavior

The expectation is that the fancyzone overlays would appear on both monitors, not just one.

# Actual behavior

With "Show zones

[2020-05-06 17:58] richardbarnetbyui commented on #2744
Oh, never mind, I didn't realize you had to define fancyzones on both monitors first. I had only defined on one and thought it would work for both.  Now that I've tried defining them on both, now it's working.  Sorry!

[2020-05-06 17:58] #2744 closed

[2020-05-06 18:01] enricogior commented on #2707
@RABIGA7OR

Try to turn off the the auto start and then on again, it may fix it.

[2020-05-06 18:03] mkathuri commented on #1550
This feature seems to already exist with the latest version of PowerToys (0.17 as of now). See this link for more: <https://github.com/microsoft/PowerToys/tree/master/src/modules/powerrename>

Quoting from that page:

I stumbled across your issue here and came across that page as well. Hopefully, choosing "Match All Occurences" along with "Use Regular Expressions" should fix the issue.

[2020-05-06 18:04] htcfreek commented on #2730
We could use the SHChangeNotify event to inform explorer.exe about the change.
[https://docs.microsoft.com/en-us/windows/win32/shell/reg-shell-exts](https://docs.microsoft.com/en-us/windows/win32/shell/reg-shell-exts)

The problem will be upgrading/deleting the DLLs. Because explorer.exe has opened handles on it. Maybe unregister the dll helps or the Windows Installer has an builtin feature.

[2020-05-06 18:05] enricogior commented on #2738
Hi @guyrleech
thank you for reporting the issue, the problem is tracked in https://github.com/microsoft/PowerToys/issues/2563
Please check this comment https://github.com/microsoft/PowerToys/issues/2563#issuecomment-622462804
I'm closing this issue as duplicate.
Thank you.

[2020-05-06 18:05] #2738 closed

[2020-05-06 18:08] enricogior commented on #2744
Hi @richardbarnetbyui
just to let you know that we fixed a performance issue when showing the zones on all monitors (it will be in the next release).
If you turn the feature off you can still move a window from a monitor to the next and the zones will be activated when the window reaches the second monitor.

[2020-05-06 18:11] enricogior commented on #2685
Closing this issue in favor of https://github.com/microsoft/PowerToys/issues/2730
Thank you for the feedback.

[2020-05-06 18:11] #2685 closed

[2020-05-06 18:32] arjunbalgovind opened #2745 "[Settingsv2] All powertoys should be enabled by default for a new user"
# Steps to reproduce

Delete PowerToys/settings.json and run PowerToys.

# Expected behavior

All powertoys are enabled

# Actual behavior

Only PowerLauncher is enabled

[2020-05-06 18:33] ryanbodrug-microsoft opened #2746 "CI Builds failing due to exceeded capacity on the vsts-hosted agent."
# Environment
This was noticed on the CI build of PR https://github.com/microsoft/PowerToys/pull/2711

Fix Required:
- Attempt  to reduce the memory footprint when building the PowerToys.sln

[code]

# Steps to reproduce

# Expected behavior

# Actual behavior

# Screenshots
https://github.com/microsoft/PowerToys/pull/2711/checks?check_run_id=649904523

![image](https://user-images.githubuserconte

[2020-05-06 18:36] arjunbalgovind opened #2747 "[SettingsV2] FancyZones settings are not set to default for a new fancy zones user"
# Steps to reproduce

Delete PowerToys/FancyZones/settings.json and zonesettings under AppData/Local/Microsoft and start Settingsv2
# Expected behavior

Default values that were present in SettingsV1 should be shown.

# Actual behavior

Everything is null. If you try changing a value that would result in everything getting saved as null in the json file

# Screenshots

![image](https://user-images

[2020-05-06 18:37] arjunbalgovind commented on #2746
Doesn't the CI machine's memory get cleared on each build like usual pipelines?

[2020-05-06 18:38] ryanbodrug-microsoft commented on #2745
@arjunbalgovind :  I have made some of these on by default in this PR https://github.com/microsoft/PowerToys/pull/2696.  I will also have the file explorer settings on by default.   In a seperate PR.

I'll take this task for now.  Thanks for calling it out

[2020-05-06 18:43] justinthings opened #2748 "win + arrow snap feature changes window positions on inactive desktops for the same app"
# Environment

[code]

# Steps to reproduce
### Note: I am using a custom layout
1. Create 2 desktops in Windows `Task View`.
2. Open up 2 instances of the same application - producing 2 windows. (In this case I am using 2 instances of Visual Studio 2019, but this also happens with 2 separate windows of Edge, Chrome,  and any other application).
3. Send 1 instance/window of the application to desk

[2020-05-06 18:50] ryanbodrug-microsoft commented on #2746
Yes.  it respins up the agent so everything should be a clean build.   The output is only 6GB locally for me for release, I don't know if the limit includes source code which is almost 15 GB on the Merge branch

[2020-05-06 19:12] crutkas commented on #2336
default to icon MDL2 EB3B.  If i know the size, i can easily get a PNG for this.

[2020-05-06 19:20] niels9001 commented on #2662
https://user-images.githubusercontent.com/9866362/79687330-dae53f00-8246-11ea-863d-508c1ce25684.gif

<StackPanel Height="56" Orientation="Horizontal" Spacing="6"> <ComboBox Width="140" VerticalAlignment="Center" /> <Button Content="&#xE92E;" FontSize="18" FontFamily="Segoe MDL2 Assets" ToolTipService.ToolTip="Type shortcut" Background="Transparent"/> <ComboBox VerticalAlignment="Center" Width="140

[2020-05-06 19:28] babis430 opened #2750 "FancyZones window resizing not going back to the predefined size"
### System Info

Windows build number: Version 18363.815
PowerToys version: v0.17.0

### Steps to reproduce

Choose a layout in the FancyZone Editor. After configuring the desired zones. The windows don't go back to the previous defined size, that the user set.

### Expected behavior

The windows should go back to the standard size. As if you would have gone from full screen back to windowed mode.

[2020-05-06 20:42] stevenbeach commented on #2377
I've encountered the same problem. When I originally configured the feature, it worked fine across both monitors. Single zone-layout per monitor was displayed. But as I changed physical screens (e.g. swapping monitors) and changing connections (e.g. swapping USB input to HDMI and HDMI to DisplayPort) I encountered the several overlapping zones problem as explained above.

Guessing, it looks like F

[2020-05-06 20:59] crutkas commented on #2729
From an internal thread with people way smarter than I am on this:

•	Listening to the package catalog to learn of UWP app install/uninstall
•	SHChangeNotifyRegister on the Start menu folders to learn of Win32 app install/uninstall

[2020-05-06 21:44] runxel commented on #1550
Yes! Great news! I wonder why this wasn't published more prominently in the changelog for 0.17...
But you're right, @mkathuri: My first style example seems to work now. :)

[2020-05-06 21:44] #1550 closed

[2020-05-06 22:02] mdtauk commented on #2716
I would have thought the PowerToys WinUI app would have a shared Xaml ResourceDictionary, so pages using a shared resource, will update as that style resource is updated.

That should enable consistency throughout all PowerToys Xaml UIs

[2020-05-06 23:42] arjunbalgovind commented on #2641
Cross-linking a previous issue on the same bug #2312

[2020-05-07 00:28] crutkas commented on #2716
@mdtauk, little by little

[2020-05-07 00:37] htcfreek commented on #2716
@mdtauk That could bee. I don't know that.

What I mean with the design spec is, that I can use one different settings pages
- different controls for the same setting. (Example: on/off switch & checkbox; dropdown & radio buttons)
- different namings for the same setting.
I have seen PRs which overrite changes from other PRs. (Example: opensource notice - #2676 override #2176)

[2020-05-07 00:45] arjunbalgovind opened #2758 "Launcher dlls clashing with FancyZones on the build farm"
When using the MSI from the main build pipeline based on the branch in #2711 , even though the dlls are generated in a separate launcher directory, for some reason the same versions seem to get copied for FZ as well.
This can be seen from the file sizes in these screenshots
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/32061677/81242177-4fe3a300-8fc1-11ea-8363-ceac4e36fce3.

[2020-05-07 00:53] Inotamira commented on #2718
I have the same problem, and it's a fresh install

[2020-05-07 01:13] crutkas commented on #2718
Issue #243. Will be fixed with 0.18.

[2020-05-07 01:13] #2718 closed

[2020-05-07 02:28] LtCmdrKeene commented on #975
@ryanbodrug-microsoft was this supposed to close this issue?

[2020-05-07 02:34] studleylee commented on #77
Mouse without borders source would be awesome. I came here wondering about its security: encryption or anti-ease-dropping features. It's important with all the homework via vpn and this covid craziness. Thanks for all the work you  all do!!!

[2020-05-07 03:03] ryanbodrug-microsoft commented on #975
Nope.  merged changed into master that came from a different repo, and github automatically seems to have picked up the comments.  Thanks for the heads up.  I'll reopen.

[2020-05-07 03:15] crutkas commented on #2716
I'm going to close this out, i think a better work item here is "Clint sync's with the design team".  Based on that, we can get official docs updated if they differ.  I agree we should be true to docs but those are guidance as well.

[2020-05-07 03:17] #2716 closed

[2020-05-07 03:35] crutkas commented on #2312
closing in favor of #2641 which is in progress

[2020-05-07 03:35] #2312 closed

[2020-05-07 03:37] crutkas commented on #2643
lets close as can't repro, if it happens again, we can start diving in.  Right now we don't have enough detail

[2020-05-07 03:37] #2643 closed

[2020-05-07 03:44] csm10495 commented on #2694
I see this as a combo of FancyZones and Window Walker. I'd say use Ctrl+Win then put a '+' in front of an app name that you want to open. Then it opens and snaps all along... or something like that :)

[2020-05-07 04:13] Hal34 commented on #2533
Hi Enrico,
Please could you hlep me for the last step?

I still have to know this:
I am in front of the Windows desktop just after starting.

Thanks again.

[2020-05-07 06:17] crutkas commented on #2681
Issue #243. Will be fixed in 0.18. Thanks for reporting!

[2020-05-07 06:17] #2681 closed

[2020-05-07 07:00] enricogior commented on #2748
Hi @justinthings
thank you for reporting the issue.
As a temporarily workaround try turning OFF the `Keep windows pinned to multiple desktops in the same zone when the active desktop changes` option.

[2020-05-07 07:03] enricogior commented on #2750
Hi @babis430
thank you for your feedback, we are tracking this issue in https://github.com/microsoft/PowerToys/issues/166
I'm closing this one as duiplicate.
Thank you.

[2020-05-07 07:03] #2750 closed

[2020-05-07 07:11] enricogior commented on #2533
@Hal34
there an option available now, you just need to build the current master, I suggest you do it today before we merge the new code for 0.18 since it is more stable.

[2020-05-07 07:23] Hal34 commented on #2533
Hello Enrico,
I don’t know how to “build the current master” (I don’t understand what it means).
Could you tell me exactly what to do
knowing that I am in front of the Windows desktop just after starting my PC?

The purpose of the operation is the following:
Show the blue areas with SHIFT + click
but not when you press the two mouse buttons simultaneously.

Another question:
Is version 0.18 alread

[2020-05-07 07:26] 0xfedec commented on #2437
Hi @enricogior, thank you, I'd be happy to test and provide feedback, if you could please provide an MSI. Thanks.

[2020-05-07 07:26] enricogior opened #2761 "Move modules binaries to their modules/ subfolder [issue tracker]"
Follow the steps of https://github.com/microsoft/PowerToys/pull/2709 to have each module binaries in their own modules/ subfolder.

This will be the main issue tracker, we will open individual issues for each module.

[2020-05-07 07:30] enricogior commented on #2761
Also, let's do the same for the solution, so each module generates the output in their own folder under the `modules/` folder.

[2020-05-07 07:31] enricogior commented on #2758
The long term fix would be to build each module to generated their binaries in their own folder under modules/
In case you can't find a quick workaround, please let's start doing that now.
This would be part of the work for https://github.com/microsoft/PowerToys/issues/2761

[2020-05-07 07:37] enricogior commented on #2533
@Hal34
it would take too much time to walk you through each step.
Please wait until we release 0.18 or, if for you is acceptable to install an unsigned build, I can provide one.

[2020-05-07 07:39] enricogior commented on #2437
@0xfedec
you can find the installer here https://github.com/microsoft/PowerToys/issues/2563#issuecomment-622462804

[2020-05-07 07:43] 0xfedec commented on #2437
@enricogior , Thanks, I got it, but it was blocked by policy. No worries, I'll wait for the signed release.

[2020-05-07 07:43] Hal34 commented on #2533
Thank you again for your answer.
I did not realize that my question implied a laborious answer.

I agree to receive an unsigned version.
That would give it a try.
In case of problem, I could go back to version 0.17.

When do you think version 0.18 will be released?

[2020-05-07 07:48] pauronstudios opened #2762 "Always on top"
# Summary of the new feature/enhancement
Set window always on top (pin window)

# Proposed technical implementation details (optional)
An additional (4th) button on the titlebar to pin an application window on top of other windows.

[2020-05-07 07:59] enricogior commented on #2762
Hi @pauronstudios
thank you for your suggestion, we are already tracking this feature request in https://github.com/microsoft/PowerToys/issues/13
I'll close this issue as duplicate.
Thank you.

[2020-05-07 07:59] #2762 closed

[2020-05-07 08:00] aeronmiles commented on #2274
Fanzy zone support for multi-display regions such as this:
![image](https://user-images.githubusercontent.com/2463461/81269254-f8851780-9040-11ea-8831-12818a503ef8.png)

[2020-05-07 08:03] pauronstudios commented on #2762
Yeah, I am glad that i'm not the only one who needs it. Thanks and sorry that I didn't check it first. Peace :)

[2020-05-07 08:06] enricogior commented on #2274
Hi @aeronmiles
thank you for your suggestion.
Technically speaking, maximizing a window across multiple monitors may not be possible.
Creating zones that span across multiple monitors is technically possible and the feature request is tracked by https://github.com/microsoft/PowerToys/issues/480
I'll close this issue as a duplicate of https://github.com/microsoft/PowerToys/issues/480
Thank you.

[2020-05-07 08:06] #2274 closed

[2020-05-07 08:27] Weyrlen commented on #2707
@enricogior
Everything is working perferctly since 0.17.1.
Thx again !

[2020-05-07 08:41] enricogior commented on #2533
@Hal34
I've attached the zip folder containing the unsigned installer.
I didn't have time to test it, so try it and in case uninstall it (in case use the Windows 10 Settings -> Apps -> Apps & features to uninstall it).
The second mouse button option is disabled by default, so you should be able to use Groupy right away without having to change any settings.

[PowerToysSetup-0.17.1-x64.zip](https:/

[2020-05-07 08:49] PrzemyslawTusinski opened #2763 "Settings v2 saves wrong value"
# Environment
PowerToys version: 1891bd494c32401e9531a6ff212ae82bcccff837
PowerToy module for which you are reporting the bug (if applicable): Settings
[code]

[2020-05-07 08:51] enricogior commented on #2707
@Weyrlen
good to know, thanks.

[2020-05-07 09:07] enricogior commented on #1637
@ltadeu6 @IdmFoundInHim
if for you it's acceptable to install an unsigned build, I've attached a zip folder containing an installer that has some fixes that may solve the problem you are experiencing.

[PowerToysSetup-0.17.1-x64.zip](https://github.com/microsoft/PowerToys/files/4591930/PowerToysSetup-0.17.1-x64.zip)

[2020-05-07 09:10] enricogior commented on #2439
Work for the notifications dll has been done.
Now we will check the new modules that have been recently added.

[2020-05-07 09:20] SeraphimaZ opened #2764 "[SettingsV2] FancyZones excluded apps"
Excluded apps have to be written one per line, but there is just one line now, so only one app can be excluded

# Environment

PowerToys version: [1891bd4](https://github.com/microsoft/PowerToys/commit/1891bd494c32401e9531a6ff212ae82bcccff837)
PowerToy module for which you are reporting the bug (if applicable): Settings v2

# Screenshots

![image](https://user-images.githubusercontent.com/8949536/

[2020-05-07 09:33] SeraphimaZ commented on #2763
Changing any color resets `fancyzones_highlight_opacity`.
Changing `fancyzones_highlight_opacity` resets colors (`fancyzones_zoneHighlightColor`, `fancyzones_zoneBorderColor`, `fancyzones_zoneColor`)

[2020-05-07 09:39] Hal34 commented on #2533
Dear Enrico,
Everithing works fine now.
Thank you for your help and for the kindness of your proposal.
And also congratulations for this good software.

[2020-05-07 10:08] PrzemyslawTusinski opened #2765 "Default settings are not applied"
# Environment
PowerToys version: 1891bd494c32401e9531a6ff212ae82bcccff837
PowerToy module for which you are reporting the bug (if applicable): Settings
[code]

[2020-05-07 10:39] niels9001 commented on #2764
Multi-line textbox should solve this, right?

In the future, I think we should move to something more user friendly.. e.g. an 'app picker'?

[2020-05-07 10:47] niels9001 opened #2766 "[Read Me] Visually improve the ReadMe"
The other day, I was referring to PowerToys and try to explain FancyZones to a colleague. He mentioned that the ReadMe file didn't contain any images to show off some of the features (so he had to look for the right link to bring him to the FZ readme).

And I think he's right: the ReadMe looks quite 'boring', and still uses the old app icon. With //Build/ around the corner, I can imagine traffic g

[2020-05-07 10:49] ivan100sic opened #2767 "Unsupported build targets in Visual Studio"
# Environment

[code]

# Steps to reproduce

Open the main solution in Visual Studio.

# Expected behavior

Only the x64 target should appear.

# Actual behavior

x64, x86, ARM, ARM64 are all listed.

[2020-05-07 10:51] SeraphimaZ commented on #2764
That's right.
More user friendly interface sounds good! For now one unwanted space in line can make user think that feature is broken.

[2020-05-07 12:20] jordi1024 opened #2769 "Path Shortener"
# A "Destination path too long" fix tool

# Proposed technical implementation details (optional)

[2020-05-07 12:28] rcarmo commented on #2278
I would very much like to have this indeed, but as an on-the-fly behavior similar to auto-tiling window managers on Linux.

[2020-05-07 13:12] #2767 closed

[2020-05-07 13:13] SeraphimaZ opened #2771 "[Settings v2] FancyZones settings: checkboxes don't correspond with actual settings"
Checkboxes need to be updated corresponding to actual settings

* Replace `Hold Shift key or any non-primary mouse button to enable zones while dragging` with `Hold Shift key to activate zones while dragging` and `Hold a non-primary mouse button to activate zones while dragging`
* Remove `Flash zones when the active FancyZones layout changes`
* Add `Move windows between zones across all monitors w

[2020-05-07 13:15] KyroOW opened #2772 "Taskbar disappearing"
# Environment

[code]

# Steps to reproduce

After a few hours of computer runtime (i'd say 7 hours) when minimizing or closing programs, the taksbar will disappear for less than a second, then reappear.

# Expected behavior

The taskbar should obviously not disappear at all.

[2020-05-07 13:17] KyroOW opened #2773 "Can't uninstall v0.17"
# Environment

[code]

# Steps to reproduce

Open control panel, click uninstall for PowerToys.

# Expected behavior

The program should uninstall itself (?)...

# Actual behavior

Explorer restarts and then nothing happens, Powertoys including all its files are still here, will still start at boot, nothing uninstalled.

[2020-05-07 13:21] Pagerojohan opened #2774 "Share a zone in Teams/Skype"
# Summary of the new feature/enhancement

It would be great to be able to share a zone in Fancyzones in Teams/Skype

[2020-05-07 14:14] justinthings commented on #2748
@enricogior thanks so much for your response! I have updated to `Version v0.17.0`. Updating (or maybe just because i restarted the app?) - fixed the issue! Great tool. I can't live without it 😆

[2020-05-07 14:14] #2748 closed

[2020-05-07 14:26] enricogior commented on #2773
Hi @KyroOW
use the Window 10 Settings -> Apps -> Apps & features to uninstall PowerToys, it will work.

[2020-05-07 14:35] enricogior commented on #2748
@justinthings
do you actually use the `Keep windows pinned...` feature?

One important note regarding 0.17: we have found a problem that may stop FZ from responding and it requires to kill it from the Task Manager and to restart it.
If you run into that problem, and if for you it's acceptable to install an unsigned build, you can use the one linked in https://github.com/microsoft/PowerToys/issues/

[2020-05-07 14:59] pauloeduardogodoy opened #2777 "Save and restore windows previous size and dimensions when removed from zones"
# Summary of the new feature/enhancement

When remove a window from its zone it will keep the size and dimensions from the zone.
This feature will save time when users had to remove windows from the zones and have to resize them.
I would like to see in FancyZones a kind of option like: "Restore windows previous size and dimensions when removed from zones"

# Proposed technical implementation detai

[2020-05-07 15:47] jyuwono commented on #2698
Closing since this already works in launcher.

[2020-05-07 15:47] #2698 closed

[2020-05-07 16:03] enricogior commented on #2777
Hi @pauloeduardogodoy
thank you for your feedback, this feature request is tracked in https://github.com/microsoft/PowerToys/issues/166
I'll close this issue as duplicate.

[2020-05-07 16:03] #2777 closed

[2020-05-07 16:08] laviusmotileng-ms commented on #2747
why should default values from settingsv1 show if they were deleted?

[2020-05-07 16:10] AntonIlinykh commented on #2692
@enricogior
It makes a huge difference.  I have a triple monitor setup with UHD 620 and the performance just plummeted (I can see in Task Manager that GPU is overloaded when I move a windows around and try to assign in to a zone). However, after I turned off transparency and "show zones on all monitors", performance got back to an acceptable level.

[2020-05-07 16:35] enricogior commented on #2747
@arjunbalgovind
FancyZones has default values for each option, they have to be preserved.

[2020-05-07 16:37] enricogior commented on #2747
Btw, same for Shortcut Guide, the default values shown in the settings are incorrect.

[2020-05-07 16:56] #2542 closed

[2020-05-07 16:59] saahmedm opened #2778 "Revert to old warnings"
Bring back fly outs to provide error/warnings when users are making mistakes

[2020-05-07 17:21] SCWells72 commented on #1488
I was about to file a similar request but will instead add my thoughts here. I'll elaborate on what I'm thinking, though, so please let me know if you'd like to broken out as a distinct enhancement.

I have side-by-side 37" UWHD monitors, and FancyZones is working GREAT for allowing me to carve them into usable virtual monitors. The one issue I have--and it was one that was solved nicely by Displa

[2020-05-07 17:23] saahmedm opened #2779 "Change Apply / Cancel to Okay / Cancel"
We're making KBM a modal dialogue, and for remappings to work they'll have to cancel the window. Thus, Apply isn't the correct wording anymore

[2020-05-07 18:12] niels9001 commented on #2779
Is saving per change an option and with that removing the OK/Cancel buttons?

If not, can we put them at the bottom (making OK AccentColorStyle?) and set a maxwidth/maxheight on the window?

[2020-05-07 18:15] htcfreek commented on #2766
Also the link to the devdocs is broken.

I miss a description for the steps between install visual studio an opening PowerToys.sln in the devdocs. This is a needed information for poeple start developing/building the first time.

[2020-05-07 18:15] enricogior commented on #2692
@AntonIlinykh
in 0.18 we have a fix for the perfs issue with `"show zones on all monitors"`, for the transparency, we call a Windows API, I suspect it's a video driver issue.

[2020-05-07 18:17] enricogior commented on #2542
We should not publish anything that is not strictly necessary, we need to verify that.

[2020-05-07 18:25] #2763 closed

[2020-05-07 18:30] Slootweg commented on #2609
Same here, I uninstalled (with Revo uninstaller) and reïnstalled, now it seems to work with no problems

[2020-05-07 18:36] saahmedm commented on #2779
I think making OK AccentColorStyle regardless is a good add to this issue @traies

@niels9001 can you expand on saving per change. just having a Save button? Similar to old PT settings?

Also we can set a max width / max height but it might be cumbersome for users who want to full screen to avoid scrolling to view all the mappings.

[2020-05-07 18:38] niels9001 commented on #2779
Actually.. no save button at all. What ever change you make is instantly saved?

True on the max height - max width maybe? Might look less jarring and dialog like. 3 keys per column is the max, right?

[2020-05-07 18:53] arjunbalgovind commented on #2779
I think we definitely can't do saving per change (like in SettingsV2) for build, since that would need alot of logic changes for which we dont have enough time. It could be a v1 thing though.
I was considering a default size and then allowing users to resize if they'd like. Is there a reason for the max width constraint? In my current PR im constraining the grid column sizes for "Original" and "Ne

[2020-05-07 18:59] jdolisy opened #2782 "Fancy Zone issue after waking up on multiple monitors"
# Environment

[code]

# Steps to reproduce

I have 2 monitors, the primary oriented horizontally and the second one oriented vertically. I have defined 2 fancy zones on the secondary monitors that split the monitor vertically in two equal zone.
After the computer comes out of sleep, if I try to snap a window to one of the zones by dragging an app window while holding the shift key, the zones appe

[2020-05-07 19:09] #2330 closed

[2020-05-07 19:14] arjunbalgovind opened #2783 "[KBM] Displayed remappings on landing page inconsistent with KBM Remap Keyboard window"
Remap Ctrl Left to A and Ctrl Right to A and apply. (currently logic combines the two of them into Ctrl in the window), but this doesnt reflect in the landing page listview.

[2020-05-07 19:21] niels9001 commented on #2779
Saving: yeah, that's understandable due to the time restrictions. Ideally we would aim for that, since it's pretty common nowadays that UIs have an 'auto save' feature.

Resizing: if we want this thing to be a 'dialog'-like window, I'd restrict atleast its width (since dialogs can't be resized :)). In our case I think having the ability to resize the height makes sense, since it can show you more

[2020-05-07 19:23] #2544 closed

[2020-05-07 19:24] SeraphimaZ opened #2784 "[Settings v2] Crash on closing"
Settings randomly crash on closing.

I had no success in trying to crash it intentionally. Tried to enable/disable modules, change values, check/uncheck checkboxes, change colors, update hotkey.

Every time I had occasional crash I changed more than one setting in different modules if that info could help.

# Environment

Windows build number: [Version 10.0.18362.778]
PowerToys version: [1891bd4](

[2020-05-07 19:45] Andriy2 commented on #2782
[code]

I have different behavior:
After disconnectiong second monitor and connecting another one FanceZones became broken.
Also cannot nor open PowerToys, nor Right click on tray icon.

Helps only kill PowerToys from Task Manager and reopen from Start menu.

Faced this problem since 17.0

[2020-05-07 19:56] arjunbalgovind commented on #2542
Currently the way we are publishing, we are using win-x64, so only windows x64 dlls are published. I agree we should make sure that there are no unused dlls that we are publishing.

[2020-05-07 19:56] htcfreek commented on #2688
I have updated my mock ups to...
- be more in line with the official settings app.
- add some missing elements.
- make some small text changes.

### Settings run as user & system telemetry off
![PT-General_settings_V2-001](https://user-images.githubusercontent.com/61519853/81338769-6ff09080-90ad-11ea-9396-b87a4d69502d.jpg)

### Settings run as administrator & system telemetry on
![PT-General_setti

[2020-05-07 20:08] htcfreek commented on #2688
Link to Windows settings page "Diagnostics & feedback": `ms-settings:privacy-feedback`

[2020-05-07 20:21] mdtauk commented on #2688
Are you applying an order of importance to these layouts.  Common and important settings at the top.

There is a **SystemErrorText** ThemeResource you can use so the text is Red in Light and Yellow in Dark

[2020-05-07 20:26] arjunbalgovind commented on #2667
@ryanbodrug-microsoft have you been able to repro this?

[2020-05-07 20:28] htcfreek commented on #2688
I think is the best order in relation to how important the settings are. But I am free for other ideas.

Please have in mind that these are only image mock ups.

Great tipp.

[2020-05-07 20:51] BCS-JonW commented on #307
This feature is sorely needed!  It is VERY helpful with F11/full screen for videos as previously mentioned, but it should also function for any app within a zone when maximizing the app.  Currently, if I click maximize on any app, it fills my 50" display (which has 6 zones) instead of filling just the current zone.
I've previously used iShadow VDM program and it does have this functionality.

[2020-05-07 20:57] niels9001 commented on #2688
Is the Telemetry options in the spec? Not seeing it in the latest build-features?

[2020-05-07 21:00] htcfreek commented on #2688
#964

[2020-05-07 21:05] jamehealy commented on #2782
I have the same issue (and a similar setup, with two monitors, one in vertical alignment at 1080x1920, and one at 3840x2160):

Windows Version: Microsoft Windows [Version 10.0.19624.1000] - (Insider Preview)

It started with the overlay blurring, like above, but now it doesn't work at all and the notification tray icon doesn't even respond to a click or right-click.

I do think that there was an I

[2020-05-07 21:30] enricogior commented on #2782
Hi @jdolisy @jamehealy
if for you is acceptable to install an unsigned build, you can try the one that I uploaded here https://github.com/microsoft/PowerToys/issues/2563#issuecomment-622462804
It doesn't contain a fix specific for the problem you are reporting but has some general improvements that may help.

[2020-05-07 21:52] jdolisy commented on #2782
I will install it later tonight and let you know,

[2020-05-07 22:07] htcfreek commented on #2688
@niels9001
I think we should have the "Learn more about admin mode" under the setting "Always run as administrator" and should don't hide them. Then the users can read about it before enabling the setting "Always run as administrator".
What du you think?

[2020-05-07 23:32] jdolisy commented on #2782
@enricogior - I installed the private build and the behavior is different now. While shift + dragging the application window, the highlighting of the zones is still messed up. The highlight of the zones fades in faster than before, but slower than normal. Once the window is dropped it is snapped properly and it does not get stuck like it would with build 16 and 17.

[2020-05-08 00:09] nathanfohkens commented on #2782
I have had the same issue. Right-clicking the PowerToys tray icon in the taskbar and exiting PowerToys, then opening and running PowerToys resolves the issue for me. But this must be done every time after waking the monitors. This seems to always occur after the timeout of "When to turn off the display".

What appears to be occurring is the FancyZones are "drawn" multiple times when a window is dr

[2020-05-08 01:48] BCS-JonW commented on #422
This feature is sorely needed! It is VERY helpful with F11/full screen for videos as previously mentioned, but it should also function for any app within a zone when maximizing the app. Currently, if I click maximize on any app, it fills my 50" display (which has 6 zones) instead of filling just the current zone.
I've previously used iShadow VDM program and it does have this functionality.

[2020-05-08 03:50] 2thankyous opened #2789 "Feature request: Resize monitor layout for extended desktop"
# Problem statement
When extending your desktop to multiple monitors, Windows 10 allows you to position and align the monitors, but on a pixel by pixel alignment. When using multiple monitors of different sizes and resolutions, it is difficult to drag your mouse from one monitor to the next when the sizes are different. Where the monitors don't align, your mouse cursor hits an invisible wall. Your

[2020-05-08 05:47] crutkas commented on #2710
The buttons should be the newer style Witt the rounded corners.

[2020-05-08 05:51] niels9001 commented on #2710
Good point. Let's puck the default Add button style and adapt it with rounded corners.

[2020-05-08 06:15] bdb400 opened #2790 "Resize windows with alt right click"
# Summary of the new feature/enhancement
Resize windows with alt right click

Sometimes my cursor is to far from the windows edge and I click something I didn't mean to click on another window. With this feature the user would just hold the alt key while right clicking near the edge they want to resize. I know some linux distros have this feature and its really useful.

# Proposed technical implem

[2020-05-08 07:15] Chimeray commented on #1466
Hello. I'd like to report another program that doesn't work with FancyZones since the v14 update (v12 and v13 works fine). It's our inhouse gaming engine that is built on WPF, so a part of .Net. I'm not a programmer so I don't know much more I'm afraid, that's the info I got from our engineers. Is that enough? Anything specific I should ask that could help you out?

[2020-05-08 08:34] enricogior commented on #2782
@nathanfohkens
please check my previous comment https://github.com/microsoft/PowerToys/issues/2782#issuecomment-625507858

[2020-05-08 08:35] enricogior commented on #2782
@jdolisy
thanks for trying the private build, we have more fixing on the way.

[2020-05-08 08:40] PrzemyslawTusinski opened #2792 "PowerRename Setting are not captioned and have no default value"
# Environment
PowerToys version: 1891bd494c32401e9531a6ff212ae82bcccff837
PowerToy module for which you are reporting the bug (if applicable): Settings
[code]

[2020-05-08 08:56] enricogior commented on #2789
Hi @2thankyous
a similar feature is already tracked in https://github.com/microsoft/PowerToys/issues/1226
Please add you comments there, I'm closing this one as duplicate.
Thank you.

[2020-05-08 08:56] #2789 closed

[2020-05-08 09:05] enricogior commented on #1466
Hi @Chimeray
at present it's by default that child windows are not zonable. So at present there is nothing wrong with you app, it's just us that we need to add the feature.

[2020-05-08 09:21] yevhenii44 commented on #2792
# Environment
PowerToys version: 1891bd494c32401e9531a6ff212ae82bcccff837
PowerToy module for which you are reporting the bug (if applicable): Settings
[code]

[2020-05-08 09:36] Chimeray commented on #1466
Aah ok, didn't know! I'll stay on v13 for now and keep a look out for when that feature is implemented then. Thx!

[2020-05-08 09:39] enricogior commented on #1466
It may be in 0.18, more probably in 0.19.

[2020-05-08 10:23] PrzemyslawTusinski commented on #2792
![Capture](https://user-images.githubusercontent.com/61138537/81396916-9868a100-9126-11ea-9873-21e80d892844.PNG)

Also one option is duplicated. The one in shell integration should be removed

[2020-05-08 11:20] ivan100sic opened #2793 "[Settings UI] Wrong attribution on the Image Resizer settings page"
Version: abd30f3e41ac57e036f813136a42e1ec9bda2336

The label is "Brice Lambson's SmartRenamer" instead of "Brice Lambson's ImageResizer". The link is correct.

[2020-05-08 11:26] enricogior commented on #2792
The one under `Miscellaneous` should be moved one position lower since it's relevant for the last control on the page (that, in turn, should ideally be grayed out when `Enable autocomplete and autosuggest...` if OFF).

[2020-05-08 11:35] yuyoyuppe commented on #2758
I've moved FZE and FZ into a dedicated folder. To not cause merge conflicts, I need to wait for both #2759 and #2709 to be merged.

[2020-05-08 12:36] yevhenii44 opened #2795 "Image Resizer filename format"
# Environment

Windows build number: 10.0.18363.778
PowerToys version: https://github.com/microsoft/PowerToys/commit/1891bd494c32401e9531a6ff212ae82bcccff837
PowerToy module for which you are reporting the bug (if applicable): Settings

# Steps to reproduce

- Run Powertoys
- Open Image Resizer settings
- Set filename format "%1_%3x%4" or "%1 (%3x%4)" or "%1"
- Open any other settings
- Open Image

[2020-05-08 12:41] #2478 closed

[2020-05-08 12:41] #2476 closed

[2020-05-08 13:30] codesharkasm commented on #889
Mildly unrelated, but i don't see an issue for Launcher Fluent UX - is this not on the cards for this release, or are we just not there yet?

[2020-05-08 13:52] ivan100sic commented on #2795
I was able to reproduce this once, but not consistently, seems that it just decided to start working correctly.

[2020-05-08 14:12] crutkas commented on #889
Being designed out of the box like that :)

[2020-05-08 14:34] ivan100sic commented on #2795
Oh, I think I found the problem, the regex at `ImageResizerViewModel.cs:181` rejects your strings.

[2020-05-08 14:54] niels9001 commented on #2710
This buttonstyle should work:

![Addbutton](https://user-images.githubusercontent.com/9866362/81418134-7da92300-914c-11ea-9c1c-af158fb7707f.gif)

[2020-05-08 15:25] crutkas commented on #2710
Yes

[2020-05-08 15:46] crutkas commented on #2784
Any debug / repro steps?

[2020-05-08 15:48] crutkas commented on #2773
#2012 is larger tracking issue

[2020-05-08 15:48] #2773 closed

[2020-05-08 15:53] jyuwono commented on #2614
This will be fixed by #243 in 0.18 release.

[2020-05-08 15:53] #2614 closed

[2020-05-08 15:55] crutkas commented on #2656
could be maybe something with image resizer but nothing should be executed until the app launched.  Could be a thing with shell or how image does their offline stuff.  we just reg with apps that are images

[2020-05-08 16:09] jyuwono commented on #2524
WindowWalker will be merged with launcher, and launcher allows you to configure hotkeys.

[2020-05-08 16:09] #2524 closed

[2020-05-08 16:11] jyuwono commented on #2520
WindowWalker will be merged with launcher. Based on the launcher spec [here](https://github.com/microsoft/PowerToys/wiki/Launcher#213-keyboard-shortcuts),
10 | Users can use Ctrl+\<insert number\> to launch from the search result | 2
-- | -- | --

[2020-05-08 16:11] #2520 closed

[2020-05-08 16:13] jyuwono commented on #2539
Sorry @Kirtpank, I'm not seeing any attached screenshot. Do you mind describing your issue please?

[2020-05-08 16:18] jyuwono commented on #2570
This is the expected behaviour since running with ">" invokes shell plugin, not command prompt.

[2020-05-08 16:18] #2570 closed

[2020-05-08 16:32] #2474 closed

[2020-05-08 16:32] crutkas commented on #2536
I think we should be very data driven here versus pre-optimize

[2020-05-08 16:39] enricogior commented on #2784
It's pretty random, we haven't found a specific repro steps yet.

[2020-05-08 16:40] crutkas commented on #2784
anything in event logs?  :(

[2020-05-08 16:40] BCS-JonW commented on #2784
New user to PT here... New installation has hung on saving settings twice in the last two days.  Not consistent when it happens.
Windows build: [Version 10.0.18363.815]
Powertoys version: v0.17.0

[2020-05-08 16:47] #2747 closed

[2020-05-08 16:49] codesharkasm commented on #889
Awesome! Can’t wait to use it! From: Clint RutkasSent: Friday, May 8, 2020 10:13 AMTo: microsoft/PowerToysCc: Aaron McElwee; CommentSubject: Re: [microsoft/PowerToys] Fluent UX: Settings (#889) Mildly unrelated, but i don't see an issue for Launcher Fluent UX - is this not on the cards for this release, or are we just not there yet?Being designed out of the box like that :)—You are receiving this

[2020-05-08 16:49] madallday opened #2800 "Allow reorder numbers in table layout editor"
When splitting the zone, it always assigns the numbers arbitrarily left to right. Would like to add ability to renumber zones because zone numbers are meaningful between layouts.

[2020-05-08 16:52] madallday commented on #2278
This issue is using the non-table editor. This feature request could be more easily represented in the table editor with a snap to on 1/2's or 1/3's or similar.

[2020-05-08 16:53] arjunbalgovind opened #2801 "[Settings & Launcher] Clean no longer works"
From the changes in #2759 , disabling IncrementalClean causes Clean to no longer work for those projects. The target would have to be tweaked a bit to fix it.

[2020-05-08 16:55] madallday opened #2802 "[FZ Editor] Directly open table-editor instead of just custom-editor"
The only way I can see to get into the table-editor is via editing pre-defined layouts.
Suggestion is to put `Create new custom table` in addition to `Create new custom` on the `Custom` tab

[2020-05-08 16:55] enricogior commented on #2784
In my case the crash is actually in PowerLauncher
[code]

[2020-05-08 17:01] enricogior commented on #2800
Hi @madallday
this feature is tracked in https://github.com/microsoft/PowerToys/issues/1032 please add you comments there.
Thank you.

[2020-05-08 17:01] #2800 closed

[2020-05-08 17:07] arjunbalgovind commented on #2758
Both the PRs have been merged @yuyoyuppe

[2020-05-08 17:23] jyuwono commented on #2328
Possibly fixed by #2799

[2020-05-08 17:24] crutkas commented on #2772
we're not doing anything to interact with the taskbar.  without a clear repo, this is hard for anyone to debug.

[2020-05-08 17:29] crutkas commented on #2769
i think a better thing would be "allow for long paths" :)

[2020-05-08 17:36] arjunbalgovind opened #2803 "KBM Type Key/Type shortcut doesn't work if Launcher is still loading"
It looks like when the Xaml Island part of launcher is loading, it's window handle is in focus. Because of that the Type key logic doesn't work as expected as it's supposed to work only when the KBM window is in focus. The moment the launcher loading is done everything works fine again.

[2020-05-08 17:36] crutkas commented on #1484
what is the status of this @laviusmotileng-ms

[2020-05-08 17:37] crutkas commented on #2328
this won't fix this for the island branch, it fixes the WPF variant

[2020-05-08 17:39] arjunbalgovind commented on #2803
@jyuwono @saahmedm @ryanbodrug-microsoft thoughts on this? I think it's a bug that a user would only see if the start PowerToys.exe and go straight to KBM and start doing stuff before Launcher finishes loading, or if they enable launcher and start using KBM while launcher is loading.

It's seems like a bug that would happen rarely for users so I don't know if we should prioritize this for Build, u

[2020-05-08 17:40] crutkas commented on #2340
@laviusmotileng-ms is this done?

[2020-05-08 17:41] crutkas commented on #2269
isn't this done?

[2020-05-08 17:44] crutkas commented on #2041
is this a 0.18 item @alekhyareddy28 ?

[2020-05-08 17:46] arjunbalgovind commented on #2340
Yes it's done. I closed the earlier issue linked to this #2330 but forgot to close this one.

[2020-05-08 17:47] #2269 closed

[2020-05-08 17:48] #2340 closed

[2020-05-08 17:52] crutkas commented on #1782
Going to start looking at this.  Looks like some spots in settings, it does happen.

![image](https://user-images.githubusercontent.com/1462282/81433795-fba00680-9119-11ea-9d9c-a7fe2ba39b5b.png)

[2020-05-08 18:03] alekhyareddy28 commented on #2041
I'll get this in early next week after discussing how it would tie in with settings with @jyuwono.

[2020-05-08 18:04] crutkas opened #2804 ""learn about admin mode" needs to be near admin mode"
As part of onboarding, if we have helper stuff, that helper stuff needs to be near the feature, not at the bottom.

![image](https://user-images.githubusercontent.com/1462282/81434826-a49b3100-911b-11ea-894c-26b6c4eb5893.png)

[2020-05-08 18:07] crutkas opened #2805 ""About this feature" should be "About NAME""
![image](https://user-images.githubusercontent.com/1462282/81435048-08255e80-911c-11ea-9c10-813b34c1a1eb.png)

[2020-05-08 18:14] crutkas commented on #2710
@niels9001, shouldn't text be centered vertically vs top?

[2020-05-08 18:15] crutkas opened #2806 "[UX] - Consistent button for Image resizer"
This should follow every other area.

![image](https://user-images.githubusercontent.com/1462282/81435687-2049ad80-911d-11ea-8085-384476bf8458.png)

#2710 has guidance for add button.  This should be a style IMO as well globally

[2020-05-08 18:18] crutkas opened #2807 "[UX] - Shortcut guide opacity needs to provide feedback number"
No visual feedback of what the number is

![image](https://user-images.githubusercontent.com/1462282/81436050-a4039a00-911d-11ea-8e60-bb0fef39e9d0.png)

[2020-05-08 18:20] crutkas opened #2808 "[ux] Shortcut guide duration for duration needs to be larger jumps"
![image](https://user-images.githubusercontent.com/1462282/81436113-c1386880-911d-11ea-8d8f-bc21194d0428.png)

25 to 50 ms jumps is fine.  No need for 1ms percision

[2020-05-08 18:27] crutkas commented on #2784
Different issue. This is our new settings subsystem.

[2020-05-08 18:47] niels9001 commented on #2710
The W10 app does top centered. I agree though, centered vertical looks nicer.

[2020-05-08 18:49] mdtauk commented on #2710
I think it probably should, but it isn't for the W10 Settings app.  How does the 10X settings app handle it?

[2020-05-08 18:53] crutkas commented on #2772
please reopen if you can provide a bit more clear repo.  Also what other programs are running constantly?

Does this happen without PT running?

[2020-05-08 18:53] #2772 closed

[2020-05-08 18:54] enricogior commented on #2808
50 as minimum, in the old settings it was 100 a no one ever complained because you could still edit manually.

[2020-05-08 19:06] traies commented on #2784
Is this happening when closing the Setttings window or when exiting PowerToys by clicking on the exit option in the system tray menu?

[2020-05-08 20:00] htcfreek commented on #2804
@crutkas
Duplicate of [#2688#issuecomment-625521203](https://github.com/microsoft/PowerToys/issues/2688#issuecomment-625521203).

[2020-05-08 20:21] crutkas commented on #2804
I want this as a clear bug

[2020-05-08 20:24] joelst opened #2810 "Overview links point to Master vs Stable"
Since WW has been removed from master, when you click on Overview https://github.com/microsoft/PowerToys/blob/master/src/modules/windowwalker in PowerToys 0.17 it results in a 404.

Since the module won't be there in the 0.18 release you won't need to worry about it soon, however it might be something that happens again. Does it make sense to leverage shortened links for these pages so that they c

[2020-05-08 20:34] #2336 closed

[2020-05-08 20:34] htcfreek opened #2813 "[UX] - More structured Image Sizes table on Image Resizer settings"
We should restructure the table to make it easier to visually capture the table.

### Original
![img](https://user-images.githubusercontent.com/1462282/81435687-2049ad80-911d-11ea-8085-384476bf8458.png)

### Proposal
![image](https://user-images.githubusercontent.com/61519853/81446972-0b503700-917c-11ea-977d-5c77ee6a36c5.png)

[2020-05-08 21:33] somil55 commented on #2497
@jyuwono Can you verify this and close this issue ? You should be able to see run as admin option for UWP apps like window terminal but not for traditional apps mail, calender etc.

[2020-05-08 21:44] somil55 commented on #2669
@laviusmotileng-ms This happens in launcher if there is another instance of either powertoys or wox is running. Can you please verify this and try to reproduce this issue ?

[2020-05-08 22:07] tonyshixd commented on #1032
Here's a wild thought on the UX, let me know what you think!
[https://youtu.be/3t8Ss06HyBc](url)

[2020-05-08 22:43] laviusmotileng-ms commented on #2669
need project to be rebuild.

[2020-05-08 22:43] crutkas commented on #2810
OH!  i know what happened!  we removed it and we're pointing at master vs stable.

[2020-05-08 22:44] crutkas commented on #2810
https://github.com/microsoft/PowerToys/tree/stable/src/modules/windowwalker is the link you're looking for, this is actually a good catch

[2020-05-08 22:49] somil55 commented on #2669
@jyuwono Do you think it would be better to force rewrite the shortcut or we should just show error message as we already doing ?

[2020-05-08 23:22] saahmedm opened #2815 "Remappings (un)successful - content dialogue needed"
When users press OK on KBM, if there are incorrect mappigns a dialogue should appear letting them know that all remappings were not successful with an option to continue

[2020-05-09 00:34] #2486 closed

[2020-05-09 00:36] #2650 closed

[2020-05-09 00:36] #2651 closed

[2020-05-09 01:03] #2545 closed

[2020-05-09 02:48] arjunbalgovind opened #2817 "Keyboard Manager Visualizer and Tester"
# Summary of the new feature/enhancement

A keyboard manager can't be "perfect" and "complete" without an actual visualization for the new remapped keyboard. With a fluent UI it would be cool to have something which would show you how your keyboard layout looks like after remappings keys, and even better something where you can press your keys and see animation like the On-Screen Keyboard.
![image

[2020-05-09 02:59] arjunbalgovind opened #2818 "Teaching Tips in PowerToys"
# Summary of the new feature/enhancement

PowerToys has many tools which have complicated terminology or certain "not-straightforward" concepts. Most of these things can become clear to the user by taking a look at the Readme, but going to the current "Module overview" link isn't the first thing a user would do if they get frustrated with some terminology or understanding how to use the tool. They

[2020-05-09 03:23] beyondexp opened #2819 "Whether it can add support for other languages？"
# Summary of the new feature/enhancement
It only supports English , whether it can add support for other languages?

# Proposed technical implementation details (optional)

[2020-05-09 04:30] jyuwono commented on #2497
@somil55 I'm using msi from commit d329406 and still not seeing run as admin on terminal... I'm also not sure why the icon doesn't load.

![image](https://user-images.githubusercontent.com/8364748/81463987-ef946300-9172-11ea-8dd8-2a7353635191.png)

[2020-05-09 04:51] #2599 closed

[2020-05-09 05:03] crutkas commented on #2669
i'm closing this.  not much we can do there.  if we did the remap low level hook, this would be fixed too

[2020-05-09 05:03] #2669 closed

[2020-05-09 05:09] crutkas opened #2820 "Launcher crash on Windows shutdown"
From #2784

1Application: PowerLauncher.exe
CoreCLR Version: 4.700.20.11803
.NET Core Version: 3.1.3
Description: The process was terminated due to an unhandled exception.
Exception Info: System.Windows.Markup.XamlParseException: Provide value on 'System.Windows.Baml2006.TypeConverterMarkupExtension' threw an exception.
 ---> System.IO.IOException: Cannot locate resource 'images/app_error.png'.

[2020-05-09 05:11] crutkas commented on #2820
@enricogior do you know how you hit this?

[2020-05-09 05:24] ryanbodrug-microsoft commented on #2820
@traies this looks like an issue with the images your changed.   'images/app_error.png'

[2020-05-09 05:26] niels9001 commented on #2818
I think showing these teaching tips the first time a user selects a settings page is iseful as well. Amd obviously the OOBE in general.

[2020-05-09 05:31] niels9001 commented on #2813
There is some work needed, yes.

Maybe we should move towards a more extended dialog when adding/editing an item (like keyboard manager). This way we can visually improve the listview and optimize it for reading it while providing a better editor (with e.g. proper labels etc.)

[2020-05-09 05:43] niels9001 commented on #2688
@crutkas @laviusmotileng-ms

Do you agree (for the settings that we have at the moment)?

Should be a minor task with just some XAML changes. I can pick this up.

[2020-05-09 06:18] crutkas commented on #2819
Issue #199 is the tracking main issue for loc. Most strings arebut need to do another pass again. A lot of UX is in flux which caused a bit of churn. It will be done before v1.

[2020-05-09 06:18] #2819 closed

[2020-05-09 06:19] crutkas commented on #2688
Go nuts

[2020-05-09 08:19] htcfreek commented on #2813
I am not shure if we realy need extendet dialogs. 🤔 More dialog means mor clicks for the user. I prefere easy and fast managable dialogs.
For example in KBM I have two dialogs and three edit/save buttons to click for adding one shortcut.

[2020-05-09 08:39] niels9001 commented on #2813
A listview is meant to display items. If you make them editable a datagrid would be more appropiate.

With dialog I meant a single click to open the listview item and to be able to edit its properties. Here we can use proper labels to indicate all items can do, making it scalable in the long term if we want to add more properties.

Keyboard manager is a bad example since it goes against common UX

[2020-05-09 09:22] Harriser opened #2821 "Why doesn't this tool support Windows 7？"
# Summary of the new feature/enhancement

    Why these tools only support Windows 10 1803 (build 17134) or later, don't support Windows 7 ?
    I can't find this answer in "Issues".
    Please help me resolve this problem if you are available.

# Proposed technical implementation details (optional)

[2020-05-09 09:24] htcfreek commented on #2688
@niels9001
If we change the color setting into a dropdown/select menu button, we should do this on all settings pages, to have the same look and feel everywhere.
I am not shure about which pages are affect. It could be good to have a seperate issue for that.

[2020-05-09 09:30] htcfreek commented on #2821
Because of technical restrictions on UI and feature implementation. Some needed APIs not available in Windows 7.

BTW: Windows 7 is out off Microsoft's support.

[2020-05-09 10:12] niels9001 commented on #2688
I'd stick to the radiobuttons since it reduces cognitive load (vs. combobox) since there are only 3 options (that we won't extend). And it is inline with how the W10 Settings app does it.

Nice background info:
“Radio Buttons UX Design” by Nick Babich https://link.medium.com/8Ato02qql6

[2020-05-09 10:54] htcfreek commented on #2688
The default without choosing "Custom" is only a dropdown field.
See [color choose win10](https://winaero.com/blog/wp-content/uploads/2018/11/Windows-10-Choose-Color-Mode-_.png)

[2020-05-09 11:27] JordanAnthonyKing commented on #2694
FancyZones sits in a weird place between a traditional tiling window manager and a regular floating window manager. I imagine the best way to implement such a feature without requiring FZ to have two distinct modes would be an option like _Automatically add new windows that don't already belong to a zone to a new zone._

Really though FZ just needs an overhaul to its bindings and new features adde

[2020-05-09 11:51] mdtauk commented on #2813
When DataGrid is added to WinUI proper, then it would be appropriate in this use case

[2020-05-09 13:24] DavidGretzschel commented on #1032
@tonyshixd
I think it's lovely. I enjoy the redundant (in a good way!) presentation of the Zone number, that it shows you the % of space used as well as the exact pixels. And that you also see all those things when you're outside of the editor.
Not sure what "drag here to reposition" means. I'd hope it's about determining which Zone gets which Zone number?

[2020-05-09 13:27] ericpa06 commented on #799
Definitely would be a cool idea, for those interesting in this feature, there's the "TaskbarX" software, that is does a pretty good job doing that (although there's room for improvement).

Other thing that would be cool is if there was an option to **open pinned items on taskbar with a double click** instead of one. I keep accidentally opening programs (oftentimes heavy on memory programs, such as

[2020-05-09 13:40] ericpa06 opened #2823 ""Show desktop" only in the active monitor"
It would be handyif there was an option that show the desktop only in the monitor where the cursor in is on.  Maybe something like **windows + shift + d** . Oftentimes you just want to quickly grab some file that your threw around in your desktop without this affecting the view in your second monitor (maybe you are watching a movie in it, or something like it)

[2020-05-09 13:43] niels9001 commented on #2733
Maybe we need to change the header of the theme selection of the General page tab to represent this.

E.g. "Default PowerToys theme" or something like that.

[2020-05-09 14:01] mms- commented on #1973
Also seeing this with zones from edge to edge, window always goes full screen.. Seems to be a regression.

[2020-05-09 14:04] mwbmorley opened #2824 "Multiple Monitor Support"
# Summary of the new feature/enhancement

**I would love to see multiple monitor support. I currently run a Dell U3415W in landscape mode as my main monitor and two Dell P2417H monitors in portrait mode on the sides (Looks like a Tie Fighter). But I am not able to snap windows to locations using PowerToys on anything other than my main monitor.**

# Proposed technical implementation details (optio

[2020-05-09 15:05] al-n opened #2825 ""Close all windows on this display" only closes one window"
# Environment

[code]

# Steps to reproduce

Open multiple windows of the same program and distribute them on one monitor. Choose "Close all windows on this display" from the Task Bar menu ("jumplist") of the program. Only one window closes.

# Expected behavior

Close all windows in all zones on this display.

# Actual behavior

Windows close only after one another

# Screenshots

Example with fi

[2020-05-09 15:48] IdmFoundInHim commented on #1637
Windows Insider Build, Fast Ring 19619.1000
@enricogior
On that unsigned build, I am able to save settings as expected except when PowerToys is launched on startup. After a restart, the issue returns until I exit PowerToys and reopen.

I have "Run at Startup" and "Always run as administrator" on. Unlike the signed builds, a UAC prompt appears every time I open v0.17.1, including on startup.

[2020-05-09 17:03] htcfreek commented on #964
Only to save the idea off implementation on general settings page:

![image](https://user-images.githubusercontent.com/61519853/81479782-d1d40600-9225-11ea-8327-d577ba9d74e3.png)

[2020-05-09 18:23] crutkas commented on #2821
We currently support Windows 10 1803 (build 17134) or later.

[2020-05-09 18:23] #2821 closed

[2020-05-09 18:24] crutkas commented on #2821
We're open source, if you want to take the time to do the logic for supporting and fork the UX, please do a fork.  Happy also to discuss doing a PR then too

[2020-05-09 18:54] htcfreek commented on #2766
We can change the first sentence of the Contributing section.

**Original**
[code]

**Proposal**
[code]

[2020-05-09 18:55] tonyshixd commented on #1032
That’s a really good point! It is supposed to let you drag the zones to another location and reorganize the screen without having to edit/delete other zones. But I think I will reconsider that aspect with more clarity. Thank you for the feedback!!

[2020-05-09 19:27] JerseyGryphon commented on #1032
Okay, I've managed to load and edit the JSON, so my windows are all exactified now.

[2020-05-09 19:47] arjunbalgovind opened #2828 "Xaml Island hiding code is duplicated in Launcher and Settings"
The code to hide the xaml island window while it is loading that was introduced in #2827 was duplicated for Launcher and Settings. It should be moved to a common library.

[2020-05-09 19:49] ryanbodrug-microsoft commented on #2060
@enricogior I've assigned this to you for the nuget package work.  Let me know if this is anything I can do here.

[2020-05-09 20:59] niels9001 commented on #2766
I gave it a first shot here: https://github.com/niels9001/PowerToys/

It's mostly about adding some images here and there to make it visually more appealing :).

![screencapture-github-niels9001-PowerToys-2020-05-09-22_55_19 (1)](https://user-images.githubusercontent.com/9866362/81484780-b7f7ea80-9248-11ea-8fd4-9977d04cdc7f.png)

Thoughts @crutkas?

[2020-05-09 21:04] htcfreek commented on #2766
@niels9001
I love especially the header image.

[2020-05-09 21:33] htcfreek opened #2829 "[Settings UX] Admin hint should collaps when running as admin"
On the General settings page we have a red hint when running as user for some settings: `You need to run as administrator to use this setting`

This hints should collaps when running the settings as administrator.

We should get a generall solution which can be used on other settings pages too.

@mdtauk: Ideas on how to implement?

[2020-05-09 22:09] rockhound00 commented on #2590
Having exactly the same problem here.  I wonder, could it be related to high DPI screens?  I installed powertoys on 3 computers today.  It works great on the two computers that do not have high DPI screens.  However, the problem persists on the one computer with a high DPI screen (2560x1440).  This may or may not be the problem, but it's worth evaluating.  Thanks!

[2020-05-09 22:28] mdtauk commented on #2829
All I can think of is providing some text or indication that you are running as administrator.

[2020-05-09 22:32] ozihashmi opened #2830 "[FancyZones] Zone activation using right click to drag"
I know there is a "hold shift or any non-primary mouse while dragging" feature.
But could it be possible to just have Right click dragging to enable zones?

Thanks

[2020-05-09 22:39] htcfreek commented on #2829
What I meant is how we can hide the text and automatically move the control up, like in the Win10 settings app.

[2020-05-09 23:14] tajetaje commented on #2590
Yeah, that’s a possibility; my system is dual monitor(1440p and 1080p) so definitely high dpi.
@SKIBUM17 is your monitor high dpi?

[2020-05-09 23:38] SKIBUM17 commented on #2590
yes, it is high dpi...but so is my surface pro 3 and powertoys works fine on it....

[2020-05-10 00:05] SKIBUM17 commented on #2590
the pc that Powertoys is having trouble with has a resolution of 3840 X 1080 (Samsung CHG90); my surface pro 3 is running at 2160X1440 and Powertoys is running fine on it; Powertoys is also running fine on a Zenbook Pro Duo which has 2 screens, resolution is 3840X2160

[2020-05-10 00:36] rockhound00 commented on #2590
I figured it was a long-shot.  Troubleshooting is never that simple.  It was worth a try, though.  I'm hoping this gets fixed soon.

[2020-05-10 02:08] crutkas commented on #2590
My gut says this is #243. Which will be fixed in our next release 0.18

[2020-05-10 02:17] crutkas commented on #2766
I like it a lot. Maybe a quick link horizontal section for quick links to like download / release notes / privacy policy?

[2020-05-10 02:33] crutkas commented on #2766
One q, why list vs grid of items?

[2020-05-10 03:38] Minion2005 opened #2831 "We need Chinese"
We need Chinese

[2020-05-10 04:43] crutkas commented on #2831
Tracking in #199. 100% will be localized in Chinese.

[2020-05-10 04:43] #2831 closed

[2020-05-10 05:06] SeraphimaZ commented on #2784
For me this is happening when I close Settings window

[2020-05-10 06:16] arjunbalgovind commented on #2349
Closing as duplicate of #2779

[2020-05-10 06:16] #2349 closed

[2020-05-10 06:18] arjunbalgovind opened #2832 "[KBM] Remap Shortcuts/Remap Keyboard window does not always open on the same monitor as Settings"
The windows have been set to start at the center of the screen, however the exact monitor where it will load need not be same as Settings right now.

[2020-05-10 06:18] arjunbalgovind commented on #2309
Since the location part has been fixed, closing the issue and tracking multi-monitor support in #2832

[2020-05-10 06:18] #2309 closed

[2020-05-10 06:21] arjunbalgovind commented on #2241
@niels9001 @traies is this resolved?

[2020-05-10 06:55] niels9001 commented on #2241
Yes, I am able to run the latest master branch without any issues. Before the workaround was to run the specific projects directly, not using the runner.

I'll close this issue.

[2020-05-10 06:55] #2241 closed

[2020-05-10 07:37] niels9001 commented on #2766
I was trying to do a grid, similiar to the MRTK sample. However, we have long feature descriptions. If we reduce those to e.g. a single sentence, that could work.

[2020-05-10 08:09] htcfreek commented on #2688
@crutkas Whats your thoughts about the following ideas/changes for the general page?

**General settings page > Side panel**
- What about split side pannel in three sections:

PowerToys is open source software.
[Learn more](https://github.com/microsoft/PowerToys/blob/master/README.md#contributing)
[Github project page](https://github.com/microsoft/PowerToys)

[Privacy statement](https://github.com

[2020-05-10 08:28] htcfreek commented on #2688
@niels9001 Why do you changed the text "Restart as administrator to change this setting" to "Restart as administrator to use this setting"? I think change is the better word than use. I wan't to change the setting and not want to use it for doing something.

[2020-05-10 08:53] Leakbang opened #2833 "UAC Popup Asking PowerTools to be run in Admin mode"
# Environment

[code]

# Steps to reproduce

- Run PowerTools Version 0.17.0
- Set as Always run as Administrator
- Set Run at Startup
- Reboot the OS

# Expected behavior

Powertools open in Admin mode in the background and the OS boots up.

# Actual behavior

A UAC popup appears, freezing the OS, asking to run PowerTools in Admin mode.

# Screenshots

[2020-05-10 09:34] hawkerm commented on #44
I rarely search for files/folders. Most of the times when I'm using `Win` or `Win+R` it's because I want to run a program.

Will there be settings to disable the file/web search aspects of the expanded scope? Or an interesting idea is that using `Win+R` opens it in 'app' mode but `Win+S` opens it in a more liberal search mode?

[2020-05-10 09:44] hawkerm commented on #1053
It'd be great as part of this improved UX to have an option/mode for interactive crop. I'm going through a bunch of photos from my camera now to optimize them for a digital picture frame. This means adjusting the aspect ratio of every photo and re-framing each image.

If I could set the resolution/settings for my final output, but then just speed through each image and move and resize a crop regio

[2020-05-10 09:47] mdtauk commented on #1053
@hawkerm  IMO, this is starting to overlap the Photos app's capabilities.  Image Resizer is a batch process for multiple selected images - unless you are proposing a batch crop operation - it may be better to keep the suggestions for batch processes, rather than something designed for single image selections.

[2020-05-10 10:15] hawkerm commented on #1053
@mdtauk this is still about batch processing. I want all the photos I've selected to have an aspect ration of `16:9` or in my case a specific size of `1280x800`. However, if the image isn't already in the right aspect ratio and thus can't be scaled without some crop (or just an option to review all anyway),

I want to quickly just be able to 1) choose that crop - be it a segment slid out of the or

[2020-05-10 10:27] niels9001 commented on #1053
I agree with @hawkerm on this one. Having some more features (like cropping) would be super nice.

The other day I wanted to crop desktop screenshots, so I could remove the taskbar. Had to do this manually, which was cumbersome.

I also want to propose a 'custom' variant: just a slider so I can make pictures 25% smaller. This is handy in situations where large images (such as my 4k resolution scre

[2020-05-10 10:38] mdtauk commented on #1053
@niels9001  In that case, the cropping interface from the toolkit would need to be reconsidered.  You can't guarantee every image being cropped will be of the same size and aspect ratio.

The values for each edge should probably be referenced as a minus value.

Pixel values or percentages make the most sense.

Would there be a visualisation of what the new image sizes will be for the list of image

[2020-05-10 11:53] Wolle181 opened #2834 "Word navigation dialog is not affected by Fancy settings"
# Summary of the new feature/enhancement
If you undocked a navigation pane in Word (MS Office) and drag it to another screen, Powertoys Fancy Zone will not recognize this navigation pane as a separate window.
This may be (I cannot say) a feature/bug of Word, because the navigation pane is somehow linked to the main window of Word. In any case, it disappears when Word loses focus.

# Proposed techn

[2020-05-10 11:54] niels9001 commented on #1053
Yeah, it would require a lot of thinking. Not sure if this is in scope at all.

If we move towards WinUI with the ImageResizer UI, let's make sure we design a UI that can be extended later on with additional features.

[2020-05-10 14:34] htcfreek commented on #2829
@niels9001 Let us try that attribute.

[2020-05-10 15:53] crutkas commented on #1053
Good idea but out of scope here for this issue . Please create a new issue.

[2020-05-10 18:46] floh96 commented on #2833
You can solve it with https://github.com/microsoft/PowerToys/issues/2072#issuecomment-612117036

[2020-05-10 19:25] somil55 commented on #2497
@jyuwono Do you see run as admin option when you try to launch same program from start menu ?

[2020-05-10 19:52] crutkas commented on #2497
Terminal should be an app that should launch as admin and is a packaged app.

[2020-05-10 20:55] rakusan2 opened #2835 "[Window Walker] There is a small 2x10px line left when Window Walker hides"
I have no idea how but while playing around with the Window Walker a small line was left behind.
Its task was also still running
Upon closing the Window Walker Task, the line disappeared

# Environment

Windows 10 Home 1909
OS Build 18363.815
PowerToys v0.17.0

# Screenshots

![2020-05-10_16-23-37](https://user-images.githubusercontent.com/10575235/81510234-4ec2b680-92de-11ea-8eb2-5a0dec05083d.gif

[2020-05-10 21:15] Leakbang commented on #2833
Yep, It worked, Thanks :)

[2020-05-10 21:15] #2833 closed

[2020-05-11 00:07] Midda-C commented on #2525
I can confirm this issue as well.  Using Maya, I have several sub-windows as part of my layout.  They appear and behave like any other window (with a title bar, and the normal minimize, maximise, close buttons), but holding shift of right-mouse while dragging doesn't trigger FancyZones at all.

These windows can be docked with the built-in Windows Snap shortcuts like any other window.

[2020-05-11 00:48] jyuwono commented on #2497
Yes (see below)
![image](https://user-images.githubusercontent.com/8364748/81514913-669e3880-92e6-11ea-86d6-8609463d3d0b.png)

[2020-05-11 03:14] crutkas commented on #2835
Thanks, come 0.18, window walker will be merged into launcher and this won’t be a problem then.

[2020-05-11 07:12] atorr0 opened #2836 "Per-Monitor gamma/brightness setting"
# Summary of the new feature/enhancement

Many people that work from home don't have the correct illumination conditions to work with monitors, and the Windows 10 "night light" feature is not an option, as it reduces the blue channel.

# Proposed technical implementation details

A "Monitor" section on the left and a spinner to control it.

[2020-05-11 08:12] enricogior commented on #2830
Hi @ozihashmi
it's technically possible but not trivial to implement and we don't have any plan at present to do it.
Currently you have to press both the right and left button to activate the zones and keep the right button pressed. In 0.19 we will change it and use the right click to toggle the zones activation.

[2020-05-11 08:21] enricogior commented on #1032
@tonyshixd
I really like the concept, but it seems like it requires space between zones to be always present.
It would be better to not have that requirement.

[2020-05-11 08:33] enricogior commented on #1637
@IdmFoundInHim

OK, so this is a new bug.

You only need to turn off the run on startup option, save it and then turn it on again, that should fix.

[2020-05-11 08:36] enricogior commented on #2825
@al-n
if you quit PowerToys and open the three windows and then use "Close all windows on this display", will it work?

[2020-05-11 08:41] enricogior commented on #2824
Hi @mwbmorley
FZ does support multi monitor, the UI is not ideal and we are currently working to make the multi monitor support straight forward.
Please check the readme https://github.com/microsoft/PowerToys/blob/master/src/modules/fancyzones/README.md to learn how to use the FZ editor on multiple monitors.

[2020-05-11 08:45] enricogior commented on #1973
@mms-
the problem described in this issue is not a regression of FancyZones, it can be reproduced without FancyZones running.
If you are experiencing a different problem, please open a new issue with repro steps.
I'm closing this issue since it's not caused by FancyZones.

[2020-05-11 08:45] #1973 closed

[2020-05-11 08:47] enricogior commented on #2820
I don't have repro steps for it.

[2020-05-11 10:37] Galiwyx opened #2838 "I can't use my second monitor"
# Environment
-Windows 10
- dual monitor 2560x1440

# Steps to reproduce

Edit Zones > I have access only with my primary monitor.

If I try to add a custom layout, I can move zones only on my primary monitor

I think I'm dumb but I don't understand how configure my second monitor.

Solved : I need to move the FancyZones settings window to the second monitor.

[2020-05-11 10:57] ivan100sic opened #2839 "[Settings UI] Incorrect label in Shortcut guide settings"
PT version: 1ecedd5566839676254eeabf47d29a3890b4fa10

The label on the settings page of Shortcut guide is incorrect, it's 'Choose Settings color' but it should be 'Choose shortcut guide overlay color'

[2020-05-11 11:49] enricogior commented on #2838
Hi @Galiwyx
please ready my comment here https://github.com/microsoft/PowerToys/issues/2824
I'll close this issue.

[2020-05-11 11:49] #2838 closed

[2020-05-11 12:53] norikohxb opened #2841 "no more "shortcut to" when you creat a shortcut."
no more "shortcut to" when you creat a shortcut.
would you please all all those windows xp's tweak UI function back.
they are very good.
and I miss them very much

[2020-05-11 13:46] ak1dd opened #2843 "Please allow selective install and use"
I love 2 of the powertoys.   I really want 2 that you are considering for the future (update Virtual desktops... yes please!)

I do not want to install the various tools I do not want to use.   Having them in the UI makes it feel more like a collection of random things - changing fancy zones and renaming files in one UI?.

Please allow the ability to selectively install and use those powertoys you

[2020-05-11 14:03] htcfreek commented on #2829
Done in PR #2822.

[2020-05-11 14:16] JTApps-1 opened #2844 "PowerToy Context Menu periodically will not show or open"
Hello

Periodically/frequently the PowerToy context menu periodically will not show or open when I right click the icon from the notification area or attempt to access it from search dialog. I must kill the process and restart in order to get into settings when this happens.

# Environment

Windows 10 1909 April 2020 CU
[code]

# Steps to reproduce

Not sure what causes this. At times, it does app

[2020-05-11 14:36] JTApps-1 opened #2845 "[Launcher] Verify focus and cursor position on launch"
# Summary of the new feature/enhancement

When I invoke the Window Walking, I notice that I have to then click inside the WW window using mouse or task switcher in order to start typing. This is not a problem when you have to take the extra step 1 or 2 times in a day but if you start using the feature a lot, it gets cumbersome and not as initiative as it can be. Don't get me wrong, THIS IS A GREAT

[2020-05-11 14:49] JTApps-1 opened #2846 "Short cut key to alternate between different FZ Layouts"
# Summary of the new feature/enhancement

Short cut key to alternate between different FZ Layouts. Frequently, you workflow changes and you need to switch to a totally different group of tasks. Depending on the new  workflow, you may need to quickly employ a different FZ zone layout previously created with that workflow in mind. It would be awesome to do this on the fly using a shortcut key.

# Pr

[2020-05-11 15:00] JTApps-1 opened #2847 "Fancy Zones: Zone Layouts should automatically resize based on changes in screen resolution"
# Summary of the new feature/enhancement

Fancy Zones: Zone Layouts should automatically resize based on changes in screen resolution. Frequently I switch between monitors, multimonitor or present. When I do this, often my screen resolution must change. It would be great if FZ was smart enough to resize based on resolution changes.

# Proposed technical implementation details (optional)

Track FZ

[2020-05-11 15:29] niels9001 commented on #2766
@crutkas For the shortcuts, would something like this work?

![image](https://user-images.githubusercontent.com/9866362/81579878-fc040000-93ac-11ea-9239-774c05e574a0.png)

[2020-05-11 15:35] saahmedm commented on #2649
this this is launcher related

[2020-05-11 15:37] stuffaboutpete opened #2849 "FancyZones: With/without external monitor(s) workflow"
I'd love to describe my dream workflow with FancyZones. I don't know if it's practical or in line with how the product is imagined long term but, I guess, speak now or forever hold your peace...

# Summary of the new feature/enhancement

I use virtual desktops a lot and I have two fairly large external monitors which I use when at my desk. I'm not always at my desk. So I have two totally different

[2020-05-11 15:44] saahmedm commented on #243
The fix will be in the 0.18 release, it is being tested right now.

[2020-05-11 15:45] #2450 closed

[2020-05-11 16:06] JTApps-1 commented on #2845
Upon further investigation, cursor/focus does go to the WW window when the shortcut key is pressed but not always. The current implementation doesn't seem reliable. I think the implementation should force the cursor to the WW windows until the user clicks ESC or choose an item in the results list.

Implementing "in app" shortcut Ctrl+Tab would be great.

[2020-05-11 16:09] htcfreek commented on #2766
@niels9001
I known that this is a first test and I like it. ♥️

I have seen that the text rendering on small device should be optimized. The text wrap around images and the buttons is incorrect.
Sory that I can't provide a screenshots.

[2020-05-11 16:25] jyuwono commented on #2497
I see it working now. Possibly a cache issue previously.
![image](https://user-images.githubusercontent.com/8364748/81585713-65621f80-9369-11ea-8e86-fbd3a1e28ddd.png)

[2020-05-11 16:25] #2497 closed

[2020-05-11 16:52] crutkas commented on #2649
@alekhyareddy28 please verify here

[2020-05-11 16:52] saahmedm commented on #2649
@alekhyareddy28 to verify!

[2020-05-11 16:53] crutkas commented on #2660
@alekhyareddy28 will investigate

[2020-05-11 17:10] #2665 closed

[2020-05-11 17:10] #2778 closed

[2020-05-11 17:13] crutkas commented on #2766
@niels9001 is that possible to do those style buttons in markdown?

[2020-05-11 17:18] traies opened #2851 "[Settings] Crash when starting Settings from a fresh Windows install"
Settings crashes when trying to start from a fresh Windows install.
This crash is fixed by installing the Visual C++ 2019 Redistributables.
We should probably include them in our installation process.

# Environment

[code]

# Steps to reproduce
1. Install PowerToys.
2. Run PowerToys.
3. Double click the system tray icon

# Expected behavior
1. Settings page starts up

# Actual behavior
1. Nothing

[2020-05-11 17:21] niels9001 commented on #2766
Nope. Maybe with some HTML (but I think md support is pretty basic)?

These buttons are just images (screenshots of the Fluent/Fabric UI web toolkit) with a link. Not perfect, but should do the trick.

[2020-05-11 17:57] JTApps-1 commented on #2845
Upon further investigation, it appears that the cursor/text focus does go to the WW when invoking from the shortcut but it doesn't do this always. It appears this behavior is inconsistent. I believe the best implementation should be to force the text focus to be in the WW unless the user click ESC, choose item from the result list or mouse click away from the window. In all these scenarios, the WW

[2020-05-11 18:39] crutkas commented on #2766
Let’s do links at first and then improve later. Needs to be accessible and work if someone wants to translate.

[2020-05-11 18:42] mehmet-erdogdu opened #2854 "fancy zone çalışmıyor"
iki monitöre sahibim. ve fancy zone çalışmıyor. shift ile kaydırıyorum ama herhangi bir alan görüntülenmiyor.

[2020-05-11 18:52] jyuwono commented on #2845
Hi @JTApps-1, thanks for the feedback! Please keep in mind that WindowWalker will be merged with launcher in 0.18 and we have implemented this behavior for launcher. Feel free to verify in our latest master that the behavior is as you expect it to be.

[2020-05-11 18:52] nachogo commented on #2844
Same problem here since version 0.17.0

In my case, although I´m not 100% sure, I think PT (FZ is my main use) stop working mainly after resume from sleep. As you mention, I also need to stop the PT process in TasksAdmin and run PW again.

[2020-05-11 18:53] htcfreek commented on #2766
Could we use css styled html buttons?

[2020-05-11 18:55] crutkas commented on #2766
Doubtful. Rather do a first pass then investigate updates.

[2020-05-11 18:59] niels9001 commented on #2766
Yeah, look into that. Let's stick to default links for now.

@crutkas What links do we need at the top? And can I open a PR to get this in?

[2020-05-11 19:08] niels9001 opened #2855 "[Settings v2] 'Run as administrator' label should be improved"
To follow up on the discussion in #2822

We need to finetune the wording around PowerToys requiring administrator/admin/elevated permissions.

Things to consider:
- Wording of the warning title
- Can we hide UI elements (like the 'Restart as administrator' button) if the app already runs with elevated permissions?

[2020-05-11 19:09] crutkas commented on #2854
English translation from Turkish: I have two monitors. and the fancy zone is not working. I scroll with shift, but no field is displayed.

[2020-05-11 19:11] crutkas commented on #2854
Do you have a layout set?
Bir düzen ayarınız var mı?

Did you look at: https://github.com/microsoft/PowerToys/tree/master/src/modules/fancyzones

[2020-05-11 19:12] crutkas commented on #1410
@slashzap and @chrishas35 any chance you can respond?

[2020-05-11 19:12] crutkas commented on #1410
will reopen when @slashzap and @chrishas35 respond

[2020-05-11 19:12] #1410 closed

[2020-05-11 19:14] htcfreek commented on #2855
Idea for the label:
* "running with administrativ permissions"

[2020-05-11 19:17] htcfreek commented on #2688
@crutkas Can you please give us a feedback on this. Especially the about section changes. Thank you.

[2020-05-11 19:19] htcfreek commented on #2688
@niels9001

What about changing the toggle switch title "Download updates automatically" to "Download updates automatically when running with administrativ permission and I don't use a metered internet connection"? Then the user knows everything what is important and we don't need an explanation text under the toggle switch?

__Moved to the issue that we can discuss it here!__

[2020-05-11 19:25] jyuwono commented on #2845
I also want to add, we've noticed some inconsistencies on the focus behavior using current implementation (some people see search box is in focus on launch while others don't), so we are planning to have a workaround. This work is tracked on #2365

[2020-05-11 19:25] #2845 closed

[2020-05-11 19:33] crutkas commented on #2688
@htcfreek, Lets pause and have single items here.  We are going to merge the main item here. This issue will be closed out for the the pending PR.

At this point, tweaks should be individual tracked issues so they can be discussed at their own merit.

Single issue, single topic, single PR

[2020-05-11 19:36] htcfreek commented on #2855
In later build we could add a helper process which automatically ask for permission when the user change such a setting.

[2020-05-11 19:37] crutkas commented on #2328
this should still be in progress and I think @somil55 is doing the work

[2020-05-11 19:38] htcfreek commented on #2688
@crutkas, @niels9001
I will create the issues later and we can merge the existing PR if no critical changes needed anymore.

[2020-05-11 19:40] crutkas commented on #415
If we do a CI where public can grab the bits, it may have to be signed.  I don't think the CI currently will enable that.

[2020-05-11 19:41] #2829 closed

[2020-05-11 19:42] htcfreek commented on #2829
@crutkas Please add the lables "Fix-commited", ...

[2020-05-11 19:43] niels9001 commented on #2808
#2822 did this, so this issue can be closed

[2020-05-11 19:44] niels9001 commented on #2804
Part of #2822

[2020-05-11 19:45] #2688 closed

[2020-05-11 19:45] niels9001 commented on #2806
Part of #2822

[2020-05-11 19:45] #2461 closed

[2020-05-11 19:45] #2779 closed

[2020-05-11 19:45] #2815 closed

[2020-05-11 19:46] #2710 closed

[2020-05-11 19:47] niels9001 commented on #2625
@laviusmotileng-ms Provided the answer: un-install the latest Windows 10 SDK preview.

[2020-05-11 19:47] #2625 closed

[2020-05-11 19:47] niels9001 commented on #2479
Done in #2700

[2020-05-11 19:47] #2479 closed

[2020-05-11 19:48] niels9001 commented on #2127
We're disabling interactive UI elements, which is best practice.

[2020-05-11 19:48] #2127 closed

[2020-05-11 19:49] jyuwono opened #2857 "[Launcher] PowerLauncher should be renamed to PowerToys Run"
Rename "PowerLauncher" to "PowerToys Run"

[2020-05-11 19:53] jyuwono opened #2858 "[Launcher] Add readme"
Add a readme / module overview

[2020-05-11 19:55] crutkas commented on #1644
#2012 would be main tracking issue now.  I do think what you pointed out here is good info.

[2020-05-11 19:55] #1644 closed

[2020-05-11 19:55] crutkas commented on #2012
Form @crazyyzarc in #1644.

Explorer process crashed/restarted, because wrong UninstallString was set. Instead of /l (logging) the parameter /x (Uninstall) must be set.

From @enriogior
Hi @crazyyzarc
thank you for reporting the issue and taking the time to investigate it.
The MsiExec uninstall flags is a capital i and is generated automatically as far as I know.
With that flag, the MsiExec is sup

[2020-05-11 19:57] ogKamy commented on #518
@DavidGretzschel Hey David, I'm currently working on a feature to implement Hotkeys for FancyZone layouts, and would love to get your feedback! If you're interested, please fill out this [form](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_pRopwr7jdKo2d3Zl9VMBRUQUxETTQ4NVBGOEY2SDNITVpJWE5RUlU5NS4u).

Feedback from anyone else who would appreciate such a feature is welco

[2020-05-11 19:58] ogKamy commented on #2480
@Martin-Hausleitner Hey Martin, I'm currently working on a feature to implement Hotkeys to quickly switch between FancyZones custom layouts, and would love to get your feedback! If you're interested, please fill out this [form](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_pRopwr7jdKo2d3Zl9VMBRUQUxETTQ4NVBGOEY2SDNITVpJWE5RUlU5NS4u).

Feedback from anyone else who would

[2020-05-11 19:58] htcfreek commented on #2857
Why? I like the term PowerLauncher.

[2020-05-11 20:00] ogKamy commented on #1411
@martinandersen3d @dparlevliet @wookiesh Hey everyone, I'm currently working on a feature to implement Hotkeys to quickly switch between FancyZones custom layouts, and would love to get your feedback! If you're interested, please fill out this [form](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_pRopwr7jdKo2d3Zl9VMBRUQUxETTQ4NVBGOEY2SDNITVpJWE5RUlU5NS4u).

Feedback from

[2020-05-11 20:01] ogKamy commented on #1997
@zuldero @haganbmj Hey everyone, I'm currently working on a feature to implement Hotkeys to quickly switch between FancyZones custom layouts, and would love to get your feedback! If you're interested, please fill out this 3-min [form](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_pRopwr7jdKo2d3Zl9VMBRUQUxETTQ4NVBGOEY2SDNITVpJWE5RUlU5NS4u).

Feedback from anyone else who

[2020-05-11 20:02] ogKamy commented on #2406
@shawnweisfeld @marcon89 Hey everyone, I'm currently working on a feature to implement Hotkeys to quickly switch between FancyZones custom layouts, and would love to get your feedback! If you're interested, please fill out this 3-min [form](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_pRopwr7jdKo2d3Zl9VMBRUQUxETTQ4NVBGOEY2SDNITVpJWE5RUlU5NS4u).

Feedback from anyone el

[2020-05-11 20:03] ogKamy commented on #177
@StJohn3D @ubremer1234 Hey everyone, I'm currently working on a feature to implement Hotkeys to quickly switch between FancyZones custom layouts, and would love to get your feedback! If you're interested, please fill out this 3-min [form](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_pRopwr7jdKo2d3Zl9VMBRUQUxETTQ4NVBGOEY2SDNITVpJWE5RUlU5NS4u).

Feedback from anyone else

[2020-05-11 20:04] ogKamy commented on #1440
@albertony @jstaro Hey everyone, I'm currently working on a feature to implement Hotkeys to quickly switch between FancyZones custom layouts, and would love to get your feedback! If you're interested, please fill out this 3-min [form](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_pRopwr7jdKo2d3Zl9VMBRUQUxETTQ4NVBGOEY2SDNITVpJWE5RUlU5NS4u).

Feedback from anyone else who

[2020-05-11 20:06] somil55 commented on #2328
@crutkas I am working on #2365 which won't solve this issue. I think Alekhya had a hypothesis that first keyboard input issue was because of alt+space.

[2020-05-11 20:07] traies commented on #2820
@enricogior Are you still getting this crash? Or was it a one off thing?

[2020-05-11 20:17] crutkas commented on #2365
lets see if we can't do a quick flip here for just the text box

[2020-05-11 20:17] crutkas commented on #2328
Ahhhh, yes, then i do think i may have fixed this one.

[2020-05-11 20:18] albertony commented on #1440
Option 2 means I can assign a single hotkey that will change to an individual layout for every screen, e.g. a 2-zone layout on screen A and 3-zone layout on screen B?

[2020-05-11 20:42] mehmet-erdogdu commented on #2854
I added 3 rows

11 May 2020 Pzt 22:11 tarihinde Clint Rutkas <notifications@github.com>
şunu yazdı:

[2020-05-11 20:54] mehmet-erdogdu commented on #2854
i have but not working

[2020-05-11 20:56] alekhyareddy28 commented on #2649
I verified that the appdata for Run is under the Appdata\Local\PowerToys\Run folder and not under the Appdata\Roaming folder. It is consistent with the rest of the PowerToys.

[2020-05-11 20:57] crutkas commented on #2649
🤘🤘

[2020-05-11 20:59] jyuwono commented on #2328
I'm not seeing the issue anymore

[2020-05-11 20:59] #2328 closed

[2020-05-11 21:27] DavidGretzschel commented on #518
@ogKamy
Great to hear, that this is coming!

I filled out the form.
Over the last six months I've been using a variety of different monitor setups.
But now I think I've finally found something that works really well. So now I don't really care if a shortcut for layout-switching would follow the mouse cursor or the active window (to determin which monitor it affects), since I think I'll stick with

[2020-05-11 21:31] DavidGretzschel commented on #1440
@albertony
That's how I interpreted it as well.  A meta-layout.
I considered suggesting it myself at some point, but I can't keep track anymore what's already been suggested and what hasn't.
Don't care about it personally anymore, as I think I'm over multi-monitors since having an absurdly 32:9 49incher filling my whole field of vision on its own.

[2020-05-11 21:31] enricogior commented on #2820
@traies
I've been switching between several different branches and so I didn't have the opportunity to verify if the crash was consistent. I'll let you know if I run again in the crash.

[2020-05-11 21:36] enricogior commented on #2844
Hi @JTApps-1 @nachogo
please read this https://github.com/microsoft/PowerToys/issues/2563#issuecomment-622462804
I'll close this issue as duplicate of https://github.com/microsoft/PowerToys/issues/2563
Thanks.

[2020-05-11 21:36] #2844 closed

[2020-05-11 21:40] DroidxTim opened #2865 "Update hortcut Guide"
# Summary of the new feature/enhancement

# Proposed technical implementation details (optional)

[2020-05-11 21:43] #1751 closed

[2020-05-11 21:46] DroidxTim opened #2867 "Update Shortcut Guide"
The Shortcut Guide does not include Win+V (Clipboard Viewer) and does not appear to show multi-Win+[Key] shortcuts such as Win+Shift+S for Screen snip.

[2020-05-11 21:47] #2865 closed

[2020-05-11 21:47] DroidxTim commented on #2865
dupe

[2020-05-11 21:49] DavidGretzschel commented on #518
Another thing I forgot to mention in the form:
Speed is the most important feature for such a shortcut.
A switch-time after shortcut press of two seconds would be..... okish, but unfortunate.
Make it a quarter second (with or if necessary for speed without a quick Zone-flash) and it could be quite magical in conjunction with the "Windows stay in their Zones"-setting.
Imagine going thru 5 Layouts i

[2020-05-11 22:05] #2851 closed

[2020-05-11 22:09] al-n commented on #2825
It does not work either, but one can here a windows alert sound when choosing "Close all windows on this display".

[2020-05-11 22:30] saahmedm opened #2869 "Add icons to KBM"
Change icon for KBM windows in tray and in the title bar.

the keyboard classic icon here:
https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font

[2020-05-11 23:05] ogKamy commented on #1440
Yes, this is exactly what I meant.

[2020-05-11 23:30] crutkas commented on #2854
can you take a screenshot of your FZ settings?

[2020-05-11 23:35] ticobye opened #2871 "FancyZones does not activate"
FancyZones does not activate. Just that.
First, I installed PowerToys on my PC (Windows 10 64x) and it worked just fine. I've set PowerToys to run at startup. And, after a restart, I saw the icon in the traybar - Image resizer and Shortcut guide work just right... But, FancyZones does not work anymore. I have to close the app and start it again, and again, and after 2 times of restarting it, Fancy

[2020-05-11 23:50] ogKamy commented on #518
We're on the same page. I have also seen multiple people recommend we keep the "focus on active window" instead, so this is noted. Your feedback was immensely helpful, thank you.

[2020-05-12 00:13] arjunbalgovind opened #2872 "KBM Default window size is not DPI aware"
The initial window size does not scale with DPI, causing a bad user experience for users who have set higher scaling in Windows Settings.

[2020-05-12 00:18] #2783 closed

[2020-05-12 00:18] TheMisir commented on #2857
PowerLauncher is much better

[2020-05-12 00:20] rockfordlhotka opened #2874 "FancyZones loses zone settings when monitor changes resolution"
# Environment

[code]

# Steps to reproduce

1. Set up fancyzones with 4 zones (quadrants)
1. Run a game or use display settings so the monitor resolution changes to a lower value (in my case from 4k down to 2k or 1920x1080)
1. Change the monitor resolution back to standard (in my case 4k)
1. Zones are gone (or maybe just changed somehow?)

# Expected behavior

I would expect the zone configuratio

[2020-05-12 00:31] arjunbalgovind opened #2876 "[KBM] window do not respond to DPI changes (perfectly)"
# Steps to reproduce

Open either of the KBM windows. Change the scaling on windows by going to Settings > Make everything bigger

# Expected behavior

Like the PowerToys settings window, the KBM window should resize and become larger.

# Actual behavior

While the actual content inside the window resizes (since it is DPI aware), the C++ parent window does not resize

[2020-05-12 01:33] jyuwono commented on #2857
The name was chosen based on [a poll](https://twitter.com/ClintRutkas/status/1250546746427535360) that @crutkas created

[2020-05-12 02:32] hphuangpu opened #2877 "Failed to create the WebView control"
It says, Please report the bug to https://github.com/microsoft/PowerToys/issues.......

[2020-05-12 02:59] JTApps-1 commented on #2844
yes, agreed very similar

[2020-05-12 03:17] JTApps-1 commented on #2845
Perfect!

[2020-05-12 03:22] JTApps-1 commented on #2563
In this condition, windows modern authentication popup window will not show for sticky notes (haven't tried other apps) until I kill the PowerToys process. Immediately after killing the PT process the windows modern auth window will appear if I attempt to sign in again.

Please ensure you validate this functionality after resolving this issue.

[2020-05-12 03:50] ryanbodrug-microsoft opened #2878 "Telemetry Events should specify Privacy Data tags."
Currently privacy tagging isn't being specified in any of the telemetry events.
# Environment

[code]

# Steps to reproduce

# Expected behavior

Each generic telemetry event should have a PartA_PrivTags field that indicates the appropriate privacy tag for that event.

# Actual behavior

# Screenshots

[2020-05-12 04:58] crutkas commented on #2877
Thanks. This will be fixed in 0.18. This is issue #243.

[2020-05-12 04:58] #2877 closed

[2020-05-12 05:20] N0stalgia opened #2880 "git bash for win10"
# Environment
Microsoft Windows [10.0.18362.778],
git bash mintty2.8.4
PowerToysSetup-0.17.0-x64
[code]

# Steps to reproduce

dragging git bash window from a zone to an other.
zone size is different.

# Expected behavior

keep the same text font size
# Actual behavior

git bash text become smaller or bigger.
# Screenshots
![Uploading image.png…]()

[2020-05-12 05:23] enricogior commented on #2880
Hi @N0stalgia
please read this https://github.com/microsoft/PowerToys/issues/1050
I'm closing this issue as duiplicate of https://github.com/microsoft/PowerToys/issues/1050

[2020-05-12 05:23] #2880 closed

[2020-05-12 05:28] enricogior commented on #2563
Hi @JTApps-1
please open a new issue, since what you described is a different problem.
Thank you.

[2020-05-12 05:32] enricogior commented on #2871
Hi @ticobye
please read this https://github.com/microsoft/PowerToys/issues/2563#issuecomment-622462804
It may solve your problem.

[2020-05-12 05:42] enricogior commented on #2825
If this reproduces without FancyZones, you should report the bug to Mozilla.
Closing the issue as external.

[2020-05-12 05:42] #2825 closed

[2020-05-12 06:36] Swoy opened #2882 "v0.17.0: Pressing save in settings popup dialog does not redirect to intended settings page."
# Environment

[code]

# Steps to reproduce
1. Open settings
2. Make a change in one of the settings pages but do not press the save button.
3. Click on another page link i.e.: Window Walker.
4. Observe the expected dialog on screen:
![image](https://user-images.githubusercontent.com/5272077/81646209-24324400-942b-11ea-8a73-805e79faa685.png)
5. Press save.

# Expected behavior
The user should expe

[2020-05-12 06:46] enricogior commented on #2882
Hi @Swoy
thanks for your feedback. Given we are moving to a complete new settings application, we will not fix any minor issue with the old one.
Thank you.

[2020-05-12 06:46] #2882 closed

[2020-05-12 07:02] snaildos commented on #2830
There isn't really a point in this? Just use WIN + left or right arrow key's.

[2020-05-12 07:07] snaildos commented on #2824
Why close this? This is important. Lot's of people use would use this.

[2020-05-12 07:12] enricogior commented on #2830
@snaildos

Accessibility is important, not everyone can use a combination of mouse + keyboard.

[2020-05-12 07:14] enricogior commented on #2824
@snaildos
since the feature is documented in the README, there is no reason to keep the issue open.

[2020-05-12 07:23] mickverm commented on #2022
I've started a PR with a fix. A small issue in the table's CSS caused the tables to render incorrectly.

[2020-05-12 07:29] enricogior opened #2884 "[KeyboardManager] not all control paths return a value"
This applies to current master 4dfac020650989c598bf4eb529bfe5e136047889

These warnings should be treated as errors:
[code]

[2020-05-12 07:51] enricogior opened #2885 "[Settings v2] autoupdate option should not be grayed out"
If the user is a member of the admin group, this option should be enabled even if PowerToys is not running elevated.

![image](https://user-images.githubusercontent.com/3206696/81654466-dec74400-9435-11ea-8260-06d790e008e8.png)

[2020-05-12 08:13] enricogior opened #2886 "[installer] fail to build trying to add non-existent DLLs"
This applies to current master 4dfac020650989c598bf4eb529bfe5e136047889

The installer is trying to add to the MSI some DLLs that are not present in the build output folder
https://github.com/microsoft/PowerToys/blob/4dfac020650989c598bf4eb529bfe5e136047889/installer/PowerToysSetup/Product.wxs#L746

![image](https://user-images.githubusercontent.com/3206696/81657984-a5dc9e80-9438-11ea-8e46-31cf5bb

[2020-05-12 08:27] enricogior opened #2887 "[installer] uninstalling PT requires quitting other apps"
This applies to current master 4dfac020650989c598bf4eb529bfe5e136047889
The MSI is trying to uninstall components that are used by other apps.

![image](https://user-images.githubusercontent.com/3206696/81660327-e5a48580-943a-11ea-87ef-bb838d12556e.png)

[2020-05-12 08:32] PrzemyslawTusinski opened #2888 "PowerLauncher can be moved with overriden win+arrow key"
# Steps to reproduce
- set fancyzones and set "override windows snap..." on
- open powerlanucher
- use win + arrow
# Expected behavior
Launcher is not moved
# Actual behavior
Launcher is moved

[2020-05-12 08:50] snaildos commented on #2824
I guess.

[2020-05-12 09:55] MMK21Hub opened #2890 "Settings window stuck saving"
# Environment

[code]

# Steps to reproduce

 1. Make a change to one of the settings
 2. Click save

# Expected behaviour

It says 'saving' briefly and then saves.

# Actual behaviour

It gets stuck on 'saving'.

# Screenshots

![image](https://user-images.githubusercontent.com/50421330/81670110-0969ca80-943f-11ea-80dc-4485739dddaf.png)

[2020-05-12 10:15] htcfreek commented on #2885
Do we also have to check the update process itself for this bug?

[2020-05-12 10:20] enricogior commented on #2890
Hi @MMK21Hub
I'm assuming it's version 0.17 since 0.18 hasn't been released yet.
Please read https://github.com/microsoft/PowerToys/issues/2563#issuecomment-622462804
The problem you reported is very likely a different aspect of the same problem described by https://github.com/microsoft/PowerToys/issues/2563
I'm closing this issue as duplicate of #2563
Thanks.

[2020-05-12 10:20] #2890 closed

[2020-05-12 10:20] enricogior commented on #2885
Not sure I understand what you mean.

[2020-05-12 10:34] htcfreek commented on #2885
As far as I know the auto download works only if PT is running with admin rights. Right?

So there was an issue in the past to hide the setting when PT running as user. That's why the toggle switch is disabled.

I am not sure if the setting is saved in the user kontext. But if auto download really works only with admin rights we should disable setting and toggle switch in the UI if PT is running a

[2020-05-12 10:38] htcfreek opened #2891 "[Bug] Detecting admin rights not working correctly"
# Environment

[code]

# Steps to reproduce
1. disable UAC
2. logon with an admin user
3. start powertoys.exe only with double click

# Expected behavior

PowerToys says: Running as admin

# Actual behavior

PowerToys says: Running as user

[2020-05-12 10:39] htcfreek commented on #2885
Sory. I did a little bit misunderstanding this issue.

But we have a bug in admin detection routine. Please see #2928

[2020-05-12 10:50] htcfreek commented on #2891
It's not a bug. It's the normal behaviour of Windows. I close this issue.

[2020-05-12 10:51] #2891 closed

[2020-05-12 10:52] Bortseb opened #2892 "Enable editing of space around zones for existing custom layouts"
# Enable the editing of 'space around zones' for existing custom layouts

Currently one is only able to edit the space around zones for new layout templates.

[2020-05-12 10:54] htcfreek commented on #2885
@enricogior @crutkas
If my understanding of the auto download feature is correct, what about renaming the setting's title to "Download updates automatically if PowerToys running with administrative rights and I not use a metered connection"?

[2020-05-12 11:02] Bortseb opened #2893 "Enable snapping to 2+ zones that don't share a common edge/point"
# Summary of the new feature/enhancement

With the latest release we can snap to 2+ zones by hovering over the edge/point they all share in common. I would like to be able to snap to 2+ zones that don't all share a common edge/point.

# Proposed technical implementation details (optional)

One way this could be made to work is by hovering over all of the zones you want to snap to. It would inevita

[2020-05-12 11:11] niels9001 commented on #2885
@enricogior That's probably part of #2822, sorry about that.

We could just remove the IsEnabled attribute like it was before - should we remove the warning text as well? Let me know and I'll put in a PR.

[2020-05-12 11:24] yuyoyuppe opened #2894 "Use x64 platform for Telemetry and PowerLauncher.Telemetry projects"
Currently they use AnyCpu

[2020-05-12 11:59] enricogior commented on #2892
Hi @Bortseb
please use https://github.com/microsoft/PowerToys/issues/1032 to provide your feedback for the FZ eidtor.
Thank you.

[2020-05-12 11:59] #2892 closed

[2020-05-12 12:02] enricogior commented on #2893
Hi @Bortseb
thank you for your feedback.
We currently don't have any plan for such a feature.
The proposed implementation is not ideal because it generates overhead for the regular snapping.

[2020-05-12 12:09] enricogior commented on #2885
@niels9001
no problem, we are working to fix it and make it behave as in the old settings when the user is a member of the admin group.

For a user that is not an admin, we should either hide it or show a different warning, since at present PT doesn't support to run as an admin if the user is not an admin.
I think it's preferable we hide the option at this stage.
If we go for the warning it should

[2020-05-12 12:16] htcfreek commented on #2885
@enricogior
Hiding Settings is against the guidelines and could confusing the users.

What about this idea?

[2020-05-12 12:19] enricogior commented on #2885
@htcfreek

In this case I think it's way more confusing to show it.
Also it's not consistent with the old settings.
Hiding will only be temporarily until we fix it so a non admin user will be able to run PT as an admin.

[2020-05-12 12:24] htcfreek commented on #2885
For me it would be confusing to see a setting as administrator and not seeing it as user without knowing why.

But I thought we want to be consistent with the win10 settings and the app settings guidelines?

What do we have to fix. Did I missed something?

What about the title change? Especially the info for metered connections?

[2020-05-12 12:45] Bortseb commented on #2893
maybe add an additional modifier key for this type of selection then? CTRL+SHIFT+Drag?

I'd really like the option to have more zones in a grid layout, and then be able to snap a window to something like a 2x3, 3x3, 3x4, etc sub-grid.

[2020-05-12 13:30] enricogior commented on #2885
That information can be added to the readme, otherwise you will have to put "This option is only available if the user is a member of the administrators group, and don't even try to run PT as an admin if you are not in the administrators group, because we are still in technical preview and this is not supported yet"

[2020-05-12 13:31] enricogior commented on #2885
That is a good information too add.

[2020-05-12 13:32] htcfreek commented on #2885
Settings name?

[2020-05-12 13:35] htcfreek commented on #2885
Not supported? That's new for me. What is exactly not supported?

[2020-05-12 13:43] enricogior commented on #2885
That's OK with me, unless there are other better option.

Running PT as a different user is not working at present. so a user that is not an admin cannot run it as an admin since it's a different user. We will fix it, hopefully in 0.19.

[2020-05-12 13:45] dtslubbersen opened #2898 "Google Chrome Tabs + FancyZones doesn't work as expected."
# Environment

[code]

# Steps to reproduce

1. Click and hold a tab from Google Chrome.
2. Hold the shortcut key to enable FancyZones (By default Shift).
3. Tab now goes back to Google Chrome instead of making a new window.

# Expected behavior

Held tab becomes a new window (like it does when you drag it to the left or right of your monitor using Windows snap) and is assignable to a FancyZone.

[2020-05-12 14:36] aarcoraci opened #2899 "make windows shortcuts work per screen"
# Summary of the new feature/enhancement

As a person who uses more than one screen it would be very useful if some shortcuts (like minimize all windows) work per screen.

A good example reading a document in screen number one while working on screen number two and needing to access a document on the desktop. The shortcut WINDOWS + D minimizes everything on both screens.

This is the first time I

[2020-05-12 14:40] htcfreek commented on #2885
@enricogior @niels9001

Collection of our results so far:
- Change settings name/title to "Download updates automatically only if I not use a metered connection"
- Remove "disabling functionality", hide the setting for normal users and add an information to the ReadMe.

Rigth?

[2020-05-12 14:46] enricogior commented on #2898
Hi @dtslubbersen
there is nothing we can do about it.
If you quit PowerToys and you drag a Chome tab, pressing the shift key it will reset the tab.

[2020-05-12 14:51] Kirtpank commented on #2539
Thanks for replying Jessica. The issue was me.

From: Jessica Yuwono <notifications@github.com>
Sent: Friday, May 8, 2020 12:14 PM
To: microsoft/PowerToys <PowerToys@noreply.github.com>
Cc: Kirtpank <kirtpank@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/PowerToys] Window Walker (#2539)

Sorry @Kirtpank <https://github.com/Kirtpank> , I'm not seeing any attached screensh

[2020-05-12 15:31] crutkas opened #2900 "Settings on double click from systray 2 comes up"
double click on systray, 2 comes up
![image](https://user-images.githubusercontent.com/1462282/81713588-ec2b0100-942a-11ea-8fe4-1d408b3aacf7.png)

[2020-05-12 15:59] alekhyareddy28 commented on #2660
ShObjldITIb.dll. The various objects/namespaces that are missing -
1. Application Activation Manager
2. ACTIVATE OPTIONS
3. IPersistFile
4. Using Shell namespace
5. ShellLink
6. _RemotableHandle
7. WIN32_FIND DATAW

[2020-05-12 16:06] Blueric opened #2903 "Fancy Zones - Lockup on Shift-Drag to Zone"
# Environment

[code]

# Steps to reproduce

I have a multi-monitor setup with my secondary display above my primary in the upper right. I have setup 3 fancy zones on the primary display, and 2 zones on the secondary display. (See screen shots)

I have PT Fancy zones configured to require the shift-key to be pressed to drag a window into a zone.

I have PT set to run as Administrator.

# Expected

[2020-05-12 16:07] saahmedm commented on #2280
To potentially push to v1...

[2020-05-12 16:32] enricogior commented on #2903
Hi @Blueric
thank you for reporting the issue, it looks like the same problem reported by https://github.com/microsoft/PowerToys/issues/2377 and https://github.com/microsoft/PowerToys/issues/2782
Feel free to add you comments there, I'm closing this one as duplicate.
Thanks.

[2020-05-12 16:32] #2903 closed

[2020-05-12 16:37] htcfreek opened #2908 "Tweak "About PowerToys" in General settings tab into sections"
In this issue I will take up my porposal from PR #2822 and issue #2688 to change the structure of the "About PowerToys" section in the side panel of general settings page.
I think the existing structure should be better sorted and can be supplemented by @niels9001 proposal of an open source info.

@crutkas What do you think about the proposed changes?

### Proposal for structure
| Now <br /> (imag

[2020-05-12 16:42] crutkas commented on #2657
how does folder / indexer do this but calc fail?

[2020-05-12 16:48] crutkas commented on #2784
@SeraphimaZ does this happen anymore on master on upgrade or new user path?  we can't repro it.

[2020-05-12 16:49] crutkas commented on #2820
closing this out for now since we can't repro

[2020-05-12 16:51] enricogior commented on #2784
We haven't seen it again. closing it for now as no repro.

[2020-05-12 16:51] #2784 closed

[2020-05-12 16:52] crutkas commented on #2900
only should have one window.  (and no white box also :))

[2020-05-12 16:58] crutkas opened #2909 "Update launcher naming"
Update naming

[2020-05-12 16:59] #2872 closed

[2020-05-12 17:16] traies opened #2910 "[Settings] Fix General Settings tests"
* General Settings fail to run because `ResourceLoader.GetForCurrentView` throws an exception when running the unit tests.

# Environment

[code]

# Steps to reproduce
* Run all Microsoft.PowerToys.Settings.UnitTest

# Expected behavior
* Test pass

# Actual behavior
* General tests fail.

[2020-05-12 17:19] crutkas commented on #2908
I think it is a good idea.  Too verbose.  we need the open source notice as well.

* Open source
* Feedback
* Notices

[2020-05-12 17:32] enricogior opened #2911 "[Run] Improve code to exclude it from zonable windows"
With reference to https://github.com/microsoft/PowerToys/issues/2888
We fixed it hard-coding the executable name.
A better solution would be to set the proper flags on the Launcher window so that `IsInterestingWindow()` will return false.

[2020-05-12 17:45] htcfreek commented on #2908
**What about the following structure:**
Open source text
-> Learn more (Link to explanation)
-> Open source notice
-> How to contribute
-> Github project page

Privacy text
-> Privacy statement

-> Give feedback

I understood your comment so that we should only have one feedback link on the general page. Right?

[2020-05-12 17:48] htcfreek commented on #2908
What about adding the feedback symbol in front of the feedback link name?
![image](https://user-images.githubusercontent.com/61519853/81727293-03004080-9489-11ea-85b5-3945dfea1370.png)

This is symbol `ED15` of the font `Segoe MDL2 Assets`.
[https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font](https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font

[2020-05-12 18:08] htcfreek commented on #2908
Example image including the things form the last three comments:
![About_01](https://user-images.githubusercontent.com/61519853/81729502-5c1da380-948c-11ea-8189-b427810f05f9.png)

[2020-05-12 18:10] DarylGraves commented on #2563
I understand that a fix may have been found. Does anyone know when it'll be released? Still getting this issue on a daily basis.

[2020-05-12 18:24] arjunbalgovind opened #2914 "KBM can be disabled while the KBM windows are up causing unexpected behavior"
# Steps to reproduce

Open Remap a key dialog. Go back to Settings and disable KBM.
# Expected behavior

Either the windows should close, or the user should not be able to disable at all.

# Actual behavior

The KBM window will still be up and the Type key interface will no longer work since it depends on the hook.

[2020-05-12 18:25] arjunbalgovind commented on #2914
The easier workaround is to close the windows, since we currently do not have a way to communicate from the runner to settings to inform when the window has been closed. If that existed then we could block out all the options until the window was closed.

[2020-05-12 18:25] arjunbalgovind commented on #2914
This issue would also be resolved if the dialog was made completely modal (#2466 )

[2020-05-12 18:26] enricogior commented on #2563
@DarylGraves
the fix will be included in 0.18, we are in the process of finalizing it, hopefully it won't take long.

[2020-05-12 18:38] jyuwono commented on #2539
@Kirtpank sorry I just want to clarify, is the issue resolved?

[2020-05-12 19:11] arjunbalgovind opened #2918 "Set KBM projects to treat warnings as errors"
KBM projects are currently not set up to treat warnings as errors as observed in #2884 . We should do this for the v1 release.
One of the known warnings from the xaml island code is
`C:\Program Files (x86)\Windows Kits\10\Include\10.0.18362.0\cppwinrt\winrt\impl\Windows.UI.Xaml.Media.Animation.0.h(2026,32): warning C4002: too many arguments for function-like macro invocation 'GetCurrentTime'`.
We

[2020-05-12 19:11] somil55 opened #2919 "[launcher] Result view items overflow"
We can either scale the list view height with the number of elements or set a maximum number of items in the list view based on screen size in the settings.

![Capture](https://user-images.githubusercontent.com/10995909/81735218-9154d200-9449-11ea-8ab6-bb3a794b7e37.PNG)

[2020-05-12 19:14] arjunbalgovind opened #2920 "[KBM] Move saving to json and applying off the UI thread"
Currently save to JSON is performed on the UI thread. This does not have much user facing impact because we do not have an apply button, and the window closes after saving, however if we incorporate an Apply button then we should have this as well.

[2020-05-12 19:15] arjunbalgovind commented on #2466
Changing this to v1 and created a separate issue where we fix all the issues caused by not having a modal dialog, since making the dialog completely modal requires more time.

[2020-05-12 19:26] amersaw opened #2922 "[Feature Request] File(s) hash calculation"
# Summary of the new feature/enhancement

Add a util to ease the access of file(s) hash through the properties window or in different way.

# Proposed technical implementation details (optional)
Something similar to already implemented tools like [HashCheck](https://github.com/gurnec/HashCheck) tool.

[2020-05-12 19:29] arjunbalgovind commented on #2803
Not able to repro this anymore, so closing the issue

[2020-05-12 19:29] #2803 closed

[2020-05-12 19:31] #2543 closed

[2020-05-12 19:32] #2310 closed

[2020-05-12 19:33] arjunbalgovind commented on #2216
This has been done on the UI side while remapping the shortcuts as warnings. @saahmedm should we close this or leave it open for any other places where we would want to add it?

[2020-05-12 19:56] crutkas commented on #2922
Great idea, #57 is the tracking issue for this.

[2020-05-12 19:56] #2922 closed

[2020-05-12 20:29] ribdro opened #2924 "Strange behavior in a niche use of teams-web via chrome app shortcut"
# Environment

[code]

# Steps to reproduce

When using teams (web version) as a chrome app shortcut and snapping it to a smaller priority grid the close (X) goes missing off screen.  This only seems to occur when the grid is smaller than the normal minimum.  However, it is actually slightly worse when the grid is larger, but still smaller than the normal minimum size, in which case the maximize b

[2020-05-12 20:32] saahmedm commented on #2216
Closing it for now

[2020-05-12 20:32] #2216 closed

[2020-05-12 20:51] #2869 closed

[2020-05-12 20:53] betsegaw commented on #1809
@crutkas  - Shall I remove the window walker standalone app?

[2020-05-12 21:22] crutkas commented on #1809
@betsegaw, think we did already

[2020-05-12 21:23] betsegaw commented on #1809
Awesome! Didn't see it...

[2020-05-12 21:30] bitcrazed opened #2927 "Enter Unicode codepoints via keyboard"
# Summary of the new feature/enhancement
Enable the ability to toggle between traditional 3-digit char code, and hex Unicode codepoint entry via keyboard.

To enter a symbol, e.g. £, I click and hold <kbd>ALT</kbd> and then type <kbd>0</kbd><kbd>1</kbd><kbd>6</kbd><kbd>3</kbd> (the decimal character code for the UK Pound symbol) on the numeric keyboard.

However, what if I wanted to type hexadecim

[2020-05-12 22:44] somil55 commented on #2365
@jyu

[2020-05-12 22:50] #2365 closed

[2020-05-12 23:41] #2657 closed

[2020-05-13 00:09] #2914 closed

[2020-05-13 01:28] snaildos commented on #2830
There should be a way to change these things then.

[2020-05-13 01:47] ozihashmi commented on #2830
Thanks that would be great.

I did have a macro on my mouse that did that, but now im using it for another shortcut.
I am using left click and then holding down right button, but i always forget which one to release first (left mouse button btw) and then I have to do it again.
I also like the this better den Win+arrow because im able to se all my zones and it makes it easier to choose.

Still this

[2020-05-13 02:05] snaildos commented on #2830
I'll look in how to contribute and attempt to add this. There should already be a way to customize the keys as well as monitor settings without dragging things around and mucking around. I'll see what i can do.

However, I don't know much about this type of code.
Please keep this issue open since someone else may be able to do this before me.

[2020-05-13 02:31] snaildos commented on #2408
There is a launcher?

[2020-05-13 03:33] crutkas commented on #2924
I think we need bigger screenshots here as i'm not exactly sure what we're trying to see here based on those screenshots.

Also does this happen when without PT running.

[2020-05-13 03:35] #2898 closed

[2020-05-13 03:36] crutkas commented on #2867
being tracked as part of #179 and #156

[2020-05-13 03:36] #2867 closed

[2020-05-13 04:10] crutkas commented on #2454
@somil55, does this still happen

[2020-05-13 04:21] crutkas commented on #68
you would have to add each of those remaps manually though like ctrl F to ctrl b. If they change their languages often though it might get confusing since we follow what Windows does w.r.t language changes but they face issues with exactly that. We think feedback from that kind of use case would be good but the remapper should be able to do this

[2020-05-13 04:38] crutkas opened #2933 "Validate 'getting started' doc for contribution"
We've recently done a lot of additional items that would be needed for the VS Installer

- #2932 was one of for specter mitigation
- CPPWinRT's min version as well.
- .NET Core
- WiX

I think to validate, we get a VM up and going and do the test.

For #2932, i've verified both are needed to compile
![image](https://user-images.githubusercontent.com/1462282/81772372-837b6d00-949a-11ea-890d-a0596164

[2020-05-13 04:44] ryanbodrug-microsoft commented on #2052
I believe so, it will probably go away once we remove the xaml island.  Lets try to repro after then.

[2020-05-13 05:25] crutkas commented on #2408
It is coming in 0.18 :)

[2020-05-13 05:48] gakaks opened #2934 "After running for a period of time, the fancyzones function will fail"
# Environment

[code]

# Steps to reproduce

# Expected behavior

# Actual behavior

# Screenshots

[2020-05-13 06:22] crutkas commented on #2934
When you say fail, what do you mean,  crash?  Doesn’t dock?

[2020-05-13 07:24] Dedigraz opened #2935 "Failed to create web view control"
I can't enter the setings wiindow, it keeps giving me this error: "Failed to create web view control"

[2020-05-13 07:40] philippvarga opened #2936 "FanyZones last known zone doesn´t work as expected"
# Environment

[code]

# Steps to reproduce

- Open a Window and attach it to a zone (works fine)
- Close the Window (works fine)
- Open it again
  -  Now the Window is slightly shifted and it seems like its not actual in this Zone

# Expected behavior

Set the Window in the correct zone in the correct size.

# Actual behavior

Window is in the correct size, but not in the correct zone.
Well its s

[2020-05-13 08:08] yoavstrugo opened #2937 "Fancy Zones option to automatically open apps"
# Option to automatically open apps with Fancy Zones

An option to attach applications to certain zones, so when opening a template, the apps will automatically launch and move to their zone.

# Proposed technical implementation details (optional)

When creating a template an option to attach an app to the different zones. Then when choosing this template the apps will automatically be opened and

[2020-05-13 08:08] PrzemyslawTusinski commented on #2911
Adding WS_POPUP to GWL_STYLE will make fancyzones classify PowerLanucher as non-interesting

[2020-05-13 08:15] enricogior commented on #2934
Hi @gakaks
thanks for reporting the issue, this is very likely the same problem as in https://github.com/microsoft/PowerToys/issues/2563
Please check this comment https://github.com/microsoft/PowerToys/issues/2563#issuecomment-622462804
I'm closing this issue as duplicate.
Thanks.

[2020-05-13 08:15] #2934 closed

[2020-05-13 08:45] ascii-soup commented on #2694
I would absolutely love this. It's one of a few things I desperately miss from i3/awesome.

It would be nice to be able to create a series of configurations ('views' maybe) that you can apply to individual monitors. A shortcut to change a monitor from using "View 1" to using "View 2" would be good.

A view could contain settings such as "manual window snap" or "automatic window tiling" as well as

[2020-05-13 08:46] chrisgch opened #2938 "[PreviewHandler] SVG preview handler steals focus from Explorer"
# Environment

[code]

# Steps to reproduce

1. Start the Explorer with a folder containing SVG files
2. Click on a file which is NOT an SVG file, but is located above or below one in the file list
3. Use the cursor keys to go to the SVG file

# Expected behavior

With all other preview handlers, Explorer keeps the focus, and we can switch to the next file with the cursor keys.

# Actual behavior

[2020-05-13 09:24] Poopooracoocoo opened #2939 "Rearrange virtual desktops"
# Summary of the new feature/enhancement

Rearranging virtual desktops is something people expect to be able to do and is possible on macOS and probably Linux DEs.

Note: task view was rewritten in v1803 of windows 10 and is a terrible experience. the old one was so fast and fluid while the new one is slow and janky.
# Proposed technical implementation details (optional)

There's this I guess?
htt

[2020-05-13 09:41] #1975 closed

[2020-05-13 09:53] PrzemyslawTusinski opened #2940 "Reducing "Maxium number of results" in PowerLauncher dispaly glitch"
# Steps to reproduce
- set "Maxium number of results" to 10
- open powerlauncher and type something
- set "Maxium number of results" to 2
- open Powerlauncher
# Expected behavior
Lanucher size matches number of elements
# Actual behavior
Launcher is still sized for 10 elements

![Untitled](https://user-images.githubusercontent.com/61138537/81798196-0ab6f800-9510-11ea-8db6-f719dd2bbb2e.png)

[2020-05-13 10:57] theterminator3000 commented on #2621
I'm happy to have a look at this

[2020-05-13 11:00] BenConstable9 opened #2941 "Shortcut Guide Shortcut Unbinds"
# Environment

[code]

# Steps to reproduce

N/A

# Expected behavior

Shortcut guide should open on the screen.

# Actual behavior

Nothing happens despite holding key down for a while (over 900ms). Start menu will open when key is eventually released. By reinstalling Power toys the issue is resolved but then appears to happen again several days later.

[2020-05-13 11:04] yuyoyuppe opened #2942 "Install .NET Core 3.0.x instead of .NET Core 3.1.x"
Power Launcher has multiple nuget dependencies that only support .NET Core 3.0.x, therefore we're going to use 3.0.x for everything instead of 3.1.x. This task tracks installer's post-installation task to download and install the 3.0.x runtime.

[2020-05-13 11:49] mccrispy opened #2944 "restore window"
# Summary of the new feature/enhancement

Normal behaviour when dragging a window out of the standard windows snap to zone is that the app window is restored to the size it was before the snap was executed. FancyZones should follow the same behaviour instead of changing the default window size to that of the zone it was snapped to

# Proposed technical implementation details (optional)

no idea, y

[2020-05-13 12:08] ischilling commented on #644
This feature would be great, I would love to see the ability of leading zeros, e.g. for converting tv-show files in plex tv-show format, a file, abc-s123d223-2324.ext could be than renamed to abc - s01e#1+1 where # is a leading zero (subsequently could be ## for 00 and so on), 1 is the number to count from and +1 means add 1, +2 means add 2 and so on.

This would be easier to use than regular expr

[2020-05-13 14:06] ivan100sic commented on #2944
Hi! Thank you for using PowerToys and for the suggestion! We had a similar proposal some time ago, you can read more about it here: #166.

[2020-05-13 14:49] htcfreek commented on #2885
@yevhenii44 Can you please rename the autoupdate setting too. For the name please see two comments above.

[2020-05-13 14:57] htcfreek commented on #2885
@enricogior
Can I make a pr to change the title for auto update setting?

[2020-05-13 15:12] enricogior commented on #2885
Sure. Let's put the metered connection note in parenthesis:
[code]
The actual text will be reviewed.

[2020-05-13 15:13] ogKamy opened #2947 "[FancyZones] Hotkeys for custom layouts"
# Community Feedback Needed

Hey there!

We'd like to get your feedback on re-implementing the Hotkey feature back into FancyZones. Please fill out [this feedback form](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_pRopwr7jdKo2d3Zl9VMBRUQUxETTQ4NVBGOEY2SDNITVpJWE5RUlU5NS4u) if you'd like to help make an impact.

# Summary of the new feature/enhancement

Changing between

[2020-05-13 15:14] SFNMutt commented on #2447
sure, I just updated to .17 & still have the problem.  it's w/ every photo I take w/ my galaxy S10+.

![2020-05-08 12 26 27](https://user-images.githubusercontent.com/9196379/81831053-e3116100-950a-11ea-8798-8749dcf842bb.jpg)

[2020-05-13 15:31] htcfreek commented on #2908
@crutkas
Should we do the changes for 0.18 or for a later release?

[2020-05-13 15:42] jyuwono commented on #2940
duplicate of #2456

[2020-05-13 15:42] #2940 closed

[2020-05-13 16:07] htcfreek commented on #2885
What about this:
[code]
or this
[code]

[2020-05-13 16:10] crutkas commented on #2935
thanks for reporting, this is issue #243, we'll fix in 0.18 which will be out shortly.

[2020-05-13 16:10] #2935 closed

[2020-05-13 16:47] enricogior commented on #2885
I guess @crutkas will have the final work on it ;)

But don't put a full-stop inside parenthesis.

[2020-05-13 16:50] pheuter opened #2954 "Shortcut for toggling/cycling between windows of same app"
# Summary of the new feature/enhancement

Would be absolutely wonderful to introduce something similar to the Mac <kbd>Cmd ⌘</kbd> + <kbd>`</kbd> shortcut, which would cycle between different windows belonging to the same app (think multiple Visual Studio windows or multiple Edge windows) without having to cycle through all other apps.

[2020-05-13 16:51] htcfreek commented on #2885
It's the difference between german and english version of settings. The second time where I made this mistake. 🙈

[2020-05-13 16:52] crutkas commented on #2765
this should be done now.

[2020-05-13 16:52] #2765 closed

[2020-05-13 16:54] #2454 closed

[2020-05-13 17:01] Spyromaniac31 commented on #2954
Perhaps Alt + '. How do you format keyboard keys the way you did?

[2020-05-13 17:13] #2661 closed

[2020-05-13 17:18] crutkas commented on #2908
this will not be in for 0.18.  we're on final fixes and adjustments for that.

[2020-05-13 17:22] leejoramo-d51 commented on #2954
This!

The lack of cmd+` style window was always a big pain point for me. I did create an AutoHotKey script to accomplish this, but I know there are some edge cases that it doesn't cover. (I will try to make note of when this doesn't work and report back here.)

[code]

[2020-05-13 17:29] crutkas commented on #2885
it is unclear to me quickly reading this what is being proposed.  I understand what @enricogior initial issue but not what / where this additional text will be

[2020-05-13 17:35] htcfreek commented on #2908
Okay. But I think we should not wait a long time to implement it.

[2020-05-13 17:39] htcfreek commented on #2699
@enricogior
Should we add this to v1.0 step?

[2020-05-13 17:40] htcfreek commented on #2535
@enricogior
Should we add this to v1.0 step?

[2020-05-13 17:48] htcfreek commented on #2885
The update don't get automatically downloaded when the user is connected over an metered connection.
This is something the user should known about. Because of not have to be afraid on having extra costs and to not being confused if it not works on metered connections.

[2020-05-13 18:00] htcfreek commented on #2885
@enricogior
If I understand, the reason why not auto downloading in "user mode" is that we can't install the msi. Rigth?

Do we have to handle the following case to not get in trouble:
1. User configure PT to not always run as admin.
2. User then restart settings as admin and enable the "auto download" setting.
3. User get's the notification and clicks "On next start'
4. PT were restarted as user

[2020-05-13 18:16] mtk opened #2957 "Virtual Desktop Support/Interaction"
i am not sure if this is a feature request or a documentation bug.  my first thought upon discovering FancyZones was how does it interact with a virtual desktop?  my second question was can it be used to record the applications and their grid positions so that the apps can be started at login and their grid positions restored (along with their virtual desktop locations)?

[2020-05-13 18:27] htcfreek commented on #2766
@crutkas
Do we need a link to notice.md in the Read Me? (Maybe next to the Release Notes link.)

[2020-05-13 19:20] alekhyareddy28 commented on #2887
The reason why this was happening is that launcher continues to run in the background while we try to uninstall PowerToys. If my understanding is correct, the above PR fixed it is because Launcher was no longer running in that MSI because of the missing dlls.

An easy way to repro this even without launcher is to open settings v2 and try to uninstall powerToys. It shows the same dialogue that some

[2020-05-13 20:17] #2909 closed

[2020-05-13 20:23] crutkas commented on #2887
yes, we should add this too

[2020-05-13 20:24] crutkas commented on #2887
and windowwalker

[2020-05-13 20:30] jyuwono opened #2964 "FancyZones colour picker doesn't show proper default"
FancyZones colour picker doesn't set to the proper default. The default color on the first and third colour picker should follow what is said on the default value. For example, on the picture below, default value should be #0078D7 but the default shown is #F5FCFF
![image](https://user-images.githubusercontent.com/8364748/81861757-9c793200-951d-11ea-8d21-a18b28c39027.png)

[2020-05-13 20:33] somil55 opened #2965 "Toggle option visible for Powertoys Run for settings v1"
Toggle option is visible even though Powertoys Run is not available.

![Capture3](https://user-images.githubusercontent.com/10995909/81862131-16a9b680-951e-11ea-8f49-7890b321dac5.PNG)

Steps to repro for users running windows with May 2019 update :
1. Go to `runner/util/settings_window.cpp`
2. In the `run_settings_window` function comment the following code :
[code]
and replace with `executable_pa

[2020-05-13 20:45] saahmedm commented on #2965
@crutkas / @enricogior / what's the intended behavior here?

[2020-05-13 21:00] crutkas commented on #2885
how do we detect metered connections?  OS Setting?

[2020-05-13 21:04] mrlacey commented on #1839
Additionally, I'd also like:

- The ability to have different tray icons on different monitors
- The ability to have different tray icons in different virtual desktops

[2020-05-13 21:13] enricogior commented on #2887
@alekhyareddy28
great finding, thanks!

[2020-05-13 21:17] crutkas commented on #2885
1. verbosity is a double edge sword.
2. do we have an issue directly discussing the text change?

[2020-05-13 21:20] niels9001 commented on #2885
https://docs.microsoft.com/en-us/windows/communitytoolkit/helpers/networkhelper

There's a IsNetworkOnAMeteredConnection bool there. Not sure how the auto update backgroundtask works atm, is it WinRT?

I wonder if Windows already has some sort of feature that disables any background downloading when roaming or on a metered connection?

[2020-05-13 21:22] enricogior commented on #2885
@crutkas

Yes, there is an API to check that.

[2020-05-13 21:26] htcfreek commented on #2885
Not understanding what you mean.

I creating a new issue for that and reference it in the PR.

[2020-05-13 21:28] enricogior commented on #2885
He meant that is not always a good thing to be too verbose.

[2020-05-13 21:30] enricogior commented on #2965
The current implementation doesn't support to hide the toggle, let's see if we can fix it.

[2020-05-13 21:31] htcfreek opened #2967 "[Settings] Change Auto-download setting title"
This update is for discussing the changes made in PR #2966. This PR is based on an proposal in issue #2885.

The updates don't get automatically downloaded when the user is connected over a metered connection. This is something the user should known about. Because of not have to be afraid on having extra costs and to not being confused if it not work on metered connections.

Old title: `Download u

[2020-05-13 21:35] enricogior commented on #2535
Done. Thanks.

[2020-05-13 21:37] enricogior commented on #2699
Done. Thanks.

[2020-05-13 21:37] htcfreek commented on #2967
@enricogior commented in the PR:

[2020-05-13 21:40] htcfreek commented on #2967
@enricogior
Good Point. I had used the text in the Windows 10 update settings page.

[2020-05-13 21:46] htcfreek commented on #2535
@enricogior
Do we need some labels to ad. I hav not the permissions to do that.

[2020-05-13 22:18] arjunbalgovind commented on #2887
@enricogior I haven't been able to repro this exact scenario where it shows other random applications. For me it only shows PowerToys settings. Did you face this while installing or while uninstalling?

[2020-05-13 22:23] clintmayer commented on #2139
Version 0.17.0 seems to have fixed this issue, but I don't know if it was a bug fix, or simply doing an install that solved it. I have noticed that the settings have become unstable and often locks up the app when trying to adjust something. Also, PowerToys needs to be launched after Windows Terminal, not before, or FancyZones won't work.

[2020-05-13 22:23] htcfreek commented on #2701
@crutkas Can you please add the lable and a milestone.

[2020-05-13 22:51] crutkas commented on #2887
I hit this installing.

[2020-05-13 23:36] alekhyareddy28 commented on #2887
I see random applications as well, but only while uninstalling. This doesn't show up for me if all PTs are exited properly.

[2020-05-13 23:46] jyuwono opened #2970 "[Launcher] Add a loading screen during cold start"
When launcher is still loading for the first time, user doesn't have any indication when it becomes available.

[2020-05-14 00:07] mdkiefer commented on #77
I would also like to see this open-sourced. I'd like to contribute to fix a bug when I have mixed-resolution displays.

[2020-05-14 00:20] saahmedm commented on #2552
Duplicate issue. #2869 dealt with this.

[2020-05-14 00:20] #2552 closed

[2020-05-14 00:22] saahmedm commented on #2549
this is tracked in #2168 and #2170. closing for now

[2020-05-14 00:22] #2549 closed

[2020-05-14 00:25] saahmedm commented on #2167
@crutkas what were we looking for here?

below is how it currently looks
![image](https://user-images.githubusercontent.com/58789616/81879144-c68f1c00-953e-11ea-8c96-563db872f535.png)